[2019-08-07 14:54] stelsemeyer commented on #27781
@jorisvandenbossche: Thanks for investigating!
I checked the SparseArray, a naive solution would be to use `self.fill_value` if `fill_value` is `None` in `_take_with_fill`, here: https://github.com/pandas-dev/pandas/blob/d1accd032b648c9affd6dce1f81feb9c99422483/pandas/core/arrays/sparse.py#L1173-L1174

[2019-08-07 14:56] blitzd commented on #27575
Pandas 0.25.0 is not useable with tools like kubeless as debian base images for Docker don't appear to contain the proper libs for _lzma any more. You'd need to build out custom images.

Pandas 0.24.2 works fine.

https://github.com/kubeless/runtimes/issues/44

[2019-08-07 15:48] janosh commented on #16452
How about making the default float format in `df.to_csv()` user-configurable in `pd.options`? There already seems to be a [`display.float_format`](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html) option.

[2019-08-07 15:48] Dr-Irv opened #27802 "DOC: Series.str.slice() should show that negative values for start are allowed"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It is not apparent from the documentation at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.slice.html that you can specify negative values for the `start` and `stop` arguments.  So I think this should be stated, as well as used in some examples (as shown above).

#### Expected Out

[2019-08-07 16:35] pilkibun commented on #27526
That PR was about #20405 not validating inputs. This issue is about #20405 deleting functionality so different bugs.

[2019-08-07 17:04] russellpierce commented on #10772
Is there a reasonably clean way to get the desired code within the context of Pandas as it is today?

[2019-08-07 17:36] jbrockmendel commented on #27785
@jorisvandenbossche closed by #27786?

[2019-08-07 17:51] jorisvandenbossche commented on #27785
Yes, strange that it was not closed automatically. Apparently if you do "closes #xxxx" the issue reference needs to be an actual # + number, and not a full url ...

[2019-08-07 17:51] #27785 closed

[2019-08-07 17:58] bthayer2365 opened #27805 "DataFrame and Series iterators have many inconsistencies"
There seem to be many inconsistencies between the iterators of `Series` and `DataFrame`. I'll lay them out here. To address these, we'll probably need to open up several other issues. And before anyone reading this gets squeamish, **I'd like to offer my help in fixing these problems.**

`Series.items()` and `DataFrame.items()` don't have similar behavior and this is confusing, especially since the

[2019-08-07 18:19] TomAugspurger commented on #27575
I suspect we would accept a PR that did the lzma import in a try / except ImportError block.

When the module is not present, we would emit a `UserWarning` that their Python was not compiled properly and that `lzma` compression is not available. And if they use `lzma` compression we would raise at runtime.

Is anyone interested in submitting a PR?

[2019-08-07 18:21] TomAugspurger commented on #27805
I would recommend writing small, focused issues with examples demonstrating the problem. It's hard to follow otherwise.

[2019-08-07 18:24] bthayer2365 commented on #27805
Will do. I was planning on doing that after I get off work, just wanted to
get it all out while it was in my head :). I'll link them individually here
one I make them.

On Wed, Aug 7, 2019, 1:22 PM Tom Augspurger <notifications@github.com>
wrote:

[2019-08-07 19:00] jschendel commented on #27795
This is a dupe of #19920 and was fixed as part of 0.23.0.

[2019-08-07 19:00] #27795 closed

[2019-08-07 20:55] TomAugspurger commented on #19492
I think this can be closed when all `Block` subclasses can remove their init and just reuse `Block.__init__`.

[2019-08-07 21:09] #26838 closed

[2019-08-07 21:15] TomAugspurger commented on #27526
Is the fix to change https://github.com/pandas-dev/pandas/blob/c0ff67a22df9c18da1172766e313732ed2ab6c30/pandas/core/groupby/groupby.py#L1900-L1911 to be called once per value in `q`, when a list of quintiles is provide? Then concat the results together with `concat(results, axis=1, keys=q)`?

[2019-08-07 21:17] TomAugspurger commented on #16452
Typically we don't rely on options that change the actual output of a
computation.

On Wed, Aug 7, 2019 at 10:48 AM Janosh Riebesell <notifications@github.com>
wrote:

[2019-08-07 21:27] TomAugspurger commented on #27800
Thanks for the report. Are you interested in debugging to see where things go wrong?

[2019-08-08 01:53] daijpeng opened #27812 "BUG:No xlabel for twinx axes in subploted figures"
#### Code Sample

[code]
#### Problem description

When using GridSpec to set the layout, xlabels are not displayed if twinx is used
![Figure_1](https://user-images.githubusercontent.com/53884734/62669423-2100b800-b9c2-11e9-94c2-b62449c955c9.png)

If the following code is commented out：
“”“
ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis

color = 'tab:blue'
ax2.set_ylabe

[2019-08-08 01:54] lgmsantos opened #27813 "BUG: Series.rename raises error on values accepted by Series constructor."
#### Sample

[code]

The error stack trace is the following:

[code]

#### Description

Series.rename handle anything that isn't a scalar or list-like as a mapping.

#### Proposed change

Change the following code (from Series.rename):
[code]
to
[code]

so anything that isn't a dict or a callable will be treated the same way as a scalar or list-like.

#### Output of ``pd.show_versions()``

<detail

[2019-08-08 03:09] arthurire commented on #27686
@TomAugspurger [https://github.com/pandas-dev/pandas/issues/27796](Issue 27796). Same issue. This also happens when I use seaborn to plot a heatmap.

[2019-08-08 03:12] rileyschack commented on #27749
You can not preserve dtypes with a csv. This isn’t a bug with pandas, but a limitation of using csvs. Try using parquet or hdf5 if you want dtypes preserved.

[2019-08-08 07:45] janosh commented on #16452
Saving a dataframe to CSV isn't so much a computation as rather a logging operation, I think.

[2019-08-08 07:47] Peque commented on #16452
Also, this issue is about changing the default behavior, so having a user-configurable option in Pandas would not really solve it.

@TomAugspurger I updated the issue description to make it more clear and to include some of the comments in the discussion.

[2019-08-08 08:30] michal-demecki-profil-software opened #27816 "DatetimeIndex shift freq ValueError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This code raise `ValueError: Inferred frequency None from passed values does not conform to passed frequency D` while date range from '2018-01-01' works perfectly fine.

#### Expected Output

Dataframe with properly shifted index.

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show

[2019-08-08 09:23] insysion opened #27817 "Conversion from Arrow to datetime not working since pandas 0.22.0"
#### Code Sample

[code]
#### Problem description

[code]

#### Expected Output

DataFrame with datetime data.

#### Output of ``pd.show_versions()``

Failing version:

<details>
INSTALLED VERSIONS
------------------
commit: None
python: 3.5.2.final.0
python-bits: 64
OS: Linux
OS-release: 4.15.0-55-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_ALL: None
LANG: en_GB.UTF-8
LOCALE: e

[2019-08-08 09:38] jorisvandenbossche commented on #27775
This is also related to https://github.com/pandas-dev/pandas/issues/27125 (the fact that we can create an Index with >1 dimensional array).

For a 0.25.1 bugfix release, I would propose to again start returning the 2D shape.

[2019-08-08 09:53] esc commented on #27539
@TomAugspurger probably, yes

[2019-08-08 09:55] jorisvandenbossche commented on #27775
I opened a PR for what I proposed above: https://github.com/pandas-dev/pandas/pull/27818

I think for pandas it is fine to output a "invalid" (2D) shape as long as we allow to construct "invalid" Index objects. We should fix that second issue though, for which there is https://github.com/pandas-dev/pandas/issues/27125

[2019-08-08 10:02] jorisvandenbossche commented on #27125
Related to the explicit passing of 2D data to the Index constructor, there is also right now another case where you end up with such "invalid 2D Index" object: with an indexing operation (see https://github.com/pandas-dev/pandas/issues/27775).

[code]

So for this case we also need to decide what to do. Related discussion here: https://github.com/pandas-dev/pandas/issues/27775#issuecomment-5188168

[2019-08-08 10:09] jorisvandenbossche commented on #23312
@TomAugspurger I think this was closed by https://github.com/pandas-dev/pandas/pull/23293 ?

[2019-08-08 10:09] jorisvandenbossche commented on #23312
on master

[code]

[2019-08-08 10:54] TomAugspurger commented on #23312
Looks like it.

[2019-08-08 10:54] #23312 closed

[2019-08-08 11:00] TomAugspurger commented on #27686
You're saying https://github.com/pandas-dev/pandas/issues/27796 is a duplicate of this?

[2019-08-08 11:33] jorisvandenbossche opened #27820 "DOC: clarify that read_parquet accepts a directory path"
The current documentation (both docstring https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_parquet.html and user guide https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#partitioning-parquet-files) don't make it very clear that the file path can also be a directory name that contains multiple (partitioned) parquet files (in addition to single file path).

[2019-08-08 11:39] jorisvandenbossche commented on #27117
@dclong Interested in doing a PR for this?

[2019-08-08 11:42] #27789 closed

[2019-08-08 11:54] jorisvandenbossche commented on #27749
@rileyschack is correct. CSV is in general not a good format if you want exact type preservation in roundtrips.

There seems to be something strange with the handling of `csv.QUOTE_NONNUMERIC` giving float vs int. If you want, you can open a specific issue about that. But going to close this one as this type preservation is not something we can guarantee in general with csv.

[2019-08-08 11:54] #27749 closed

[2019-08-08 11:59] jorisvandenbossche commented on #27756
@martindurant For compatibility with released pandas versions, that might be nice? (or at least for a while?)

[2019-08-08 12:10] jorisvandenbossche commented on #17102
I think this issue can be closed. AFAIK reading a directory already works, and the filtering is done (or not) by the engines (and a `filters` keyword can already be passed through)

[2019-08-08 12:10] #17102 closed

[2019-08-08 12:16] arthurire commented on #27686
I guess so.

[2019-08-08 13:38] #25672 closed

[2019-08-08 13:57] pankgeorg commented on #15276
I think the correct answer should be to use https://docs.sqlalchemy.org/en/13/dialects/postgresql.html#psycopg2-batch-mode-fast-execution, if you're trying to save a `pandas dataframe` to a `postgres`

[2019-08-08 14:17] martindurant commented on #27756
Done and released

https://github.com/conda-forge/s3fs-feedstock/pull/25
https://github.com/dask/s3fs/commit/990ceebb5ba73030819ddd09d5696506f0f865d7

[2019-08-08 14:49] jorisvandenbossche commented on #27756
Thanks a lot!

[2019-08-08 15:26] jbrockmendel commented on #27817
does arrow.Arrow subclass the stdlib datetime?

[2019-08-08 16:14] TomAugspurger commented on #27477
This is live now https://t.co/vTM73TFuzy?amp=1

[2019-08-08 16:14] #27477 closed

[2019-08-08 16:15] TomAugspurger commented on #27575
FYI, we'll probably want to do the 0.25.1 release in 1-2 weeks. It'd be good to include this.

[2019-08-08 16:23] TomAugspurger commented on #27686
Ok I'll close that one then.

On Thu, Aug 8, 2019 at 7:17 AM arthurire <notifications@github.com> wrote:

[2019-08-08 16:23] TomAugspurger commented on #27796
Duplicate of #27686

[2019-08-08 16:23] #27796 closed

[2019-08-08 16:32] TomAugspurger opened #27821 "Document security vulnerability reporting mechanism"
Part of the tidelift setup. In https://github.com/numpy/numpy/issues/13475 / https://github.com/numpy/numpy/pull/13485, NumPy decided to just link to https://tidelift.com/docs/lifting/security. That should suffice to us.

Only thing to decide is who all gets notified with these reports.

[2019-08-08 16:52] senjed commented on #16822
I am still facing the same issue. Why is this closed?

[2019-08-08 18:08] dclong commented on #27117
@jorisvandenbossche Yes, this sounds like a very simple fix. I am very willing to submit a PR. However, I've never contributed a PR to pandas before. I will start reading the guidelines. It is greatly appreciated if you have additional tips on how to contributing.

[2019-08-08 18:18] TomAugspurger opened #27824 "Document DataFrame._constructor_sliced-like property in the public API?"
Can we document something like `DataFrame._constructor_sliced` as the public way to say that slicing a column from a pandas.DataFrame will return a pandas.Series object?

Projects like Dask would like to work with any concrete DataFrame library (cudf being the second major dataframe implementation). Right now we resort to things like `type(dask.dataframe.DataFrame._meta.iloc[:, 0])` to get the con

[2019-08-08 18:19] TomAugspurger commented on #27824
cc @rjzamora @kkraus14

[2019-08-08 18:51] pilkibun commented on #27059
I've closed the PR for lack of interest. And I've suggested a new alternative: migrating `loc` to become a function https://github.com/pandas-dev/pandas/pull/27363#issuecomment-519642465.

[2019-08-08 19:20] TomAugspurger opened #27825 "Dispatch pd.is_na for scalar extension value"
Right now, I don't believe there's a way for an ExtensionDtype to declare a custom scalar NA value and have `pd.isna(scalar)` do the right thing.

<details>

[code]

</details>

[code]

That should be `True`. In https://github.com/pandas-dev/pandas/blob/master/pandas/core/dtypes/missing.py#L131-L132 we go straight to `lib missing.checknull(obj)` for scalar values.

[2019-08-08 19:28] TomAugspurger commented on #27477
May be worth collecting notes for next year's survey.

- Under "documentation resources" add the pandas cheat sheet as an option.

[2019-08-08 19:53] jbrockmendel commented on #27825
One workaround would be to add a `isna` method to NaSType that always returns True.

[2019-08-08 20:00] TomAugspurger commented on #27526
The output of `DataFrameGroupBy.quantile` is a DataFrame whose

* index is the group keys
* columns are the (numeric) columns

[code]

What's the expected output of `.quantile(List[float])`?

It's not the most useful, but I think the best option is a MultiIndex in the columns.

[code]

The other option is to have the `q`s in the index, but that breaks my mental model that the index should be the u

[2019-08-08 20:13] TomAugspurger commented on #27526
Oh, whoops, I missed the 0.24 output. We'll match that.

[2019-08-08 20:30] jorisvandenbossche commented on #27825
Or: don't use such a custom NaS, but a default NA provided by pandas ?

[2019-08-08 20:33] TomAugspurger commented on #27825
We need to have a discussion about whether we want more or fewer NAs. If we
want one, then yes that would be an option.

On Thu, Aug 8, 2019 at 3:31 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-08-08 20:34] jorisvandenbossche commented on #27824
That is already the case? -> https://pandas.pydata.org/pandas-docs/stable/development/extending.html#override-constructor-properties
(although mentioned specifically in the context of subclasses, not "duck frames")

For me, the main question for that property is if it is required to be a type (class object), or only a "constructor".
Because I was actually looking into changing this for GeoPandas:

[2019-08-08 20:36] jorisvandenbossche commented on #27825
I have been pondering over a roadmap discussion post about that the last week, so I suppose I should try to write that :)

[2019-08-08 20:37] TomAugspurger commented on #27825
It'd be good to do that before the meeting next week :)

[2019-08-08 20:43] #27585 closed

[2019-08-08 20:47] jorisvandenbossche commented on #27117
The most difficult part is already OK: picking a good issue to tackle :)
And for the rest: if you have any questions about the workflow or the guide, feel free to ask (here or at the gitter channel https://gitter.im/pydata/pandas)

[2019-08-08 21:11] dragoljub commented on #27526
Thanks for the fix. I just ran into this!

[2019-08-08 21:14] Liam3851 commented on #27816
Appears to be a manifestation of #26258. I can reproduce on 0.24.2 but not on 0.25 or master. Please try upgrading to 0.25 and see if it fixes your issue.

[2019-08-08 21:35] jbrockmendel opened #27829 "BUG: IntNA division can alter array inplace"
`IntegerArray._maybe_mask_result` starts with:

[code]

but in many cases, `mask` will be `self._mask`, so it gets altered inplace.  The intuitive solution is to add a check for `mask is self._mask` and make a copy, but that turns out to break 32 tests, so somewhere we're relying on this incorrect behavior.

cc @jreback

[2019-08-08 23:26] jreback commented on #27829
hmm this looks buggy then as we shouldn’t alter inplace (not sure if this shows up in the wild)

[2019-08-09 00:33] sergeny commented on #26927
We have found a much bigger problem:

```pd.Series(['1', '2', '3', '4']).mean()``` returns 308.5 instead of 2.5 (pandas 0.23.4).

[2019-08-09 02:55] jbrockmendel opened #27831 "EA: DatetimelikeArray.view should always return EA"
ATM DatetimeArray/TimedeltaArray/PeriodArray `view` returns ndarray.  xref #27633.

[2019-08-09 03:36] mroeschke commented on #27817
Doesn't appear so:

https://github.com/crsmithdev/arrow/blob/905850a1bd3a6c3be6ba5f0e097a09bafc7251b3/arrow/arrow.py#L21

[2019-08-09 05:08] scari commented on #25336
@theoseo Do you still interested in this issue?

[2019-08-09 07:35] Naich opened #27835 "Performance regression after 0.24 on DataFrame.add/sub"
#### Code Sample, a copy-pastable example if possible

[code]
[code]
[code]
#### Problem description

DataFrame.add/sub is a lot slower after pandas upgrade.
I also tested other versions, 0.23.4 is the last version that works normally.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.final.0
python-bits      :

[2019-08-09 07:36] #27775 closed

[2019-08-09 07:53] jorisvandenbossche opened #27837 "API: what should a 2D indexing operation into a 1D Index do? (eg idx[:, None])"
Follow-up on https://github.com/pandas-dev/pandas/issues/27775 and https://github.com/pandas-dev/pandas/pull/27818.

Short recap of what those issues were about:

Currently, indexing into an Index with a 2D (or multiple D) indexer results in an "invalid" Index with an underlying ndarray:

[code]
So from the repr it *looks* like a proper index, but the underlying values of an Index should always be

[2019-08-09 08:15] jorisvandenbossche commented on #27837
Now on the actual issue: I suppose the current behaviour has historical reasons (certainly from when Series/Index where ndarray subclasses): when doing a 2D operation on a 1D object, we returned a 2D array. This provides some array duck abilities (it behaves as an array-like for code that expects a numpy-like array, as matplotlib did).

For example, Series still does this (for plain numpy types):

[2019-08-09 08:17] jorisvandenbossche commented on #27837
cc @tacaswell @shoyer

[2019-08-09 08:59] obarnstedt opened #27839 "BUG/ERR: pd.DataFrame.to_hdf saving yields error message"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Hi,

I've been trying to debug the above error message for hours now, and it seems I'm getting stuck here.
Whatever kind of data frame I'm producing (real data or simply just a few numbers), every time I try to save this to HDF5 (no matter the path or naming), I am receiving the above error message, whereas sa

[2019-08-09 10:40] toobaz opened #27841 "ValueError when casting 1d data to MultiIndex column with incomplete labels and all data is object (wrong _is_consolidated output?)"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Replace ``datum = '1'`` with ``datum = 1`` and everything works.

The problem might be related to the fact that

[code]

This is a regression, since it used to work in code of mine, but unfortunately I'm not sure which version this was working with.

Vaguely related to #27286 .

#### Expected Output

None, the

[2019-08-09 10:54] obarnstedt commented on #27839
So after uninstalling pandas, and re-installing from GitHub, pip, or conda, and re-doing the entire virtual environment, the latest installation from conda-forge (0.25.0 #py37he350917_0) seems to have done the trick.
(In the course, I also pip-installed cython and importlib, and conda-installed python-dateutil, pytz, setuptools, numexpr, bottleneck, pytables, matplotlib, xlrd before the final cond

[2019-08-09 10:54] #27839 closed

[2019-08-09 11:09] yuylyp opened #27842 "invoking pivot_table results in unwanted row"
#### I have encounterd an issue with pd.pivot_table. this function adds unexpected row and I have no idea to remove it.
below is the code:
[code]
### the result is:

  | len |　 | mean|　
-- | -- |-- |-- |--
color | black | white | black | white
animal |   |   |   |  
cat | 1 | 1 | 20 | 28
wolf | 1 | 0 | 24 | 0

#### Problem description
pivot_table adds unwanted row below the MultiIndex. this row st

[2019-08-09 11:13] yuylyp commented on #27842
sorry, cause my english isn't very well, I have edit this issue for many times to correct some unwanted mistake.
Please ignore the history editions.

[2019-08-09 12:55] #27802 closed

[2019-08-09 13:32] obarnstedt commented on #27839
I just encountered the problem again without changing the installation, after restarting the kernel and receiving the message that open H5 files were being closed. After trying several things, the problem seems to lie in an open H5 connection to our Samba fileserver (to/from which I previously saved/read H5 files), which is somehow blocking further H5 read/write. The solution was simply to disconn

[2019-08-09 13:33] TomAugspurger commented on #27842
@yuylyp I'm not sure of `to_excel` has an option to not write the index name.

The easiest workaround is to set the name to None before writing

[code]

[2019-08-09 13:33] #27842 closed

[2019-08-09 13:35] TomAugspurger commented on #27841
Think this is fixable in time for 0.25.1 (maybe a week or two away)?

On Fri, Aug 9, 2019 at 5:41 AM Pietro Battiston <notifications@github.com>
wrote:

[2019-08-09 13:38] TomAugspurger commented on #27837
+1 for deprecate and raise.

[2019-08-09 13:39] yuylyp commented on #27842
@TomAugspurger
thanks for your suggestion
however, I have tried this solution. And the result is the same.
I thought that it is to rude to modify the status while you haven't tried all the steps I mentioned above.
Could you please to open it again?

[2019-08-09 13:43] datapythonista commented on #26831
Just got the feedback that in the tutorials I'm giving at conferences I should include a tips and tricks section. Also, I think @justmarkham is having a lot of success with this way of teaching pandas. I don't have an exact proposal on how we could include those, but I think it's worth considering. One idea could be to have some info boxes with a "Did you know...?" tip during the tutorial.

[2019-08-09 13:45] yuylyp commented on #27842
@TomAugspurger
in fact, I've tried all the possible methods and params which seems to be related to this issue.
And finally this issue is still alive.
This is why I open this issue.
So could you please reopen this issue, maybe others have solution?
or somebody will treat this as an BUG or ISSUE?

[2019-08-09 13:54] TomAugspurger commented on #27835
Looks like a duplicate of https://github.com/pandas-dev/pandas/issues/24990.

We're getting close to fixing this. I think it'll happen for 1.0

[2019-08-09 13:54] #27835 closed

[2019-08-09 13:55] TomAugspurger commented on #26061
Closing in favor of #24990

[2019-08-09 13:55] #26061 closed

[2019-08-09 13:56] TomAugspurger commented on #24990
@jbrockmendel 2D EAs should fix this regression, right?

[2019-08-09 14:14] TomAugspurger opened #27843 "CI: GBQ tests failing on master"
https://travis-ci.org/pandas-dev/pandas/jobs/569827581

[code]

https://travis-ci.org/pandas-dev/pandas/jobs/569818532

[code]

[2019-08-09 14:17] TomAugspurger commented on #27842
Sorry, I didn't realize it still wrote a blank line. That's been reported in https://github.com/pandas-dev/pandas/issues/27772

[2019-08-09 14:18] #27821 closed

[2019-08-09 14:22] gamis commented on #26215
Confirmed this happening for me too.

[2019-08-09 14:27] michal-demecki-profil-software commented on #27816
Thanks, works properly on 0.25.0

[2019-08-09 14:27] #27816 closed

[2019-08-09 14:31] jbrockmendel commented on #24990
yes

[2019-08-09 14:32] toobaz commented on #27841
Hard to say... I bet the fix is not big but finding it might not be trivial. Bisecting might help pinpoint what caused this, but I don't think I'll be able in the next 1-2 weeks. So my best guess is "no"...

[2019-08-09 14:39] TomAugspurger commented on #24990
Think it's doable for the 1.0 release (roughly, September)?

On Fri, Aug 9, 2019 at 9:31 AM jbrockmendel <notifications@github.com>
wrote:

[2019-08-09 14:44] yuylyp commented on #27772
@stefanopassador
i encountered the same question, it confused me for some days.
have you got any idea?

[2019-08-09 14:44] yuylyp commented on #27842
thanks for providing #27772, those are the same question totally.
emmmmm, it seems to be an issue not resolved in 0.25
maybe we should dig into source code to check the behavior of to_excel

[2019-08-09 14:48] TomAugspurger commented on #27843
Looks like it may have been a temporary issue.

[2019-08-09 14:48] #27843 closed

[2019-08-09 14:50] yuylyp commented on #27772
I have tried to_csv just now, and the blank row disappear by setting index name to None.
while I turned to to_excel, I encountered it again.
It seems to be an unwanted behavior in to_excel.
In other words, it should be an BUG.

[2019-08-09 14:52] yuylyp commented on #27842
@TomAugspurger
I apologize for what I said above since this issue has confused my friends and me for days.
Have a good day!

[2019-08-09 14:52] jbrockmendel commented on #24990
At the current pace, no, I don't expect 2D EA to be in master by the end of September.  If everyone gets on board, that could change quickly.

Working on plan B to get a perf fix in more promptly

[2019-08-09 15:15] stefanopassador commented on #27772
@yuylyp I haven't had any luck about it.

[2019-08-09 16:09] yuylyp commented on #27772
I might got the reason, I found some code in /pandas/io/formats/excel.py as below.
However I don't know how to fix this issue
[code]

[2019-08-09 17:44] otro-mas1 commented on #27776
Only need add .values like in #10440

`df.loc[:,idx[:,'B']] = df.loc[:,idx[:,'A']].values
print(df)`

                                        1     2
                                   A  B  A  B2008-01-01 23:00:00  0  0  0  0
2008-01-01 23:01:00  0  0  0  0
`

[2019-08-09 18:14] TomAugspurger commented on #27722
I think Flight is the recommendation. I'm sure they would appreciate documentation on how that can be done, if you're interested in writing it up. Some of it might be appropriate for inclusion in the pandas docs too.

[2019-08-09 18:14] #27722 closed

[2019-08-09 18:15] TomAugspurger commented on #27722
Oh, and I'm not sure what specifically we should do about the error message. If we had a docs section on using Flight, it could be updated. Need to write the docs first though.

[2019-08-09 18:17] TomAugspurger commented on #27778
I think my preference is to keep those as two distinct operations.

On Tue, Aug 6, 2019 at 7:51 AM Kaiqi Dong <notifications@github.com> wrote:

[2019-08-09 18:17] TomAugspurger commented on #27779
@MarcoGorelli are you interested in submitting a pull request?

[2019-08-09 18:32] charlesdong1991 commented on #27778
ok, thanks for your answers, make sense to me and I will close the issue then @TomAugspurger @jorisvandenbossche thanks!

[2019-08-09 18:32] #27778 closed

[2019-08-09 18:45] MarcoGorelli commented on #27779
If this would be of interest to you, then yes, sure! I'll get to work

On Fri, 9 Aug 2019, 19:18 Tom Augspurger, <notifications@github.com> wrote:

[2019-08-09 19:44] jbrockmendel commented on #27837
I think there is special handling for this in DatetimelikeArrayMixin getitem.

[2019-08-09 19:54] TomAugspurger commented on #27528
I thin this was fixed in https://github.com/dask/s3fs/pull/202

Can someone test that out and let us know if not? We'll reopen.

[2019-08-09 19:54] #27528 closed

[2019-08-09 19:59] TomAugspurger commented on #26974
Yes.

[2019-08-09 20:49] shoyer commented on #27837
Yes, this should definitely raise an error in the long term.

[2019-08-10 00:27] xinbinhuang opened #27848 "Series.str.extract not return pandas.Index object"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am dealing with files extracted from our Hive warehouse, and most of the time the column names follow this format `<table_name>.<col-name>`. To have a better workflow on downstream analysis, I would like to only keep the `<col_name>` part. So I use something like below this to replace the column names.
[code]

[2019-08-10 02:23] brandonsimpson21 opened #27850 "read_excel throws XLRD error when used in a for loop but not when used outside of one."
I have a folder full of excel files if I go

for i in range(0,len(os.listdir())):
    x=pd.read_excel(os.listdir()[i])

I get an xlrd error that reads "Unsupported format, or corrupt file: Expected BOF record; found b'\x00\x00\x00\x01Bud1'"

but if I go

x=pd.read_excel(os.listdir()[0])

I don't get an error

[2019-08-10 06:07] deto opened #27853 "Error dividing Dataframe by Series but only when size is large enough"
#### Code Sample

[code]
#### Problem description

Should be able to divide the dataframe by the series and align on the axis.

This works for smaller dataframes but breaks suddenly for larger ones.  Doesn't happen for me on 0.24.0 but occurs on 0.25.0

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
p

[2019-08-10 08:25] DarkLord1111 opened #27854 "Pandas 0.25.0 - “ ImportError: cannot import name 'StringIO' ” - [removed pandas.compat.]"
[code]
#### Problem description
Import error, probably because in version .25 pandas.compat. has been removed
#### Output
C:\PycharmProjects\Demo\venv\Scripts\python.exe C:/PycharmProjects/Demo/stock.py
Traceback (most recent call last):
  File "C:/PycharmProjects/Demo/stock.py", line 3, in <module>
    import pandas_datareader as wb
  File "C:\PycharmProjects\Demo\venv\lib\site-packages\pandas_da

[2019-08-10 09:52] lucaionescu commented on #27820
Hi, I'd like to fix on this one.

[2019-08-10 11:09] jreback commented on #27854
this board is for pandas issues
pls post to https://github.com/pydata/pandas-datareader

though i think this is fixed if you install the latest version

[2019-08-10 11:09] #27854 closed

[2019-08-10 14:10] charlesdong1991 commented on #21609
![Screen Shot 2019-08-10 at 4 09 44 PM](https://user-images.githubusercontent.com/9269816/62822842-51df1980-bb89-11e9-9c19-e94114719087.png)

i somehow could not replicate this issue, and seems running code above could correctly do scattering with only a single plot. i think this issue can be closed @TomAugspurger @toobaz

[2019-08-10 14:21] charlesdong1991 commented on #22859
![Screen Shot 2019-08-10 at 4 19 40 PM](https://user-images.githubusercontent.com/9269816/62822931-c49cc480-bb8a-11e9-8596-37f00cba1eca.png)

this issue might also be solved already, tried in pandas 0.25 @mroeschke @TomAugspurger

[2019-08-10 14:31] toobaz commented on #21609
Yes, I think this is fixed. Thanks!

[2019-08-10 14:31] #21609 closed

[2019-08-10 18:06] jorisvandenbossche commented on #27841
It's in any case a regression in 0.25, as it is working in 0.24

[2019-08-10 18:08] jorisvandenbossche commented on #27841
(and I am not sure it is related to the `_is_consolidated` (although it looks wrong), as that gives the same output on the version where it is working)

[2019-08-10 19:20] mroeschke commented on #22859
Yes I think https://github.com/pandas-dev/pandas/pull/27367 closed this.

[2019-08-10 19:20] #22859 closed

[2019-08-10 19:41] jorisvandenbossche commented on #27841
It's caused by https://github.com/pandas-dev/pandas/pull/27351, by removing a part that seemed no longer used: https://github.com/pandas-dev/pandas/pull/27351/files#diff-7489e290a23303c4db4f803011ecaf8eL333. This check ensured that `take_split_path = True` for this specific MultiIndex case, while in master the "split path" was no longer taken. I suppose the other path could be fixed to properly ha

[2019-08-10 19:43] jorisvandenbossche commented on #27841
Opened PR here: https://github.com/pandas-dev/pandas/pull/27855

(IMO another example of why we should not merge clean-up PRs after the RC, although I don't know if you would have tested it of course :))

[2019-08-10 22:19] alimcmaster1 commented on #27850
Hi - could you please give an example which we could use to reproduce the issues? Perhaps a link to the example csv?

[2019-08-11 07:36] sameshl commented on #26637
@TomAugspurger I would love to take this up. Could you explain what I would need to do exactly? Because it the [docs]( http://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.io.json.build_table_schema.html#pandas.io.json.build_table_schema) it seems clear that the `index` parameter is a bool right?

[2019-08-11 10:59] charlesdong1991 opened #27856 "CI fails?"
Looks like Azure pipeline has failed for a while. Is it caused by version incompatibility?

[2019-08-11 11:22] #27856 closed

[2019-08-11 11:26] yavitzour commented on #26368
Confirmed that the problem persists in pandas 0.25.0

[2019-08-11 13:02] TomAugspurger commented on #26637
Yeah. I think the confusion was about pandas_version. That’s supposed to represent the version of the schema. When we change the schemes, we’ll bump the version.

[2019-08-11 14:48] bhishanpdl opened #27857 "Pandas groupby transform count gives empty dataframe"
I was surprised by the behaviour of `groupby transform count`.

Versions:
[code]

Code:
[code]

Results:
[code]

Question:
Is this the desired behaviour, I was expecting all values to be 1 ?

Also Another Question
====================
Code:
[code]

when I uncomment the line with `df['yy']` it will throw an error. Is that the desired behavior?

[code]

[2019-08-11 19:29] davidhalter commented on #26899
This was fixed in https://github.com/davidhalter/jedi/issues/1299.

Though, I would like to point out that this was never a bug, it was a safety feature that should make it less likely that you guys shoot yourself in the foot. Now it's gone and I think that's fine, but it was actually work to "protect" you guys.

Next time, please participate in the discussion in Jedi, I wasn't aware for a long ti

[2019-08-11 19:38] sameshl commented on #26906
@jbrockmendel I would love to work on this. Could you elaborate on what needs to be done here?

[2019-08-11 21:50] jbrockmendel commented on #26906
@sameshl great!  Take a look at what we did in #26839 for Timedelta, and then we need to do the same thing for Timestamp, NaT, TimedeltaIndex, and DatetimeIndex.

[2019-08-11 22:48] bthayer2365 opened #27859 "DOC: Documentation says Series.items(), Series.iteritems() are equivalent to DataFrame.items(), but they're not."
Documentation says `Series.items()`, `Series.iteritems()` are equivalent to `DataFrame.items()` for DataFrames, but they're not. Instead, they are equivalent to `DataFrame.iterrows()`

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.items.html

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.iteritems.html

https://pandas.pydata.org/pandas-docs/sta

[2019-08-11 22:51] bthayer2365 opened #27860 "DOC: Use of "Yields" vs "Returns" for documentation of DataFrame.items() and DataFrame.iteritems()"
`DataFrame.items()` says it "Yields" the label and content of the columns whereas `DataFrame.iteritems()` says it "Returns" the label and content of the columns

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.items.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iteritems.html

[2019-08-11 23:05] bthayer2365 opened #27861 "DOC: Standardize use of "Iterate" and "Iterator" in the documentation for DataFrame and Series iterators"
Documentation for `DataFrame.items()` and `DataFrame.iteritems()` say
"Iterator over..."
while other iterators for `DataFrame` and `Series` say
"Iterate over..."

All of these methods return an iterator, so I think it would make sense to have them all say "Iterator over...", although the documentation for 4/6 of the iteration methods already use "Iterate over...".

I'm not sure if there are other

[2019-08-11 23:14] bthayer2365 opened #27862 "DOC: See also for DataFrame.iterrows() should say Dataframe.x() instead of just .x()"
See also for DataFrame.iterrows() currently has a "See also" section that lists
[code]
while DataFrame.itertuples() shows
[code]
We should change DataFrame.iterrows() to be like DataFrame.itertuples()

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.itertuples.html

[2019-08-11 23:15] #27805 closed

[2019-08-11 23:57] TomAugspurger commented on #27860
Yields is the correct one.

[2019-08-12 01:51] meganson commented on #26314
I have same issue. I use 9.9 BG memory data.

df.pivot_table(index='uno', columns=['programid'], values='avg_time')

ValueError: Unstacked DataFrame is too big, causing int32 overflow

[2019-08-12 04:40] tbarket opened #27863 "DataFrame Groupby Named Aggregation Using Lambda Results in a KeyError, Dict-of-Dicts Approach Works Fine"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

A lambda function that previously worked fine (using a Dict-of-Dict) no longer works with Named Aggregation.  Using a function with Named Aggregation works fine but replacing the function with an identical lambda does not work with Named Aggregation.  Is this expected behavior or it is a bug?

#### Expected Out

[2019-08-12 05:56] Janhonho opened #27864 "IntervalIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-08-12 05:56] #27864 closed

[2019-08-12 06:19] akdor1154 commented on #19995
@jreback the linked issue is closed as fixed but `shift` still has this behaviour (only `first` and `last` were fixed), can this be reopened?

[2019-08-12 06:54] jorisvandenbossche commented on #27859
I think this is more a semantic discussion about what "equivalent" means here, but feel free to propose a better description of the relation between `Series.items()` and `DataFrame.items()`

[2019-08-12 06:57] jorisvandenbossche commented on #27861
According to our docstring guidelines, the sentence should start with an infinite verb: https://dev.pandas.io/development/contributing_docstring.html#section-1-short-summary

So according to that it should be "Iterate over .." or "Return iterator over .." ?

[2019-08-12 06:58] jorisvandenbossche commented on #27862
Do you want to do a PR do change this?

[2019-08-12 07:00] jorisvandenbossche commented on #27860
There is some discussion about this here: https://github.com/pandas-dev/pandas/pull/26114#discussion_r302264466

cc @topper-123

[2019-08-12 07:14] Janhonho opened #27865 "Cannot use .ix in IntervaIndex('pandas._libs.interval.IntervalTree' object has no attribute 'get_value')"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description
bin_df =
col_0             0  nbin
(-inf, -2.911]    2   NaN
(-2.911, -2.878]  2   NaN
(-2.878, -2.805]  3   NaN
(-2.805, -2.782]  1   NaN
(-2.782, inf]     2   NaN

if I use bin_df.ix[0:2,0], I got an error like:

[code]

the version is 0.25.0
but it works well in 0.24.x

#### Expected Output

#### Output of `

[2019-08-12 07:16] jorisvandenbossche commented on #27863
@TomAugspurger I thought you did a follow-up PR (after the named aggregation PR) to deal with lambdas ?

[2019-08-12 07:17] Janhonho commented on #27865
In fact I've got another problem beside, I cannot use:
init_cut = init_cut.astype(pd.Interval)
I've got another error:
Traceback (most recent call last):
  File "D:\anaconda\lib\site-packages\IPython\core\interactiveshell.py", line 2961, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-14-614614131098>", line 1, in <module>
    init_cut.astype(pd.Interval)

[2019-08-12 07:19] jorisvandenbossche commented on #27863
From https://github.com/pandas-dev/pandas/issues/27519, it seems lambdas already work, but only if that is the only function for that specific column.

So this works:

[code]

but once you include an aggregation for the same column (with a lambda function or not) it errors.

[2019-08-12 10:49] bartkim0426 commented on #26974
Hi, is there someone working for it? If not, can I make PR for this?

[2019-08-12 12:07] jorisvandenbossche commented on #27837
OK, my preference is also to raise in the future, so let's go that way.

[2019-08-12 12:08] KamranMK commented on #15276
A new version of pandas contains method parameter which could be chosen to be 'multi'. This makes the code run much faster.

[2019-08-12 12:15] jreback commented on #27837
+1 to deprecate and raise

[2019-08-12 13:08] TomAugspurger commented on #27863
Duplicate of https://github.com/pandas-dev/pandas/issues/27519 I think.

[2019-08-12 13:08] #27863 closed

[2019-08-12 13:09] TomAugspurger commented on #27863
@tbarket let us know if you're interested in working on that.

[2019-08-12 13:09] TomAugspurger commented on #27519
We may also be able to do the mangling earlier on, so that the `column` and `order` are done on the mangled names.

[2019-08-12 13:41] TomAugspurger opened #27867 "CI: Unpin 3.7.3 pins"
Seen in at least two builds: https://travis-ci.org/pandas-dev/pandas/jobs/570645656

[code]

Fixing in https://github.com/pandas-dev/pandas/pull/27868

Leaving this open to revert.

[2019-08-12 13:43] TomAugspurger commented on #27867
Although, only 6 extension modules were rebuilt

[code]

[2019-08-12 13:45] TomAugspurger commented on #27867
Failing on azure too, so probably not related to caching

[code]

[2019-08-12 13:48] TomAugspurger commented on #27867
Probably a separate issue, but we seem to be trying to build NumPy and Scipy from source in the numpydev build. Those should be pulling in wheels.

[code]

[2019-08-12 13:54] TomAugspurger commented on #26974
Sure. Here's how I would do it.

Start in `Index.__new__` at https://github.com/pandas-dev/pandas/blob/e26fa2b9b7c44ba7a1865c9206ae213e1e908b99/pandas/core/indexes/base.py#L259 and look at all the places we pass through `**kwargs`. This will be index subclasses like `Categorical`, `IntervalIndex`, `PeriodIndex`, etc. Find the set of arguments that those accept. If any of them accept `**kwargs`, th

[2019-08-12 14:07] TomAugspurger commented on #27859
Right. They're equivalent in the sense that you get an iterator over "key, value" pairs.

I think this is fine, but would certainly accept a PR clarifying things. I don't think we necessarily need an open issue for this.

[2019-08-12 14:07] #27859 closed

[2019-08-12 14:07] Liam3851 commented on #27848
I think you want `df.columns.str.extract(r'\.(.*)', expand=False)`. By default pandas expands to handle potential multiple matches in the same regex.

[code]

[2019-08-12 14:07] jorisvandenbossche commented on #26974
They are currently passed through?

[2019-08-12 14:10] TomAugspurger commented on #26974
Yes. The method depends a bit on the subclass. I glanced briefly, but `CategoricalIndex` gets `**kwargs`. `IntervalIndex` gets `kwargs.get("closed", None)`. So they're either all passed through, or they get specific ones.

[2019-08-12 14:15] jorisvandenbossche commented on #26974
We could also deprecate that? if you want the specific keywords, you can use the specific class constructor?

I would lean towards first a warning. Users could have unintentionally done this (eg typo).

[2019-08-12 14:18] TomAugspurger commented on #27575
Any takers to work on this? No obligation of course. If no one else is able to, I'll put something together later in the week.

cc @islander, @selvathiruarul, @Salompas, @tvanyo who reported this in other issues.

[2019-08-12 14:24] TomAugspurger commented on #27848
@Liam3851 is correct.

We want the default of `expand=True` to be consistent between Index.str.extract and Series.str.extract, which requires returning a DataFrame.

[2019-08-12 14:24] #27848 closed

[2019-08-12 14:43] TomAugspurger commented on #27824
Thanks, I forgot about that doc page.

For dask specifically, we're looking for a type. That name certainly implies a constructor function, which may not be a type. So maybe we should have a new name dedicated to this?

[2019-08-12 15:11] jbrockmendel commented on #27853
I think this is a duplicate of #27636, should be fixed by #27773.

[2019-08-12 15:18] TomAugspurger commented on #27867
Note: this is maybe caused by Python 3.7.4 being released on conda.

[2019-08-12 15:21] TomAugspurger commented on #27867
Maybe related: https://github.com/ContinuumIO/anaconda-issues/issues/11195

[2019-08-12 15:44] datapythonista opened #27870 "New pandas website"
xref: #15556

I've been thinking in more detail about the website, and I think it'll make things much simpler if we keep the pandas website and the documentation separate. My previous proposal was to unify everything, and use nginx rules to show the latest version (`master`) for pages that we want to show the latest version.

I still think that from the user perspective, there should be one single

[2019-08-12 16:58] Salompas commented on #27575
If I remember correctly I was able to solve this issue by `brew install xz`, and then reinstalling Python with `pyenv`. It makes sense that this should not be a pandas issue, but it would be nice to have a warning message or something else to fall back on (while alerting the user that it needs to be solved).
I'll give it a try (but I am a noob, so let me know if there are issues with the code).

[2019-08-12 17:56] #27470 closed

[2019-08-12 18:19] rgommers commented on #27870
We have this issue with scipy.org, and handle it via a git submodule (`scipy-sphinx-theme`). Probably cleaner than via explicitly copying stuff around.

[2019-08-12 18:31] TomAugspurger commented on #27575
Thanks @Salompas. Feel free to start something if you think you have a handle on what needs to be done.

We're deciding a release date for 0.25.1 at our dev meeting on Wednesday. If necessary, one of us will step in and finish things off before we need to release.

[2019-08-12 18:34] TomAugspurger commented on #19995
Thanks @akdor1154.

[2019-08-12 18:36] TomAugspurger commented on #26314
@buddingPop @Code4SAFrankie @meganson are any of you interested in working on this?

We also need a reproducible example, if anyone can provide that.

[2019-08-12 18:41] Salompas commented on #27575
@TomAugspurger I am following your suggestions and will submit a PR soon (just need a bit of time to go through the "Contributing to pandas" page).

[2019-08-12 18:42] TomAugspurger commented on #27857
I think `.transform` doesn't include the grouping labels in the output. You can select the column if you really need it

[code]

Yes, you're trying to set a 2D object (the output of the transform) into a 1D slot (the key `yy`).

[2019-08-12 18:42] #27857 closed

[2019-08-12 18:43] TomAugspurger commented on #26368
I don't believe that anyone has started working on this, if you're still interested.

[2019-08-12 18:46] TomAugspurger commented on #27850
@brandonsimpson21 can you provide an example? It sounds like you have a bad excel file if xlrd can't open it.

If you can provide an example we'll reopen.

[2019-08-12 18:46] #27850 closed

[2019-08-12 19:00] #23719 closed

[2019-08-12 19:08] TomAugspurger commented on #26215
Slightly simpler example

[code]

@gamis I don't think anyone has opened a PR for this, if you're interested in working on it. Even diagnosing the issue would be valuable.

[2019-08-12 19:10] #27756 closed

[2019-08-12 20:15] Salompas commented on #27575
@TomAugspurger I have been trying to modify the code, but ran into a problem. One of the first files to complain about a missing `lzma` module is `pandas/_libs/parsers.pyx`. Unfortunately, my knowledge of Cython is zero. I have tried a couple of things but without much success (`cythonize` fails). If you have any ideas, please let me know!

[2019-08-12 20:19] matthewgson opened #27880 "A range of tolerance level for pd.merge_asof?"
Quoting from Pandas document example :

[code]

Above example merges only when the time gap is strictly less than '10ms', with direction='backward'.

I'm wondering if I can use a range of tolerance like between 10ms and 20ms?
The expected output would be such that it merges the closest one that happened more than 10 ms before, but not more than 20 ms(direction ='backward').

[2019-08-12 20:23] Salompas commented on #27575
The issue with `cythonize` might be due to something else. I have tried it adding a blank line to the `pyx` file and reinstalling with `pip` and I get the same error.

[2019-08-12 20:24] charlesdong1991 opened #27881 "timedelta is considered as np.number?"
When querying numbers from dataframe with `df.select_dtypes`, if i choose `include=np.number`, then timedelta will be also selected. But based on documentation, this should not happen. I checked the tests, it seems allow this to happen on purpose, then how should I only select number columns? should DOC be changed at least?

[code]

Output:
the column b, f are selected

Expected Output:
only colum

[2019-08-12 20:25] TomAugspurger commented on #27575
Fortunately in this case, you can just use regular Python in `parsers.pyx`. I'd recommend writing a compat function like the following, and replacing `import lzma` with that.

[code]

Then going through and fixing up *uses* of lzma to check for `lzma` being None.

LMK if you want me to take over. We can always find other issues for you to work on 😄  This is getting to be a bit tricky (which is why

[2019-08-12 20:33] jorisvandenbossche commented on #27825
I couldn't finish it yet, but a very rough sketch can already be found here: https://hackmd.io/gPDsgTsKRlyHfoCRR1i_ng (in case you already want to think on it)

[2019-08-12 20:37] jbrockmendel commented on #27881
This is a side-effect of how numpy defines timedelta64.  In many places we treat timedelta64 as non-numeric, but we aren't entirely consistent about it.  A PR to be more consistent here would be welcome.

For now, `df.select_dtypes(include="number", exclude="timedelta")` should get what you want.

[2019-08-12 20:44] Salompas commented on #27575
@TomAugspurger cool idea! I am trying that right now, thanks for the hint!

[2019-08-12 20:59] charlesdong1991 commented on #27881
Thanks for answering! i will take a look and try to come up with something.

[2019-08-12 21:00] mgrout81 commented on #27476
Where can one find the documentation? It is not appearing here at this time: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html.

[2019-08-12 21:16] isantolin commented on #27476
@mgrout81 not appears because is not released on stable branch yet. Please check at https://dev.pandas.io/user_guide/io.html

[2019-08-12 21:26] isantolin opened #27884 "DOC: read_fwf not appears on IO Formats table as function"
#### Problem description
I Think that needs to appear on that table because is not clearly documented

![image](https://user-images.githubusercontent.com/264640/62899533-67417880-bd2e-11e9-99e3-f33b659aed03.png)

[2019-08-12 21:29] playermanny2 opened #27885 "UnboundLocalError: local variable 'arith_flex' referenced before assignment"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When importing pandas on fresh install of jupyterlab 1.0.4 via Anaconda, I'm receiving a unboundlocal error. I've never seen this happen before until pandas 0.2.5, so a bit confused on why this would be occurring

[code]

#### Expected Output
pandas would import properly
#### Output of ``pd.show_versions()``

N

[2019-08-12 21:37] jbrockmendel commented on #27885
Where did you get this version of pandas?  (e.g. conda install, pip install, ...?)  It looks like you've still got a panel.py file which has been removed for a while.

[2019-08-12 21:44] playermanny2 commented on #27885
@jbrockmendel thanks for the quick response --

this was installed via  conda install --quiet --yes pandas=0.25*

This is coming directly from the latest https://hub.docker.com/r/jupyter/scipy-notebook/dockerfile

[2019-08-12 22:48] jbrockmendel commented on #27885
OK, I don't have any experience with that container/notebook, so troubleshooting blind...

Does the pandas/core folder already exist before you do the install?  i.e. is there any chance that old files are left behind from a previous version?

[2019-08-13 00:03] ncernek commented on #27800
@kpflugshaupt  I ran your code samples and did not get any errors, on pandas 0.24.2. Some later update must have broken this.

[2019-08-13 00:07] playermanny2 commented on #27885
@jbrockmendel  Thanks for pointing me in the right direction -- this issue was due to a conflict between an older pandas installed via pip and the pandas installed via conda

[2019-08-13 00:07] #27885 closed

[2019-08-13 00:10] Ankit-Dhankhar commented on #27862
If this issue is not assigned I would like to make PR for this :)

[2019-08-13 00:30] bthayer2365 commented on #27862
I'm not working on it. Go for it!

[2019-08-13 00:45] bartkim0426 commented on #26974
Thanks for detail explanation. I'll make a work for this -  raise a error or just add warning.

[2019-08-13 01:04] #27841 closed

[2019-08-13 01:54] topper-123 commented on #27860
Yeah, ``yield`` is correct, though very technically, I think ``items`` is a generator (it yields) while ``iteritems`` *returns* a generator (it returns something that yields).

But that is a useless distinction, so I agree both could be marked as yielding.

[2019-08-13 02:22] TomAugspurger opened #27892 "DataFrameGroupBy.quantile raises for non-numeric dtypes rather than dropping columns"
In pandas 0.24.x, we had

[code]

In 0.25.0, we have

[code]

This is most relevant for mixed dataframes

[code]

[2019-08-13 02:24] TomAugspurger commented on #27892
Unfortunately, we can't just exclude object dtype. We apparently used to try to do the quantile, and caught any exceptions

[code]

I don't know if that behavior is worth preserving.

[2019-08-13 02:57] RainFung opened #27894 "remove index column in SeriesGroupBy.nlargest"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It raise the index to column(1, 4, 7) above. But we dont need it most time.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bits: 64
OS: Linux
OS-release: 3.10.0-693.5.2.el7.x86_64
machine: x86_64
processor: x86_

[2019-08-13 03:06] bthayer2365 commented on #27860
@topper-123 Not quite. When a function "yields", it is actually returning a generator object. The net effect is that both are functions and both return generators.
[code]

[2019-08-13 07:57] #27862 closed

[2019-08-13 08:03] jorisvandenbossche commented on #27860
In any case, both return exactly the same:

[code]

so I am not fully sure why the doc validation thinks there is a difference between both.

[2019-08-13 08:09] RainFung opened #27897 "DataFrame.groupby.fillna(method='bfill) not equal as DataFrame.groupby.bfill()"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
`DataFrame.groupby.bfill()` contains groupby col ['A'] while DataFrame.groupby.fillna(method='bfill) dont have it . Same problem in `ffill`.

#### Output of ``pd.show_versions()``
INSTALLED VERSIONS
------------------
commit: None
python: 3.6.7.final.0
python-bits: 64
OS: Linux
OS-release: 3.10.0-693.5.2.el7.x86

[2019-08-13 08:44] ashishstats opened #27898 "Issue with str.contains output"
#### Code Sample, a copy-pastable example if possible
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

csv1="multiple_responses.csv"
df1 = pd.read_csv(csv1, index_col='id' , na_values = [' '] , low_memory=False)

## creating a list containing 8 family planning method names
method_names = ['

[2019-08-13 08:58] charlesdong1991 commented on #27897
try upgrading to 0.25? cannot replicate this issue somehow:
![Screen Shot 2019-08-13 at 10 58 05 AM](https://user-images.githubusercontent.com/9269816/62928670-42461780-bdb9-11e9-9aec-5e4ae3b7009e.png)

[2019-08-13 09:41] #27051 closed

[2019-08-13 11:43] jorisvandenbossche opened #27900 "Tab completion triggers deprecation warnings with latest Jedi (0.15.1)"
I reported it at Jedi: https://github.com/davidhalter/jedi/issues/1383
But opening an issue here as well in case there are workarounds we need to do in pandas itself (last time we did do something: https://github.com/pandas-dev/pandas/pull/16414)

[2019-08-13 11:49] yuylyp commented on #27772
@stefanopassador
I found a workground, please comment the following code in function _format_regular_rows in /pandas/io/formats/excel.py
but the index name will cover the lowest-level column name while both of them are not none or empty.
so I suggests the developer to add more condition in this if-statement.

[code]

[2019-08-13 11:54] yuylyp commented on #27842
@TomAugspurger
I found the reason and pointed it out in https://github.com/pandas-dev/pandas/issues/27772#issuecomment-520802577
however it is just an workaround. it still needs more work.
could you please submit this issue and help improve the experience of to_excel while we are using multiindex column.

[2019-08-13 11:56] TomAugspurger commented on #27842
I don't plan to work on this. If you're interested, the contributing guide
is at https://dev.pandas.io/development/contributing.html. Let us know if
you need help getting started.

On Tue, Aug 13, 2019 at 6:54 AM Tom Li <notifications@github.com> wrote:

[2019-08-13 11:57] #27861 closed

[2019-08-13 12:44] #22799 closed

[2019-08-13 13:13] MarcSkovMadsen commented on #27634
I have the same issue. Should this issue be reported to pylint instead?

[2019-08-13 13:45] mhooreman commented on #27634
Hi Mark,

Yes, indeed. But I didn't found time to do it now. Can you take it over ...
or wait a bit?

Thanks.

Le mar. 13 août 2019 à 15:14, Marc Skov Madsen <notifications@github.com> a
écrit :

[2019-08-13 14:00] TomAugspurger opened #27901 "Move `.github` files to the organization level"
Described in https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization, we can make a `.github` repo under pandas-dev. Then all the "community" files (code of conduct, funding, security, etc) will apply to every repo in the organization. This makes it clear that these policies apply everywhere, but we don't have to worry about copying / updating the files t

[2019-08-13 14:05] TomAugspurger commented on #27634
Can you link back here with what you find from the pylint issue?

FWIW, this sounds somewhat difficult to do in practice. I'm not sure how pylint could know that the object returned by `ExcelWriter` is an instance of a subclass without actually executing code. I'm not sure whether they execute code or not.

[2019-08-13 14:07] TomAugspurger opened #27902 "CI: master failing windows py37_np141 builds"
e.g https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=15921

[code]

[2019-08-13 14:20] mhooreman commented on #27634
@TomAugspurger , I don't really understand what you say. The code sample at the top of the thread shows the issue and, yes, it seems related to pylint.
I'll open the ticket on the pylint side, with a link to this one.

[2019-08-13 14:23] PeterJPRoche commented on #26969
Hi, sorry, just coming back to this now.

In the case of a series that has two or more modes, then the distribution is multimodal, it does not have a single mode. It is up to the user to decide how they wish to handle that in their application/problem at hand. I guess it would be neat if the could return the array of modes when there is more than one.

With regards the issue above, I would just ha

[2019-08-13 14:27] mhooreman commented on #27634
Created pylint ticket: https://github.com/PyCQA/pylint/issues/3060

[2019-08-13 14:45] datapythonista opened #27903 "Standardize pandas distribution lists"
As the project and the community grows, I think it'd be good to keep some consistency among the different channels to communicate. Currently we have:
- pydata@googlegroups.com (broader than pandas, but it's kind of our users list)
- pandas-dev@python.org
- pandas-core-team@googlegroups.com
- pydata/pandas on Gitter for IM (I guess it's more intended for devs, but a mix of dev/users in practice)

I

[2019-08-13 14:53] TomAugspurger commented on #27903
Agreed it'd be nice to simplify the pandas-dev / pydata@googlegroups split across two systems.

On the subject of discourse, there's been talk of creating a discourse for NumFOCUS projects (so that not every project has to create their own). I suspect we could have pandas-users & pandas-contributors boards on that.

[2019-08-13 15:01] charlesdong1991 commented on #27902
ahh, i also see this error on Azure on my PR and i spent quite time debugging where PR went wrong, i thought it was my change that failed the check... I am actually about to ask how to only test code on windows environment because it passes checks on my laptop :) thanks for opening the issue! ^^

[2019-08-13 15:03] datapythonista commented on #27903
@Dr-G do you know if the NumFOCUS discourse is something we can expect in the short-term? Thanks!

[2019-08-13 15:06] TomAugspurger commented on #27903
I should have been clearer. By "there's been talk" I meant very early suggestions of "this is a thing we could do". cc @jcrist if you've reached out to anyone at NumFOCUS or discourse about this.

[2019-08-13 15:23] TomAugspurger commented on #27870
Seems reasonable. I suspect "Whatsnew" would be under "Documentation" as
well, right?

On Mon, Aug 12, 2019 at 10:44 AM Marc Garcia <notifications@github.com>
wrote:

[2019-08-13 15:31] Dr-G commented on #27903
FWIW, we used to have a NumFOCUS Discourse instance. No one used it, but I think that's because there was no "reason" for people to use it. I imagine that if projects moved their discussion groups there, it would be different. Let us know if this is something you want to pursue for pandas in future.

[2019-08-13 15:33] datapythonista commented on #27870
Good catch, I forgot about those. I think it makes more sense to be in the documentation, yes. Otherwise when adding a new feature or bug fix, we would have to deal with two PRs one in the pandas repo, and one in the web. And I don't think we want that.

Updated the description, thanks for the feedback.

[2019-08-13 15:36] jcrist commented on #27903
I have not yet, I was hoping to collect potential buy-in from a few projects before bothering them.

The general idea here is that projects like CPython, Jupyter, etc... have been having success curating conversation on Discourse. Dask is looking at using Discourse for non-user-issue discussion (instead of gitter, which isn't searchable). Instead of having a Discourse-per-pydata-project, we figure

[2019-08-13 15:42] dargueta commented on #16492
Any movement on this? It's a real problem when generating JSONL files for Redshift. Redshift rejects the file because it has a time portion for a field that's a `DATE`. (I don't own the table so switching to `TIMESTAMP` isn't a viable solution.)

[2019-08-13 16:12] TomAugspurger commented on #27898
Can you make the example simpler? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

Do you think there's a bug in pandas? Otherwise, we prefer issue reports go on StackOverflow with the #pandas tag.

[2019-08-13 16:14] TomAugspurger commented on #27897
Yeah, this changed in 0.25 to be more consistent.

[2019-08-13 16:14] #27897 closed

[2019-08-13 16:15] #27080 closed

[2019-08-13 16:19] TomAugspurger commented on #16492
Not on this specific issue. @WillAyd is working on a refactor of our JSON
IO code that should make things easier though.

On Tue, Aug 13, 2019 at 10:43 AM Diego Argueta <notifications@github.com>
wrote:

[2019-08-13 16:24] kpflugshaupt commented on #27800
Hi @ncernek ,

I also cannot recall seeing this ever before 0.25.0, so the upgrade has probably introduced it.

As to how to tackle this: I would (given time) debug the call, and either catch where it's going wrong (compare to working call), or list all the visited files and cross-reference the whatsnew file.

Thanks for looking into this! I may also have a go, but not in the next days -- too much

[2019-08-13 16:31] TomAugspurger commented on #27902
It seems to be a flaky test, if you push to your PR again then it may pass.

[2019-08-13 16:35] TomAugspurger commented on #27800
You can also use git bisect to find the faulty commit. Might be able to look through PRs in the git log that mention groupby or categorical to narrow down the bisect range.

[2019-08-13 16:38] TomAugspurger commented on #26969
I don't think we would want to return an array of modes when there are multiple That would mean you sometimes return an object-dtype, sometimes numeric-dtpye depending on the data.

[2019-08-13 18:53] ncernek commented on #27800
I went the `git bisect` route. I wrote a single failing test for this condition
[code]
Result of `git bisect`
[code]

[link to that PR](https://github.com/pandas-dev/pandas/pull/27071/files)

Looks like a lot of thinking went into that PR, maybe those of you (e.g. @jreback ) who worked on it want to look into this bug further?

[2019-08-13 19:08] thierryherrmann opened #27904 "groupby nunique() with dates vs datetimes in presence of NaTs"
#### Code Sample

[code]
#### Problem description
`Series.groupby().nunique()` seems to have a different behavior with dates vs datetimes when NaTs are in the Series. The behavior with `date` seems to return more distinct values than there are.
This is not the same issue as https://github.com/pandas-dev/pandas/issues/14149

#### Expected Output
For nunique() with dates the expected output is:
[cod

[2019-08-13 19:47] charlesdong1991 opened #27905 "Functions allowed in DataFrameGroupby.transform are not all tested"
e.g. `fillna`, `tshift`and `corrwith` are all allowed in `group.transform()`, but looking at `pandas/tests/groupby/test_transform.py`, they are not tested. There are more, and I will add to here and make a PR to tests these cases.

[2019-08-13 20:22] TomAugspurger commented on #26927
@sergeny that sounds like a different issue.

[2019-08-13 20:25] TomAugspurger commented on #27817
Are we likely to support this? I'd rather see arrow add a way to get a datetime64[ns] or the integer equivalent, and then have the user call that before passing to pandas.

[2019-08-13 20:59] ttamg commented on #16492
I just want to second the request to enable a date serializer that allows dates as 'YYYY-MM-DD' in the **to_json()** method not just the ISO method with the time also.  I have other services that are rejecting the date on this basis.

[2019-08-13 21:04] mroeschke commented on #27817
Agreed with @TomAugspurger. I don't think we should be supporting Arrow objects outright.

[2019-08-13 21:10] jbrockmendel commented on #27817
I’m still curious how it used to work.

One solution would be for Arrow to subclass datetime, otherwise requiring users to cast to something supported seems reasonable.

[2019-08-13 21:13] mroeschke commented on #27817
We might have replaced a `hasattr` check with an `isinstance` to `PyDatetime` check.

[2019-08-13 21:33] Dr-G commented on #27903
@jcrist yes, we could definitely restart it. Please reach out to leah@numfocus-dot-org and andy@numfocus-dot-org to discuss.

[2019-08-14 00:23] jbrockmendel opened #27911 "API: when to cast list-like to ndarray, check len match"
xref #27873

In many arithmetic/comparison ops we do something like

[code]

but we are not entirely consistent about this (see below for summary of what we do where).  AFAICT the only case where we wouldn't want to do both of these consistently is if we have an object-dtype, the relevant test case being something like:

[code]

(note in this example ATM `ser == ser[0]` will raise `ValueError`).

[2019-08-14 01:41] aquasync opened #27913 "Empty series dtype discarded by reset_index with MultiIndex"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`DataFrame.reset_index` shouldn't discard the type of the index/index levels when empty or all missing. It correctly handles this for a single level index (eg DatetimeIndex), but doesn't for MultiIndex.

In my case the symptom was a strange TypeError on a join, which I tracked down to the dtype of the series be

[2019-08-14 02:18] allen-q opened #27914 "Unable to use lambda function in pandas NamedAgg function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

NamedAgg function introduced in pandas 0.25 doesn't seem to work with lambda functions.

#### Expected Output

| kind|height_sqr_min |  height_max |weight_max|
|----------|:-------------:|------:|------:|
| cat |  82.81 | 9.5 |9.9 |
| dog|  36.00 |  34.0 |198.0 |

#### Output of ``pd.show_versions()``

<details

[2019-08-14 05:29] ashishstats commented on #27898
@TomAugspurger reason for uploading the link of CSV was to make raw data available so that actual output can verified with expected output.
It is not a bug in pandas as got the solution on StackOverflow.
the right code is

for method in method_names:
    df1[method]=df1["methods_discussed"].str.contains(pat = r"\b{}\b".format(method), na="")

[2019-08-14 05:29] #27898 closed

[2019-08-14 08:57] bluenote10 commented on #11905
I guess he is referring to the problem that `to_dict` has more modes than `from_dict`, which means that some `to_dict` conversions don't have an inverse operation.

It's an API inconsistency, and a consistent API is a "good thing". Here is an example of a problem that arises from this inconsistency:

When converting a DataFrame to JSON we are using the `orient="split"` option, because it seems to

[2019-08-14 13:26] TomAugspurger commented on #27914
Duplicate of https://github.com/pandas-dev/pandas/issues/27519. There's some suggestions there, if you're interested in working on this.

[2019-08-14 13:26] #27914 closed

[2019-08-14 13:28] TomAugspurger commented on #27913
Does this look to be the same as https://github.com/pandas-dev/pandas/issues/19602?

[2019-08-14 13:33] aquasync commented on #27913
Ahh indeed it is - not sure why it didn't come up in the related issues. Sorry for the noise.

[2019-08-14 13:33] #27913 closed

[2019-08-14 14:00] MarcoGorelli commented on #27779
I've attempted to fix this by modifying `validate_header` from ` pandas/io/common.py` to check that `header=-1` wasn't passed and to raise an error advising user to pass `header=None` instead if their data has no header

[2019-08-14 16:18] csbrown commented on #27558
The python3 version in Ubuntu Xenial repos is 3.5.1.  This breaks a lot of stuff for a lot of people.  Not sure if that means anything to y'all, but I thought you might like to know.

[2019-08-14 16:24] TomAugspurger commented on #27900
Sounds like we'll want to put in a workaround to silence these, since we may be releasing before Jedi.

[2019-08-14 16:26] TomAugspurger commented on #27558
@csbrown that should be fine. You'll just pull in pandas 0.24.x when you install. Does that not happen?

[2019-08-14 16:34] csbrown commented on #27558
it pulls pandas 0.25 for me.  I `pip3 install pandas==0.23` and it works fine.

[2019-08-14 16:35] csbrown commented on #27558
Just doing a `pip3 install pandas` and trying to do stuff is what landed me here looking for what went wrong  :)

[2019-08-14 16:35] TomAugspurger commented on #27558
What version of pip?

On Wed, Aug 14, 2019 at 11:34 AM Scott Brown <notifications@github.com>
wrote:

[2019-08-14 16:37] csbrown commented on #27558
[code]

[2019-08-14 16:45] TomAugspurger commented on #27558
Gotcha. That pip may not support python_requires, which is what is supposed
to get you the right version for your python.

You'll need to upgrade pip or pin pandas.

On Wed, Aug 14, 2019 at 11:37 AM Scott Brown <notifications@github.com>
wrote:

[2019-08-14 16:55] csbrown commented on #27558
The workaround is just fine for me.  Maybe this info will help someone else though.

[2019-08-14 17:03] jreback commented on #27901
lgtm.

[2019-08-14 18:22] jorisvandenbossche commented on #27870
I agree it makes sense to keep the website and docs as separate repos. We want to be able to update the website independent of releases, and with a shared theme and layout it should be straightforward to blend them together.

One thing I am not sure belongs in the website *repo* is the contributing docs. I feel those belong much more in the core pandas repo, which also makes it easier to update th

[2019-08-14 18:30] datapythonista commented on #27870
Something I'm thinking is that it doesn't make sense to have the docs and the website together, to be able to update the website more often than the releases. But may be we can have a `web/` directory with the website in this same repo, and build and deploy from there separately. Probably this option has the best of both worlds (and a single repo would simplify things).

In any case, I think that

[2019-08-14 18:54] #27860 closed

[2019-08-14 19:04] charlesdong1991 commented on #27519
why not just remove `result = result[order]` instead of mangling, it looks redundant to me. And if I remove it, and all sample cases in those three PRs work. @TomAugspurger

[2019-08-14 20:25] jorisvandenbossche commented on #27911
I think the main use case where this comes up is having scalar values that are considered "list like" (according to our `is_list_like` method).

The obvious case is having lists or tuples in a Series:

[code]

But note that it is more than those built-in containers. When working with custom Python objects, your scalar object needs to be iterable to be seen list-like (so either have `__iter__` or h

[2019-08-14 20:26] TomAugspurger commented on #27904
Thanks for the report. Interested in debugging where things are going wrong?

[2019-08-14 20:33] TomAugspurger commented on #27800
Thanks @ncernek. At least for this specific one, it's from how concat handles a mix of categorical & non-categorical indexes

[code]

I think that should coerce both to object-dtype index before going too far.

[2019-08-14 20:40] selik commented on #11499
@WillAyd @tdamsma Looks like the docs should be updated to reflect this change. The docstring for the `engine` parameter says the only acceptable values are None or xlrd.

https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.read_excel.html#pandas.read_excel

[2019-08-14 20:43] TomAugspurger commented on #17962
Can anyone provide an example that fails on 0.25.0? I can't reproduce the original anymore.

[2019-08-14 20:49] TomAugspurger commented on #16822
https://github.com/pandas-dev/pandas/pull/17360 fixed this. It's possible that there was a regression, or you're getting the same error message from a different case. Either way, @senjed / @adesorme can you open a new issue with an example demonstrating the problem?

[2019-08-14 20:52] TomAugspurger commented on #27884
Thanks, the source is at `doc/source/user_guide/io.rst` if you're interested in submitting a PR.

[2019-08-14 20:59] justmarkham commented on #26831
Thanks for letting me know about this discussion, @datapythonista! As for pandas tips and tricks, I'm not sure the best way to integrate them into teaching materials, though I do like the idea of a "did you know" info box.

Zooming out: I haven't had a chance to digest the discussion and links above, but I'm happy to take a look and provide feedback, if it's helpful? I've been teaching pandas onli

[2019-08-14 21:15] TomAugspurger commented on #27894
I don't think we'll change this. It can be useful, matches the Series.nlargest behavior, and changing it would be API breaking.

If you don't need it then you can drop that level of the index afterwards.

[2019-08-14 21:15] #27894 closed

[2019-08-14 21:23] TomAugspurger commented on #11499
@selik can you open a PR or new issue for that? Otherwise it's likely to not get done.

[2019-08-14 22:20] jbrockmendel commented on #27911
@jorisvandenbossche thanks for weighing in here.  Will `is_list_like` correctly handle the non-builtin containers you have in mind?

For the object-dtype case, should we continue special-casing list or not-check it like we do for other listlikes?

[2019-08-14 22:31] datapythonista commented on #26831
If you have time to have a look at what's been discussed and give us feedback, that would be extremely valuable. The goal here is to make people new to pandas understand what it does and get started as fast and easily as possible for them. I doubt there are many people that can add as much value as you. :)

[2019-08-14 22:33] fiendish commented on #23779
I would like to have this reopened, because it's not actually beyond pandas control to handle this cleanly.

Just conditionally wrap the object in a io.TextIOWrapper:
[code]

[2019-08-14 22:45] gfyoung commented on #23779
@fiendish : That's a good point.  You're more than welcome to open a PR to implement this.

[2019-08-15 02:05] Janhonho commented on #27865
Any  can help me....

[2019-08-15 02:42] ruddyscent commented on #27829
I'm working on it at PyCon2019 Sprint.

[2019-08-15 02:59] inmoonlight commented on #27395
May I take a look?

I'm sprint on at PyCon kr 2019

[2019-08-15 03:02] proost commented on #20519
May i take a look?

[2019-08-15 03:11] kmw8551 commented on #26921
I'll take a look

[2019-08-15 03:37] ssehuun commented on #27758
Can I try to fix this?

[2019-08-15 03:41] qfs1998 opened #27924 "why when i read data from '.xlsx',values of one colum which type is 'str' with hyHyperlink be read as 0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
my pandas version is  0.25.0
I do not know why that happened,  I have a excel with one column whose type is str with hyperlink,when I use the read_excel function to read it ,that column data become 0,and its type is int64,  that is strange. And if I open the excel to delete the hyperlink of just one cell of that

[2019-08-15 04:03] mroeschke commented on #27924
Try specifying `dtype=object` to not infer types. We would need a reproducible example to debug further. Feel free to reopen if you have a reproducible example and the issue still persists.

[2019-08-15 04:03] #27924 closed

[2019-08-15 04:42] MYUNGJE commented on #27794
may i take a look at it ?

[2019-08-15 05:46] MarcSkovMadsen commented on #27634
Sure I can wait. I have found my way around it. Thanks for the great work with the ExcelWriter.

[2019-08-15 06:56] charlesdong1991 commented on #27395
go ahead! @inmoonlight

[2019-08-15 07:00] jorisvandenbossche opened #27927 "BUG: DataFrame._get_value not working for IntervalIndex"
Follow-up on https://github.com/pandas-dev/pandas/pull/27926 and https://github.com/pandas-dev/pandas/issues/27865

`DataFrame._get_value` with an IntervalIndex is not working properly:

[code]

This `_get_value` is used in `ix` which is deprecated, but also in `at` which is not deprecated:

[code]

[2019-08-15 07:06] jorisvandenbossche commented on #27865
@Janhonho for the first bug, there is a PR to fix this in 0.25.1: #27926. However, note that you are using `ix` which is deprecated and will be removed in the next major version. So in this case you can actually rather do `bin_df.iloc[0:2,0]`.

For the second one (`init_cut.astype(pd.Interval)`), that only worked by accident, where `pd.Interval` (which is not a data type object, but the scalar int

[2019-08-15 11:24] connesy opened #27930 "Series.div raises TypeError: unsupported operand type(s)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I can't see how I could even get this error. It would require that `this_vals is None` in `series.py:_binop()`, which I don't see how could ever happen.

#### Expected Output

A `pandas.Series` with the result of the division.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------------

[2019-08-15 12:05] charlesdong1991 commented on #27930
what does your data look like? And which version of pandas are you using?
I have a test on a simple case and it seems all work fine.

![Screen Shot 2019-08-15 at 2 03 36 PM](https://user-images.githubusercontent.com/9269816/63093454-a1488f80-bf65-11e9-8f77-11d8851176f1.png)

[2019-08-15 12:21] jorisvandenbossche commented on #27930
You can get this if the calling series is of object dtype with None in it:

[code]

[2019-08-15 12:28] connesy commented on #27930
Thank you!

[2019-08-15 12:32] #27930 closed

[2019-08-15 12:39] caseyclements commented on #22265
I think dask / cloudpickle have a similar issue: https://github.com/dask/dask/issues/3354

[2019-08-15 13:09] MarcoGorelli commented on #26215
Even simpler :)

[code]

[2019-08-15 13:14] chdwql opened #27931 "xtick label have wrong position."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
My dataframe is 2015-2019, 5 years timeseries. Use The default parameter to plot, got wrong xticks.

![0_EDI_TS_1376 0Hz](https://user-images.githubusercontent.com/4538383/63096896-a9bebb80-bfa1-11e9-898f-f5ad5058696f.png)

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output

[2019-08-15 13:50] TomAugspurger commented on #27931
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-15 14:37] ErfPy opened #27935 "Cumsum with reset after certain value is reached."
A cool new feature would be to have a reset value as an argument in the `cumsum` method. So for example if the cumsum value reaches value 10, it resets to 0. Here's an example stolen from [this](https://stackoverflow.com/questions/57510604/perfrom-cumulative-sum-over-a-column-but-reset-to-0-if-sum-become-negative-in-pa/57511154?noredirect=1#comment101490704_57511154) question:

[code]
**Expected o

[2019-08-15 18:06] yamen321 commented on #9784
May I ask what the use case of having the to_string method dependent on the display.max_colwidth option? I can't seem to understand why one would ever ask for a DataFrame row as a string with truncated column values

[2019-08-15 18:10] jbrockmendel commented on #27935
can you elaborate on the use case here?

[2019-08-15 18:18] TomAugspurger commented on #27867
This is resolved.

[2019-08-15 18:18] #27867 closed

[2019-08-15 20:16] GanymedeZero opened #27937 "ValueError on assigning multiple NaN/None to Categorial Series when all categories are Intervals"
#### Reproducing the error:

[code]

The full traceback:

<details>

[code]

</details>

#### Problem description

The problem is a bit specific: the assignment has to be to a slice, the Categorical Series/DataFrame must have all Intervals for categories, and the rhs must have at least 2 `np.nan` (or None) but not all of its elements should be `np.nan` or else the assignment will work.

My guess i

[2019-08-15 20:27] #27779 closed

[2019-08-15 20:34] TomAugspurger commented on #9784
@yamen321 I think it's agreed that to_string shouldn't truncate. Are you interested in working on it?

[2019-08-15 21:20] ErfPy commented on #27935
Not sure, haven't needed it myself, but I'm pretty active on answering questions on the pandas tag on SO and I see this question quite often. Same as `explode` method before introduced in `0.25.0`.

[2019-08-16 03:17] kmin-jeong commented on #26939
can I try it?

[2019-08-16 03:31] yanglinlee commented on #27927
I will give a try

[2019-08-16 03:34] sighingnow opened #27943 "DataFrame that deserialized from pyarrow cannot be used to `merge`"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above code raises an exception:

[code]

#### Expected Output

`d1.copy(deep=True).merge(d2.copy(deep=True))` could give the correct result:

[code]

#### Output of ``pd.show_versions()``

I'm working with pandas master so `show_version()` doesn't work. The git commit hash is `a818281a45f7b5bd24f050e5d68688

[2019-08-16 05:12] Haabibi commented on #27737
This was also bothersome for me. I will check if this issue can be solved by simply putting `quoting=csv.QUOTE_NONNUMERIC` as default.

[2019-08-16 05:27] proost commented on #20684
May i take a look?

[2019-08-16 05:32] sreeram004 commented on #27935
I am the one who posted the question in SO. I am not sure how often this is being used.

For my problem, I had a column which was calculated from some other columns. Let's call this column c. I wanted to perform cumulative sum over the column c and I want to use this cumulative sum somewhere else.

The catch is that, when the cumulative sum goes below 0, it is something like a state change. The st

[2019-08-16 10:48] PeterJPRoche commented on #26969
I would agree with @TomAugspurger about the return types - a mixed bag of return types could be problematic...

I think there are two issues here:

1. Why was the ValueError raised? - that was my original issue. Is it a bug, or is that the intended behavior when doing a groupby -> transform -> mode? Is it understood why is changed between pandas versions.
2. What gets returned when the mode is mul

[2019-08-16 11:03] TomAugspurger commented on #27943
Missing a const here

[code]

Just need to construct a test-case that doesn't rely on PyArrow.

[2019-08-16 11:20] TomAugspurger commented on #27935
This seems more like something that would belong in NumPy, rather than pandas.

[2019-08-16 11:22] #26215 closed

[2019-08-16 11:23] TomAugspurger commented on #20684
Yep, doesn't look like anyone else is working on this.

On Fri, Aug 16, 2019 at 12:27 AM proost <notifications@github.com> wrote:

[2019-08-16 11:29] sighingnow commented on #27943
Thanks for fixing that so quickly!

[2019-08-16 11:29] TomAugspurger commented on #26939
Sure, thanks.

On Thu, Aug 15, 2019 at 10:17 PM kmin-jeong <notifications@github.com>
wrote:

[2019-08-16 11:37] TomAugspurger commented on #27937
Thanks or the report. Looks a bit tricky, but this does seem to be a bug.

[2019-08-16 11:38] #18222 closed

[2019-08-16 11:39] TomAugspurger commented on #27794
That'd be great!

[2019-08-16 11:43] TomAugspurger commented on #27758
I'm not sure we've decided on the correct behavior here yet. Pandas does quite a bit more preprocessing on the data before plotting. We'll need to be careful about the ways a user can get up here.

If they explicitly pass an empty series or a DataFrame with no rows, that's fine.

We can also end up at this point if there are no columns after a `select_dtypes`. In that case, I think we still want t

[2019-08-16 12:08] #27943 closed

[2019-08-16 12:14] #13628 closed

[2019-08-16 14:50] gergab1129 commented on #27772
I managed to get a workaround to this problem using quite a mix between offsets and writing the DataFrame by segments.

May `data` be a Dataframe like this:
`April  ...         June
                Bars  ... % Dev
MC-Arauca                        2.0  ...     1.000000
MC-BajoPutumayo                  2.0  ...     0.000000
MC-Boyaca                       12.0  ...     0.812500
MC-Cali

[2019-08-16 15:17] MarcoGorelli commented on #27904
I think the problem is that when `numpy` tries to sort
[code]
it returns
[code]

In `pandas.core.groupby.generic.py` it says

        # unique observations are where sorted values change

[2019-08-16 16:54] MarcoGorelli commented on #27904
One solution (see #27951 ) could be to drop the null values _before_ letting numpy do the sorting?

[2019-08-16 17:56] adamhooper opened #27952 "`series.dt.tz_localize()` on Categorical operates on categories, not values"
#### Code Sample, a copy-pastable example if possible

[code]

Produces:

[code]

#### Problem description

`.dt.tz_localize()` is operating on `categorical.cat.categories`. It should be operating on `categorical.astype('datetime64[ns]').values`. This is just plain wrong.

#### Expected Output

According to [Categorical docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

[2019-08-16 17:59] TomAugspurger opened #27953 "DataFrame constructor fails with extension dtype and columns"
I *think* this should be supported.

[code]

**Expected Output**

[code]

[2019-08-16 18:33] TomAugspurger commented on #27902
https://github.com/pandas-dev/pandas/pull/27909 doesn't fix it :/

[2019-08-16 18:38] Salompas commented on #27892
What is the desired behavior here? Some possibilities:
- Drop the columns that have an `object` data type;
- Drop the columns that have an `object` data type, but warn the user about the use of `quantile` (something similar to `numpy` warnings when applying log to a list that contains zero);
- Do not drop the column, but have a column with NaNs;
- Interrupt execution.

[2019-08-16 18:41] thouston opened #27954 "Two bugs with datetime and df to and from csv files"
1- If index in a df is datetime.date format, when you export it to csv files it returns as timestamp with date and 00 for hours, minutes seconds

2- If column type in dateframe is %b-%y when you export it to csv and back it converts the year to day and each value is current year.

[2019-08-16 18:42] mahdirajabi96 commented on #27456
Any updates on this ticket? anything else needed from me? Just trying to make sure that it will be addressed. Thank you all.

[2019-08-16 19:03] jorisvandenbossche opened #27955 "DOC/TST: update the parquet (pyarrow >= 0.15) docs and tests regarding Categorical support"
Wes is doing great work in Apache Arrow on parquet's categorical support, which means that roundtripping to parquet with `to_parquet`/`read_parquet` will preserve categorical dtypes (and with a much better performance as before).

See https://issues.apache.org/jira/browse/ARROW-3246 (and linked issues), https://github.com/apache/arrow/pull/5110

We will need to:

- update the tests for pyarrow to

[2019-08-16 19:05] jreback commented on #27456
@mahdirajabi96 if you can investigate would help this along

[2019-08-16 19:10] TomAugspurger commented on #27902
Very strange.

![Screen Shot 2019-08-16 at 2 07 17 PM](https://user-images.githubusercontent.com/1312546/63191932-690d8380-c02f-11e9-8cca-b1395fbdb6d6.png)

We have `res = f(group)`, where `f` is (AFAICT) `lambda x: np.mean(x)`.

I have no idea what's going on.

Given that it's an only observed on older NumPy's (right?) maybe we just skip for NumPy 1.14?

[2019-08-16 19:16] TomAugspurger commented on #27902
xref #27902 too.

[2019-08-16 19:33] TomAugspurger commented on #27954
Can you provide a minimal example: http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports and fill out the issue template?

[2019-08-16 20:06] #27902 closed

[2019-08-16 22:06] amerberg commented on #27036
I believe this bug is caused by the following two factors:

1. `register_matplotlib_converters` is not idempotent. Calling the function once stores the existing converters in a cache. Calling it a second time overwrites that cache with the newly-registered converters.

1. Importing anything from `pandas.plotting._core` forces a call to `register_matplotlib_converters`.

The first call to `register

[2019-08-17 00:10] tinksume commented on #11787
I am working on this as part of Walmart PandasHack

[2019-08-17 00:59] emattiza commented on #23086
I'll take a shot at getting this one documented!

[2019-08-17 01:12] itssujeeth commented on #24784
As part of #pandashack2019, planning to work on this issue.

[2019-08-17 01:20] steveayers124 commented on #10446
Now working on this for #PandasHack2019

[2019-08-17 01:30] ghost711 commented on #18066
I was looking for a way to use ANSI color codes in the terminal or qtconsole for a long time, and finally put this together.

It's too hacky for a pull request, but it solves my problem, so I thought I'd post it in case it helps anyone else.

You can replace the "TextAdjustment" class with the version below in this file:
lib/python3.6/site-packages/pandas/io/formats/format.py

`
class TextAdjustme

[2019-08-17 01:55] steveayers124 commented on #24173
Now working on this for #PandasHack2019:
Fernando Salazar, Shreeram Vaidhayanathan, Steve Ayers

[2019-08-17 02:16] chdwql commented on #27931
#### code example
[code]
#### I have found the problems, please fix it.
The problem happens when the date index is not continuous, in the example above, I delete several row, and the xtick went wrong.

[2019-08-17 07:26] subhrajitb commented on #26314
You can download the ratings.csv file from
https://www.kaggle.com/grouplens/movielens-20m-dataset

Then create a pivottable as below to reproduce the problem:
pivotTable = ratings.pivot_table(index=['userId'],columns=['movieId'],values='rating')

[2019-08-17 14:48] DalynnHatch commented on #27954
Hey, my team and I from the PandasHack2019 in Bentonville were hoping to take a stab at reproducing these bugs and provide some more insight on what the problem is.

[2019-08-17 18:46] rmunjal29 commented on #27178
https://github.com/pandas-dev/pandas/pull/27964

[2019-08-17 19:00] ai006 commented on #27117
my team and I from the PandasHack2019 in Bentonville were hoping to tackle the issue by implementing the 2nd option as well.

[2019-08-17 19:08] bhavaniravi opened #27971 "DOC: Save File Image not found when generating Docs in parallel"
#### Problem description

As a part of #27804 I tried adding `num-jobs=4` while generating docs. But the doc generation part fails since `doc/source/whatsnew/v0.7.3.rst` file refers to an image in `../savefig/scatter_matrix_kde.png` which is not generated from `doc/source/user_guide/visualization.rst`

#### Proposed solutions

Few solutions from the top of my mind
1. We can move these referenced f

[2019-08-17 19:15] datapythonista commented on #27971
Since 0.7.3 is more than 7 years old, I think removing the 3 plots from the release notes is all right: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.7.3.html

CC @TomAugspurger

[2019-08-17 19:29] JeanRoca commented on #27954
My team has tried reproducing this issue and so far we have been unsuccesful. We have tried using Pandas 0.25.0, 0.24.0, 0.20.3, 0.18.0 with the following code:

[code]
This generates the following csv file that does not have the date converted to a timestamp:

[code]

[2019-08-17 21:18] datapythonista opened #27976 "Fix PR02 issues in docstrings"
Fix the docstrings where an unknown parameter is documented (likely that they are typos, errors in the parameter format...).

Current errors:
[code]

[2019-08-17 21:19] datapythonista opened #27977 "DOC: Fix formatting errors in docstrings"
Historically, there was no validation on how docstrings were written. Some conventions were usually followed, but as the project grew, it was more difficult to ensure that all the API documentation pages are consistent, and don't have mistakes.

For the last two years, we've been implementing all sorts of validations to make sure every class, method, function and attribute is correctly documented.

[2019-08-17 21:43] steveayers124 commented on #27977
@datapythonista, thanks so much for your advice. We'd been attempting to eliminate duplication of effort, but needed a better method.

[2019-08-17 23:09] thouston commented on #27954
It occurs randomly when  a date of the form is sent to a csv from the %b-%y
datetime format ie. Jan-18, Feb-18, etc.

If you import the csv and modify it daily eventually it occurs that the
year is read as a day.  I work around it by converting to stings, ex
'Jan-18', 'Feb-18' etc and converting back each time

On Sat, Aug 17, 2019, 21:30 JeanRoca, <notifications@github.com> wrote:

[2019-08-17 23:11] realjohnward commented on #27655
@JobCollins Can you attach a sample csv file you used as "filename"?
`    elif filename.endswith('.csv'):
        file_df = pd.read_csv(filed, encoding='utf-8')`

[2019-08-17 23:46] Aya-S opened #27979 "Fixing docstrings that don't end with a period"
Fix the following docstrings and make them end with a period to follow the pandas convention.

[code]
Issue noted by @datapythonista

[2019-08-18 00:02] galuhsahid commented on #27955
I'd like to work on this

[2019-08-18 00:15] mroeschke commented on #27952
The line that needs fixing is here:

https://github.com/pandas-dev/pandas/blob/9f93d57025d7b906de6956f287b71cd18c17b13d/pandas/core/indexes/accessors.py#L327

PR's welcome!

[2019-08-18 00:24] JeanRoca commented on #27954
We were referring to the first issue you mentioned.

[2019-08-18 00:33] TomAugspurger commented on #27971
Sounds good.

[2019-08-18 02:41] steveayers124 opened #27986 "DOC: Fix some GL01/GL02 docstring errors"
Fix docstring GL01/GL02 errors, i.e. text that isn't on the next line after opening `"""` and followed immediately by the line with closing `"""`.

<details>
For the following files:

pandas/conftest.py
pandas/io/html.py
</details>

[2019-08-18 02:42] steveayers124 commented on #27986
Working this

[2019-08-18 04:23] iamshreeram commented on #27979
@Aya-S , Looking into it.

[2019-08-18 05:30] thouston commented on #27954
It is similar, for example if you have a csv from a df with a day (not
timestamp) ex. 2019-03-28. 2019-03-29 etc. and then create and new df with
the curves, it can pull in as timestamp of the date plus zeros.

ex. Curves = pd.read_csv('Curves.csv', index_col=0, parse_dates=True,
infer_datetime_format=True)

and then to illustrate:

DoD = Curves.to_dict('index')
DoD

Gives:

{Timestamp('2019-04-05

[2019-08-18 08:23] #27971 closed

[2019-08-18 10:26] H-peace commented on #23050
look here,this Error:help me
![Error](https://user-images.githubusercontent.com/50518450/63223274-aca9ee00-c1e5-11e9-8ecf-e23d47d46f02.png)

[2019-08-18 10:57] shubhparekh commented on #8918
Saw below code in Kaggle XGBoost tutorial. Found helpful

``
X_train = pd.get_dummies(X_train)
X_valid = pd.get_dummies(X_valid)
X_test = pd.get_dummies(X_test)
X_train, X_valid = X_train.align(X_valid, join='left', axis=1)
X_train, X_test = X_train.align(X_test, join='left', axis=1)

[2019-08-18 11:10] Aya-S commented on #27979
Would like to attempt this myself :D

On Sun, Aug 18, 2019, 6:24 AM Shreeram Vaidhyanathan <
notifications@github.com> wrote:

[2019-08-18 13:16] dsaxton commented on #5755
I wrote out a separate issue for `size` (using `pandas` 0.25) and then found that this has been open for a while.  My expectation would be that this would create a separate column (especially given that one of the common uses of `as_index=False` is to facilitate subsequent joins), perhaps with the counts simply being labeled `"size"`.  Could it make sense to follow this naming pattern with some of

[2019-08-18 13:38] katsuya-horiuchi opened #27994 "DataFrame.drop with empty DatetimeIndex behaves differently than passing empty Index"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
When calling `drop` for dataframe with DatetimeIndex, the function may raise an exception. See the following traceback:
[code]

This can be avoided by not using `DataFrame.drop` like this:
[code]
But nonetheless I'm reporting the issue as I expect `drop` to not raise the exception.

#### Output of ``pd.show_vers

[2019-08-18 13:54] andrewgsavage opened #27995 "Infer ExtensionDtype based on object"
Would it be possible to infer ExtensionDtypes based on the objects inside a list/array that are used to construct a series?

Eg with an array of pint's Quantity objects:
[code]
Could pandas infer the dtype as PintType in this command?:
[code]

[2019-08-18 14:39] slsongge commented on #10611
I hit this bug as well, and I found a solution that add one ax.

https://stackoverflow.com/questions/52631031/make-pandas-plot-show-xlabel-and-xvalues

![image](https://user-images.githubusercontent.com/36298417/63225944-e0e2d600-c208-11e9-9c6e-a6642022cfa3.png)

[2019-08-18 17:46] nono-london commented on #13141
Hi,
I am working exactly on the same type of project on SEC, and have same issue.
I was going through pandas doc and wondered is could be done using converter and a bs4 function to get href, or if converters will the the "text that is hyperlinked", which I suppose it will...

[2019-08-18 20:49] alik604 opened #28004 "Feature request: DataFrame.mse()"
#### Code Sample
[code]

#### Problem description

I think there is a need for a `df.mse()`, similar to how there is a `df.corr()`. I have attached my own code and output to illustrate output and a very elementary implementation.

_My apologies if this is not the proper way to submit a feature requests. I would have made this a pull, however, I doubt the quility of my code_

#### Expected Output

[2019-08-18 22:07] datapythonista commented on #26831
@stijnvanhoey I was checking the notebooks, and as I said when we first discussed, I think we should have tutorials in the documentation, understanding by tutorial a notebook that shows end to end how to solve a real-life problem.

Not opposed at all to have what you are building, shorter and more focused on the features. But I think some users will appreciate to have what I propse. To me personal

[2019-08-18 22:14] asosnovsky commented on #21910
I compiled a solution where I check the data provided during __init__, in this [PR](https://github.com/pandas-dev/pandas/pull/27999), however, it looks like their testing pipeline is setup to support multiple py-versions. So I may need a bit more time to make this happen.

[2019-08-18 22:20] mroeschke commented on #27994
Your example is equivalent to `df.drop([])`. Our documentation states that we should be raising a `KeyError` instead in this case since `[]` in not found in the axis : https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

[2019-08-18 23:15] mar-muel opened #28005 "Explode on identical index causes duplication"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
I'm not sure if this is expected behaviour. But it took me slightly off guard when I had a datetime index with occasionally identical timestamps. This is the output I expected:
[code]
Thanks for your work on pandas! Apologies if this is actually normal behaviour.

#### Output of ``pd.show_versions()``

<details>

[2019-08-19 02:55] RainFung opened #28007 "OverflowError: value too large to convert to int"
#### Code Sample, a copy-pastable example if possible

[code]

#### Output of ``pd.show_versions()``
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.7.final.0
python-bits      : 64
OS               : Linux
OS-release       : 3.10.0-693.5.2.el7.x86_64
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : zh_CN.utf8
LANG

[2019-08-19 02:55] TomAugspurger commented on #28005
Hmm thanks for the report. Duplicating like this probably isn't deliberate...

[2019-08-19 02:55] RainFung commented on #28007
This is my df.info()
[code]

[2019-08-19 07:41] daveknave commented on #20377
Hello everyone,  I think I have encountered that same issue while using `read_fwf`. NaNs are being converted to `'nan'` rather than `np.nan()` when `dtype=str` is set.

It would be great, if the behavior were consistent with `read_csv` for this one as well. Since it seems to be exactly this issue, I didn't want to open a new one.
I am using Python 3.6 panda 25.0.0

Best David

[2019-08-19 08:29] Daletxt commented on #27575
ModuleNotFoundError: No module named '_lzma':
Oh,shit! This problem killed my whole day!
0.25.0 has this error however 0.24.2 is OK!
I rollback 0.24.2 version.

[2019-08-19 09:25] stijnvanhoey commented on #26831
I do think this is complementary to the [getting started notebooks, aka 10x1'](https://github.com/stijnvanhoey/pandas-getting-started-tutorials/tree/master/notebooks) material, serving a different purpose.  The end-to-end provide an idea about the _capabilities_ (what sort of tasks can I do with the tools provided by Pandas), whereas he 10x1' to pandas provides an introduction/gateway to the main

[2019-08-19 11:43] #27884 closed

[2019-08-19 11:46] TomAugspurger commented on #26969
I'm not sure. Are you interested in debugging those?

We'll still need a way to handle multi-modal groups. I'm not sure what's best here. We don't want data-dependent behavior (i.e. only raising when there happens to be multiple modes). But I'm not sure we want a different default way of handling multiple modes.

[2019-08-19 11:55] katsuya-horiuchi commented on #27994
Thank you @mroeschke

My initial thought was the issue is caused by duplicated values in index (i.e. `pd.Timestamp('2019-01-01')`).
However, the following will work despite duplication in the index:
[code]

So I'm wondering if this difference was intentional.

[2019-08-19 12:00] MarcoGorelli commented on #28005
Seems to only happen to frames (not series):

[code]

[2019-08-19 12:28] bartkim0426 commented on #26974
@TomAugspurger  I try to modify code - make a warning for invalid kwargs.
Then we have to specify a list for correct kwargs - and should check every kwargs that they're in the correct list. Is this what you're going to change? I can't find python code that warns with invalid kwargs. Please give detail thinking about it. Thanks!

[2019-08-19 12:39] bartkim0426 commented on #27772
@yuylyp
Can you explain more about the specific condition?
I tried to fix this while the sprint in pycon 2019 Korea. While making a test code, I figured out that I can't reproduce this problem with test code because `read_excel` doesn't have skip_blanklines.
Since I'm not a hard user of pandas, I can't specify the condition for this problem. It will be very helpful to give a clue.

[2019-08-19 12:56] TomAugspurger commented on #26974
Here's how I might do this:

1. Ensure that every Index subclass does *not* take `**kwargs`.
2. Make the named arguments in `Index.__new__` just the arguments that are accepted by all subclasses (maybe treat `tupleize_cols` specially, since it's not meant to be passed through)
3. Always pass `**kwargs` through to the subclasses constructor. This validates `**kwargs` for us when we're returning a s

[2019-08-19 13:02] TomAugspurger opened #28011 "Flaky xfail on master"
e.g. https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=16270

[code]

xref https://github.com/pandas-dev/pandas/pull/27715.

Can you take a look @jbrockmendel?

[2019-08-19 13:06] #27575 closed

[2019-08-19 13:07] TomAugspurger commented on #28007
That exception seems to come from pytables. Is it a bug / limitation there? Or are we using pytables incorrectly?

[2019-08-19 13:35] yuylyp commented on #27772
@bartkim0426
for example, while the name of 1-level index or names of multiindex is(are) none/ empty or others which indicates the empty string, the statement (self.rowcounter += 1) shouldn't be executed.
while we add those condition, it will works well as we thought.

[2019-08-19 13:59] jamsden opened #28013 "Add Styler.applyformat to set values instead of styles"
I have a DataFrame that has multiple pairs of columns that are are title and URL. I would like to be able to render this table by converting the title to an anchor: `<a href=URL>title</a>`.

Styler.format doesn't support this because the function only provides one value for a column and the format spec string doesn't support URL links.

Here's what I'd like to be able to do:
[code]
That is, applyf

[2019-08-19 14:13] RainFung commented on #28007
It passed when i reduce data amount...
[code]

[2019-08-19 15:29] jbrockmendel commented on #28011
will do, this has been bothersome

[2019-08-19 15:58] TomAugspurger commented on #28007
That makes sense given the error.

[2019-08-19 15:59] jasonbono commented on #18755
Some of the workarounds may work, but it's an inconvenient bug that I'm, and presumably others, are still encountering. Does anyone know if the actual bug is being address?

[2019-08-19 16:12] TomAugspurger commented on #18755
I don't think anyone is working on this right now. Are you interested @jasonbono?

[2019-08-19 16:14] TomAugspurger commented on #28013
Can you make a minimal example? Does this require whatever your `client` is?

[2019-08-19 16:19] jasonbono commented on #18755
That's good to know--thanks. I can't promise to try and fix it right now, but that is part of why I asked.

[2019-08-19 16:23] #23779 closed

[2019-08-19 16:23] jamsden commented on #28013
client isn't relevant to the proposal, just copied from my example.

I'll make up another example that is minimal.

[2019-08-19 16:30] jbrockmendel commented on #27995
There has been some discussion about this, and so far the consensus is that this would be worthwhile if we can find a performant way to implement it.  A PR with a proof of concept might be helpful.

[2019-08-19 16:32] TomAugspurger commented on #13141
Probably in scope. I don't think anyone is working on this.

It seems like https://github.com/pandas-dev/pandas/issues/14608 has the start of a proposed API.

[2019-08-19 16:37] TomAugspurger commented on #28004
Probably out of scope for pandas. We don't really do statistical modeling inside pandas.

[2019-08-19 16:40] TomAugspurger commented on #27995
This probably boils down to

[code]

being able to return an extension type. Then things should work pretty much everywhere in pandas.

Also, don't do `df.elevation = array_of_qty` (That should be triggering a warning) 😄

[2019-08-19 16:50] TomAugspurger commented on #27931
This probably comes down to whether or not we use pandas' custom formatters.

[2019-08-19 16:52] TomAugspurger commented on #26314
We won't be able to include downloading that dataset in a unit test. I assume this can be reproduced with the right style of random data? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-19 17:03] mroeschke commented on #27994
Ah I see. Thanks for the counter example. I agree then I would expected passing an empty `DatetimeIndex` to operate the same as passing an empty `Index`.

[2019-08-19 17:07] TomAugspurger opened #28015 "RLS: 0.25.1"
Sometime this week, though we have a few outstanding issues I think: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+milestone%3A0.25.1

I've tentatively targeted Wednesday.

Does anyone want to do this actual release work? Otherwise, I can.

[2019-08-19 17:13] TomAugspurger commented on #27892
Ideally, we would match the 0.24.2 behavior. That can roughly be described as "attempt the quantile, but skip any columns that raise an error". But that may not be easily doable with the new quantile implementation.

[2019-08-19 17:14] TomAugspurger commented on #27892
I'm not sure anyone will get to this before 0.25.1. I'll leave it at that milestone, but we can push if needed.

[2019-08-19 17:16] TomAugspurger commented on #27781
Removing from the 0.25.1 milestone, but if anyone is working on this LMK and we can probably get it in.

[2019-08-19 17:17] TomAugspurger commented on #27853
Closing as a duplicate.

[2019-08-19 17:17] #27853 closed

[2019-08-19 17:20] #27636 closed

[2019-08-19 17:51] Salompas commented on #27892
When will 0.25.1 be released? I will try to understand what is happening with the quantile function.

[2019-08-19 18:29] #28011 closed

[2019-08-19 18:29] TomAugspurger commented on #27892
0.25.1 is targeted for this Wednesday.

On Mon, Aug 19, 2019 at 12:52 PM Guilherme Salomé <notifications@github.com>
wrote:

[2019-08-19 18:59] jamsden commented on #28013
[code]
	Company	Size
0	IBM	large
1	Microsoft	large
2	Apple	large
3	OASIS	small

[2019-08-19 19:05] jamsden commented on #28013
Note that I am very new to Python and jupyter notebooks, so there may be a better way to do what I'm trying to accomplish.

[2019-08-19 19:15] TomAugspurger commented on #28013
Thanks. I don't understand the bug / feature request (which is it?). What isn't working properly?

DataFrame.style is for displaying the results. If you're wanting to change the values, that should be done before calling `.style`.

[2019-08-19 19:26] #27865 closed

[2019-08-19 19:26] yarikoptic commented on #2485
My use case would be adding a description to "indicator variables"  (just 0/1) which are otherwise look like `var#1`, `var#2` etc, and I do not want to pollute those names with potentially long values they actually stand for.

[2019-08-19 19:47] jamsden commented on #28013
Its a new feature request: Styler.applyformat method with the same signature as Styler.apply, but effects the data displayed, not the style used to display the data.

Most Styler methods effect the CSS style applied on an element when its rendered, not the element itself. Styler.format can change the format of the element's value, but it doesn't have access to multiple column values, and doesn't h

[2019-08-19 20:22] jbrockmendel commented on #28015
I'm going to try to get #27464 fixed before then

[2019-08-19 21:25] charlesdong1991 opened #28021 "Update the finder tests in datetimelike file"
xref: #27993

Based on the findings, tests on `finder` should be updated/corrected/removed.

[2019-08-19 22:52] dazza-codes opened #28022 "[Feature Request] pd.DataFrame.schema iterable"
#### Code Sample, a copy-pastable example if possible

[code]

Currently this is only available by using a pyarrow table, e.g.
[code]

It requires extra code to distinguish between index columns and other columns.
[code]

#### Problem description

- the df.info() is not iterable, it just prints information
  - also, it has no dtypes for the index columns

- the df.dtypes is a Series but it's not a

[2019-08-19 22:59] jasonmahr opened #28023 "BUG: Series.loc[list] with uint64 keys raises KeyError (converted to floats)"
[code]
#### Problem description

This code throws KeyError even though clearly both keys are present in the index, as the asserts demonstrate. It is essential for the bug that there is a repeated element in the index (not the one being extracted). The bug disappears if the values are smaller; perhaps it's some kind of a type cast thing that makes the values not found?

#### Expected Output
7.60674

[2019-08-20 01:49] jbrockmendel opened #28025 "DES: Q about SparseDataFrame._combine_match_columns behavior"
There is some idiosyncratic behavior that I think is non-intentional, need to double check: cc @jreback introduced the relevant code 8ee0a898a74df38318dfd01b6f9faa7957b0543c

SparseDataFrame._combine_match_index and SparseDataFrame._combine_match_columns are both for arithmetic ops with a Series object, but with different alignment treatment.  When calling the constructor, combine_match_index pass

[2019-08-20 02:44] EunSeop opened #28026 "DOC: Fix python code error in enhancingperf"
#### Problem description
![image](https://user-images.githubusercontent.com/6908807/63313152-7e8bf180-c33e-11e9-84a4-739a79e5436d.png)

This screenshot is in  `pandas 0.25.0 documentation`, https://pandas.pydata.org/pandas-docs/stable/user_guide/enhancingperf.html#using-ndarray

Current code is
[code]
`%prun` takes only single line, so it can be
[code]
or use `%%prun`
[code]

#### Expected Output

[2019-08-20 06:38] jorisvandenbossche commented on #28025
Can you give an example of the difference in behaviour?

(side question: what does DES mean?)

[2019-08-20 06:42] jorisvandenbossche commented on #28023
Thanks for the report!

As a workaround, you can pass the list as an index:

[code]

The reason that it is failing is because the list with values is converted to a float array of labels (this is the default behaviour of `np.array(..)`, but in the `pd.Index(..)` constructor we have a special path to check for large ints and to automatically infer a uint64 dtype).
So to fix this bug, we need to use

[2019-08-20 12:32] msAlcantara opened #28033 "SettingWithCopyWarning in pandas code"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`SettingWithCopyWarning` in pandas code

#### Output

[code]

#### Output of ``pd.show_versions()``
<details>

In [2]: pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.15.0-58-ge

[2019-08-20 12:57] TomAugspurger commented on #28033
It's not clear what you're reporting. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-20 13:08] pratham2003 commented on #14553
I have a similar requirement where I want to update existing data in a MySQL table from multiple CSVs over time.

I thought I could df.to_sql() the new data into a newly created **temporary table** and then run a MySQL query to control how to append/update data in the **existing table**.

MySQL Reference: https://stackoverflow.com/questions/2472229/insert-into-select-from-on-duplicate-key-update?a

[2019-08-20 13:36] zogzog opened #28034 "REGR: Index.union should pick correct dtype for combinations of tstamps with different tzones"
Here's a pdb session showing the issue:

[code]
With pandas 0.24 I got back an index with a `dtype='datetime64[ns, UTC]'`

This looks a bit like a cousin of https://github.com/pandas-dev/pandas/issues/26778

[2019-08-20 13:42] #28033 closed

[2019-08-20 13:43] msAlcantara commented on #28033
It's a problem in code example

[2019-08-20 13:57] TomAugspurger commented on #28034
I think that was a deliberate change: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#incompatible-index-type-unions.

cc @ArtinSarraf if you recall whether mix of datetimetz was discussed.

[2019-08-20 13:59] jbrockmendel commented on #28025
I was thinking "Design", maybe there's a better abbrev

Well if I change _combine_match_columns to use _get_op_result_fill_value like the others, exactly one test fails and that is with a NotImplementedError in _get_op_result_fill_value because it doesn't know what to do when `other` is a Series.  Editing _get_op_result_fill_value to return self.default_fill_value in that case makes sense.

[2019-08-20 14:00] #27482 closed

[2019-08-20 14:04] TomAugspurger commented on #27655
This seems out of scope for pandas. I'd recommend using a library like [chardet](https://pypi.org/project/chardet/) to determine the encoding ahead of time.

[2019-08-20 14:11] TomAugspurger commented on #27954
@thouston can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports? You should be able to use `io.StringIO` to construct the values in the csv, and pass that to `read_csv`.

[2019-08-20 14:18] TomAugspurger commented on #28021
@charlesdong1991 I copied your comment from https://github.com/pandas-dev/pandas/pull/27993#discussion_r315299013 into the original issue. Hope that's OK.

Do you still have the actual code snippets, rather than the text? It'd be nice to have them around.

I do agree that the "after your change" behavior looks correct.

[2019-08-20 14:18] #27686 closed

[2019-08-20 14:26] #27479 closed

[2019-08-20 14:30] charlesdong1991 commented on #28021
ahh, thanks for editing, I should have done more on description. @TomAugspurger

what do you mean by actual code snippets?

[2019-08-20 14:30] charlesdong1991 commented on #28021
and PR for this test is coming!

[2019-08-20 15:22] TomAugspurger commented on #28022
Would a `DataFrame.dtypes(include_index=True)` solve this for you?

Though, in general, I agree that a simple schema data structure would be nice to have.

[2019-08-20 15:22] jorisvandenbossche commented on #28025
But not sure we should do that? If this changes the behaviour, or has the risk to do so, why not leave the deprecated code alone?
If this is a bottleneck in cleaning up the ops code (because it is now shared between normal and sparse frame), then I would rather isolate the code that is needed for sparse and keep that as is, and refactor the rest as you want without needing to care about SparseData

[2019-08-20 15:41] datapythonista opened #28038 "DOC: Remove docs code header and use explicit imports in the docs"
I've been discussing with the Binder team, and looks like it'll be possible soon to make the pandas examples in the docs runnable directly from the docs.

I think this will be amazing, but I think it's one more reason to start being explicit and self-contained with the docs. One option is of course that the trickiness we have now on importing things translate to Binder, and we automatically inject

[2019-08-20 16:04] ngrsdhbw opened #28039 "Bug: Resample removes timezone localization from Period.start_time"
#### Code Sample

[code]
#### Problem description
All the Periods in the resampled PeriodIndex should have their start_time and end_time TimeStamps set with the correct Timezone.
Since the the DateTimeIndex was tz aware the attributes in the PeriodIndex should be too.
This is probably related to #13238 and #15777
#### Expected Output
Europe/Berlin
Europe/Berlin
Europe/Berlin
#### Tested Version
pa

[2019-08-20 16:16] zogzog commented on #28034
I've seen the "incompatible types" discussion but I feel like this is going too far. Admittedly this is an edge case.

[2019-08-20 16:22] TomAugspurger commented on #28034
The ints and float case is a reasonable analogy. But with ints & floats
it's not clear (to me) that the loss
of precision for integers is the best outcome. You could make a similar
argument for datetimetz and
daylight savings issues, when combining multiple timezones.

On Tue, Aug 20, 2019 at 11:16 AM Aurélien Campéas <notifications@github.com>
wrote:

[2019-08-20 16:47] mroeschke commented on #28034
I agree that this is a deliberate change in the right direction as to prevent the loss of original timezone information akin to this change back in 0.24.0: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.24.0.html#parsing-datetime-strings-with-timezone-offsets

You can always `to_datetime(..., utc=True)` to coerce your result to UTC.

[2019-08-20 16:55] mroeschke commented on #28039
We normally show a warning when converting a tz aware Timestamp to a Period (applied in https://github.com/pandas-dev/pandas/pull/22549)

[code]

Guess in this case the warning is not being surfaced.

[2019-08-20 17:45] #26793 closed

[2019-08-20 17:45] #27464 closed

[2019-08-20 18:16] TomAugspurger commented on #28038
+1 for removing the `{{ header }}` stuff in favor of explicit imports.

I disagree here. Let's keep that as a separate issue.

[2019-08-20 18:51] diazgilberto commented on #27543
I have the same problem...

![Screen Shot 2019-08-20 at 1 49 47 PM](https://user-images.githubusercontent.com/9165819/63375485-7c7f5e00-c351-11e9-9dd6-50c2474ce2d2.png)

[2019-08-20 18:57] TomAugspurger commented on #27900
I briefly looked into this. Didn't see an easy way to avoid the warnings.

[2019-08-20 19:02] #26385 closed

[2019-08-20 19:19] RahulRAhhy123 commented on #18755
@jasonbono

you can convert datetime column to separate date, separate month and separate day column respectively. Finally, get rid of your datetime column and make sure new columns are of integer type.

[2019-08-20 19:32] TomAugspurger commented on #27543
It's fixed in master. Releasing 0.25.1 in a few days with the fix.

[2019-08-20 19:34] ikilledthecat commented on #28023
Hey @jorisvandenbossche I took a look at the code. The error stems from a curios piece of code(line 307 in core/indexes/numeric.py)
[code]

[2019-08-20 19:35] dargueta opened #28045 "Integer overflow in Series.astype('datetime64[D]')"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

It appears that `astype('datetime64[D]')` breaks on the earliest representable full day -- it wraps around to the latest representable date.

While I know this is super edge case-y and highly unlikely to be worth a lot of time, the fact that it wraps around is indicative of a potential for integer overflow some

[2019-08-20 19:44] jbrockmendel commented on #28025
Streamlining the code in ops we should definitely do for performance reasons.  So whether to do the consolidating vs the copy/pasting depends on the degree of invasiveness, and in this particular case the sharing approach is much less invasive.

[2019-08-20 20:40] jorisvandenbossche commented on #28038
Also +1 on explicitly doing and showing the imports.
We could also see if they can be simplified. Eg `randn = np.random.randn` could be fixed for all occurences to use the full version. And maybe `pd.options.display.max_rows = 15` can be removed with the shorter default nowadays (although if the examples use a length of eg 50, that would still be shown).

And also agree with keeping the alias disc

[2019-08-20 21:37] paul-lilley commented on #20927
Hi @sunilkalmadi
Sorry for the long delay replying, I've now developed a fix and will create a pull-request for it.

[2019-08-20 21:39] vlbrown opened #28046 "DOC: DataFrame.plot is missing most of the docstring"
In the pandas 0.25.0 docs, at
[pandas.DataFrame.plot.html](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html)

#### Problem description

The page is essentially missing. The only content is

[code]

#### Expected Output

It should look like [0.23.4 DataFrame.plot.html](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.plot.html)

[2019-08-20 21:41] datapythonista commented on #28038
Sorry for mixing things. I think there is agreement on this one, for the user guide. I was also considering the API, but I'll also open a separate issue for that, so we keep the discussions focused. Thanks for the feedback.

[2019-08-20 21:43] TomAugspurger commented on #28046
@datapythonista do you think this is related to the backend refactor?

[2019-08-20 21:49] datapythonista commented on #28046
It's very likely. A bit weird, because I remember checking that the accessors kept the documentation, but may be I changed more things after I did. I'll have a look at it tomorrow.

Thanks for reporting @vlbrown

[2019-08-21 00:55] darrenleeweber commented on #28022
Yes, good suggestion if that is easier to implement, like `DataFrame.dtypes(include_index=True)` gets far enough to a fix for this, although the details might add more API options or attributes on the `dtype` object returned, e.g.

[code]

Not particularly opinionated about the naming of `dtype_obj` vs. `schema_obj`, although `pyarrow` is using a `schema` concept and token.  The feature request fo

[2019-08-21 01:39] jbrockmendel opened #28050 "NUM: inequality with complex dtypes"
TL;DR: our comparisons with complex dtypes are not internally consistent:

[code]

----
Digging into this...

numpy has some surprising behavior for comparing complex dtypes:

[code]

I would expect these inequalities to be undefined, and in fact, if we cast to object we get a TypeError:

[code]

That's the behavior I expected in the first place, but then trying it on just the scalars:

[code]

[2019-08-21 03:11] lshepard commented on #9784
Hi! I jumped in on the "good first issue" label and put up a PR to solve this. Feedback very welcome.

[2019-08-21 04:25] jreback commented on #28022
we have long had https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html?highlight=select_dtypes and have the .dtypes attribute so -1 in adding anything else

[2019-08-21 04:31] jreback commented on #28038
why the move to remove header macro? IIRC this was put in place to make sure that all of the imports are exactly the same everywhere on each doc section

this seems like churn for no gain

[2019-08-21 04:45] jreback commented on #28039
slight OT: the kind arg to resample should be deprecated  as this is a very confusing api and you should convert to a PI if that is what you want. the implementation currently is very opaque.

[2019-08-21 06:36] JobCollins commented on #27655
I tried uploading the csv file but the system does not support the file extension.

[2019-08-21 06:43] #28026 closed

[2019-08-21 06:45] JobCollins commented on #27655
My plan was to create an automated web app that loads and preprocesses data in python. I have checked out [chardet](https://chardet.readthedocs.io/en/latest/usage.html) and it seems like an appropriate utility in this case. I understand this is outside pandas scope but wouldn't it be nice to have this just in case another use encounters the same problem.
I have helped guys with the same issue on U

[2019-08-21 07:15] mir06 opened #28055 "ValueError: buffer source array is read-only on DatetimeIndex with one element"
#### Code Sample

[code]
#### Problem description

The above code raises a `ValueError: buffer source array is read-only` during the iteration over the `DatetimeIndex`.

**Note**: This code snippet is just for demonstration. Read-only arrays are generated e.g. from an xarray `broadcast`.

This did not happen for pandas<=0.25.0

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

[c

[2019-08-21 08:09] trendelkampschroer opened #28056 "(df==0) vs. (df.values==0) performance penalty"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am using the boolean frame `df == 0` to find and set zeros in a given DataFrame `df`, i.e.
df[df == 0] = FOO, where FOO is some nonzero integer.

I found that using the expression df[df.values == 0] = FOO gives a significant speed-up.

I am wondering if the large overhead of (df == 0) compared to (df.values =

[2019-08-21 08:48] OliverHofkens commented on #24357
I think I've managed to reproduce and track down this issue:

[code]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>a</th>
      <th>b</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0</td>
      <td>123.0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2.0</td>
      <td>123.0</td>
    </tr>
    <tr>

[2019-08-21 09:12] datapythonista commented on #28038
The code in the header is hidden, and we implemented the union of all the blocks with imports, seeds... to avoid duplication, and because having a huge header file in every file was transparent to the user.

The rendered header added a problem that is that Sphinx doesn't report the right line for the errors anymore (it reports the line on the rendered file, but we look for the error in the templat

[2019-08-21 09:37] jreback commented on #28038
we’ll i still would have a fixed header of imports; having consistency in the docs overrides all other issues ; it easily becomes a mess without enforcement via CI

[2019-08-21 09:41] hwalinga commented on #27017
@jreback Do you want me to open a PR, or will you close this as a 'wontfix'?

[2019-08-21 09:41] datapythonista commented on #28038
Now we validate in the CI that Sphinx doesn't generate warnings, so if an import is missing the CI should fail.

[2019-08-21 09:47] huangsongjue opened #28057 "Does read_hdf() in v0.25 really support "file-like object" as it claims?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
 https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_hdf.html says:

            By file-like object, we refer to objects with a read() method, such as a file handler (e.g. via builtin open function) or StringIO.

#### Somehow when I was trying to  use a 'file-like object', just as in pd.read_

[2019-08-21 09:47] jorisvandenbossche commented on #28038
Note that this is only for the doc *build*, as it is about a hidden code block right now. And then @datapythonista is correct that this is now validated in CI that the doc build runs correctly.

Part of the proposal is also to make it no longer a hidden code block. So there we also need to ensure that what we show to the users is somewhat consistent throughout the user guide. But I think we can ce

[2019-08-21 09:50] ngrsdhbw commented on #28039
@mroeschke I am not getting any warning. Neither in the Python 3.6 Console nor in PyCharm.
@jreback The reason why i am using resample in the firstplace is that i have a data that is randomly distributed and indexed with a DateTimeIndex. If do resample without the kind argument my index starts at second 12 and not at 18 like i want it to. I also have dynamically changing datapoints and frequencies

[2019-08-21 10:17] FlorianWetschoreck commented on #26430
Thank you for adding this @TomAugspurger

Everything works great for me except for example `[4]: df.groupby("A").agg(b=('B', lambda x: 0), c=('B', lambda x: 1))`

Which results in the following error:
[code]

The new named approach only works for different columns for me. E.g. when I change column B to C in the second aggregation:
`df.groupby("A").agg(b=('B', lambda x: 0), c=('C', lambda x: 1))`

[2019-08-21 11:40] TomAugspurger commented on #26430
There’s an open PR fixing that.

[2019-08-21 11:50] charlesdong1991 commented on #28021
could you please revert the previous PR #27993 ?
i am sincerely apologizing for this, I realize today when doing tests that my fix is improper/wrong. I am still trying to find root cause, hope to correct it asap before new release. Sorry again for it. @TomAugspurger

[2019-08-21 12:02] jreback commented on #28038
well this was just changed to make it consistent for each file
the concern here is the same as the original

it will get inconsistent thru time across files

so if possible to have a single file with consistent imports that is then objected to the build would be preferable

[2019-08-21 12:05] jreback commented on #28057
this is only implemented for a proper PyTables file like object
opening a file in an arbitrary way is not supported

[2019-08-21 12:06] #28057 closed

[2019-08-21 12:10] jorisvandenbossche commented on #28038
Your last sentence is not very clear to me.

[2019-08-21 12:20] jreback commented on #28038
right was a suggestion if we can have still a single place to import and set options for docs (and still have binder work); as this enforces consistency the best imho

[2019-08-21 12:29] jorisvandenbossche commented on #28038
Well, that's more or less the whole point of the issue that Marc opened: not having it in the actual rst file (but injecting it as we do now) is probably *possible* to have it work with binder, but it is added complexity (need to ensure the header is injected in the binder pipeline as well, as that will probably be independent from sphinx)

[2019-08-21 12:40] gcelano opened #28058 "pd.Series.nbytes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I always get the same number of bytes, no matter how long the strings are

#### Expected Output

96 # or 36

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.9.

[2019-08-21 12:42] datapythonista commented on #28038
This is what we render automatically with `{{ header }}`:
[code]
`randn = np.random.randn` is a bad idea, and just used in the release notes of 0.10.0.

I guess the rest is used in almost every page of the user guide.

I think there are two different questions:
1. Do we want to have a variable for it (like we do now), or do we want to have it in every file
2. Do we want to hide it , or should it b

[2019-08-21 12:46] zogzog commented on #28034
Timezone information, as far as I am concerned, is a _presentation_ information, a bit like the 'freq' attribute. Two timestamps in differing timezones are fundamentally compatible, and losing timezones is about dropping display information. Are there situations where this would be wrong ?

Another point: it already cost me an hour to write code to paper over the issue. I have a non-indecent test

[2019-08-21 12:52] jreback commented on #28034
this is not the case at all in pandas; time zones are first class; turning them to UTC is losing information; we have deliberately tried not to do this generally

mixing times zones while possible is often a bug in user code; it’s possible but very likely not something you want library code to do, rather it becomes a burden of the user code

not really sure what is your point here. pandas has lots

[2019-08-21 12:57] jreback commented on #28038
agree that assigning to randn is just incorrect - that should just be fixed

ideally we would expose this as user code in the docs
but how do you propose to keep it consistent? that was an extreme problem before

ideally code review can do this but it has over time dropped the ball
it is VERY hard to keep consistently in this large a code base (just look at some of the duplication in tests for exa

[2019-08-21 13:05] jorisvandenbossche commented on #28038
Personally, I think you overestimate the "extreme problem" a bit.

Before, the header was much longer because we imported lots of things with non-standard imports, this initial hidden ipython block was a mess. But that was cleaned up in the docs over time, and now (apart from the single randn thing), all example code uses standard imports. The initial code block with imports is thus much smaller.

[2019-08-21 13:07] datapythonista commented on #28038
For now I'm happy to just remove the `:suppress:` and keep the header. Hiding code from the user is what I think it's a problem, not that much the header itself (sorry I mixed both in the issues)

For the header I'm more open, but I don't think it's that important to be consistent (e.g. having different seeds or different display.max_rows). May be we could have variables for them, we would still r

[2019-08-21 13:14] jreback commented on #28038
i am fine with changing this but i have seen over time that it is very easy to get inconsistency from well intentioned changes.

[2019-08-21 14:04] katsuya-horiuchi commented on #27994
Interestingly, I got `TypeError` while trying `df.drop([])`. The following is the traceback.
[code]

With that said, would it make sense to not raise these exceptions when passing empty list/index to `DataFrame.drop()`?

If so, I might be able to contribute.
The change I'm thinking would align with my expectation: `df = df.drop(df[df['value'] > 10].index)` would behave the same way as `df = df[df[

[2019-08-21 14:06] jbrockmendel commented on #28056
The `df == 0` operation took a performance hit as part of a bugfix a few months ago.  If all goes well it will be fixed in the next few weeks

[2019-08-21 14:13] trendelkampschroer commented on #28056
Ok, thanks for the quick response.

[2019-08-21 14:21] #27374 closed

[2019-08-21 14:23] TomAugspurger commented on #28058
They're all stored as Python objects, so NumPy's `.nbytes` can't get an accurate count of the actual memory usage. You would need something like `Series.memory_usage(deep=True)`.

[2019-08-21 14:23] #28058 closed

[2019-08-21 14:25] TomAugspurger commented on #28055
May need a fix similar to https://github.com/pandas-dev/pandas/pull/27946/files, but in `ints_to_pydatetime`. Care to submit a PR?

[2019-08-21 14:27] jbrockmendel commented on #28055
Looks like in pd._libs.tslib.ints_to_pydatetime the argument `int64_t[:] arr` needs to be changed to `const int64_t[:] arr`.  PR welcome.

[2019-08-21 14:59] zogzog commented on #28034
mixed time zones a bug in user code ? can you expand ?

[2019-08-21 15:53] codegrafix commented on #27501
got the same error. downgraded pandas to 0.24.2 and worked again!
numpy is 1.16.3

[2019-08-21 15:57] TomAugspurger commented on #27602
We've had issues uploading codecov output from Travis recently: https://travis-ci.org/pandas-dev/pandas/jobs/574712678

[2019-08-21 16:00] jbrockmendel commented on #27602
Disabling seems like a reasonable stopgap.  I didn't find anything helpful on the codecov support pages

[2019-08-21 16:02] TomAugspurger opened #28062 "CI: Enable azure pipelines build on backport PRs"

[2019-08-21 16:09] mroeschke commented on #27994
Agreed with your conclusion, I think `DataFrame.drop([])` should just be a no-op like you demonstrated in https://github.com/pandas-dev/pandas/issues/27994#issuecomment-522537577

[2019-08-21 16:09] TomAugspurger commented on #28062
Fixed in the azure pipelines UI. https://github.com/pandas-dev/pandas/pull/28064 is an example.

[2019-08-21 16:09] #28062 closed

[2019-08-21 16:15] TomAugspurger commented on #28056
xref https://github.com/pandas-dev/pandas/issues/24990 for that issue.

[2019-08-21 16:15] #28056 closed

[2019-08-21 16:20] TomAugspurger commented on #26389
@PasupulaHarish if you can provide a minimal example we'll reopen.

[2019-08-21 16:20] #26389 closed

[2019-08-21 16:29] TomAugspurger commented on #26462
@Connossor that looks different from what @bgruening reported.

I think the minimal example here is

[code]

Can you confirm @bgruening?

Apparently, passing `std` is required.

[code]

An example in the docs, and / or a better error message would be nice. https://github.com/pandas-dev/pandas/blob/32b47102aa95da5a68ef9939c0e9429269ced016/pandas/core/window/rolling.py#L569

[2019-08-21 16:30] TomAugspurger commented on #26507
I can't reproduce either. Let us know if you can provide more info.

[2019-08-21 16:30] #26507 closed

[2019-08-21 16:31] TomAugspurger commented on #26573
@pablojim let us know if you can provide a reproducible example and we'll reopen. http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-21 16:31] #26573 closed

[2019-08-21 16:32] TomAugspurger commented on #26719
@renjiege if you can provide a minimal example we'll reopen.

[2019-08-21 16:32] #26719 closed

[2019-08-21 16:39] bgruening commented on #26462
I confirm :) Thanks @TomAugspurger!

[2019-08-21 16:53] TomAugspurger commented on #27602
Although.... this may be a config issue with our CI. Note that there's no output to the command in https://travis-ci.org/pandas-dev/pandas/jobs/574509202#L2778

[2019-08-21 17:07] minhoryang commented on #20519
There are 2 `IndexError: cannot do a non-empty take from an empty axes.` in codebase:
https://github.com/pandas-dev/pandas/blob/489d1ff8a1683f7f5549108dc7b04e43b5f32965/pandas/core/arrays/sparse.py#L1180
https://github.com/pandas-dev/pandas/blob/489d1ff8a1683f7f5549108dc7b04e43b5f32965/pandas/core/arrays/sparse.py#L1230

Why don't we create a new Exception such as `EmptyAxesTakeFailedIndexError` f

[2019-08-21 17:14] Connossor commented on #26462
@TomAugspurger should I make a separate issue for the broken "groupby" behaviour?

[2019-08-21 18:42] TomAugspurger commented on #28055
FYI @jorisvandenbossche I'm probably doing the release todayish, so I'm going to move this off the 0.25.1 milestone.

[2019-08-21 18:46] jorisvandenbossche commented on #28055
I prefer to keep those issue on *a* milestone. If you want to get the queue clear on 0.25.1, it can be 0.25.2 (but for me just a 0.25.x milestone could also do). If not for 0.25.1/2, then 1.0. By default, I think we should mark regressions for the next milestone, even if nobody is directly going to work on it.

[2019-08-21 18:58] TomAugspurger commented on #28055
Sounds good.

On Wed, Aug 21, 2019 at 1:46 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-08-21 19:07] plartoo opened #28071 "Loading CSV files (using `read_csv`) with blank lines between header and data rows quits Python interpreter"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I have been trying to load a test CSV file ("my_csv.txt", attached), which is structured in a way that there's an information text on the second row; row header line on the fifth row; and the data starts at the ninth row. As you can see in the Python code above, `read_csv` fails when `nrows=1` , but doesn't wh

[2019-08-21 19:36] jorisvandenbossche commented on #28056
So I revived my experiment from some time ago related to #24990, and briefly looked into this example.

So it is a slowdown compared to 0.23 and before. So a timing with that version:

[code]

Then let's do some timings on master:

For me, the operation takes around 220 ms (so a bit less as the OP), but clearly slower as 0.23:
[code]

Compared to numpy on a 2D array or a set of 1D arrays:

[code]

[2019-08-21 20:01] TomAugspurger commented on #28071
Thanks for the report. Self-contained example

[code]

[2019-08-21 20:15] jbrockmendel commented on #28056
the bool check looks like it would be a valid optimization regardless, right?

[2019-08-21 20:35] r02b commented on #18755
+1
This happens to me when I actually plot some lines for a datetime index, then trying to add scatter plots to the original one fails :/

[2019-08-21 20:54] #28055 closed

[2019-08-21 20:55] yamen321 commented on #9784
Thanks a lot for taking the initiative on this @lshepard!

[2019-08-21 21:03] dragoljub commented on #27722
@jreback @TomAugspurger
I have been using to/read_msgpack for quite some time to read large DataFrames ~1-2GB range  from filers. In my experiencing if you are opening and reading DataFrames over network shared disks/filers read_msgpack is at least 2-3X faster than any other I/O system Pandas currently has, HDF5, pickle, parquet, etc.

I think this may be because msgpack is de-serializing into pan

[2019-08-21 21:17] TomAugspurger commented on #27722
Maintaining the msgpack code was proving to be not worth the effort for us.
You're welcome to take over
maintenance in a separate project, but I don't think it'll live in pandas
itself.

On Wed, Aug 21, 2019 at 4:04 PM Gagi <notifications@github.com> wrote:

[2019-08-21 21:25] TomAugspurger commented on #26462
Probably best to search, and if you don't find something then yes.

On Wed, Aug 21, 2019 at 12:14 PM Connor Tann <notifications@github.com>
wrote:

[2019-08-21 21:42] jreback commented on #27722
there is actually a pandas-msgpack repo / package available
just needs updating

arrow IPC should be actually more efficient as this as there are no copies

[2019-08-21 22:14] jbrockmendel opened #28079 "API: flex comparisons DataFrame vs Series inconsistency"
In tests.frame.test_arithmetic we test the DataFrame part of the following, but we do not test the Series behavior (at least not in that file)

[code]

The `df.lt(df2)` version (the "flex" op) masks positions where either `df` or `df2` is null.  That is fine, but why doesn't the `Series` version do the same thing?

[2019-08-21 22:36] dragoljub commented on #27722
@jreback
Thanks Jeff. Glad to see the repo exists! Will the pandas-msgpack repo get the latest pandas msgpack code after its deprecation? It looks like this could be the perfect place to save this code and leave it for use cases with simple numeric and string data type columns.

[2019-08-21 23:00] jbrockmendel opened #28080 "BUG: Series[int] + datetime64 should raise"
identified [here](https://github.com/pandas-dev/pandas/commit/a6c0d02c99cfaf90119d1316dd897019326472c1#r34783276).  We handle this correctly for timedelta64, but apparently not datetime64

[code]

Should behave like `iser + pd.Timestamp(dt)`:

[code]

[2019-08-21 23:03] darrenleeweber commented on #28022
@jreback - good catch, but note how the docs do not illustrate whether or not this includes any index dtype data - the bet is that it does not, and, if so, the feature request stands (or implies that it should support index dtypes too).  Also, does it support the `is_index` attribute?  The `schema` concept and API is, IMO, an obvious go-to feature.

[2019-08-22 03:38] jreback commented on #27722
if someone does this sure

[2019-08-22 03:52] teto opened #28083 "`The default of the 'keep_tz' keyword in DatetimeIndex.to_series will change to True in a future release.`"
#### Code Sample, a copy-pastable example if possible

How am I supposed to turn this warning down without patching pandas ?
[code]
...since the `level_values.to_series()` call is in pandas.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]

INSTALLED VERSIONS
------------------
commit           : None
python

[2019-08-22 04:22] ArtinSarraf commented on #28034
@TomAugspurger - yes, this exact case was discussed explicitly.

https://github.com/pandas-dev/pandas/pull/23538#discussion_r238116253

[2019-08-22 06:57] batterseapower commented on #25459
This was broken by #23963 which was trying to fix #21809. The problem is that this line should be checking `self.is_unique` instead of `target.is_unique`: https://github.com/pandas-dev/pandas/blame/master/pandas/core/indexes/category.py#L602

[2019-08-22 07:27] charlesdong1991 commented on #27758
just for my curiosity, what kind of output do you expect for empty series/frame? something like?

![Screen Shot 2019-08-22 at 9 18 14 AM](https://user-images.githubusercontent.com/9269816/63494570-43183100-c4be-11e9-84d5-a4f3a914d2cb.png)

I also feel like now some pandas plotting do have selections on type as Tom mentioned above, probably adding a keyword might be a compromise? @TomAugspurger som

[2019-08-22 10:03] apiszcz commented on #12257
I am seeing the same behavior, 30 million rows taking 5 minutes to run the replace.
The data frame has mixed types.

Making a simple example with a single type shows incredible speed.
[code]

[2019-08-22 10:21] zogzog commented on #28034
@ArtinSarraf can you expand on your dst transition ambiguity example ? For my personal education I'd like to understand the issue (if only because I currently believe tz-aware stamps don't have ambiguity issues).

[2019-08-22 10:28] apiszcz opened #28084 "pandas slow replace with int64 columns in dataframe"
Reproduced issue in part without n2 and n3 and with n2 n3 see prior issue:
https://github.com/pandas-dev/pandas/issues/12257

The replace runs 10x slower when encountering int64 columns

WITHOUT n2,n3, **1.73s**
[code]

WITH n2, n3 `21.4s`
[code]

[2019-08-22 11:27] TomAugspurger commented on #28083
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-08-22 11:28] #27526 closed

[2019-08-22 11:40] #17101 closed

[2019-08-22 11:45] MatsZ opened #28086 "Index not iterable in Pandas 0.25.0"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
In Pandas 0.23.4 the percentiles in CDF graphs can be expressed as (data.index + 1) / len(data), but in Pandas 0.25.0 this has to be changed to (data.index.values + 1) / len(data). No distaster but lots of work to change in many scripts.
#### Expected Output
[two nice CDF plots]
#### Output of ``pd.show_versions

[2019-08-22 11:50] jorisvandenbossche commented on #28086
@MatsZ thanks for the report!

I *assume* this is the same as what was reported in https://github.com/matplotlib/matplotlib/issues/14992 / https://github.com/pandas-dev/pandas/issues/27775, which is fixed both on the pandas side as matplotlib side. So with the first bug fix release of either projects, this should be solved (pandas 0.25.1 is targetted to be released tomorrow).

[2019-08-22 12:28] MatsZ commented on #28086
Thanks a lot for the quick reply, and sorry that I missed that this is already in the bug list! I googled on what I thought were appropriate terms but apparently missed this. Thanks for fixing it as well!

Excellent!
B r /Mats

From: Joris Van den Bossche <notifications@github.com>
Sent: den 22 augusti 2019 13:52
To: pandas-dev/pandas <pandas@noreply.github.com>
Cc: Mats Zachrison <mats.zachrison@

[2019-08-22 13:07] #27813 closed

[2019-08-22 13:09] #27642 closed

[2019-08-22 14:02] TomAugspurger commented on #28086
No worries.

The 0.25.1 release should be today.

[2019-08-22 14:02] #28086 closed

[2019-08-22 14:12] 0x0L opened #28090 "Parquet, boolean dataframes & reindex"
Hello

#### Code Sample, a copy-pastable example if possible

[code]

The saved dataframe is totally corrupted with most values now being False.

#### Problem description

This issue only appears when using boolean.
The issue is not there when reindexing only columns or only index or when doing both in two steps ie `df.reindex(columns=columns).reindex(index=index)`. `df.loc[index, columns]` is als

[2019-08-22 14:12] bhavaniravi commented on #24028
@jreback and @tomascassidy #18052 has updated the documentation `contributing.rst` python setup instruction to `python setup.py build_ext --inplace -j 4`.

I am unable to find the functionality of -j in the codebase. Can you help me with this? I would need to understand how it is implemented to work on improving the CI performance

[2019-08-22 14:24] datapythonista commented on #24028
`build_ext` is a standard thing from `setuptools`. Not sure if there is much documentation about it, but should be in their docs (see the mention here: https://pythonhosted.org/an_example_pypi_project/setuptools.html#using-setup-py)

`setup.py build_ext --help` should provide some information, but `-j` should be the number of cores to use.

[2019-08-22 14:30] TomAugspurger commented on #28015
Alrighty, I think the deck is clear for a 0.25.1 release. We can continue to merge to master while I'm doing the release, just not backports.

[2019-08-22 14:49] alexmojaki opened #28092 "Cannot map Timestamp.isocalendar on tz-aware timestamp series, gives ValueError: MultiIndex has no single backing array"
### Problem description

While:

    pd.to_datetime(dates).map(pd.Timestamp.isocalendar)

works as expected,

    pd.to_datetime(dates, utc=True).map(pd.Timestamp.isocalendar)

(i.e. just adding `utc=True`)

or any variation of it using `map` fails with the below error. Only a list comprehension works, so it doesn't seem possible to vectorize the operation. The error message is also confusing.

##

[2019-08-22 14:53] TomAugspurger commented on #28090
Is this likely an issue in pandas or pyarrow?

[2019-08-22 15:23] 0x0L commented on #28090
Hi @TomAugspurger
Since the bug requires the call to `reindex` I felt it was more relevant to post here.

[2019-08-22 15:34] yusosov opened #28093 "Circular reference warning after subsetting data frame"
# NO WARNING:

import pandas
import numpy
df1 = pandas.DataFrame(numpy.array([[1, '123', 3], [4, 'dE1', 6], [7, 'gH2', 9]]), columns=['a', 'b', 'c'])
df1['b']=df1['b'].apply(str.lower) #.copy(deep=True)#.copy(deep=False)
df1

# WARNING
import pandas
import numpy
df1 = pandas.DataFrame(numpy.array([[1, '123', 3], [4, 'dE1', 6], [7, 'gH2', 9]]), columns=['a', 'b', 'c'])
df2 = df1[['a', 'b']]
df2['b'

[2019-08-22 15:40] TomAugspurger commented on #28090
Possibly. Pandas doesn't do a whole lot with parquet IO though. The bulk of
the work is done in the engine library.

On Thu, Aug 22, 2019 at 10:23 AM nullptr <notifications@github.com> wrote:

[2019-08-22 15:44] jreback commented on #28093
you need to copy before you assign otherwise you have a reference

[2019-08-22 15:44] #28093 closed

[2019-08-22 15:45] yusosov commented on #28093
@ jreback
PLEASE READ
NO MATTER IF I COPY OR DEEPCOPY I GET THIS WARNING

[2019-08-22 16:00] yusosov opened #28094 "Circular reference warning after subsetting data frame AND AFTER COPY"
# PLEASE READ AND RUN BEFORE CLOSING

it is after subsetting that the warning appears no meter if copy is used

# WARNING AFTER SUBSETTING no matter if COPY was used
import pandas
import numpy

df1 = pandas.DataFrame(numpy.array([[1, '123', 3], [4, 'dE1', 6], [7, 'gH2', 9]]), columns=['a', 'b', 'c'])
df2 = df1[['a', 'b']]
df2['b']=df2['b'].apply(str.lower) .copy(deep=True)
df2

# or

df1 = pandas.

[2019-08-22 16:00] jreback commented on #28093
@yusosov pls don’t shout

read my comment again - you need to copy before you assign the column
your text shows you copying after

[2019-08-22 16:10] jorisvandenbossche opened #28095 "ROADMAP: Consistent missing value handling with new NA scalar"
I cleaned up my initial write up on the consistent missing values proposal (https://github.com/pandas-dev/pandas/issues/27825#issuecomment-520583911), and incorporated the items brought up in the last video chat. So I think it is ready for some more detailed discussion.

The last version of the full proposal can be found here: https://hackmd.io/@jorisvandenbossche/Sk0wMeAmB

TL;DR:

- I propose to

[2019-08-22 16:12] jorisvandenbossche commented on #28095
Technical note: we need to see a bit how to have those discussions. As I posted the full proposal externally and not in a PR, it's more difficult to have inline comments (although I can also post it on eg google docs which is a bit friendlier for that). But alternatively, we could also do PRs instead of issues?)

[2019-08-22 16:17] jorisvandenbossche commented on #28090
This seems a serious bug in the pandas->arrow conversion of Arrow. It is not related to parquet, since just converting to an Arrow table already gives the wrong values:

[code]

[2019-08-22 16:23] yusosov commented on #28093
@ jreback

do you mean like:

df1 = pandas.DataFrame(numpy.array([[1, '123', 3], [4, 'dE1', 6], [7, 'gH2', 9]]), columns=['a', 'b', 'c'])
df2 = df1[['a', 'b']].copy()
df2['b']=df1['b'].apply(str.lower)
df2

it works, in this example, but in reality what I have to copy is LARGE and I do not want to spend extra memory. and I do not see any other fast way to apply a function to a column in pandas.

[2019-08-22 16:24] jreback commented on #28094
try this, as i said you didn’t read the comments; copying decouples the start frame (df1) from a reference (df2)

df1 = pandas.DataFrame(numpy.array([[1, '123', 3], [4, 'dE1', 6], [7, 'gH2', 9]]), columns=['a', 'b', 'c'])

this is the copy that matters
df2 = df1[['a', 'b']].copy()

a copy here doesn’t matter
df2['b']=df2['b'].apply(str.lower) .copy(deep=True)
df2

[2019-08-22 16:24] #28094 closed

[2019-08-22 16:41] ArtinSarraf commented on #28034
Ignore my comment, what I was thinking of wasn't an issue with already tz-aware date ranges, but rather the ambiguity than can occur from localizing a non tz-aware date range.

[2019-08-22 16:47] jreback commented on #28093
so ithe way to do this is to overwrite in the original (df1)
then subset

or just .copy() which actually is pretty cheap

also you should use
df1.b.str.lower()

[2019-08-22 16:49] yusosov commented on #28094
I got it. Thank you.
But, I do not want to copy the whole subset  df1[['a', 'b']]. In reality my data is LARGE.
I need to spare memory. This is why I wanted to assign a copy of just one column.
I hope df.copy(deep=False) creates just new refs. This "workaround" is rather unnatural.
Thanks again anyway.

[2019-08-22 16:52] shoyer commented on #28095
This is an interesting proposal!

I'm mostly concerned about type stability / predictability, e.g.,
- What is `pd.Series([pd.NA]).dtype`? (with `np.nan` this would be `float64`)
- What is `pd.Timestamp('2000-01-01') - pd.NA`? (could be either `Timestamp` or `Timedelta`)

We might need an `NA` dtype in order to have well-defined semantics for all of these operations.

It would also be worth conside

[2019-08-22 16:54] jbrockmendel commented on #28084
Looks like in core.internals.blocks.replace there is a path form handling `isinstance(to_replace, list)` that could be optimized significantly

[2019-08-22 17:23] #11919 closed

[2019-08-22 17:23] #14260 closed

[2019-08-22 18:02] yusosov commented on #28094
@jreback
I am sorry to come up with a question again, but still I do not see any logic here:

this seem not to create circular references:

import pandas
import numpy

df1 = pandas.DataFrame(numpy.array([[1, '123', 3], [4, 'dE1', 6], [7, 'gH2', 9]]), columns=['a', 'b', 'c'])
df2 = df1[['a', 'b']].copy()
# seems ok, no warning
df2['b']=df1['b'].apply(str.lower)
df2

but the next seem to clearly cre

[2019-08-22 18:21] jorisvandenbossche commented on #28090
I opened https://issues.apache.org/jira/browse/ARROW-6325

@0x0L Thanks a lot for the report.

Closing this issue, as it is something to fix on the Arrow side.

[2019-08-22 18:21] #28090 closed

[2019-08-22 18:40] jorisvandenbossche commented on #28015
@TomAugspurger Thanks for the release!

[2019-08-22 18:43] ianzur opened #28098 "merge_asof() tolerance cannot be datetime.timedelta"
#### Code Sample
[code]
#### Problem description
I can use pd.Timedelta as tolerance, but not datetime.timedelta.

#### Expected Output
No error

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.3.final.0
python-bits      : 64
OS               : Linux
OS-release       : 4.19.0-5-amd64
machine          : x86_64
pro

[2019-08-22 18:59] mroeschke commented on #28092
Guessing this is bug will impact all ExtensionArrays.

[2019-08-22 19:26] jreback commented on #28015
thanks @TomAugspurger

[2019-08-22 19:52] #28015 closed

[2019-08-22 20:15] jorisvandenbossche commented on #28095
Thanks for the feedback!

Yes, that's an item I briefly mentioned in the proposal with similar examples. We can (and will need to) decide on certain rules how to go about this, but they can still be unpredictable for users of course..

I also think we might need a `NA` dtype. If we do, that would probably mean that we return this NA type instead of guessing between eg timedelta or timestamp? Howev

[2019-08-22 21:04] dhimmel opened #28103 "Deterministic gzip compressed outputs"
GZ-compression writes the filename and timestamp into compressed data's header. This means that compressing the same data at different times will produce outputs that are not byte-for-byte identical.

In the past, this has presented [problems for OS distros](https://wiki.debian.org/ReproducibleBuilds/TimestampsInGzipHeaders). It now prtesents problems for data science. Specifically, I frequently t

[2019-08-22 21:20] paul-lilley opened #28104 "Period overflows with dates > pd.Timestamp.max 2262-04-11"
#### Code Sample, a copy-pastable example if possible

[code]
Output: (with pandas 0.25.0)
2262-04-11 00:00:00
1677-09-21 00:25:26.290448384

with pandas 0.25.0+216.g1aca08aa6
I get an OutOfBoundsDatetime error

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "pandas/_libs/tslibs/period.pyx", line 1768, in pandas._libs.tslibs.period._Period.start_time.__get__
  File

[2019-08-22 21:34] kylrth opened #28105 "Series binary operator behavior depends on the count of each value in the index"
#### Code Sample

[code]
#### Problem description

This behavior leads to output series length that depends on the number of duplicate index values. In data where this value is not known, the number of rows in the output is unpredictable.

#### Expected Output

I would expect there to be an option in `pd.Series.subtract` allowing the user to determine the operation's behavior with respect to repea

[2019-08-22 22:38] tsieczko opened #28106 "Pandas ExcelWriter append fails to preserve images in other sheets."
[code]
#### Problem description

'input_excel.xlsx' contains one sheet with some data in cells and an image added via excel's insert picture from file function. When I attempt to append a dataframe to a second new sheet, the resulting excel file no longer has the image in the first sheet.

#### Expected Output

The first sheet should be untouched with the image still there. The second sheet should

[2019-08-23 00:01] jbrockmendel commented on #28104
pd.Timestamp is only implemented within the bounds Timestamp('1677-09-21 00:12:43.145225') to Timestamp('2262-04-11 23:47:16.854775807').  Outside of that range we could have start_time and end_time return datetime objects I guess

[2019-08-23 03:14] amerberg commented on #27036
I believe this is a duplicate of #27479.

[2019-08-23 03:16] BlaneG opened #28108 "DataFrame.mean() ignores datetime series"
#### Code Sample, a copy-pastable example if possible
[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

As of pandas 0.25 it is possible to apply mean() to a datetime series.  However, DataFrame.mean() ignores datetimes series columns rather than returning the mean of the datetime series as one might

[2019-08-23 04:07] jreback commented on #28105
-1 on this; you are just asking for trouble in aligning in non-unique indices

[2019-08-23 05:18] mroeschke commented on #28092
Actually https://github.com/pandas-dev/pandas/issues/23179 is the blocker for this feature. Closing as a dup

[2019-08-23 05:18] #28092 closed

[2019-08-23 05:38] kukuwa opened #28109 "GroupBy.rank with "TypeError: 'NoneType' object is not callable""
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
when I use groupby.rank method , TypeError occur in "pandas\core\groupby\ops.py" file.

Traceback (most recent call last):

  File "<ipython-input-3-fdfa537b4972>", line 1, in <module>
    runfile('E:/myStra/factor/funfile/analysis/factorAnaCNE6.py', wdir='E:/myStra/factor/funfile/analysis')

  File "C:\ProgramD

[2019-08-23 07:41] TyberiusPrime commented on #27722
I've hacked away the bitrot in the pandas-msgpack package to work with pandas 0.25.0 at least: https://github.com/TyberiusPrime/pandas-msgpack. No promises, this is a mostly mechanical - didn't stop to understand the code kind of hack, but it does read my msgpacks and passes  the tests that didn't involve datetimes or spares arrays.

(I need msgpack because we store tuple columns in our dataframe,

[2019-08-23 07:48] singularpse commented on #15893
Thanks!

[2019-08-23 08:06] #6721 closed

[2019-08-23 08:32] ErfPy commented on #27935
Do you mean that I should do this improvement request at the NumPy github?

[2019-08-23 08:46] bhavaniravi commented on #24028
@datapythonista what's your take on adding caching to the build process? Have we tried anything in those lines before? https://github.com/matplotlib/matplotlib/issues/1507/

[2019-08-23 09:55] ar4hc commented on #27526
not sure if this is the right place,but with 0.25.1 and my code from above i now get a differnet error, but still an error:

[code]

the dataframe groupyby objects is looking good, the percs ars a list of floats, including 0 and 1, and the data is the same as it was for the for 0.24.2 version.

what am i missing....?

[2019-08-23 10:40] datapythonista commented on #24028
There was a bit of discussion about it before, and the preference was to keep things simple in the CI.

Personally, to make would make sense to build a docker image or something every night with the latest version of the source code and the conda dependencies, so the builds for every PR just download what it's needed on top of that. But not an expert, I may be missing something.

The best would be

[2019-08-23 11:12] kylrth commented on #28105
How so?

[2019-08-23 11:45] TomAugspurger commented on #27526
A new issue with a minimal example would be welcome.
http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

On Fri, Aug 23, 2019 at 4:55 AM A. Rabus <notifications@github.com> wrote:

[2019-08-23 11:47] TomAugspurger opened #28110 "RLS: 0.25.2"
cc @pandas-dev/pandas-core

Python 3.8 is due on October 21, which will likely beat 1.0.

We should release a 0.25.2 around then that's just 0.25.1 + 3.8 compatibility and regressions from 0.24.x.

[2019-08-23 11:49] jorisvandenbossche commented on #28110
I don't think we need to wait until then? (the sooner it is already out, the less people will have issues when updating to 3.8)
So I would just continue backporting regressions (but we can be conservative in backporting, no need to backport normal bug fixes), and we can always see when we have accumulated some fixes.

[2019-08-23 12:59] TomAugspurger commented on #28110
Yeah, that's just the deadline.

We'll also need to handle building 3.8 binaries after the release. I think that should be doable (just bump the build number on conda-forge when they're ready, and upload only the 3.8 wheels from multibuild).

[2019-08-23 13:46] TomAugspurger commented on #27526
See https://github.com/pandas-dev/pandas/pull/28113

On Fri, Aug 23, 2019 at 6:46 AM Tom Augspurger <tom.augspurger88@gmail.com>
wrote:

[2019-08-23 14:13] WillAyd commented on #28106
Does openpyxl maintain these objects on open / save?

[2019-08-23 14:15] WillAyd commented on #28103
I don't think pandas should stray from the default of the gzip library. Can you not just construct the file you need to write to manually with the argument you want?

[2019-08-23 14:31] TomAugspurger commented on #28103
If this were added to the standard library then we could add keywords to
pass the option through.

On Thu, Aug 22, 2019 at 4:04 PM Daniel Himmelstein <notifications@github.com>
wrote:

[2019-08-23 14:33] TomAugspurger commented on #28022
@darrenleeweber I don't think adding a `.is_index` attribute to a NumPy dtype is possible (or necessarily desirable).

[2019-08-23 14:47] TomAugspurger opened #28115 "COMPAT: Implement Timestamp.fromisocalendar"
https://docs.python.org/3.8/whatsnew/3.8.html#datetime / https://docs.python.org/3.8/library/datetime.html#datetime.datetime.fromisocalendar

[2019-08-23 14:52] TomAugspurger commented on #28103
Ah, it seems Python 3.8 is providing an option: https://docs.python.org/3.8/library/gzip.html#gzip.compress

[2019-08-23 14:56] darrenleeweber commented on #28022
Right, agreed.  Perhaps it's something like this:

[code]

[2019-08-23 15:14] TomAugspurger opened #28116 "DataFrame.eval doesn't handle Ellipses"
I'm not sure whether supporting this is worth it. I don't know if it opens up complexities for operations like `df.eval("A[...]")`.

[code]

[code]

Note that on 3.8 this actually seems to work, since it uses a different term.

[2019-08-23 15:16] dhimmel commented on #28103
Yes, but it's not pretty:

[code]

The objective here is to give users the consistency and convenience of the builtin compression inference and gzip support of `pandas.to_csv`.

Python 3.8 added the `mtime` option to `gzip.compress` in https://github.com/python/cpython/pull/9704. However, the ability to set `mtime` in `gzip.GzipFile` has existed since Python 3.1. However, `gzip.open` still does no

[2019-08-23 15:30] TomAugspurger commented on #27758
I don't have a strong opinion here.

On Thu, Aug 22, 2019 at 2:27 AM Kaiqi Dong <notifications@github.com> wrote:

[2019-08-23 16:37] tsieczko commented on #28106
[code]

It appears that openpyxl does the same thing. Images are not preserved in existing sheets. I guess this is an issue with openpyxl since pandas uses it for appending right?

[2019-08-23 16:40] WillAyd commented on #28106
Any chance upgrading to 2.6 helps? I see in the changelog for that a bug fix regarding the preservation of images

https://openpyxl.readthedocs.io/en/stable/changes.html#id23

[2019-08-23 16:43] WillAyd commented on #28106
Though might also be a limitation per warning in current docs:

https://openpyxl.readthedocs.io/en/latest/usage.html#read-an-existing-workbook

If you would like to investigate and see if there's a reasonable way to support this I think would be useful.

[2019-08-23 16:45] tsieczko commented on #28106
Just tried 2.6.2. Not working unfortunately. I'll investigate openpyxl. Thanks!

[2019-08-23 17:17] playermanny2 opened #28117 "Enable pd.options.display.html.table_schema = True By Default"
#### Problem description

**This is an enhancement request**

In order to enable a pandas to provide a JSON schema representation of the dataframe utilizing ```application/vnd.dataresource+json```, ```pd.options.display.html.table_schema``` must be set to ```True```.

I'm just wondering if this could be set to True by default? That way front-ends that support it, can ingest it without having to en

[2019-08-23 17:46] TomAugspurger commented on #28117
Note that we have another issue for setting up a pandas config system that
would be able
to read config settings from environment variables and configuration files.
I think that would
be a good compromise.

I vaguely recall some issues with it interfering with the other reps, but
it's been a while.

On Fri, Aug 23, 2019 at 12:17 PM Manny Cato <notifications@github.com>
wrote:

[2019-08-23 18:10] TomAugspurger commented on #28083
I can't reproduce with the following

[code]

let us know if you can provide an example.

[2019-08-23 18:10] #28083 closed

[2019-08-23 18:21] TomAugspurger commented on #28103
Whatever Python calls it. I'm happy to just follow Python here. If gzip.GzipFile already takes mtime, and if we use GzipFile internally, then passing through mtime seems fine.

[2019-08-23 18:27] TomAugspurger commented on #28022
So I guess the thing to do now is to make a convincing case why this is
better than current options
for making a schema defining a pandas object. Right now, the best option is
probably an empty
DataFrame with the right dtypes, names, indexes, etc.

There's a lot of complexity to a DataFrame (even in your simple example,
`name: str` is incorrect since a
column name need not be a string), so we'll n

[2019-08-23 19:07] TomAugspurger opened #28118 "PandasArray.__setitem__ fails for strings"
[code]

[2019-08-23 20:15] jbrockmendel commented on #28116
Is this related to #16289?

[2019-08-23 20:15] stephanievela opened #28120 "to_datetime errors='ignore' unexpected behavior"
I'm trying to apply pd.to_datetime on an integer column to convert integers (including missing indicators) to datetimes. In order to preserve all the missing indicators, ideally, I would prefer setting the "errors" parameter to "ignore" to keep all the invalid parsings. But then I noticed that setting errors='ignore' not only preserved the missing indicators, but kept everything the same, even the

[2019-08-23 20:36] TomAugspurger commented on #28120
What's your expected output here? You can't have non-datetime64 values inside a datetime64 column.

[2019-08-23 20:36] TomAugspurger commented on #28116
Yeah, looks like a duplicate.

[2019-08-23 20:36] #28116 closed

[2019-08-23 20:50] TomAugspurger commented on #28105
I don't think we should have a `repeat` keyword.

Agreed that this looks buggy. I would expect this to always take the union of the keys. With duplicates, that means on outer join, so each combination of duplicates. I would expect the length of `one.subtract(another)` to be 9.

I suspect we're hitting the branch https://github.com/pandas-dev/pandas/blob/347ad8564ec7dbf679f61e88f6914ab20d7ae3da/pan

[2019-08-23 20:51] TomAugspurger commented on #27935
That's what I would suggest. I believe that's what we use internally, and
if it's useful for pandas it'd probably be useful for the broader NumPy
community.

I'm not sure how feasible it is for NumPy though. I don't know how their
accumulators are implemented.

On Fri, Aug 23, 2019 at 3:32 AM Erfan Nariman <notifications@github.com>
wrote:

[2019-08-23 20:56] TomAugspurger commented on #28108
https://github.com/pandas-dev/pandas/pull/24757#issuecomment-454014644

So it seems like you'll need `numeric_only=False`. However, that still fails, as `numeric_only` does bad things

[code]

[code]

both end up doing `df.values`, rather than applying the reduction per block.

[2019-08-23 21:09] jbrockmendel commented on #28108
IIRC we had a PR that fixed nanmean for datetime64 but we reverted it because it changed the behavior of df.mean.  I think we we're going to do a deprecation cycle

[2019-08-23 22:38] #20500 closed

[2019-08-23 23:05] deeplycloudy opened #28122 "Performance regression uint64 groupby().min() in 0.25.1 vs. 0.24.2"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
In pandas 0.25.1, the performance of `df.groupby().min()` is 30x slower than in 0.24.2 when one of the columns has a dtype of `uint64`.

I saved the exact dataframe `min_data_in` from my original code with `min_data_in.to_csv('pandas_gb_min_test.csv')`. The columns in the original code had the following data typ

[2019-08-23 23:17] jbrockmendel commented on #28122
This is better than nothing, but can you provide something we can copy/paste directly?

[2019-08-24 00:16] deeplycloudy commented on #28122
The revised code, below, is sufficient to demonstrate the delta.
0.24.2 = 2 seconds
0.25.1 = 14 seconds

[code]

The delta is even worse on the original dataset above, suggesting a dependence on the number of groups in the groupby.

Complete profile dump and visualization in the attached.

[pd0251synthetic.pdf](https://github.com/pandas-dev/pandas/files/3536681/pd0251synthetic.pdf)
[pd0242syntheti

[2019-08-24 00:30] jbrockmendel commented on #28122
Thanks.

It looks like in groupby.generic there is a `cyfunc = self._get_cython_func(func_or_funcs)` that is returning None.  I'll have to look closer to be sure, but I expect it should be finding a cythonized implementation.

[2019-08-24 00:38] jbrockmendel commented on #28122
Yep, groupby.group L 1372 there is a try/except with `self._cython_agg_general(alias, alt=npfunc, **kwargs)` that raises on master and succeeds in 0.24.2

PR would be welcome.

[2019-08-24 00:49] jbrockmendel commented on #28122
In _libs.groubpy_helper `groupby_t` needs to be amended to include `uint64_t`.

[2019-08-24 04:06] stephanievela commented on #28120
That’s fair. I get your point. But I’m expecting at least the 0, 1, 3, 4-indexed integers being converted to date times, and -99998 can be left as-is. Is that something I should be anticipating?

[2019-08-24 06:00] WillAyd commented on #28106
Sure - closing for now as I think this is just a limitation of the underlying library, but feel free to ping back if there ever becomes a way to make this work

[2019-08-24 06:00] #28106 closed

[2019-08-24 07:10] simonjayhawkins opened #28125 "CI allowed failure - TestReadHtml.test_thousands_macau_index_col[bs4]"
[code]

It appears that this started failing with #27962

cc @jbrockmendel

[2019-08-24 07:31] simonjayhawkins commented on #28125
probably not due to #27962,  several changes in dependencies..

[code]

[2019-08-24 08:39] appleyuchi opened #28126 "progress bar for read_csv is needed"
#### Problem description

I want a prrogress bar when **read_csv** is used when the datasets is very large.

because it will be stuck with no response,although I understand that it is busy.

Thanks

[2019-08-24 09:05] jreback commented on #28126
https://github.com/tqdm/tqdm

[2019-08-24 09:05] #28126 closed

[2019-08-24 09:32] #27986 closed

[2019-08-24 15:55] richardbrks commented on #21651
I am also getting this error with the following example:
[code]
I can confirm that this was working in 0.22.0, but started failing in 0.23.0

[2019-08-24 17:28] kukuwa commented on #28109
I find the problem. my Code is like:
[code]
factor_data is like:
                                         D             A             ...       factor
date              asset
2009-01-05  000001.SZ  0.060762  0.015448  ... -0.365255
                    000002.SZ  0.029851  0.016418  ... -0.172206
                    000005.SZ  0.031250  0.027344  ...  0.062430
The type of columns ‘factor’ is **floa

[2019-08-24 18:39] josephnowak opened #28127 "New characteristic to cumsum"
Hi, I would like to know if is possible to add to the cumsum method the option to make an operation (multiplication of a constant for example or a lambda function) while it is making every sum to get something like this: https://stackoverflow.com/questions/34182755/cumulative-addition-multiplication-in-numpy, I know this could look a little unnecesarry but this kind of cumulative sum appears in a

[2019-08-24 23:18] jbrockmendel commented on #28127
Doing this with a general-case lambda I don't think we could implement anything any faster than the loop described in the stackoverflow link.  For that particular use case, the answers given there look pretty well optimized.

Are there other cases you have in mind?  e.g. some parametrized class of functions?

[2019-08-25 04:15] farziengineer opened #28132 "Inplace support for add_suffix and add_prefix"
Hi,
Why is there no support for `inplace = True` in `add_suffix('_some_suffix')` or `add_prefix('_some_prefix')`.

[2019-08-25 08:03] stonebig commented on #27261
I confirm the proposed 2 lines patch fixes the issue.

[2019-08-25 10:11] simonjayhawkins opened #28133 "Missing Imports"
in setup.cfg we currently have

[code]

mypy states "We recommend using this approach only as a last resort: it’s equivalent to adding a # type: ignore to all unresolved imports in your codebase." https://mypy.readthedocs.io/en/latest/running_mypy.html#missing-imports

the number of instances of missing imports resolving to Any is already significant..
[code]

Ideas for keeping this manageable?

c

[2019-08-25 11:52] josephnowak commented on #28127
The solution in the link is a very fast solution the problem is for example if you are working with percetage, so in that case will lead to this "Please be mindful that for extremely huge input array cases if the b elements are such small fractions, because of cummulative operations, the initial numbers of b_rev_cumprod might come out as zeros resulting in NaNs in those initial places." that is th

[2019-08-25 13:08] bmoscon opened #28136 "Docstring in pickle_compat.py out of date"
#### Problem description

This docstring https://github.com/pandas-dev/pandas/blob/master/pandas/compat/pickle_compat.py#L196-L201 no longer applies as the `compat` kwarg is no longer present

[2019-08-25 13:34] abbazs opened #28138 "Get nth group of groups"
I would like to request a method similar to `GroupBy.get_group(self, name, obj=None)` [(documentation)](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.get_group.html), a method that can return a group by its index say call it as `GroupBy.get_nth_group(self, nth)`.
If there are 10 groups by calling `get_nth_group(4)` shall return the 4th group.

[2019-08-25 14:31] simonjayhawkins commented on #28138
see also https://github.com/pandas-dev/pandas/issues/9397#issuecomment-418898264

[2019-08-25 15:48] jreback commented on #28138
this is a duplicate

[2019-08-25 15:48] #28138 closed

[2019-08-25 15:55] dsaxton opened #28139 "DataFrame.corr(method="spearman") much slower than DataFrame.rank().corr(method="pearson")"
[code]

#### Problem description

`DataFrame.corr(method="spearman")` seems to be an order of magnitude slower than `DataFrame.rank().corr(method="pearson")` even though the two are ultimately doing the same calculation.   While probably not the cleanest option, I would think that `corr(method="spearman")` could at least be made an alias for `rank().corr(method="pearson")`, or maybe a change could

[2019-08-25 15:56] #28136 closed

[2019-08-25 16:00] WillAyd commented on #28133
Yea I started along this path in #26645 . The hang up on that was some of the internal imports which (maybe?) require stubs. Never went far beyond that so if you want to dive deeper I think still worth exploring

[2019-08-25 21:19] simonjayhawkins opened #28142 "Typing Stubs and PEP 561 compatibility"
xref https://github.com/pandas-dev/pandas/pull/28135#issuecomment-524659775

do we want to make pandas PEP 561 compatible?

https://mypy.readthedocs.io/en/latest/installed_packages.html#making-pep-561-compatible-packages

[2019-08-25 21:39] WillAyd commented on #28139
Any chance you can profile to see where the overhead is? I think both are cythonized in pandas._libs.algos.pyx so surprised to see such a difference

[2019-08-25 21:41] WillAyd commented on #28132
We are moving away from inplace operations as method chaining is the preferred way to go. Thanks for the suggestion but this is generally something we don't have an appetite for

[2019-08-25 21:41] #28132 closed

[2019-08-25 21:55] WillAyd commented on #28120
This does seem a little counter intuitive so I think a bug. If you'd like to investigate would certainly take a PR to fix

[2019-08-25 21:56] WillAyd commented on #28117
@simonjayhawkins might have some thoughts here

[2019-08-25 22:13] WillAyd commented on #28127
Is there a general purpose application like this that you may have come across in other languages? Might be a little too niche for pandas

[2019-08-25 22:15] dsaxton commented on #28139
Here's the truncated output for both:
[code]
Looks like pretty much all the time is spent in the Cythonized `nancorr_spearman` (seems strange that there's also a huge number of calls to these other functions for `method="spearman"`).

[2019-08-25 22:27] simonjayhawkins commented on #28133
I think we should create stubs for pyx files.

It would be nice if this could be done automatically (@mrocklin wrote http://matthewrocklin.com/blog/work/2017/11/05/cython-everywhere which mentioned use of cython in regular .py files instead of creating .pyx files)

if we create the stubs manually, i suspect there would not be an issue keeping them in sync, since changes to the code for .pyx file c

[2019-08-25 22:34] WillAyd opened #28143 "Use clang-format for Extension Modules"
Right now we use cpplint for header files only. Unfortunately this leaves some of our extension module implementations rather sloppy.

We could extend cpplint to those but from what I have seen it doesn't have an opinion on indentation, which coming from a Python perspective could be useful. It also not surprisingly focuses more on C++ which isn't applicable to our extensions

As an alternate I'd

[2019-08-25 22:44] WillAyd commented on #28133
Cool yea I agree with everything you've mentioned above. Article is certainly interesting as well - not sure what limitations there are to that approach but worth exploring if you've got time and interest I think

[2019-08-25 23:11] jbrockmendel commented on #28142
If we go down that road, we could consider using stub files in cython to make that code valid python (which would allow us to lint)

[2019-08-25 23:43] dsaxton commented on #28139
@WillAyd Not sure if this would fully explain it, but it looks to me like we're ranking the columns _inside_ a nested for loop within `nancorr_spearman`: https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/algos.pyx#L328, in which case we'd be duplicating a lot of work since each column only needs to be ranked once.  Am I reading this right?

[2019-08-25 23:46] WillAyd commented on #28139
Not overly familiar with this code but a quick glance I think your inclination is correct. Probably a more efficient way to do it once outside the loop and handled accordingly within.

If you've got a way to make it work would certainly take a PR

[2019-08-26 01:20] machow opened #28145 "Series construction: _try_cast typo, function often taking slow route?"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

During series construction, a function, `sanitize_array` attempts to use `_try_cast`, to cast the input to a better type. `_try_cast` is fairly slow to run, so it tries to avoid casting in common cases. However, due to a missing `not` keyword, it appears `_try_cast` **runs for the cases it wants to avoid (like

[2019-08-26 01:34] WillAyd commented on #28145
Is there something from a user-facing perspective that you see impacted by this? The linked code you have just points to the range section which may or may not be what your question is limited to - would be helpful to clarify that

[2019-08-26 01:45] machow commented on #28145
Hey @WillAyd thanks for your prompt response! It appears that `_try_cast` comprises about 30% of Series construction time, so if this is a bug, then fixing will greatly speed this up.

![image](https://user-images.githubusercontent.com/2574498/63659727-0891eb00-c781-11e9-8c0e-47db59a693dd.png)

I would say there are 2 other related cases that will benefit

* Series constructed during simple operat

[2019-08-26 02:09] WillAyd commented on #28145
Cool thanks. I'm personally not super familiar with this part of the code so can't say for certain but seems reasonable. You can try it and run the test suite to see if nothing breaks and if not submit a PR

Also would be worth confirming with an ASV. I only see one for a datetime constructor in asv_bench/benchmarks/series_methods.py which might not be applicable, but could add one if not covered

[2019-08-26 02:24] machow commented on #28145
Okay, thanks for the quick feedback--I'll try adding a `not` and check whether any tests break. As far as I can tell, an "int64" array will never make it through, when the dtype arg to `_try_cast` is None.

On the other hand, it seems like this behavior is a couple years old, so I wouldn't be surprised if I'm missing something.

[2019-08-26 02:54] addisonlynch commented on #27353
@WillAyd I think I can tackle this...there may be a number of additional instances that the script is missing because it's not parsing multi-line statements. Consider ``pandas/core/frame.py`` (script has identified the below line):

https://github.com/pandas-dev/pandas/blob/5d9fd7e3b226b68e695d87121f584202aa6d4abc/pandas/core/frame.py#L4615

But since the ``ast`` parser can only handle simple stat

[2019-08-26 03:05] jreback commented on #28120
not a bug this is doing exactly as advertised
-99998 is not a valid date and hence not converted

we do not construct object arrays here (which would allow you to hold this value); this would be extremely inefficient

[2019-08-26 03:14] WillAyd commented on #28120
Hmm so is there any real point to ignore? I was expecting it to mimic what you would get from:

[code]

Instead of just returning the caller

[2019-08-26 03:30] WillAyd commented on #27353
Thanks for looking. The script is probably secondary to actually making the changes so if you’ve looked and would like to submit a PR can take things from there

[2019-08-26 03:41] Ochirgarid commented on #12639
@GA-Goig I think this issue is solved. Confirm and close the issue.

[2019-08-26 03:44] machow commented on #28145
Alright, I'm having a bit of trouble running the full suite of tests, but ran the tests below.

[code]

There were 7 failures, related to the change stopping `_try_cast` from converting numpy arrays with dtype "O".  It makes sense to try to cast them, and looking through the code, it appears that it's the only case any casting will happen.

https://github.com/pandas-dev/pandas/blob/5d9fd7e3b226b68

[2019-08-26 06:54] #12639 closed

[2019-08-26 10:41] Sup3rGeo commented on #13929
@jreback would you mind explaining why is it the case for the rhs of the slice bound? In my example above it makes the slicing return more than what we expect.

[2019-08-26 14:26] TomAugspurger opened #28147 "Document that Pandas 0.25.2 should be compatible with Python 3.8"
https://github.com/pandas-dev/pandas/pull/28101 gets things passing with Python 3.8 locally.

Ideally, we'd have 3.8 actually tested on CI before releasing 0.25.2. Hopefully once https://github.com/conda-forge/python-feedstock/pull/271 is up, we can do that (and maybe build our deps from source).

Once we're tested, we should add a note to the whatsnew saying that pandas 0.25.2 is compatible with

[2019-08-26 14:30] stonebig commented on #28110
shouldn't a bug fix on be release with Python-3.8.0rc1  (sept 30th), so that users trying Python-3.8.0rc can look for un-solved bugs only ?

[2019-08-26 14:40] jbrockmendel opened #28150 "API/BUG: PandasArray __setitem__ can change underlying buffer"
Discussed briefly in #28119, the ndarray backing a PandasArray can be swapped out by setitem, which can have surprising behavior for views

[code]

[2019-08-26 15:06] makbigc commented on #25353
I run the code recently. Passing `skipna=True` as `kwargs` works. Should we add the `skipna=True` in the intermediate function call?
[code]

[2019-08-26 15:07] MaximeWeyl opened #28152 "MultiIndex.from_product converts datetime.datetime to pd.Timestamp"
#### Code Sample, a copy-pastable example if possible

[code]

Output is :

[code]

#### Problem description

When using from_product with python datetimes, the resulting MultiIndex level is converted to pandas datetimes (Timestamps). There is no way to keep the original python datetime which I want. I got the same behavior with from_tuples. But it was not the case with from_arrays.

#### Expected

[2019-08-26 15:11] MaximeWeyl commented on #28152
One workaround I found is to pass Index to from_product instead of lists :

[code]

Output :

[code]

[2019-08-26 18:31] qtux commented on #26632
Bisecting with Kjilis minimal working example revealed the commit 720d263a9daa7a45e52a31d14ed9db1179c89cda to be the one which introduced this bug.

[2019-08-26 18:36] zogzog commented on #28034
The very fact tz-aware tstamps are non-abiguous is the reason I think this is a regression. The actual timezones are _display_ information (just like `freq`). There is no _fundamental_ information loss when the time zone is aligned to UTC.

[2019-08-26 18:43] jreback commented on #28034
@zogzog pls read my comments again. there is loss of information as pandas keeeps the tz meta data as part of the dtype; so by definition you are losing information.

[2019-08-26 18:50] zogzog commented on #28034
I've read your comment. "By definition" doesn't cut it. Did you read mine and try to understand the argument and address it ?

[2019-08-26 19:27] zogzog commented on #28034
@mroeschke thanks, but I had perfectly well understood. I stand by my position that this is a benign loss, in fact a complete non-issue. Apart from the principled position you take (which of course I'm not opposed to in abstract), I would love to know where _in practice_ this would cause issues. Did the previous design cause real-world issues ? Do you have real-world data, like bug reports, indica

[2019-08-26 20:41] vlbrown opened #28155 "Inconsistency with ints and floats"
#### Problem description

   1. pandas statistics sometimes produce numpy data types and sometimes not. This is inconsistent.
   2. json_dumps cannot serialize int64 (not a pandas issue but that's how I got here)

 I created a dictionary containing pandas stats.  The input is a pandas series, s, dtype float64.

The methods used are
[code]

Apparently, pandas returns numpy ints and numpy floats (so

[2019-08-26 20:44] simonjayhawkins commented on #28125
https://travis-ci.org/pandas-dev/pandas/jobs/576942064

[2019-08-26 20:47] TomAugspurger commented on #28125
Ahh, it's an allowed failure. Thanks.

On Mon, Aug 26, 2019 at 3:44 PM Simon Hawkins <notifications@github.com>
wrote:

[2019-08-26 22:12] adamjstewart opened #28156 "HDFStore: unable to create index, no error message"
I was trying to follow the documentation at https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#indexing but ran into an unintuitive bug with HDFStore index creation. I thought I would report it in case someone else runs across this problem.

First, I create 2 dataframes and an HDFStore:
[code]
Now, when I append, if I do:
[code]
I can successfully create an index:
[code]
But if I inst

[2019-08-27 00:55] DavidRosen opened #28162 "comparison_with_sql document: adding a calculated column"
https://pandas-docs.github.io/pandas-docs-travis/getting_started/comparison/comparison_with_sql.html

In section "SELECT", the important use case of adding a calculated column is omitted.

I suggest adding something like the following:

select *, tip/total_bill as tip_rate from tips

pd.concat([tips, pd.Series(tips.tip/tips.total_bill, name='tip_rate')], axis=1)

[2019-08-27 02:12] TomAugspurger opened #28163 "Setting the plot backend should validate `.plot` immediately"
Right now a `pd.set_option('display.backend', name)` will

1. look for an entrypoint
2. fall back to importing the module `name` and setting that to the backend

In the second case, the backend's implementation isn't validated until a plot is actually requested. We should validate that `name.plot` is a thing when the backend is set.

[code]

Rather than raising an `AttributeError` on `df.plot`, we

[2019-08-27 03:41] f-vert commented on #28156
does data analyst need a bachelors ?

On Mon, Aug 26, 2019 at 3:13 PM Adam J. Stewart <notifications@github.com>
wrote:

[2019-08-27 05:40] ivirshup opened #28166 "Incorrect docs for merging categoricals"
The documentation for merging categorical arrays ([here](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html#merging)) states that calling `pd.concat` on two data frames with categorical columns will throw an error. This doesn't throw an error, and probably shouldn't following #13767.

Here's the example shown in the docs:

[code]

[2019-08-27 06:17] datapythonista commented on #28163
Makes sense to me, but I think it's trickier than it looks. My first implementation had some validations when setting the backend, but iirc @jreback preference was to not import the module until a plot is called. I think because matplotlib needs to be loaded even if plot() is never used, unless some hacky things are done.

[2019-08-27 06:24] iwpnd opened #28167 "DOC: User Guide - enhancing performance - using ndarray"
[code]

#### Problem description

Code example in documentation for [enhancing performance](http://pandas-docs.github.io/pandas-docs-travis/user_guide/enhancingperf.html#using-ndarray) is erroneous. Shows intendation error instead of %prun timing.

#### Expected Output

Expected to see %prun timing.

[2019-08-27 07:56] datapythonista commented on #28167
This is already fixed in master, was taken care of in #28029

You can see the latest docs in: https://dev.pandas.io/user_guide/enhancingperf.html#using-ndarray

If you see anything wrong there, please let me know, and I'll reopen the issue.

[2019-08-27 07:56] #28167 closed

[2019-08-27 08:11] datapythonista opened #28168 "WEB: Images for the carousel"
In #28014 we are adding a first draft of the new pandas website. It can be seen here:
https://datapythonista.github.io/pandas-web/

In the home page, there is a carousel with images to give a quick overview of what pandas is about. So far it contains 4 slides:
- Loading data
- Filtering
- Imputing missing values
- Groupping by

Those are not expected to be final, more a proof of concept.

Some thi

[2019-08-27 09:41] jensgoemaere opened #28169 "Merging of DataFrames doen not keep order of suffixes"
The documentation of the merge of dataframes state that with the suffixes parameter you can set the columnname suffixes for the left and right dataframe respectively (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

According to my example the suffixes are first sorted alphabetically.

[code]
Actual result:
[code]
What I expected to get:
[code]
When I use t

[2019-08-27 09:43] xysscn commented on #11905
I have the same problem with bluenote10, the double conversion is too slow for a frequently called api.Does anyone have a workaround?

[2019-08-27 10:55] Tasty213 opened #28170 "[Feature Request] Export DataFrame/Series"
Often when having difficulty solving a bug users resort to posting a question on a site such as stack overflow. Part of the question is inevitabley giving some background on their data. However in order to fix the issue other users occasionally have to try and recreate their dataset, this may be done incorrectly (misunderstanding column names or datatypes etc). As such it would be useful if users