[2022-09-19 08:52] WooilKim commented on #48635
/take

[2022-09-19 08:54] Sherry3 commented on #48632
/take

[2022-09-19 08:58] WooilKim commented on #48598
@datapythonista
Hi, I want to use /take command for other issue, but it seems to be not working.
Does /take command need time to be assigned?
Actually, I want to work on #48561 .
Thanks.

[2022-09-19 08:58] WooilKim commented on #48561
/take

[2022-09-19 08:58] WooilKim commented on #48561
/take #48561

[2022-09-19 08:59] maciejskorski commented on #48635
Cool. I am reporting this as I have seen quite a few people confused by the behaviour. Let me know if I can be of any help (review, discuss).

[2022-09-19 09:00] WooilKim commented on #48632
@Sherry3
I'm sorry but it seems to be not working.
I copied and pasted the advice from #48598 .
I'll comment if I get the right way to be assigned.

[2022-09-19 09:02] datapythonista commented on #48598
Ah, sorry, I think it may be `take` without the slash in pandas. Implemented in other projects too as `/take`, but when I implemented it in pandas having a heading slash was not usual yet

[2022-09-19 09:02] WooilKim commented on #48635
@maciejskorski
Thanks.
I'll share the progress soon.

[2022-09-19 09:05] WooilKim commented on #48632
@Sherry3
Can you try to comment just "take" without slash?
I think it works.

[2022-09-19 09:06] WooilKim commented on #48598
@datapythonista
Oh I think it works.
I think it will be better to provide guide about the commands such as "take" for newbies like me.

[2022-09-19 09:36] RaphSku commented on #48526
take

[2022-09-19 09:55] pikulmar opened #48636 "BUG: `MultiIndex.set_levels` fails on empty levels (breaks `tz_localize`)"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The code block with the "FAILS" comment above shou

[2022-09-19 10:00] datapythonista commented on #48598
It's documented in the developers guide in our docs, not sure exactly where, but you should be able to find it.

[2022-09-19 10:24] datapythonista commented on #45223
Everything seems ready and backported, starting the release of 1.5.0 now.

[2022-09-19 10:37] phofl commented on #48634
Hi, thanks for your report. Please provide information on your environment. This works on main

[2022-09-19 11:26] datapythonista commented on #45223
I've got one failure during final pip package validation. I guess the crash is caused by a memory error (even I think I should have plenty of memory for it in my system, but I was running the conda validation in parallel, maybe it consumes a lot). I'll rerun tests again and see if the problem persists, before continuing with the release.

[code]

[2022-09-19 11:40] buhtzz commented on #48634
It was `1.3.0`. The error also occur in `1.3.5`.
I confirm this works on `1.4.4`.

Sorry for wasting your time. To many environments here.

btw: IMHO this is a bug. So it could be backported to the 1.3. series.

[2022-09-19 11:41] phofl commented on #48634
We don’t update the 1.3. series anymore. We are releasing 1.5.0 today

[2022-09-19 11:41] #48634 closed

[2022-09-19 11:44] EricKart commented on #48598
Hi, can I too work on this issue?

[2022-09-19 11:46] datapythonista commented on #45223
Looks like the test has a peak heap allocation of 12.2Gb, and I'm testing on my laptop with 16Gb RAM. I managed to get the test passing when nothing else runs in parallel. Assuming the failures are caused by not having enough memory available in the system when running the tests in parallel, and moving forward with the release.

Pushing the tag now, no going back. ;)

[2022-09-19 11:57] datapythonista commented on #48598
Sure, go ahead. Thank you!

[2022-09-19 12:53] Sherry3 commented on #48632
take

[2022-09-19 12:55] Sherry3 commented on #48632
Thank you @WooilKim.

[2022-09-19 13:16] datapythonista commented on #45223
I opened the PR for the wheels a while ago, but seems like the arm wheels are built sequentially, and the CI for the PR will probably take couple of hours more: https://github.com/MacPython/pandas-wheels/pull/196

I'd probably move forward and merge, before the last arm builds finish, I don't think it makes a difference. I don't have write permissions on the MacPython repo. @jreback, @lithomas1 (o

[2022-09-19 13:59] ehsantn opened #48638 "BUG: StringArray is a subclass of PandasArray"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

PandasArray is described as a thin wrapper around

[2022-09-19 14:23] lithomas1 commented on #45223
Yeah, I added you. I think its probably fine to skip the arm wheels if they are taking too long and upload them later.

[2022-09-19 14:32] datapythonista commented on #45223
Thanks @lithomas1. I meant not waiting for the PR builds, that are only to test that everything is fine. But I think you're right, all the other builds are now ready, and the arm ones will still take 3 more hours. I think I'll continue the release without them for now, so we can get the conda packages building, and will add the arm wheels later to the pypi.

[2022-09-19 15:32] JanVHII commented on #48567
Hi,
analyzing the bug, I think the following small change would solve the issue:

[code]
From my point of view "gpr in obj" does not make sense for series at this point. I think the if-statement is written for dataframes to look if gbr is one of the columns. Skipping the if-statement for series gives the correct results for the examples above. The testsuite for series and groupby runs without erro

[2022-09-19 16:09] datapythonista commented on #45223
An update:
- Docs for 1.5.0 are available: https://pandas.pydata.org/pandas-docs/version/1.5.0/
- Link for stable docs created: https://pandas.pydata.org/docs/
- Updates to the version switcher in Sphinx and the website will happen when merging #48600 (the website will be updated with any PR merged really)
- PyPI packages already available for 1.5.0 (except for arm): Checked that `pip install pand

[2022-09-19 16:23] datapythonista commented on #45223
Conda PR now created: https://github.com/conda-forge/pandas-feedstock/pull/142

[2022-09-19 16:47] datapythonista commented on #45223
Seems like there are some problems with arm in conda-forge, this time a [failure](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=570685&view=logs&j=e9afaa34-1a0f-534e-78fc-fae528ccd915&t=48395e60-bc5f-5e45-7455-d404f0c95f3a&l=6097):
[code]

Not quite sure what's the problem, having a look.

[2022-09-19 16:50] mroeschke commented on #45223
If pandas is being built with `-nj> 1`, it may the parallel build race bug in https://github.com/pandas-dev/pandas/issues/47305. All of our other CI builds specify `-j 1`

[2022-09-19 17:11] mroeschke commented on #24667
Ah gotcha. Nonetheless your original point stands as `copy` should be kept in favor of `inplace`

[2022-09-19 17:11] #24667 closed

[2022-09-19 17:34] TheNeuralBit commented on #45223
Are there notes from this meeting? I'm curious what was decided regarding #45725

[2022-09-19 17:37] phofl commented on #45223
We will fix this but it was not ruled a blocker for the release

[2022-09-19 18:00] xconverge opened #48641 "aarch64 wheel missing on pip for 1.5.0"
### Installation check

- [X] I have read the [installation guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#installing-pandas).

### Platform

Linux-5.15.0-1019-aws-aarch64-with-glibc2.35

### Installation Method

pip install

### pandas Version

1.5.0

### Python Version

3.10

### Installation Logs

https://pypi.org/project/pandas/1.5.0/#files

does not contain t

[2022-09-19 18:56] mroeschke commented on #48641
Thanks for the report. The ARM wheels are still being built and will be uploaded separately: https://github.com/pandas-dev/pandas/issues/45223#issuecomment-1251107482

[2022-09-19 19:01] deepaksirohiwal commented on #48598
Hi @datapythonista , is there any other way to generate the web page as it is showing me `requests.exceptions.HTTPError: 403 Client Error: rate limit exceeded for url: https://api.github.com/users/` this error. Do I need to regenerate the web page every time I make any changes?

[2022-09-19 19:05] datapythonista commented on #48598
You can use `--ignore-io-errors` to avoid that error.

[2022-09-19 19:17] xconverge commented on #48641
Thanks, just bad luck then because I happen to run our renovatebot/dependabot on monday mornings so it picked up the change, maybe I will add a age requirement, this is the first time its bit me though

👍

[2022-09-19 20:22] datapythonista commented on #48641
Our arm builds for the release never started, and they were cancelled after a while. It's still not clear to me if TravisCI is experiencing some problems, or we hit some quota limit. I guess the former since there is no message with info (otherwise really poor TravisCI UI if not starting the jobs is how they let users know their quota has been exceeded). Will give another try tomorrow to see if it

[2022-09-19 20:38] phofl commented on #48635
I don't understand the issue here. Why do you think that value_counts does not count unique rows? That this is done via groupby is an implementation detail that should not be visible in the docs

[2022-09-19 20:40] rhshadrach commented on #48635
Thanks for the report! I think we should stick to a description that doesn't rely on other parts of pandas (e.g. groupby) as much as possible. Otherwise it may be difficult for new users to understand what this method should do.

This is not how I read the docstring, but I can see that it can be interpreted that way! To me, `Return a Series containing counts of unique rows in the DataFrame.` means

[2022-09-19 20:45] tehunter opened #48644 "DOC: Sticky Headers in Table Visualization is broken in v1.5.0"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/version/1.5.0/user_guide/style.html#Sticky-Headers

### Documentation problem

Here is how the DataFrame looks in v1.5.0 documentation:
![image](https://user-ima

[2022-09-19 20:49] phofl commented on #48574
cc @jbrockmendel  thoughts here?

[2022-09-19 21:06] pwwang opened #48645 "BUG: `dropna` affects `observed` in `DataFrame.groupby()` since v1.5"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`dropna=False` in `DataFrame.groupby()` should not

[2022-09-19 21:11] adrienpacifico commented on #47832
I just checked with pandas 1.5.0, and the issue is still there.  Will this be solved in pandas 2.0, or in a future 1.5.x ?

[2022-09-19 21:14] datapythonista commented on #45223
Conda-forge CI finally finished. It takes more than 3 hours to complete some of the jobs. PR is now merged, I guess we should have conda packages in something more than 3 hours from now.

I also emailed TravisCI support to see if they can provide more information about the arm build problems. I'll post here if I hear back from them.

[2022-09-19 21:22] jbrockmendel commented on #48574
Can fix for 1.5.1.  For 2.0 we'll support [s, ms, us, ns], and i think astype to anything else will raise.  long-term the user should use .floor i think

[2022-09-19 21:30] phofl commented on #46909
@rhshadrach Is there a quick fix that we can backport? This caused a couple of regressions it seems

[2022-09-19 21:40] phofl commented on #48645
cc @rhshadrach

[2022-09-19 21:41] coroa opened #48646 "BUG: regression in read_csv reading from file stream with encoding"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Fails in `TextReader.__cinit__` with `EmptyDataErr

[2022-09-19 21:52] maciejskorski commented on #48635
Better to my taste! This wording better separates “unique row” from “occurrences”.
Otherwise, it was too close to “unique occurrences” aka “count distinct”.

Maybe even "unique row -> unique row value". This. emphasizes counting of row values (tuples), rather than rows themselves (row can be seen unique by indexing).

[2022-09-19 21:57] datapythonista commented on #45223
All conda-forge packages except PowerPC should be now published. I manually tested the one for my architecture and python version (py39/linux64) and seems to be working fine.

No answer from TravisCI yet, but looks like some other users are experiencing the same problem, and TravisCI is aware: https://travis-ci.community/t/arm64-graviton2-not-getting-queued/13299

I'll go ahead and make the announ

[2022-09-19 22:00] tehunter opened #48649 "BUG: `df.to_excel` fails for `"border-style: hair"` with `xlsxwriter`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The `CSSToExcelConverter._border_style` function d

[2022-09-19 22:00] tehunter commented on #48649
take

[2022-09-19 22:06] twoertwein commented on #48646
I can confirm that it works on 1.4.4 (`engine="c"` and `"python"`) and fails on 1.5.0  for `engine="c"` but works with `engine="python"`.

I must admit I slightly prefer the failure with the c-engine in 1.5.0. After `.readline()` the position of the file handle reached the end and should therefore correctly be empty. If you add `fin.seek(0)` before the `read_csv` call, it works.

[2022-09-19 22:19] phofl commented on #48646
Can confirm

commit 9292530c9eadd70fbff68a3e71c2fc2bea10b3d9
Author: Torsten Wörtwein <twoertwein@users.noreply.github.com>
Date:   Mon May 30 16:45:01 2022 -0400

    CLN: Simplify mmap code (#47175)

cc @twoertwein

[2022-09-19 22:30] #34986 closed

[2022-09-19 22:36] twoertwein commented on #48646
I assume that this shortcut (to make `read_csv`+mmap faster) is causing an issue:
https://github.com/pandas-dev/pandas/blob/5550fd982d5e4a8bf17eced76179513be8ed8170/pandas/io/parsers/c_parser_wrapper.py#L79

In this example
[code]
`TextIOWrapper` seems to have read-ahead (since its internal buffer is already at the end).

The following seems to fix this issue `src.seek(src.tell())` but I don't kno

[2022-09-19 22:46] rhshadrach commented on #46909
Thanks - ref: #48645. I'm looking into it.

[2022-09-19 22:50] rhshadrach commented on #48649
@tehunter - Your versions indicate 1.5.0rc; do you know if this bug exists in previous versions?

[2022-09-19 22:57] #48636 closed

[2022-09-19 23:17] tehunter commented on #48649
I know that previous versions also had an inability to use the "hair" style. I'm unsure at the moment if it led to the same error. I think it probably gave the same error identified in #45312.

In addition to adding support for the "hair" style, I think we probably need to have a "soft fail" for unrecognized/unimplemented border combinations. I'll work on adding both in a PR.

[2022-09-19 23:18] #37493 closed

[2022-09-19 23:21] #48048 closed

[2022-09-20 00:07] cwegener commented on #48641
Same here.

[2022-09-20 00:19] WooilKim commented on #48644
take

[2022-09-20 00:19] WooilKim commented on #48644
Let me handle this.

[2022-09-20 00:44] WooilKim commented on #48644
take

[2022-09-20 01:14] twoertwein opened #48650 "ENH: return current class name in deprecate_nonkeyword_arguments"
[code]
Might be nice to warn about `B.method`  https://github.com/pandas-dev/pandas/pull/48592#discussion_r974747938

Could probably use something like `args[0].__class__.__name__` inside the decorator but that assumes that the decorated object is a method and not a function.

[2022-09-20 02:23] WooilKim commented on #48644
I have a question.
Where can I find the document file in the repository?
I can not find it in docs directory.
Thanks.

[2022-09-20 03:22] rhshadrach commented on #48649
Why not index 7? Does weight 0 mean that there is no visible border for index 7?

[2022-09-20 03:31] rhshadrach commented on #48635
But I don't believe it is used much in pandas - the two occurrences I see in the docs both explain the term. It seems better to me to indicate the index is ignored rather than using this terminology.

[2022-09-20 03:43] shuimei opened #48652 "BUG: the rolling.Rolling subclass cannot handle string when using apply function"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

the example code raise a DataError
DataError: No n

[2022-09-20 07:26] marekro commented on #48480
Did this fix make it into 1.5.0? It seems to me that recently released 1.5.0 still shows this FutureWarning.

[2022-09-20 07:37] sc303030 opened #48653 "QST: pd.series indexing True auto 0 change"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/73783112/1-4-4-other-1-5-0-pd-series-indexing-true-auto-0-change

### Question about

[2022-09-20 07:43] Magnum35puc commented on #15988
+1 for append_skipdupes

[2022-09-20 08:21] phofl commented on #48653
Hi, thanks for your report. ``test[True]`` works for me while ``test[0]`` does not. We are now supporting a boolean index, see #45061

@jbrockmendel I guess this is the correct behavior now?

[2022-09-20 08:23] adrienpacifico opened #48654 "ENH: Safety net for operations not compatible with a given dtype."
### Feature Type

- [X] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I wish I could have a safety net preventing me from doing non correct operations linked to dtypes issues/incompatibilities.

Example:
[code]
The expected value of 129+129 would be 258, however  the value is 2.
This is

[2022-09-20 08:24] maciejskorski commented on #48635
I don't insist. I acknowledge that `pandas` is used by people with different backgrounds.

So please re-read my request as asking for clearly decoupling “unique” and “count”, that would do the job.

Sorry for that verbose communication, but I come with research background where the choice of words means a lot :-)

[2022-09-20 09:15] phofl commented on #48654
Hi, thanks for your report.

pandas does not implement these aggregation methods itself. We are falling back to numpy where this behavior is inherited from:

[code]

returns

[code]

[2022-09-20 09:24] vnlitvinov opened #48656 "REGR: df.apply('any', axis=1) fails with ValueError"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When running the snippet above, pandas 1.5 produce

[2022-09-20 10:02] attack68 commented on #48644
pandas/docs/source/user_guide/style.ipynb

[2022-09-20 10:03] attack68 commented on #48644
It seems like the whole notebook is mishandled, not just `set_sticky`.

[2022-09-20 11:11] lschwetlick opened #48657 "BUG: indexing with `at` and Multi-index gives unexpected error"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Given a dataframe with a multiindex, I can index i

[2022-09-20 11:48] MarcoGorelli commented on #48656
Thanks @vnlitvinov for the report, looks like this was caused by https://github.com/pandas-dev/pandas/pull/44896

[2022-09-20 12:24] phofl commented on #48656
Yep, can confirm:

[code]

[2022-09-20 12:30] phofl commented on #48657
Hi, thanks for your report.
Can you please produce the initial df without concat? Hard to see what's going on here

[2022-09-20 12:32] tehunter commented on #48649
Yes, thanks for confirming. I misread the table; "hair" corresponds to index 7.

[2022-09-20 13:43] gmmkmtgk opened #48658 "BUILD: Getting Syntax error for pandas library import in python If not using virtual env"
### Installation check

- [X] I have read the [installation guide](https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#installing-pandas).

### Platform

Windows-10-10.0.19044-SP0

### Installation Method

pip install

### pandas Version

latest

### Python Version

3.10.6

### Installation Logs

If I use virtual env then everything is fine But if I run simply then getting sy

[2022-09-20 14:00] phofl commented on #48480
I can not see the warning on 1.5.0. Can you provide your environment information?

[2022-09-20 14:29] lschwetlick commented on #48657
Doing it, I also noticed the following, possibly related, difference between implicitly and explicitly setting the multi index. In the implicit version the name of the unused index is an empty string. When setting it explicitely it is NaN.
[code]
->
[code]

and

[code]
->
[code]

[2022-09-20 15:01] jbrockmendel commented on #48653
test.loc[1] should definitely raise, but it may be that test.index._should_fallback_to_positional should be True, in which case the `__getitem__` call should still work (but would have different behavior on `test[::-1]`)

[2022-09-20 16:12] tehunter commented on #48649
Submitted a PR: #48660

[2022-09-20 16:30] MarcoGorelli commented on #48521
Thanks for the report

From git bisect, looks like this was fixed in #46828

[2022-09-20 16:37] datapythonista commented on #48641
Missing packages built and uploaded to pypi.

[2022-09-20 16:37] #48641 closed

[2022-09-20 16:37] datapythonista commented on #45223
Packages for all supported architectures now published, release complete.

[2022-09-20 16:56] phofl opened #48663 "CI: Unpin hypothesis in wheel builds"
The new hypothesis tested limits more strictly causing some build failures.

We pinned the version in our wheel build process.

see https://github.com/pandas-dev/pandas/pull/47952

[2022-09-20 16:59] anthonyaag opened #48664 "BUG: Change in series copy behavior in 1.5"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In pandas 1.4.4 all of the above return true but i

[2022-09-20 17:34] phofl commented on #48664
This was caused by

[code]

cc @jorisvandenbossche  was this intended?

In general, this is private. Does this leak somehow into the public api?

[2022-09-20 17:44] #7796 closed

[2022-09-20 17:48] #48566 closed

[2022-09-20 18:09] jbrockmendel commented on #48638
Can you elaborate on this?

[2022-09-20 18:18] VinitaSilaparasetty commented on #47544
I would like to work on this issue as well. Thanks.

[2022-09-20 18:19] stephanecollot opened #48665 "BUG: None value converted to NaN in Series"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In 1.5.0 there is a behaviour change, if you set a

[2022-09-20 18:31] #27656 closed

[2022-09-20 18:46] #48646 closed

[2022-09-20 18:51] MarcoGorelli commented on #48521
Looks like this is due to using `1_000_000_000` instead of `1e9`

There is

https://github.com/jbrockmendel/pandas/blob/2f6116f259b88f9a6684fdf0ffe0e45078439602/pandas/core/arrays/timedeltas.py#L821-L823

which tests this, but still, probably better to have a proper test rather than relying on a doctest

@randolf-scholz fancy submitting a PR?

[2022-09-20 18:53] MarcoGorelli commented on #48521
cc @jbrockmendel just FYI, as [it looks like this was a welcome surprise](https://github.com/pandas-dev/pandas/pull/47421#issuecomment-1164694264)

[2022-09-20 19:48] topper-123 commented on #48577
Hi @rhshadrach. I'm positive to adding the groupby classes to the public namespace and my only hesitance is whether to put them in the main namespace or not.

My feeling is that the main namespace is very crowded already and so should be added to only sparingly, and these two classes will not be instantiated directly from the main namespace, so it may be confusing having them there. `pd.api.types`

[2022-09-20 20:26] phofl commented on #48664
Adding milestone 1.5.1 for now

[2022-09-20 20:30] phofl commented on #48665
Can confirm (as I expected :))

[code]

I'll look into this

[2022-09-20 20:41] anthonyaag opened #48667 "BUG: to_hdf fails with boolean index in 1.5"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When saving to_hdf a dataframe which has a boolean

[2022-09-20 20:53] datapythonista commented on #48638
Thanks for the report. I don't think the API for extension arrays is very clear. Did you try to simply remove the subclass [here](https://github.com/pandas-dev/pandas/blob/main/pandas/core/arrays/string_.py#L220) and see what fails? I guess there may be some generic functionality that lives in the parent classes meant for numpy backed data. It'd surely make sense to move things to the right place

[2022-09-20 21:09] jorisvandenbossche commented on #48664
Thanks for the ping. I have to look into it in more depth, but from a quick look: this might be due to a change in `reindex` (when passing a Series object to the Series constructor, and also passing an index, then we reindex that series: https://github.com/pandas-dev/pandas/blob/73d15a7632e1b555defcc7942e5f629161626a4c/pandas/core/series.py#L438). Before, `reindex()` could return `self`, but in ht

[2022-09-20 21:21] anthonyaag commented on #48664
A few extension of a Series & Indexes and was basically testing almost exactly the above behavior.

[code]

So when the index stoped changing cs1's index then the test failed.

[2022-09-20 21:32] rhshadrach commented on #48645
#46601 fixed an issue with dropna and categorical, namely dropna with categorical still drops null values. On 1.4.x:

[code]

The null value is included in the result on 1.5.0. As identified, the patch did not correctly implement the case where `observed=False`.

I've looked into this, and it appears to me our current implementation of categorical with nulls and dropna are incompatible in groupby.

[2022-09-20 22:32] mroeschke commented on #48654
Improving the docstrings would probably be the better course of actions here. Generally, pandas tries to align with numpy semantics unless there are unsupported behaviors in numpy that pandas requires. Deviating from numpy semantics would be too difficult to maintain if numpy decides to change its behaviors.

Side note: the new pyarrow dtypes in 1.5 will raise on overflow errors for addition

[cod

[2022-09-20 23:01] gandhis1 commented on #48460
This issue can be closed, PR was merged.

[2022-09-20 23:41] lithomas1 commented on #46776
@pandas-dev/pandas-core Are there any objections for the next release to be 2.0?

[2022-09-21 00:09] anthonyaag commented on #48667
Seems to be a change from the dtype of the index

1.5 behavior
In [12]: pd.DataFrame([[True, 1]], columns=["a", "b"]).set_index("a").index
Out[12]: Index([True], dtype='bool', name='a')

1.4 behavior
In [11]: pd.DataFrame([[True, 1]], columns=["a", "b"]).set_index("a").index
Out[11]: Index([True], dtype='object', name='a')

[2022-09-21 00:10] mroeschke commented on #33971
I think we've largely committed to supporting ARM at this point:

1. We test ARM via CircleCI: https://github.com/pandas-dev/pandas/blob/main/.circleci/config.yml
2. We build ARM wheels on via https://github.com/MacPython/pandas-wheels/blob/master/.travis.yml and hopefully cibuildwheel soon: https://github.com/pandas-dev/pandas/pull/48283

so I think we can close at this point and support ARM bugs

[2022-09-21 00:10] #33971 closed

[2022-09-21 00:14] mroeschke commented on #30741
One potential difficulty before implementing this:

We note for EA authors that there is a set of test that can be run to check EA compatibility: https://pandas.pydata.org/docs/development/extending.html#testing-extension-arrays

So if tests were removed from the distribution, a subset of  `pandas/tests/extensions/` probably should not be removed

[2022-09-21 00:14] phofl commented on #46776
I think the agreement on the august call was to wait with that decision till 1.5.1 is out in case anything unexpected happens

[2022-09-21 00:18] mroeschke commented on #20926
I think this should largely be handled once we have cibuildwheel in place https://github.com/pandas-dev/pandas/issues/44027 (PR: https://github.com/pandas-dev/pandas/pull/48283) which also tests the wheels so I think we can close this as falling under that issue

[2022-09-21 00:18] #20926 closed

[2022-09-21 00:46] ehsantn commented on #48638
The code paths for unboxing each array type is different. For PandasArray, Bodo just needs to unbox `_ndarray` since PandasArray is just a wrapper for Numpy arrays. StringArray is a different code path with slight differences such as handling pd.NA. This led to an error in Bodo so I noticed this class hierarchy issue.

[2022-09-21 00:55] ehsantn commented on #48638
Yes, the APIs should be clarified to enable more robust integration with Pandas in general. Removing the subclass causes an error somewhere else so it may be a bit of work. Not a big issue for us right now since the workaround is just an extra type check. Opened the issue as feedback about extension array APIs and what other users may expect.

[2022-09-21 01:09] mwaskom opened #48673 "BUG: Unclear FutureWarning regarding inplace iloc setitem"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

This is confusing because I did not do `df.iloc`,

[2022-09-21 01:24] zaneselvans commented on #48574
Messing around with this a bit, `Series.dt.floor()` works well for Day, Hour, & Minute frequencies, but it doesn't allow snapping to the the start of years or months, so now I'm pulling out the numpy array and casting it to another frequency and constructing a new Series. It seems like there must be a better way I'm not aware of.

[code]
|       | hourly              | daily      | monthly    | ye

[2022-09-21 01:28] MichalRIcar opened #48674 "BUG: Wrong index constructor if new DF/Series is created from DF/Series"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Working with variables, and creating new variables

[2022-09-21 07:48] MarcoGorelli commented on #35685
Is this only true for bisecting? Any reason to not use it all the time?

[2022-09-21 08:04] WooilKim commented on #48644
@attack68
Thanks. I agree.

[2022-09-21 08:11] donghyyun opened #48675 "BUG: Resampler.mean(engine="numba") results error"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Based on [reference](https://pandas.pydata.org/doc

[2022-09-21 08:58] phofl commented on #48667
[code]

[2022-09-21 11:20] PrimozGodec opened #48678 "BUG: to_datetime - confusion with timeawarness"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When calling to_datetime with pd.Timestamps in the

[2022-09-21 11:47] Supriyapattar123 opened #48679 "ValueError: Could not convert object to NumPy datetime"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

ValueError                                Traceback (most recent call last) <ipython-input-57-dcd2f8448240> in <module>

[2022-09-21 11:51] MarcoGorelli commented on #48679
Hi - please post a reproducible example, see

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

for how

[2022-09-21 12:09] PMLP-novo commented on #45474
The bug also exists in Postgres. Uppercase names makes it imposible to select
![image](https://user-images.githubusercontent.com/54025656/191499941-b227ac9c-db91-4c5c-9b2e-d56d3a737707.png)

[2022-09-21 12:22] Dr-Irv opened #48680 "DOC: search is missing in the published 1.5 docs"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/

### Documentation problem

The search functionality that appears in 1.4 docs is missing in the new styling for 1.5.
Here is 1.5:

![image](https://user-imag

[2022-09-21 12:57] Usama3627 commented on #48680
In 1.5, the search exists on the top-right side next to the version change dropdown.

Tested it and it performs the same search as the 1.4.

<img width="371" alt="Screenshot 2022-09-21 at 5 56 18 PM" src="https://user-images.githubusercontent.com/31164069/191509577-c056cb8a-1560-423c-85bd-06812dab5f63.png">

[2022-09-21 13:49] bollard opened #48681 "BUG: `TypeError: Int64` when using `pd.pivot_table(..., margins=True)` with Int64 values"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

This issue looks similar to [this one](https://git

[2022-09-21 13:58] Dr-Irv commented on #48680
Thanks. I was so used to it being on the left!

[2022-09-21 13:58] #48680 closed

[2022-09-21 14:03] ArcRiiad opened #48682 "PERF: Memory duplication spotted when dropping axis from a dataframe"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

# Pandas Memory duplication

Hello!

First of all Thanks for this amazing wor

[2022-09-21 14:17] bollard opened #48683 "BUG: `FutureWarning: Inferring datetime64[ns]` when using `pd.pivot_table(..., margins=True)` and `datetime64[ns]`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Following on from [this issue](https://github.com/

[2022-09-21 14:31] bollard opened #48684 "ENH: Ability to specify only `rows` or `columns` as `margins` using `pd.pivot_table`"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Currently, using `pd.pivot_table(..., margins=True)` applies `aggfunc` to both axes. This is not always useful, depending on the use case, and so I propose changing `margins` to allow the specific axis of interest to

[2022-09-21 14:59] anthonyaag commented on #48673
Seems like this warning was added in https://github.com/pandas-dev/pandas/pull/45333 along with a some TODOs to get more info. Maybe @jbrockmendel has some guidance on what to do here.

[2022-09-21 15:53] MarcoGorelli commented on #48678
Can confirm (though haven't looked any more closely than that yet), thanks for the report

[code]

[2022-09-21 16:05] jbrockmendel commented on #48574
Good catch.  I think we'd need something like `pd.offsets.YearStart().rollback(obj)` but for arrays instead of scalars xref #7449.

For 1.5.0 your best bet is, like you've found, doing the astype directly on the underlying numpy arrays.

For 1.5.1 we can restore that behavior.

[2022-09-21 16:21] NSH531 commented on #48253
שבוע טוב :-)

אני רוצה לעדכן אותך שלצערי אני לא יכול בשלב זה להמשיך להעסיק את מנהל השיווק
שלי

שמו אור באבד.

הוא עושה עבודה נהדרת!

אני ממליץ עליו בחום וחושב שהוא יכול להיות נכס עבורך.

אור חי בטורונטו קנדה ועובד בשלט רחוק

הוא בוגר תואר מדעי המחשב מאוניברסיטת תל אביב ויש לו ניסיון של 15 שנה בניהול
קמפיינים בישראל ובעולם.

 ניתן לקבוע פגישה בקישור הבא:

https://calendly.com/tigertest-hungary/meet

[2022-09-21 16:22] NSH531 commented on #48256
שבוע טוב :-)

אני רוצה לעדכן אותך שלצערי אני לא יכול בשלב זה להמשיך להעסיק את מנהל השיווק
שלי

שמו אור באבד.

הוא עושה עבודה נהדרת!

אני ממליץ עליו בחום וחושב שהוא יכול להיות נכס עבורך.

אור חי בטורונטו קנדה ועובד בשלט רחוק

הוא בוגר תואר מדעי המחשב מאוניברסיטת תל אביב ויש לו ניסיון של 15 שנה בניהול
קמפיינים בישראל ובעולם.

 ניתן לקבוע פגישה בקישור הבא:

https://calendly.com/tigertest-hungary/meet

[2022-09-21 16:22] mroeschke commented on #48545
Since there hasnt been much support from other core devs, closing.

[2022-09-21 16:22] #48545 closed

[2022-09-21 16:25] mroeschke commented on #48682
Thanks for the report. The library documentation hasn't done a great job describing the sentiment that `inplace` is generally discouraged and will be deprecated in the near future: https://github.com/pandas-dev/pandas/issues/16529

[2022-09-21 17:31] MarcoGorelli commented on #48256
sorry, no idea what you've written

[2022-09-21 17:36] MarcoGorelli commented on #48633
likewise, with `errors='ignore'`

[2022-09-21 17:37] jbrockmendel opened #48688 "BUG: explicit tz=None ignored in Timestamp constructor"
[code]

If a user explicitly passes tz=None and a tzaware string or datetime object, we should raise.  This was fixed for DatetimeIndex in GH#48659

[2022-09-21 18:01] #48595 closed

[2022-09-21 18:54] #44027 closed

[2022-09-21 19:33] hauntsaninja opened #48692 "ENH: Make `deprecate_nonkeyword_arguments` alter function signature"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

Currently `deprecate_nonkeyword_arguments` does not alter the function signature. This means that `help` and `??` will show the deprecated signatures. This also affects recent attempts to achieve better typing of pand

[2022-09-21 19:36] hauntsaninja commented on #48692
cc @twoertwein

[2022-09-21 21:02] ArcRiiad commented on #48682
@mroeschke  Thanks for the reply, indeed specifying this part in the doc is a great idea.

However, having a parameter or another drop function that does not duplicate the dataframe would also be very useful when dealing with large dataframes. Do you have any plans for this use case?

[2022-09-21 21:13] pm13 opened #48694 "BUG: UndefinedVariableError in DataFrame.query if name is type"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In Pandas 1.5.0 it is not possible to use class as

[2022-09-21 21:29] deepaksirohiwal commented on #48598
Hi @datapythonista, I have added a switcher to the doc file and I wanted to know how to write it in the documentation. Should I send a pull request first?
![image](https://user-images.githubusercontent.com/38135521/191613825-68e3507e-f358-42c2-bab0-cdfba35a194d.png)
![image](https://user-images.githubusercontent.com/38135521/191613873-13671b2e-539b-45fe-ae34-bb39c0d9418c.png)

[2022-09-21 21:58] phofl commented on #48682
We are currently working on a CopyOnWrite mechanism that would allow us to make these operations return shallow copies, e.g. avoiding the duplication

[2022-09-21 22:02] phofl commented on #48694
Can confirm

[code]

cc @weikhor

[2022-09-21 22:47] jbrockmendel commented on #48682
I tried adding a `copy` keyword to DataFrame.drop #47993 but couldn't get it passing on the CI (this was before we decided not to add copy keywords in 1.5)

[2022-09-21 22:55] astrowonk commented on #37941
This seems like memory inefficient as it's building a list of every complete dataframe first then reducing it to a list of smaller dfs in the conditional. If empty string query returned all rows you'd not only save an `if` but use less peak memory, right? `f(x).query(_query)`

[2022-09-21 23:16] rhshadrach commented on #48694
Somewhat tangential, but with f-strings, is there any advantage of using `@`? E.g. in this case

    df.query(f'x == {A.a}')

This has the added benefit of linters detecting the usage of `A.a`.

[2022-09-21 23:17] smcinerney commented on #6369
Confirm this works in 3.10:

`records = pd.read_table('test.txt', sep='§', engine='python')`

[2022-09-21 23:26] sterlinm opened #48700 "StataReader processes whole file before reading in chunks"
I've noticed that when reading large Stata files using the chunksize parameter the time it takes to create the StataReader object is affected by the size of the file. This is a bit surprising since all of the metadata it needs is contained in the file header so it seems like it should take the same time regardless of the total file size.

I took a look at the code and it seems like the culprit is

[2022-09-22 00:03] datapythonista commented on #48598
Yes, if you have the changes locally, and want to get your changes into our official docs, the only way is opening a pull request

[2022-09-22 00:37] sohailc opened #48701 "REGR: Setting values with 'loc' and boolean mask mixes up values (all-True mask)"
According to [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html), using `loc` should work with Boolean arrays. However, the following does not seem to work:

[code]

The weird thing is that if n is smaller then the code works. This has been tested on Pandas 1.5.0

[2022-09-22 01:09] WooilKim commented on #48644
@attack68
I'm in hard time finding the css "fit-content". I think it is not in the style.ipynb file.
Can you give me an advice which file should I look into?
Thanks.

[2022-09-22 01:30] twoertwein commented on #48700
Is that a behavior change you have noticed since 1.5 or did it also exist in previous versions? I think these particular lines of code are around since 1.3 but even before it (I think) it had a similar logic.

I think the issue is that some IO-like objects are not seekable but read_stata does internally a lot of seeking (some of the compressions IO doesn't support seeking). It might be the case th

[2022-09-22 05:40] martinfleis commented on #48701
I believe that this is a regression in pandas 1.5.0 as this works correctly on 1.4.4. We ran into the same bug in downstream yesterday https://github.com/geopandas/geopandas/issues/2558.

[2022-09-22 06:53] jorisvandenbossche commented on #48701
The reproducer from that issue:

[code]

It indeed needs some minimum values, because of `np.argsort` only starting to return non-sorted values after a minimum number of True values:

[code]

This argsort is used here:

https://github.com/pandas-dev/pandas/blob/71fc89cd515c3c19230fbab64e979118858b808a/pandas/core/indexing.py#L1990

That code assumes that indexer is already an integer indexer, not

[2022-09-22 06:57] kingzhong23 commented on #48318
`freq` attr of `datetime_index` is `MS`, but `freq` attr of `period_index` is `M`, so when you use `period_index.to_timestamp()` you need to change `freq=datetime_index.freq` to `freq=period_index.freq`.

Hope this could help you. : )

[2022-09-22 07:03] deepaksirohiwal commented on #48598
All the test cases passed but only one throwing an error `Error: The process '/opt/hostedtoolcache/Python/3.9.7/x64/bin/pre-commit' failed with exit code 1` @datapythonista

[2022-09-22 07:36] wonb168 opened #48704 "pandas read int contain null will be float type"
[code]
a    float64, and values:
0	NaN
1	3.0
2	2.0
and 3 changed to 3.0, then can't write back to db.
why pandas do this? another python package datatable also remain int ,
0
1     3
2     2

[2022-09-22 08:09] apacha opened #48706 "BUG: Excel import crashes on simple file"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Loading the attached file produces an exception an

[2022-09-22 08:10] apacha commented on #48706
Here is the Excel file in question for reproducing the problem
[BrokenExcel.xlsx](https://github.com/pandas-dev/pandas/files/9623717/BrokenExcel.xlsx)

[2022-09-22 08:20] apacha commented on #48706
On a second thought, I'm not sure what the expected behavior should be and why it didn't crash in 1.4.3?

[2022-09-22 08:56] ArcRiiad commented on #48682
@phofl Good news! do you have an ETA? or an open PR where this topic is discussed?

Don't hesitate to ping me, we can test the new mechanism, and give you feedback

[2022-09-22 08:59] ArcRiiad commented on #48682
Indeed, a copy params should also do the work. From what I understand you guys prefer implementing the CopyOnWrite, right?

[2022-09-22 09:30] dadiego91 opened #48707 "BUG: to_datetime with specific format are incorrectly matching"
### Pandas version checks

- [x] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

There is an inconsisten behaviour between datetime

[2022-09-22 09:46] MarcoGorelli commented on #48707
thanks for the report - looks like a duplicate of https://github.com/pandas-dev/pandas/issues/12649 ?

[2022-09-22 10:18] wenh06 opened #48708 "BUG: Inconsistent behaviour reading .tar.gz files for 1.5.0"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Executing the above code using `pandas == 1.5.0`,

[2022-09-22 10:20] radekSF commented on #48492
Is this a duplicate of #36327 ?

[2022-09-22 10:34] MarcoGorelli commented on #48707
I think it's the same, it's due to the ISO8601 fastpath

[code]

[2022-09-22 10:35] MarcoGorelli commented on #48707
closing for now, but thanks for the report, I'll looking into addressing this as I also find it to be surprising

[2022-09-22 10:35] #48707 closed

[2022-09-22 11:18] MarcoGorelli commented on #48708
Thanks for the report - [from bisecting](https://www.kaggle.com/code/marcogorelli/fork-of-pandas-regression-48678/notebook), this was caused by https://github.com/pandas-dev/pandas/pull/44787

I don't know anything about tarfile, but from reading there, it looks like the previous behaviour in 1.4.4 was incorrect was it would produce invalid tar files - in which case, it looks like this is fine?

c

[2022-09-22 11:23] MarcoGorelli commented on #48679
closing, will reopen if you address the above

[2022-09-22 11:23] #48679 closed

[2022-09-22 11:25] Audrius-GR opened #48709 "BUG: merge_asof unrecoverably loses precision, yet does not support nullable integer columns."
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The join result incorrectly ends up with `b = 1549

[2022-09-22 12:08] MarcoGorelli commented on #48701
yup, [git bisect confirms](https://www.kaggle.com/code/marcogorelli/pandas-regression-48701?scriptVersionId=106277631)

[2022-09-22 12:09] wenh06 commented on #48708
I might have found the problem. In previous versions, if one intended to save a `.tar.gz` file, he actually only got a gzipped text file. Only from version `1.5.0`, one can really get a `.tar.gz` file.

[2022-09-22 12:12] MarcoGorelli commented on #48708
thanks for checking - let's close then, doesn't look anything needs doing

[2022-09-22 12:43] phofl commented on #48709
Hi, thanks for your report. We are not casting from numpy dtypes to nullable dtypes just because there are nans introduced. You have to be explizit there. You can use ``convert_dtypes``to generalise this

[2022-09-22 12:43] #48709 closed

[2022-09-22 12:44] phofl commented on #48704
Hi, thanks for your report. We don't support automatic conversion to nullable dtypes in every io function yet.

[2022-09-22 12:44] #48704 closed

[2022-09-22 13:12] phofl commented on #48706
[code]

Previously, these rows were just ignored, which returned weird results. we are strict when validating the header rows since 1.5. Why specifying non-existing header rows at all?

So the new behaviour is expected.

[2022-09-22 13:13] apacha commented on #48706
Alright, thanks for the info!

[2022-09-22 13:32] Rand0x opened #48712 "BUG: read_csv function bug - null"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In my dataset are just some values and a colum wit

[2022-09-22 13:43] Audrius-GR commented on #48709
Sure, but `We are not casting from numpy dtypes to nullable dtypes just because there are nans introduced.` is exactly what causes the integers to be converted to floats and lose precision unrecoverably.

Why not convert to pandas nullable types instead and not lose precision?

As I said, there are workarounds, as you pointed out, `convert_dtypes` is one of them (except you still have to use numpy

[2022-09-22 13:43] phofl commented on #48682
#46958 implemented the initial mechanism. The linked issues and discussions should explain most things. This is already in 1.5, but we are still missing documentation for that. So theoretically, you could already try it out, but we are still missing the possible optimisations in other parts of the api

[2022-09-22 13:45] phofl commented on #48709
There is lots of discussion about this on the issue tracker. For now, it is a deliberate decision not to do that

[2022-09-22 13:46] phofl commented on #48712
Hi, thanks for your report.

read_csv has an option to set which values should be interpreted as null, did you try that?

[2022-09-22 14:09] apacha commented on #48706
@phofl Sorry for re-opening, but I'm a bit torn apart by this new behavior after trying to fix everything on our side, it seems it will be impossible for us to use Pandas 1.5.X because of this problem: We regularly have Excel documents with multiple sheets. Some of these sheets might be empty or not have a header - that's OK. There is only one `header` parameter, so if the sheets in which I am int

[2022-09-22 14:15] Audrius-GR commented on #48709
Except that the decision is not consistent.

If there is no "null" row, I get int64's back with the correct values that don't lose precision.
If there is a null row, I get floats that have lost precision.

[2022-09-22 14:18] Audrius-GR commented on #48709
and doing:
[code]

[2022-09-22 14:18] phofl commented on #48709
This is the numpy casting behavior, not pandas

[2022-09-22 14:19] phofl commented on #48709
Merge is not yet fully supported for nullable dtypes,

There are open issues about that

[2022-09-22 15:33] tehunter opened #48715 "DOC: "Show Source" button on API pages does not link to expected source code"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.html

### Documentation problem

The "Show Source" button on the new version of the documentation pages is not useful to most users a

[2022-09-22 15:40] tehunter commented on #48684
+1

[2022-09-22 16:21] sterlinm commented on #48700
I don't think it changed in 1.5, I had noticed it with 1.4. I didn't look back to see when it was introduced or if it has always been there.

I see the uses of seek in parsing the header but it seems like it should be possible to avoid that.

[2022-09-22 16:40] #48667 closed

[2022-09-22 16:43] deepaksirohiwal commented on #48598
Hey @datapythonista, I have opened a pull request and all the test cases have successfully passed. What next should I do now?

[2022-09-22 17:17] amay-patel commented on #48519
I am currently working on the issue...will be submit a PR soon!

[2022-09-22 17:30] twoertwein commented on #48700
Feel free to open a PR!

I think the main change is

[code]

[2022-09-22 17:50] #48701 closed

[2022-09-22 17:54] #48681 closed

[2022-09-22 18:30] gtteixeira opened #48718 "Filter accepts syntax error and returns wrong results without warning."
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The two syntaxes below are wrong, missing the pare

[2022-09-22 18:41] MarcoGorelli commented on #48718
Thanks for the report, but this is valid Python syntax - I don't think pandas can throw a warning or error here because it doesn't know what you were intending

closing for now then

[2022-09-22 18:41] #48718 closed

[2022-09-22 19:04] pkanavos commented on #45223
I just found out about #45725 because upgrading broke a job I was about to deploy. I have feelings about this

[2022-09-22 19:05] phofl commented on #45223
Prs are welcome

[2022-09-22 19:50] #45223 closed

[2022-09-22 22:52] jbrockmendel opened #48721 "BUG/TST: clipboard tests xpassing on mac"
test_raw_roundtrip xpassing on mac, py39, main

[2022-09-23 01:02] rhshadrach commented on #48674
Thanks for the report! I believe what you're highlighting is intended behavior. When `data` is a DataFrame or Series and the `index` argument is specified, pandas will align the `data` with the provided. I thought this was well documented in the Series / DataFrame constructor, but I'm not seeing that now. We may have another issue about documenting this.

[2022-09-23 01:11] donghyyun commented on #48675
@mroeschke Thank you for the reply.

If using numba engine in `resample` is not available, I think the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.mean.html#pandas-core-resample-resampler-mean) should be revised.

And sorry for the unclear error message. The full error message is:

[2022-09-23 01:19] rhshadrach commented on #48589
Thanks for the report! I believe this is a duplicate of #47985. If you think this is incorrect, comment here and can reopen.

[2022-09-23 01:19] #48589 closed

[2022-09-23 01:50] eshmu opened #48724 "BUG: df.to_csv() fails when encountering a NULL character"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Attempting df.to_csv() with any data that contains

[2022-09-23 02:41] sterlinm commented on #48700
I'll give it a shot over the weekend. Thanks!

[2022-09-23 03:25] eshmu commented on #48724
Appears to be related to a change in Python 3.10: https://github.com/python/cpython/issues/56387#issuecomment-1255762397

[2022-09-23 03:25] #48724 closed

[2022-09-23 05:49] x1001000 opened #48725 "DOC: typo"
https://github.com/pandas-dev/pandas/blob/87cfe4e38bafe7300a6003a1d18bd80f3f77c763/pandas/core/groupby/groupby.py#L202

[2022-09-23 06:07] lisphilar opened #48726 "BUG: DataFrame.plot(kind='scatter') does not raise KeyError when unknown colormap is applied"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`.plot(..., colormap='unknown')` raises `TypeError

[2022-09-23 06:11] x1001000 opened #48727 "DOC: typo"
### Pandas version checks

- [x] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://github.com/pandas-dev/pandas/blob/main/pandas/core/groupby/groupby.py#L207)

### Location of the documentation

https://github.com/pandas-dev/pandas/blob/main/pandas/core/groupby/groupby.py#L207

### Documentation problem

typo

### Suggested fix for documentation

[2022-09-23 06:12] #48725 closed

[2022-09-23 06:16] x1001000 commented on #48725
New issue with labels
https://github.com/pandas-dev/pandas/issues/48727

[2022-09-23 06:26] LuisBL opened #48728 "QST: handle lines with less separators than main lines in read_csv"
### Research

- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

### Link to question on StackOverflow

https://stackoverflow.com/questions/73820090/make-pandas-read-csv-to-not-add-lines-with-less-columns-delimiters-than-the-

[2022-09-23 09:41] Jeaksen opened #48729 "BUG: DataFrame.at fails when setting a whole row"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

[code]

### Issue Description

Trying to set a row in a DataFrame using D

[2022-09-23 11:17] vnlitvinov opened #48730 "BUG: Incorrect `inspect.signature(pd.DataFrame.rename_axis)` - missing `inplace`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I believe the problem is with the decorator which

[2022-09-23 11:42] MarcoGorelli commented on #48729
Hey @Jeaksen , thanks for the report

[From git bisect](https://www.kaggle.com/code/marcogorelli/pandas-regression-48729?scriptVersionId=106355081), looks this was caused by #47275

[2022-09-23 11:43] MarcoGorelli commented on #48729
cc @jorisvandenbossche

[2022-09-23 11:45] MarcoGorelli commented on #48730
Thanks @vnlitvinov for the report - looks like this is a duplicate of https://github.com/pandas-dev/pandas/issues/48692, so closing for now, but please do let me know if you disagree and I should reopen

[2022-09-23 11:45] #48730 closed

[2022-09-23 12:02] kamiwis commented on #48727
take

[2022-09-23 12:29] MarcoGorelli commented on #48727
closed in #48731

[2022-09-23 12:29] #48727 closed

[2022-09-23 12:57] phofl commented on #48729
The new behavior is correct. at should only work on single values, not on a complete row

[2022-09-23 13:05] MichalRIcar commented on #48674
Thank you for the reply.
From MPOV the issue is that behavior is dangerously inconsistent:
Adding a new variable to DataFrame from another DF/Serie, which has a different index from targeted DF,  ► x['N'] = pSe(pSe(N), index=x.index) ► then constructor **behaves like pd.concat and silently ignoring specified index=x.index**   ◄ as the example above shows.

To wrap it up:
x['N'] = pSe(pSe(N), index

[2022-09-23 13:19] phofl commented on #48726
This will raise a Waring with the newest matplotlib, since colormap has no effect in that scenario, even if a valid value is passed

[2022-09-23 13:35] phofl commented on #48729
This is explicitly mentioned in the docs

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.at.html

We have some inconsistencies there, but the expected behavior is that this does not work

[2022-09-23 14:38] lisphilar commented on #48726
Thank you for your information and pull request!

[2022-09-23 14:38] MarcoGorelli opened #48737 "STYLE: add pylint pre-commit hook"
Having pylint in CI would've prevented a bug from entering 1.5.0 https://github.com/pandas-dev/pandas/pull/48736

So let's add pylint as a pre-commit hook

pylint has a _lot_ of options - some duplicative of what's already in `flake8`, others arguably too opinionated, others that we'd like to eventually enable but perhaps not all in one go

So, the task here is:
- add `pylint` to https://github.co

[2022-09-23 15:16] MarcoGorelli commented on #48730
yeah sorry that's what I meant, the root cause of that one causes what you're seeing here

[2022-09-23 15:19] HebiKotei commented on #48737
Would you mind if I took a look at this?

[2022-09-23 15:25] vnlitvinov opened #48738 "BUG: `df.groupby(axis=1).size()` returns weird output"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In the example, I think that starting on 1.5, `.si

[2022-09-23 15:28] MarcoGorelli commented on #48737
go ahead, thanks

[2022-09-23 16:17] vnlitvinov commented on #48738
I've found a simpler reproducer which does not include multi-index but exhibits same weird output for `.size()`, so I've added that, too.

[2022-09-23 16:28] goodyguts commented on #48492
Yes it is

[2022-09-23 17:10] #48487 closed

[2022-09-23 17:22] #48598 closed

[2022-09-23 17:23] #48683 closed

[2022-09-23 17:45] #48726 closed

[2022-09-23 17:59] jbrockmendel commented on #45326
@jorisvandenbossche thoughts on preferred API?

[2022-09-23 18:01] #48665 closed

[2022-09-23 18:37] HebiKotei commented on #48737
Okay, so at the moment, I have disabled checks for Convention Checks, Refactoring Checks and general warnings (there are far too many to go through).

All that should appear are potential bugs (errors) and fatal errors. I will go through and see what I can do about the bugs that appear, does this sound fine?

[2022-09-23 20:24] aulemahal opened #48746 "BUG: Platform-dependent stringification of Period objects"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Period objects do not always return a string versi

[2022-09-23 20:30] tehunter opened #48747 "ENH/PERF: `ExtensionArray` should offer a `duplicated` function"
### Feature Type

- [X] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

In version 1.5.0, functions that use `Series.duplicated` (including `DataFrame.duplicated` with a single column subset and `.drop_duplicates`) go through `pd.core.algorithms.duplicated` which calls `_ensure_data`. Cur

[2022-09-23 20:45] mroeschke opened #48749 "API/PERF: Don't reorder categoricals when grouping by an unordered categorical and `sort=False`"
xref: https://github.com/dask/dask/pull/9486#issue-1372066649

TLDR: When calling `df.groupby(key=categocial<order=False>, sort=True, observed=False)` the resulting `CategoricalIndex` will have it's values _and categories_ unordered.

[code]

It's reasonable that the values are not sorted, but a lot of extra work can be spent un-ordering the _categories_ in:

https://github.com/pandas-dev/pandas/b

[2022-09-23 21:00] MarcoGorelli commented on #48737
sounds good! can always just add the check with all but a few potential bugs / fatal errors turned off, and then we gradually turn the others on as we fix them in separate PRs

[2022-09-23 21:51] #48645 closed

[2022-09-23 21:51] #46909 closed

[2022-09-23 21:53] phofl commented on #48747
Hi, thanks for your report. This is a duplicate of #48424

[2022-09-23 21:53] #48747 closed

[2022-09-23 21:58] phofl commented on #48738
Hi, thanks for your report.

[code]

cc @rhshadrach

[2022-09-23 22:13] mroeschke commented on #25151
This is a psudo-blocker for https://github.com/pandas-dev/pandas/issues/48553 as there are some test warnings involving `join` that hardcode `sort`, and passing through `sort` with `how="outer"/"inner"` hits Index.union/intersection which is not implemented when `sort=True`

[code]

[2022-09-24 00:02] tdpetrou opened #48754 "BUG: DateOffset frequency decimals do not work for lowercase offset aliases"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Lowercase offset aliases should work the same as u

[2022-09-24 06:33] AlexKirko commented on #48499
Since there are no comments, I'm closing the issue.

[2022-09-24 06:33] #48499 closed

[2022-09-24 11:29] ruifeng96150 opened #48757 "BUG: in describe() result, mean is to NaN or Inf, when change float64 to float32 or float16"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

when change the column to low float format, the me

[2022-09-24 12:07] HebiKotei commented on #48737
Alright then, sounds good, I should be done soon then. I'll submit the PR when ready.

[2022-09-24 12:09] datapythonista opened #48758 "WEB: Add style for blockquote"
Looks like when we have a `<blockquote>` tag in our website, our stylesheet doesn't have a specific style for it, and it's rendered as just a normal text.

Look at the second paragraph in the Implementation section in https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html

It probably makes sense to print it with a left padding, and with a brighter color (or use a bootstrap style

[2022-09-24 12:48] rhshadrach commented on #48738
Thanks for the report! I believe in #45987 I got caught up with making `size` behave like other reducers. Consider your example with count instead:

[code]

Unlike size, count isn't guaranteed to be constant for every row (nulls aren't counted), so we need to output in this format. However, with `axis=0` size returns a Series unlike count as well, and I think this behavior is useful even though it

[2022-09-24 12:59] HebiKotei commented on #48737
https://github.com/pandas-dev/pandas/pull/48759

[2022-09-24 13:23] MarcoGorelli commented on #48729
Thanks

Not a blocker for 1.5.1 then, but I do think a nicer error message would be good

e.g. with `__getitem__`, it's very clear that you need to set a column as well:
[code]

[2022-09-24 13:44] rhshadrach commented on #48674
This combines two different operations:

 1. the creation of a Series by providing a Series for `data` and specifying `index`; and
 2. the assignment of a Series to a DataFrame

We can only determine the behavior of each one individually, as this logically determines what happens when you performance them sequentially. Can you specify which of these two do you think behaves improperly and specify

[2022-09-24 14:30] rhshadrach commented on #48577
I think the idea of having  the main namespace be "objects / functions users should create / use" is a meaningful one, so +1 on the idea of putting this somewhere else. Looking through the current entries, the only potential class I see that a user should likely not be constructing themselves is `Flags`.

Currently, `pd.api.types` contains classes and functions for working with dtypes. This would

[2022-09-24 14:40] rhshadrach commented on #37941
What do you think of:

[code]

In any case, my opposition is only to going out of ones way to create a no-op. For any method, `df.method` is the user asking pandas to do something with the DataFrame so it doesn't make sense to me to add a `dont_do_anything` object to the logic so users can do `df.method(dont_do_anything)`.

In this case, I think the empty string is a natural no-op for query, simil

[2022-09-24 15:24] rhshadrach commented on #48757
Thanks for the report! NumPy converts float16 to float32 for the sum when computing the mean, and I think it makes sense for pandas to do the same. I also found https://github.com/pandas-dev/pandas/pull/10172#discussion_r30620986 where there is the comment "float32 should stay float32" for the sum. I'm not sure why the sum shouldn't be computed with float64, but at least float32 would help in many

[2022-09-24 18:07] Himanshuwagh commented on #48758
Hey, I can work on this. Is it open? @datapythonista

[2022-09-24 18:09] datapythonista commented on #48758
Yes, go ahead. Thanks!

[2022-09-24 18:09] datapythonista opened #48762 "DOC: Update color of icons for dark theme"
The color of our icons in the docs don't look good with the dark theme:

![dark_theme_icons](https://user-images.githubusercontent.com/10058240/192112344-b8625171-cfb1-42a6-890a-8d62d05f134e.png)

It'd be good to edit the svg files and make the color the same as the titles for example, rgb(69, 157, 185).

In the [Getting started](https://pandas.pydata.org/docs/getting_started/index.html) there are

[2022-09-24 19:13] lorenzovngl commented on #48762
Could I be the assignees of this issue?

[2022-09-24 19:14] lorenzovngl commented on #48762
Could I be the assignee of this issue?

[2022-09-24 19:21] datapythonista commented on #48762
Sure, thanks for helping with this @lorenzovngl

[2022-09-24 19:31] gravesee opened #48763 "BUG: pd.Series.unstack with mixed names types"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When calling pd.Series.unstack using a multi-index

[2022-09-24 21:12] mrfrizzz opened #48765 "BUG: df.plot(subplots=False) not drawing as expected"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

df.plot(.., subplots=True, ..) everything is fine

[2022-09-24 23:06] ruifeng96150 commented on #48757
Yes, I totally agree with you. In my case, I use lightgbm to train a model. If I  use lower float format data, the model is worse, while the data value is same. The season  for I  not want to use float64 is that the data is big so need to save memory use.

[2022-09-25 00:54] stevenlis opened #48766 "ENH: find categorical code against categorical label/value"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I wish I could check the underlying code for each value against a categorical column directly without indexing and using `cat.codes`

Assume I have the following dataframe
[code]
I need to select all the rows *after*

[2022-09-25 01:17] jreback commented on #48766
why? what are you actually trying to do

the codes are an implementation detail

[2022-09-25 02:03] StevenLi-DS commented on #48766
@jreback As I explain, to select rows above or below a certain code when you have a ordered categorical column.

[2022-09-25 02:06] jreback commented on #48766
these labels should already respond to the full suite of comparators eg

df[df.ordered_cat > 'value1'] should select values that are greater than in code space

[2022-09-25 02:15] StevenLi-DS commented on #48766
Indeed, you could do a semantic selection with a categorical, but it might still be helpful, let's say 3 quarters after ...
You could simply add 3 to a code. Right now, as far as I know, if you have to do that, you have to index a list `.dtype.categories..index(value1) + 3` and then find the value/item in that list.

[2022-09-25 02:35] jreback commented on #48766
again these are an implementation detail - you can use them but -1 on adding api beyond which already exists

the semantic selections are pretty useful here ; it's not clear why you cannot simply use these

[2022-09-25 07:50] gtopper opened #48767 "BUG: `pd.to_datetime()` fails to parse nanoseconds"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

New in 1.5.0 – the following error is raised
[code

[2022-09-25 08:27] Himanshuwagh commented on #48758
@datapythonista  permission denied while pushing to private branch. Also what is the convention for naming the branch ( if any for this repo)

[2022-09-25 08:29] datapythonista commented on #48758
You need to fork the repo, push to a branch in your forl, and open a pull request. Name the branch whatever is useful for you.

[2022-09-25 09:10] MarcoGorelli commented on #48767
Thanks for the report @gtopper - [from git bisect](https://www.kaggle.com/code/marcogorelli/pandas-regression-example?scriptVersionId=106475285), this was due to https://github.com/pandas-dev/pandas/pull/46736
cc @jbrockmendel

[2022-09-25 11:44] AlexKirko commented on #48749
Do we have an idea what kind of extra time cost the sorting imposes for something sensible, like 10 000 rows and a 100 categories?

[2022-09-25 12:08] Himanshuwagh commented on #48758
@datapythonista  created pull request : https://github.com/pandas-dev/pandas/pull/48770

[2022-09-25 14:59] JanTinbergen commented on #48763
After some investigation, I think I have found the issue:

1. The documentation of pandas.MultiIndex.from_arrays states that the provided names should be a sequence of strings. However, evidently, at no point is this enforced in said function. Moreover, in the constructor of the MultiIndex it does not happen either (handled by the function _set_names).

2. The reason that this is problematic stems

[2022-09-25 15:01] JanTinbergen commented on #48763
take

[2022-09-25 15:10] gravesee commented on #48763
This came up when I performed a groupby on a series using a data frame with mixed column name types.

[2022-09-25 15:15] StevenLi-DS commented on #48766
It does not exist... the codes has more use cases than just an implementation detail. For example, if you need to run a regression mode, you can simply use `cat.codes` to make your input numerical instead of string. It would be helpful to figure out what the code is for each value in that variable. Right now, there is no way to easily know how each of the values is coded other than `cat.codes`, wh

[2022-09-25 15:19] mrfrizzz commented on #48765
Using the full date format:
[code]
and plotting one by one
[code]
I only miss the legend

<img width="1440" alt="wip" src="https://user-images.githubusercontent.com/113800322/192150821-53f8bf1f-2da5-48dd-a7c8-8aaac51036c3.png">

[2022-09-25 16:09] mrfrizzz commented on #48765
got legend
[code]

[2022-09-25 18:43] topper-123 commented on #48577
+1 on somewhere in pd.api, I don't have a very strong preference on `pd.api.types` or `pd.api.typing`. Maybe just make update the PR with your preferred solution (`pd.api.typing`?), remove the draft marker and see the response?

There are probably a few other classes that could be exposed publicly, e..g. `Resampler` is one I can think of, but there are probably others also.

[2022-09-25 19:28] AlexKirko commented on #48767
We should also add test coverage for this. Weird that we missed it.

[2022-09-25 21:36] alexdanilowicz commented on #16822
In case this helps anyone, I was having this issue with `pandas==1.5.0` (and 1.4.2) because I was not passing `y` argument.

For example:

No `y=` :X:

[code]

vs

With y= ✅
[code]

[2022-09-25 23:37] mrileysamc opened #48777 "DOC: Table Visualization/Styler Documentation Appears garbled"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/pandas-docs/version/1.5/user_guide/style.html

### Documentation problem

The samples in the table visualization docs all appear garbled. It looks like an issue with column

[2022-09-25 23:48] mrileysamc commented on #48777
Actually, docs look fine in Firefox. Issue appears to be confined to Chrome and Edge. I don't have access to Safari.

[2022-09-26 04:46] asishm commented on #48777
the docs for 1.4.4 on Chrome look fine

[2022-09-26 08:18] killerrex opened #48778 "BUG: Regression on pandas 1.5.0 using describe with Int64 dtype getting a TypeError"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

With pandas version 1.5 `describe` produces a Type

[2022-09-26 08:35] pjousma opened #48779 "BUG: pd.offsets.MonthEnd() delevers wrong month"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I expect that the answer is: Timestamp('2017-01-31

[2022-09-26 08:51] MarcoGorelli commented on #48779
Thanks for the report

`MonthEnd` goes to the next date which is an end of the month, so this seems correct

You probably want `MonthEnd(0)` to get the end of the current month

Might be good to add this as an example to the docs as it seems to be a common source of confusion https://stackoverflow.com/questions/37354105/find-the-end-of-the-month-of-a-pandas-dataframe-series

[2022-09-26 09:12] riziles commented on #48777
Yes. As I said, it is only an issue on the 1.5 docs. 1.4 looks fine.

[2022-09-26 09:20] MarcoGorelli commented on #48778
Thanks @killerrex for the report

From [git bisect](https://www.kaggle.com/code/marcogorelli/pandas-regression-example/notebook?scriptVersionId=106546912), this was due to #48501 cc @rhshadrach

[2022-09-26 09:32] jorisvandenbossche commented on #48729
It's indeed documented that `.at` is only for scalar access, but in practice we are also not very strict about it ..

If we would first want to warn about it before changing, we could quite easily catch that error, and the following rolls back the behaviour for this case:

[code]

However, I think catching all InvalidIndexErrors might also make `.at` even more flexible than before .. (in pandas 1.

[2022-09-26 09:37] ZDenizYStenhaug commented on #48779
Hi! :) I'd love to help with the documentation if this issue is still relevant. If so, could you please assign it to me?
Thanks, have a good day.

[2022-09-26 09:38] vranoch opened #48780 "BUG: ExcelWriter.book - attribute not accessible for setting"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Assignment to writer.book causes an exception:

`T

[2022-09-26 09:52] joooeey opened #48781 "ENH: add errors='coerce' to DataFrame.astype"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I wish I could quickly convert a DataFrame with some invalid data to numeric type and coerce. I thought `pd.DataFrame.astype` could do that but it doesn't have the option to coerce invalid data to NaNs (or NaTs).

In

[2022-09-26 09:54] jorisvandenbossche commented on #25151
That's maybe rather a bug in the MultiIndex non-sort case? Because the warning says to pass `sort=False` to suppress this warning, but doing that doesn't actually solve it:

[code]

[2022-09-26 10:13] jorisvandenbossche commented on #25151
The top post has a list of cases where the current default behaviour (`sort=None`) does not actually sort (and thus could potentially differ from a `sort=True`).
As a small example:

[code]

So depending on the values, the default `sort=None` does sort or does not sort. That's already a good reason to not call this behaviour `sort=True`.

So we originally used `sort=None` as the default when addin

[2022-09-26 10:18] MarcoGorelli commented on #48779
thanks, go ahead! if you comment "take" the issue will be assigned to you, do reach out if you have questions

[2022-09-26 11:03] ZDenizYStenhaug commented on #48779
take

[2022-09-26 11:07] phofl commented on #48780
Hi, thanks for your report.

All ``ExcelWriter`` attributes were considered private prior to 1.5, but this was not enforced.

We made some attributes public in 1.5, but put some restrictions on what you can do with them. For example, you can not set a book.

cc @rhshadrach to double check

[2022-09-26 11:31] vranoch commented on #48780
Hi, Thanks for Your reply, but in that case is there any legal way how to "extend" existing workbook? Without anything else, .to_excel() just overwrites given file with completely new content. The used way was to load existing workbook, create the excel writer and inject previosly loaded workbook in it. In this case all existing content of the file was preserved and new content was added.

How to

[2022-09-26 11:39] jorisvandenbossche commented on #48664
Interesting, that's a bit different from the code in the top post, though. Replicating this example with pure pandas (without subclass), I still see this behaviour of changing the second Series' index also updating the original one (using the latest main branch):

[code]

And that also happens in the case where passing an index to the constructor (the case that broke the behaviour of having identi

[2022-09-26 13:33] phofl commented on #48424
This needs some discussion first

[2022-09-26 13:37] phofl commented on #48780
Could you make your example copy and passable?

You get a Workbook object from the respective engine, e.g. openpyxl. This object has methods again that you can use

[2022-09-26 14:17] mawwinius opened #48783 "BUG: Regression on pandas 1.5.0 when using a file handle with utf-8-encoding which has been read from before for read_csv"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Using a csv file which has an extra first line (e.

[2022-09-26 14:23] MarcoGorelli opened #48784 "BUG: still emitting unnecessary FutureWarning in DataFrame.sort_values with sparse columns"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

This throws
[code]
which the user can't do anythin

[2022-09-26 14:49] jtpio commented on #47530
Ah that looks odd and should have been fixed by https://github.com/pandas-dev/pandas/pull/48329.

I'll have another look to see what's happening.

[2022-09-26 15:14] tehunter opened #48786 "BUG: `pd.core.algorithms.duplicated` fails with masked Series"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

On the main branch, when #48150 was implemented to

[2022-09-26 15:18] #48783 closed

[2022-09-26 16:20] tehunter commented on #48780
I use this feature too to extend existing workbooks:
[code]

It's similar to using the `r+` mode, but it allows you to save to a different file than the template you are loading from.

[2022-09-26 16:40] phofl commented on #48786
This is not supported according to the type hints there. A bit unfortunate that it is mentioned in the docstring, but I am not aware of a place where we call this as a Series.

[2022-09-26 16:41] phofl commented on #48777
Duplicate of #48644

[2022-09-26 16:41] #48777 closed

[2022-09-26 16:54] MichalRIcar commented on #48674
Hello,

thank you, a good idea to reduce it to the elements.

The main point is that pandas constructor of new DataFrame or Serie with input as another panda (DF/SE) works as a pd.concat as the result shows:

![image](https://user-images.githubusercontent.com/62614119/192335295-1f923178-b3e5-4d2c-b6f7-b67e345cb881.png)

The problem is that the second line is just the same with a slight difference

[2022-09-26 16:55] sorenwacker commented on #45725
I am still facing this error. I tried python 3.10 and 3.9. Can anyone tell which versions are fixed?

[2022-09-26 17:18] mroeschke commented on #48749
With the example in https://github.com/dask/dask/pull/9486#issue-1372066649 (2592000 rows, 2481967 groups), the perf difference was ~2x slower for integer categories and ~10x slower for string categories with `sort=False`

[2022-09-26 17:39] ArcRiiad commented on #48682
@phofl Indeed running the same test under pandas 1.5.0 with `pd.options.mode.copy_on_write` set to `True` seems to solve the duplication issue when dropping a column

[code]
output:

[code]

[2022-09-26 17:40] bashtage opened #48787 "BUG: `from_dummies` can't round trip when `sparse=True`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.
- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.
- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

returns

[code]

### Issue Description

`from_dummies` can't undo ops when

[2022-09-26 17:50] #48786 closed

[2022-09-26 17:50] tehunter commented on #48786
Thanks! I should have dug deeper into the type definition.

[2022-09-26 17:56] ArcRiiad commented on #48682
However, we discover that some functions are also impacted by memory duplication (`infer_objects` and `where` seem to have the same behavior).

The test scenario
[code]

Output:
[code]

We manage to avoid duplicating the memory of the `df.infer_objects` method by setting the `copy` parameters of the `self._mgr.convert` method to `False`.

[code]

output after the modification
[code]

Do you guys t

[2022-09-26 18:08] tehunter opened #48788 "BUG: `pd.core.algorithms.duplicated` fails with float-based `SparseArray`"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`_ensure_data` tries to access `dtype.itemsize` fo

[2022-09-26 18:32] phofl commented on #48682
As I said, we don't have all the optimisations yet. You can contribute by adding the copy on write optimisations to other parts of the api. We have issues about this

[2022-09-26 19:46] torfsen commented on #9220
While I can understand that complete support for `float16` is currently not a priority, it would be nice to document the limited support for `float16` in the expected places. In particular, the examples in https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes do show `float16` being used, and do not mention any limitations anywhere.

I stumbled upon this issue when I tried to `reinde

[2022-09-26 19:51] zaneselvans opened #48791 "BUG: convert_dtypes() leaves int + pd.NA Series as object instead of converting to Int64"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

With a Series containing python `int`s and values

[2022-09-26 20:15] anthonyaag commented on #48767
Incidentally just rearranging the date seems to work
[code]

but fails again if one adds a time zone
[code]

which again succeeds if we drop nanos
[code]

[2022-09-26 20:33] rhshadrach opened #48792 "DEPR: inplace in DataFrameGroupBy.fillna and SeriesGroupBy.fillna"
Specifying `inplace` returns an empty frame or a Series with all `None` values, and neither modifies the original input. Instead of fixing this, I think we should deprecate the `inplace` argument of these methods.

[code]

[2022-09-26 20:40] #48778 closed

[2022-09-26 20:56] rhshadrach commented on #48674
Thanks for elaborating here. Constructing a DataFrame from a Series while specifying an index will align the Series to the provided index:

[code]

Using `.set_index` on the other hand replaces the existing index without modifying the values. Is it these two behaviors which you view as being incompatible?

In any case, the previous issue I referenced above was #42818. This was closed by adding the

[2022-09-26 21:06] sm-Fifteen opened #48794 "BUG: pandas 1.5 fails to groupby on (nullable) Int64 column with dropna=False"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Attempting to run `df.groupby()` with an `Int64Dty

[2022-09-26 21:14] phofl commented on #48794
gg @rhshadrach

[code]

[2022-09-26 21:46] amay-patel commented on #48519
@datapythonista I am having issue with rate limit exceeding for GitHub API. Do you have a fix for this issue?

[2022-09-26 21:52] #48692 closed

[2022-09-26 22:15] datapythonista commented on #48519
You can call `pandas_web.py` with `--ignore-io-errors`.

[2022-09-26 22:19] davidchall opened #48796 "BUG: `pd.to_timedelta()` does not accept nullable float"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The `pd.to_timedelta()` function does not accept a

[2022-09-26 22:19] amay-patel commented on #48519
Thank you. That has fixed the issue!

[2022-09-26 22:36] sorenwacker commented on #16485
I think, it would make more sense if the api would interpret either the `color` or `c` argument as category/mappable that should be colored. Instead of adding column with explicit colors, the column should contain eighter categories or numeric values that are then used to color the markers. And a legend should be added. Similar to how it is done in `Seaborn` with the `hue` argument.

[2022-09-26 22:43] #48738 closed

[2022-09-26 22:58] #48653 closed

[2022-09-27 00:51] VelizarVESSELINOV commented on #15008
Request for API consistency between **to_sql** and **to_gbq**:
```.to_sql(index=True...)```
vs
```.to_gbq(no option index is ignored all the time)```

Desired solution:
1. To have the same option in both functions
2. To have the same default value

Do you prefer having a separate ticket?

[2022-09-27 01:57] dhimmel commented on #15008
Yes, the `index` parameter is outside the scope of this issue, which is focused on specifying the input data location and the corresponding compression.

[2022-09-27 02:25] auderson opened #48802 "ENH: support negative axis"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

It would be nice if pandas supports negative axis:
[code]

### Feature Description

This should be easy, only need to extend current `_AXIS_TO_AXIS_NUMBER` with {-1:1, -2:0}

### Alternative Solutions

.

### Addition

[2022-09-27 02:31] donghyyun opened #48803 "DOC: Remove unsupported parameters in `Resampler.mean`"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.core.resample.Resampler.mean.html

### Documentation problem

According to the [comment](https://github.com/pandas-dev/pandas/issues/48675#issuecom

[2022-09-27 02:39] jreback commented on #48802
we only have 2 axis - so i don't find this useful and somewhat confusing

-0.5

[2022-09-27 03:00] rhshadrach commented on #48780
Thanks for the report!

In implementing this, we deprecated certain attributes because while they were documented as not being public, it was known that many attributes were being used by users. I think that should be the approach here - revert this in 1.5.1 allowing `book` to be a settable property.

However the issue with assigning a new book is that the book is stateful. Currently openpyxl does

[2022-09-27 03:08] mhaoda commented on #48803
Hi, can I work on this issue ?

[2022-09-27 03:19] rhshadrach commented on #48794
Thanks for the report! The PR identified above added computing the code using `argmax` and should have used `max`. These coincide when all values are distinct, which was the case in the tests added. Will put up a PR to fix.

[2022-09-27 04:30] auderson commented on #48802
I agree this will make pandas more sophisticated, but in certain cases this can help reduce the amount of code.
For example, an obj may be a series or frame, and the user want the mean of the series or the row-wise mean of the dataframe, in the second case he can only use axis=1. But if negative axis allowed, he can use axis=-1 for both cases.
Another reason is that numpy supports negative axis as

[2022-09-27 07:45] vranoch commented on #48780
Hi Richard,

generally, the goal is to use existing Excel file as a template and typically add new sheets to it or write new data to existing sheets.

I understand that assigning the whole workbook anytime may be dangerous. I believe that either exposing specific "setter" method that woud correctly handle setting the object with all relevant relations  - or even allowing to specify the "template"

[2022-09-27 09:39] cfblaeb opened #48806 "BUG: Bar plot with integer index does not place bars at index positions which makes xlim fail"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Plot bar does not respect xlim.
The cause, as far

[2022-09-27 10:05] #48784 closed

[2022-09-27 10:22] MarcoGorelli opened #48808 "STYLE,BUG: autotyping hook fails if run on no files"
Not sure why yet, but here's what I got after a commit:
[code]

This hook was added in https://github.com/pandas-dev/pandas/pull/48191
cc @twoertwein in case you've come across this before (I'll have a look later anyway, just opening an issue for now)

[2022-09-27 10:36] Pro-Coder04 commented on #48803
take

[2022-09-27 10:38] Pro-Coder04 commented on #48715
Hello @tehunter !
I would help to solve this issue could you assign it to me?

[2022-09-27 10:44] tehunter commented on #48715
If you comment on this thread with the single word "take", the bot will assign it to you. Thanks!

[2022-09-27 11:25] twoertwein commented on #48808
Could it be that pre-commit runs autotyping even though no py/pyi files were changed?

[2022-09-27 12:41] twoertwein commented on #48808
@JelleZijlstra I assume it would be out of your control to allow no paths as autotyping is wrapped inside LibCST?

[2022-09-27 13:08] hackathon19 opened #48811 "PERF: bbvh .n"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

Hhb mjv .. tb vfv

### Installed Versions

<details>

Replace this line with

[2022-09-27 13:11] #48811 closed

[2022-09-27 13:12] bollard opened #48812 "BUG: `add_categories` does not honour `pd.StringDtype` of new categories (and downcasts to `object` instead)"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Hi,

I've noticed that when adding two different `

[2022-09-27 14:46] buhrmann commented on #47673
To add to the discussion, groupby-apply with a user-defined function and integers is currently broken in pandas (1.4.2). E.g. aggregating over a column with a dtype like uint16, would do, uh, this:

[code]
[code]

Which is definitely not "the right thing"...

[2022-09-27 14:53] bollard commented on #48812
Have also just noticed similar behaviour with `rename_categories`

[code]

Here I can understand the downcast if I passed, say `{"a": 1}`, but I would have hoped that as `"z"` is compatible with `pd.StringDtype()` a downcast wouldn't be necessary. Again `pd.Int64Dtype` doesn't seem to be affected:

[code]

[2022-09-27 14:55] JelleZijlstra commented on #48808
Yes, the current setup makes it hard. I think it should be possible to change autotyping so that it's invoked as `python -m autotyping` instead, which would allow us more control over how the codemod is invoked.

[2022-09-27 15:15] asishm opened #48813 "BUG: differences in Series.map with defaultdict with different dtypes"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

In the first case the `np.nan` is not replaced wit

[2022-09-27 15:57] MarcoGorelli commented on #48808
I think the issue's just that autotyping wants files and _then_ `--aggressive`

[code]

IMO simplest thing would be to just have a local script that runs it

[2022-09-27 16:43] #16393 closed

[2022-09-27 17:00] phofl commented on #48812
Hi, thanks for your report. This does not work for "Int64". The correct result would be ``dtype("Int64")``

[2022-09-27 18:45] anthonyaag commented on #39853
If approved in time, would it be possible to get the above fix also on 1.5.1?

[2022-09-27 18:48] 502E532E opened #48816 "ENH: Conversion of objects with __array__ attribute to Series"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

As described in #47800, the conversion of objects which specify the `__array__` attribute results in an one-entry `Series` of `object` dtype. Example code (as provided in the mentioned issue):
[code]
While the bug rep

[2022-09-27 19:32] bollard commented on #48812
Ah yes of course it is. Apologies, staring at this for too long but clearly still not looking closely enough

[2022-09-27 20:21] #47985 closed

[2022-09-27 20:39] mroeschke commented on #48802
I've seen numpy use `axis=-1` to mean "infer", but generally I think pandas should generally move away from being too "smart" this way.

I would be -1 to add more semantics here. I think `isinstance` checking or checking `.ndim` is more explicit and prevents a negative axis from "working but not doing what you expect"

[2022-09-27 21:43] phofl commented on #48803
Feel free, contributions welcome

[2022-09-27 21:45] phofl commented on #48780
Imo this is something that should be handled on the engine level, not on our side. For example:

[code]
 This would move the functionality to openpyxl or another engine

[2022-09-27 22:09] vranoch commented on #48780
Yes, why not, but is there any way how to initialize the engine (writer.book) with an EXISTING workbook with some content, not a newly created empty one?

[2022-09-27 22:11] phofl commented on #48780
What you can do is specifying ``mode="a"`` when creating the ExcelWriter and use an existing Workbook, this should enable you to append to an existing workbook.

[2022-09-28 00:39] rhshadrach commented on #48674
Reopening - I think the docs could be improved here as mentioned above.

[2022-09-28 01:10] mhaoda commented on #48803
sure, then can you assign it to me?

[2022-09-28 01:21] donghyyun commented on #48803
@mhaoda
I just wanted to check with the pandas member if the documentation is actually wrong.
I will take this issue.

[2022-09-28 01:59] itholic opened #48826 "BUG: The behavior for `DataFrame.corrwith` is changed in pandas 1.5.0 ??"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Seems like the behavior of `pandas.DataFrame.corrw

[2022-09-28 02:50] tommedema commented on #15389
@liori one problem with this approach is that it ignores the index, i.e. the index is not preserved after sorting

[2022-09-28 03:08] onihboni commented on #47713
ff.garena.com

[2022-09-28 03:58] Pro-Coder04 commented on #48715
take

[2022-09-28 07:05] vranoch commented on #48780
So I should first make a copy of the original "template" file and then put this file to the writer with mode="a"?

[2022-09-28 08:09] liori commented on #15389
I only rarely use pandas, I'm more of an R guy. As such, I'm not really in position to offer PRs to a project I barely know. Preserving indices makes sense, I probably didn't need them when I initially investigated the issue.

[2022-09-28 08:47] marekro commented on #48480
It is a mystery... when using pandas-1.5.0 on MacOS and Linux, plain, I do not see the warning either. In context of my greater program, the FutureWarning keeps appearing - I need to debug further. Maybe some issue with venv, will comment here again with new findings.

[2022-09-28 09:00] MarcoGorelli opened #48828 "DOC: add minimal_environment.yml and minimal_requirements.txt"
A common complaint in contributor sprints is that setting up a development environment takes too long

Since the docs have moved from recommending `conda` to `mamba`, this has improved, but I think it could still be better.

For most contributors (especially casual ones at sprints), most dependencies are irrelevant. We could have minimal environment and requirements files which contain the bare mi

[2022-09-28 09:03] MarcoGorelli commented on #48802
agreed - let's close then, but thanks for the suggestion

[2022-09-28 09:03] #48802 closed

[2022-09-28 09:31] MarcoGorelli commented on #48060
Hey, just reading through this again

Looks like the first two issues brought up got resolved when the installation went through correctly. pandoc is just used for a single notebook (`doc/source/user_guide/style.ipynb`), so it's definitely not essential

Regarding running all tests, I'd suggest just adding a note there saying something like

[2022-09-28 09:37] MarcoGorelli commented on #48826
Hey, thanks for the report

Yup, [git bisect](https://www.kaggle.com/code/marcogorelli/pandas-regression-example?scriptVersionId=106717506) confirms

[2022-09-28 09:43] MarcoGorelli commented on #48826
cc @fractionalhare (no blame, just in case you know how to fix it)

[2022-09-28 11:30] HebiKotei commented on #48828
Would you mind if I took a look?

[2022-09-28 11:33] kenha37 opened #48829 "BUG: Data inserted with from order when using .loc"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When inserting an entire column using the loc func

[2022-09-28 12:07] phofl commented on #48829
Duplicate of #48701

[2022-09-28 12:07] #48829 closed

[2022-09-28 12:08] phofl commented on #48828
This has the disadvantage that you can't run most of the tests

[2022-09-28 12:41] HebiKotei commented on #48828
We could always add more test dependencies to the ```minimal_environment.yml```, to at least get more of the tests working properly.

I am assuming that the packages under ```# test dependencies``` in the ```environment.yml``` is all that is needed for the majority of them, I could be wrong however.

[2022-09-28 12:49] MarcoGorelli commented on #48828
I'll try this out at the next contributor sprint - if it's enough for people to be productive, maybe we can consider adding it to the docs, or it can be something that's only ever part of instructions for sprints

[2022-09-28 12:52] tehunter commented on #48715
@Pro-Coder04 , I'm fairly new to it as well. Perhaps @phofl or @datapythonista could point you in the right direction. If I had to guess, I bet it is related to the recent version update of the API documentation theme (see #48285) and not directly in pandas code. The documentation pages are autogenerated from a package called "Sphinx", the API pages are defined in `/doc/source/reference` and it us

[2022-09-28 13:00] datapythonista commented on #48715
Happy to get the `Show source` link removed, doesn't seem it's working for the API, and not sure in what cases this can be useful.
I think this should be done in our `conf.py` file, see the docs of the theme here: https://pydata-sphinx-theme.readthedocs.io/en/stable/user_guide/source-buttons.html

CC: @jorisvandenbossche, I guess you added this when we started using the pydata theme, probably it's

[2022-09-28 13:27] marekro commented on #48480
For completeness, below are the installed versions, printed from within the same run that also emits the FutureWarnings. However, I noticed that because of a mistake, I have been importing pandas twice: import pandas; ...; import pandas as pd. Maybe that causes issues? I have fixed this, running now regressions, and will follow up.

INSTALLED VERSIONS
------------------
commit           : 87cfe4e3

[2022-09-28 13:43] #48808 closed

[2022-09-28 14:11] tehunter commented on #48715
Looks like pydata-sphinx-theme added a default `sourcelink.html` component around June of this year (See https://github.com/pydata/pydata-sphinx-theme/pull/714), which makes their documentation incomplete. I believe the correct way to remove it is now to set `html_show_sourcelink = False` in the `conf.py`.

Alternative option is to override the `sourcelink.html` template and have it point to our c

[2022-09-28 14:30] phofl commented on #48828
If we want to add this to the docs, we have to add a couple of clarifications, that this is not sufficient to pass all tests and some things might fail unexpectedly

[2022-09-28 15:03] Sherry3 commented on #48632
I am unassigning myself from this ticket, so that others can take it.
Right now I don't know how to fix it. In case I find a way, I will assign it to myself again.

[2022-09-28 15:58] mroeschke commented on #48828
This somewhat assumes "minimal" contributions will be bug fixs/enhancements, but doc changes might be common contributions that should ensure the doc dependencies are available too?

An alternative idea would be to provide conda lock files for a variety of platforms such that users aren't running the slow solve step but still get all the dependencies to make any type of contribution: https://githu

[2022-09-28 16:04] Sherry3 opened #48832 "DOC: GL08 errors in pandas.Index, pandas.IntervalIndex and pandas.MultiIndex"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.Index.names.html
https://pandas.pydata.org/docs/dev/reference/api/pandas.Index.view.html
https://pandas.pydata.org/docs/dev/reference/api/panda

[2022-09-28 16:05] Sherry3 commented on #48832
take

[2022-09-28 16:38] asishm commented on #48828
This would be a great change to have. The current environment installs a lot of things. For example pytorch is listed as a dependency (of a downstream pacakge) -https://github.com/pandas-dev/pandas/blob/0dadc71dd4653e5b858d7b4153df1d7aded4ba46/environment.yml#L73  and as a pandas user who might want to do some minor bugfixes, it's a bit confusing as to why I also need to have pytorch installed.

I

[2022-09-28 18:18] zmeves opened #48835 "BUG: `DataFrame.iloc[idx, column] = array` sets incorrect values for 1.5.0"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

You should be able to (and can in all prior `panda

[2022-09-28 18:46] dna-witch commented on #25270
take

[2022-09-28 20:39] phofl commented on #48835
Hi, thx for your report. Duplicate of #48701

[2022-09-28 20:39] #48835 closed

[2022-09-28 20:54] MarcoGorelli commented on #32265
I've finally read through the whole discussion

What I have most difficulty understanding is why `.isna()` would return `False` for `np.nan`.
- if users ran `df[~df.isna().any(axis=1)]` and then found `nan`s still there, it'd be very confusing. `nan`s from mathematical operations aren't unusual. This'd be a huge breaking change;
- cuDF allows both `NA` and `nan`, but their `.isna()` returns `True`

[2022-09-28 21:16] MarcoGorelli commented on #35685
Right, let's try to move this forwards - I think this could be a nice addition to this page https://github.com/pandas-dev/pandas/blob/0dadc71dd4653e5b858d7b4153df1d7aded4ba46/doc/source/development/maintaining.rst

Doesn't need to be in-depth, I think it just needs:
- a link to the git bisect documentation
- a little example like the one Simon gave, e.g.:

Marking as good-first-issue then, if anyo

[2022-09-28 22:13] mzeitlin11 commented on #35685
Gives a tradeoff between compile time and performance. No optimizations gives much slower code, but for a case like bisecting when (usually) there's a bunch of compiling going on (since cython files often change across bisection steps), it can be much faster provided that the bisection test case still runs quickly

[2022-09-28 22:42] rhshadrach commented on #48816
Thanks for the request - just wanted to note you can comment on closed issues and ask they be turned into enhancement requests as well.

cc @mroeschke

[2022-09-28 23:41] mroeschke commented on #48816
I think for similar reasoning as described in https://github.com/pandas-dev/pandas/issues/47800#issuecomment-1192935096 (this is a numpy semantic), I would be -1 to have `Series` automatically convert this. One could just call `pd.Series(np.asarray(Arraylike()))`

[2022-09-29 00:54] mroeschke commented on #30228
Noting some things to look out for to ensure there's a "thorough" removal when enforcing these deprecations (referencing the original PR may not encompass the extent of the feature)

- [ ] Doc changes
    - [ ]  Remove/modify docstrings
    - [ ]  Remove/modify API reference (if applicable)
    - [ ]  Remove/modify references in User Guide
- [ ] Code changes
    - [ ]  Remove `warning.warn` call &

[2022-09-29 01:42] WilliamQue opened #48843 "BUG: v1.5.0 dataframe.replace function cause python to crash"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

After using replace function, python will crash.

[2022-09-29 06:57] marekro commented on #48480
This is odd; I am running the corrected code, and I am still getting:

The code emitting the warning is this statement:

`result_df.fillna({
                'key_vr_folder_id': '',
                'key_relationship': '',
                'key_parenttasks': '',
                'key_subtasks': ''
            }, inplace=True)`

Again, below is the corresponding version list from pandas. I cannot repro

[2022-09-29 07:51] phofl commented on #48843
Hi, this is a duplicate of #45725

[2022-09-29 07:51] #48843 closed

[2022-09-29 08:27] phofl commented on #48480
As long as there isn't anything we can debug, there is not much we can do

[2022-09-29 08:36] MarcoGorelli opened #48846 "TST test_any_non_keyword_deprecation is in the wrong location"
This test is currently here

https://github.com/pandas-dev/pandas/blob/a59582da8c9fa410ac05e25ee117a7fef996247f/pandas/tests/groupby/test_any_all.py#L64-L83

However, there's no `groupby` in the tested code. So let's move the test just under this one:

https://github.com/pandas-dev/pandas/blob/9289c46e166533dfafd18843137f101624cf41a5/pandas/tests/frame/test_reductions.py#L1333-L1344

[2022-09-29 08:48] itholic opened #48848 "BUG: Regression for `pd.read_parquet` from pandas 1.5.0 ?"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The Reproducible Example is not working with panda

[2022-09-29 09:08] donghyyun commented on #48803
take

[2022-09-29 09:16] marekro commented on #48480
Found the corner case - a dataframe with no rows:

[code]

Seems that this situation needs to be handled specifically. Sorry for the noise in the previous comments.

[2022-09-29 09:35] phofl commented on #48846
I don't think this is worth it. We will begin enforcing deprecations soonish anyway. Wdyt?

[2022-09-29 09:37] phofl opened #48851 "TYP: Numpy 1.23 typing issues"
The following issues are caused by numpy 1.23

[code]

[2022-09-29 09:46] phofl commented on #48848
[code]

cc @mroeschke

[2022-09-29 09:53] JustinGuese commented on #25043
@gosuto-inzasheru good thinking, but keep in mind that a multi-index will error:
[code]

[2022-09-29 10:39] Stephano120 opened #48852 "BUG: concat in pandas 1.4.2 unexpectedly drops rows or duplicates rows if multiIndex has pd.NA"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Regarding the first issue,

test_B is:
[code]

tes

[2022-09-29 11:29] phofl commented on #48852
Hi, thanks for your report.

Did you try this on 1.5.0?

Could you please trim your example to only use the operations that are absolutely necessary to reproduce the bug? Also please reduce the number of rows in your DataFrame to the minimal amount possible.

[2022-09-29 11:52] Stephano120 commented on #48852
Hi phofl, thanks for your comment.
I trimmed the first example provided for the first issue. (test_K, test_L), and edited my ticket.

Regarding the second issue, I'm still trying to generate 2 "input dataframes" (results of groupby) that can reproduce the duplication of rows once concatenated.

In my code I currently have 4 dataframes, each one being the results of a groupby, which are then concat

[2022-09-29 11:56] phofl commented on #48848
Just some additional info: The to_parquet call is buggy, saving the file with 1.4.4 and opening it with 1.5.0 works

[2022-09-29 12:23] phofl commented on #48826
Reverting would be an option, if we can not figure out what caused this

[2022-09-29 12:27] Dr-Irv commented on #48828
Probably have to add things used in the pre-commit, like `black`, `flake8`, `isort` and others.

[2022-09-29 12:56] #48737 closed

[2022-09-29 12:58] MarcoGorelli opened #48855 "STYLE fix pylint issues"
In https://github.com/pandas-dev/pandas/pull/48759/files we're introduced `pylint`, but have turned off its warnings as there's a _lot_ of them:

https://github.com/pandas-dev/pandas/blob/d719840e5a2639babab3b4646b11a111547c518f/pyproject.toml#L36-L67

Task here is:

1. pick one of the above warnings / errors, and remove it from `pyproject.toml`
2. run `pre-commit run pylint --hook-stage manual --

[2022-09-29 13:23] CarlaFernandez opened #48856 "BUG: pd.concat ignores axis="columns" argument"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The result from the reproducible example is the fo

[2022-09-29 13:25] CarlaFernandez commented on #48856
Closing the issue, just realized this is what the argument `ignore_index=True` is for

[2022-09-29 13:25] #48856 closed

[2022-09-29 13:26] jlandercy opened #48858 "BUG: Bar chart is not consistent in its color management when plotting Series or single column DataFrame"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Pandas have a different behaviour when plotting co

[2022-09-29 13:40] #48767 closed

[2022-09-29 13:49] phofl opened #48861 "STYLE: Add code check to avoid returning Exceptions instead of raising"
We want to check that we don't return Exceptions instead of raising them.

see https://github.com/pandas-dev/pandas/pull/48833

@mroeschke @jbrockmendel

[2022-09-29 13:51] #48255 closed

[2022-09-29 13:51] #48538 closed

[2022-09-29 13:59] phofl commented on #48754
Do we want this to work?

[2022-09-29 14:01] phofl commented on #48728
Hi, thanks for your report.
Could you check, if we have open issues about this? Pretty sure that I've seen something like this already

[2022-09-29 14:02] phofl commented on #48712
Closing for now, please ping to reopen, when you can answer questions

[2022-09-29 14:02] #48712 closed

[2022-09-29 14:03] phofl commented on #48658
Closing for now. Please ping to reopen, when you can answer questions

[2022-09-29 14:03] #48658 closed

[2022-09-29 14:05] phofl commented on #48652
cc @mroeschke

This looks odd, I think this should work in apply?

[2022-09-29 14:06] phofl commented on #48832
Can we maybe combine all these issues into a single one with subgroups?

[2022-09-29 14:47] adnapPanda opened #48863 "BUG: pd.fillna(np.nan, inplace=True) replaces values which are not None when using datetime dtype"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

When using the pandas method fillna() and specifyi

[2022-09-29 14:50] Stephano120 commented on #48852
Thanks for your handling, phofl.

This issue was noticed for the first time back in 2020 by yourself, if I'm not mistaken?

Don't you think there should be at least a warning in the doc, somewhere on https://pandas.pydata.org/docs/reference/api/pandas.concat.html , until it's fixed?

If dataframes to concatenate have pd.NA in their indexes, then these pd.NA should be replaced prior to using concat

[2022-09-29 14:54] phofl commented on #48852
We have lots of open issues. Things get fixed when someone opens a pr. In General, we don’t warm about know bugs

[2022-09-29 15:01] MarcoGorelli opened #48864 "API: what should float(pd.NA) return?"
From https://github.com/pandas-dev/pandas/issues/32265, it seems there was broad agreement that pandas should do
[code]

Should `float(pd.NA)` then return `np.nan`?

xref https://github.com/matplotlib/matplotlib/issues/23991#issuecomment-1256438568

[2022-09-29 15:13] batterseapower commented on #47687
Probably obvious, but this also doesn't work with when you try to select multiple boolean items i.e.:

[code]

Fails with:
[code]

Even more surprisingly, this also fails when the thing you are indexing with is explicitly an `Index` -- where it feels like the intention is clearly to select by key rather than to mask the array:
[code]

You can work around this by using `Index.get_indexer_non_unique

[2022-09-29 15:57] phofl commented on #48863
Hi, thanks for your report.

[code]

[2022-09-29 16:20] mroeschke commented on #48652
Thanks for the report.

All rolling ops (cython and numba) are only written for `float64` data, so this is an expected limitation. I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/23002 so closing as a duplicate

[2022-09-29 16:20] #48652 closed

[2022-09-29 18:02] mroeschke opened #48867 "BUG/API: setting behavior inserting negative numbers in np.uint/nullable UInt Series"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

- Numpy currently returns an overflowed valued but

[2022-09-29 18:24] Dr-Irv commented on #48577
We should be careful here with respect to what we want to do in the pandas code and encouraging people to use `pandas-stubs`.

The following code works and type checks just fine if you have `pandas-stubs` installed:

[code]

So isn't this just an issue of making sure that types like `DataFrameGroupby` and `SeriesGroupby` that show up in the docs are properly documented and then people know how to

[2022-09-29 18:50] phofl commented on #48867
Isn’t  the setting behavior similar to when you set a float into an integer column? Eg we try to find a common dtype

[2022-09-29 19:00] mroeschke commented on #48867
Ah yeah that's analogous behavior.

Here's I'm pointing out the inconsistency between non-nullable and nullable uint and what @seberg is considering in the future for NEP 50.

[2022-09-29 19:21] seberg commented on #48867
At this point, I actually don't care much about what we do here in NumPy (which may be my problem).  Doing it should simplify the code/logic in the long term, though ;).

If pandas typically (or even sometimes) has the behavior of promoting columns on insertion then it would seem to me that an error in NumPy is preferable over doing the unsafe cast (from a pandas perspective at least).

[2022-09-29 19:30] phofl commented on #48867
The inconsistency on our side is a bit related to https://github.com/pandas-dev/pandas/issues/47577 too.

[2022-09-29 20:48] #48812 closed

[2022-09-29 21:18] rhshadrach commented on #48577
While this works, I do not think the current state is a good solution.

 - It'd be better if users didn't have to go through the depths of the pandas code to find the objects they want to type-hint. Having a single place to pull these classes from for type-hinting is more user friendly.
 - By having users import from these locations, the locations become part of the API and therefore must be depre

[2022-09-29 21:19] seljaks commented on #35685
Hi @MarcoGorelli I'd like to take a crack at writing this up.

[2022-09-29 21:22] rhshadrach commented on #48577
Indeed, thanks, I do find that interesting. But I don't see the connection to this issue - are there additional problems incurred if the user was to import `DataFrameGroupBy` from `pandas.api.typing` rather than `pandas.core.groupby.generic`?

[2022-09-29 21:42] Dr-Irv commented on #48577
I agree with you here, except I'm not convinced that this is only needed for typing, so I'm not sure that calling it `pandas.api.typing` is correct.  Maybe `pandas.api.auxclasses` (or something like that) to indicate that these are auxiliary classes meant to hold some kind of intermediate results.

[2022-09-29 21:43] Dr-Irv commented on #48577
I don't think so, but if you put these classes under `pandas.api.typing`, there might be an expectation that other classes in the stubs should go there as well.  I think it's fine that we have classes in the stubs that are not in the pandas source.  I just don't think you should be putting these in a `typing` category, because it might cause confusion.

[2022-09-29 22:45] shivamurali commented on #48855
Hi there! I'll get to work on the "used-before-assignment" warning and remove it from the pyproject.toml file.

[2022-09-29 23:43] #48863 closed

[2022-09-29 23:51] #48791 closed

[2022-09-29 23:52] #48796 closed

[2022-09-29 23:54] #48480 closed

[2022-09-29 23:59] #48519 closed

[2022-09-30 00:51] #48762 closed

[2022-09-30 05:36] Exoutia commented on #48855
Hi i am new to open source i want to contribute to this project by fixing this but i cant seem to run pylint with --all-files option am i doing something wrong.
or do i need to do thing before hand beside making a branch and cloning the repo can someone help me

[2022-09-30 08:13] ambujpawar commented on #48792
I am interested in picking up the issue.
Just a question though, how should this deprecation take place? Are we gonna give users warning when they are using inplace? Or inplace as a parameter should be competely removed from the code?

And shouldn't this change be applied to Series.fillna() and DataFrame.fillna() as well?

[2022-09-30 08:16] MarcoGorelli commented on #48855
Hi @Exoutia - please show your output

The command is `pre-commit run pylint --all-files`

[2022-09-30 08:18] ambujpawar commented on #48729
take

[2022-09-30 08:52] Exoutia commented on #48855
Thanks, now it ran some problems has happened during installation of pre-commit i again installed it and it got fixed
![image](https://user-images.githubusercontent.com/94464106/193232132-08cc213b-f93d-485b-bdba-cd6f8f1c1a3a.png)

[2022-09-30 08:57] MarcoGorelli opened #48880 "API Should Index be made opt-in?"
One of the points raised in [pandas standardisation doc](https://docs.google.com/document/d/1PIFF0JhPEn9SLK1dagS11lTzPg1DCcuvam7GYE8jK88/edit#heading=h.pvfpl4oo6t36), in the context of the Consortium for Python Data API Standards, is about making indices opt-in

I've started putting together a write-up on this: https://hackmd.io/@mntOORP3TCesJJyvg-IdFQ/B1EqHfQfo

TLDR: the suggestion is to have a

[2022-09-30 09:35] alonme commented on #46987
The issue arises from the implementation of `PyObjectHashTable`, which in turn uses the python builtin `hash`.

In cpython  - `False` and `True`  have the same hash values as `0` and `1`
![image](https://user-images.githubusercontent.com/25847554/193238748-4ae62754-b688-4935-9e92-fb59002a843a.png)

Which in turn effects sets and dictionaries

![image](https://user-images.githubusercontent.com/2584

[2022-09-30 09:41] phofl commented on #48880
I agree, this is too big to change. Also, I am not convinced that this would be an improvement in general. This is what ``ignore_index`` was introduced for? This has lots of subtle implications in users code that introduce value dependent behavior.

Did you look into adding this as a metadata flag? Like with ``allow_duplicates``? This would make it opt in and could be handled in something like ``_

[2022-09-30 09:52] rhshadrach commented on #48792
Any time the user specifies the inplace parameter, a FutureWarning should be raised explaining that this argument will be removed in a future version of pandas with the default, False, being the behavior. You can do this by changing the default argument to `lib.no_default`. Also, a good source is other deprecation PRs: https://github.com/pandas-dev/pandas/pulls?q=is%3Apr+label%3ADeprecate+is%3Aclo

[2022-09-30 10:10] phofl commented on #48864
Just to clarify: The alternative would be to raise for ``float(pd.NA)``? Anything else that should be considered?

[2022-09-30 10:13] MarcoGorelli commented on #48864
Yeah that's what currently happens
[code]

Not sure what other considerations there are, I'll give this a go and see what happens

[2022-09-30 10:17] MarcoGorelli commented on #32265
Another point I'm struggling with is

a) If there are no NAs present, then converting to float64 is a better user experience

In[ this comment](https://github.com/pandas-dev/pandas/issues/30038#issuecomment-613427298), it was pointed out that `Int64` to `numpy` should be of dtype `object`, and that this shouldn't depend on whether or not there are missing values in the Series.

I'd find it a bit o

[2022-09-30 10:22] rhshadrach commented on #48780
@phofl - you agree with allowing book to be settable for the time being? My thinking is that this was an unintended API change that should have gone through deprecation.

@vranoch - can you confirm if the workaround of using `mode="a"` satisfies your use case?

[2022-09-30 10:48] ambujpawar commented on #48792
Thanks! Thats more than enough to get me started.
Thanks a lot again!

[2022-09-30 11:09] lctammy opened #48881 "value_counts() return null values"
![Screenshot 2022-09-30 at 13 09 10](https://user-images.githubusercontent.com/43069373/193257183-074cdce7-cd41-4342-b303-f5f98a4e1664.png)
But the there is data in the data frame

[2022-09-30 11:11] rhshadrach commented on #48549
Thanks for the reply. Looking through the code in 1.4.2, pandas only uses the `engine` argument `get_engine` to determine whether to use pyarrow or fastparquet. So this is puzzling indeed.

Is you data stored locally, or is it possibly a mounted network drive or remote resource? In either case, would you be able to confirm you're able to reproduce. Also, are you able to share the dataset? If you c

[2022-09-30 11:11] phofl commented on #48881
Please provide a reproducible example, see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2022-09-30 11:48] #48678 closed

[2022-09-30 12:08] subbusainath commented on #48781
take

[2022-09-30 12:09] rhshadrach commented on #48880
The doc linked in the OP talks about certain libraries only supporting "default indexing". Could this be recast as libraries only supporting `iloc`? If one restricts usage of pandas to only using `iloc`, then pandas behaves as if it has "default indexing" today.

Are there other ops like `loc` that there is no `iloc` equivalent?

[2022-09-30 13:02] julienT-livejourney opened #48883 "BUG: DataFrame with empty categorical column saved as parquet is not correcly read with pyarrow engine"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

A dataframe with an empty categorical column is no

[2022-09-30 13:03] Ormorod opened #48884 "BUG: histogram weights aren't dropped if NaN values in data"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

If a DataFrame contains NaN values, these are drop

[2022-09-30 14:03] phofl commented on #48780
I would lean to not rolling this back, since they were private and hence we can change them if we want.

If you feel strongly about it, I would be ok with rolling back and adding an immediate deprecation warning, that we can remove in 2.0

[2022-09-30 14:05] rhshadrach commented on #48880
Doh - of course; anything that uses alignment will immediately be incompatible. For groupby, I think one can just declare something like `as_index=True` is not supported when there is a default index. There will be edge cases here that break most certainly (probably in groupby.apply), but I think the most common cases will be okay.

If we created a default index object, I think we'd need to implem

[2022-09-30 14:18] #48656 closed

[2022-09-30 14:59] shwina commented on #48880
Perhaps it's helpful to think about this request as less of a `DefaultIndex`, and more of a `NoIndex`? Any situation that would normally require index alignment (e.g., `Series([1, 2]) + Series([1, 2, 3])` would simply `raise` because of a mismatch in size.

Perhaps a config option would control whether objects are created with an index or not, so that you never have a situation where "default" and

[2022-09-30 15:40] MarcoGorelli commented on #48864
This breaks

https://github.com/pandas-dev/pandas/blob/1b2cc268e485158ca57d1630f558107b2bca725f/pandas/tests/indexes/test_base.py#L855-L862

, though `Float64Index` is deprecated anyway

[2022-09-30 15:44] MarcoGorelli commented on #48881
closing for now, can reopen in you provide a reproducible example as requested above

[2022-09-30 15:44] #48881 closed

[2022-09-30 15:51] MarcoGorelli commented on #48880
Would the idea then be to error if `index_col` is used in `read_csv`? And to raise for all the other options which offer to operate on indices (like `as_index` mentioned above)?

I'm worried this would add a _lot_ of complexity, and I'm also not really clear what the benefit to users would be (though I'll concede that I've not attended an API Consortium meeting yet)

[2022-09-30 16:01] slackline commented on #48855
I'll work on removing `import-error`.

[2022-09-30 16:20] #48567 closed

[2022-09-30 16:37] MarcoGorelli opened #48891 "API: should to_numpy() by default return the corresponding type, and raise otherwise?"
Currently, `to_numpy()` from a nullable type always returns `dtype` `object`, regardless of whether the Series contains missing values.
E.g.
[code]
This isn't great for users/downstream libraries. E.g. https://github.com/matplotlib/matplotlib/issues/23991#issuecomment-1263728565

Users can specify a `dtype` in `to_numpy()`, but if they want to mirror the current behaviour of pandas whereby one has

[2022-09-30 16:37] phofl commented on #48858
Hi, thanks for your report.

The DataFrame case behaves exactly as documented. The Series behavior is not documented at all, so I am -1 on changing the DataFrame case, since users might rely on that

[2022-09-30 16:59] mroeschke opened #48893 "ENH: Add `engine` keyword to `read_json` to enable reading from pyarrow"
pyarrow has a `read_json` function that could be used as an alternative parser for `pd.read_json` https://arrow.apache.org/docs/python/generated/pyarrow.json.read_json.html#pyarrow.json.read_json

Like we have for `read_csv` and `read_parquet`, I would like to propose a `engine` keyword argument to allow users to pick the parsing backend `engine="ujson"|"pyarrow"`

One change compared to `read_csv

[2022-09-30 17:16] shwina commented on #48880
Thanks @MarcoGorelli and others! While I'm happy to continue discussing the technical details - which there are many to iron out - I feel the discussion would be greatly benefited by some additional context for this issue.

First, I should clarify that I agree on both points below:

* _eliminating_ indexes entirely from Pandas is a non-starter in any reasonable time frame.
* Allowing Pandas users

[2022-09-30 17:21] MarcoGorelli commented on #48880
Thanks for sharing context! To clarify:

would you then also drop `.loc`? Because my biggest issue is with the "proposal is to align loc and iloc" part

[2022-09-30 17:33] shwina commented on #48880
Yes, the idea is that "standard API" would not include `.loc`, but Pandas could of course support a superset of the standard.

[2022-09-30 17:37] gulyapulya commented on #48855
Hi! I am also new to the open source, but I want to contribute, I will work on the "no-method-argument".

[2022-09-30 18:33] phofl commented on #48891
Could you include how you would handle df.values?

[2022-09-30 18:34] kostyafarber commented on #48855
Hi! I'll work on `inherit-non-class`.

[2022-09-30 18:34] MarcoGorelli commented on #48891
I don't think they'd need to change

[2022-09-30 19:46] soumilbaldota commented on #48855
Hi, I will take `bad-super-call` warning, I have added the pull request above.

[2022-09-30 20:35] rafagsiqueira commented on #14553
Arriving late to the party. While this PR still waiting to be merged, does anyone have an implementation of the callable method that works with MSSQL?

[2022-09-30 21:24] mroeschke commented on #48891
Is an  "appropriate" `na_value` include when the `na_value` could be cast to the `dtype` losslessly e.g. `dtype="Int64" & na_value=1.0` -> `np.int64`?

[2022-09-30 22:07] vranoch commented on #48780
Hi Richard,

Yes, the `mode='a'` seems to work:

`def _export_data(self, data, file, date_from, date_to):

	with open(self._get_report_filename_template(), "rb") as report_template_file:
		self._copy_filelike_to_filelike(report_template_file, file)

	with pd.ExcelWriter(file, mode='a') as writer:
		wb = writer.book

		try:
			del wb[self.report_data_sheet]
		except Exception:
			pass

		try:
			de

[2022-10-01 00:26] jreback commented on #48891
this looks reasonable to do
it's basically best efforts conversion

[2022-10-01 00:35] jreback commented on #48893
+1 for engine and returning arrow extension types

[2022-10-01 11:08] FloHofstetter commented on #48855
Hi, I will take `function-redefined` warning.

[2022-10-01 11:47] alonme commented on #46987
The issue is more general than only `set_index` on more than 1 column

![image](https://user-images.githubusercontent.com/25847554/193408020-fc3cb082-5645-49b9-88be-4aa5aa4fd5c2.png)

[2022-10-01 13:01] lukemanley opened #48905 "BUG: regression in MultiIndex.isin when index contains NA"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

output:
[code]

Regression in on main only and loo

[2022-10-01 14:10] maread99 opened #48908 "Behaviour change in 1.5.0 when using `Timedelta` as `Enum` data type"
From 1.5.0 it appears that `pd.Timedelta` behavior has changed when used as an `Enum` data-type...

#### Before:
[code]
#### 1.5.0:
[code]
I was reluctant to report this as a bug, although it is true that the `Timedelta` class appears to no longer behave as would be expected in this case (the usual behavior when defining a data-type (including `datetime.timedelta`) is as the 1.4.3 behavior describ

[2022-10-01 14:41] twoertwein commented on #48780
If we add a setter for `book`, it would be good to emit a warning. I think we had multiple issues where people overwrote book and then were surprised that it corrupted their excel file (because pandas uses its internal file handle that it passed to the excel engine in the first place).

[2022-10-01 16:43] rokaicker commented on #48855
Hi ! I'm new to open source, but I'd like to tackle the `too-many-function-args`!

[2022-10-01 17:39] MarcoGorelli commented on #48855
thanks @rokaicker - that one's probably too hard to turn off for now, without going through a deprecation cycle, but there's lot's of others to choose

I've added this one to the description as one that's probably not possible to turn off for now

[2022-10-01 19:12] twoertwein opened #48909 "Mark methods raising AbstractMethodError as abstractmethods?"
Many methods raise `AbstractMethodError` instead of being an `abstractmethod`. Based on #20363 and #19268 it seems that there might be a performance issue with inheriting from `abc.ABC`:

I didn't find a reference of why inheriting from `abc.ABC` is slow. Is that a python 2 thing? Would it make sense to use `abc.ABC+abstractmethod` instead of raising `AbstractMethodError`?

[2022-10-01 20:20] mroeschke commented on #48909
+1 for this change.

I think the docstring for `AbstractMethodError` included a note for Python 2/3 compat

https://github.com/pandas-dev/pandas/pull/47885/files#diff-bc1b537aba1f5ee1b3e8b9ba7fa82f914561654dbc21038055ee940b039cd47e

[2022-10-01 20:33] MarcoGorelli commented on #48908
Thanks @maread99 for the report

Haven't looked into why yet, but [from git bisect](https://www.kaggle.com/code/marcogorelli/pandas-regression-example?scriptVersionId=106985818) this is due to https://github.com/pandas-dev/pandas/pull/46688

[2022-10-02 00:10] jetale commented on #48855
working on  "unsupported-assignment-operation"

[2022-10-02 02:04] Dr-Irv opened #48911 "DOC: IntervalIndex.from_arrays() and IntervalIndex.from_breaks() and IntervalIndex.from_tuples() missing description of name parameter"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

- https://pandas.pydata.org/docs/reference/api/pandas.IntervalIndex.from_arrays.html
- https://pandas.pydata.org/docs/reference/api/pandas.IntervalIndex.from_breaks.html
- https://pandas.pydata.org/p

[2022-10-02 03:29] Exoutia commented on #48855
i am working on "no-self-argument"

[2022-10-02 11:56] HebiKotei commented on #48828
@Dr-Irv Well, that depends on if someone installs pre-commit for the project or not. Otherwise, the precommit CI should still function as normal when the pull request is made.

But to have some pre-PR checks, it might be worth adding it regardless.

[2022-10-02 13:28] Eyon42 commented on #42070
This error also arises when calling Series.nlargest() on a slice of a sparse matrix

`sparseMatrix.iloc[:,id].nlargest(5)`
will throw:
AttributeError: 'SparseDtype' object has no attribute 'itemsize'

[2022-10-02 14:15] ddxv commented on #14553
@rafagsiqueira I modified code similar to this for PostgreSQL, not sure if it will help, but just passing it along:
https://gist.github.com/pedrovgp/b46773a1240165bf2b1448b3f70bed32

[2022-10-02 15:30] shalearkane commented on #48855
I am working on "unexpected-keyword-arg"

[2022-10-02 15:31] andrewgsavage commented on #27462
Now that is_list_like interprets scalars correctly, https://github.com/pandas-dev/pandas/pull/44626, this is now the main issue holding back pint-pandas.

There's a few different ways suggested in this issue since it was created. What's the suggested way to fix this at the moment?

[2022-10-02 15:49] enrique-zarate commented on #48674
Hi, @rhshadrach. I would like to help. How and where should this documentation be implemented?

[2022-10-02 18:26] dannyi96 commented on #47024
**Observations**

Case 1 - when delimiter is specified as None ( no sep specified )

https://github.com/pandas-dev/pandas/blob/b0237ed682fd226e6c76327e6524b54ea7ace9a3/pandas/io/parsers/readers.py#L2080-L2084

delimiter is set to a default value ( `,` ) and hence we don't get the error of - `Could not determine delimiter`

Case 2 - when sep is specified as None ( no delimiter specified )

https://

[2022-10-02 18:46] roadswitcher commented on #48855
I am working on `no-name-in-module`

[2022-10-02 19:01] dannyi96 commented on #47024
just looked into this ( was wondering if pandas could implement something similar )
but seems like astropy package also doesn't guess but rather it uses default delimiter space ( `' '`)

https://github.com/astropy/astropy/blob/8262a315917ca51a01e4cbe63fcf9000048309dd/astropy/io/ascii/basic.py#L48-L56

[2022-10-02 19:16] bhagerty opened #48916 "DOC: per docs, "margins" parameter returns row and column sums if True, but I think it returns the mean"
### Pandas version checks

- [X] I have checked that the issue still exists on the latest versions of the docs on `main` [here](https://pandas.pydata.org/docs/dev/)

### Location of the documentation

https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

### Documentation problem

The documentation for the `margins` parameter says:

- Add all row / columns (e.g. for subtotal / gran

[2022-10-02 20:56] k3agan commented on #41986
take

[2022-10-02 22:03] Leviob commented on #48855
Hi, I would like to work on "used-before-assignment," but I'm aware it was already claimed by @shivamurali. Can I submit my own PR for it? Thanks.

[2022-10-02 22:42] tacaswell commented on #48891
What would

[code]

do?  I can see a case both for "promote to float" and "raise".

[2022-10-03 00:42] andrewgsavage opened #48919 "ENH: Enable assert_almost_equal to test numpy-like zero-dimensional arrays"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

`is_list_like` was updated to return `False` for scalars of numpy-like array implementations. #35131 This has helped pass more extensionarray in [pint-pandas ](https://github.com/hgrecco/pint-pandas).

Some tests now

[2022-10-03 05:21] fny commented on #48549
It's very sensitive data (hospital stuff), let me see if I can recreate the
issue.

On Fri, Sep 30, 2022 at 7:11 AM Richard Shadrach ***@***.***>
wrote:

[2022-10-03 07:08] MarcoGorelli commented on #48891
Thanks for weighing in - I'm suggesting it'd raise. Because `numpy` doesn't have a missing value for `int64`, so it'd be up to the user to be explicit about what they want to happen

[2022-10-03 07:20] MarcoGorelli commented on #48908
@maread99 does this solve the issue in pandas?

[2022-10-03 08:18] kostyafarber commented on #48884
Hi, I'd like to take a look into this?

[2022-10-03 08:22] kostyafarber commented on #48884
take

[2022-10-03 08:56] jlandercy commented on #48858
I totally understand that.

Reading the doc:

So at this point the answer is you can change color by series using the DataFrame colors switch and the Series beahviour is not defined because not documented.

How can we be sure the Series behaviour will remain, because it is useful when you need to plot quality index for instance (color are extra indicator in addition of bar value). Maybe we should

[2022-10-03 09:15] Ormorod commented on #48884
I've had an attempt, see #48888

[2022-10-03 10:36] MarcoGorelli commented on #48880
OK thanks that makes more sense to me then - removing `loc` by default (rather than changing its behaviour to be aligned with `iloc`, which is what I'd originally understood this it be about) would be a safer breaking change

I'll rework the proposal in light of this

[2022-10-03 11:06] MarcoGorelli opened #48921 "BUG: guess_datetime_format doesn't guess format correctly for UTC+1"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

This returns:
[code]

### Expected Behavior

I thi

[2022-10-03 11:15] akx commented on #48700
By the looks of it, https://github.com/pandas-dev/pandas/commit/2f0ada3d430f0cc49fa9ab1e7e2e2a7ec23c9616 was the commit that changed this behavior, way back when.

(Came here via answering https://stackoverflow.com/a/73934594/51685 :-) )

[2022-10-03 11:18] jreback commented on #48880
i am pretty skeptical here that you can change this w/o massive changes - nor do i think you should

but happy to see a sketch

[2022-10-03 11:36] TomAugspurger commented on #48880
I sympathize with the task of the dataframe standard, and that row labels make things complicated, but do we have actual users asking for this *who wouldn't be better off thinking through their data model*? Most (all?) of the times I've heard requests for not having row labels, the user would have been better of thinking through whether they have one or more columns that "should" be used as the in

[2022-10-03 11:56] palaniappan-r commented on #48921
Can I take this?

[2022-10-03 12:07] MarcoGorelli commented on #48880
I think [this comment ](https://github.com/pandas-dev/pandas/issues/48880#issuecomment-1263822379) by @shwina clarifies it best

So, the request is speficically for Index to be opt-in, because otherwise, no-Index wouldn't be the default behaviour.

The options seem to be:
1) pandas makes Index opt-in. This'd be a breaking change many pandas maintainers don't seem enthused by;
2) pandas makes Index

[2022-10-03 12:17] MarcoGorelli commented on #48921
sure, though it might not be the simplest issue to start with

[2022-10-03 14:18] joaomarcoscrs commented on #48855
I'll work on the `not-callable`

[2022-10-03 14:37] shwina commented on #48880
Thanks for the summary, @MarcoGorelli!

- I think option 1 would be idea (of course ;) but failing which, option 2 would still be great to see. At least it enables some alignment between Pandas and the standard, and would allow the standard to be tested against Pandas.

- However, can we leave option 1 on the table for now? I still feel it is worth sketching out exactly how changing the default fr

[2022-10-03 14:42] MarcoGorelli commented on #48880
Sure, go ahead, I think I've given edit permissions

In terms of breakage - `.loc` is used in nearly half of the most upvoted notebooks on Kaggle, so there'd be a _lot_ of code that'd no longer work as-is. Wouldn't be off-the-table, if the fix were clear and the error message clear and helpful, just highlighting that indexes are quite widely used

[2022-10-03 15:06] TomAugspurger commented on #48880
I don't want to completely rule out option 1 either, but I suspect it's going to be difficult to get widespread agreement on it. Row labels are useful! It might be OK for a standard to ignore / defer them (though IMO it'll hurt the adoption of the standard *by users* even if makes the standard easier to implement).

But in general I think that pandas users are better off finding natural row labels

[2022-10-03 15:37] phofl commented on #48880
- every Index related argument would change
- Everything that uses alignment would change in some way (this is a lot, df1+df2 for example, would change)
- rolling operations
- reshaping would change (merge, pivot, ...)

Honestly, it's hard to come up with stuff that would not change and that is more than a single function. You'd probably have to rewrite everything, I don't think that there is a co

[2022-10-03 17:21] ChhaSahil commented on #48779
take

[2022-10-03 20:27] #47705 closed

[2022-10-03 20:34] rhshadrach commented on #48674
Currently the documentation only describes how `data` and `index` interact when a dictionary of Series are provided:

https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.html

This alignment also occurs if `data` is a Series or a DataFrame itself:

[code]

The documentation should also indicate alignment is done on Series / DataFrame inputs.

[2022-10-03 21:14] WillAyd commented on #48766
I think this could also be useful when you want to maintain a CategoricalDtype for roundtripping some IO formats. With SQL as an example, the CategoricalDtype does the "right thing" when you just build a dataframe and write it, but if you want to issue a WHERE clause on return that only filtered to a subset of your Dtype it becomes difficult to get access to those codes.

I could see it being usef

[2022-10-03 23:51] AlfredoBB commented on #45513
I happen to notice this bug as well.
The feedback I am getting from pandas, is this:
[code]
this doesn't make much sense; all the datafrems are being properly referred. this happens in the last version

[2022-10-04 03:07] gertcuykens commented on #28142
pip3.10 install -U 'psycopg[c]'
pip3.10 install -U --pre SQLAlchemy
pip3.10 install -U pandas

[code]

Type of "to_sql" is partially unknown

[2022-10-04 03:28] liquidcarbon opened #48930 "BUG: testing for "in pd.array" with mixed types throws an error"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Testing for the presence of a string in an array w

[2022-10-04 05:38] Warlord-K commented on #48674
Hi @rhshadrach .Since No one has been assigned this issue so far, Can I take this issue and contribute?

[2022-10-04 09:34] joooeey commented on #48781
@MarcoGorelli I added a toy example to the description.

[2022-10-04 09:39] rosagold opened #48933 "BUG: `.loc`/`.iloc`/`.at`/`iat` setitem coerces a pd.Series to np.ndarray with object dtype"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]
### Issue Description

A series with object dtype and a **predefined** ind

[2022-10-04 10:02] heijligers opened #48934 "ENH: Transparent Excel2Pandas import and reverse export. Excel file editing through pandas and vice versa."
### Feature Type

- [x] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I want to have a human readible and editable step in my pandas dataframe process.

For example. I have a dataframe. I save it to excel. Later in the software I recreate the pandas dataframe from that excel.
Now I can

[2022-10-04 13:01] tehunter commented on #44868
@maximrobi Is this resolved?

I just ran into the issue initially before setting the `keep_vba` parameter in `engine_kwargs`. Everything seems to work properly now (this is on Windows btw)

+1 to issuing a warning as well

[2022-10-04 13:21] NaveenMargam commented on #48930
Hi @liquidcarbon
In pandas, In case of array operation

<html>
<body>
<dt style="box-sizing: border-box; font-weight: 700; color: rgb(50, 50, 50); font-family: -apple-system, BlinkMacSystemFont, &quot;Segoe UI&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; font-size: 15px; font-style: normal; font-varian

[2022-10-04 14:07] tehunter commented on #47830
My two cents as a `Styler.to_excel` "power user", I like the idea of separating the `Styler` into a separate package within the pandas environment. I currently have an internal package to export DataFrames to Excel using Styler as a backend, following an extensive set of formatting rules for a consistent design in line with our style guide regardless of DataFrame. I see one benefit of separating t

[2022-10-04 17:20] DanielGoncalves47264 opened #48936 "ENH:"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I would love to be able to format both column names and index names when trying to export to excel.

### Feature Description

Format both column names and index names when trying to export to excel.

df=pd.DataFrame()

[2022-10-04 17:33] attack68 commented on #48936
this has been raised elsewhere, i cant, off the top of my head, remember where.

Since Styler methods are designed to be chained it might be worth sketching out a solution where we could re-use existing methods to extend this functionality rather than add new api methods.

Something like `Styler.format_index(names=True)` or `Styler.apply_index(names=True)` makes this function applicable only to th

[2022-10-04 18:17] rAwsam commented on #48855
Hi! I am also new to the open source, but I want to contribute, I will work on the "undefined-variable"

[2022-10-04 18:26] rosagold commented on #48933
BTW: The bug/issue was introduced with `1.5`. In `1.4.4` and earlier versions it worked as expected.

[2022-10-04 18:28] #48794 closed

[2022-10-04 18:49] alainrafiki commented on #46004
The error message may need to be improved for clarity.

`df = df1.replace(to_replace=dictionaryvar, value=None, inplace=False)` resulted in the same error for me as well:

`ValueError: Series.replace cannot use dict-like to_replace and non-None value`

[2022-10-04 18:54] sergiykhan opened #48939 "BUG: pd.compare does not recognize differences with the nullable Int64 data type"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

`.compare` does not return the difference between

[2022-10-04 18:58] abkosar commented on #48893
Hi! I would like to work on this but this will be my first time contributing to pandas. On the other hand, I use pandas a lot and I am familiar with the `read_json` method; however, I may need some help on the way.

Thanks!

[2022-10-04 19:15] mroeschke commented on #48893
Thanks @abkosar. Just noting that for first time contributors we recommend tackling issues labeled `good first issue`, but if you're still interested in this particular issue a pull request would be welcome.

[2022-10-04 19:19] abkosar commented on #48893
Thanks for the reply @mroeschke. Yeah I looked at those too but since it's not my first time contributing to open source I thought I could this one a shot. Cool I will start looking into it.

[2022-10-04 19:26] abkosar commented on #48893
take

[2022-10-04 20:12] Dr-Irv opened #48941 "DOC: Create link from "Creating a development environment" to "pre-commit""
~~I had to recreate my pandas environment from `environment.yml` .   Then when I updated a PR, the pre-commit was failing because `autotyping` was not installed.  It needs to be added to `environment.yml`~~

This is a docs issue.  See https://github.com/pandas-dev/pandas/issues/48941#issuecomment-1270114184

[2022-10-04 20:13] MarcoGorelli commented on #48941
can you show the error please? I wouldn't expect it to fail, because it's listed in the additional dependencies

https://github.com/pandas-dev/pandas/blob/8bcc1ebb8babdfc95afe89219dabcaa98614caea/.pre-commit-config.yaml#L281

[2022-10-04 20:15] Dr-Irv commented on #48941
[code]

I had to install `autotyping` myself.

[2022-10-04 20:22] MarcoGorelli commented on #48941
🤔 how odd, I don't have it installed in my environment
[code]

I'll take a look tomorrow, but I wouldn't think you'd need to add it to `environment.yml` too

[2022-10-04 20:39] MarcoGorelli commented on #48941
I tried again, with a new virtual environment, and it worked fine again:
[code]

I've never seen `Could not find autotyping in any configured modules` TBH - perhaps try opening a bug in https://github.com/pre-commit/pre-commit ? The `additional_dependencies` should definitely provide you with all you need in a local hook

[2022-10-04 20:45] MarcoGorelli commented on #48941
Ah, got it (maybe)

The only way I can reproduce this error is by removing `autotyping` from

https://github.com/pandas-dev/pandas/blob/main/.libcst.codemod.yaml

Does
[code]
show nothing?

[2022-10-04 21:00] JMBurley opened #48942 "ENH: CI check for new extras_require"
### Feature Type

- [ ] Adding new (test) functionality to pandas

### Problem Description

CI tests should validate that the setup.cfg `extras_require` added for pandas 2.0.0 in #47336 are valid.

@JMBurley & @mroeschke active in that PR.

### Feature Description

A CI check that `pip install pandas[foo]` works and install the expected dependencies for all `foo` in setup.cfg.

### Alternative Sol

[2022-10-04 21:09] dstansby commented on #48673
I'm seeing this same behaviour in another package (bug report linked above). Can confirm it's also when a change in dtype is happening, and with `loc` instead of `iloc`.

[2022-10-04 21:15] Dr-Irv commented on #48941
Yes, it shows nothing.

[2022-10-04 21:15] Dr-Irv commented on #48941
Maybe there is something I needed to do to set up the pre-commit hook/installs?

[2022-10-04 22:23] rhshadrach commented on #48941
One needs to run `pre-commit install` within the project directory to setup.

[2022-10-04 22:36] rhshadrach commented on #48780
Thanks @phofl. In #45795 I deprecated other attributes because we were aware of their usage; but I wasn't aware users were setting this attribute. Had I been, this would have been deprecated as well. As such, we broken user code, so it seems best to me to revert and deprecate. I've opened #48943.

[2022-10-04 22:41] SamRWest opened #48944 "BUG: df.to_parquet() fails for a PyFilesystem2 file handle"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Running the example above with Pandas 1.5.0 result

[2022-10-04 23:51] rhshadrach commented on #30552
I definitely think this has some truth to it, but only partially. One reason to use categorical within groupby is to take advantage of `observed=True`. However another reason to use categorical generally is to save memory with e.g. string columns. I would hazard a guess that the latter is much more prevalent than the former, though I have nothing to back this up with.

I do find it surprising that

[2022-10-05 00:13] JMante1 opened #48946 "BUG: excel read from file"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

I cannot get the code above to work. I have tried

[2022-10-05 00:15] lohraspco opened #48947 "ENH: Period with YYYY-UU (week of the year)"
### Feature Type

- [X] Adding new functionality to pandas

- [ ] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I am working with a widely used index for many industries which has week of year as index. Here is an example:
"2020-01"
"2020-02"
...
"2020-52"
"2021-01"
...
"2021-52"
dtype: str

Right now there is no feature to pre

[2022-10-05 00:19] lithomas1 commented on #48893
I would prefer returning numpy dtypes instead, to be consistent between engines and across IO methods.

[2022-10-05 00:34] JMBurley opened #48949 "ENH: pre-commit check for setup.cfg options.extras_require"
### Feature Type

- [ ] Extending the existing CI checks for package versioning to account for optional extras now defined in `setup.cfg`

### Problem Description

After #47336 added optional_extras in `setup.cfg`, we do not have a programmatic check that versions are aligned across the all places they are specified in pandas.

@JMBurley & @mroeschke  active in prior thread.

### Feature Descripti

[2022-10-05 00:43] MichalRIcar opened #48950 "BUG: Window.Rolling.std changes significantly"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Hello,

I have come to a problematic behavior of r

[2022-10-05 03:27] bbassett-tibco opened #48951 "BUG: 'Series.to_numpy(dtype=, na_value=)' behaves differently with 'pd.NA' and 'np.nan'"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

It appears that a Series that has a missing value

[2022-10-05 04:46] abatomunkuev commented on #48951
Is it because `pd.NA` is experimental ? see [Experimental new features](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.0.0.html#experimental-new-features)

The exception raises in line 535. Is it a problem with numpy?
https://github.com/pandas-dev/pandas/blob/87cfe4e38bafe7300a6003a1d18bd80f3f77c763/pandas/core/base.py#L535

[2022-10-05 06:32] cottrell commented on #30552
Replace "save memory" with "bound memory by data size and instead of merely by product of arities of dimensions of categoricals". I don't think people are understanding the cursive of dimensionality issue here. This is like taking a sparse tensor of N dimensions and going .todense() by default and calling the previous step merely "memory saving".

[2022-10-05 07:42] paulrougieux commented on #30552
1.  A difference has to be made between
    - the case where there are only one or two grouping variable and where there is no risk of combinatorial explosion
    - and the case with many grouping variable and there is a risk of combinatorial explosion.
1. As already mentioned by @corriebar categorical variables do not behave like this in R.
1. Other users in this thread say that they have to spec

[2022-10-05 08:00] phofl commented on #48946
Hi, thanks for your report. Please post errors and make a reproducible example (https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports)

[2022-10-05 08:02] phofl commented on #48951
Could you post this in #48891?

[2022-10-05 08:26] MarcoGorelli commented on #48951
Not sure this is the same as https://github.com/pandas-dev/pandas/issues/48891, I think this can already be considered a bug

The following should work:
[code]

I think this is more related to https://github.com/pandas-dev/pandas/issues/48864

[2022-10-05 08:59] d-s-dc commented on #47607
I've found another thing. Basically, the problem seems when the multi-index is already sorted in lexicographical order. If somehow  that ordering is removed then the sorting works according to categorical index.

Currently,
[code]
![image](https://user-images.githubusercontent.com/68206552/194019600-a50450af-000d-45e8-9905-1de059e5b38c.png)

which doesn't work and the `idx1` is lexicographically s

[2022-10-05 12:43] tehunter commented on #48936
This is the solution I've come up with as well.

1. Add a `ctx_index_names` and `ctx_column_names` which follow the existing `ctx_*` patterns.
2. Add a `axis_names` bool parameter to `Styler._apply_index`. If True, set to the `ctx_*_names` dictionary.
3. In `ExcelFormatter`, modify the current `index_labels` and `columns.names` sections to yield a `CssExcelCell`. (I've only implemented this in Exc

[2022-10-05 12:50] twoertwein commented on #48941
Could it maybe be an issue on windows with how LibCST calls autotyping?

[2022-10-05 13:24] MarcoGorelli commented on #22791
is this really desirable though? wouldn't it go against [this comment](https://github.com/pandas-dev/pandas/issues/30038#issuecomment-613427298):

I'd be more inclined to do:
1. find the interleaved type. E.g. if `Int64Dtype()` and `Int32Dtype()`, then this would be `Int64Dtype()`
2. convert to the corresponding `numpy` type (`int64`)
3. if there are missing values (which can't be represented by `

[2022-10-05 13:24] phofl commented on #48950
Hi, thanks for your report. Can you trim this down, e.g. using a smaller window size? Also could you use non random data and post expected and actual outputs?

[2022-10-05 15:36] attack68 commented on #48936
the general approach i have adopted in the past PR wise has been first get it working for html with tests.

then a separate pr for latex woth tests and finally a pr for excel with tests.

all come in the same release, probably aiming at 1.6 now if someone has the time to do a pr.

it is probably worth it since the names are the last outstanding element that cant be formatted or styled

[2022-10-05 15:40] vamsi-verma-s commented on #48939
Hi @phofl
I would like to contribute.

I see this issue is somewhat related to https://github.com/pandas-dev/pandas/issues/44014

the problem seems to be that the mask value evaluated like below ends up having NA values -
https://github.com/pandas-dev/pandas/blob/e25aa9d313dc372c70d826e3c57c65b6724190e5/pandas/core/generic.py#L9264

I think, since the mask here is to simply determine if there are

[2022-10-05 15:44] phofl commented on #48939
Yep makes sense. The test if off. Please also add tests with pd.NA and pd.NA, I think this should be considered different, but not 100% sure.

[2022-10-05 16:07] #48633 closed

[2022-10-05 16:08] vamsi-verma-s commented on #48939
an existing test compares having 2 `NaN` values and expects it to be considered same. is there any reason `pd.NA` should behave differently?

https://github.com/pandas-dev/pandas/blob/e25aa9d313dc372c70d826e3c57c65b6724190e5/pandas/tests/frame/methods/test_compare.py#L94-L109

[2022-10-05 16:48] suryakapurothu commented on #40680
Is it open now?
@geo7 @Dr-Irv
A bit of guidance would let me add up value to the cheatsheet getting cooked.

[2022-10-05 17:25] mroeschke opened #48957 "ENH: Add global option `io.nullable_type="pandas"|"pyarrow"` to control IO reader `use_nullable_dtype`"
xref: https://github.com/pandas-dev/pandas/issues/29752, https://github.com/pandas-dev/pandas/issues/36712

From the above issues and `read_parquet`, it appears that generally a `use_nullable_dtypes: bool` option will be added to `read_*` functions to allow users to opt into pandas nullable types.

Additionally in 1.5 with `ArrowDtype`, the nullable type returned could be backed by pyarrow instead

[2022-10-05 18:00] mroeschke commented on #48893
Yeah understandable. I think https://github.com/pandas-dev/pandas/issues/48957 would allow returning pyarrow types in a more backward compat & API consistent way

[2022-10-05 18:04] #48780 closed

[2022-10-05 21:30] #48535 closed

[2022-10-05 21:40] jrbourbeau opened #48964 "PERF: `pd.util.hash_pandas_object` slower on `string[pyarrow]` than `object` dtypes"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

When investigating Dask's shuffle performance on `string[pyarrow]` data, I ob

[2022-10-05 22:18] rhshadrach commented on #48964
I'm seeing the same behavior on 1.4.x

[code]

Faster on my machine, but same ratio (~1.18).

[2022-10-05 22:58] #48921 closed

[2022-10-05 23:30] mroeschke commented on #48964
Just noting that `string[python]` dtype is comparable to `string[pyarrow]`, but pyarrow is still slower. Hashing is still done in terms of numpy arrays so I imagine that is adding overhead

[code]

[2022-10-06 00:35] WillAyd commented on #48766
@StevenLi-DS to clarify this is what I have in mind:

[code]

Currently this yields `TypeError: 'CategoricalDtype' object is not iterable` but _might_ be a natural Pythonic way to get what you are ultimately after, without requiring pandas to generate a larger API footprint. Would you be interested in exploring that more?

[2022-10-06 03:40] msingh00 commented on #28208
is this still the case where say a datetime index can not be serialized?

[2022-10-06 03:41] minhson1411 commented on #48649
hello bạn ơi!

[2022-10-06 04:48] TejasCreative commented on #48855
I'll take `no-member`

[2022-10-06 04:51] MatteoRaso commented on #48916
The default aggfunc is "mean", which is what's causing this behaviour. You wouldn't think that from reading the docs, though.

[2022-10-06 06:04] sakalmon commented on #48855
I'll work on `unsubscriptable-object`

[2022-10-06 06:26] Pro-Coder04 commented on #48946
I would like to solve this issue if it still exists
Could someone assign it to me

[2022-10-06 06:57] sakalmon commented on #48855
I'm new to open source but I removed the above line and got numerous errors. All of them were "EE1136 - unsubscriptable (unsubscriptable-object)".

[Pylint documentation](https://pylint.pycqa.org/en/latest/user_guide/messages/error/unsubscriptable-object.html) suggests it may be because there is no `__get__item` method or `__class_getitem__` for the class. I believe this is a false positive and th

[2022-10-06 08:12] vamsi-verma-s commented on #48939
@phofl could you please review the PR. I have added additional tests for `pd.NA` . Let me know if anything else is required.

[2022-10-06 08:40] saul-data opened #48967 "PERF: Slow pandas import on Kubernetes"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this issue exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this issue exists on the main branch of pandas.

### Reproducible Example

The import of Pandas 1.5 seems very slow - between 2 and 5 seconds on Openshi

[2022-10-06 12:19] MarcoGorelli opened #48969 "BUG: to_datetime(..., infer_datetime_format=True) fails if argument is np.str_"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

It throws
[code]

### Expected Behavior

[code]

#

[2022-10-06 12:26] tehunter commented on #48936
Will probably need some assistance with the HTML and LaTeX tests, but I'll get the ball rolling

[2022-10-06 12:56] MarcoGorelli commented on #48951
This works if you start with a nullable type:
[code]

The issue is if you start with `dtype=object`

Looking into this

[2022-10-06 14:08] MarcoGorelli commented on #48941
It you don't do `pre-commit install`, then `pre-commit` wouldn't run automatically on commit - if it ran for you then you must have already done it, or triggered it manually. `pre-commit install` isn't necessary for running it manually

I'll try this out on Windows to see if that's the issue

[2022-10-06 15:59] #35685 closed

[2022-10-06 16:06] #48969 closed

[2022-10-06 17:14] kostyafarber commented on #48949
Hey can I try work on this? Any ideas where to get started? (would `scripts/validate_min_versions_in_sync.py`) be enough

[2022-10-06 17:25] MarcoGorelli opened #48974 "PERF: cast np.str_ to str?"
xref https://github.com/pandas-dev/pandas/pull/48970#discussion_r989268179

would it be more performant to just cast np.str_ to str? Just opening as a placeholder

[2022-10-06 17:30] boxblox opened #48975 "BUG: Regression in assert_frame_equal with check_like=True and Multiindex"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [x] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The example passes in Pandas 1.4.4, but fails in 1

[2022-10-06 18:25] MarcoGorelli commented on #48975
Thanks @boxblox for the report

This was caused by https://github.com/pandas-dev/pandas/pull/47573 cc@phofl

https://www.kaggle.com/code/marcogorelli/pandas-regression-example/notebook?scriptVersionId=107365537

[2022-10-06 18:28] phofl commented on #48975
Thx, will look into this. Looks weird

[2022-10-06 20:29] mrocklin commented on #48964
@jorisvandenbossche (or anyone else in arrow) do you know if arrow has nice elementwise hashing operations?  I did a quick search of the API docs and couldn't find anything.

[2022-10-06 20:47] ligon opened #48978 "BUG: Chained urls (allowed by fsspec) not recognized by is_fsspec_url"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

fsspec allows one to pass "chained" urls (useful,

[2022-10-06 22:22] jbrockmendel opened #48979 "API: Series[td64].astype("timedelta64[unsupported]")"
[code]

ATM both `first` and `second` come back as float64.  In 2.0 with non-nanosecond (specifically s, us, ms) support, `first` will come back as the requested "m8[s]" (xref #48963).  The question here is: do we want to change the behavior for `second`?  I lean towards raising.  Could do a deprecation cycle.

<b>Update</b>Related: `Series(.., dtype="m8[D]")` currently just swaps out "m8[D]" for

[2022-10-06 22:30] mroeschke commented on #17022
Thanks for the report. Appears this issue is too vague to be directly actionable so closing.

[2022-10-06 22:30] #17022 closed

[2022-10-06 22:38] liverpool1026 commented on #4674
following onto this.

should to_numeric support cases like thousand seperator? Or that is better handled outside to_numeric.

The issue I am having is sometimes the data comes in as "1,200" instead of "1200" or 1200.

So when I call to_numeric

- "1,200" -> Error
- "1200" -> 1200
- 1200 -> 1200

When I would want "1,200" to  be coverted to 1200 when I call to_numeric.

[2022-10-06 23:35] minat-hub commented on #48674
take

[2022-10-06 23:45] u5927645 commented on #48947
Hi, could the maintainer assign me this issue? Thanks in advance.

[2022-10-07 00:42] u5927645 commented on #48947
take Hi, could the maintainer assign me this issue? Thanks in advance

[2022-10-07 00:43] u5927645 commented on #48947
take

[2022-10-07 00:43] XiaoyuZZhou commented on #48946
take

[2022-10-07 00:46] u7238722 commented on #48947
take

[2022-10-07 07:57] akx commented on #48967
If you can install the `moreutils` package that has `ts` in it, you can do
[code]
to get a timestamped log of what imports are taking time, and naturally you can also run that program with `cProfile` to get a real profiling output to figure out where the bottlenecks are.

[2022-10-07 08:33] DanielGoncalves47264 opened #48983 "ENH: allow pct change to generate ghost dates to avoid missing values"
### Feature Type

- [ ] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I'm taking advantage of the DateOffset to calculate % changes. However, this approach generates some NaN values due to irregularities in months. I would like to be able to avoid this NaN by filling with the values of

[2022-10-07 09:32] MarcoGorelli commented on #48855
thanks for looking into this @sakalmon - that's fine, I'll add that to the list of ones we can't turn off

[2022-10-07 10:14] DanielGoncalves47264 opened #48986 "ENH: Allow hierarchical sorting on MultiIndex, with multiple functions assigned to key"
### Feature Type

- [X] Adding new functionality to pandas

- [X] Changing existing functionality in pandas

- [ ] Removing existing functionality in pandas

### Problem Description

I would love to be able to replicate the custom sort feature of excel with Pandas, both on sort_index() and sort_values(), with mappings applied. The problem is that it is not possible to do it because when I want to

[2022-10-07 11:06] sakalmon commented on #48855
@MarcoGorelli No worries, happy to help!

[2022-10-07 11:17] phofl opened #48988 "CI: pydata sphinx theme 0.11 broke doc build"
See https://github.com/pandas-dev/pandas/actions/runs/3203777448/jobs/5234277313

On this note: I think it would be a good idea to test against main again. This would enable us to catch bugs sooner

[2022-10-07 11:27] #48861 closed

[2022-10-07 12:03] roadswitcher commented on #48855
Disabling this resulted in a substantial number of E0611s that are tied to referencing calls in underlying C implementation within the `pandas._libs/*` directories.   [Pylint documentation for other errors](https://pylint.pycqa.org/en/stable/user_guide/messages/error/no-member.html) implies that there are flags that could be invoked in order to make pylint start building AST trees from the underly

[2022-10-07 13:06] StevenLi-DS commented on #48766
Thank you @WillAyd. I'm not familiar with enum, but think return a dict would give us more usability and flexibility.

[2022-10-07 14:00] datapythonista opened #48991 "RLS: pandas 1.5.1"
It's been more than two weeks since the the release of pandas 1.5.0. There are [several fixes](https://github.com/pandas-dev/pandas/pulls?q=is%3Apr+milestone%3A1.5.1+is%3Aclosed) to it since then, probably worth releasing a 1.5.1.

I see we've got some regressions for 1.5.1:
https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression+milestone%3A1.5.1

Is there any that s

[2022-10-07 14:16] dimitra-karadima commented on #47024
take

[2022-10-07 14:20] MarcoGorelli commented on #48983
sorry could you make the example without requiring us to download data?  it should be possible to write
[code]
and construct your example like that, so it's easily copy-and-pasteable

[2022-10-07 14:37] phofl commented on #48991
We should pin/fix the pydata sphinx theme issue and #48987 is ready

[2022-10-07 15:13] phofl commented on #48944
[code]

[2022-10-07 15:37] sgusch-bn commented on #21734
I do think that cause regression here (1.1.5 vs 1.4.3). In my case if all values in datetime field have time component set to 00:00 - in to_csv() output it's got truncated to pure date.

[2022-10-07 16:00] phofl commented on #21734
Can you provide something reproducible?

[2022-10-07 16:06] sachinparyani commented on #25043
@JustinGuese seems like your solution still doesn't work. Here's an example that fails with the ValueError: parquet must have string column names:

[code]

[2022-10-07 16:10] AlbertOh90 opened #48992 "BUG: setting value to a entire column using .loc may result out of the order rows"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

This will only happen when the number of rows is b

[2022-10-07 16:50] phofl commented on #48992
Hi, thanks for your report. This is a duplicate and is already fixed for 1.5.1

[2022-10-07 16:50] #48992 closed

[2022-10-07 16:51] sgusch-bn commented on #21734
I just modified above example:
`import pandas as pd
df = pd.DataFrame({
    'date': pd.to_datetime('1970-01-01 00:00:00'),
    'datetime': pd.date_range('1970-01-01', periods=5, freq='H')
})
print(df.dtypes)
df['date'].to_csv('/dev/stdout', index=False)
df[['date', 'datetime']].to_csv('/dev/stdout', index=False)`

output from 1.1.5
[code]
output from 1.4.3
[code]

[2022-10-07 16:57] phofl commented on #21734
Thanks!

This is exactly what the issue was about? The new behavior is the expected behavior.

[2022-10-07 17:04] #48916 closed

[2022-10-07 17:04] sgusch-bn commented on #21734
Unfortunately, date_format will cause all columns to be out in same form, instead of variations.

[2022-10-07 17:08] phofl commented on #21734
This is exactly what this fix avoided. Every column is treated individually now without a ``date_format``

[2022-10-07 17:14] #48975 closed

[2022-10-07 17:15] sgusch-bn commented on #21734
I see one inconsistency here: imagine you generate data on schedule, run at exact midnight will produce date, but run one minute later will have datetime. It will not be an issue in pandas data processing, but downstream systems will need to accept this variations.

[2022-10-07 17:19] phofl commented on #21734
In this case you can set the format manually? I can’t see a situation where you always want seconds precision but setting a format would not work.

Again, we are now treating datetime columns independently. This is the expected behavior. You could disagree with the removal of the 00:00:00 components in general, but this is not relevant to this fix

[2022-10-07 17:20] jorisvandenbossche opened #48998 "Copy-on-Write follow-up overview issue"
An initial implementation was merged in https://github.com/pandas-dev/pandas/pull/46958/ (with the proposal described in more detail in https://docs.google.com/document/d/1ZCQ9mx3LBMy-nhwRl33_jgcvWo9IWdEfxDNQ2thyTb0/edit / discussed in https://github.com/pandas-dev/pandas/issues/36195).

In https://github.com/pandas-dev/pandas/issues/36195#issuecomment-1137706149 I mentioned some next steps that a

[2022-10-07 17:23] #48803 closed

[2022-10-07 17:28] MarcoGorelli commented on #48991
shall we just revert https://github.com/pandas-dev/pandas/pull/46174 to solve https://github.com/pandas-dev/pandas/issues/48826 ?

[2022-10-07 17:29] sgusch-bn commented on #21734
Yes, i will set it manually before dumping to CSV:
`df["datetime"] =df["datetime"].dt.strftime("%Y-%m-%d %H:%M:%S")`

I agree, that not relevant discussion for this fix as it actually add consistency in different form.

[2022-10-07 17:52] MichalRIcar commented on #48950
Hello,

trimmed down the data and the result behaves identically with a sample size of 9K.
Originally, I used 9K as it is pretty impressive that 1OBS (the very first one) of 9K OBS can impact the very last 9000th std value which is very surprising in both statistical and mathematical ways.

`
from pandas import Series as pSe
import numpy  as np

The new example below

T0 = [100]

T1 = [1.630826130

[2022-10-07 18:03] mroeschke commented on #48991
We can discuss more during the dev call next week, but IMO the existing regression don't appear to be absolute blockers for a 1.5.1 release

[2022-10-07 18:27] twoertwein commented on #48944
Do we really want to allow paths in `bytes`? I think users will then also expect to use bytes paths for all other IO functions (including some which accept the bytes content - not a bytes path)

[2022-10-07 18:30] phofl commented on #48944
No strong opinion, could deprecate, but silent behavior change is not great

[2022-10-07 21:01] rhshadrach opened #49001 "REF: Define ops on Resampler as normal methods"
Ref: https://github.com/pandas-dev/pandas/pull/48980#pullrequestreview-1134863343

Similar to #48400 with groupby, we should define methods on the `Resampler` class rather than setting them as attributes after the class definition. While this involves a little more boilerplate code, it is more straightforward to understand and easier to enhance or extend.

[2022-10-07 21:19] FeiLi1996 opened #49003 "BUG: .astype(int) in Window vs Mac"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [ ] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

Hypothetical example. I can't give an actual example because it is company stuff,

[2022-10-07 22:49] TejasCreative commented on #48855
Looks like no-member can't be turned off. After removing it, A wide variety of E1101: Instance of xyz has no abc member. Looks like this is a false positive for object members that are created dynamically, but exist at the time they are accessed.

[2022-10-07 23:08] jbrockmendel commented on #49003
This is happening in numpy.  I agree it’s annoying. It can be solve by passing “np.int64” instead of “int”

[2022-10-07 23:09] jbrockmendel commented on #48974
Could also see if there is an issue in cython about recognizing numpy.str_ as a str subclass

[2022-10-07 23:12] jbrockmendel commented on #48934
Pls add an informative title

[2022-10-07 23:18] jbrockmendel commented on #48781
Cc @jorisvandenbossche i think you were looking into design decisions related to this

[2022-10-07 23:25] jbrockmendel commented on #48212
This would be great, go for it!

[2022-10-08 04:23] abkosar commented on #48893
@mroeschke So I have been looking into the issue and have some questions. I was mainly looking at the `read_csv` and see how `engine` is implemented for `read_csv`; however, I have couple questions:
- `JsonReader` doesn't have the `_make_engine` method implemented so I think I need to implement that too, just confirming?
- `read_csv` has its own pyarrow engine wrapper in the `pandas.io.parsers.arr

[2022-10-08 05:44] erikcek commented on #49001
take

[2022-10-08 06:36] adesuwa-osagie opened #49006 "BUG: `rsplit` not behaving as expected with regex "\s" for whitespace"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

Splitting is not done at the whitespace before the

[2022-10-08 08:23] david-fortini opened #49007 "BUG: `pd.rename` creates duplicate columns when the target column is already present"
### Pandas version checks

- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.

- [X] I have confirmed this bug exists on the main branch of pandas.

### Reproducible Example

[code]

### Issue Description

The `rename` method calls works without raising a

[2022-10-08 09:16] dannyi96 commented on #49006
**An observation -** Pandas `.str.split` supports `pat` argument to be of regex form but  `.str.rsplit` does not support `pat` to be a regex

split -
https://github.com/pandas-dev/pandas/blob/55dc32437ea43a238975439ddb6c9dda81b33020/pandas/core/strings/accessor.py#L858-L875

rsplit -
https://github.com/pandas-dev/pandas/blob/55dc32437ea43a238975439ddb6c9dda81b33020/pandas/core/strings/accessor.py#

[2022-10-08 09:21] MarcoGorelli commented on #49006
I don't think this is possible - can you check the issue tracker for duplicates please? Pretty sure this is there

[2022-10-08 09:22] MarcoGorelli commented on #49006
Here it is https://github.com/pandas-dev/pandas/issues/46488

[2022-10-08 09:23] MarcoGorelli commented on #49006
Closing then, but thanks for the suggestion

[2022-10-08 09:23] #49006 closed

[2022-10-08 10:59] saul-data commented on #48967
@akx  thank you, I will give that a try this week and share the results.

[2022-10-08 12:54] rhshadrach commented on #48674
@Warlord-K - apologies for the delay; if there is an issue you wish you be assigned, just add a comment `take` to it. As it is, I would recommend letting @minat-hub take this one.

[2022-10-08 13:10] rhshadrach commented on #49007
Thanks for the report!

What part of the documentation are you referring to here that gives you that expectation?

One can set `DataFrame.flags.allows_duplicate_labels` to `False` and this should then raise if a duplicate column name occurs.

[2022-10-08 13:12] adesuwa-osagie commented on #49006
@dannyi96 @MarcoGorelli Thank you for taking the time to look at it and providing the link to the issue that explains that regex not working regex is actually an expected behavior. I appreciate it!

[2022-10-08 13:50] silviaovo commented on #48911
take

[2022-10-08 17:24] dannyi96 commented on #48813
take

[2022-10-08 17:38] mroeschke commented on #48893
Not too familiar with the json code base, so it would be easier to discuss those questions in a PR just to see what it would look like.

Generally I would (hope) it would be something like

[code]

Where PyArrowParser and ExistingParser might be able to share some code.

It's okay to open up a PR at any state, especially since Github has a draft PR status.

[2022-10-08 17:56] dannyi96 commented on #48813
Another observation - noticing that the defaultdict gets updated in the unexpected output example
[code]

[2022-10-08 19:06] dannyi96 commented on #48813
This issue seems to be related to the ids of the `nan`, will debug further -

Example -
[code]

On manually setting `arr[i] = np.nan` here for elements having null --> we get expected result.
https://github.com/pandas-dev/pandas/blob/55dc32437ea43a238975439ddb6c9dda81b33020/pandas/_libs/lib.pyx#L2909-L2912

Am checking what is causing this different id issue for nans.