[2018-01-12 11:02] jreback commented on #19198
xref to https://github.com/pandas-dev/pandas/issues/13287

[2018-01-12 11:05] jorisvandenbossche commented on #19203
That observation seems correct. Do you want to do a PR to update the docs?

[2018-01-12 11:08] #10382 closed

[2018-01-12 11:08] #15517 closed

[2018-01-12 11:09] #2511 closed

[2018-01-12 11:09] jreback commented on #19205
float16 have almost no support anywhere as a first class type.

[2018-01-12 11:09] #19205 closed

[2018-01-12 11:09] jreback commented on #19205
we have a master issue about this

[2018-01-12 11:12] jreback commented on #19204
this should be made more like the other ``is_*`` methods (in base.py), where it simply checks the inferred type (and then checks for object), needs a doc-string

[2018-01-12 11:36] #19103 closed

[2018-01-12 11:39] Bernhard10 commented on #19203
Sure, I'll submit a PR today.

[2018-01-12 11:40] #17415 closed

[2018-01-12 11:46] #19101 closed

[2018-01-12 11:49] #15563 closed

[2018-01-12 12:30] tobiasraabe opened #19207 "Categoricals are not preserved by groupby.Groupby.last()"
#### Code Sample, a copy-pastable example if possible

[code]
Output
[code]

#### Problem description

I would expect that categoricals are preserved by such transformations. At best, the transformation returns an updated categorical if some categories are missing in the process.

#### Expected output
[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
c

[2018-01-12 13:42] jreback commented on #19206
hmm, must be an error in the offset computation we are essentially doing

[code]
We have some compensation for nanos freq, but I think that needs to be bigger as we are losing precision

[2018-01-12 13:43] jreback commented on #19206
PR welcome!

[2018-01-12 13:43] jreback commented on #19199
we have tons of interpolation issues, pls find the duplicate and close this one

[2018-01-12 15:01] TomAugspurger opened #19209 "IntervalIndex nbytes computation"
Currently, it looks like `IntervalIndex.nbytes` just uses `IndexOpsMixin.nbytes`

[code]

Should it instead be `self.left.nbytes + self.right.nbytes`? This will be faster, and I think more correct.

[2018-01-12 18:16] stuz5000 opened #19210 "pandas.DataFrame.is_copy has no description in the docs"
#### Code Sample, a copy-pastable example if possible

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.is_copy.html#pandas.DataFrame.is_copy

#### Problem description

It isn't clear what this property tells -- there's no documentation. When does it become true, and when does it become false?

#### Expected Output

#### Output of ``pd.show_versions()``

[2018-01-12 19:02] jbrockmendel opened #19211 "Series[offsets] + Series[datetime64] fails"
[code]

`pd.Index(other) + ser` is OK, as is `other + pd.DatetimeIndex(ser)`

[2018-01-12 19:36] jorisvandenbossche commented on #19210
Thanks for the report. This is a duplicate of https://github.com/pandas-dev/pandas/issues/18799, which initiated the decision to deprecate `is_copy` altogether (although there is still some discussion about that), see the linked issues in that issue.

[2018-01-12 19:36] #19210 closed

[2018-01-12 20:22] chris-b1 commented on #19211
More fundamental than the arithmetic is that Series/arrays of offsets aren't meaningfully defined as a type, compared to, e.g. `Timedelta`.

It wouldn't be an unreasonable addition, something that would have occasionally been useful to me, but a pretty large change.  Probably less painful after #19174, et al.

[2018-01-12 20:26] cstjean opened #19214 "categorical series with null converts ints to float"
[code]
Shouldn't it keep them as ints? Interestingly, `pd.Series(["a", 1,2, np.nan], dtype="O").astype("category")` doesn't do the conversion.

[2018-01-12 20:26] chris-b1 commented on #19211
As you noted, this does actually sort of work (surprise to me!).  I suppose may not need to be that invasive, could just involve the dispatch for `+` on object Series.

[code]

[2018-01-12 21:00] jbrockmendel commented on #19211
The direction we’re going with series arithmetic is to dispatch to the relevant Index subclasses (#19024, #18824) implementations, since they handle type checking (and timezones) much more carefully than the current Series implementations.

[2018-01-12 22:09] jorisvandenbossche commented on #19203
@bhavybarca there is already an open PR for this

[2018-01-12 22:39] jschendel commented on #19209
That makes more sense to me.  Not sure exactly what the use case of `nbytes` is though, so really just basing this off the docstring description.

[2018-01-12 23:07] WillAyd commented on #19200
This appears to be a result of the following code:

https://github.com/pandas-dev/pandas/blob/8347ff8c9d8876fa46f73dbc48919a672caef1d2/pandas/core/groupby.py#L3380

It affects other aggregation functions like ``size``, ``rank`` and ``cumcount`` that I would expect should always return a number and not a datetime64.

One solution I could think of is to blacklist those particular aggregations from b

[2018-01-13 00:19] VelizarVESSELINOV opened #19217 "resample precision issue"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Current output:
[code]

Main issue: `NaN` is not expected.

Secondary minor issue:
`bfill` with `limit` is changing type of the column, `bfill` without `limit` is not changing the dtype

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit:

[2018-01-13 01:52] scoliann opened #19218 "rolling().apply() skips window if it contains NaN"
#### Code Sample

[code]
#### Expected Output and Problem Description

One would expect that the above code would print the list:

[code]

Instead, we get the following:

[code]

It seems that any time the input to lambda contains nan, then nan is returned automatically.  This is problematic, because it is not possible to apply a custom rolling function to a series containing nans.  Doing so will

[2018-01-13 02:17] tyrinwu opened #19219 "DataFrame.values sometimes returns a view and sometimes a copy"
Example 1 (`.values` returning a view)

[code]
Example 2 (`.values` returning a copy) (Taken from COLDSPEED's answer in [this question](https://stackoverflow.com/questions/48201521/will-changes-in-dataframe-values-always-modify-the-values-in-the-data-frame))

[code]

#### Problem description

This is based on a question I asked on SO, [Will changes in DataFrame.values always modify the values in t

[2018-01-13 09:57] LittleLittleCloud opened #19222 "can't import pandas unless press cntr-c"
#### Problem description
I have to press ctrl-c to load pandas in python termination. Or it just stuck there.
It's too weird, Is there anyone meeting the same situation?
PS: the pandas version on my PC is pandas 0.20.3, OS is win10. I install it through anaconda.

[2018-01-13 12:57] xhochy opened #19223 "BUG: astype of datetimelike to non-NS"
The current pandas master includes a behaviour change date conversion.

Before #19176

[code]

After #19176

[code]

[2018-01-13 14:49] jorisvandenbossche commented on #6581
@jreback you were not being fully clear, I can interprete "no need to move schedule up" as n"o need to already start removing things from 0.20". But I think it was you who marked those 0.20 deprecations as ready for removal?

[2018-01-13 15:10] jorisvandenbossche commented on #19223
Hmm, we apparently didn't have any tests that catched this.
Anyhow, this is a regression that we should fix. By using plainly `pd.to_datetime` for any datetime64 dtype, we ignore the resolution.

[2018-01-13 15:20] jreback commented on #19223
yes, PR shortly

[2018-01-13 15:52] jreback commented on #19219
this is an implementation detail. since you are getting a single dtyped numpy array, it is upcast to a compatible dtype. if you have mixed dtypes, then you almost always will have a copy (the exception is mixed float dtypes will not copy I think), but this is a numpy detail.

I agree this is not great, but it has been there from the beginning and will not change in current pandas. If exporting to

[2018-01-13 15:52] #19219 closed

[2018-01-13 15:53] jreback commented on #19219
all that said, if you want to update the docs to make this more clear that would be fine.

[2018-01-13 15:54] jreback commented on #19222
you have a system issue which is impossible to diagnose w/o a reproducible exampel.

[2018-01-13 15:54] #19222 closed

[2018-01-13 16:17] tyrinwu commented on #19219
Thanks for the information. I appreciate the explanation.

Maybe add a line to the documentation that "It could return either a view or a copy."?

[2018-01-13 16:37] jreback opened #19225 "API/DEPR: re-instate timedelta[non-unit] conversions as a no-op"
when I originally added first class timedelta support I allowed ``.astype('m8[unit]')`` to return a float, except if unit==ns. IOW it was de-facto the same a dividing by ``Timedelta(1, unit=unit)``

[code]

note that for [5], however we just return a timedelta64[ns] (which happens to be the underlying data representation).

#19224 fixes construction of non-ns (and preserves the astype freq convers

[2018-01-13 16:37] jreback commented on #19225
@jorisvandenbossche @TomAugspurger

cc @jbrockmendel

[2018-01-13 16:41] jreback commented on #6581
@jorisvandenbossche yes I changed that. I don't see any reason to wait on removing those (except some I specifically marked). if you have ones that you don't think should be removed until 1.0, then pls move them to where ix/Panel are.

[2018-01-13 16:51] jorisvandenbossche commented on #6581
As I said above, I think *none* of the deprecations of 0.20 should be removed in 0.23 (speaking about those in the first 0.20 list, so not about ix/Panel). IMO they should only be removed in the next major release, whether this is 0.24 or 1.0 that does not really matter.

Our implicit rule has been to keep deprecation at minimum for two major releases (but maybe we should document this expectation

[2018-01-13 16:57] jreback commented on #18958
@gfyoung not like ``merge``, rather it is straightforward to move the ``.to_csv`` functions to ``generic.py`` to accomplish this, though its slightly tricky because the doc-string needs to be reflexive of the class (e.g. say Series or DataFrame) as appropriate, but that can be accomplished thru shared_kwargs , but that itself is a cost, e.g. look at ``.reindex`` we *still* define it in ``series.py

[2018-01-13 16:59] jorisvandenbossche commented on #19225
My first reaction was: and why not having the actual timedelta resolution? As we support this when doing `astype("m8[s])` starting from numerical data.

But, this is actually maybe a bug / also not consistent, as in theory we only support 'ns' resolution:

[code]

and for datetime it is interpreted correctly as well but then converted to ns:

[code]

I have to think a bit further about it, but agr

[2018-01-13 17:02] jreback opened #19226 "TST: clean up all of the compression tests"
we have tests for compression kwargs all over the code base, e.g. ``grep -r compression pandas/tests/``

I think *only* the json and parser network tests parametrize these. The others have copy-pasted code all over the place.

Needs to be consolidated, and the fixtures that are used in json/parser should be pushed to the very top level conftest.py

would accept incremental (multiple) PR's for this

[2018-01-13 17:05] aschade commented on #19186
I'm going to take a look since I don't see any other PR's for this issue.

[2018-01-13 17:07] jreback commented on #19225
[4] is fixed by PR #19224 (I don't know if we had an issue about that before)

[7] is also fixed by that (its not a regression per-se because I broke it in a prior issue).

but note that the examples are not relevant to THIS issue. We are taking something that is *already* a dateimelike type and astyping it.

[2018-01-13 17:08] jorisvandenbossche commented on #19225
I wanted to open a separate issue for that (as the timedelta[s] series should not be created, as once you do operations with it you get bugs by it sometimes being interpreted as ns and sometimes as s), but we already have https://github.com/pandas-dev/pandas/issues/12425 were this is also discussed.

[2018-01-13 17:09] jorisvandenbossche commented on #19225
[7] that I showed was already correct no? So what is exactly fixed/changed there?

[2018-01-13 17:27] jreback commented on #19225
#12425 is covered by #19224

[7] is the issue in #19223 (not broken in 0.22, rather in master)

[2018-01-13 17:36] neilser opened #19227 "read_csv issues with dict for na_values"
Basically, I can't get a dictionary of `na_values` to work properly for me, no matter what I try. Pandas version is 0.22.0.
hack.csv contains:
[code]

Here are two variants of my code - the one with the list does what I expect, but the dict version doesn't:
[code]
output from list version

0 | 1 | 2 | 3 | 4 | 5 | 6
-- | -- | -- | -- | -- | -- | --
113125 | NaN | /blaha | kjsdkj | 412.166 | 225.874

[2018-01-13 18:18] #19223 closed

[2018-01-13 18:18] #12425 closed

[2018-01-13 18:37] jreback opened #19228 "TST: split tests for windows to sub-modules"
after #18723

can split test_window.py to a sub-dir ``pandas/tests/window/`` and have
``test_rolling, expanding, emwa`` and prob ``test_window`` (for other)

[2018-01-13 18:44] aschade commented on #19186
@jorisvandenbossche Should this raise `KeyError` though?

[2018-01-13 18:48] aschade commented on #19186
@jorisvandenbossche Should this raise `KeyError` though?

[2018-01-13 18:57] jreback commented on #19218
``min_periods`` controls whether the window is skipped or not. it defaults to the window size.

[code]

[2018-01-13 18:57] #19218 closed

[2018-01-13 19:02] jreback commented on #19217
how is this not as expected? you have duplicate values on the 8s value, so you must pick one in the absence of anything else

this is all consistent

[code]

[2018-01-13 19:02] #19217 closed

[2018-01-13 19:04] jreback commented on #19217
To handle times that are duplicates you need some kind of aggregating operation, ``last/mean`` etc.
[code]

[2018-01-13 19:09] jreback commented on #19214
so ``.loc`` does this correctly, meaning we defer to the underlying data source for getting the values, rather than do the array conversion (which ``__getitem__``) does. So its buggy, changing this may not be easy though.

[code]

[2018-01-13 19:10] jreback commented on #19214
cc @toobaz
cc @jschendel

if you want to wade thru some indexing code!

[2018-01-13 19:11] jreback commented on #19214
this is as expected, the objs in the series are actually store (and not as a numpy array).

[2018-01-13 19:44] VelizarVESSELINOV commented on #19217
8.2 => 8
8.6 => 9

@jreback Do you agree about rounding precision expected behavior?

[2018-01-13 19:50] VelizarVESSELINOV commented on #19217
@jreback Do you expect when you change the default value of limit that the dtype of the output will change?

[2018-01-13 19:55] jreback commented on #19217
there is no rounding. These are just IN the same interval.

[2018-01-13 19:55] jreback commented on #19217
If you want to round you can do that, but that is not what resample is.

[2018-01-13 20:10] VelizarVESSELINOV commented on #19217
@jreback at least for users like me we expect precision from resampling 8 + epsilon should be resampled to 8 and not 9. It is fine if you have another point of view, I respect your opinion. I like the tolerance, even if is providing unprecise things, just people like me we need to avoid to use nonprecise methods and packages.

[2018-01-13 20:26] TomAugspurger commented on #19217
@VelizarVESSELINOV can you suggest any changes to http://pandas.pydata.org/pandas-docs/stable/timeseries.html#resampling to make it clearer? I'm wondering what made you think it was rounding instead of binning.

[2018-01-13 21:48] jreback commented on #19217
@VelizarVESSELINOV you are missing the point. 8 is NOT resampled to 9, they are simply put in the same bin. There IS no rounding happening here. You have duplicated values per bin. Then backfill uses the last value. This is quite precise actually.

[2018-01-13 22:00] jreback commented on #19187
hmm, I think we could remove the check from ``is_all_dates`` if its ``object`` dtype entirely (it should just return False). if we just use inferred type then this is not a problem (not sure how much this might break though).

[2018-01-13 22:00] jreback commented on #19187
this is pretty much a result of #19204

[2018-01-13 22:01] jreback commented on #19187
so will leave this open, but it is going to be tied to fixing that one.

[2018-01-13 22:08] jreback commented on #19200
thought we had an issue about this. https://github.com/pandas-dev/pandas/issues/15562 is related.

On certain operations we should *not* try to cast (count, size, rank). These are normally dispatched to specific methods for non-transforming groupbys (they just calll the method on Series/FrameGroupBy), this is not a problem. However transform calls a cython function and then does the casting.

So n

[2018-01-13 22:09] jreback commented on #19198
this is a duplicate and the same cause as #13287

[2018-01-13 22:09] #19198 closed

[2018-01-13 22:11] jreback commented on #19207
duplicate of #18502

[2018-01-13 22:11] #19207 closed

[2018-01-13 22:12] jreback commented on #19192
can you show a copy-pastable minimal example. no idea what you are trying to do.

[2018-01-13 22:23] donnaaboise commented on #11179
Perhaps this additional meta data doesn't need to be stored at all, but only recognized in a formatter.  For example, it is nice that columns can be formatted independently, i.e.

    df.style.format({'e' : '{:8.2f}%', 't' : '{:12.3f}'})

Could this style also accept header labels?    Something like :

    df.style.format(formatstr={'e' : '{:8.2f}%', 't' : '{:12.3f}'}, labels={'e' : 'Efficiency (%

[2018-01-13 22:34] jreback commented on #11179
you can already just rename things (and then chain with ``.style``)

[code]

[2018-01-13 22:37] jreback commented on #19116
shoot. #19224 reversed this :<

[2018-01-13 23:12] donnaaboise commented on #11179
yes  - this seems like a very good approximation.    The only minor drawback I can see is that the format dictionary passed to chained `style.format` now has to use the long names to format columns.  But these can be accessed through a renaming dictionary.   Something like :

    di = {'e' : 'Efficiency', 't' : 'Time'}
    fstr = {di["e"] : '{:8.2f}%', di["t"] : '{:12.3f}'}
    df.rename(columns=d

[2018-01-13 23:24] jbrockmendel opened #19233 "TimedeltaBlock.fillna treats int as second"
Seems like assuming nanosecond would be more natural, or just refusing to assume.

https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals.py#L1981

[2018-01-13 23:25] jbrockmendel commented on #19233
There's only one test that hits this and its benign because it happens to fill with 0.

[2018-01-14 00:20] toobaz commented on #19187
Not really (unless I misunderstood your comment there): #19204 affects ``Timedelta`` and ``Period``, while this affects only ``Timestamp``. If #19204 is fixed, then this will affect all of them.

[2018-01-14 01:22] jreback commented on #19187
my point is we do not want to infer object type and simply use the inferred property (and include for period timedelta and timestamp)

then this issue is moot

[2018-01-14 01:30] fotisj commented on #15086
If anyone comes here like me because he/she hit the same problem, here is a solution until pandas is fixed to work with pep 529:

Insert the following two lines at the beginning of your code to revert back to the old way of handling paths on windows:
[code]

[2018-01-14 08:27] cyrushu commented on #19167
Thanks a lot~

[2018-01-14 08:28] topper-123 opened #19238 "BUG: dtype comparison between numpy dtypes and pandas dtypes fail"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The dtypes are not always comparable, The same issue is with IntervalDtype and if the numpy types are oher kinds (int, float, dates etc.).

The issue may be a numpy issue and not a pandas issue, but I raise it here for discussion first, and can later file an issue at the numpy repository.

#### Expected Output

[2018-01-14 08:58] jorisvandenbossche commented on #10556
@jreback do you know if you still have that branch available with which you did the experiment and timings you mention above?
The link above is no longer working.

[2018-01-14 08:59] jorisvandenbossche commented on #10556
Ignore it, the other link (github automatically generated one) is still working

[2018-01-14 14:10] #19116 closed

[2018-01-14 14:15] jreback opened #19239 "DEPR: SparseDataFrame and SparseSeries subclasses"
This is slightly useful in a single dtyped case, but enough of a headache [here](https://github.com/pandas-dev/pandas/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+label%3ASparse+DataFrame) that we should simply remove it. Ultimately we should even remove ``SparseSeries`` and just rely on the ``SparseArray`` abstraction and extension types (#19174) .

[2018-01-14 14:16] jreback commented on #19239
cc @jorisvandenbossche @TomAugspurger @wesm
cc @hexgnu
cc @Licht-T
cc @kernc

[2018-01-14 14:17] jreback commented on #19238
you can see the original issue that I filed to numpy in 2014, https://github.com/numpy/numpy/issues/5329 as well as #8814

this is an understood and numpy issue that won't be fixed :<

[2018-01-14 14:17] #19238 closed

[2018-01-14 17:22] VelizarVESSELINOV commented on #19217
Pandas BDFLs should be more open to other domains that macroeconomics where the resampling is high level yearly/quarter very basic ‘bining’.

There is another world of IoT, high-frequency times series data, data fusion where precision of resampling is mission critical.
When you analyze SpaceX data from different not aligned time sensors and epsilon precision of one sensor can misalign your analysi

[2018-01-14 17:29] TomAugspurger commented on #19217
I'm very confused. This doesn't have anything to do with "openness to other domains". It has to do with the definition of resample. It's a groupby-like operation.

`df.resample('1s')` is like `df.groupby(df.index.seconds)`. You wouldn't expect that groupby to round 8.7 to 9 would you?

[2018-01-14 17:41] VelizarVESSELINOV commented on #19217
If you use the nearest option yes 8.7 should be resampled to 9. If you also defined the boundary intervals to be centered 9 should cover samples from 8.5 to 9.5. Please try to read more what resample option are doing in Matlab or R world and the output plots for QC for the resampling methods: [Matlab resample](https://www.mathworks.com/help/signal/ref/resample.html)

I'm seeing that from your exam

[2018-01-14 19:40] jschendel commented on #19238
Note that `pandas.core.dtypes.common.is_dtype_equal` allows for safe comparisons between numpy and pandas dtypes:

[code]

[2018-01-14 20:43] kuraga commented on #18273
Yeah, the same issue with 0.21.0 and 0.22.0. No issues with 0.20.3.

All columns' names are cyrillic complex (not `A`, `B`, etc.)

[2018-01-14 21:27] #19197 closed

[2018-01-15 00:19] cbertinato commented on #19206
Definitely a round-off issue with large numbers. Some curious behavior of true division in Python 3. I would have thought that `int / float(int)` would be equivalent to `int / int`.  It is when numbers are not large, but in this case:
[code]
Changing the division in the offset calculation from `int / float(int)` to `int / int` solves the problem, but raises issues for Python 2, which `__future__`

[2018-01-15 01:30] pdpark commented on #19089
@davetlewis-van are you working on this? If not, I'd like to. Thanks.

[2018-01-15 01:35] jnothman opened #19241 "ENH: Sparse DataFrame.pivot, pd.pivot_table, Series.unstack"
#### Problem description

The sparse design in Pandas is really very neat. However, I find the sparse documentation to be focused on syntax and structure, while not explaining practical applications of the sparse data structures.

Practical application should include operations on series and dataframes that produce innately sparse results. One such example is `pivot` (and `pivot_table`). Pivot ind

[2018-01-15 02:03] fcfangcc opened #19242 "df.to_excel() error.Unsupported type <type 'pandas._libs.interval.Interval'> in write()"
#### With pandas version 0.19.*,code can run normally.
#### But in pandas0.20+,the following error will be displayed.
#### Code
[code]
#### Error description
[code]

**Note**: The same error in pandas0.21,0.20. Right in 0.19.*

#### Output of ``pd.show_versions()``

<details>

commit: None
python: 2.7.12.final.0
python-bits: 64
OS: Darwin
OS-release: 17.3.0
machine: x86_64
processor: i386
byteorde

[2018-01-15 02:08] kenfehling commented on #17079
Is there any downside to using this instead of the type hint?

`df: pd.DataFrame = pd.concat(dfs)`

[2018-01-15 02:12] jnothman commented on #19241
Somehow I managed to not see #14493, which is a duplicate

[2018-01-15 02:12] #19241 closed

[2018-01-15 02:50] jbrockmendel opened #19243 "core.internals checking `hasattr(item, 'reindex_axis')`"
`Block` and `SparseBlock` each have a `reindex_axis` method that is not used anywhere, _but_ a bunch of things in core.internals do a check of the form

[code]

It would be nice to get rid of the unused methods.  Any idea what this ducktype checks are actually intending to catch?

[2018-01-15 04:07] cbertinato commented on #19242
The Interval type was introduced in 0.20.  Before then, it was just a string.  The upcoming PR should fix it, but a quick fix is:
[code]
though not desirable if one wants to keep the Interval type in the data frame.  Note that this exception comes up only when labels are not assigned.  So:
[code]
should also work.

[2018-01-15 09:22] hexgnu commented on #14167
I was going to submit a PR changing __array__ to be dense... but the problem I see is this:

if you are to call a numpy function like `np.abs(sparse_series)` then you end up in a really odd spot where npoints on the sparse index doesn't match the data anymore.

I think it'd probably be best to document that __array__ returns only the dense elements and leave it at that.

[2018-01-15 09:51] Linlinzhao commented on #18273
I have a set of excel files, all of which have a few same columns I need to read, but other columns are different. The old usecols with specified column names works nicely.

Do I have to downgrade Pandas?

[2018-01-15 10:23] vinu2003 commented on #19186
Thanks Joris.
I will make sure that i follow the markdown syntax from next time.

[2018-01-15 10:36] vinu2003 commented on #19186
Hi Alex,

Correct me if I am wrong.
It should be "ValueError" as it raises with drop with axis=0 without duplicate index.
So with duplicate as well, I thought it should raise "ValueError".
Please correct me if I am kissing something here.

Kind regards,
Vinodhini Balusamy

Sent from my iPhone

[2018-01-15 10:58] vinu2003 commented on #19186
I just saw your code changes Alex.
So for both axis 0 and 1 , you are making  as "KeyError" instead of "ValueError".

Sent from my iPhone

[2018-01-15 12:36] jorisvandenbossche commented on #8571
@jreback I think this was closed by #15444?

[2018-01-15 12:36] #8571 closed

[2018-01-15 13:36] jreback commented on #19233
yeah this is probably not idea, does this show up in user facing code?

[2018-01-15 14:11] #18958 closed

[2018-01-15 14:17] #19203 closed

[2018-01-15 14:19] jorisvandenbossche commented on #19186
Yes, there is discussion in the PR (https://github.com/pandas-dev/pandas/pull/19230#discussion_r161382928) that KeyError would actually be better as ValueError

[2018-01-15 14:27] jreback commented on #8571
yes

[2018-01-15 14:39] Gijs-Koot commented on #19136
Hi, I ran into a similar problem, but I get a different error message. This seems to happens with a `MultiIndex` of categoricals.

        test = pd.DataFrame({
            "a": pd.Series(["a_1", "a_2"], dtype = "category"),
            "b": pd.Series(["b_1", "b_2"], dtype = "category")
        })

        problem = test.groupby(["a", "b"]).size().unstack(1)
        problem

This looks good, but

[2018-01-15 15:08] vinu2003 commented on #19186
Yes. That makes sense.

Sent from my iPhone

[2018-01-15 15:30] jreback commented on #14167
@hexgnu this is a bit more complicated here, ``__array__`` can/should return a dense view of the data, but you can handle the wrapping/unwrapping to a ``SparseSeries`` thru things like ``__array_wrap__`` (which are defined in``Series``)

[2018-01-15 15:39] hexgnu commented on #14167
Yea I was digging into __array_wrap__ although couldn't figure it out today while at the coffee shop... maybe I'll pick it up after I rejigger some of my other PR's outstanding.

[2018-01-15 16:40] vinrok commented on #11604
# I am facing the following issue in my code:

`ImportError       Traceback (most recent call last)
<ipython-input-1-20d62f942773> in <module>()
----> 1 import pandas as pd
         2
         3 import numpy as np
         4
         5 import matplotlib.pyplot as plt

ImportError: No module named pandas`

# Even though I have installed pandas.
## I am using Jupyter notebook.

[2018-01-15 16:50] armona opened #19248 "ENH: support monotonic_decreasing on rolling"
Example:

[code]
#### Problem description

I'm trying to work with time series data frames in reversed order. It seems pandas is failing due to `index must be monotonic`, although the index is clearly mononotonic decreasing.

**Note:** [This stackoverflow answer](https://stackoverflow.com/a/46101574/2487609) seems like a workaround

The error raised:
<details>

[code]
</details>

#### Expected Out

[2018-01-15 17:04] jreback commented on #19248
I suppose this could be supported internally, virtually all time based operations required monotonicity (increasing), so this is correct.

If someone wants to implement for monotonic_decreasing then would be ok.

[2018-01-15 17:15] davetlewis-van commented on #19089
@pdpark Hi. Yes, I've started on it. I'll finish up this week. Can I send it your way for review when I have a draft?

[2018-01-15 17:35] jorisvandenbossche commented on #19227
Thanks for the report.
Can you check what happens if you use column names (and so can use strings instead of integers in the dict)? Just to check whether that works or whether it is a general problem with `na_values`

[2018-01-15 18:42] jbrockmendel opened #19249 "_get_attributes_dict formalization"
Index subclasses have a `_get_attributes_dict` method that would be useful to employ elsewhere (here I'm thinking of DateOffset subclasses and discussion in #19174).  Could/should that be defined in a Mixin class (say in core.base) so that pattern could be documented and used elsewhere?

[2018-01-15 19:26] jbrockmendel opened #19252 "Series has no __rdivmod__"

[2018-01-15 19:39] j-musial opened #19254 "Groupby.mode() - feature request"
#### Feature Request
Hi,

I use pandas a lot in my projects and I got stack with a problem of running the "mode" function (most common element) on a huge groupby object. There are few solutions available using aggregate and  scipy.stats.mode, but they are unbearably slow in comparison to e.g. groupby.mean(). Thus, I would like to make a feature request to add cytonized version of  groupby.mode() o

[2018-01-15 20:34] chris-b1 commented on #19254
xref #19165 (master tracker)

A PR would be welcome!  As you note the key thing would be implementing a single-pass group mode function in cython, can look at others for examples.

https://github.com/pandas-dev/pandas/blob/aa9e002463d104b6dc37cdb32b2726bafcb5aa36/pandas/_libs/groupby_helper.pxi.in#L213

[2018-01-15 20:45] Apeder opened #19256 "df.applymap() produces unwanted type conversion of datetime64[ns] to timedelta"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When executing applymap on a masked subset of df datetime columns, two of the four columns are converted to timedelta. Can't figure out what might be happening, perhaps an error similar to https://github.com/pandas-dev/pandas/issues/18493? But why only two of the four?!

Here's what time_data.head() looks like:

[2018-01-15 21:10] pdpark commented on #19089
Sure, I'd be happy to review it. Maybe just submit a PR though and I'll review it in github as soon as I see it come up?

[2018-01-15 21:19] Apeder commented on #19256
Ah, turns out the issue was using pd.NaT rather than np.NaN.  Le sigh.

[2018-01-15 21:19] #19256 closed

[2018-01-15 23:34] gfyoung commented on #19227
@jorisvandenbossche : So many bugs...that's all I can say. 😂 Luckily, the patch for them isn't so bad 😄

[2018-01-15 23:35] jreback commented on #19254
how is this different that ``.value_counts()`` ?

[2018-01-16 00:02] #19124 closed

[2018-01-16 00:14] #18324 closed

[2018-01-16 00:18] #17845 closed

[2018-01-16 00:18] #18562 closed

[2018-01-16 00:43] #14781 closed

[2018-01-16 00:47] #19130 closed

[2018-01-16 00:48] TomAugspurger opened #19261 "Standardize pandas metadata for table schema and parquet"
Both `to_json(orient='table')` and `to_parquet` write some metadata about the dataframe. It'd be nice to standardize these.

[2018-01-16 01:12] jreback commented on #19249
we do things this also for groupby/rolling as well. I suppose it could be moved to the pandas/core/base.py/PandasObject which already mixes everything (well except for offsets)

[2018-01-16 01:47] jschendel opened #19262 "IntervalIndex constructor doesn't use dtype parameter"
#### Code Sample, a copy-pastable example if possible
The `IntervalIndex` constructor takes a `dtype` parameter but doesn't use it (no references to it in the code):

[code]

The constructor methods do not support a `dtype` parameter:
[code]

#### Expected Output

I'd expect the `IntervalIndex` constructor and constructor methods to support a `dtype` parameter, which can be used to override the in

[2018-01-16 02:08] jschendel opened #19263 "Deprecate IntervalIndex.from_intervals in favor of the IntervalIndex constructor"
Currently, the `IntervalIndex` constructor and `IntervalIndex.from_intervals` essentially have the same functionality:
[code]

However, both are using independent code to do this, which seems redundant.  This has also led to two being slightly out of sync, as the `IntervalIndex` constructor supports a few more parameters (`dtype`, `closed`) and has some additional checks that `IntervalIndex.from_i

[2018-01-16 04:55] toobaz commented on #18455
Reminder: when this is fixed, remove [workaround in test](https://github.com/pandas-dev/pandas/commit/72086101327c584d2b6f515ffacbaa062e6279bc#diff-79e0785420ae1c686623848c4d561486R606)

[2018-01-16 05:06] jbrockmendel commented on #19249
Because offsets are perf-sensitive it might need to be implemented in cython.  That aside, rolling it into PandasObject makes a lot of sense.

`Block.make_block` looks a lot like `Index._shallow_copy`.  A bunch of the DatetimeIndexOpsMixin arithmetic/comparison (ones that I think @TomAugspurger agrees would go nicely in an Array-level class) use _shallow_copy.  Making the Block classes conform to

[2018-01-16 07:14] j-musial commented on #19254
Hi Jeff,

As you can see below .value_counts() does not apply to groupby object.
Furthermore, returning sorted values and counts within thousands/millions
of groups gives huge overheads, whereas all you want is the most frequent
value.

Best,

Jan

pd.DataFrame({'a':['a','a','a','a','b','b','b','b'],'b':[1,1,2,3,1,2,2,3]}).groupby('a').value_counts()
Traceback (most recent call last):
  File "<std

[2018-01-16 08:53] jorisvandenbossche commented on #10556
I rebased the commit of @jreback to play a bit with it to do some more timings. Using the same example as above, but now excluding the array creation and on more operations:

[code]

Creation
[code]
In [8]: # blocked
   ...: %timeit df_blocks.sum()
994 ms ± 19.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]: # dict-split
   ...: %timeit df_dsplit.sum()
2.58 s ± 1.66 s per loop (mea

[2018-01-16 09:02] jorisvandenbossche commented on #10556
Posted the previous comment too fast, I updated the above post with the following conclusion:

So in general, as expected, it gives a slowdown on the above operations (of course it is the specific case of a *lot* of all-float columns (only iterating over the rows with eg `itertuples` was faster with the splitted version ...). But especially the slicing operation is much much slower.

So in any cas

[2018-01-16 10:14] jorisvandenbossche commented on #18455
I am not sure this was the reason. Because if comparison operations would align, you would 1) align introducing NaNs in the values and 2) compare and where there are NaNs you just get `False` (just as you would now get with already aligned objects that contains NaNs).
So even if comparisons do alignment you can still get a normal functioning boolean result.

I think one of the reasons to *not* let

[2018-01-16 10:28] h-vetinari opened #19266 "Series/DataFrame.replace crashes without exception in some cases (concerning lists)"
I have a Series of lists that I need to work with, and discovered some crashes without exceptions. Here's an overview of the behaviour (which is inconsistent to me).

[code]

I agree that _interpreting_  a list as the argument to `.replace` makes no sense. But I don't understand why it's not possible to `fillna` a list (cf. other people asking this question https://stackoverflow.com/q/33199193/296

[2018-01-16 10:31] jondo commented on #12401
The [deprecation message](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.select.html) currently only suggests a replacement for the case `axis=0`.

I suggest to expand is to:

[2018-01-16 10:34] toobaz commented on #18455
Good point: comparison of NaNs is well defined.

Exactly

True. My idea of introducing NaNs would have provided this sanity check... but it's just too inconsistent. And while I would rather _not_ have this sanity check, changing it now would be too disruptive.

I still think we could just allow for different _order_ of indexes, in unique indexes with _same_ elements, not to matter.

[2018-01-16 11:00] jreback commented on #3268
Add in ``.levels`` to ``Index`` breaks a couple of easy-to-fix issues in pandas test suite, mainly checks like

[code]

should change to
[code]

patch

[code]

[2018-01-16 11:13] jreback commented on #19254
``.value_counts()`` is a series method. I guess mode would simply give back the max per group.

[code]

[2018-01-16 11:16] jreback commented on #19263
lets do option 1 and deprecate

[2018-01-16 11:17] #19158 closed

[2018-01-16 12:56] charlieahern opened #19267 "DOC: NumFOCUS link broken at http://pandas.pydata.org"
The links to NumFOCUS on the pandas web site are all broken.

Link on pages:
http://pandas.pydata.org
http://pandas.pydata.org/about.html
http://pandas.pydata.org/community.html
http://pandas.pydata.org/donate.html

is:
https://www.numfocus.org/open-source-projects.html

should be:
https://www.numfocus.org/project/pandas/
 - - -
This is my first attempt at logging a 'bug' on GitHub, so I apologize

[2018-01-16 13:05] TomAugspurger commented on #19267
Thanks Charlie.

@Dr-G do you know if https://www.numfocus.org/open-source-projects.html used to be a valid URL that should be redirected? Either way, we'll update our docs to point to https://www.numfocus.org/sponsored-projects/.

The reference in `doc/source/overview.rst` will need to be updated. I think the rest need to be changed in http://github.com/pandas-dev/pandas-website.

[2018-01-16 13:24] Nemecsek commented on #18908
Hi Tom. After almosta  month of silence I went on asking again on stackoverflow and they probably fixed the point. [Last comment of muskrat](https://stackoverflow.com/questions/48280456/pandas-groupby-different-indexes-returned/48282033#48282033) is interesting indeed:

[2018-01-16 13:52] jnothman commented on #14493
I have implemented, I think, most of the logic for sparse unstacking of series (or homogeneous dtypes) at https://github.com/pandas-dev/pandas/compare/master...jnothman:sparse-unstack

So far I am:
* currently overwriting the existing `_Unstacker.get_result()` implementation for ease of testing.
* not handling the categorical case yet.
* not currently correctly outputting SparseDataFrame where it

[2018-01-16 13:52] jnothman commented on #14493
Maybe then it can be downgraded to Effort Medium :P

[2018-01-16 14:30] BLMeltdown commented on #18909
Sorry, forget this, somehow, I discovered that conda had not updated pandas like I had scheduled it to be. I will check for this too next time.

[2018-01-16 15:22] Dr-G commented on #19267
Hi folks,
We're in process of a hand-off from the web designers to NumFOCUS staff after a site re-design, so I'll be able to fix it once I get my admin login back (hopefully today). We'd asked them to handle redirects but of course, things don't always go as you'd want them to. Thanks for your patience.

[2018-01-16 16:26] jkornblum opened #19270 "Applied filter breaks groupby aggregation"
#### Code Sample, a copy-pastable example if possible

***EDIT: See comments below for copy-paste example***

I don't have a full copy-paste example but my data frame has the format
value (float) | test_name (str) | test_number (int)

[code]
#### Problem description

When I run this code my grouped (by test name) means come out to some value which is identical for all tests like this. These are no

[2018-01-16 17:27] jkornblum commented on #19270
Hey @TomAugspurger do you need additional information from me on this problem?

[2018-01-16 17:32] TomAugspurger commented on #19270
Yep, a reproducible example if you're able to.

On Tue, Jan 16, 2018 at 11:27 AM, Joshua Kornblum <notifications@github.com>
wrote:

[2018-01-16 17:33] j-musial commented on #19254
Thanks Jeff!

Unlike .value_counts() the .mode() would act like a reduction function
returning just one value. Returning entire histogram just to get the most
frequent value is huge waste of computing resources.

Best,

Jan

On Tue, Jan 16, 2018 at 12:14 PM, Jeff Reback <notifications@github.com>
wrote:

[2018-01-16 18:12] jbrockmendel opened #19271 "Series comparison ops __finalize__ inconsistent"
Looking at core.ops. _comp_method_SERIES and whether we can have the datetime and timedelta cases defer to Index subclass implementations, a couple questions come up:

https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L744
[code]

This `return op(y, x)` looks weird.  Should it be a reverse-op?  e.g if op is operator.ge, should this become `return operator.le(y, x)`?  Maybe this i

[2018-01-16 18:12] jkornblum commented on #19270
Using attached csv file this will reproduce

[code]

And this will give you the correct output

[code]
The other needed functions are in my original question

[jmk_gh_ex.txt](https://github.com/pandas-dev/pandas/files/1636262/jmk_gh_ex.txt)

[2018-01-16 18:15] TomAugspurger commented on #19270
Any chance you could narrow it down to something simpler that reproduces
the buggy behavior?
If this is a bug, we'll need a unit test for it, and we don't want to read
in a CSV for the test.

On Tue, Jan 16, 2018 at 12:12 PM, Joshua Kornblum <notifications@github.com>
wrote:

[2018-01-16 18:49] jbrockmendel opened #19272 "core.internals Roundup"
Wishlist:
- [ ] It'd be nice if `self._data` _always_ pointed to a BlockManager object.  This would require some changes to the existing accessor classes and Index.
- [ ] It'd be nice if the exposed surface of core.internals were reduced.
- [ ] #17144 Allow external libraries to define custom Block
- [ ] #7964 allow Period to be a first-class type via a PeriodBlock internal type

Refactoring:
- [

[2018-01-16 20:18] jkornblum commented on #19270
Sure playing around with this I couldn't exactly replicate my previous behavior where switching order gave the correct result but I did come up with same error. It seems to be tied to datatype and adding columns in `groupby().apply()` e.g. if you change the `np.linspace` stuff to `range(20)` it works fine in all conditions.

I am changing the width of dataframe on `groupby().apply()` which maybe i

[2018-01-16 21:37] TomAugspurger commented on #18147
FYI Sphinx the 1.7 beta is out https://pypi.org/project/Sphinx/1.7.0b1/

They've removed `sphinx.util.compat` so our vendored numpydoc and IPython sphinxext will not work.

Checking the timing now. I think Joris noted that things weren't as slow as 1.6x?

[2018-01-16 21:39] jorisvandenbossche commented on #18147
Good you notice. We should make sure this time to test sphinx before they release.
Last time I tried the slowdown problems were indeed solved in master: https://github.com/sphinx-doc/sphinx/issues/4230

[2018-01-16 23:04] PMeira commented on #18394
Bumped into the same issue. You can pass a `bottom` argument to fix it, e.g.

`Series([10**x for x in range(5)]).plot.bar(logy=True, bottom=1)`

[2018-01-16 23:59] #19042 closed

[2018-01-16 23:59] #19080 closed

[2018-01-17 00:39] rockg commented on #13238
Any progress on this?  Had to spend about 20 minutes figuring this out and it impacts all join operations as the timezones are not treated as equal despite having the same zone name.  So all binary operations will result in losing timezone information ([13] below).  Using tz_convert brings the timezone back in line, but shouldn't be necessary.  Some more examples:

[code]

[2018-01-17 00:43] jreback commented on #13238
i think #18596 will fix this if u want to give that a try

[2018-01-17 01:25] rockg commented on #13238
Yes, that will fix the join issue.  Thanks.

[2018-01-17 01:28] jbrockmendel opened #19274 "(Datetime|Timedelta)Index +/- np.nan"
AFAICT this is now the last thing standing between us and getting rid of ops._Op and ops._TimeOp.  Series ops currently case np.nan to pd.NaT whereas Index ops treat it as a float and raise a TypeError.

[code]

Note also that the behavior of Series[datetime64] has changed since 0.22.0:

0.22.0:
[code]

ATM `ser - np.nan` also raises, since that now delegates to the DatetimeIndex op.

[2018-01-17 01:28] jreback commented on #13238
ohh great

lmk rebase that tomorrow

i suspect this will close a number of other issues as well
if you could have a look thru would be great

[2018-01-17 03:25] jbrockmendel opened #19275 "SingleBlockManager.reindex almost unused, unusable"
https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals.py#L4447

SingleBlockManager.reindex has only code code branch hit in test coverage, immediately returns `self`.  This is good because I think if it went further than that it would likely raise one of several errors.

The end of the method:

[code]

In the case where `not self._block.is_sparse`, then I'm pretty sure the author

[2018-01-17 07:32] jnothman opened #19278 "Behaviour of Categorical inputs to sparse data structures"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

* Categoricals are upcast to object dtype when put into `SparseArray` and `SparseDataFrame` (or when calling `Series.to_sparse()`). This is inconsistent with the categorical dtype retained by dense Series and DataFrame.
* SparseSeries raises an error when constructed with a categorical argument. This is incons

[2018-01-17 07:48] jbrockmendel commented on #19263
+1.  A few things become easier if we can get rid of the special cases for fooIndex._constructor, which this would be a step towards.

[2018-01-17 08:56] #18908 closed

[2018-01-17 09:12] ddofer commented on #11250
May I ask if there's any chance of this being implemented? (This thread is actually on of the top results for googling this issue/ removing columns by duplicated values). Thanks!

[2018-01-17 11:01] jreback commented on #11250
@ddofer this would take a community pull request. It would be very difficult as you can start with the code above. The tricky part would be a) writing the benchmarks (done somwhat above), b) assuring it only minimilly affects the common case (no dups).

[2018-01-17 11:45] jreback commented on #13238
@rockg xref #19281, though I don't think this actually fixes it, the tz is still converted incorrectly. welcome an investigation.

[2018-01-17 11:46] #19141 closed

[2018-01-17 11:48] dharmen001 commented on #3149
is #4817 resolved??

[2018-01-17 12:40] jreback commented on #19278
why would you actually want to do this? using ``object`` dtypes in sparse has very little utility and is barely supported.

[2018-01-17 12:48] jnothman commented on #19278
okay. so make it invalid. I'll admit i don't have a use case for it. it
just came up when looking into the implementation of unstack and how to
make that sparse. I still think the SparseSeries error is inappropriate.

On 17 Jan 2018 11:40 pm, "Jeff Reback" <notifications@github.com> wrote:

[2018-01-17 13:59] rockg commented on #13238
Yeah, I agree it doesn't fix the resample, just the join issue ([13] in my example).  It works despite resample returning a different tzinfo, so half the battle.

[2018-01-17 15:03] jdmarino opened #19283 "groupby().first() much slower with a str column present in the data."
#### (I copied this code from a jupyter notebook)
[code]
#### Problem description
I find that the presence of a text column in a dataframe's data (i.e. not the groupby) dramatically slows down a groupby.first() in version 0.22 (but not 0.21.1) by 2 orders of magnitude.  The operation takes 59 ms without a text column present in the data and 10.6 secs when it is.  (The problem is not limited to thi

[2018-01-17 16:22] TomAugspurger commented on #19283
I'm unable to reproduce your slowdown:

On 0.21.1:

[code]

On 0.22.0:

[code]

Are there any other differences in your environments? 0.22.0 only contained 1 change relative to 0.21.1, and I'd be surprised if it had an impact on `Groupby.first`.

[2018-01-17 16:32] jdmarino commented on #19283
It might be worth removing your line "I'm unable to reproduce your slowdown".  People like me might stop reading right there assuming the OP was a crackpot.  ;-)

[2018-01-17 17:37] tomsyouruncle opened #19284 "Series index silently ignored when used as boolean mask to df.columns"
#### Code Sample:

[code]
#### Problem description

Using an instance of pd.Series as a boolean mask to select columns in a dataframe works entirely as expected when using `df.loc[:, boolean_mask]` but when instead used to filter columns via `df.columns[bool_mask]` the index of the Series is silently ignored.

If the index order of the boolean mask Series is identical to the column order of the da

[2018-01-17 17:38] TomAugspurger opened #19285 "Nusicance Columns in cumulative aggregations"
We're inconsistent with excluding nuisance columns

[code]

I'll update this with more dtypes (datetime, period, categorical) and more aggregations. Ideally we'd be consistent between the cumulative and non-cumulative versions.

[2018-01-17 17:49] pirius opened #19286 ".appy() for core.window.Window (feature request)"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`core.window.Window` does not yet provide apply functionality like `core.window.Rolling` does, hence functions other than the readily provided ones (like `sum()`, `mean()`, etc) cannot be applied to it.

I'm not to deep into the details, but IMHO returning different object types for just changing the window typ

[2018-01-17 17:59] yam4 opened #19287 "TST: assert_series_equal not using check_less_precision if check_datetime_compat is provided"
I am referring to this part of the code:
[code]
#### Problem description

,

In pandas.util.testing, the assert_series_equal function does an exact check if check_datetimelike_compat is True and the actual series doesn't contain date like data (line 1264 in the source code). It doesn't care about check_less_precision in that case.

It would make more sense to do an 'almost equal' check in that cas

[2018-01-17 18:33] jbrockmendel commented on #18999
This is probably closable, possibly worth keeping around on some tracker for "subclassing pitfalls"

[2018-01-17 19:00] chris-b1 commented on #19286
The direct answer to your question is here https://github.com/pandas-dev/pandas/pull/11603#discussion_r47631460 - as you may or may not be aware, there used to be set a of top level `pd.rolling_*` functions that were refactored into the current OO interface.  `pd.rolling_window` got stuffed into `.rolling`, not really out of design, but just as a place to put it.

As you note, it's sort of half-im

[2018-01-17 19:06] chris-b1 commented on #19287
Yeah, this is looks buggy, PR to fix would be welcome.

[2018-01-17 19:08] pirius commented on #19286
Thanks, acknowledged. `.apply()` would be used e.g. for signal processing where different window forms are required and where people want to avoid transforming pandas data into the underlying scipy APIs just for doing that.
Btw: `core.window.rolling()` distinguishing `win_type=None` and `win_type='boxcar'` and returning different object types based on this seems to be caused by same underlying inc

[2018-01-17 19:40] chris-b1 commented on #19283
Thanks @jdmarino - seems the `min_count` changes in #18921 is causing the groupy dispatch to the right cython method to fail.  Fortunately/unfortunately there's a fallback so tests didn't pick it up.  As a slightly faster workaround you could use `nth(0)`.

[code]

@TomAugspurger  - looks like the `1` in this line is issue?
https://github.com/pandas-dev/pandas/blob/65d1b62dfe46cd5cfd80d8b1aafd6335

[2018-01-17 19:55] TomAugspurger commented on #19283
Thanks @chris-b1. I added a `min_count` to `group_nth_` in `groupby_helper`, but `group_nth_object` is defined separately.

[2018-01-17 20:25] chaxor commented on #10511
I would think that the number of people that run into this problem of having lists or iterable structures within cells of a dataframe would give credence to this issue.  I fully understand that it is less efficient and there are likely better dataframe architectures.  However, I (and looking at the number of stackoverflow questions on this - many, many others) have run into this an astounding numb

[2018-01-17 23:31] TomAugspurger opened #19289 "Unstack performance regression"
http://pandas.pydata.org/speed/pandas/#reshape.SparseIndex.time_unstack

https://github.com/pandas-dev/pandas/pull/18460#issuecomment-358365042

cc @toobaz

[2018-01-17 23:57] jreback commented on #10511
@chaxor

not sure what to make of that statement. pandas has almost 2200 issues, and no full time folks working on. People prioritize what they will. Do you want to submit a pull-request to fix this? if so great.

[2018-01-17 23:58] #18999 closed

[2018-01-18 00:02] jreback commented on #19286
@pirius this is very simple. The implementation of a weighted window only accepts mean or sum. It should prob share code with the remainder of rolling but it doesn't. a pull request for enhancements would be accepted.

[2018-01-18 00:03] jreback commented on #19286
FYI, *only* for ``boxcar`` does this work the same. That is become the windowing pattern is unweighted.

[2018-01-18 00:14] #18523 closed

[2018-01-18 00:23] #19227 closed

[2018-01-18 00:36] neilser commented on #19227
Wow, talk about being late to the party! Sorry folks, was tied up for last two days and am only now getting to pay attention to my backlog. But it looks as though it's all sewn up - well done and thanks! :-)

[2018-01-18 00:49] #19134 closed

[2018-01-18 00:53] #19186 closed

[2018-01-18 01:35] asishm opened #19290 "Filtering on empty dataframe (using .apply) results in dropping column structure"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Would expect both indices to result in the same empty dataframe with the structure of the columns preserved.

#### Expected Output
[code]
for both indices
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
comm

[2018-01-18 06:12] vatsan commented on #9716
Did anyone figure this out? Why does pd.read_sql() seem to consume 10 times more memory than loading the same table from CSV?!

[2018-01-18 08:33] jbrockmendel opened #19294 "Naming Conventions: "_data", "data", "values", "_values""
A bunch of different classes have one or more of the attributes `data`, `_data`, `values`, `_values`, plus an assortment of `external_values`, `internal_values`, `formatting_values`, `get_values`.  These mean different things in different places.

Maintenance would be easier if the naming conventions were more uniform.  `Index` has all four of these attributes and I'm not sure there exists a nice

[2018-01-18 09:54] blueTaxi commented on #18321
Hi, I want to work on this.

[2018-01-18 10:13] alexeygrigorev commented on #16536
for me updating pandas helped, but removing the `qt` folder didn't

[2018-01-18 10:55] toobaz opened #19295 "Deprecate pd.*Index*(names='')"
- ``pd.Index`` accepts ``name`` - great
- ``pd.MultiIndex`` accepts ``names`` - after all, they are multiple ``name``s
- ``pd.Index`` accepts ``names`` for compatibility with ``pd.MultiIndex`` - well, OK, after all, that constructor _can_ result in a ``MultiIndex``
- ``pd.Index`` should accept ( #19082 ) ``names`` even when it results in a flat index - well, OK, still for compatibility
- ``pd.Mult

[2018-01-18 11:02] toobaz commented on #18321
@blueTaxi I had this old branch around:

https://github.com/toobaz/pandas/tree/crosstab_tuple_names

... I didn't push it so I guess it didn't work... but you might want to try the trivial change.

[2018-01-18 11:09] #19179 closed

[2018-01-18 11:15] blueTaxi commented on #18321
@toobaz thanks. I'll have a look!

[2018-01-18 11:27] jreback commented on #19295
its easiest just to *only* accept ``name`` only. If its a scalar, make it a list. Then the len of names must match the number of levels. Very simple this way. I don't think it would break any external APIS (of course we need to actually deprcate ``names``).

SO 1. 2b

[2018-01-18 11:29] jreback commented on #19294
well ``.values`` is an external property. I don't think there should be any usage of ``.data``

[2018-01-18 11:35] jreback commented on #10695
this closed by #15747. ``.loc`` and ``.reindex`` are distinct and have separate purposes.

[2018-01-18 11:35] #10695 closed

[2018-01-18 11:36] jreback commented on #19290
These are 2 different results. Using ``.apply`` for this purpose is quite non-idiomatic. [4] is a boolean indexer, while [3] is just an empty selection.

[code]

Since ``.loc`` works correctly I guess fixing ``[]`` would be ok.
[code]

[2018-01-18 11:36] toobaz commented on #19295
I like this!

I don't like this! You mean in a 1-level ``MultiIndex``? I think the user must still pass ``("name",)``, we don't need to guess.

[2018-01-18 12:16] TomAugspurger opened #19296 "Cumulative Methods with mixed frames casts to object"
Looks like we cast the entire frame to object dtype, and then perform the cumulative functions:

[code]

I think it'd be better to do these block-wise? The possible downside I see is that

[code]

Will now be slower (presumably) since we'll have two cumsums to apply instead of one (after upcasting), but I think that'd be worth it for preserving the correct dtypes.

[2018-01-18 12:17] TomAugspurger commented on #19296
cc @jbrockmendel this may interest you.

[2018-01-18 15:45] TomAugspurger opened #19298 "Allow diff & shift to take lists of periods?"
I've seen code like

[code]

Could we simplify that by allowing `s.diff(range(10), prefix="L")`?

How would we handle DataFrames? Prefix with the column name and a separator, like `get_dummies`?

[2018-01-18 15:51] TomAugspurger opened #19299 "DataFrame.__setitem__ performance regression with object dtype"
This is between 0.20.3 and 0.21.1. Haven't narrowed further yet. Note that

- It's specific to setitem, getitem is fine
- It's specific to object dtype

[code]

[code]

This is present on master. I haven't tried profiling yet.

[2018-01-18 16:26] autopotent commented on #3729
+1 on this, the current behavior is not consistent with SQL (T-SQL at least) and I think that is making it tricky to realize you have an issue when grouping.

[2018-01-18 16:41] jbrockmendel commented on #19294
Yah, `.values` is pretty set-in-stone, though there may be some non-external cases like DatetimeProperties.values that could be avoided.

`.data` looks like it _usually_ is the IndexOpsMixin.data property which points to `self.values.data`.  There are a bunch of other places that set `self.data = `(just based on grep) that could be given more informative names if they are not public-facing.

[2018-01-18 16:48] hlums opened #19300 "Subclass pandas DataFrame with required argument"
[code]
#### Problem description
I'm working on a new data structure that subclasses pandas DataFrame. I want to enforce my new data structure to have new_property, so that it can be processed safely later on. However, I'm running into error when using my new data structure, because the constructor gets called by some internal pandas function without the required property.
The code above produces t

[2018-01-18 17:00] chris-b1 commented on #19300
Standard recommendation  - avoid subclassing if you can!  There will be some new accessor apis in `0.23` that may make this easier in some cases (#18827)

That said, here you need to make `new_property` an optional arg - `DataFrame.__finalize__` will pass it along to the sliced instance.

[code]

[2018-01-18 17:00] #19300 closed

[2018-01-18 17:14] chris-b1 commented on #19294
`Index.data` and `Series.data` are likely leftovers from `ndarray` subclassing / compat - I'd think they could be deprecated and removed.

[2018-01-18 17:45] stuz5000 opened #19302 "DOC: GroupBy is missing class documentaion"
#### Problem description

https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.Grouper.html#pandas.Grouper

There are many references to the GroupBy class in the index -- but there is no class interface documentation listed in the index.

We have, for example "Categorical (class in pandas)", but not "GroupBy (class in pandas)"
which would let us know which methods are available in Gro

[2018-01-18 18:03] hlums commented on #19300
@chris-b1  Thanks for the reply! Yes, making new_property will avoid the error, but it doesn't enforce MyDataFrame to have new_property. The user will be able to create MyDataFrame by ```df1=MyDataFrame(data1)``` without passing a value for new_property, which will cause problem in downstream processing.

[2018-01-18 18:35] chris-b1 commented on #19300
In that case you could define an alternative constructor that only pandas uses and enforce your api on `__init__`

[code]

[2018-01-18 18:36] pjcpjc commented on #10695
If anyone cares, I now regret some of the strong language I used above. I think pandas, while awesome, isn't the right vehicle for the sort of idioms that optimization people are accustomed to. Optimization people should either write pandas code pandonically or use different data structures. There are a small mountain of examples over at https://github.com/opalytics/opalytics-ticdat/tree/master/ex

[2018-01-18 19:43] cchwala opened #19303 "resample() silently ignores misstyped str kwargs, e.g. for label"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Recently (and maybe many times before without noticing...) I mistyped the string passed as kwarg `label` in `resample`, e.g. `df.resample('5min', label='rigth')` and wondered later why the alignment of my resampled data with the raw data was wrong. It turns out that the actual string passed as kwarg `label` is

[2018-01-18 20:42] chris-b1 commented on #19303
I agree this should raise, and I think where you pointed (`TimeGrouper.__init__` ) is the right spot to do it.

I also agree that `closed` can & should be checked.  `convention` looks like it raises an error eventually.
[code]

So a PR is definitely welcome!

[2018-01-18 22:43] desasaliho commented on #19299
Hello..i have a problem in my Facebook when I login it say your account has been disabled
By an administrator I want to know why I am Disabled please and when I can login back I
Hope that you can help me and it thank you for
Any answer you will give it to me bye

[2018-01-18 23:43] liuguangyu0220 opened #19308 "float precision issue with rolling sum"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

[code]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>foo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1.0001</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1.0001</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1.0001</td>

[2018-01-18 23:56] mroeschke commented on #19308
xref #13254

[2018-01-18 23:57] jreback commented on #19308
duplicate.

[2018-01-18 23:57] #19308 closed

[2018-01-18 23:58] jreback commented on #19308
thanks for the report @liuguangyu0220 ideally we would use kahan summation to avoid this problem. welcome to take a PR to do so.

[2018-01-18 23:59] jreback commented on #19302
GroupBy is not a public class. not sure what you are expecting here.

[2018-01-19 02:56] TomAugspurger commented on #19302
@stuz5000 can you clarify, are you interested in API docs for the object you get back from `DataFrame.groupby`? We have an internal class `pandas.core.GroupBy`, but users see either `DataFrameGroupBy` or `SeriesGroupBy`:

[code]

It'll take a bit of work before `DataFrameGroupBy` can be included in the API docs I think.

[2018-01-19 04:52] stuz5000 commented on #19302
I misunderstood. I thought GroupBy was the response of groupby. If this is
an internal API, perhaps it should appear referenced in the index (which is
how I found it).

My issue is that I have no way to what methods are available on the result
of group by. Is sortXXX available? No way to know without a trip to
stackoverflow.

Neither have class documentation though.

On Thu, Jan 18, 2018 at 6:56 P

[2018-01-19 06:34] jbrockmendel commented on #19296
Looks like the casting is done in `generic._make_cum_function` line `y = _values_from_object(self).copy()`

I'd be down for working towards making these apply block-wise, avoid some casting (and likely copying).

[2018-01-19 08:31] mlilom opened #19310 "Potential bug with read_fwf"
Hi,

I may have encountered a bug with read_fwf. From my files, some digits of numbers with more than 2 digits before the decimal turn to be missing, but only sometimes. I use two files to show the potential bug: [test1.txt](https://github.com/pandas-dev/pandas/files/1643703/test1.txt) and [test2.txt](https://github.com/pandas-dev/pandas/files/1643702/test2.txt)

[code]
#### Problem description

T

[2018-01-19 08:44] jorisvandenbossche commented on #19310
@mlilom Thanks for the report. Would it be possible to make a smaller reproducible example from code (using `StringIO`)? That makes it easier to check (and to later integrate as text) compared to a file.
Eg:

[code]

(the above gives the correct output `101.197524` for me)

That way you also need to trim down the problem in such a way it still reproduces the bug (you can eg first try to remove hal

[2018-01-19 08:53] jorisvandenbossche commented on #19302
We currently list methods of GroupBy in the API docs: http://pandas.pydata.org/pandas-docs/stable/api.html#groupby
And I think it *can* be useful to document the class that you get back from `groupby`. This is indeed `SeriesGroupby` or `DataFrameGroupBy`, but we could also document `GroupBy` for both of them together (as we do for other generic methods of them).

Anyhow, their docstring (all three

[2018-01-19 09:50] tejaswi240292 opened #19311 "plotting in pandas is not picking the list of colors passed, it only gets the first value in bar graph"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2018-01-19 09:55] mlilom commented on #19310
Hi, thanks.

The thing is that the bug seems to appear with large enough data somehow. That's the reason why I used files for my original examples. Underneath I give two other examples where the bug either appears or not. I first thought it had something to do with rows beyond 100, but some other checks revealed that it was not the case, or at least "not obviously the case". Between the two follow

[2018-01-19 10:26] tchekov- opened #19312 "Series.nonzero(): Returns locations, not indices"
#### Problem description
Documentation says

Series.nonzero(): Return the indices of the elements that are non-zero

while it actually seems to return the integer locations.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-release: 7
machine: AMD64
processor: AMD64 Family 21 Model 16 Stepping

[2018-01-19 11:32] #19274 closed

[2018-01-19 12:45] jorisvandenbossche commented on #19311
Please provide a reproducible example (see the *template* of issue, it is there for a reason)

[2018-01-19 13:25] Tych0n commented on #8447
Hi! Do whiskers show +-1.5IQ? Cause i have asymmetrical whiskers:
![figure_1](https://user-images.githubusercontent.com/3283584/35152914-617bf8cc-fd35-11e7-9dcd-aff6c0a582cd.png)

[2018-01-19 14:10] TomAugspurger commented on #19312
It'd be good to clarify that the return values is the integer locations.

[2018-01-19 14:16] TomAugspurger commented on #19296
Cool, thanks.

This of course came up in the context of the extension array / block stuff. We need some kind of way of knowing

1. if an external array type supports a given operation
2. If an external array type has an implementation of a given operation, or if they want to fall back to being cast to `object` ndarray and using NumPy's.

[2018-01-19 15:16] TomAugspurger commented on #8447
A link to https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.boxplot.html#matplotlib-axes-axes-boxplot would explain that the whiskers show:

[2018-01-19 16:46] TMorville opened #19313 "sparse = True in pd.get_dummies triggers TypeError at further manipulation"
[code]
#### Problem description

I can't do anything with the dataframe based on col names when using Sparse = True - such as dropping a variable, which is replicated above. The full error print is under details.

#### Expected Output

The expected output can be seen by removing `sparse = True` from `df_dummy = pd.get_dummies(df, sparse = True, columns = ['petal length (cm)'] )`, and then running

[2018-01-19 16:47] jbrockmendel opened #19314 "pytables._version out of date?"
In pandas.io.pytables:

https://github.com/pandas-dev/pandas/blob/ca2d2611c5a657720661990e2f3016356e577d1d/pandas/io/pytables.py#L56

[code]

It looks like `_version` is supposed to correspond to `pd.__version__` in which case it is way out of date and probably shouldn't be hard-coded.

[2018-01-19 17:16] jreback commented on #19314
not at all
this is the last time the version was actually changed

[2018-01-19 17:16] #19314 closed

[2018-01-19 17:22] Tkelly504 opened #19315 "ValueError when merging dataframes"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

This dataframes should merge fine instead of throwing error.

#### Expected Output
Merged dataframes.
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-release: 2012ServerR2
machine: AMD64
processor: Intel64 Family 6 Model 63

[2018-01-19 17:23] jbrockmendel commented on #19314
The usage suggests that _version corresponds to `pandas_version`.  Am I wrong in interpreting this as corresponding to `pd.__version__`?  Does this mean the last `pd.__version__` in which this file was changed?

[2018-01-19 18:03] stuz5000 commented on #19302
@jorisvandenbossche Thanks - this pages it extremely useful.

I didn't understand the distinction because the [docs for DataFrame.groupby](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.groupby.html#pandas.DataFrame.groupby) says it returns a GroupBy not a DataFrameGroupBy, so that's where I went hunting.

Its very hard to understand what you can do with a DataFrame.groupb

[2018-01-19 18:29] matanster commented on #9784
I can hardly see how the coupling of the display limit with any other processing helps in solving this benign scenario. And not really how padding the strings helps, outside the display scenario. Would you recommend using the plain csv package of python, for reading strings without modifying them?

[2018-01-19 18:32] TomAugspurger commented on #19313
I think this is a duplicate of https://github.com/pandas-dev/pandas/issues/18686

Basically, `get_dummies(..., sparse=True)` converts everything to sparse, not just the newly created columns.

[2018-01-19 18:32] #19313 closed

[2018-01-19 19:28] drorata commented on #19312
What is the difference between indices and integer locations? It seems to me that the documentation is very clear.

[2018-01-19 19:29] TomAugspurger commented on #19312
Indices may be the index labels, which may or may not match the positions.

On Fri, Jan 19, 2018 at 1:28 PM, Dror Atariah <notifications@github.com>
wrote:

[2018-01-19 19:33] TomAugspurger commented on #19315
Your `left_on` is messed up: `left_on=['Item Num, Price Type']` You're missing quotes between the two items.

[2018-01-19 19:33] #19315 closed

[2018-01-19 19:48] drorata commented on #19312
Make sense. I will stress this in the documentation and add an example.

[2018-01-19 20:10] drorata commented on #19312
Wait... even if the indices are not integers, the output of `nonzero`  can still be used for slicing:

[code]

Isn't it surprising?

[2018-01-19 20:26] TomAugspurger opened #19318 "Series.__getitem__ materializes Categorical to ndarray"
For

[code]

we hit https://github.com/pandas-dev/pandas/blob/f0cd23ca6485940e3a6572cc4f5afdce4c3921ab/pandas/core/indexes/base.py#L2525-L2543

`_values_from_object` calls `series.get_values()`, which hits `Categorical.get_values`, which coerces to the ndarray of values.

I have a branch based on my ExtensionArray stuff that "fixes" this by seeing if `s` is an instance of `ExtensionArray`, which h

[2018-01-19 20:32] TomAugspurger commented on #19318
Note that this affects all `Series.__getitem__` operations, since this is tried at the start of `Series.__getitem__`, before falling back to `_get_with`.

[2018-01-19 21:47] jreback commented on #19318
this is the same as this: https://github.com/pandas-dev/pandas/issues/19214

[2018-01-19 22:04] jreback commented on #19302
we have a master list of these needed docs in #6944

[2018-01-19 22:05] jbrockmendel commented on #19296
So I should check an implicit assumption I've been making: does your game-plan involve the Block subclasses inheriting from analogous Array subclasses?  The problem posed would be simpler if the method lookup can be done at the Block level, with the implementation at the Array level.

I've been leaving the DataFrame case for last so I wouldn't have to figure out the dispatching logic.  Between `co

[2018-01-19 22:05] TomAugspurger commented on #19318
Ah indeed.

[2018-01-19 22:05] #19318 closed

[2018-01-19 22:07] jreback commented on #19296
these should be dispatched like all other operations using BlockManager.apply. e.g. look up ``.replace/.fillna`` for many many other operations in generic. this pattern is already well established.

[2018-01-19 22:08] jreback commented on #19296
don't label things for 0.23 until they are actually merged.

[2018-01-19 22:11] jreback commented on #9716
this is just what python does. it doesn't not release memory to the os.

[2018-01-19 22:11] #9716 closed

[2018-01-19 22:12] jreback commented on #19278
would appreciate a PR

[2018-01-19 22:13] jreback commented on #19271
duplicate of #13208

[2018-01-19 22:13] #19271 closed

[2018-01-19 22:14] jreback commented on #19275
well if you remove it and things don't break that would confirm it no?

[2018-01-19 22:16] jreback commented on #19249
not sure we need an issue for this. if you want to do it great. Not sure make_block and _shallow_copy make sense to be combined, they are different animals.

[2018-01-19 22:16] #19249 closed

[2018-01-19 22:21] jbrockmendel commented on #19275
Well it definitely wouldn't break any of the existing tests; is `core.internals` solidly enough tested that any un-covered code can be removed?

If you look at the test coverage the only path that gets hit is https://github.com/pandas-dev/pandas/blob/master/pandas/core/internals.py#L4464 that returns `self` almost immediately:

[code]

[2018-01-19 22:23] hnykda opened #19319 "eval and query behavior on sparse dataframes"
#### Code Sample, a copy-pastable example if possible

[code]
outputs:

[code]

#### Problem description
The eval above somehow sort out returned boolean mask, instead of getting actual indexes. I understand eval and sparse dataframes are quite special usecase and both are new, but it's something which would very efficiently solve usage of eval on big sparse matrices. At least a note what is (not)

[2018-01-19 22:44] TomAugspurger opened #19320 "Reduce distribution size"
xref https://github.com/conda/conda/issues/6756#issuecomment-359107467

We include a bunch of SAS, CSV, pickle, etc. files in the distributions that are only used for testing. I think these could be excluded (and the tests rewritten to skip if the files aren't present).

[2018-01-19 22:47] jreback commented on #19320
can u see the total size
these are all very small

[2018-01-19 22:49] TomAugspurger commented on #19320
Yeah I had to run before finishing the post. I think it’s about 20% of the sdist. I’ll edit in details.

[2018-01-19 22:53] jreback commented on #19320
yeah i guess could trim the sas a bit

[2018-01-19 22:54] jreback commented on #19319
this is not supported by the underlying engine
which is numexpr

[2018-01-19 22:54] #19319 closed

[2018-01-19 22:56] jreback commented on #19319
sparse indexing generally also has very little support
PRa welcome - there are quite a few open issues about this

[2018-01-19 22:59] hnykda commented on #19319
Got it, thanks

[2018-01-20 01:10] ksw9 commented on #16363
Hi,
I am wondering if this is resolved? I'm running into a similar issue using pandas df.query() with negative numbers.
Thank you!

[2018-01-20 01:25] tchekov- commented on #19312
Series.iloc is for selection by integer position (and supports slicing):
`s.iloc[[1,3]]` returns the 2nd and 4th value in s (regardless of the index).

The label based indexer is Series.loc:
`s.loc[['b', 'c']]` returns the same elements.

[2018-01-20 07:37] jbrockmendel opened #19322 "Index division by zero not filled"
[code]

Others are OK:
[code]

[2018-01-20 12:26] rahultelgote1989 commented on #19312
Hi,
I am new the pandas and this repository. My question is pandas.Series.nonzero() returns indices of the non zero elements whether you provide indexing or not is that the correct behavior? Should not it return the index values if the indexing is provided by user?

[2018-01-20 12:45] TomAugspurger commented on #19312
`.nonzero` is primarily for compatability with NumPy, so what want to return the integer positions.

[2018-01-20 13:01] cr458 commented on #19278
I can have a look at this, if required? From my understanding we'd need pd.SparseSeries to raise no error and produce an object dtype to maintain consistency with pd.SparseArray and pd.SparseDataframe?

[2018-01-20 14:49] 1kastner commented on #18513
It is solved now, thanks!

[2018-01-20 14:49] #18513 closed

[2018-01-20 15:30] Qiaoyoufeng opened #19325 "one group run twice when use .apply() function"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
From output printed, 'cat' group was printed twice

   adult animal size  weight
0  False    cat    S       8
2  False    cat    M      11
5   True    cat    L      12
6   True    cat    L      12
   adult animal size  weight
0  False    cat    S       8
2  False    cat    M      11
5   True    cat    L      12

[2018-01-20 15:40] jreback commented on #19325
big red box : http://pandas.pydata.org/pandas-docs/stable/groupby.html#flexible-apply

this is an implementation detail

[2018-01-20 15:40] #19325 closed

[2018-01-20 15:45] Qiaoyoufeng commented on #19325
Hi, Jeff:
I get it, i am just learning about pandas, and have not read that part yet, sorry about the ticket, thanks

At 2018-01-20 23:41:00, "Jeff Reback" <notifications@github.com> wrote:

big red box : http://pandas.pydata.org/pandas-docs/stable/groupby.html#flexible-apply

this is an implementation detail

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2018-01-20 17:01] james-nichols commented on #16363
@ksw9 I'll submit a fix for this. That way at least a moderator will have to respond.

[2018-01-20 18:37] jreback commented on #19322
this is what numpy does though i think we changed for Series a long time ago

[2018-01-20 20:43] jbrockmendel commented on #19322
The [test from ](https://github.com/pandas-dev/pandas/pull/9308/files#diff-933180870dd152b775952fc54a99dba7R2744)#9308 for `Series` division is now in `tests.series.test_operators`.  Splitting it into separate tests for `Series.__div__`, `Series.__rdiv__`, `Series.__floordiv__` and parameterizing it with different dtypes and different zero-like `other` args, the behavior is inconsistent.

[code]

[2018-01-20 21:15] jreback commented on #19322
there is an old issue and whatsnew about this see if u can find it
maybe version .11 or around there

[2018-01-20 21:35] jorisvandenbossche commented on #19310
@mlilom From the docs of `read_fwf`:

[code]

The value '101.197524' is the first in that column that has 3 characters before the decimal. And in the first example it is on row 101 (and only the first 100 are used). That's why removing a few rows in the beginning fixes it in your case.

Possible solution is to manually provide the colspecs, but that is not very user friendly.
I am not familiar wit

[2018-01-20 21:37] jorisvandenbossche commented on #18999
@jbrockmendel want to do a PR to mention this in the subclassing docs?

[2018-01-20 21:51] jbrockmendel commented on #19322
0.12.0 has

[code]

It looks like #3600 and #9308 are both about this, but unsigned ints appear to be missing form the tests, along with a bunch of the reverse ops.  I can patch this and implement a thorough set of test cases, but need to confirm that all ints and all zeros are interchangeable for this purpose.

[2018-01-20 21:56] jreback commented on #19322
this is tricky as numpy does different things for uint and int
they don’t convert to float

i think we should though - see what breaks

[2018-01-21 13:29] ColdHumour commented on #15086
I use the solution above and it works. Thanks very much @fotisj !
However I'm still confused on why DataFrame.to_csv() doesn't occur same problem. In other words, for unicode file path, write is ok, while read isn't.

[2018-01-21 14:17] JQGoh commented on #19157
@chris-b1 Could you help to review the changes? I am new to contributing for Pandas, appreciate your feedback on my approach.

[2018-01-21 15:47] #19303 closed

[2018-01-21 17:53] jbrockmendel commented on #19322
Making some progress on this.  It's liable to be a big diff, so my thought is to first write all the tests and xfail the ones that are currently wrong (allowing a reviewer to double-check my understanding of the desired behavior), then make reasonably-sized PRs to un-xfail those tests.

[2018-01-21 18:06] jreback commented on #19322
yeah I think these should all match what we do in series now.
[code]

yes xfailing things would be ok. Note since these *are* in ops, It think it would make sense to split out the giant tests_ops to sub-modules first :> (I know that's for Series), but same idea.

[2018-01-21 19:30] #19243 closed

[2018-01-21 20:54] jbrockmendel commented on #19275
It looks like the only places where BlockManager.reindex gets called are in `Series.__init__` and `SparseSeries.__init__`

Series:
[code]

SparseSeries
[code]

In each case, an extra case after the `if index is None` clause `elif data.index.equals(index): pass` catches _all_ remaining cases that currently pass into the `else:` block.  Given that users shouldn't be passing `SingleBlockManager` manu

[2018-01-22 02:50] joosthvanderlinden opened #19337 "Docs: broken groupby.GroupBy.apply example"
#### Sample
Copied directly from [pandas-docs-travis](https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.core.groupby.GroupBy.apply.html):
[code]
#### Problem description

The first two apply operations return `ValueError: can only convert an array of size 1 to a Python scalar`. The third apply operation works as expected.

#### Expected Output
As given by [pandas-docs-travis](https

[2018-01-22 06:20] jorisvandenbossche commented on #19263
What was the original motivation to add this?

[2018-01-22 06:55] shantanuo opened #19340 "dataframe plot method throws an error"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Getting an error:

NameError: name '_converter' is not defined

https://stackoverflow.com/questions/48341233/ts-plot-and-dataframe-plot-throwing-error-nameerror-name-converter-is

#### Expected Output
chart as usual

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit:

[2018-01-22 06:57] shantanuo commented on #19340
[code]

[2018-01-22 07:59] mlilom commented on #19310
@jorisvandenbossche thanks a lot, I should have paid attention to that. I'll play with the colspecs. Many thanks.

[2018-01-22 07:59] #19310 closed

[2018-01-22 08:21] jorisvandenbossche commented on #19337
@joosthvanderlinden thanks a lot for the report!

I confirm that those indeed raise an error, and I went back to pandas 0.14 and there is was still failing (I expected it would have worked at a certain moment in an older release of pandas, as the examples seem like copy pasted from actual run code).

The main 'problem' in this case is that also the key column 'A' is present in the dataframe passed

[2018-01-22 08:31] jorisvandenbossche commented on #18801
@jreback Can you answer to the objections of me and others?

[2018-01-22 08:35] jorisvandenbossche commented on #19102
I don't think we should be so dismissive to the needs of other projects. A plotting library can certainly care about memory usage (plotnine *can* work with a lot of data, because it does not necessarily plot it all, but calculate statistics (eg hist, boxplot) for different factors. I can imagine in those operations you regularly need to subset a dataframe)

We have seen reports of IMO valid usecas

[2018-01-22 09:12] mknorps commented on #18891
@krassowski bingo!
I got the same issue with np.where(a>90).
I think that this issue is solved in the newest version of numpy.

With following setup all works fine:

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 32
OS: Linux
OS-release: 4.10.0-42-generic
machine: i686
processor: i686
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

panda

[2018-01-22 11:00] jreback commented on #18801
Until copy-on-write, his is simply not possible in pandas in a reliable way. We don't have full control over memory allocations or when views are actually made.

[2018-01-22 11:05] jreback commented on #19263
@jorisvandenbossche I would ask you the reverse question? why have another method of constructing things.

[2018-01-22 11:11] #16468 closed

[2018-01-22 11:49] datapythonista commented on #18949
@bhavybarca I'll take this, if that's all right

[2018-01-22 11:53] bhavybarca commented on #18949
@datapythonista yeah sure!!

[2018-01-22 12:58] TomAugspurger commented on #19340
Try this:

[code]

and  let me know if any of those imports fail.

[2018-01-22 14:11] TomAugspurger opened #19342 "Series constructor doesn't validate / reindex categorical"
[code]

This should probably raise.

[2018-01-22 14:16] TomAugspurger opened #19343 "Series[categorical].align materializes the array of values"
[code]

This eventually hits:

https://github.com/pandas-dev/pandas/blob/2952fbd556e1bc4b5fac70c727652b5419e8e096/pandas/core/series.py#L2559-L2561

We should be able to just do `new_values = self.take(indexer)` for categorical data.

[2018-01-22 17:12] jorisvandenbossche commented on #18801
@has2k1 I see for `plotnine` you switched to using a contextmanager (`with pd.option_context('mode.chained_assignment', None):`) around the plotting code (https://github.com/has2k1/plotnine/commit/9b068b458f4864e05927deab2f374c26b7a64cce).
This is a satisfying solution for you ?

[2018-01-22 18:00] has2k1 commented on #18801
It is an okay stopgap measure until copy-on-write is available, but as it implicitly assumes user cognisance it is not a good long term solution. Also, since the package aims to be extensible in many ways, the effects of a context manager may extend to other packages.

On the other-hand 'is_copy' was explicit, it forced the user to acknowledge the potential problem at every instance and I think it

[2018-01-22 18:23] toobaz opened #19348 "Index subclasses do not check parameters"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

Compare to

[code]

Related to #19168

#### Expected Output

``TypeError``

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: c271d4dd0b014c41bd91048fa6e8d33c5bf27b44
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-release: 4.9.0-5-amd64
machine: x86_64
processo

[2018-01-22 19:54] gfyoung commented on #18949
As a follow-up, we should document all of these functions (@datapythonista : no need to this in your open PR, but wanted to add that just so that we don't forget :smile: )

[2018-01-22 20:09] topper-123 opened #19349 "BUG/inconsistency: IntervalIndex.get_loc gives a location for non-interval inputs"
This one is a bit complex to explain, but I'll do my best.

Currently ``IntervalIndex.get_indexer`` fails if the other index doesn't contain  ``Interval`` only (also another bug, but let's keep it simple here).

The underlying issue is that ``IntervalIndex.get_indexer`` depends on ``IntervalIndex.get_loc`` which is ambigous for how it treats number inputs:

[code]
The issue is that ``get_loc`` ret

[2018-01-22 20:46] rbu opened #19351 "Unstack throws when run on subset of DataFrame"
#### Code Sample

Consider the following three cases:
[code]

#### Problem description
When ```DataFrame().unstack()``` is run on a subset of the DataFrame (i.e. the Index levels contain values that are not present in the subset), spurious errors are triggered.

We have encountered the exception triggered by ```df1``` in production when ```groupby(A).apply(B)``` which performed an unstack in the `

[2018-01-22 20:58] monajalal opened #19352 "TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'Index'"
Please have a look
I converted the timezone using this code:
[code]
Then I used it in this code:

[code]
I get
[code]

pandas version 0.20.3 and in CentOS 7.

[2018-01-22 20:59] rbu commented on #19351
As a workaround, this yields the expected results (:
[code]

[2018-01-22 21:22] chris-b1 commented on #19352
Please try and make this a reproducible example - very likely `'Time'` isn't being parsed as a datetime when you read it in the second time.

[2018-01-22 21:54] DiegoAlbertoTorres opened #19354 "Shortcut functions in transform are not grouped"
[code]
#### Problem description
It seems like the functions provided through shorthand strings, such as 'rank', do not obey the groupings of data. For example, one would expect Out[3] and Out[4] to be the same in the code above. Instead, it seems like using `.transform('rank')` doesn't actually obey the grouping and just ranks independently. I've reproduced this with larger dataframes as well.

[2018-01-22 22:21] monajalal commented on #19352
I had the link to data here https://stackoverflow.com/questions/48389030/pd-read-csv-fails-after-converting-the-timezone

[2018-01-22 22:21] monajalal commented on #19352
also @chris-b1 how should it be fixed?

[2018-01-22 22:21] chris-b1 commented on #19354
Thanks for the report.  It's not exactly that it ignores the grouping, but instead is falling through a fast-path, that assumes `rank()` is an aggregation - here:
https://github.com/pandas-dev/pandas/blob/2952fbd556e1bc4b5fac70c727652b5419e8e096/pandas/core/groupby.py#L4132

I think a quick-fix would be to add `'rank'` to the list of whitelisted transforms here, but might need to rethink/refactor

[2018-01-22 22:37] chris-b1 commented on #19352
Guessing  - you probably have some kind of embedded line break in your data, try the solution here
 https://github.com/pandas-dev/pandas/issues/11166#issuecomment-142465152 or please make a runnable in the issue - something I can copy and paste and run - either attach the actual file to the issue, or use `StringIO` with dummy data.

[2018-01-22 23:58] jreback commented on #19354
xref https://github.com/pandas-dev/pandas/issues/14741 and #11759

@DiegoAlbertoTorres welcome for a fix here!

[2018-01-23 00:10] #19312 closed

[2018-01-23 02:04] shantanuo commented on #19340
None of the imports fail. And still getting the same error as mentioned above.

[2018-01-23 02:30] caerner opened #19356 ".isin implicitly converts data types"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

.isin seems to implicitly convert the data type of what is passed in values depending on the data type of the Series. In the above example, I would expect the output to be (True, False) in both cases. There seems to have been a change in behavior after pandas version 0.19.2. With version 0.19.2 the output is in

[2018-01-23 02:39] xuboying opened #19357 "ipynb in document page is not actually ipynb format"
Document page for example:
https://pandas.pydata.org/pandas-docs/stable/style.html
on top

http://nbviewer.ipython.org/github/pandas-dev/pandas/blob/master/doc/source/style.ipynb

The target style.ipynb file is just exported HTML file, not the original ipynb(json) format

[2018-01-23 02:44] xuboying opened #19358 "Styling code not executed"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The minimal example showd the styling callback function is not called(no raise happened)

#### Expected Output
raise an exception in styling function, but actually NOT(not executed the function)
#### Output of ``pd.show_versions()``
0.21.0

</details>

[2018-01-23 02:50] WillAyd commented on #19261
So are you thinking of porting some of the code from arrow over into pandas to accomplish this? Haven't used parquet before but I see that the below point in the `pandas_compat` module is where the index names you mentioned are appearing.

https://github.com/apache/arrow/blob/422efd9635ea6f249adec7e1fda4834f6ac46cc4/python/pyarrow/pandas_compat.py#L182

[2018-01-23 02:58] egslava opened #19359 "BUG: maybe_convert_objects on soft converttof datetime can raise unexpectedly"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
It gives `TypeError: unhashable type: 'tzoffset'`, instead of new DataFrame. To reproduce it, it's important to have time with `tzinfo` AND another key of different (non-datetime) type.

#### Expected Output
[code]

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` her

[2018-01-23 05:14] hexgnu commented on #14167
So I was digging into this a bit more.

This causes some other pretty major issues with groupby.

For instance

[code]

Cross ref: https://github.com/pandas-dev/pandas/issues/5078

[2018-01-23 05:27] jbrockmendel opened #19361 "Duplicate xstrtod implementations"
In _libs/src/parse_helper.h and libs/src/parser/tokenizer.c

Not identical, comments suggest the tokenizer.c version may be more modern.

[2018-01-23 08:18] TomAugspurger commented on #19340
Can you reproduce this in a fresh environment?

[2018-01-23 09:37] TomAugspurger commented on #19358
You need to render it.

[code]

`_repr_html_` calls render implicitly.

[2018-01-23 09:37] #19358 closed

[2018-01-23 09:38] TomAugspurger commented on #19357
There's an option to download it in the top-right of the toolbar.

[2018-01-23 09:38] #19357 closed

[2018-01-23 10:51] jreback commented on #19359
simply apply to a single column. this is completely non-performant and non-idiomatic in any case.

[code]

[2018-01-23 10:52] jreback commented on #19352
this is not reproducible and better asked on SO. The message is clear, you don't have the proper index.

[2018-01-23 10:52] #19352 closed

[2018-01-23 10:54] jreback commented on #19356
cross data type conversion is hard.  Its somewhere: https://github.com/pandas-dev/pandas/blob/master/pandas/core/algorithms.py#L66. pull requests welcome.

[2018-01-23 11:00] #19200 closed

[2018-01-23 11:41] jreback commented on #19263
@shoyer I know you prefer the ``from_*`` but we already have a lot of them.

[2018-01-23 13:17] shantanuo commented on #19340
After restarting server (docker container in my case) plot method worked as expected.

[2018-01-23 13:17] #19340 closed

[2018-01-23 13:46] toobaz commented on #19351
Related to #18562 - apparently #17845 didn't fix all cases.

[2018-01-23 13:51] LEO-E-100 commented on #19278
I am currently working on this issue and am thinking that the solution is to add a check to the `SparseSeries` which checks if the data is a `CategoricalDtype`:

[code]

However the boolean `isinstance(c, CategoricalDtype)` returns false even if `c.dtype` returns `CategoricalDtype`. I suspect I am missing something important here but I cannot find how to make this boolean true on a Categorical dat

[2018-01-23 14:17] ruiyuanlu opened #19362 "BUG: indexing with monotonic decreasing DTI"
Hi there, I'm trying to add a column of time using pandas. But some dates doesn't work fine in string format. I'm working on jupyter notebook with Anaconda 4.3.0

Here's what I'm trying to do:

[code]
And the output is shown below.
![image](https://user-images.githubusercontent.com/16774189/35281474-f66c7f82-008d-11e8-88cd-743bd4e106fc.png)

Then I try to set 'date' as the index of this data frame

[2018-01-23 16:05] TomAugspurger commented on #19362
Can you try on a more recent version of pandas to see if your issue is already fixed?

FYI, text tracebacks are generally more helpful than images.

[2018-01-23 16:06] TomAugspurger commented on #19278
`CategoricalDtype` is the class of `array.dtype` for a categorical array. You could use

[code]

[2018-01-23 16:46] shoyer commented on #19263
In the original design the IntervalIndex constructor looked like `IntervalIndex(left, right, closed='right', name=None, ...)`, so we needed a separate constructor to create one from a list of `Interval` objects. At some point, that was changed to the current constructor `IntervalIndex(data, closed='right', name=None, ...)` and a separate constructor `IntervalIndex.from_arrays()` was added for cons

[2018-01-23 18:07] egslava commented on #19359
Hello, Jeff Reback!
Thank you so much for your apply! :) I mean, I know how to fix my program, just it took me about 1-2h to understand where is exactly the mistake.

This is a simplified example to reproduce the bug. In the real program I iterate over rows (axis=1) and I need an access to several columns to generate the result table. I don't want to be pushy, but why isn't current behavior consid

[2018-01-23 21:35] chris-b1 commented on #19361
The core functionally is the same, differences are the tokenizer.c version handles a thousands separator, the parse_helper.c version has a `maybe_int` out variable, agree they could be combined.

[2018-01-23 21:39] chris-b1 commented on #19311
Just based on the title closing as dupe of #16822, should be fixed in `0.21` or later, please re-open with info as @jorisvandenbossche said if not.

[2018-01-23 21:39] #19311 closed

[2018-01-23 22:09] cr458 commented on #19348
I could have a look at this if needed?

[2018-01-23 22:14] morganics commented on #5500
It's not always possible to have a perfect CSV file, so where it's more important to have a loaded data file, and less important to get all the data, then it would be good that error_bad_lines does what's expected.

[2018-01-23 22:23] gfyoung commented on #5500
@morganics : It would, except that `pandas` doesn't know where the line ends and begins in this case.  You can't handle a bad line if you can't deduce where it begins or ends unfortunately.

[2018-01-23 22:45] attack68 commented on #14226
I agree with the above and think it would be very useful in general.

I use styling quite extensibly to add formatting logic to user-dynamic tables, and that aspect works well, but it requires some quite extensive coding to get it working efficiently for large tables.

On thing that would be handy is a *set_column_styles()* method.

I currently have this workaround

    table_styles = # some exist

[2018-01-24 00:56] jreback commented on #19359
[code]

[2018-01-24 00:56] jschendel commented on #19263
Was actually going to open an issue regarding this later today, but will share my thoughts here too.

There are a couple corner cases where `closed` cannot be inferred from the data, specifically for empty or purely NA data, so specifying `closed` is necessary to get non-default in these cases:
[code]

This currently isn't supported (it's what the issue I'm planning to open is about), but I'm of t

[2018-01-24 00:56] jreback commented on #19359
here is a repro. The apply behavior is fine actually, but its a lower level bug. A PR to fix this would be apprecaited.

[2018-01-24 01:06] shoyer commented on #19263
Can we add `closed` to the IntervalDtype instead?

[2018-01-24 01:20] #18949 closed

[2018-01-24 01:23] #19275 closed

[2018-01-24 01:39] jreback commented on #19351
PR welcome!

[2018-01-24 04:10] jbrockmendel commented on #19361
@chris-b1 There are .gitignore and Makefile files in _libs/src/parser.  Are those used for something or remnants from the Old Days?

[2018-01-24 05:59] quale1 opened #19368 "Python crashes when executing memory_usage(deep=True) on a sparse series"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Executing the `memory_usage(deep=True)` method on a sparse series crashes Python. (With `deep=False` the method works as expected.)
#### Expected Output

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-rele

[2018-01-24 06:12] jbrockmendel opened #19369 "Index.__add__ OK but __sub__ not?"
Curious about why `Index.__add__` tries does the natural thing but `Index.__sub__` raises `TypeError`.

[code]

[2018-01-24 06:44] mknorps commented on #18891
I thought this issue is over, but when I wanted to contribute and fix one of pandas small issues the same
'''
Illegal instruction (core dumped)
'''
are back.

My current package setup:

'''

INSTALLED VERSIONS
------------------
commit: 45aa0ce963df5c766063d7f4bfc6493b852028ba
python: 3.6.3.final.0
python-bits: 32
OS: Linux
OS-release: 4.10.0-42-generic
machine: i686
processor: i686
byteorder: lit

[2018-01-24 06:59] jschendel opened #19370 "Allow IntervalIndex constructor closed parameter to override inferred closed"
#### Code Sample, a copy-pastable example if possible

The `closed` parameter of `IntervalIndex` is currently a bit inconsistent, and it's behavior is input dependent.  By my count, there are 3 different behaviors:

**1.  `closed` parameter overrides the inferred `closed` when the input data is empty or purely NA**
[code]

**2. `closed` is ignored when the input data is an `IntervalIndex`:**
[code

[2018-01-24 07:26] jschendel commented on #19263
Adding `closed` to `IntervalDtype` makes sense to me, as in my mind the `closed` inherently part of the dtype.  Since differing `closed` makes two `IntervalIndex` incompatible, it'd expect their dtypes to not be equal, but they currently are, which seems a little strange:
[code]
That being said, I'm not sure it'd be best to remove the `closed` parameter from the `IntervalIndex` constructor, even i

[2018-01-24 07:32] jschendel opened #19371 "API: Add closed to IntervalDtype"
This was brought up by @shoyer in a different issue, and it makes sense to me

Adding `closed` to `IntervalDtype` makes sense to me, as in my mind `closed` is inherently part of the dtype.  Since differing `closed` makes two `IntervalIndex` incompatible, I'd expect their dtypes to not be equal, but they currently are, which seems a little strange:
[code]

There's also a larger discussion as to if

[2018-01-24 07:33] jschendel commented on #19263
xref #19370 (allowing `closed` to override inferred value)
xref #19371 (adding `closed` to `IntervalDtype`)

[2018-01-24 09:15] jreback commented on #19369
this is why comments are important!

add is concat

eg
Index(list(‘abc’)) + ‘d’

sub doesn’t make sense

[2018-01-24 10:46] datapythonista opened #19372 "More clean up of the scripts"
In #18949, scripts have been improved, to respect PEP-8, to be executable, and a description on what they do has been added to the header. But some tasks are still pending:
* Replace old string formatting with `%` by new with `.format()`
* Review which scripts are still in use or can be useful
* Review which of the ones to keep work as expected (there are connections to GitHub API that could chang

[2018-01-24 10:54] jreback commented on #19368
sparse is not fully test covered. a pull request to fix is welcome!

[2018-01-24 11:00] jreback commented on #19372
``merge-pr.py`` is the way we merge PR's when not using the web interface.

[2018-01-24 11:01] jreback commented on #19370
I a nice pattern would be to default the constructor to ``closed=None`` and just infer

[2018-01-24 11:02] jreback commented on #19371
+1 on this.

[2018-01-24 11:05] jreback commented on #19362
Here's a repro. looks like buggy on 1st element of a montononic descending partial string indexing (though here its an exact match).
[code]

[2018-01-24 14:14] chris-b1 commented on #19361
Yeah, definitely something very old, I think those could be cleaned out too.

[2018-01-24 16:19] datapythonista opened #19374 "SparseDataFrame with dense Series or unknown type"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I've seen there are plans to SparseDataFrame. But reporting anyway.

The above code, creating a `SparseDataFrame` with a dense `Series` fails with a not very descriptive error:

[code]

Any other type provided to the constructor fails with the same error.

#### Expected Output

I'd expect an empty series (if th

[2018-01-24 16:35] datapythonista commented on #19239
In case my use case it's useful in the discussion. I mostly (probably only) use `SparseDataFrame` because of `pandas.get_dummies()`. And after that, I'm mainly interested in having a `scipy.sparse` structure (for example to use it in scikit-learn). I'd bet this is the case for many pandas users.

Personally I'm +1 on getting rid of it. Then, it could be useful to have a `get_dummies` sparse versio

[2018-01-24 16:38] hlums commented on #19300
@chris-b1 I'm getting the following error when using pd.concat on my subclass.

Traceback (most recent call last):
  File "C:\Anaconda\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-2-fb355bf594d1>", line 15, in <module>
    pd.concat([test, test])
  File "C:\Anaconda\envs\myenv\lib

[2018-01-24 17:32] jackalack opened #19375 "NonExistentTimeError after Resample"
#### Code Sample
[code]

Some Version Information:

Python: 3.6.2
pandas: 0.22.0
pytz: 2017.3
numpy: 1.13.0

#### Problem description

The above code returns the error message NonExistentTimeError: 2017-03-12 02:00:00; however, the input series only contains timestamps up to 2017-03-12 01:45:00. Does anyone understand why this error is occurring? If so, how can I address the problem?

[2018-01-24 18:00] akashchandrag opened #19376 "Subclass of DataFrame losing properties on arithmetic functions like __add__"
[code]
Seems like DF is losing property value after addition I found similar behaviour for __sub__ and others.

I was able to solve the problem by adding following code to PDMixIn

[code]
<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
machine: AMD64
processor: Intel64 Family 6 Model 78 Stepping 3, GenuineIntel
byteorde

[2018-01-24 18:11] dkapitan opened #19378 "Feature request: write and read dtypes in csv"
So here's something I would like. As an avid pandas user, I'd like to be able to write and read csv's to and from a dataframe including the dtypes of each column.

Reading up on pandas, I thought this does the trick in the most Pythonic way:

[code]

Is this something which is worth including, or is it not generic enough and should I just hack my own extension on the Dataframe class?

[2018-01-24 18:19] jbrockmendel commented on #19369
That seems pretty string-specific.  Shouldn't the object-dtype try to broadcast the scalar operation?

[code]

The motivation here is in https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/datetimes.py#L933

where `_add_offset_array` can use `self.astype('O') + np.array(other)` but `_sub_offset_array` has to use `self.__class__(self.astype('O').values - np.array(other))`

[2018-01-24 18:20] chris-b1 commented on #19378
Really  I think your best bet is using a storage format that knows types, like HDF5 or parquet - anything on top of CSV is going to be inherently adhoc - not to mention the performance benefits.

[2018-01-24 18:26] chris-b1 commented on #19378
If you need a human-readable format with type descriptions, the newer json schema stuff would also be worth a look;
http://pandas.pydata.org/pandas-docs/stable/io.html#table-schema

[2018-01-24 18:26] jbrockmendel opened #19379 "DataFrame __add__ broadcasting error"
Parking this for later reference.

[code]

The first op (DataFrame + TimeDeltaIndex) could be intentional depending on the broadcasting convention.  The second one I'm pretty sure should behave like:

[code]

[2018-01-24 18:27] TomAugspurger commented on #19378
Agreed with @chris-b1, you might also look at http://csvy.org/ if you're unable to avoid CSVs.

In general, while pandas should be able to *read* all kinds of messy CSV formats, I don't think we should write invalid CSVs, which your example does with the "comment".

[2018-01-24 18:38] chris-b1 commented on #19300
Can you open a new issue with just a reproduction of that?  I think should be calling `_constructor` but not sure.

Here's a hacky workaround

[code]

[2018-01-24 18:45] jorisvandenbossche commented on #19376
I think is a duplicate of https://github.com/pandas-dev/pandas/issues/13208. There is some discussion in that PR, and it seems a PR to fix this would be welcome.

[2018-01-24 19:21] dkapitan commented on #19378
Thanks @TomAugspurger @chris-b1. Definitely better solutions to my needs.

[2018-01-24 19:21] #19378 closed

[2018-01-24 19:29] affanshahid opened #19381 "DataFrame.to_dict not using python types"
I have a dataframe that I need to convert to a `dict` and add it to another `dict` which is converted to json in the end. Unfortunately since `.to_dict()` does not use standard python types I get the following:

```TypeError: Object of type 'int32' is not JSON serializable```

My code is something like the following:
[code]

Using `dumps` results in the above error. This is related to https://gith

[2018-01-24 19:35] hlums commented on #19300
@chris-b1 Thanks for the suggestion! I will open an issue about this. For now, I'm overwriting _from_axes and make it call our internal constructor. Seems to be working fine.

[2018-01-24 19:51] ldacey commented on #18273
Same issue here. usecols is returning an empty dataframe after upgrading.

[2018-01-24 20:05] cbertinato opened #19382 "BUG: Out of bounds Timestamp does not raise exception"
An `OutOfBoundsDatetime` exception is raised if a datetime that goes beyond the minimum datetime is specified in both nanoseconds:
[code]
and as a string:
[code]
An `OverflowError` is raised if going beyond the maximum datetime when instantiating with the number nanoseconds:
[code]
but an incorrect Timestamp is returned if an out-of-bounds datetime string is specified:
[code]

Verified that this i

[2018-01-24 20:08] gfyoung commented on #19375
@jackalack : AFAICT, this error is occurring because it's a bug :smile: PR to patch is welcome!

[2018-01-24 20:32] #19376 closed

[2018-01-24 21:19] njvack opened #19383 "FR: Allow duplicate column names in pandas.read_csv"
Right now, pandas's read_csv() supports forcing column names read from CSV data to be unique:

[code]

The documentation suggests that passing `mangle_dupe_cols=False` to `read_csv()` will change this behavior to one where it'll overwrite data on load. That doesn't seem to be implemented as of this version:

[code]

However! Pandas doesn't fundamentally disallow duplicate column names. There's a s

[2018-01-24 21:52] hannahlindsley opened #19384 "SparseDataFrame to_csv returns IndexError: too many indices for array"
Calling to_csv on a SparseDataFrame returns IndexError: too many indices for array.
[code]

Calling .to_dense() on the df prior to writing out, of course, works fine.
[code]

I'd like to be able to save sparse data to disk.  If for some reason it shouldn't be written out this way, is there any way to add that in the doc or the error message?

#### Expected Output

Nontype, no exception, and a csv

[2018-01-24 22:20] markjszy commented on #19375
Had a quick look into this and can reproduce consistently. Exception is thrown by `pandas/_libs/tslibs/conversion.pyx#tz_localize_to_utc`

I isolated the values from the example above, and found some others that also result in an exception like this.

[code]

[2018-01-24 22:32] chris-b1 commented on #19381
Please make a reproducible example - in some cases at least we are returning python types. (agree we should in all)

[code]

[2018-01-25 00:52] gordol opened #19386 "excel header_style broken in 0.22"
[code]

After updating, it is no longer possible to override the excel header styles.

Previously, this was possible in 0.19.2:

`pd.formats.format.header_style = None`

It seems header_style has been moving around constantly lately... Can we please put it somewhere and leave it there??? Or, if it's going to be moved constantly, it should live on a private module path. I realize python doesn't hav

[2018-01-25 01:08] ksw9 commented on #16363
Would it be possible to update this thread if this has been fixed? Thanks again!

[2018-01-25 01:29] #19262 closed

[2018-01-25 01:29] #19263 closed

[2018-01-25 02:43] jzwinck opened #19387 "MultiIndex.dropna() does not always drop NANs"
A MultiIndex "label" of -1 means NAN (though I have found no documentation of this).  For example:
[code]

A MultiIndex can also be constructed with NAN values in levels:
[code]

`MultiIndex.dropna()` works for the first case, but does nothing for the second:
[code]

It appears that `MultiIndex.dropna()` only drops rows whose label is -1, but not rows whose level is actually NAN.  It should drop b

[2018-01-25 03:01] jreback commented on #19387
i believe this is fixed in 0.22 or master
pls give a try

[2018-01-25 03:21] jbrockmendel opened #19388 "Timedelta +/- timedelta64[no-unit] assumes ns"
A test failure that only showed up on appveyor: https://ci.appveyor.com/project/pandas-dev/pandas/build/1.0.9563/job/b47phinjg410eiap

[code]

On OSX this goes through without a hitch:

[code]

In this case the appveyor is probably right to raise instead of assuming nanos.

[2018-01-25 03:35] jbrockmendel opened #19389 "Series[Period] +/- NaT returns Series[datetime64]"
[code]

[2018-01-25 03:57] jbrockmendel commented on #19296
@TomAugspurger side-note question w.r.t Categoricals: Series arithmetic methods are defined in [core.ops](https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L319):

[code]

The `x` here correponds to `self.values`.  My hunch is that the expressions.evaluate is going to raise whenever x is a Categorical.  Do you know if this is correct?

[2018-01-25 05:01] jbrockmendel opened #19390 "Small differences in DataFrame/Panel ops"
https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L959

_flex_comp_method_FRAME and _comp_method_PANEL define `na_op` in a way that is _almost_ identical.  I'm wondering if the differences between them are intentional or if they can share an implementation.  The main difference after catching a `TypeError ` is a `isinstance(y, (np.ndarray, ABCSeries))` in the DataFrame version th

[2018-01-25 06:58] swyoon opened #19391 "DOC/ERR: better error message on no common merge keys"
Currently, merging two DataFrames on indices is not a default option. When the keyword argument `on` is not specified, `MergeError` is occurred.

#### Code Sample and Problem Statement

[code]

For a successful merge, we need to specify rather verbose keyword arguments `left_index=True, right_index=True`.

[code]

#### Expected Output

What if we could do

[code]

A briefer syntax for merge on ind

[2018-01-25 07:35] jschendel commented on #19391
[`DataFrame.join`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html) merges on index by default, and provides the functionality you're looking for:

[code]

See the [joining on index section](https://pandas.pydata.org/pandas-docs/stable/merging.html#joining-on-index) of the documentation for additional details.

Currently the API reference for [`DataFrame.merge`](h

[2018-01-25 07:59] jschendel opened #19392 "DOC: Code snippet renders incorrectly in the Registering Custom Accessors subsection of developer.rst"
The code snippet rendering in the [Registering Custom Accessors](https://pandas-docs.github.io/pandas-docs-travis/developer.html#registering-custom-accessors) subsection of `developer.rst` looks off to me.  The class definition is split across multiple inputs, resulting in the indentation being slightly off, and the decorators and `plot` method are hidden entirely.

Currently looks like this for m

[2018-01-25 08:20] ZhuBaohe opened #19393 "DOC: incorrect example result for pd.merge_ordered"
Exsample result for 'merge_ordered' function  in documentation is wrong.
 [https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.merge_ordered.html?highlight=merge_ordered#pandas.merge_ordered](url)

The result should be:

  key  lvalue group  rvalue
0   a          1         a     NaN
1   b          1         a       1.0
2   c          2         a        2.0
3   d         2          a

[2018-01-25 08:41] TomAugspurger commented on #19392
Strange. We could just change the `..ipython:: python` to `..code-block:: python`.

[2018-01-25 10:20] akashchandrag commented on #13208
Which module contains the operations part? Like __add__ I would love to be able to contribute.

[2018-01-25 12:21] jreback commented on #19393
This is probably some old copy-paste text.

Would you do a PR to update and add a test to validate this

[code]

[2018-01-25 12:24] jreback commented on #19391
so would take a PR to update the doc-strings to reflect this.

[2018-01-25 12:25] jreback commented on #19391
also, we *could* update the error message to show the options that were passed, e.g. ``left_index, right_index, left_on, right_on``

[2018-01-25 12:35] jreback commented on #19388
the raise is exactly correct for a non-NaT value, we don't accept unit-less datetimelikes. So need to allow nulls  thru this check.

[2018-01-25 12:37] jreback commented on #19389
well , the + is right.

[2018-01-25 13:12] swyoon commented on #19391
great. will work on it shortly.

[2018-01-25 13:28] cbertinato commented on #19382
Has anybody seen an instance where a test will not raise an exception, but the same line in the Python interpreter does?

[2018-01-25 16:13] njvack commented on #19383
Probably a slightly better "turn the first row into column headers" incantation:

[code]

Also, I've upgraded to pandas 0.22 and all this works in that version as well.

[2018-01-25 16:14] kiwirob opened #19394 "ENH: Include dtypes in DataFrame repr column headers"
In R notebooks and consoles, dtypes are included below column names in plain text and rich renderings of data frames/tibbles (see images below). This is quite helpful in identifying the data type of a column without having to call df.dtypes or df.info(). Is there any appetite for introducing a similar mechanism for the plain text and HTML reprs of Pandas DataFrames?

**R notebook**
![r_notebook](h

[2018-01-25 17:08] WillAyd commented on #15779
I can take a look at this. Any tips on what methods to explore? I was thinking of adding a method to the GroupBy class similar to the others for rank and was looking at the rank method in algos.

It wasn't immediately clear to me the best way to knit that all together so figured I'd get your thoughts if you have any

[2018-01-25 17:50] spillz opened #19395 "read_excel provides uninformative error message when reading from sheet with duplicate multiindex columns"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above snippet generates the following output:
[code]

Note that read_csv will read the csv (but mangles the column index). read_excel fails without clearly indicating the nature of the error.

#### Expected Output

read_excel should approximately match what read_csv does. If not, it would be a lot easier to

[2018-01-25 18:15] chris-b1 commented on #19394
I sort of like it - maybe as option turned off by default? (could reconsider)

Sort of bike-shed issue, but would have to figure out exactly how the types are shown.  I like the 3-4 char abbreviations R uses as it keeps the repr compact, in pandas would have to contemplate things like 8 / 32 / 64 bit integers., categorical, etc.

[code]

[2018-01-25 18:21] chris-b1 commented on #19395
Sure, I think this could be made to work similar to CSV (though in general life is easier without duplicate columns).  PR to fix would be welcome!

[2018-01-25 18:28] chris-b1 commented on #19386
For me this does work on `0.22` to remove the header styling
[code]

But in any case, this wasn't intended to public - I do think it would be reasonable enhancement to add an argument to `DataFrame.to_excel` to handle this case if you're interested in doing a PR?

[2018-01-25 18:38] chris-b1 commented on #19382
There's a reason (arguable whether it's a good one) for the difference between the `OutOfBoundsDatetime` and `OverflowError` - there's some portion of the negative `int64` space that aren't valid times, while in the positive space we use every available int64 value, so trying one too big can't be cast into an int64.  (mostly trivia)

Your upper string example definitely looks buggy - PR would be w

[2018-01-25 19:40] chris-b1 commented on #19383
Thanks for the report, this is a duplicate of #13262.  A PR to support this would be welcome if you're interested!

[2018-01-25 19:40] #19383 closed

[2018-01-25 19:40] minggli commented on #7292
Hi, will attempt to work on this issue. reverting.

[2018-01-25 19:48] gordol commented on #19386
Hmm...

I wonder why it's not working for me... Like I said, I can clearly see the module in my local path, and can see that line in the module... but it refuses to load.

Would that be added here? https://github.com/pandas-dev/pandas/blob/a9d8e04ab68f688f899b4164bfa1ac868c9c1c64/pandas/core/frame.py#L1555

I'm not sure... looks like there's some kind of new styling module, and I'm totally lost as

[2018-01-25 19:49] gordol commented on #19386
Honestly, that looks like totally redundant code...

[2018-01-25 19:50] gordol commented on #19386
I'm okay with removing *all* styles... even. It doesn't even have to be just the headers.

[2018-01-25 19:54] chris-b1 commented on #19386
Ah I was forgetting about the styler enhancements, if you really want no styles, easy enough solution is `df.style.to_excel('output.xlsx')`

[2018-01-25 19:55] mdickinson opened #19399 "UInt64Index: lookup by label gives KeyError for values over 2**63-1"
[From a [StackOverflow question](https://stackoverflow.com/q/48449805/270986)]

Lookup in a `UInt64Index` appears to fail for values larger than `2**63-1` (but smaller than `2**64`). Here's a simple example session (Pandas 0.22.0, Python 3.6.)

[code]

I would have expected the second lookup to succeed, returning `4`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------

[2018-01-25 19:59] chris-b1 commented on #19395
Appreciate the report either way, would also take a PR for an improved error msg which would be easier

[2018-01-25 20:41] njvack commented on #19383
Thanks — I suspected I wasn't the first to report this, but somehow failed to find that issue. I'll try and work on a PR for this (it shouldn't be too hard?) once I can figure out how pandas's source works some; this is a pretty intimidating codebase...

[2018-01-25 22:47] errikos opened #19402 "Inconsistent date parsing with read_csv"
#### Code Sample, a copy-pastable example if possible

[code]

[code]

[code]
#### Problem description
Hello everyone. The main reason I am submitting this as a bug is because I spent about 2 hours conducting wrong analysis because of the behaviour I explain below.

As you can see above, the date column in the CSV file is in DD/MM/YYYY format. Now I know there exists a `dayfirst` flag, but here is

[2018-01-26 00:28] lidderupk opened #19404 "to_clipboard excel defaults to "None", but doc string says "True""
#### Problem description
I just started using python/pandas a couple of months ago. So this might be a misunderstanding on my part. The excel argument to the to_clipboard function defaults to "None", but doc string says "True".  If this is a simple docstring change, I would like to contribute :)

https://github.com/pandas-dev/pandas/blob/a00154dcfe5057cb3fd86653172e74b6893e337d/pandas/core/generic

[2018-01-26 01:11] jreback commented on #15779
yeah u can make a separate rank routine which takes a group indexer; eg copy something like group_last and integrate with rank

[2018-01-26 03:12] cbertinato commented on #19382
So should we normalize it so that any format generates an `OutOfBoundsDatetime`?  I understand the difference, but is it necessary to indicate overflow in this case?

[2018-01-26 03:14] Dobatymo opened #19406 "Boolean indexing and assignment from python list broken"
There is a problem with assigning lists to indexed Series
[code]

`s1` shows the correct result, whereas `s2` is obviously wrong. In pandas `0.19.2` the result is correct, but in `0.21.0` and `0.23.0.dev0+97.g24c07b075` I get the above behavior. It can be fixed if a numpy array instead of a python list is assigned.

[code]

There probably should be a test case to catch that...

#### Output of ``pd

[2018-01-26 05:15] jbrockmendel commented on #19361
It also looks like src/klib/ktypes.h and kvec.h are unused, though this should be checked by someone who understands C namespaces.

[2018-01-26 05:55] mroeschke commented on #18608
Actually, I just realized this works if `numeric_only=False` is specified:

[code]
(As a note, `numeric_only` isn't fully specified in the docstring https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.quantile.html)

I guess the question still stands whether timedelta data should be included if `numeric_only=True` is specified.

[2018-01-26 06:44] affanshahid commented on #19381
I am loading data from a database. I then call `.describe()` on a column(`Series`) of my df before calling `.to_dict()` and then attempting the json conversion. Below is a simplified example that throws the following error:
`TypeError: Object of type 'int32' is not JSON serializable`

[code]

[2018-01-26 10:13] jreback commented on #19381
show your versions this is fixed in 0.21 iirc

[2018-01-26 11:23] #19393 closed

[2018-01-26 12:00] lingster commented on #19359
The below seems to fix the issue, I'll create a PR unless any objections?

`    if seen.datetimetz_:
        if **not any({isinstance(val, str) for val in objects})** and \
                len({getattr(val, 'tzinfo', None) for val in objects}) == 1:
            from pandas import DatetimeIndex
            return DatetimeIndex(objects)
        seen.object_ = 1`

`In[14]:DataFrame(["stub"]).apply(tr

[2018-01-26 12:11] minggli commented on #7292
@jreback

since pandas.core.generic.NDFrame.pct_change essentially calls s.shift method to work out pct change, I've looked into how

s.shift(periods=5, freq=None) uses the underlying _data block manager to **shift values** without touching the index.

s.shift(freq='5H') calls s.tshift and **shift index**, hence when calculating pct_change (unshifted divided by shifted frame, the resulting frame w

[2018-01-26 12:20] jreback opened #19409 "WARN: warnings on dateoffse & timedelta arithmetic"
[code]

@jbrockmendel is this expected? if so should be explicitly caught

[2018-01-26 12:41] jreback commented on #19359
ok

[2018-01-26 14:20] chris-b1 commented on #19361
Yeah, those are unused as well - for good and bad C doesn't have namespaces, (or modules, or imports, etc) - all it can really do is textual inclusion, so if those aren't `#include`'ed somewhere, they aren't used.

[2018-01-26 14:23] chris-b1 commented on #19382
Yeah, I tend to think it'd be better if all of these raised an `OutOfBoundsDatetime`

[2018-01-26 14:30] sunilk747 commented on #19228
@jreback Hello. I am new to pandas repo. I would really like to work on this issue. Can you please provide more details regarding what are the things to be done here.

[2018-01-26 14:32] chris-b1 commented on #19381
Thanks for the example - this is actually a symptom / dupe of #15385 - some of the aggregations used in `describe` are return numpy scalars instead of python ones, which are getting passed along.

[2018-01-26 14:32] #19381 closed

[2018-01-26 14:32] chris-b1 commented on #15385
Extra test case from #19381

[code]

[2018-01-26 15:25] jschendel commented on #19392
xref #19400

[2018-01-26 15:25] #19392 closed

[2018-01-26 16:25] chris-b1 commented on #19402
Thanks for the report, this is same issue as #12585 - the fundamental problem is that were are calling out to the `dateutil` and there isn't a way to enforce or even capture strictness there - see https://github.com/dateutil/dateutil/issues/214.

So we are all for changing this, I think some work has been going on within dateutil to maybe make this possible, but I haven't followed that closely - a

[2018-01-26 16:25] #19402 closed

[2018-01-26 16:47] chris-b1 commented on #19404
I think default arg in the function signature could be changed to `True` - want to try a PR?

[2018-01-26 17:01] willjbrown88 opened #19411 "`check_names=False` parameter for `pandas.util.testing.assert_frame_equal` has no effect."
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When the parameter `check_names=False` is set for `assert_frames_equal`, the index and columns names should be ignored in the comparison, but an assertion error is still raised if the index or columns names are different. This is the same behaviour as when `check_names=True` (the default) is set, and the opposi

[2018-01-26 17:12] datapythonista opened #19412 "Remove rebasing from contributing guide"
If I'm not wrong, now GitHub squashes commits automatically when merging pull requests [1]. In the pandas documentation there is a section about combining commits [2], that doesn't seem relevant anymore if that is being used.

Would it make sense to delete that section, and may be add a comment about using the title of the pull request for the "right" commit message that will end up in the git his

[2018-01-26 17:20] TomAugspurger commented on #19411
From the docstring:

[code]

So it checks if `left.index.names == right.index.names`. Same for `.columns`, so everything is correct I think.

Do you have a usecase for ignoring the actual column labels themselves?

[2018-01-26 17:22] jorisvandenbossche commented on #19412
Yes, we need to update that section.

We had a discussion somewhat related to this some time ago on the pandas-dev mailing list, see https://mail.python.org/pipermail/pandas-dev/2017-November/000632.html (I just replied to that thread as well).
So I think the explanation how to squash can be removed (or at least mentioned in what cases it could be useful), and we should add explanation about how t

[2018-01-26 18:00] willjbrown88 commented on #19411
Ah ok, I guess I'd assumed that as both:
`AssertionError: DataFrame.index are different`
and
`AssertionError: DataFrame.columns are different`
are possible returns from `assert_frame_equal`, either could differ if `check_names=False` was set.

`check_names` to me implies both index names and column names are being checked, as they are, but only index name can actually differ. Perhaps the docstring

[2018-01-26 18:29] shoyer opened #19414 "Series.loc with MultiIndex does not handle repeated keys properly"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

This prints the full series, not the series with repeated elements:
[code]

#### Expected Output

[code]

An easy work around is to use `s.reindex(['a', 'a', 'b', 'b'])` instead. But `loc` and `reindex` should return the same thing when all labels are found.

#### Output of ``pd.show_versions()``

pandas 0.22.

[2018-01-26 18:50] mwaskom opened #19416 "groupby value_counts strips categorical information"
#### Code Sample, a copy-pastable example if possible

[code]
[code]

#### Problem description

When the categorical variable (`day`) becomes an index in the groupby and then gets reset, it loses its categorical metadata (and dtype). In the case of the tips dataset, this includes the proper ordering of days.

Interestingly, this isn't the case with the `Series.value_counts` method, which properly

[2018-01-26 22:29] miker985 opened #19417 "value_labels fails to assign value_label_dict, leads to AttributeError"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

An unlikely code path will lead to an AttributeError.

#### Expected Output

I thin it is reasonable to expect `value_labels()` to return either `None` or `{}` when the stata file's `format_version` is <= 108

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None

[2018-01-27 00:31] jreback commented on #19228
we need to split test_window.py to 3 files in a subdir window

test_rolling
test_expanding
test_ewma

[2018-01-27 01:04] jreback commented on #19416
thanksj duplicate of https://github.com/pandas-dev/pandas/issues/18502

[2018-01-27 01:04] #19416 closed

[2018-01-27 01:10] #19374 closed

[2018-01-27 01:12] jbrockmendel commented on #19409
Should be an easy fix.  I'll make a PR after the current set clears out.

[2018-01-27 01:47] jschendel opened #19419 "ENH: Have Period/PeriodIndex inherit from Interval/IntervalIndex"
Since `Period` objects are inherently intervals of time, it seems like there should be a way to access `Interval` properties and methods.  Inheritance has been suggested in passing in other issues, and seems reasonable.

As an example benefit, #9089 suggests implementing `Period.duration`.  If `Period` were to inherit from `Interval`, this would already be implemented via the `Interval.length` pro

[2018-01-27 02:13] jreback commented on #19419
there is an existing issue about making Period inherit from Interval (and same with PI and II)

it might not be bad

[2018-01-27 02:19] dworvos opened #19420 "DF.stack() on single column datetime with timezone causes loss of timezone"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
Stacking a DF with multiple datetime with timezone columns seems fine but stacking a single datetime with timezone column appears to convert the time to a naive datetime.

This can be worked around using the .dt.tz and .dt.tz_localize/.dt.tz_convert functionality

#### Expected Output
a  A   2018-01-01 00:00:00-

[2018-01-27 02:51] MikeSpreitzer commented on #18338
Is there any work-around for this?

[2018-01-27 03:01] jbrockmendel opened #19421 "ops._arith_method_FRAME typo?"
https://github.com/pandas-dev/pandas/blob/master/pandas/core/ops.py#L1030

[code]

Getting `yrav.item()` in the last line here _after_ re-defining `yrav` in the previous line seems like it is likely getting the wrong thing.  Is this intentional?

[2018-01-27 03:35] renewang commented on #18501
Hi, I would like to work on this issue. Is any issue that I couldn't work on this? And any suggestions or documents for the first starter like how to write a test case etc?  Thanks!

[2018-01-27 04:34] jbrockmendel commented on #19421
It looks like in the tests this branch is only hit in py3 and in one test:

[code]

... and the reason why a `ValueError` is raised ATM is because the call to `yrav.item()` raises `ValueError: can only convert an array of size 1 to a Python scalar`

So still not sure what's going on, but increasingly confident this isn't how it is supposed to work.

[2018-01-27 07:33] yomoko opened #19422 "I can't convert 1H OHLC data into monthly data with a specific time by loffset"
https://github.com/pandas-dev/pandas/issues/13218
https://github.com/pandas-dev/pandas/issues/13933
With regard to the above issues, I have the same problem. I need to convert 1 hour to monthly data, the requirement is that I need to set the beginning time interval to 17:00.

`ohlc_dict = {'open':'first', 'high':'max', 'low':'min', 'close': 'last'}`
`df = df.resample('1M', loffset='17H',closed='le

[2018-01-27 15:10] drewmassey commented on #12206
@jreback is this still a need? Looking to get my feet wet.

[2018-01-27 16:13] lou-viannay opened #19424 "read_sql_query converts integer column to float"
#### Code Sample, a copy-pastable example if possible

[code]
get_query returns an `sqlalchemy.text("select ... ")`
get_column_types returns a dictionary `{... 'item_code': "int", ... }`

#### Problem description

I am querying sqlite database, and one of the columns contains only integer (no null).  Creating a dataframe, by running `pd.read_sql` returns the column as float.

When I try converting

[2018-01-27 16:55] #19157 closed

[2018-01-27 16:56] #9155 closed

[2018-01-27 16:56] #19242 closed

[2018-01-27 16:57] jorisvandenbossche commented on #19424
Are you sure the data does not contains nulls? The error message seems rather clear.

Can you show the result of `dataframe.isna().sum()` ?

[2018-01-27 18:12] lidderupk commented on #19404
https://github.com/pandas-dev/pandas/pull/19425

Thank you @chris-b1. I tried to follow the guidelines as best I could.

[2018-01-27 19:42] jbrockmendel opened #19426 "Conventions for DataFrame.__eq__?"
`DataFrame.__eq__` and `DataFrame.eq` don't appear to do alignment-checking.  This is surprising.  Is this intentional:

[code]

I'll check for related issues shortly.

[2018-01-27 20:37] lrq3000 commented on #14218
@wesm I understand that this is not an easy function to maintain, but still I find it unfortunate as it was a VERY expressive way to manipulate DataFrames... I hope someone will be able to make a code snippet to replace ix via monkey-patching?

[2018-01-28 01:04] lou-viannay commented on #19424
My bad. I am sorry you had to take time to reply to this.  I just found the
offending data after combing through the sql out put.

On Jan 28, 2018 00:58, "Joris Van den Bossche" <notifications@github.com>
wrote:

[2018-01-28 05:28] #19424 closed

[2018-01-28 11:53] #15994 closed

[2018-01-28 11:53] #18485 closed

[2018-01-28 11:53] #18519 closed

[2018-01-28 11:53] #18520 closed

[2018-01-28 11:53] #18818 closed

[2018-01-28 11:53] #19086 closed

[2018-01-28 12:55] tomers opened #19429 "Unable to save parquet file using s3 url"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I am trying to upload a Panda's dataframe as a new file in s3. I am getting `FileNotFoundError` since the s3 file is opened for read instead of write.
Flow:
[code]
It looks as if s3fs tried to read the file instead of write to it.

Another issue is that I can't specify AWS profile to use. See https://stackoverf

[2018-01-28 13:05] jorisvandenbossche commented on #19429
This has been recently implemented, see https://github.com/pandas-dev/pandas/issues/19134 and https://github.com/pandas-dev/pandas/pull/19135.
Welcome to try out master!

[2018-01-28 13:20] #19429 closed

[2018-01-28 15:16] jorisvandenbossche opened #19431 "Regression in make_block_same_class (tests failing for new fastparquet release)"
Travis is red for master at the moment due to some changes we did in the internals (https://github.com/pandas-dev/pandas/pull/19265)

Issue on fastparquet is here: https://github.com/dask/fastparquet/issues/297

[2018-01-28 15:27] jreback commented on #19431
no this was working before
this is fastparquet breaking things

[2018-01-28 15:28] jorisvandenbossche commented on #19431
From a quick look, I think this is a regression in the changes to `make_block_same_class` that we did. In case of a DatetimeTZ block, you are required to pass a dtype.

[code]

[2018-01-28 15:30] jorisvandenbossche commented on #19431
Fastparquet fixed their tz handling for *released* pandas (it is working for that), we changed how `make_block_same_class` works on master, which breaks their code.
Of course internals is rather internal, but as far as I can see, the change we did makes difficult to use `make_block_same_class` giving it a numpy array (instead of DatetimeIndex).

[2018-01-28 16:22] toobaz commented on #18913
My first example is all wrong, it should have been

[code]

@jreback the example [you give](https://github.com/pandas-dev/pandas/issues/18913#issuecomment-353748642) instead is indeed buggy, but I will open a new issue for clarity.

[2018-01-28 16:22] #18913 closed

[2018-01-28 16:27] toobaz opened #19432 "MultiIndex.from_product() casts float to int when corresponding int is also present"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem

If a flat (object) ``Index`` allows us to distinguish 1 and 1., the same should do ``MultiIndex``. From https://github.com/pandas-dev/pandas/issues/18913#issuecomment-353748642

#### Expected Output

Both the first two examples should return a ``MultiIndex`` containing both 1 and 1.0 in its first level.

#### Output of ``

[2018-01-28 17:02] minggli commented on #19431
looking at the same issue here. https://github.com/pandas-dev/pandas/pull/19265 seems to have caused side-effects for fastparquet to fail in CI.

[2018-01-28 18:00] jorisvandenbossche commented on #19431
It might be that the test needs to be updated independent from the bocks fix. As before fastparquet didn't handle tz columns, which was asserted in the tests I think. The latest release now handles them correctly.

[2018-01-28 18:39] minggli commented on #19431
yes, I wonder why the test looks weird. will fix update the test now that fastparquet handles timezones.

[2018-01-28 19:18] jorisvandenbossche commented on #17970
FYI, this will be fixed in #18577

[2018-01-28 19:57] tdpetrou commented on #17970
@jorisvandenbossche Personally, I would disallow any complex data structures to be an element in a pandas dataframe, especially if they are not supported

[2018-01-28 20:00] jorisvandenbossche commented on #17970
You can comment on the PR if you want. But changing that would be a big backwards compatibility break (much bigger than the current PR).
And they are in some way supported, just discouraged.

[2018-01-28 20:50] cbertinato commented on #19382
There is another variation for DatetimeIndex.
[code]
So it's not exactly silent, but does differ from what happens for a Timestamp.

[2018-01-28 21:25] jreback commented on #19431
@mdurant you cannot use ``make_block_same_klass`` like this, instead use ``make_block``

[2018-01-28 22:36] jreback commented on #19431
this is the correct usage.
[code]

[2018-01-28 22:39] jreback commented on #19417
not really sure what you are suggesting. what exactly are you trying to accomplish here?

[2018-01-29 00:46] C5G6M7 opened #19436 "read_fwf - parsers.py PythonParser._rows_to_columns line 2814 object of type 'NoneType' has no len()"
Line 2814 in parsers.py throws an error if self.delimiter is None:

"object of type 'NoneType' has no len()"

Here is the current line of code where the error happens:

[code]

I propose the following fix, which I believe should be a safe replacement:

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.4.final.0
python-bits: 64

[2018-01-29 00:51] stevenvandenberghe commented on #18969
Could I give this a shot?

[2018-01-29 05:24] gregsifr opened #19437 "df.groupby('symbol')['status'].ffill() results in Exception: cannot handle a non-unique multi-index!"
#### Code Sample, a copy-pastable example if possible

[code]

#### Raised exception

<details>

[code]
</details>

#### Problem description

Performing `ffill()` does not forward fill values as intended. The index has duplicate values, the expectation is that the values will be filled according to the order the rows are in already.

Duplicate index values are possible when using high frequency ti

[2018-01-29 07:08] hexgnu commented on #19368
I hooked up gdb and tracked down the issue to inside of the lib.pyx which assumes that series's are of length > 0. I made a PR that _should_ fix it, though we'll see how the tests chooch.

[2018-01-29 07:27] toobaz opened #19439 "MultiIndexPyIntEngine fails on 32 bit builds"
#### Code Sample, a copy-pastable example if possible

After merging #19074 :

https://travis-ci.org/MacPython/pandas-wheels/jobs/334527944

From https://github.com/pandas-dev/pandas/pull/19074#issuecomment-361126338

[2018-01-29 08:04] hexgnu commented on #19384
I think I found the issue here. Made a PR for it. The problem is that get_values needs to be called internally since it's assuming something is an ndarray instead of a sparse array.

[2018-01-29 08:17] hexgnu commented on #19239
I think a lot of the issue with SparseDataFrame is honestly a lack of test coverage as well as a lot of bleedover into DataFrame. For instance a lot of code assumes that something is dense and that it has length > 0. This isn't the real case, and I feel that with a flag day or two of squashing sparse bugs and writing more tests it wouldn't be so awful.

But that being said I also don't want to spe

[2018-01-29 09:57] mknorps commented on #18891
Unfortunately still not fine. When I run the same pandas & numpy setup on virtual machine with Python 2.5.2 the error appeared again.
I created a test file test.py with code from @krassowski and debugging gives me:
[code]

[2018-01-29 12:43] #19431 closed

[2018-01-29 14:02] toobaz commented on #19295
What about ``pd.MultiIndex.from_tuples``, ``pd.MultiIndex.from_product``... ? Replace ``names`` -> ``name`` there too?

[2018-01-29 14:06] toobaz commented on #19295
By the way, the more I think about it, the more my "**Proposal 2**" looks clearer to me. But it's more a vague sensation than an objective assessment.

[2018-01-29 14:07] #19439 closed

[2018-01-29 14:13] martindurant commented on #19431
@jreback , there are three calls to `make_block_same_klass` in the code, and I do not know how they should be transformed into `make_block`, especially given the mystery parameter `placement=`. Your help here would be appreciated (in fact, the current method was, of course, your suggestion some 15 months ago ago).

In fact, I believe that the `empty` function ought to reside in pandas, as it is ge

[2018-01-29 14:57] effath opened #19443 "timedelta cannot convert to monthly data."
Timedelta cannot convert x minute timesereies to  monthly series.  Each time I try to use it will upsample x minute data to 1 minute data.  See

https://stackoverflow.com/questions/48467042/dask-dataframes-time-series-partitions

[2018-01-29 16:07] miker985 commented on #19417
First step is to report the bug.

Logistically it seemed smarter to prompt discussion about the issue rather than just attempt a unilateral fix.

1. Should the behavior change, or should the AttributeError be documented?
1. If the behavior should change, does the community prefer `None` or `{}` as a return value for Stata files that don't support value labels.
    * my vote is `{}`

I'll happily s

[2018-01-29 16:44] chris-b1 commented on #19443
`Timedelta` is only for fixed offsets (seconds, days, etc), it can't and won't handle months - [`DateOffset`](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#dateoffset-objects) and subclasses handle any relative offsets.

That said, I do see the potential for confusion given the dual use of `'M'`, would at minimum take doc enhancements, maybe OK with a warning for `pd.Timedelta('xM')

[2018-01-29 16:46] jreback commented on #19443
https://github.com/pandas-dev/pandas/issues/16344

we are already deprecating this. pull-requests are welcome!

[2018-01-29 16:46] #19443 closed

[2018-01-29 16:52] jreback commented on #19431
you can just use ``make_block`` directly.

[2018-01-29 16:54] jbrockmendel opened #19444 "make_block compat"
Related: #19431, #9859, #19294

We've been making progress on getting `Index` and `Series` arithmetic&comparison methods to behave identically by having the `Series` versions wrap the `Index` implementations.  To also make `DataFrame` behavior consistent, we're going to need to move those implementations from the `Index` subclasses to a shared mixin that will be mixed in to both the `Index` and `B

[2018-01-29 16:59] martindurant commented on #19431
I don't know how to call `make_block`, e.g.

[code]

[2018-01-29 17:40] jbrockmendel commented on #19361
_libs.groupby.kth_smallest_c almost identical to _libs.algos.kth_smallest

[2018-01-29 17:51] MarcoPorracin opened #19447 "Segmentation fault: 11 with encoded HTML characters"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I got a plain 'Segmentation fault: 11' when running this code on the Terminal.app
I believe the problem was that one of the columns had currency names encoded in HTML. The USD are encoded as "D&oacute;lares" from the spanish "Dólares".

pandas (0.20.3)
Python 2.7.13
MacOS High Sierra 10.13.2

#### Output of ``p

[2018-01-29 17:55] jorisvandenbossche commented on #19431
you can pass the `block.mgr_locs` of the existing block for `placement` in `make_block` to have a correct value for that. But, then you are actually just replicating what the `make_block_same_class` is doing ..

[2018-01-29 20:06] lv10 commented on #19283
Hi,

I would like to add that we are having the same issue. We have a block of code that groupsby and then call first as follows:

[code]
Under pandas 0.21 it takes: less than 3 seconds
Under pandas 0.22 it takes: between 2 and 3 mins
The above call on pandas 0.21:

[2018-01-29 21:28] jmkuhn opened #19449 "infer_dtype not reporting mixed with decimal/floating"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I expect both `infer_dtypes` to return `'mixed'`.  The second returns `'decimal'`.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.6.4.final.0
python-bits: 64
OS: Darwin
OS-release: 17.4.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: N

[2018-01-29 21:56] r-velde commented on #18627
But can ts.plot use err_style? This is why I use this function, to show replicates.

[2018-01-29 22:01] jorisvandenbossche commented on #18627
@r-velde can you show a code example?

[2018-01-29 22:22] chris-b1 commented on #19447
Using the mysql library directly is as far as I understand deprecated in favor of using `sqlalchemy` - what happens if you use it?
https://pandas.pydata.org/pandas-docs/stable/io.html#sql-queries

[2018-01-29 22:23] chris-b1 commented on #19422
please show a reproducible example

[2018-01-29 22:27] r-velde commented on #18627
[code]
With the following data in excel:

Group | Well | Time | Area | Time (Weeks)
96 | 1 | 0 | 1.447972 | 0
96 | 1 | 2.066667 | 1.385389 | 0.012302
96 | 1 | 6 | 1.557112 | 0.035714
96 | 1 | 12 | 1.619833 | 0.071429
96 | 1 | 18 | 1.784649 | 0.107143
96 | 1 | 24 | 1.882875 | 0.142857
96 | 1 | 30 | 1.973433 | 0.178571
96 | 1 | 36 | 2.224801 | 0.214286
96 | 1 | 42 | 2.567142 | 0.25
96 | 1 | 48 | 2.9

[2018-01-29 22:31] Liam3851 commented on #16808
We just hit this issue. At this point the problem goes back at least to 0.16 and is still present in the current 0.23 dev. Problem is at

[code]

Thus any pattern len>1 is interpreted as a regex, whether it actually can be parsed as a regex or not.

At this point, any change that made it non-default to regex would be breaking, so I think the options are:

1) Update the documentation only. This fun

[2018-01-29 23:07] jorisvandenbossche commented on #18627
@r-velde this is `tsplot` from seaborn you show, not from pandas, so this issue will not impact you!

[2018-01-29 23:59] #19409 closed

[2018-01-30 00:05] jschendel commented on #19419
@jreback : I recall seeing that mentioned somewhere, but can't find a corresponding issue.  Do you happen to know where it is?

Also, would adding this method still be worthwhile if inheritance is implemented?  Maybe if someone wanted to add a non-compatible `Interval` to a `PeriodIndex`, they'd need convert to `IntervalIndex` first?  Not sure how common/useful that would be.  Might just close thi

[2018-01-30 00:30] jreback commented on #19419
i couldn’t find the issue but iirc some disscussiom on the II original issue maybe

yeah inheritance would be nice here

can repurpose this issue

[2018-01-30 00:34] yutiansut opened #19451 "Multi Index timeindex Selecting"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I got a multiindex-dataframe, and trying to select time by month

while i only use 'date' as the singal index, using ```data['2017-11']```I can get output of 3 securities in 2017-11

horever while I use ```dataframe.xs``` for index selecting I could only get output of 1 security

seemed like ```dataframe.multii

[2018-01-30 00:58] jreback commented on #19451
you would need to post a copy pastable example that reproduces

[2018-01-30 01:18] yutiansut commented on #19451
I upload a hdf5 file, and store it in 'http://osnhakmay.bkt.clouddn.com/data.h5'

sorry for inconvenience and thanks for your time~~

after download the h5 file using this code to restore:
[code]

[2018-01-30 01:23] jreback commented on #19451
pls make a minimal example

[2018-01-30 01:37] yutiansut commented on #19451
well  I give a simple example to reproduce @jreback

[code]

this dataframe contains multiindex with a datetime-series index('date') and a object-series index('code')

while we using data.xs('2017-01',level=0)  it should get a result of both '000001' and '000002' in 2017-01 month however  it just return a result of 000001, like below
[code]

[2018-01-30 01:42] jschendel opened #19453 "API/ENH: Allow Interval to be a first-class type via an IntervalBlock internal type"
This has been mentioned in passing in a few other issues, so making an official issue to document this.  In the same spirit as `PeriodBlock` (#7964).

I've started working on an interval accessor, so it seems likely that there will be more exposure to `Interval` objects in a `Series`/`DataFrame`, hence this becoming more relevant.

xref #19272

[2018-01-30 01:44] yutiansut commented on #19451
by the way:

1. if using singal index of ```date``` , like this
[code]
and using ```data2['2017-01'] ``` could get the month result of 2 securities

2. if using day for ```data.xs```method could also get the 2-securities result
[code]

[2018-01-30 01:47] jreback commented on #19451
try on a more recent version of pandas
you have a duplicated MI as well

[2018-01-30 01:54] yutiansut commented on #19451
I've just update the pandas to 0.22.0 and the problem still exist

[code]

and in the example I gave you, it doesn't contain duplicated MI
@jreback

[2018-01-30 01:57] TomAugspurger commented on #19453
FYI I have a branch doing this on top of the extension array stuff. Will make a PR in a couple days.

[2018-01-30 02:48] vision-sbm opened #19454 "ENH Adding read_* support for Google Cloud Storage gs:// URLs"
Would be great if pandas were to support reading directly from Google Cloud Storage URLs (gs://), similar to the way it supports AWS s3 URLs (s3://)

Ideally, one could write:
[code]

I took a quick stab at it in https://github.com/pandas-dev/pandas/commit/4c9196ace8e70f83f81d84d921a73db2581453a4. Let me know if this makes sense and I can add some documentation/tests around it and open a pull requ

[2018-01-30 03:41] r-velde commented on #18627
@jorisvandenbossche Okay thanks.

[2018-01-30 04:54] toobaz commented on #19348
@cr458 (I guess it would be great)

[2018-01-30 05:16] toobaz opened #19456 "Error when using .loc[integer] with object Index (also) containing floats"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

I guess this is closely related to #17286 , which however failed also with float keys (using ``__getitem__`` rather than ``.loc``).

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: d740b65f8a32062d8c299697ff99d3ae30cd84c8
python: 3.5

[2018-01-30 05:21] toobaz commented on #19432
[code]

... which is correct (``1 == 1.``), and means that the error message about unicity is correct. So the wrong thing is that the other call is automatically casting to int.

[2018-01-30 08:51] leezu opened #19457 "pd.read_sql_query with chunksize: pandasSQL_builder should only be called when first chunk is requested"
#### Code Sample
[code]
#### Problem description
Using `pd.read_sql_query` with chunksize, sqlite and with the multiprocessing module currently fails, as `pandasSQL_builder` is called on execution of `pd.read_sql_query`, but the multiprocessing module requests the chunks in a different Thread (and the generated sqlite connection only wants to be used in the thread where it was created so it throws

[2018-01-30 09:01] nvgoldin opened #19458 "Precision error when using Timedelta.total_seconds method"
#### Code Sample
[code]
#### Problem description
When using `Timedelta.total_seconds` I sometime encounter a small precision error (1e-15), which can be significant in some scenarios (for instance when later dividing the results and expecting an integer). The workaround is to always use a rounding method, which makes the code cumbersome.

#### Expected Output
A float or integer representing the se

[2018-01-30 10:26] ace-e4s opened #19459 "Dataframe w/ DatetimeIndex memory leak"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Memory seems to leak when adding new Series with DatetimeIndex columns to an empty DataFrame (which was initialized with default index). However, if the DataFrame is initialized with an empty DatetimeIndex index, the leakage stops.

##### Good
![pandas tight](https://user-images.githubusercontent.com/18338679/3

[2018-01-30 10:42] 77QingLiu opened #19460 "Denoting duplicated by specific combination of index"
#### Code Sample

[code]
#### Problem description
Pandas have a built-in method for denoting duplicated records. However, it is not able to denote duplicated record by some combination of keys.
**dataFrame a**
[code]

**dataFrame b**
[code]
there are nodupkey for the first glance.
but this could cause issues when performing merging with validate='1:1' criteria.
[code]
we expect that both data set

[2018-01-30 11:02] jreback commented on #19460
you would to show an example frame which does what you want. from your description ``subset`` does exactly this.

[2018-01-30 11:04] albertvillanova commented on #19283
The same performance issue is also found for function GroupBy.last

[2018-01-30 11:06] jreback opened #19462 "CI: pymysql 0.8.0 compat"
revert this: https://github.com/pandas-dev/pandas/pull/19461

[2018-01-30 11:06] jreback commented on #19462
cc @jorisvandenbossche @TomAugspurger @gfyoung

[2018-01-30 11:20] jreback commented on #19459
these don't leak. the 'leaky_af' continually creates and destroys objects. When a new column is added to the frame, the original index is reindexed, which causes a copy, while in the first one it is simply set with the added index. Since python doesn't release the actual memory, your usage grows.

subsequent indices are equal to the first so no reindexing happens.

xref https://github.com/pandas-d

[2018-01-30 11:20] #19459 closed

[2018-01-30 11:34] jreback commented on #19458
we are doing this.
[code]

this would avoid the issue
[code]

look in ``pandas/_libs/tslibs/timedelta.pyx`` for the code

would take a PR for this.

[2018-01-30 11:44] ace-e4s commented on #19459
@jreback maybe I'm missing something here but, note that the leaky_af function is ran in a loop inside the main function; for every increment in the loop, leaky_af is ran only once (which may trigger copying, and that's fine).  However, when data_df is re-created in the next increment, all references to the old one are gone, so Python should release them from the memory. Instead, you see a steady

[2018-01-30 12:02] xmduhan opened #19463 "ENH: Support high precision converters in to_numeric"
###

[code]
This work!

[code]
This fail!
Message: ValueError: cannot safely convert passed user dtype of float64 for object dtyped data in column 0

### Full error stack:

[code]
<details>
### pd.show_versions():
INSTALLED VERSIONS
------------------
commit: None
python: 2.7.6.final.0
python-bits: 64
OS: Linux
OS-release: 3.13.0-139-generic
machine: x86_64
processor: x86_64
byteorder: little
LC_A

[2018-01-30 12:14] TomAugspurger commented on #19283
Anybody interested in submitting a fix? It'll involve touching some Cython, but the only change is adding a  `min_count` parameter to https://github.com/pandas-dev/pandas/blob/238499ab0a48a0ad4a2011e2ce1c6a02c86124eb/pandas/_libs/groupby.pyx#L35, and asserting that it's always -1.

[2018-01-30 12:17] CruiseDevice commented on #19458
I would like to work on this. I am new here. Can you please guide me?

[2018-01-30 12:20] CruiseDevice commented on #19458
From the path to the file you gave i found the function i need to modify.

[2018-01-30 12:28] jreback commented on #19458
http://pandas.pydata.org/pandas-docs/stable/contributing.html

[2018-01-30 12:29] jreback commented on #19283
http://pandas.pydata.org/pandas-docs/stable/contributing.html

[2018-01-30 13:02] jorisvandenbossche commented on #19462
So the failures are for the tests with procedures (`test_read_procedure`). Might be related to:

[code]

from their changelog notes https://github.com/PyMySQL/PyMySQL/blob/master/CHANGELOG

[2018-01-30 13:52] MarcoPorracin commented on #19447
I worked around this.

[2018-01-30 13:52] #19447 closed

[2018-01-30 14:19] chris-b1 commented on #19463
For reasons not entirely clear to me, our `xstrtod` implementation can't parse the maximum 64 bit float.  xref #17154, #19361

A workaround is to use the 'high precision' float parser - some discussion in #17154 about making that the default.
[code]

[2018-01-30 14:20] chris-b1 commented on #19463
Also applies to `pd.to_numeric`

[code]

[2018-01-30 14:38] jreback commented on #19463
this is not a bug, rather the exact reason for the high precision option. there is a similar issue IIRC. see if you can find it. cc @gfyoung

[2018-01-30 15:00] tdpetrou commented on #19285
Also very closely related is accumulation with missing values.
[code]

Couldn't this be:

[code]

[2018-01-30 15:52] 77QingLiu commented on #19460
updated. @jreback ，please take a look

[2018-01-30 16:50] jbrockmendel opened #19465 "period_helper should be in cython"
Doing maintenance is nigh-impossible ATM.

[2018-01-30 17:53] mknorps commented on #18891
solved in [numpy/numpy#9532](https://github.com/numpy/numpy/issues/9532)

[2018-01-30 17:53] #18891 closed

[2018-01-30 18:41] jbrockmendel opened #19467 "Build no longer caching lib.pyx"
I think this is a fairly recent phenomenon.  `setup.py build_ext --inplace` is now taking 40-60 seconds even if nothing has changed since the last run.  It looks like lib.pyx is getting re-cythonized on each run.

[2018-01-30 19:09] TomAugspurger commented on #6581
Agreed with @jorisvandenbossche. The thing that matters most to downstream libraries is the calendar time between deprecating something and removing it. Since 0.22 accelerated our release schedule, I think we should hold off on removing stuff that was scheduled for 0.23.

[2018-01-30 19:22] jschendel opened #19468 "BUG: .dt accessor raises on a Series of Categorical Timestamps with repeats"
#### Code Sample, a copy-pastable example if possible
On master:
[code]

Note that this works on 0.22.0:
[code]
#### Problem description
Previously valid behavior now raises.

#### Expected Output
I'd expect the output on master to be the same as on 0.22.0.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: 238499ab0a48a0ad4a2011e2ce1c6a02c86124eb
pyth

[2018-01-30 20:11] TomAugspurger commented on #19468
Most likely the extension accessor stuff. Looking into it now.

[2018-01-30 20:49] TomAugspurger opened #19470 "API: Categorical.get_values returns DatetimeIndex for datetime categories"
[code]

Meanwhile, `Series[Categorical[datetime]].get_values` returns a NumPy array.

[code]

This seemed strange to have the return type depend on the categories' dtype. Going to try to find the original motivation. We could consider deprecating this behavior.

[2018-01-30 21:02] TomAugspurger commented on #19460
Let us know if subset isn't what you wanted.

[2018-01-30 21:02] #19460 closed

[2018-01-30 21:10] TomAugspurger commented on #19457
Could you create a small reproducible example? And can you paste the current traceback?

You mean different process, right?

Do you have any interest in working on a fix?

[2018-01-30 21:14] TomAugspurger commented on #19454
@vision-sbm we're certainly open to this. Making a PR will be the best move as far as code review goes.

FWIW, I think having an optional dependency on [gcsfs](https://github.com/dask/gcsfs) and then mirroring https://github.com/pandas-dev/pandas/blob/master/pandas/io/s3.py is the easiest way.

[2018-01-30 21:21] TomAugspurger commented on #19451
@yutiansut can you update your original post with the minimal example?

[code]

Maybe clean up the formatting a bit, so that it's easier to read.

[2018-01-30 21:25] TomAugspurger commented on #19449
This is in cython, at https://github.com/pandas-dev/pandas/blob/238499ab0a48a0ad4a2011e2ce1c6a02c86124eb/pandas/_libs/src/inference.pyx#L242 so it'll be a bit tricky but hopefully not too bad with some print statements if anyone wants to dig into it.

[2018-01-30 21:28] TomAugspurger commented on #19437
This could be a bit of work to fix, given the current implementation of `GroupBy.ffill`...

[2018-01-30 21:29] TomAugspurger commented on #19436
@C5G6M7 can you write a small, reproducible example that currently fails, and submit a fix with it as a test case?

[2018-01-30 21:35] TomAugspurger commented on #19420
Your expected output looks correct here.

Do you have any interest in writing a PR to fix it?

[2018-01-30 21:46] jmkuhn commented on #19449
I think the problem is with

https://github.com/pandas-dev/pandas/blob/238499ab0a48a0ad4a2011e2ce1c6a02c86124eb/pandas/_libs/src/inference.pyx#L443-L448

I think there should be a call to `is_decimal_array(...)`.  There isn't an `is_decimal_array` function and I don't know how to write one.

[2018-01-30 22:22] reidy-p commented on #19226
@jreback do you see any more compression tests that should be cleaned? There are some other compression tests that I haven't touched but I don't see any way to clean them up easily.

[2018-01-30 22:33] TomAugspurger commented on #19417
@miker985 can you describe the issue a little more clearly? Why does the current implementation cause an issue in user code?

[2018-01-30 22:44] TomAugspurger commented on #19411
Well, the docstring could be improved. Both `df.index.names` and `df.columns.names` are checked.  That's still different from your original issue though, which was about the values.

I'd recommend doing that. I don't think changing `assert_frame_equal` to ignore index / column labels is generally useful enough to warrant a parameter.

[2018-01-30 22:59] miker985 commented on #19417
Right now now my code looks like this

[code]

My specific use case is I am attempting to utilize pandas to load data from a DTA file and then do stuff with the labeled data. I have to set `convert_categoricals=False` because there is a fundamental mismatch between pandas categoricals and Stata's value labels (pandas requires unique category names and Stata does not).

I think that raising an `Att

[2018-01-30 23:03] TomAugspurger commented on #19417
OK, if you want to make a small test that exercises this, and see if making that change breaks anything then go for it.

[2018-01-30 23:07] Apeder commented on #13129
Think I may have encountered this bug running Pandas on GAE Flexible:
https://stackoverflow.com/questions/48509265/pandas-on-gae-flexible-wont-subset-dataframe/48512231#48512231

However, both dtypes were strings, so not sure exactly what's going on....

[2018-01-30 23:26] jreback commented on #6581
and the 1 in question atm was deprecated in 0.19
so should be removed now

if you want to move forward on cleaning things and extending them removing deprecations is very important

[2018-01-30 23:57] jreback commented on #19467
yes this seems very recent

[2018-01-31 00:06] jreback commented on #19226
I think tests still in :pandas/tests/io/parser/compression.py and test_pickle

[2018-01-31 00:08] jreback commented on #19226
in test_pickle there is a TestCompression class, did that get missed?

[2018-01-31 02:29] dworvos commented on #19420
Sure, I will give writing a PR a try!

[2018-01-31 04:30] jbrockmendel commented on #19467
Looks like it was introduced in #19306.

[2018-01-31 04:37] yomoko commented on #19422
@TomAugspurger Let's make it simpler. If I am resampling from 1 hour to 1 month, is it possible to specify a base with a different unit such as hours?

[2018-01-31 04:56] jbrockmendel commented on #19467
setup.lib_depends still has 'reduce' in it.  PR coming up to delete it, fixes this locally.

[2018-01-31 06:44] balaprasad18 commented on #12018
df.to_csv(tf)
how to read after this line?? i need to read tf, also need to mail the csv file

[2018-01-31 06:46] yutiansut commented on #19451
@TomAugspurger could i give you a sample with hdf5 format? cause i get the data from my project and data management maybe a little difficult ths~

I zipped it for github could only support zip format not hdf5 file

[2018-01-31 06:46] balaprasad18 commented on #12018
how to check whether df.to_csv(tf) is properly exported as csv, df has data , tf has data may be not how to read and print tf?

[2018-01-31 06:50] yutiansut commented on #19451
@TomAugspurger @jreback ths I found the solution~

this is caused by not index-sort error

add by:
[code]

ths for @TomAugspurger solutions
ths @jreback

[2018-01-31 06:56] yutiansut commented on #19451
@TomAugspurger however  after sort_index , the ```xs``` method and ```loc```` method give diff result, like below

[code]
### data.loc exec
[code]
[code]

### data.xs exec

[code]

[code]

[2018-01-31 07:12] K-Tok opened #19474 "BUG: unexpected assign by a single-element list"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
This issue is derived from [https://stackoverflow.com/questions/48195993/unexpectedly-assign-in-pandas-by-df-loc-and-single-element-list](https://stackoverflow.com/questions/48195993/unexpectedly-assign-in-pandas-by-df-loc-and-single-element-list)

At first I thought this happened because the method is not idiom

[2018-01-31 08:33] leezu commented on #19457
Reproducible example:

[code]

No, I mean that the multiprocessing module retrieves data from the iterator returned by pd.read_sql_query in a different Thread (at least . Subsequently that data is of course passed to a different process, but this bug is concerned about not even getting so far ;)

I'm interested but won't have time before end of February. So if someone else finds time to work on th

[2018-01-31 08:34] leezu commented on #19457
And this is the traceback
[code]

[2018-01-31 10:26] gfyoung commented on #19463
@jreback : Agreed.  This is intended behavior.

@chris-b1 : However, your example with `pd.to_numeric` strikes me as interesting...I feel like we would want to support conversion to numeric with high-precision?  @jreback : Thoughts?

[2018-01-31 10:48] #19467 closed

[2018-01-31 10:50] jreback commented on #19463
yeah i think to_numeric should use the high prevsion converters (though not sure if this goes thru the same path)

[2018-01-31 10:59] jreback opened #19475 "CLN: remove 'datetime' from pytables"
xref https://github.com/pandas-dev/pandas/pull/19413/commits/4cbbb732a360cfdbb5b258349181669f9a808be1

this is to support a pretty old case, which is not tested, nor needed as this was pre-auto conversion to datetimes.

[2018-01-31 11:08] nvgoldin commented on #19458
@jreback, thanks for the references - why is the ```pd.Timedelta('30S').value / 1e9``` an issue? How would you expect it to be solved for both issues?

@CruiseDevice - LMK if your not taking it. I'll try freeing some time for it.

[2018-01-31 11:12] willjbrown88 commented on #19411
I've been a little unclear here still I think.

This is exactly what `check_names` is for and is doing, but only for `df.index.names`. `check_names=False` allows for the case of `left.index.names != right.index.names` to pass `assert_frame_equal`.  My issue was that I assumed `check_names=False` would also pass `left.columns.names != right.columns.names`, as I was intending to use it.

If the latt

[2018-01-31 11:16] Akeraa opened #19476 "Slice with .loc includes stop index. Not consistent with Python standards?"
#### Code Sample, a copy-pastable example if possible

[code]
When using slices with Pandas DataFrame, in case of accessing rows with ".loc", the stopper is included in the output.

I don't know if it is on purpose but it looks to me that it is not consistent with python standards and therefore is confusing?

[2018-01-31 11:25] CruiseDevice commented on #19458
@nvgoldin Creating development environment on my machine took time. I have one question though Do i have to create a new branch for this? or should i make changes directly to my branch and then create a PR?

[2018-01-31 11:25] gfyoung commented on #19463
AFAICT, the `xlstrtod` functionality is just for the `parsers.py` file.  Though if you want to integrate with it, you would probably have to add several more parameters to the `to_numeric` interface for it to provide similar functionality as in `read_csv` for example (e.g. `decimal` and `sci` as the floating point options used in `tokenizer.h`) OR perhaps we just hard-code values for those paramet

[2018-01-31 11:29] CruiseDevice commented on #19458
I would like to spend sometime on this. If i am not able to do it you can happily take this. I will let you know.

[2018-01-31 11:34] #7292 closed

[2018-01-31 11:45] jreback commented on #19476
pls read the docs: http://pandas.pydata.org/pandas-docs/stable/indexing.html

.loc is for label indexing and includes both endpoints
.iloc is for positional indexing and acts similarly to numpy / python

[2018-01-31 11:45] #19476 closed

[2018-01-31 12:06] TomAugspurger commented on #19411
@willjbrown88

[code]

[2018-01-31 12:09] TomAugspurger commented on #12018
@balaprasad18 You might try searching on stackoverflow under the pandas tag.

[2018-01-31 12:15] #17320 closed

[2018-01-31 15:18] TomAugspurger commented on #9970
Duplicate of https://github.com/pandas-dev/pandas/issues/19437

[2018-01-31 15:18] #9970 closed

[2018-01-31 15:19] TomAugspurger commented on #5758
Duplicate of https://github.com/pandas-dev/pandas/issues/19437

[2018-01-31 15:19] #5758 closed

[2018-01-31 15:19] TomAugspurger commented on #10671
Duplicate of https://github.com/pandas-dev/pandas/issues/19437

[2018-01-31 15:19] #10671 closed

[2018-01-31 15:21] TomAugspurger commented on #16646
Duplicate of https://github.com/pandas-dev/pandas/issues/19437 (that's for duplicate index, this is for duplicate columns with axis=1). Should be the same fix.

[2018-01-31 15:24] CruiseDevice commented on #19458
#19477

[2018-01-31 15:42] dmarinav commented on #10511
Pandas might have 2200 issues (like any other software or app nowadays), but  I believe this one is very important when dealing with unstructured data.  I work with unstructured data, and listify() and unlistify() can be very handy here and save lots of valuable time.

[2018-01-31 16:05] toobaz opened #19478 "Int64Index.get_loc() is very slow on unsorted, non-unique index"
#### Code Sample, a copy-pastable example if possible

[code]

#### Problem description

``In [4]:`` does the same thing that ``In [3]:`` does, taking ~11 times less.

Might be related to #9466 .

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.5.3.final.0
python-bits: 64
OS: Linux
OS-release: 4.9.0-5-amd64
machine: x86_64
processor:
b

[2018-01-31 16:06] jreback commented on #10511
@dmarinav and you are welcome to submit a fix. what folks choose to work on is pretty much up to them.

[2018-01-31 16:07] jreback commented on #19478
maybe a manifestation of https://github.com/pandas-dev/pandas/issues/17754

[2018-01-31 17:00] #19468 closed

[2018-01-31 19:00] zfrenchee opened #19480 "Features which Interval / IntervalIndex should probably have"
Here's a list of possible features which should be added to the Interval and IntervalIndex types. Some of them might already exist, in which case, please excuse my mistake. **Also note**, I'm not asking for these, just listing some ideas I had which might be useful for others.

- **Closest**
[code]
Big question: what if there are two or more identically distant intervals?

- **Complement**
[code]

[2018-01-31 19:50] C5G6M7 commented on #19436
@TomAugspurger Yes, I can work on this tonight. I encountered it on quite a big dataset running inside of a another application that uses pandas, so I'm going to have to do a bit of debugging to see how to reproduce this with a simpler input.

In general though, in the above code if self.delimiter is ever None during the execution of this line it will cause an error. I did make the quick patch pro

[2018-01-31 21:57] WillAyd opened #19482 "Rank With 'method=first' Broken for Objects"
Came across this working on #15779

[code]

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: d3f7d2a666aa824e2df98083aa5c1fd9bb63252e
python: 3.6.3.final.0
python-bits: 64
OS: Darwin
OS-release: 17.4.0
machine: x86_64
processor: i386
byteorder: little
LC_ALL: None
LANG: en_US.UTF-8
LOCALE: en_US.UTF-8

pandas: 0.23.0.dev0

[2018-01-31 22:33] WillAyd commented on #19482
Alternately this could throw a ValueError, which seems to be the intention of the code in algos linked below. That said, I don't see why it would be bad to support this and couldn't find any comment history touching on it. Insights appreciated

https://github.com/pandas-dev/pandas/blob/12ac43f98c6d3ce9c0c48ed75b80346881c1e4d4/pandas/_libs/algos_rank_helper.pxi.in#L167

[2018-02-01 00:43] jschendel commented on #19480
Note that `union`/`intersection`/`difference`/`shift` will likely need new names, as they already have more generic uses (e.g. `IntervalIndex.union` is already implemented with set theoretic behavior in terms of individual elements).

Some more ideas, all of which should return booleans, mostly taken from [postgres range types](https://www.postgresql.org/docs/current/static/functions-range.html):

[2018-02-01 02:55] ZhuBaohe opened #19485 "Doc: Incorrect exmaples for 'GroupBy.apply' functon"
Example 1 and Example 2 are both incorrect  for  'GroupBy.apply' functon in   [document](https://pandas-docs.github.io/pandas-docs-travis/generated/pandas.core.groupby.GroupBy.apply.html).

[code]
The following changes should be made.

Example1
[code]
Example2
[code]

[2018-02-01 03:12] hexgnu commented on #18551
This will be fixed by https://github.com/pandas-dev/pandas/pull/18924#issuecomment-361904871

I will add to that PR

[2018-02-01 03:24] jbrockmendel opened #19486 "Disentangle ujson from _lib/src/datetime"
There are some non-trivial simplifications (and perf improvements) in tslibs.np_datetime available if ujson can be made to not call pandas_datetimestruct methods directly.  Is there a viable way to make the ujson code go through the tslibs cython instead of through src/datetime?

[2018-02-01 06:15] stuarteberg commented on #10734
FWIW, this confused me for a while today.  As far as I can tell, the [docs](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.combine.html) are misleading at best (maybe even just plain wrong?).

Just like @jorisvandenbossche above, I was attempting to compute the element-wise max values between two dataframes (with some missing values).  I was surprised to see this:

[code]

[2018-02-01 07:02] weifei0228 commented on #18273
Same issue here.usecols is returning an empty dataframe with 0.22.0

[2018-02-01 08:17] jorisvandenbossche commented on #19485
@ZhuBaohe Thanks for the report! You are correct. It was recently already reported here: https://github.com/pandas-dev/pandas/issues/19337, so closing this issue.

[2018-02-01 08:17] #19485 closed

[2018-02-01 09:17] ZhuBaohe opened #19489 "DOC: Incorrect example result in 'merge_asof' docstring"
Last example result  is incorrect for 'merge_asof' functon in [document](http://pandas-docs.github.io/pandas-docs-travis/generated/pandas.merge_asof.html).

[code]
The following changes should be made.

[code]

[2018-02-01 10:23] cbrnr commented on #16943
I came across a slightly related issue: using a multi-index dataframe, why can I only use a tuple as an indexer and not a list (i.e. why do they give different results)?

Using the example data, if I want to pull out rows where `ID1=1` and `ID2=1001`, I can only use a tuple inside `loc`:

    df.loc[(1, 1001)]

This returns the desired slice:
[code]

I can't use a list:

     df.loc[[1, 1001]]

Th

[2018-02-01 10:49] jdoepfert commented on #19356
Will take a look today

[2018-02-01 10:50] bashtage commented on #19417
It should just return an empty dictionary since there are none.  <=108 is very old Stata and so I suspect that no one who has worked on this recently has any method to create dta files from Stata in a format <=108.

[2018-02-01 10:52] bashtage commented on #19417
A little background v113 was the dta file format in Stata 8 which was designed to run on Windows NT & 98.

[2018-02-01 11:13] hastelloy opened #19491 "Display sparse multi-index of dataframe in Pandas"
[code]

#### Expected Output

I am expecting the output of In[2] should be something like Out[3]
[code]

#### Problem description
Not all the levels of groups are displayed in sparse style (only show one row for all same values). For out[2], the column `code` are also expected to be in that way

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here belo

[2018-02-01 11:18] jreback commented on #19491
the innermost level is not sparsified as its almost alway unique. generally having a non-unique MI is not performant and not recommend (though it does work).

e.g. (still not unique but you get the idea)
[code]

[2018-02-01 11:18] #19491 closed

[2018-02-01 11:27] hastelloy commented on #19491
@jreback
thanks,
it does make sense...

[2018-02-01 12:16] jorisvandenbossche commented on #16943
@cbrnr Yes, that is intended behaviour. For single "labels" of a MultiIndex (so one value for each level), we always use tuples and not a list, because it would otherwise be difficult to distinguish. I think for this case we are quite consistent within pandas.
It is the other way around (in a case where we want list-like, do we accept tuple?) that there can be more discussion. Typically we allfow

[2018-02-01 12:20] jorisvandenbossche commented on #16943
For the original issue: given the possible confusion between the two, I think it might be better in this case to not interpret the tuple as a list-like.
But, in that case, shouldn't it raise an error? As if we interpret `((1, 1001, 1), (1, 1001, 2), (2, 1002, 2))` as a single label, it should not find it?

cc @toobaz interesting case :-)

[2018-02-01 12:20] cbrnr commented on #16943
Thanks @jorisvandenbossche, this makes sense! I usually don't distinguish between lists and tuples in plain Python since they are both list-like objects. So this Pandas behavior tripped me up a bit - is this documented clearly somewhere?

[2018-02-01 12:25] jorisvandenbossche commented on #16943
Ah, no, I suppose this is wrong. It seems that it *does* interpret `((1, 1001, 1), (1, 1001, 2), (2, 1002, 2))` as a list, but not as a list of labels, but as a list of lists (a list of indexers into one level).

So it is indexing as:

[code]

To make it a bit more confusing: it is a bit strange however that the actual list of lists (`df.loc[[[1, 1001, 1], [1, 1001, 2], [2, 1002, 2]], :]`) does no

[2018-02-01 12:27] jorisvandenbossche commented on #16943
Yes, this is one of the gotcha's due to the complexity of MultiIndexing that we somehow *need* to distinguish between both.
And documentation can certainly better about those things. But in general this is also an area where we would need more extensive testing of the different cases, and then better documentation of those cases (eg see my comment above, even for me it is difficult to really predi

[2018-02-01 12:31] cbrnr commented on #16943
I could add a statement that tuples are needed in the case of multiple indexers on a multiindex: http://pandas.pydata.org/pandas-docs/stable/advanced.html#using-slicers. Not a warning box, but maybe there's a note or an info box? Or is there a better place to put such a note? Let me know and I can take care of that in a PR.

[2018-02-01 12:45] #17917 closed

[2018-02-01 12:51] jorisvandenbossche commented on #16943
Ah, so we are actually using tuples there in the docs :-) So I just might have had the wrong assumption that a list would work (regarding the last of my comment above https://github.com/pandas-dev/pandas/issues/16943#issuecomment-362250780).
But yes, adding a note there that those multiple indexers need a be contained in a tuple is a good idea (and using the IndexSlice makes it even more explicit)

[2018-02-01 12:54] #18935 closed

[2018-02-01 13:09] #16874 closed

[2018-02-01 13:09] #18551 closed

[2018-02-01 13:09] #18686 closed

[2018-02-01 13:09] #18914 closed

[2018-02-01 13:19] toobaz commented on #16943
Great idea! I think such statement should actually go at the beginning of http://pandas.pydata.org/pandas-docs/stable/advanced.html#advanced-indexing-with-hierarchical-index

You could maybe start by stating that ``MultiIndex`` keys take the form of tuples, then you could swap the first two examples currently provided (move the _complete indexing_ one first), then introduce partial indexing, and m

[2018-02-01 13:23] jreback commented on #19482
yeah I think this could be disallowed.

[2018-02-01 13:24] jreback commented on #19444
maybe. this is conflating different apis

[2018-02-01 13:25] jreback commented on #19426
there is already an issue for this IIRC see if you can find it.

[2018-02-01 13:26] #19404 closed

[2018-02-01 13:44] #16284 closed

[2018-02-01 13:44] jreback commented on #16284
thanks @WBare finally go this in!

[2018-02-01 13:57] TomAugspurger opened #19492 "CLN: Standardize values coercion during Block initialization"
Splitting off from https://github.com/pandas-dev/pandas/pull/19268 (which is starting to give me unicorns fairly often)

After that, all blocks eventually end up calling `Block.__init__` (aside from `ScalarBlock`, which we'll ignore).

Most of the subclasses init methods are

1. maybe coerce values to the expected dtype
2. `call super().__init__`

It'd be nice to put 1 into favor of a `_maybe_coer

[2018-02-01 14:41] clembou opened #19493 "SegFault when using `to_parquet` with `flavor='spark'` when dataframe contains timestamps"
#### Code Sample, a copy-pastable example if possible

[code]

result:
[code]
#### Problem description

`dfs.to_parquet('viapandas.parquet', flavor='spark')`  gives me a segfault on macos and linux with pandas 0.22.0 and pyarrow v0.8.0 ( latest at the time of writing).

I am filing the issue in the pandas repo since i am not hitting the issue when creating the file manually using pyarrow directly.

[2018-02-01 16:20] jbrockmendel commented on #19492
+1

If `dtype` were added to `Block.__init__` then `Block.__new__` could be defined more or less as `internals.make_block` is now.

Side-note bc I don't want to pile on extraneous suggestions in #19268: the recent addition of `_maybe_validate_ndim` is nice.  Would it be cleaner to include the `if ndim is None: ndim = values.ndim` inside the method and have it return `ndim`, so `__init__` just star

[2018-02-01 17:01] TomAugspurger commented on #19493
FYI, this fails in a call to https://github.com/pandas-dev/pandas/blob/35812eaaecebeeee0ddf07dee4b583c4eea07785/pandas/io/parquet.py#L119, so the actual segfault is in pyarrow (or parquet-cpp, not sure).

cc @cpcloud thoughts? Anything pandas is doing wrong here?

[2018-02-01 19:04] TomAugspurger commented on #10511
FWIW, I can see someone building a JSONArray on top of https://github.com/pandas-dev/pandas/pull/19268 (probably not within pandas). I think that + a custom `.json` accessor would make for a useful library. Users could store nested data in that array type, and have a bunch of methods at only apply to nested data, like `listify` and `unlistify`.

[2018-02-01 19:26] #19384 closed

[2018-02-01 19:59] rsignell-usgs opened #19494 "Enhance `read_csv` to handle columns with year, month, day without the need for a `date_parser`."
It would be nice to have `read_csv` handle columns with `year`, `month`, `day`, `hour` without the need for a `date_parser`.

Seems `to_datetime` already has this capability:
[code]
producing:
[code]
But the same thing using `read_csv` does not work:
[code]
producing:
[code]

To get `read_csv` to work, we have to use a `date_parser`, like:

[code]
which produces:
[code]

[2018-02-01 20:00] jolespin opened #19495 "[Feature Request] Add `replace` method to `Index` objects"
I usually have to change the value of an element in `pd.Index` but it's difficult without the `replace` method that is present in `pd.Series`.  I usually have a bunch of `Jupyter` cells depending on a particular `pd.DataFrame` or `pd.Series` with complicated transformations and a graph at some point.  In most cases, I have to change the labels for a few to clean them up for publication quality fig

[2018-02-01 20:36] TomAugspurger commented on #19494
Note that `read_csv` does support merging date and time fields into a single datetime

[code]

This predated `to_datetime`'s ability I think.

[2018-02-01 21:18] TomAugspurger commented on #16808
+1 for adding `regex=True`. We have this elsewhere in, e.g. `.str.contains`.

Interested in making a PR @Liam3851?

[2018-02-01 22:23] charlie0389 opened #19497 "Bug: rename incapable of accepting tuples as new name"
Pandas is incapable of renaming a pandas.Index object with tuples as the new value. Providing a tuple as ``new_name`` in ``pandas.DataFrame.rename({old_name: new_name}, axis="index")`` returns a ``pandas.MultiIndex`` object, and providing it within a singleton tuple returns an undesirable result. See code below (work-around at bottom):...

[code]
Will produce the output:
[code]
Desired/Expected ou

[2018-02-01 23:51] WillAyd opened #19499 "Rank 'na_option="bottom"' Usage Clarification"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

For the sake of being explicit it would be better to raise for an unknown `na_option`, or alternately update the documentation to reflect that any value outside of 'keep' and 'top' would trigger this behavior

<details>

INSTALLED VERSIONS
------------------
commit: d3f7d2a666aa824e2df98083aa5c1fd9bb63252e
pyth

[2018-02-02 00:04] doganulus opened #19500 "New Feature: Evaluating regular expressions over data frames"
I would like to describe a potentially useful feature of evaluating a regular expression over a `pandas` data frame. For users, it is similar to evaluating an arithmetic expression using `pandas.eval` but now we will use a regular expression instead. I have implemented a prototype in my personal [repo](https://github.com/doganulus/reelay). Since I am a newbie for `pandas` (or large open-source) pr

[2018-02-02 00:07] ZhuBaohe commented on #19495
You can do a type conversion。
[code]

[2018-02-02 00:25] jolespin commented on #19495
Thanks @ZhuBaohe , there are a couple of work arounds but I think it would make sense to have a general method just like `.to_csv` is in both `pd.Series` and `pd.DataFrame`.

[2018-02-02 00:42] jaradc opened #19501 "Suggestion: Pop row or multiple rows from a DataFrame"
#### Problem description

I'd like to suggest a modification to [df.pop(item)](https://github.com/pandas-dev/pandas/blob/a00154dcfe5057cb3fd86653172e74b6893e337d/pandas/core/generic.py#L632-L680). Currently, `pop(item)` deletes the column from the dataframe it's being called on and returns that column as a series. It doesn't accept multiple items.

It might be a nice convenience to:

1. pop multip

[2018-02-02 01:31] jreback commented on #19494
read_csv is already way to complicated

to_datetime already does this in a full featured and general way.

[2018-02-02 01:31] #19494 closed

[2018-02-02 01:42] TomAugspurger commented on #19494
This is an unfortunate API inconsistency though. If someone is interested in implementing it then I think we should.

________________________________
From: Jeff Reback <notifications@github.com>
Sent: Thursday, February 1, 2018 7:31:53 PM
To: pandas-dev/pandas
Cc: Tom Augspurger; Comment
Subject: Re: [pandas-dev/pandas] Enhance `read_csv` to handle columns with year, month, day without the need f

[2018-02-02 02:07] rsignell-usgs commented on #19494
Okay, thanks for the consideration.

[2018-02-02 04:00] charlie0389 opened #19505 "Documation: copy documenation is lacking detail for when deep=False"
The DataFrame.copy documentation (for pandas 0.22.0) states:

[code]
#### Problem description

The documentation does not state what *is* copied when ``deep=False`` (it doesn't copy data, it doesn't copy indices, what does it copy then?).

Searching for 'copy' suggests this has not been reported as an issue.

[2018-02-02 04:39] jbrockmendel commented on #19361
@chris-b1 hopefully a softball question: Currently util [gets its](https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/src/util.pxd#L89) INT32_MAX etc constants from headers/stdint.h.  headers/stdint.h contains special-casing for windows systems.  Is that special casing relevant for UINT64_MAX etc, or can we use the (much more convenient for current purposes) `from libc.stdint cimport ..

[2018-02-02 05:23] hexgnu opened #19506 "take_1d yields surprising results when working with SparseArray"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This to me smells like a problem with SparseArray sending over a sparse representation to take_1d in the C code. I would expect these values to be the same.

#### Expected Output

I would expect them to be the same.

#### Output of ``pd.show_versions()``

<details>
INSTALLED VERSIONS
------------------
commit:

[2018-02-02 06:05] CruiseDevice commented on #19458
`
        rng = Timedelta('30S')
        expt = 30.0
        tm.assert_almost_equal(rng.total_seconds(), expt)
`
I wrote something like this. Is this correct?

[2018-02-02 06:30] ZhuBaohe commented on #19505
The reference of   the data is copied with deep=False.

[code]

[2018-02-02 08:27] cbrnr commented on #16943
See #19507

[2018-02-02 08:29] hexgnu commented on #19239
Also I wanted to point out that Sparse bugs aren't the biggest label category in this repo

It looks to me like reshaping, indexing, and dtypes are the big hotspots. Getting rid of sparse I don't think would bring those bug counts down.

![image](https://user-images.githubusercontent.com/138510/35723650-ab5ed6aa-082d-11e8-91dc-a1d4f3cba81f.png)

Also I think with some TLC SparseDataFrames can be a

[2018-02-02 09:02] jorisvandenbossche commented on #19493
@clembou when doing it manually with `pyarrow`, can you try passing `compression='snappy',
coerce_timestamps='ms'` to `write_table` ? Do you then get a segfault with pyarrow as well?
That seems the only difference with the internal pandas implementation and your code.

[2018-02-02 09:14] jorisvandenbossche commented on #19506
Those `algos` are not meant to be used by users, so please don't use them directly. And they assume numpy arrays as input. Although a sparse array is a subclass, if you do `np.array(sparse_array)` you only get the actual values, without any fills. That is the reason that you see those strange values (they are leftovers of making an 'empty' result array to be filled by the take operation, but only

[2018-02-02 09:18] jorisvandenbossche commented on #19506
Ah, I see now you were actually working on that issue I linked to :-)

[2018-02-02 09:23] clembou commented on #19493
Yep it crashes too:
[code]
gives me `[1]    48095 segmentation fault  ./venv/bin/ipython`

Do you want me to open an issue on pyarrow instead?

[2018-02-02 09:24] hexgnu commented on #19506
Yea I had a feeling it was related. That problem is a lot harder than I expected on first take... have a PR that's somewhat done but a lot of weird edge cases.

[2018-02-02 09:24] hexgnu commented on #19506
Also I would never use algos as a user. I was just looking for advice on fixing something else related to merging sparse frames.

[2018-02-02 09:26] jorisvandenbossche commented on #19506
Yes, sure! That's only not always clear from the issue post :)

[2018-02-02 09:35] clembou commented on #19493
ok, filed as https://issues.apache.org/jira/browse/ARROW-2082.

[2018-02-02 10:32] jorisvandenbossche commented on #19493
Thanks!