[2020-08-19 07:35] tkmz-n commented on #10603
take

[2020-08-19 07:56] simonjayhawkins commented on #35760
Thanks @Anupam-USP.

There is currently a PR open to address this issue. #35776

you may want to look through the good first issues that need tests added to prevent regressions

https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+label%3A%22Needs+Tests%22

or for documentation related good first issues

https://github.com/pandas-dev/pandas/issues?q=is%

[2020-08-19 08:03] simonjayhawkins commented on #35713
Thanks @rmsmani

the contributing docs are here

https://pandas.pydata.org/docs/dev/development/contributing.html

[2020-08-19 10:05] simonjayhawkins commented on #35489
that test seems to be ok. but seeing some other failures on some builds https://github.com/MacPython/pandas-wheels/pull/93

[code]

[2020-08-19 10:16] simonjayhawkins commented on #35489
also on nightly builds

[2020-08-19 10:43] simonjayhawkins commented on #35489
The groupby tests (failing on backport branch test) started failing on the nightly builds between 6/7 August.

test_groupby_subselect_rolling was added in #35513 @mroeschke

[2020-08-19 10:45] RhysU commented on #35690
Thank you for investigating. If it would be helpful, I can directly send you some non-trivial unit tests that I have written to exercise these observations. It is very much a superset of what is reported above.

[2020-08-19 11:07] simonjayhawkins commented on #35489
AFAICT test_file_descriptor_leak[c_high] not failing on nightly builds. failing on windows py_3.6_32, windows py_3.8_32 and windows py_3.8_64 only

[2020-08-19 11:11] marco-neumann-by commented on #35767
I had a look at the code in `get_block_type`: Re-ordering it doesn't work trivially, because of the pandas-provided datetime extension types will otherwise end up in an `ExtensionBlock` which will break a lot of things. So we have the following "conflict":

- `DatetimeArray` is implemented in a way that it relies on `DatetimeBlock`/`DatetimeTZBlock` but at the same time has an extension dtype
- ex

[2020-08-19 11:28] TomAugspurger commented on #35489
Huh, I haven't seen that. Is it just while building psutil? Perhaps we can pin for an older version.

[2020-08-19 11:58] simonjayhawkins commented on #35489
the failure is in the `pip install pytest pytest-xdist hypothesis` stage

AFAICT this is from `pip install $TEST_DEPENDS` in `extra_functions.sh`

so does that mean changing `TEST_DEPENDS`

[2020-08-19 12:19] MarcoGorelli commented on #35564
closing for now, please ping if you edit your question to include a reproducible example

[2020-08-19 12:19] #35564 closed

[2020-08-19 12:21] MarcoGorelli commented on #35177
closing but please let us know if you can update with more info

[2020-08-19 12:21] #35177 closed

[2020-08-19 12:26] MarcoGorelli commented on #33912
closing as I can't reproduce this - please do let us know if you can provide a reproducible example though and I'll reopen

[code]

[2020-08-19 12:30] MarcoGorelli commented on #28896
closing for now, please do ping if you can provide a reproducible example (as directed above) and will reopen

[2020-08-19 12:30] #28896 closed

[2020-08-19 12:31] simonjayhawkins commented on #35489
@TomAugspurger is the mac builds the only blocker for 1.1.1 release here

[2020-08-19 12:43] simonjayhawkins commented on #35489
looking at the nightly builds, if the test fails the wheel is not uploaded even if it is built. Is that correct?

[2020-08-19 12:54] taksuyu opened #35802 "BUG: Was trying to read an ods file and ran into UnboundLocalError in odfreader.py"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-19 12:56] niju1 commented on #35177
The problem was not only with pandas, but even with the other packages.
I was facing it only in virtual environment. I tried reinstalling pycharm, updating python, reinstalling python, manually installing ‘typing’, but nothing helped. So, I had to run it outside the virtual environment.

Von: Marco Gorelli <notifications@github.com>
Gesendet: Mittwoch, 19. August 2020 14:22
An: pandas-dev/pandas <

[2020-08-19 13:01] TomAugspurger commented on #35489
I think that's correct.

[2020-08-19 13:05] #33417 closed

[2020-08-19 13:09] TomAugspurger opened #35803 "Performance regression in tslibs.tz_convert.TimeTZConvert.time_tz_convert_from_utc"
https://pandas.pydata.org/speed/pandas/index.html#tslibs.tz_convert.TimeTZConvert.time_tz_convert_from_utc?p-size=1000000&p-tz=datetime.timezone.utc&commits=3701a9b1bfc3ad3890c2fb1fe1974a4768f6d5f8-522f855a38d52763c4e2b07480786163b91dad38

Somewhere in https://github.com/pandas-dev/pandas/compare/3701a9b1bfc3ad3890c2fb1fe1974a4768f6d5f8...522f855a38d52763c4e2b07480786163b91dad38

[2020-08-19 13:09] TomAugspurger opened #35804 "Performance regression in reindex.LevelAlign.time_reindex_level"
https://pandas.pydata.org/speed/pandas/index.html#reindex.LevelAlign.time_reindex_level?commits=a0c8425a5f2b74e8a716defd799c4a3716f66eff-2a319238e47d3d7362188f7da4eb911199c423b8

Somewhere in https://github.com/pandas-dev/pandas/compare/a0c8425a5f2b74e8a716defd799c4a3716f66eff...2a319238e47d3d7362188f7da4eb911199c423b8

[2020-08-19 13:10] reubence commented on #35731
take

[2020-08-19 13:10] TomAugspurger opened #35805 "Performance regression in index_object.IndexEquals.time_non_object_equals_multiindex"
https://pandas.pydata.org/speed/pandas/index.html#index_object.IndexEquals.time_non_object_equals_multiindex?commits=a0c8425a5f2b74e8a716defd799c4a3716f66eff-2a319238e47d3d7362188f7da4eb911199c423b8

Somewhere in https://github.com/pandas-dev/pandas/compare/a0c8425a5f2b74e8a716defd799c4a3716f66eff...2a319238e47d3d7362188f7da4eb911199c423b8

[2020-08-19 13:11] simonjayhawkins commented on #35489
the mac builds on nightly started to fail on Saturday

eg macOS py_3.7_64
[code]
2020-08-14T03:44:18.2608020Z + pip install pytest pytest-xdist hypothesis
2020-08-14T03:44:19.1547510Z Collecting pytest
2020-08-14T03:44:19.1781660Z   Downloading pytest-6.0.1-py3-none-any.whl (270 kB)
2020-08-14T03:44:19.3924390Z Collecting pytest-xdist
2020-08-14T03:44:19.4034840Z   Downloading pytest_xdist-1.34.0-

[2020-08-19 13:16] #35760 closed

[2020-08-19 13:22] WillAyd commented on #35802
Your proposed fix seems reasonable - want to push a PR with a test case?

[2020-08-19 13:24] WillAyd commented on #35725
I would be in favor of this - there's a lack of clarity in the API around when agg and apply should or shouldn't be used.

@jreback

[2020-08-19 13:30] jreback commented on #35725
yes absolutely agg should error out if the returned shape is incorrect - iow it should be strict (likely can only deprecate for now though)

similarly transform should be strict (i think it is actually)

[2020-08-19 13:50] pwrignall commented on #7473
@socheon Bit late after your comment but I notice this is still open and it helped me recently. I didn't quite get what I was looking for using your snippet but a bit of adjustment returned what I wanted and is more similar to the results expected doing a full outer join in SQL:

[code]

[2020-08-19 14:02] phizzuela opened #35807 "BUG: Issue with Pandas df.str.split with expand"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

String + split() with expand only works if there is a row in the df that will later contain t

[2020-08-19 14:06] rhshadrach commented on #35725
take

[2020-08-19 15:32] edxu96 commented on #28298
Use `df.iloc[dfidx, :]` when the data frame has a multi-index.

[2020-08-19 15:54] simonjayhawkins commented on #35489
`test_missing_required_dependency` is not run on MacPython

 https://github.com/MacPython/pandas-wheels/blob/f607d12b25060b0cb07e25dbbb16bfb87d7cbdcf/config.sh#L36

so that must have failed in the past.

[2020-08-19 16:07] jreback commented on #16529
@SamRWest you are missing the point, `inplace` *rarely* actually does something inplace, you are *thinking* that you are saving memory but you are not.

[2020-08-19 16:22] toobaz commented on #16529
I think he was really defending inplace operations rather than the `inplace` argument. His use of ``update`` does save memory - but ``update`` itself has no ``inplace`` kwarg.

[2020-08-19 17:09] mroeschke commented on #35489
The groupby rolling failures may still be related to https://github.com/pandas-dev/pandas/issues/35294

Which I had a PR for: https://github.com/pandas-dev/pandas/pull/35228

But I haven't had a moment to revisit and test locally via Docker yet.

[2020-08-19 17:10] simonjayhawkins commented on #35489
and maybe related to https://github.com/pandas-dev/pandas/issues/31856

The failures are on 32 bit py36 and py38 only

[2020-08-19 17:16] simonjayhawkins commented on #35489
I think this also fixed the `test_file_descriptor_leak` fail.

[2020-08-19 17:18] mroeschke commented on #35690
Sure if you have any test cases that test `get_slice_bound` beyond what you've provided above that'd be great!

[2020-08-19 17:42] #35620 closed

[2020-08-19 17:43] simonjayhawkins commented on #35489
OK to xfail those tests using the same ref as #35295 i.e. @pytest.mark.xfail(not compat.IS64, reason="GH-35294")

[2020-08-19 17:59] #35144 closed

[2020-08-19 18:02] #35611 closed

[2020-08-19 20:22] #35325 closed

[2020-08-19 20:27] bgmello opened #35810 "ENH: dataframe to markdown doesn't have option to hide index"
Suppose I have the following `pd.DataFrame`:

[code]

If I want to print it without the index, I could do:

To string:
[code]

To html:
[code]

To json:
[code]

But it fails in `to_markdown`:

[code]

Shouldn't `to_markdown` method have the option to hide the index too?

[2020-08-19 20:29] #35810 closed

[2020-08-19 20:40] #35779 closed

[2020-08-19 20:54] dsaxton commented on #35804
https://github.com/pandas-dev/pandas/commit/0b90685f4df2024754748b992d5eaaa352e7caa5 seems to be the only commit in that range that touches index code. May be worth investigating @simonjayhawkins?

[2020-08-19 21:55] rhshadrach opened #35811 "BUG/QST: Series.transform with a dictionary"
What is the expected output of passing a dictionary to `Series.transform`? For example:

    s = pd.Series([1, 2, 3])
    result1 = s.transform({'a': lambda x: x + 1})
    result2 = s.transform({'a': lambda x: x + 1, 'b': lambda x: x + 2})

The docs say that `dict of axis labels -> functions` is acceptable, but I can't find any example in the docs where the output is described/shown. Under the hoo

[2020-08-19 23:30] alimcmaster1 opened #35813 "CI: Failures due to pyarrow 0.11 in Travis 37 Locale Build"
Looks like recently the Travis 37 Locale Build has started picking up pyarrow 0.11.1

https://travis-ci.org/github/pandas-dev/pandas/jobs/719430999
pyarrow                   0.11.1           py37he6710b0_0

This causes the pyarrow tests to run which seem to be failing.

Previously no pyarrow in env: https://travis-ci.org/github/pandas-dev/pandas/jobs/719138849 (passing build)

Feels like one of ou

[2020-08-19 23:31] dsaxton commented on #35807
I don't think this is an issue with str.split, the error happens when attempting to assign to a DataFrame with something that has the wrong shape, which _should_ produce an error.

[2020-08-20 02:16] 87danielbradley commented on #11503
I found a solution here https://stackoverflow.com/a/24476655/12692651

[2020-08-20 03:08] rhshadrach commented on #35807
Agreed @dsaxton. Does something like this help your use case @phizzuela?

[code]

This will be able to handle if there are fewer splits than `len(names)-1`.

[2020-08-20 03:22] dsaxton commented on #35795
Thanks @schettino72, this is indeed a bug but I'm also curious what you have in mind as to the usefulness of this behavior. The point of a sparse array is to efficiently encode the most common value, but this should not actually change during the lifetime of the array given that it's effectively immutable. I could almost see extending this "immutability" to the fill_value attribute and not allow a

[2020-08-20 03:39] rhshadrach commented on #35135
@gimseng Another potential solution other than rounding would be to use `.clip(lower=-1.0, upper=1.0)`. However regardless of what you do, be aware that numerical issues will always exist to some extent*, even when the values lie inside of `[-1.0, 1.0]`, and the amount of numerical inaccuracy is dependent on the inputs.

* though pandas formula for Pearson correlation is the numerically stable ver

[2020-08-20 03:54] rhshadrach commented on #35525
You can instead set the index of the json-normalized frame:

     json_normalized = pd.json_normalize(df['data']).set_index(df.index)
     pd.concat([df, json_normalized], axis='columns', ignore_index=False)

Is that sufficient for you use case?

[2020-08-20 04:22] akaihola opened #35816 "BUG: read_excel doesn't honor dtype for index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

Make sure you have Pandas and `xlrd` installed in a virtualenv, and launch the Python interpreter. You'll need `openpyxl` only

[2020-08-20 05:35] taksuyu commented on #35802
I believe I can do that for you. Assuming I can sleuth out what exactly the file is crashing on would a test case similar to [this test](https://github.com/pandas-dev/pandas/blob/df1d440c4a0c583b06d17a885d4589b9edaa840b/pandas/tests/io/excel/test_readers.py#L504) work?

[2020-08-20 06:25] gberth commented on #21353
Theory: When reading large files with Python, pd.read_csv,  csv.reader, plain python io, or with mmap it seems that the thread reading will hold memory. If the same thread does a new read, the already allocated memory will be used, if a new thread reads, it will aquire additional memory. With panda on google the reading of 3 files of app. 100 MB has required app 3GB that is not released. With csv.

[2020-08-20 06:32] arw2019 commented on #35816
Thanks for the report!

We typically ask that you don't upload data and instead provide a copy-pastable code sample that people can run. See bug report guidelines: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-08-20 06:34] bashtage commented on #21353
@gberth If you use engine="python" do you see that same pattern?

[2020-08-20 06:44] bashtage commented on #35135
It also depends on both the CPU and the operating system. Using the most stable version doesn't mean that calculations are not subject to numerical precision limits.

[2020-08-20 06:59] jorisvandenbossche commented on #35813
It's this one? -> https://github.com/pandas-dev/pandas/blob/master/ci/deps/travis-37-locale.yaml (I don't directly see something in it that would depend on Arrow)

[2020-08-20 07:10] jorisvandenbossche commented on #35813
Comparing the output of `conda list` for the working vs failing build, it's google-bigquery client that changed, and indeed that now depends on arrow: https://github.com/conda-forge/google-cloud-bigquery-feedstock/blob/master/recipe/meta.yaml
(there seems to be a google-cloud-bigquery-core package that doesn't depend on pyarrow, though)

But the question is also, why does it install such an old ve

[2020-08-20 07:11] jorisvandenbossche commented on #35803
To be clear, it's only a regression on master, after 1.1 (so only a target for 1.2, not 1.1.1) ?

[2020-08-20 07:13] jorisvandenbossche commented on #35803
Quite likely cause from that commit range: https://github.com/pandas-dev/pandas/pull/35532

[2020-08-20 07:15] akshaymanu007 opened #35817 "BUG: error in reduction.pyx file while building pandas from source with setup.py file"
I am compiling pandas1.10 from source with the help of setup.py

It is showing me following error in reduction.pyx file

        self.orig_data = self.buf.data
        self.orig_len = self.buf.shape[0]
        self.orig_stride = self.buf.strides[0]

        self.buf.data = self.values.data
               ^
------------------------------------------------------------

pandas/_libs/reduction.pyx:313

[2020-08-20 07:18] phizzuela commented on #35807
Using the expand and n arguments in the pd.str.split() sounds like it should always return something of length n+1. Also it is pretty confusing that in this example the split only works when the last row of the example df is present. If expand together with n, would fill up with NaN values, everything would work, independent what what follows in the df.

[2020-08-20 07:19] jorisvandenbossche commented on #35803
cc @lidavidm @jbrockmendel

Looking at the PR, it might also be caused by the added `copy` ? (the regression only happened for the case of UTC timezone, see [view](https://pandas.pydata.org/speed/pandas/index.html#tslibs.tz_convert.TimeTZConvert.time_tz_convert_from_utc?p-size=1000000&p-tz=datetime.timezone.utc&p-tz=datetime.timezone(datetime.timedelta(0%2C%203600))&p-tz=%3CDstTzInfo%20'US%2FPacif

[2020-08-20 07:21] bashtage commented on #35817
You need to use Cython < 3.

[2020-08-20 07:21] jorisvandenbossche commented on #35804
I suppose https://github.com/pandas-dev/pandas/issues/35805 might be related to the same then?

[2020-08-20 07:22] bashtage commented on #35817
xref #35675

[2020-08-20 07:23] #35817 closed

[2020-08-20 07:24] #35138 closed

[2020-08-20 07:37] akshaymanu007 commented on #35817
I am using 3.0a6 version but still it is giving error

[2020-08-20 07:45] bashtage commented on #35817
That is Cython 3.  You need to use Cython < 3 which means Cython 0.29.x (usually 0.29.21).

[2020-08-20 08:20] 0sewa0 opened #35818 "BUG: Dataframe.apply(func, axis=1) when func returns a Series, apply replaces all the rows in the Dataframe for the result of func(first_row)"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
In pandas '1.1.0' I encountered an issue when using `Dataframe.apply(func, axis=1)` to dynamic

[2020-08-20 09:46] maozi07 opened #35819 "QST:Time index problem in version 1.1.0"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-08-20 10:48] diatomicDisaster commented on #16772
I know this issue is old and closed, but it's the only place I could find where it's been discussed. Is there a way to prevent read_fwf from trimming whitespace? In my particular case I'm trying to split a fixed-width string based on the index of the character in that string. If the first characters are whitespace then this breaks the indexing.

The way I see it: a file where the character widths

[2020-08-20 11:22] jreback commented on #35818
this is a duplicate issue and patched for 1.1.1

[2020-08-20 11:40] sarthakpan opened #35820 "QST: CSV read issue"
suppose my csv has data
2 83 02
" 12 29
3 82 10
” 38 92
½ 29 39

and so on..

if I use pd.read_csv('file.csv')
then it gives EOF error.
I tried encoding UTF-8 but it doesn't worked.
The only way i figured out is by manually opening the file.
Please suggest an idea how to open this kind of Measurement kind of Data file.

[2020-08-20 11:42] bashtage commented on #35820
That single double quote is a problem.

[2020-08-20 12:23] sarthakpan commented on #35820
I want my pandas Dataframe should contain every character as a single character
pandas df should look like this:
0 | 1 | 2
-----------
2 | 83 | 02
" | 12 | 29
3 | 82 |10
” | 38 | 92
½ | 29 | 39

[2020-08-20 12:27] bashtage commented on #35820
Have you tried setting the `sep` to white space? Is your file really fixed width?  It is is, you might use `read_fwf`

[2020-08-20 12:30] lidavidm commented on #35803
Probably because of the copy. As originally written, the patch did not involve the copy, if that's worth testing. UTC might be a fairly common timezone to run into as well.

(Side note, that's some super impressive benchmark infrastructure!)

[2020-08-20 13:12] simonjayhawkins commented on #35804
Thanks @dsaxton will look soon

[2020-08-20 13:24] MPvHarmelen commented on #11373
I wrote a wrapper around `loc` that implements this and exports it as `loc_by_level_name`, but I guess it would be best to just add it to the functionality of `loc`.

https://github.com/pandas-dev/pandas/issues/11373

As of now it does getting and setting on any dimension, but not deleting (as it didn't seem like `loc` supported complex selection for deletion either):

[code]

[2020-08-20 13:50] simonjayhawkins commented on #29442
heads up: moved off 1.1.1 milestone

[2020-08-20 13:57] simonjayhawkins commented on #35753
moving off 1.1.1, associated PR closed

[2020-08-20 14:31] simonjayhawkins commented on #35489
planning to tag locally once #35801 merged and backported

[2020-08-20 15:33] VirosaLi opened #35823 "CI/DOC: unpin gitdb, use gitdb instead of gitdb2"
The developers of gitdb have regained their original PyPi account. And they have moved back to the package name gitdb from gitdb2. See [gitpython-developers/gitdb/issues/59](https://github.com/gitpython-developers/gitdb/issues/59).

[2020-08-20 15:39] simonjayhawkins commented on #35683
heads up: associated PR moved off 1.1.1

[2020-08-20 15:43] simonjayhawkins commented on #35489
open regressions moved to 1.1.2 https://github.com/pandas-dev/pandas/milestone/76 (will open tracking issue shortly)

[2020-08-20 15:55] jbrockmendel commented on #35803
It makes sense that the copy would hurt perf, but we would still expect the UTC case to be more performant than any of the other cases, which it no longer is

[2020-08-20 16:03] akaihola commented on #35816
Thanks for your reply @arw2019!

I did provide a copy-pastable code sample (the second code block from the top).

I also provided the contents of the Excel spreadsheet exported as CSV (topmost code block).

While Excel files themselves are not "copy-pastable", I still wanted to provide the exact files I had this problem with, in case someone wants to just download them instead of copy-pasting the

[2020-08-20 16:30] sarthakpan commented on #35820
Yes, I have tried, you just copy-paste that data and try to import into DF you will understand my problem. My problem is with those non-standard characters in the first column.

[2020-08-20 17:05] pitmanst opened #35826 "BUG: Unable to build Pandas on z/OS when using xlc"
- [x] I have checked that this issue has not already been reported

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

When building Pandas using xlc on z/OS, it errors out with the following message:

[code]

This seems to be due to xlc++ needing specific options

[2020-08-20 17:12] bashtage commented on #35826
Do you have an old xlc or are you up to date? I think older xlc is likely
missing some c++ features required.

On Thu, Aug 20, 2020, 18:10 Jeff Reback <notifications@github.com> wrote:

[2020-08-20 17:22] Tazarus opened #35827 "BUG: Same Directory copy.py incompatibility."
#### Problem description
If you are importing pandas into a script which shares a folder with another python script named copy.py pandas fails to import and the script cannot execute.

I would recommend changing the duplicate name in the pandas code to something less accidentally callable (perhaps simply add a few numbers or symbols afterward), but overall this is a very minor issue that I suspect

[2020-08-20 17:31] lidavidm commented on #35803
This is the patch without the copy:

[code]

[2020-08-20 17:35] bashtage commented on #35827
This is python. I don't think there is just to do. I often get hit by this in Pycharm when I work on modules in io where json and io both conflict.

[2020-08-20 17:40] Tazarus commented on #35827
So does that mean is essentially a fundamental python naming conflict and isn't something that's 1.) really work fixing, or 2.) possible to fix easily?

[2020-08-20 17:50] TomAugspurger commented on #35827
It's a fundamental python thing. In general you shouldn't have modules that mirror names of packages (especially from the standard library). Typically you'd name it `copy_.py`.

[2020-08-20 17:50] #35827 closed

[2020-08-20 17:57] pitmanst commented on #35826
I'm using the latest version of xlc & xlc++ to build Pandas currently.

For reference, there's two different c & c++ compilers currently supported on z/OS. There's xlc/xlc++, and xlclang/xlclang++. xlc Only has moderate support of c++11, which fails to build Pandas currently - I have a patch which will be ready shortly which works around this. I also tested xlclang/xlclang++, and it works fine for

[2020-08-20 18:18] Tazarus commented on #35827
Cool, thanks guys for the quick replies.

Apologies for any wasted time.

Cheers.

[2020-08-20 20:11] jreback commented on #35489
@simonjayhawkins you should be good on PyPi.

[2020-08-20 20:31] kyprifog commented on #21664
I think I am actually running into this behavior unexpectadly using group by in dask with "apply".   I'm not sure why having this on by default is preferred.

[2020-08-20 20:38] simonjayhawkins commented on #35489
docs uploaded https://pandas.pydata.org/pandas-docs/version/1.1.1/index.html

(once wheels are uploaded will switch to stable)

[2020-08-20 20:41] Macfly opened #35830 "API: indexing DatetimeIndex with date object"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-20 20:43] simonjayhawkins opened #35831 "RLS: 1.1.2"
[![Manual Release](https://github.com/simonjayhawkins/pandas-release/workflows/Manual%20Release/badge.svg?branch=simonjayhawkins-patch-2)](https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Manual+Release%22)

Tracking issue for the 1.1.2 release.

https://github.com/pandas-dev/pandas/milestone/76

Please do not remove/change milestones from these issues without a note e

[2020-08-20 21:19] simonjayhawkins commented on #35489
wheels on PyPi

[2020-08-20 21:26] #35813 closed

[2020-08-20 21:29] simonjayhawkins commented on #35489
stable docs switched to 1.1.1

link on home page autoupdated for the past few releases https://pandas.pydata.org/

will pick this up again and investigate tomorrow

[2020-08-20 23:16] rhshadrach commented on #35807
Ah - I see. I had previously missed the `expand` keyword. Thanks for pointing that out. The way I read the docs:

it seems to me your expectation is what should happen. That makes this a bug: when `n=2` and `expand=True`, the shape returned should _always_ have 3 columns (one plus the number of splits).

[2020-08-20 23:36] rmsmani commented on #14460
@jorisvandenbossche
Can I take this?

[2020-08-21 00:25] dsaxton commented on #35762
The second error triggered after the workaround looks to be a regression caused by https://github.com/pandas-dev/pandas/pull/33400.

cc @jbrockmendel

[2020-08-21 01:50] jrmistry commented on #26219
Hi guys, I am coming across a very similar problem related to the .sum() function. I am not sure if it the exact same thing but
definitely an issue with using the .sum() function over boolean values

Core problem: using the .sum() function over a groupby of a dataframe of boolean values returns the results as floats instead of integers. I can quick fix it by doing .applymap(int) but I would rather

[2020-08-21 03:02] BhavyaGulati commented on #35816
take

[2020-08-21 07:28] on55 commented on #35521
today i upgraded pandas to 1.1.1, this issue still exist.

[2020-08-21 07:38] Marmeladenbrot commented on #7986
Any update on this?

[2020-08-21 16:42] dsaxton opened #35843 "REGR: Series.__repr__ is broken for SparseDtype("datetime64[ns]")"
Regression due to https://github.com/pandas-dev/pandas/commit/1fa063552eef57ecec9c6a867ff2ae4bb3961e3d :

[code]

[code]

xref https://github.com/pandas-dev/pandas/issues/35762

[2020-08-22 03:44] kyleabeauchamp opened #35846 "BUG: pd.read_parquet fails for wide parquet files and pyarrow 1.0.X"
I recently tried to update my pyarrow from 0.17.1 to 1.0.0 and I'm encountering a serious bug where wide DataFrames fail during read_parquet.  Small parquet files (m=10000) read correctly, medium files (m=40000) fail with a "Bus Error: 10", and large files (m=100000) completely hang.  I've tried python 3.8.5, pandas 1.0.5, pyarrow 1.0.0, and OSX 10.14.

The driver code and output is below:

[code]

[2020-08-22 05:52] iamlemec opened #35847 "BUG: inconsistent naming when combining indices of various types"
This is building off of some issues seen in #13475 and subsequent PR. Essentially, the resulting index name when combining existing named indices with `union_indexes` is not consistent across index types. This primarily affects `concat` and the `DataFrame` constructor, which call `union_indexes`.

When combining named indices, there are three main name resolution rules I can think of:
- `ignore`:

[2020-08-22 08:18] nullhack opened #35849 "ENH: Enable `append mode` to JSON lines"
#### Is your feature request related to a problem?

[JSON Lines](http://jsonlines.org/) format allow appending to an existing file in a easy way (new line with valid JSON string). Historically `DataFrame().to_json` didn't allow`mode="a"` because It would introduce complications of reading/parsing/changing pure JSON strings. But for JSON lines It's done in an elegant way, as easy as a CSV files.

T

[2020-08-22 18:01] charlesdong1991 opened #35856 "CI: specified bucket does not exist in TestParquetPyArrow.test_s3_roundtrip_explicit_fs"
might be related to #35655

[code]

[2020-08-22 18:48] matthewgilbert opened #35858 "BUG: Datetime MultiIndex Regression"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The problem stems from `pandas.DatetimeIndex.get_loc` raising a `InvalidIndexError` in `1.*`

[2020-08-22 22:53] rhshadrach opened #35860 "DEPR: Deprecate as_index in groupby"
Should we deprecate using `as_index` in groupby? As the docs say, using `as_index=False` should only impact reductions. Here, my expectation is that a line such as

    df.groupby(keys, as_index=False).op(...)

should always be equivalent to

    df.groupby(keys, as_index=True).op(...).reset_index()

It seems quite easy for the user to do so if they desire, and this would simplify the groupby inte

[2020-08-23 12:34] armeros opened #35863 "KeyError using custom agg function"
Hi,

Suppose I have a dataframe of some stock price where the column 'Open' is the 0th column and 'Close' is the 3rd column. Suppose further that I want to find the maximum difference between Close and Open price. That can be done easily without using the agg method, but let me show what the error is when I use them.

[code]

Both work as to replace the 0th column, namely 'Open', and return the ma

[2020-08-23 23:41] jbrockmendel opened #35865 "BUG: ser[:] = ["a", 1] casts 1 to "1""
[code]

Looks like we call `np.array(ser.values)` and the cast happens in there.

[2020-08-24 00:52] SamRWest commented on #16529
@jreback I understand that there needs to be specific conditions for `inplace` to actually work. I've profiled my `update()` call, and it's definitely halving memory compared to a standard `join()`, presumably because my dataframe's dytpes are all floats. My point was that this (dataframe of a single dtype) is an extremely common case in data science work, which I believe is one of Pandas main use

[2020-08-24 04:11] changwn commented on #11493
This works! I write csv using R language and try to read it in python. The first line should have the maximum length for all lines.

[2020-08-24 07:38] blinkseb commented on #22305
Hello guys,

It looks like this bug is back in business in the latest version, but a bit harder to trigger:

<details>
<summary>pandas versions</summary>

INSTALLED VERSIONS
------------------
commit           : f2ca0a2665b2d169c97de87b8e778dbed86aea07
python           : 3.8.5.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.7.15-200.fc32.x86_64
Version          : #1 SMP

[2020-08-24 08:31] simonjayhawkins opened #35868 "CI: TestParquetFastParquet::test_s3_roundtrip on Windows py37_np16/Windows py38_np18"
https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=40833&view=logs&j=404760ec-14d3-5d48-e580-13034792878f&t=f81e4cc8-d61a-5fb8-36be-36768e5c561a&l=23

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=40833&view=logs&j=4b4d380c-92b5-58cf-5b80-2c6c9b1d5805&t=8eab1181-1335-58ed-7ed5-a271d9d86005&l=23

[2020-08-24 09:06] simonjayhawkins commented on #35868
closing as duplicate of #35856.

[2020-08-24 09:06] #35868 closed

[2020-08-24 09:54] nrcjea001 opened #35869 "BUG: Groupby rolling count with datetime not working correctly"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-24 10:08] onshek opened #35870 "DOC: pandas.Series.transform"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/reference/api/pandas.Series.transform.html?highlight=pandas%20series%20transform#pandas.Series.transform

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

#### Suggested fix for documentation

list of functions and/or function names, e.

[2020-08-24 10:41] rbubley opened #35871 "BUG: Regression in pd.read_sql_query between 1.0.5 and 1.1.0"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2020-08-24 11:24] simonjayhawkins commented on #35762
issue raised. xref #35843 Thanks @dsaxton

[2020-08-24 11:24] simonjayhawkins commented on #35843
cc @jbrockmendel

[2020-08-24 11:41] armeros commented on #35863
Thanks for your answer.  It is true as you typed that I don't need to do these complicated step, but just suppose that I need to use it.  I have put the code to get the data so everyone can try to see the error.

[2020-08-24 11:48] jorisvandenbossche commented on #35846
@kyleabeauchamp Thanks a lot! Closing here then

[2020-08-24 11:48] #35846 closed

[2020-08-24 11:56] jreback commented on #22305
pls raise a new issue with the example

[2020-08-24 14:43] jpuerto-psc commented on #15276
For future readers on this, there are two options to use a 'batch_mode' for to_sql. The following are the two combinations:

`create_engine(connection_string, executemany_mode='batch', executemany_batch_page_size=x)`

or

`create_engine(connection_string, executemany_mode='values', executemany_values_page_size=x)`

Details on these arguments can be found here: https://docs.sqlalchemy.org/en/13/dia

[2020-08-24 15:25] cmulders opened #35873 "BUG: PythonParser does not use decimal separator when usecols and parse_date are specified"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-24 15:35] bashtage commented on #35873
The issue appears that `decimal` is ignored.  For example,

[code]

[2020-08-24 16:19] MarcoGorelli commented on #35870
sure, feel free to submit a PR

[2020-08-24 16:42] asishm commented on #35521
I tried to do a `git bisect` on this

#34389

[code]

[2020-08-24 16:42] zxymath commented on #3729
There are some problem when groupby category column
[code]

[code]

[2020-08-24 16:46] cmulders commented on #35873
Decimal is not ignored, otherwise the example should not work.

One of the three options (engine, usecols, parse_dates), can be commented out, and both Series will be float64. Very strange behaviour.

[code]

[2020-08-24 17:38] Liam3851 commented on #35871
This may be linked to the changes from #34211 and #34212. The what's new entry was this:

[code]

Does the previously-working code with the escaped % break? #35484 may be related.

[2020-08-24 18:10] jbrockmendel commented on #35843
A few possible fixes:

1) revert the dtype.kind == "M" check
2) change SparseDtype.kind to something other than "M" in this case
3) fix later-in-the-process code to accept the SparseDtype.

1) is certainly the easiest change; 3) might be nice to get in place longer term

[2020-08-24 18:26] rbubley commented on #35871
I agree, it does look likely that this stems from the changes following #34212.

The previously-working code does break - specifically, as the double % gets passed through to the database, the middle column of `data` is now filled with NULLs, rather than dates - i.e. no error is generated, but the returned data is now different.

[2020-08-24 18:29] hliatrussellinvestments opened #35876 "groupby AssertionError with datetime column name"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-24 19:23] sbrugman commented on #35793
@jorisvandenbossche At this moment all other types I have tested (`is_complex_dtype`,  `is_bool_dtype`, `is_unsigned_integer`) all return their value based on the dtype of the SparseArray, where `is_categorical_dtype` does not. Users expect consistent behaviour.

The case that you made that a dtype check (e.g. `is_***_dtype`) should be informative to the API of that series makes sense to me. The u

[2020-08-24 19:57] dsaxton commented on #35843
Option 2 seems to be along the lines of @jorisvandenbossche suggestion of potentially treating sparse dtypes as "just sparse" (a similar question came up in regard to problems with considering sparse categorical to be categorical). You would presumably still have SparseDtype.subtype.kind == "M" if it's needed.

[2020-08-24 20:50] dsaxton commented on #35876
Thanks @hliatrussellinvestments, can you try to make this example more minimal (there's a lot of code here that looks unrelated to the bug)?

This worked in 1.0.5 and the regression seems to be due to 29c820fad0c200a61c8462ba88afe3b3ab1878b2.

cc @jbrockmendel

[code]

[2020-08-24 21:15] dsaxton commented on #35876
I think this is essentially the problem (it's an index issue and not one with groupby per se):

[code]

[code]

Related issue https://github.com/pandas-dev/pandas/issues/35847

[2020-08-24 21:21] bashtage commented on #35873
When `decimal=","` then "9.1" should be a string (object) while "9,1" should be a float.  In the testing I did above, it seemed like "9.1" was being converted to float even when `decimal=","`.

[2020-08-24 21:26] cpdean commented on #17202
it's been over 3 years since someone called dibs on this, but if you want a quick workaround, I was able to project the index col to its own column with a '.reset_index()` after my aggregation:

[code]

[2020-08-24 22:25] jbrockmendel commented on #35690
I think the important thing is internal consistency.  date objects are not allowed for DatetimeIndex inequality comparisons, so shouldn't be allowed here.  (or the comparison behavior should be changed xref #35466)

I think that is a bug, and that we should _not_ be allowing naive timestamps here.  there was a long discussion a couple years back that resulted in allowing naive _strings_, but i don

[2020-08-24 23:00] RhysU commented on #35690
If naive strings contain the same information as naive timestamps, I don't see why they should be treated differently (though I'll defer to precedent that I don't know). An object is naive or it is not.

[2020-08-24 23:38] matthewgilbert opened #35878 "BUG: MultiIndex assignment via loc"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

The behavior of assignment via `loc` seems to have changed as of `1.0.0`.

[code]

[code]

I would expect this to behave the same as in in `0.25.3` which would assign not

[2020-08-24 23:42] #35148 closed

[2020-08-24 23:42] #35294 closed

[2020-08-24 23:45] #35876 closed

[2020-08-24 23:47] jibberishclient opened #35880 "QST: Date Overlapping Ranges"
I've been trying to learn how to use Pandas, but I'm thoroughly confused about where in the API to find methods that can aggregate data conditionally based on sign across date ranges. I have a data frame like so:

[code]
The Date column is an index of course. What I want to do is basically partition this data by year. Once partitioned by year, I want to group consecutive rows by the sign of the ch

[2020-08-24 23:48] jibberishclient commented on #35880
I figured out how to group by year using `df.groupby(df.index.year)` but idk where to go from there.

[2020-08-25 00:42] jreback commented on #35880
you should post a copy pastable example on stack overflow for usage questions

the 10 minutes to pandas has an example of iter tools group by that will help with this

[2020-08-25 00:42] #35880 closed

[2020-08-25 01:36] jibberishclient commented on #35880
I already posted to StackOverflow prior. The biggest issue is filtering groups if they don't have a common sign.

[2020-08-25 04:18] 1994Shankar opened #35886 "QST:"
import pandas as pd
import xlrd
book = xlrd.open_workbook("Excel_to_panda.xlsx")

getting below error:-

/usr/local/bin/python3.8 /Users/bhabanishankarkar/PycharmProjects/untitled/hello.py
Traceback (most recent call last):
  File "/Users/bhabanishankarkar/PycharmProjects/untitled/hello.py", line 71, in <module>
    book = xlrd.open_workbook("Excel_to_panda.xlsx")
  File "/Users/bhabanishankarkar/

[2020-08-25 05:12] mroeschke commented on #35690
I am not 100% knowledgeable of what `datetime.date` support should be valid in pandas, but it appears that https://github.com/pandas-dev/pandas/issues/31501 is a nod in the direction that date objects should be okay for indexing therefore `get_slice_bound` is also indexing related and should be supported?

[2020-08-25 05:37] #35870 closed

[2020-08-25 06:31] jorisvandenbossche commented on #35489
@simonjayhawkins Thanks a *lot* for the release!

[2020-08-25 06:31] #35489 closed

[2020-08-25 07:01] gberth commented on #21353
Sorry, no difference. If I ensure reading files twice in the same thread, it does not consume or hold more memory. Read in two different threads, and both holds 2GB+ as long as the threads live (at least looks like that to me)

[2020-08-25 07:37] blinkseb opened #35888 "BUG: pd.to_datetime() raises InvalidIndexError with Null-like arguments"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-25 09:04] cwkwong opened #35889 "BUG: groupby dropna=False with nan value in groupby causes ValueError when apply()"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas, version `1.1.1`

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`ValueError` raised on `dfg.apply(lambda grp: ...)`; with the following stack

[2020-08-25 09:39] malapradej opened #35890 "BUG: ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-25 09:44] bashtage commented on #35890
Can you provide a copy-pastable demo of the issue by editing your post.

[2020-08-25 09:47] simonjayhawkins commented on #35791
closed in #35814

[2020-08-25 09:47] #35791 closed

[2020-08-25 10:10] simonjayhawkins commented on #35521
cc @jbrockmendel

[2020-08-25 10:41] cwkwong commented on #35889
I've done some local tweaking in my pandas in the file `pandas/core/reshape/concat.py`. Starting from line 618;

[code]

then the `ValueError` is not raised.

[2020-08-25 11:01] TomAugspurger commented on #35856
@martindurant will you have time to look into this? I'm unsure if it's related to your recent moto changes.

[2020-08-25 11:21] TomAugspurger commented on #35489
Thanks Simon!

[2020-08-25 11:26] gbrova opened #35891 "DOC: df.to_sql `chunksize` seems to be ignored by default."
#### Location of the documentation

https://dev.pandas.io/docs/reference/api/pandas.DataFrame.to_sql.html

#### Documentation problem

Docs for `chunksize` state that "By default, all rows will be written at once".  However, this seems to only be true if `method="multi"`, even though `method=None` by default.

Experimentally, I notice a substantial speedup if I set `method="multi"` and `chunksize`

[2020-08-25 11:27] gbrova commented on #35891
FWIW I tested the above on `pandas 1.1.1` and `python 3.7.5`.

[2020-08-25 12:36] simonjayhawkins commented on #35816
Thanks @akaihola for the report.

can reproduce. on master

[code]

expected
[code]

[2020-08-25 12:39] simonjayhawkins commented on #35816
a similar issue exists for `read_csv` #32930

[2020-08-25 12:43] simonjayhawkins commented on #32930
closing as duplicate of #9435

[2020-08-25 12:43] #32930 closed

[2020-08-25 12:53] simonjayhawkins commented on #35818
[code]

[2020-08-25 12:53] #35818 closed

[2020-08-25 13:03] charlesdong1991 commented on #35889
thanks, @cwkwong do you wanna make a PR?

[2020-08-25 13:49] martindurant commented on #35856
Are any tests being run in parallel here? That was suggested elsewhere as a possibility, and would for certain cause races.

[2020-08-25 13:53] TomAugspurger commented on #35856
Yes, I think that is in parallel. I'll try putting up a PR marking them as single to see if that fixes things.

[2020-08-25 14:02] martindurant commented on #35856
The fixture could be changed to produce a random bucket for each test function, which would take some work to get the right kwargs to each s3 call.

[2020-08-25 14:12] onshek commented on #35811
I find this is a bug actually, the docs for `pd.Series.transform` is the same with `pd.DataFrame.transform` as
[code]
And I get this:
[code]

[2020-08-25 14:32] notestaff opened #35892 "DOC: pandas.Series.filter talks about dataframe not series"
#### Location of the documentation
https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Series.filter.html

[this should provide the location of the documentation, e.g. "pandas.read_csv" or the URL of the documentation, e.g. "https://dev.pandas.io/docs/reference/api/pandas.read_csv.html"]

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.or

[2020-08-25 14:36] TomAugspurger commented on #35856
I tried that briefly, but it's a bit hard to do the synchronization since we need to start the moto server exactly once, and it needs to live until all the workers are done.

Probably best to just mark these as single.

[2020-08-25 15:42] jbrockmendel opened #35896 "BUG: DataFrame([]).squeeze() returns DataFrame instead of Series"

[2020-08-25 15:47] biswabandhu21 commented on #35622
Hi ,

Is the issue fixed I am still getting the error , when trying to install pandas in docker .

version : pandas-1.1.1

[2020-08-25 15:53] jbrockmendel commented on #35886
Have you tried opening it with openpyxl?

[2020-08-25 15:58] jreback commented on #35622
1.2

[2020-08-25 16:19] TomAugspurger commented on #35896
What's the use-case here?  It's a bit unclear what the best outcome should be, since squeeze operates on length-1 axes, but not >1. I'm not sure what length-0 axes should do.

NumPy has this behavior,

[code]

which perhaps matches ours?

[2020-08-25 16:22] TomAugspurger commented on #35892
Thanks. Many of our docstrings are shared between Series and DataFrame. This one mentions the different behavior for Series and DataFrame.

We'd certainly take improvements to clarify this (maybe a Series example), but we have other issues for general improvements to the docstring.

[2020-08-25 16:22] #35892 closed

[2020-08-25 16:31] jbrockmendel commented on #35896
Fair enough

[2020-08-25 16:31] #35896 closed

[2020-08-25 16:35] analog-cbarber opened #35897 "Regression in pandas 1.1.0: no longer allows adding a timestamp to timedelta range to create a datetime range."
Under pandas 1.0.5:

[code]

Under pandas 1.1.0:

[code]

This error really makes no sense given the above code.

Obviously an unintended side-effect of some other fix.

[2020-08-25 16:49] jbrockmendel commented on #35521
The line `position[position["startdate"] == 0]` goes through `position.take`, which calls `self._mgr.take`, which calls `_consolidate_inplace`, which fails to invalidate the `_item_cache`.

One fix is to restore the `self._consolidate_inplace` done in `NDFrame.take` that was removed in #34389.  Another (my preferred long-term solution) is to remove the `self._consolidate_inplace` done in `BlockMan

[2020-08-25 16:55] biswabandhu21 commented on #35622
when is the latest version released. The latest version shows as 1.1.1
Refered to following link
https://pandas.pydata.org/

[2020-08-25 19:00] jreback commented on #35622
1.2 is not released yet

[2020-08-25 19:02] jreback commented on #35897
try on 1.1.1 which patched this i think

[2020-08-25 19:07] analog-cbarber commented on #35897
Fails on 1.1.1 as well. That is actually when I first noticed the problem.

[2020-08-25 19:25] minchulkim87 commented on #27554
Hi
I have to deal with XML data for work, and I love pandas. If a pd.read_xml() was implemented it would be amazing.
I had to develop something quick, so I made this
https://github.com/minchulkim87/pandas_read_xml
I am not advanced enough to contribute to something as awesome as pandas, but if it is of any use then this work has been worth it.

[2020-08-25 20:15] jorisvandenbossche commented on #35897
Yes, can confirm this fails on master as well.

[2020-08-25 20:16] jorisvandenbossche commented on #35897
Thanks for the report @analog-cbarber !

(cc @jbrockmendel)

[2020-08-25 20:32] pythonic2020 commented on #35684
I got the same error with this code:

[code]

Result (note error at top):

![Untitled](https://user-images.githubusercontent.com/61034042/91224548-7f88f900-e6df-11ea-94e3-96f07147cb62.png)

pd.show_versions() output:

INSTALLED VERSIONS
------------------
commit           : f2ca0a2665b2d169c97de87b8e778dbed86aea07
python           : 3.7.8.final.0
python-bits      : 64
OS               : Windows
OS

[2020-08-25 20:58] Lama09 commented on #15354
Will this also work for a custom window using the `get_window_bounds()` approach?

[2020-08-25 21:03] rhshadrach commented on #35782
I believe this is a duplicate of #31063.

The issue is that `apply` attempts to transform the result differently in the cases where all the indices are the same or some are different. This leads to different behavior when there is a single row vs multiple rows. Certainly this is something that needs to be improved on - PRs always welcome!

[2020-08-25 21:19] asishm commented on #35897
#32377

[2020-08-25 21:28] rhshadrach commented on #35811
@onshek - yes, agreed. The question then is, what should be the output? A dataframe with columns being the keys of the dictionary seems reasonable to me, but I can't find any documentation saying/showing this. I think that fits in well with `DataFrame.transform` where the keys subset the columns (and, thus, are the column names in the results)

[2020-08-25 21:30] jrmistry commented on #12649
Hello all,

Not sure if my issue is the same but posting here for suggestions.

Core problem: the pd.to_datetime function does not respect original values even if I set errors = 'ignore'

See example below. The column of values is stored in a UTC timestamp in milliseconds. When I try to convert it to a datetime object, pandas automatically fills in the NaN values with NaT even thought I specifical

[2020-08-25 22:52] jbrockmendel commented on #35897
Two things at work here:

1) `TimedeltaArray._add_datetimelike_scalar` should use `DatetimeArray._simple_new` instead of `DatetimeArray`, which will skip freq validation
2) It looks like the `freq` we get from the `timedelta_range` here is incorrect due to rounding errors

[2020-08-26 01:11] PannuMuthu opened #35901 "BUG: Transformer Second Layer Access"
pretrained_weights='bert-base-uncased'
tokenizer = tokenizer_class.from_pretrained(pretrained_weights)
model = model_class.from_pretrained(pretrained_weights)

`features = []
input_ids = torch.tensor([self.tokenizer.encode(phrase, add_special_tokens=True)])
with torch.no_grad():
    # Models outputs are tuples
    outputs = self.model(input_ids)
    last_hidden_states = outputs[0]
    avg_pool_hid

[2020-08-26 01:11] #35901 closed

[2020-08-26 01:19] iamlemec commented on #35847
Ok, seems like these changes are feasible. Working through getting testing 100% now. Just to double check, we're saying that all of `union`, `intersection`, `difference`, and `symmetric_difference` should use consensus naming? It seems that `indexes/test_base.py::TestIndex::test_intersection_name_preservation` currently expects naming to be unanimous for `intersection`, so I just want to make sure

[2020-08-26 01:27] gerardsyd commented on #33950
This also doesn't work for NaT either. For example in below:

[code]

[2020-08-26 02:16] cwkwong commented on #35889
Sure @charlesdong1991 , I'll give it a go. Cheers.

[2020-08-26 02:21] #35856 closed

[2020-08-26 02:48] dsaxton commented on #35878
Thanks @matthewgilbert, I think this boils down to a problem with MultiIndex.get_loc. Currently we have
[code]
which is obviously wrong. I think @jbrockmendel has investigated this before, e.g., could be related to comments here https://github.com/pandas-dev/pandas/pull/31358. In the example above it seems idx.get_loc([]) should actually be raising (doesn't seem like valid input given the docstrin

[2020-08-26 03:06] onshek commented on #35811
@rhshadrach I think the main point is `axis`:
[code]
And `s.transform([np.sqrt, np.exp], axis=1)` can be designed to (but now it fails)
[code]

[2020-08-26 03:42] jbrockmendel commented on #35878
Agreed get_loc with a list should always raise

[2020-08-26 03:54] jbrockmendel commented on #35690
You're right.  Note that #31501 was closed by #31521, where I commented that the change was OK but should be deprecated for internal consistency.

We're inconsistent because passing a date object to `dti.get_loc` or `ser.loc` or `ser.__getitem__` raises while using a slice containing a date object is accepted (by some slicing methods but not others per this issue)

[2020-08-26 04:05] Abimael-DP commented on #25730
I changed from this:
[code]

to this:
[code]
where 'date' is a pandas series of dates in string type before the casting.

[2020-08-26 04:21] rhshadrach commented on #17091
This is essentially a duplicate of #34656, which was closed by #35314. I've confirmed that this is fixed on master. However, I think tests should be added using `filter`. One can simply parameterize the tests in #35314 to use both `filter` and `apply`.

[2020-08-26 06:58] AndreZoro commented on #35807
Call it an expansion inspired by the incorrect documentation or a bug. It would be super nice to have the possibility to enforce the number of return values. In _pandas/core/strings.py_ you can find this note:
`
    Notes
    -----
    The handling of the 'n' keyword depends on the number of found splits:

    - If found splits > 'n',  make first 'n' splits only
    - If found splits <= 'n', make

[2020-08-26 07:12] vfilimonov opened #35902 "BUG: to_parquet does not accept pathlib.PosixPath if partition_cols are defined"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`to_parquet` method raises TypeError when using `pathlib.Path()` as an argument in case when

[2020-08-26 07:34] ayushsom96 opened #35903 "Datetime error"
### Can you please let me know how I can correct the following error
**CODE:**
tx_data['InvoiceDate'] = pd.to_datetime(tx_data['InvoiceDate'])
tx_uk = tx_data.query("Country=='United Kingdom'").reset_index(drop=True)

#create 3m and 6m dataframes
tx_3m = tx_uk[(tx_uk.InvoiceDate < date(2011,6,1)) & (tx_uk.InvoiceDate >= date(2011,3,1))].reset_index(drop=True)
tx_6m = tx_uk[(tx_uk.InvoiceDate >= da

[2020-08-26 08:12] MarcoGorelli commented on #35903
Thanks for the report - I suspect it's because you've done `from datetime import datetime`. If not, please see here [https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) for how to provide a bug report

[2020-08-26 08:23] MarcoGorelli commented on #35890
This issue brings "needs info" to another level :)

See [https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) for how to write a bug report, will reopen if you write one

[2020-08-26 08:23] #35890 closed

[2020-08-26 08:27] MarcoGorelli commented on #35886
please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your question. Will reopen if you can provide it

besides, this question is unrelated to pandas, which (other than importing it) you don't use in your example

[2020-08-26 08:27] #35886 closed

[2020-08-26 08:41] Arham-Aalam commented on #15988
Agree 'append_skipdupes' should be added.

[2020-08-26 08:58] #35903 closed

[2020-08-26 09:02] ayushsom96 commented on #35903
Thank you @MarcoGorelli. I tried correcting the code to minimalize the errors. However, I'm still stuck with the same line but with a different error. Please review.

[2020-08-26 09:04] nalzok commented on #16529
@toobaz But why not? In other words, what is preventing methods with `inplace=True` from getting re-implemented at some point to use truly in-place operation? If the reason is some technical difficulty or lack of manpower, maybe we should leave the option as-is instead of eliminating the possibility of future improvements.

[2020-08-26 12:44] #35650 closed

[2020-08-26 13:57] #34677 closed

[2020-08-26 15:05] jorisvandenbossche commented on #35902
@vfilimonov thanks for the report!
This is actually an issue with the underlying library being used, pyarrow, so I opened an issue with your description over there: https://issues.apache.org/jira/browse/ARROW-9864

[2020-08-26 15:05] gerritholl opened #35908 "ENH: Arithmetic with Timestamp-based intervals"
#### Is your feature request related to a problem?

It is currently possible to perform arithmetic on an `Interval` iff it is an `Interval` of numbers.  For `Interval` `iv`, `iv - c == Interval(iv.left-c, iv.right-c)`.  This does not work for intervals of `Timestamp`s:

[code]

#### Describe the solution you'd like

I would like that the behaviour that `iv - b == Interval(iv.left-b, iv.right-b)` h

[2020-08-26 15:07] jorisvandenbossche commented on #35902
That said, we could also already on our side in pandas convert the pathlib object into a string.

[2020-08-26 15:41] jbrockmendel commented on #16529
If an actually-inplace implementation becomes available, nothing prevents us from re-introducing the keyword in the future.

[2020-08-26 15:44] simonjayhawkins commented on #35807
or maybe another DataFrame method that allows padding rows and columns something similar to np.pad https://numpy.org/doc/stable/reference/generated/numpy.pad.html

this would have more utility, and avoid a breaking API change on df.str.split(expand=True, n=...)

There is already an `DataFrame.pad` method whose semantics are different enough from NumPy that the `DataFrame.pad` should proably be dep

[2020-08-26 16:00] tacitvenom opened #35909 "BUG: sorting dataframe increases memory usage"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-26 16:08] TomAugspurger commented on #35909
It's coming from the Index. After you sort you don't have a RangeIndex anymore, just a regular Int64Index, which takes more memory. If you specify `memory_usage(index=False)` or reset the index it'll be the same.

[2020-08-26 16:08] #35909 closed

[2020-08-26 16:27] tacitvenom commented on #35909
Updated the description, the issue still persists.

[2020-08-26 16:38] mroeschke commented on #35908
IIRC arithmetic between integers and Timestamp was deprecated + removed some time ago cc @jbrockmendel

[code]

Therefore, I don't think it will be likely to support arithmetic between an Interval with integers and a Timestamp

[2020-08-26 16:43] gerritholl commented on #35908
My intervals contain only Timestamp, no integers.  I want to subtract a Timestamp from another Timestamp.  I hope that isn't deprecated.

[2020-08-26 17:01] mroeschke commented on #35908
Ah sorry, I had copied the incorrect example locally.

Yes, that request sounds reasonable. Given your integer example works, TImestamp arithmetic should work as well.

[2020-08-26 19:08] avinashpancham commented on #22606
take

[2020-08-26 19:41] MarcoGorelli commented on #20944
From what I can tell there's nothing that needs to be done here (besides, there are talks of deprecating `inplace` https://github.com/pandas-dev/pandas/issues/16529 ) and so am closing, please ping if I've misunderstood and I'll reopen

[2020-08-26 19:41] #20944 closed

[2020-08-26 20:23] jetilton opened #35911 "BUG: .astype(int) converts values to negative at large integer values."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

`astype(int)` converts values to negative at 2**31 power and 0 afterwards.

#### Expected Out

[2020-08-26 20:57] rhshadrach opened #35912 "DOC: Aggregate and rename is undocumented"
The function `DataFrame.agg` allows for kwargs to aggregate and rename the results.

    df = pd.DataFrame({'a': [1, 2, 3]})
    print(df.agg(a_new=('a', 'sum')))

results in

           a
    a_new  6

Perhaps I'm missing it, but I can't find it in both the API reference and the User Guide.

[2020-08-26 21:07] rhshadrach commented on #35860
cc @jbrockmendel, @WillAyd, @jreback Any thoughts here?

[2020-08-26 21:13] asishm commented on #35911
`.astype(int)` I believe defaults to numpy's default int which is int32 on Windows

`df["ints"].astype('int64')` produces what you expect

[2020-08-26 21:15] jreback commented on #35911
of course, int32 is limited to about 2B

you are windows so you should be explicit about using int64

[2020-08-26 21:16] #35911 closed

[2020-08-26 21:53] pbjones commented on #35888
I don't know if it's helpful but I also found the same / similar error today with None and to_datetime.  If you are unable to replicate it, I can probably reduce the complexity of mine down (c. 58,000 rows, mixed None with dates)

[2020-08-26 22:26] jbrockmendel commented on #35731
It looks like following the `df["a"].fillna(0, inplace=True)` line, `df._mgr.blocks[2]` is a `Series` object instead of a Categorical object.

[2020-08-26 22:36] jbrockmendel commented on #35731
This is fixed by #35417, though that doesnt yet have a test for this.

[2020-08-26 23:25] jbrockmendel commented on #35860
Do you have a qualitative estimate of how much simplification we'd get?  I'm definitely open to the idea in principal.

[2020-08-27 00:10] jreback commented on #35860
in principal this makes groupby simpler but then again it makes a slightly more verbose syntax and to be honest i wish we wouldn't actually set the index and just make it a column

so either way this is a rather big change

so -0 on deprecating

[2020-08-27 00:56] Liam3851 commented on #35819
Your index is non-monotonic, see these two rows from your output above:

[code]

Since the index is non-monotonic, slicing is going to be ill-defined. I'd suggest you work that out first. If I had to guess, I imagine all your data is from 2020-03-01 to present, and so when you slice from prior to that, _everything_ is greater than your slice bound and so the whole frame gets returned regardless.

[2020-08-27 01:12] maozi07 commented on #35819
Yes, you are right,the index is non-monotonic, all data is from 2020-03-01 to present.But silce working all right with pandas 1.0.5. Pandas 1.1.0 can't work I'v looked for release note not found something about this.Is't a change in pandas 1.1.0? Thanks for your reply

[2020-08-27 02:22] #35762 closed

[2020-08-27 03:05] henrypinkard opened #35916 "BUG: Dataframe slicing incosistent behavior when using & operator"
- [ ] I have checked that this issue has not already been reported.

Not familiar enough with pandas to know what to search for to verify this

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Problem description

There seems to be a bug with indexing into DataFrames using logical a

[2020-08-27 04:35] lygujiaxin opened #35917 "BUG:ValueError: Invalid frequency with date"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample
[code]
metr-la.h5
https://drive.google.com/open?id=10FOTa6HXPqX8Pf5WRoRwcFnW9BrNZEIX
It's index is DataTime type, data is float64 type.

#### Output

[code]

#### Problem description

Pandas seems to work incorrect with hdf5 file create

[2020-08-27 07:22] bashtage commented on #35916
Can you make your example code copy and pastable?

[2020-08-27 07:27] bashtage commented on #35917
Can you provide a copy, pastable and runnable example?  See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports for how to write a helpful bug report.

Also, how was the h5 data created?

[2020-08-27 11:42] nullhack commented on #35849
@gfyoung do you know maintainers/contributors that might be interested in commenting/reviewing this change?

As suggested, I created this issue just to raise discussion (as the PR is already done). But as not many comments were made, I'm trying to get some reviews here before conflicts can affect the PR and It becomes obsolete.

[2020-08-27 12:04] onshek commented on #35912
I'm willing to take it.

[2020-08-27 12:13] OlehKSS opened #35920 "BUG: Inconsistent Behavior in DataFrame.plot for kind='line' and kind='scatter'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
`DataFrame.plot` raises a `ValueError` with message "scatter requires an x and y column" when

[2020-08-27 12:18] Josh-Ring-jisc commented on #35169
An interesting approach to allow both performance and mutability here would be to pad the UTF-8 strings to their maximum possible length. Even considering the memory consumption hit from this, I think it will still be a big improvement over the pure python implementation in terms of memory consumption and performance.

In this way if a character goes from 1 byte to 6 bytes say it's not a problem a

[2020-08-27 13:25] simonjayhawkins opened #35921 "test_datetime64_factorize failing on MacPython windows py_3.8_32/linux py_3.8_32"
test added in #35775

https://dev.azure.com/pandas-dev/pandas-wheels/_build/results?buildId=40968&view=results

[2020-08-27 13:54] Liam3851 commented on #35819
While it may not have _crashed_ I don't think the old version would have _worked_ for a reasonable definition of "work", since slicing is ill-defined for non-monotonic indices. I.e. it's unclear what you even want from df['20200701':] with a non-monotonic index-- do you want all elements after the first element matching '20200701', or do you want just elements with an index value greater than '202

[2020-08-27 13:57] AlexKirko opened #35922 "BUG: Index.sort_values and Series.sort_values reverse duplicate order when ascending=False"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Came across this one while fixing #35584 in #35604. `sort_values` reverses duplicate order wh

[2020-08-27 13:58] AlexKirko commented on #35922
take

[2020-08-27 14:41] ldacey opened #35923 "BUG: Inconsistent results using pd.json_normalize() on a generator object versus list (off by one)"
- [ x] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example
Only one value is returned with this:

[code]
![image](https://user-images.githubusercontent.com/12517855/91455973-528e3f00-e8b5-11ea-9aa4-84d1aba7fc3c.png)

This returns all values though:
[code]
And so does

[2020-08-27 14:56] jorisvandenbossche commented on #33457
I am personally not yet convinced that we should do this for 1.2:

- It has API breaking changes. It is of course difficult to assess the potential impact, but I think we should at least do a bit more effort to think this through before saying that this is OK for 1.2, and shouldn't wait until 2.0.
- It introduces additional copies (and pandas is already copy heavy) when assigning to a single colum

[2020-08-27 15:01] henrypinkard commented on #35916
[code]

But when I do it with a one-liner, it gives a different result--no rows

[code]

[2020-08-27 15:52] MarcoGorelli opened #35925 "CLN remove unnecessary trailing commas to get ready for new version of black"
The new version of `black` is consistent in how it handles the magic trailing commas. So if we upgrade `black` and apply it, lots of files will be changed. However, the diff needn't be so large if we remove unnecessary trailing commas before upgrading.

E.g. in pandas/core/aggregation.py there is

[code]

which has an unnecessary trailing comma.

The new version of `black` would transform this as

[2020-08-27 16:00] jbrockmendel commented on #33457
I consider the internal inconsistency to be a bug, plus reported bugs eg #35731 caused by the current behavior (no doubt that could be fixed with some other patch, but better to get at the root of the problem)

[2020-08-27 16:06] #35756 closed

[2020-08-27 16:24] MarcoGorelli commented on #35925
See https://github.com/pandas-dev/pandas/pull/35930 for an example for how to open a PR for this.

No need to ask for permission to work on this, just choose a few files to work on and open a PR (optionally, you can comment here indicating that you're working on them)

[2020-08-27 16:45] agnesbao opened #35931 "BUG: breaking change in df.replace() from 1.0.5 to 1.1.0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-27 16:49] tathastu871 opened #35932 "BUG:Installation errors on aarch64"
- [+] I have checked that this issue has not already been reported.

- [+] I have confirmed this bug exists on the latest version of pandas.

- [+] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-27 16:53] bashtage commented on #35932
Can you post the relevant issue from the build log?

[2020-08-27 16:54] anmolprogrammer123 commented on #35542
hi, @erfannariman , I want to solve this issue, can I take this issue. I am a beginner in open source and I want to contribute, so it will be great help if you provide some insights about this.

[2020-08-27 16:56] tathastu871 commented on #35932
i have pasted  build log on that site

[2020-08-27 17:00] tathastu871 commented on #35932
Initially errors related to cython arised even when its installed.
After changing commands it solved but somekind of deprecation eŕror arised as shown in build log.

However when installed directly from source pandas seems to installed even with errors and imported properly but no sub modules were installed.

Means if i use pandas.read_html or excel or other it says no such attributes.

I was able

[2020-08-27 17:04] bashtage commented on #35932
Why are you using `--no-binary`?  This appears to be blocking it from building a wheel of pandas.

[2020-08-27 17:05] bashtage commented on #35932
What is the log you see from

`
python setup.py build_ext --inplace --force
`

[2020-08-27 17:18] tathastu871 commented on #35932
As other options failed. gave it a try. But no success

[2020-08-27 17:24] tathastu871 commented on #35932
```http://sprunge.us/5v0EuG```
Pasted on above

[2020-08-27 17:42] galipremsagar opened #35934 "BUG: Inconsistency in `pd.to_datetime` with `orig` parameter according to docs."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-27 17:54] souris-dev commented on #35908
Sounds good, it would be great if I could work on this. Do we need further discussion about this feature?

[2020-08-27 17:57] mroeschke commented on #35908
Go for it @souris-dev

[2020-08-27 18:01] asishm commented on #35916
I haven't run it, but this looks like a case of missing parenthesis when chaining the two masks

Can you try this?

`slidescan_db[(slidescan_db['Batch'] == batch_index) & slidescan_db['Stain'].str.contains('unstained').fillna(False)]`

[2020-08-27 18:01] souris-dev commented on #35908
take

[2020-08-27 18:11] asishm commented on #35923
I don't believe the documentation states that a generator is an accepted value for `json_normalize`
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.json_normalize.html

    data : dict or list of dicts
        Unserialized JSON objects

that said the issue is here:

https://github.com/pandas-dev/pandas/blob/v1.1.1/pandas/io/json/_normalize.py#L269-L279 specifically
[code]
this co

[2020-08-27 19:32] jorisvandenbossche commented on #35731
The bad commit is itself reverting another commit, which means there should be another change that caused the revert to cause this regression ..;)

Anyway, #35417 might be fixing this, but I don't think this bug in itself is tied to the whole "setitem should create new array" discussion.

[2020-08-27 19:43] ldacey commented on #35923
Ahh, I see. This was my first time passing a generator to json_normalize and it seemed like it worked since I had many records.  Perhaps a warning or error could be raised if a generator is passed to this method. Shall I close this now?

[2020-08-27 20:12] jorisvandenbossche commented on #35731
It's `Manager.iset` getting a Series in `Series._maybe_cache_changed`/`DataFrame._maybe_cache_changed`, while I suppose `iset`expects to get internal block-compatible values.

So this was actually caused by https://github.com/pandas-dev/pandas/pull/33028, which changed `Block.should_store` to check dtype, and to no longer check `isinstance(value, self._holder)`, which means that `should_store` now

[2020-08-27 20:44] asishm commented on #35931
#32107

[2020-08-27 20:46] rhshadrach commented on #35860
@jbrockmendel Not sure what kind of qualitative estimate one can give here; here are some that I think are on the more quantitative side. I count 13 instances of branching created within `core.groupby` that depend solely on `as_index`; not much code itself (27 lines). Also, the method `_insert_inaxis_grouper_inplace` could be removed. Of course, it doubles the testing when it comes to reduction me

[2020-08-27 21:21] jorisvandenbossche commented on #35925
I think the easiest way to find them is actually to let black (using the latest version) reformat the file(s), and then check in the diff for which ones the trailing comma can be removed (and then run black again)

[2020-08-27 21:29] feluelle commented on #15276
For postgres users, I recommend setting `method` to a callable:

and call the function from the example code here https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#insertion-method and

Using `COPY FROM` is really a lot faster 🚀

[2020-08-27 21:42] dsaxton commented on #35931
Hmm, this is apparently due to https://github.com/pandas-dev/pandas/blob/a1f605697e44e7668b64841baf4ab2988470d08c/pandas/_libs/interval.pyx#L302

which was added to allow np.timedelta64 + pd.Interval of timestamps in the linked PR: https://github.com/pandas-dev/pandas/pull/32107#discussion_r407097250. Not sure exactly what's happening to be honest but will take a look.

cc @jbrockmendel if any tho

[2020-08-28 00:51] dsaxton commented on #35931
So evidently `__array_priority__ = 1000` has the not so nice side effect of no longer broadcasting things like equality comparisons (which is causing the bug in the OP):
[code]
Probably this behavior is worse than not being able to add np.timedelta64 + pd.Interval(pd.Timestamp, pd.Timestamp).

[2020-08-28 01:08] henrypinkard commented on #35916
Oh yeah, duh.

Thanks!

[2020-08-28 01:08] #35916 closed

[2020-08-28 01:42] m-hunsicker opened #35940 "BUG:Pandas 1.0.3 → 1.1.1 behavior change on DataFrame.apply() whith raw option and func returning string"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]

#### Output
0    aa
1    bb
dtype: object
0    bbb
1     aa
dtype: object

#### Problem description
The results are truncated when the smallest strings is first.

[2020-08-28 02:24] cwkwong commented on #35889
WIP, will submit PR by end of today hopefully (note: I'm in Melb, AU timezone)

[2020-08-28 02:59] maozi07 commented on #35819
Yes, it's index has duplicate entries,because the data set almost 400W records.I'v checked my code again by convert index to monotonic,it's no logical problem

[2020-08-28 03:06] maozi07 commented on #35819
maybe my exception related to https://pandas.pydata.org/docs/whatsnew/v1.1.0.html#non-monotonic-periodindex-partial-string-slicing

[2020-08-28 03:17] asishm commented on #35940
#34913

cc @jbrockmendel

[2020-08-28 04:18] tathastu871 commented on #35932
Temporary solution:
Pandas 1.0.5 seems to be working.
However workaround and patching needed for latest 1.1.1 version.

Please implement necessary changes to make latest pandas work on aarch64

[2020-08-28 04:19] fangchenli opened #35942 "CLN: DeprecationWarning in `_testing`"
[code]

[2020-08-28 05:37] VirosaLi opened #35945 "CLN: UserWarning in `pandas/plotting/_matplotlib/core.py`"
[code]

[2020-08-28 06:24] maozi07 commented on #35819
I'v looked deep into my data, and have found how to reproduce the error
In pandas 1.1.0
[code]
In pandas 1.0.5 the same data set
[code]

[2020-08-28 06:44] TrigonaMinima opened #35948 "DOC: "engine=odf" option should ask you to install pyodf instead of odf in pandas.read_excel"
#### Location of the documentation

"pandas.read_excel"

#### Documentation problem

When `engine="odf"` is used and `pyodf` is not installed it gives an error that you should install optional dependency odf as `pip or conda install odf`. This pip/conda command fails because there's no module called `odf`. This could also be a security vulnerability if someone puts a malicious "odf" module on pypi

[2020-08-28 07:02] charlesdong1991 commented on #35889
there is no rush at all, just take your time! ^^ @cwkwong

[2020-08-28 07:13] 1kastner commented on #29856
@JrtPec check https://github.com/pandas-dev/pandas/issues/16785 and therein referred to for a lengthy discussion on why. It is technically very difficult and the previous behavior was unpredictable (pandas was even sometimes showing a wrong behavior) because sometimes the timezone information accidentially got ignored.

[2020-08-28 07:23] 1kastner commented on #16785
great that it is solved, thank you everybody!

[2020-08-28 08:47] xhochy commented on #35169
This is similar (but more extreme) to the NumPy approach and won't work efficiently due to two reasons:

- The largest string size in Arrow is `2**32-1` for the StringType and `2**64-1` for the LargeStringType. Padding to this length will use an infeasible amount of space.
- Having a lot of spacing between string elements reduces the cache efficiency quite a lot again. We would be fetching quite a

[2020-08-28 09:09] WestXu commented on #33087
What I don't get is why hdf io needs pickle-related stuff anyway? Isn't hdfs a language-independent data structure? Cause that's why I use it as a day-to-day data-storing/sharing format in the first place.

Any explanation is appreciated. 🤔

[2020-08-28 11:50] DanielFEvans opened #35952 "BUG: Series.fillna(..., inplace=True) causes subsequent df.sort_values() to crash for categorical dtype"
- [ x ] I have checked that this issue has not already been reported.

- [ x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Traceback:

<details>

[code]

</details>

#### Problem description

If a dataframe contains a categorical column,

[2020-08-28 12:04] nivcoh commented on #19904
I upgraded s3fs from 0.1.5 to 0.5.0 and I keep getting:
__init__() got an unexpected keyword argument 'profile_name'
Any idea?

[2020-08-28 12:36] DanielFEvans commented on #35952
On staring at the backlog again (now knowing better what the bug is), I think this is the same underlying issue as #35731. In that case, it was fixed yesterday in Master.

[2020-08-28 12:40] DanielFEvans commented on #35952
Duplicate of #35731

[2020-08-28 12:40] #35952 closed

[2020-08-28 13:11] Josh-Ring-jisc commented on #35169
I think my previous thought was ill defined i'll clarify it a bit.
What about allowing a user-defined character limit for a row.
Where we allocate per character, the space required up to the maximum space required for a UTF-8 character.

So if someone knew that their strings would never be more than say 255 characters, as for instance it came from a database, they could use that information to all

[2020-08-28 14:52] xeffyr commented on #35932
@tathastu871 Try this:
[code]

[2020-08-28 15:45] TomAugspurger commented on #19904
https://github.com/dask/s3fs/issues/324

I believe that this was properly fixed by https://github.com/pandas-dev/pandas/pull/35381. The syntax would be `df.to_parquet("s3://...", storage_options={"profile_name": "production"})` once that's fixed.

[2020-08-28 15:45] #19904 closed

[2020-08-28 16:09] jorisvandenbossche commented on #35860
I agree that `as_index=False` and `.reset_index()` are basically the same, and thus it's not really needed to provide both ways.

But on the other hand, I think that `as_index=False` is also quite massively used. So I am personally not sure it is worth disrupting their workflow and having all those users need to update their code for something relatively minor.
I mean, from a user point of view, i

[2020-08-28 16:21] jorisvandenbossche commented on #35934
Note that the behaviour in pandas is consistent with the stdlib datetime:

[code]

Personally, I don't find it necessarily obvious that it should be 1970 rather than 1900 (1970 is only the base for epochs, not necessarily for strings).

[2020-08-28 16:24] jorisvandenbossche commented on #35934
Python's behaviour is documented here: https://docs.python.org/3/library/datetime.html#technical-detail

[2020-08-28 16:25] jpribyl commented on #35925
I am looking at these right now

- [ ] pandas/core/internals/concat.py
- [ ] pandas/core/internals/managers.py
- [ ] pandas/core/internals/ops.py
- [ ] pandas/core/nanops.py
- [ ] pandas/core/ops/docstrings.py
- [ ] pandas/core/reshape/concat.py
- [ ] pandas/core/reshape/pivot.py
- [ ] pandas/core/reshape/reshape.py

[2020-08-28 16:46] MarcoGorelli commented on #35925
@jpribyl thanks! Yes, feel free to do so, any help here would be appreciated!

[2020-08-28 17:34] cgmorton opened #35958 "BUG: read_table raises ValueError when delim_whitespace is set to True"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

If you set the delim_whitespace to True when calling read_table() on a space delimited file,

[2020-08-28 17:56] jpribyl commented on #35925
https://github.com/pandas-dev/pandas/pull/35959

with several more files:
- pandas/core/series.py
- pandas/core/window/ewm.py
- pandas/core/window/indexers.py
- pandas/core/window/numba_.py
- pandas/core/window/rolling.py
- pandas/io/formats/css.py
- pandas/io/formats/format.py
- pandas/io/orc.py

[2020-08-28 18:26] dsaxton opened #35961 "BUG: Unable to add np.timedelta64 + pd.Interval(pd.Timestamp, pd.Timestamp)"
Note: this is currently _not_ a bug on master but will be after https://github.com/pandas-dev/pandas/pull/35938, which reverts a change that caused other regressions.

[code]

[code]

Flipping the operands however works

[code]

[code]

[2020-08-28 18:26] rhshadrach commented on #35860
Thanks @jorisvandenbossche. Working on some of the `as_index=False` bugs, I got the sense that perhaps it isn't used all that often, and this was especially the case when I saw some others express that it should be removed in an issue. @jreback's and your responses, along with some searching on SO, have me convinced otherwise.

Going to close this issue in a week if there is no futher discussion.

[2020-08-28 18:29] bpmeek opened #35962 "ENH: Shuffle DataFrame"
#### Is your feature request related to a problem?

Multiple inquiries on Stackoverflow regarding how to shuffle/permutation of dataframes.
https://stackoverflow.com/questions/15772009/shuffling-permutating-a-dataframe-in-pandas
https://stackoverflow.com/questions/24701217/randomizing-shuffling-rows-in-a-dataframe-in-pandas
https://stackoverflow.com/questions/55538496/shuffling-a-dataframe

#### D

[2020-08-28 18:53] jreback commented on #35962
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample

[2020-08-28 18:53] #35962 closed

[2020-08-28 18:54] jreback commented on #35962
we do not need any more api expansion

[2020-08-28 21:10] justinessert opened #35965 "BUG: DataFrame creates an object-dtype array for extension type scalars in dictionaries"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

In the example above, column `a` will be correctly created as a `period[m]` column, but colum

[2020-08-28 21:27] dsaxton commented on #35509
As far as I can tell this assertion can be removed (the method works fine with lists and numpy arrays it seems). In which case are the annotations for this and related arguments not correct?

[2020-08-28 22:18] dsaxton commented on #35958
Thanks @cgmorton. This worked in 1.0.5 so marking as a regression:

[code]

[2020-08-28 22:30] asishm commented on #35958
#34976

[2020-08-28 22:38] dsaxton commented on #35958
cc @topper-123

[2020-08-28 23:11] MFalghanmi opened #35969 "QST: to_excel() deletes the existed sheets"
- As per Pandas [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html), the to_excel() deletes the existed sheets in the excel document using the code below. I am not sure what is the issue.
[code]
- The second question the mode is give error when using small 'a' char in mode. Here tip was found in [stackoverflow](https://stackoverflow.com/questi

[2020-08-29 04:32] rhshadrach commented on #35969
It seems your question is "why does xlsxwriter not support appending?", is that accurate? I think that would be a question for xlsxwriter, not pandas. As mentioned in the SO post that you linked to, openpyxl can append.

[2020-08-29 05:11] mroeschke opened #35972 "BUG: rolling count does not respect the default behavior of min_periods"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

Per the documentation:

Therefore these two statements should be equal

[code]

[2020-08-29 05:26] rajalakshmi139 commented on #32550
Hi,
 I  would like to contribute and fix some of these.

[2020-08-29 05:35] rajalakshmi139 commented on #34769
Hi,
I am new to open source and would like to help. I have decent experience with Python and Github.

[2020-08-29 05:43] mroeschke commented on #35972
Duplicate of https://github.com/pandas-dev/pandas/issues/31302

[2020-08-29 05:43] #35972 closed

[2020-08-29 08:16] tathastu871 commented on #35932
Thanks man it worked.

[2020-08-29 08:16] #35932 closed

[2020-08-29 11:40] MarcoGorelli commented on #26195
Closing because, as I gather from the discussion in #29050, this would be out-of-scope for pandas (please ping me if I've misunderstood and I'll reopen)

[2020-08-29 11:47] MarcoGorelli commented on #26107
closing as the minimum version of numpy is now 1.16.5

[2020-08-29 11:47] #26107 closed

[2020-08-29 12:29] MFalghanmi commented on #35969
Hey @rhshadrach Thank you for your comment. However, the main issue is that ExcelWriter deleted existed sheets in the file. So I am not sure how it is related to xlsxwriter

Thank you

[2020-08-29 13:34] santhosh92c opened #35975 "BUG: When the value in the data set has underscore i.e "_" and forward slash "/", the select query with where clause does not fetch actual result set."
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-29 14:06] MarcoGorelli commented on #35975
Hi @santhosh92c - please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

[2020-08-29 14:33] yunkypunky opened #35976 "BUG:"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-08-29 14:35] yunkypunky opened #35977 "BUG: replacement works for object but not string dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

replace(r'^\s*$', pd.NA, regex=True, inplace=True) works on object dtype, but not on stringdtype

#### Expected Output

[2020-08-29 14:43] dsaxton commented on #35976
@yunkypunky Did you intend to post a bug report? The template is blank.

[2020-08-29 14:44] yunkypunky commented on #35977
replace(r'^\s*$',pd.NA,regex=True,inplace=True) works on object dtype, but not on stringdtype

Code sample:

import pandas as pd
import numpy as np

a = pd.DataFrame({'a':['a','b','c'],'b':['d','','']},dtype='object')
b = pd.DataFrame({'a':['a','b','c'],'b':['d','','']},dtype='string')

display(a[a['b']==''])
a.replace(r'^\s*$',pd.NA,regex=True,inplace=True)
display(a[a['b']==''])

display(b[b['b'

[2020-08-29 14:45] MarcoGorelli commented on #35976
I presume they meant #35977

[2020-08-29 14:45] #35976 closed

[2020-08-29 15:00] dsaxton commented on #35977
@yunkypunky Thanks for the report. This could be a real bug (haven't looked too closely yet) so I think it's worth leaving open for now.

[2020-08-29 18:27] dsaxton commented on #35527
f1fe03134d6bccc59f66ee5fef6fde660a6ffb0d is the first bad commit
commit f1fe03134d6bccc59f66ee5fef6fde660a6ffb0d
Author: jbrockmendel <jbrockmendel@gmail.com>
Date:   Fri Apr 24 14:41:43 2020 -0700

    CLN: simplify DTA.__getitem__ (#33714)

 pandas/core/arrays/datetimelike.py | 31 +++++++++++--------------------
 1 file changed, 11 insertions(+), 20 deletions(-)

cc @jbrockmendel

[2020-08-29 22:21] Bhard27 opened #35980 "DOC: doc/source/getting_started/overview.rst"
#### Location of the documentation

"https://pandas.pydata.org/docs/getting_started/overview.html"

#### Documentation problem

Unnecessary words and hyphens were missing.

#### Suggested fix for documentation

E.g. real world can be replaced by real-world

[2020-08-29 23:46] jbrockmendel commented on #35969
pandas.ExcelWriter is a thin wrapper around xlsxwriter.

IIUC xlsx is xml-like under the covers, which would be difficult to append to.  I imagine its easier to re-write the entire file than try to append in place.

[2020-08-30 02:41] #35961 closed

[2020-08-30 04:30] austinmw opened #35983 "ENH: pd.progress_concat"
#### Is your feature request related to a problem?

I need to concat tens of thousands of fairly large dataframes, which can take 15-45mins, and I'm unable to get an idea of progress.

#### Describe the solution you'd like

I'd really like either a `pd.progress_concat` or ` pd.concat(progress=True)`

#### API breaking implications

I don't think this would break anything?

#### Describe alternativ

[2020-08-30 05:04] vishwajitvishnu commented on #31682
Just remove the 'cmap' from the seaborn.heatmap or you could use the solutions in the comments above.

[2020-08-30 06:05] santhosh92c commented on #35975
Hi @MarcoGorelli - Please find the example of my data set as shown below.

var data = [{ column1: "data1", column2: "data1_key_2020"}, { column1: "data2", column2: "data1" }, { column1: "data3", column2: "data1_key" }];
new Dataframe(data, ['column1', 'column2']);

SELECT distinct column1 FROM dataFrameTable where column2 IN ("data1_key_2020")
The select query above should ideally fetch data1 only

[2020-08-30 07:16] kc611 commented on #35002
#35984

[2020-08-30 08:01] timhunderwood opened #35985 "DOC: make difference between numpy behaviour clearer in Dataframe.std() and Series.std()"
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.DataFrame.std.html
https://pandas.pydata.org/pandas-docs/dev/reference/api/pandas.Series.std.html

#### Documentation problem

The `ddof` kwarg has a different default to numpy. This means using the `std()` method on a `Series` or `numpy.array` with the same values give different results:

[code]

##

[2020-08-30 08:31] yunkypunky commented on #35977
I'm using Python 3.8.5 with Pandas 1.1.1

[2020-08-30 09:12] cgangwar11 commented on #35977
This bug is coming because ExtensionBlock doesn't support replacement by regex.
`In [4]: is_extension_array_dtype(pd.Series(["d","d","f"],dtype='string').dtype)
Out[4]: True

In [5]: is_extension_array_dtype(pd.Series(["d","d","f"],dtype='object').dtype)
Out[5]: False
`
Since variable **a** calls replace method of ObjectBlock but variable **b** calls replace method of ExtensionBlock . Hence we see

[2020-08-30 09:24] MarcoGorelli commented on #35985
Sure, go ahead (perhaps this would go well in a `Notes` section)

[2020-08-30 09:26] MarcoGorelli commented on #35975
TBH I don't know enough about SQL to figure out how to run this example - perhaps someone else here can pick this up, but ideally if you could post an example which can be copied-and-pasted that would expedite resolution

[2020-08-30 10:03] jreback commented on #35983
sounds like you are doing something incorrect but hard to tell as you don't have an example -

if concat took 15 minutes i would suspect you would run out of memory first

if you actually need progress reporting use dask

-1 on adding api to concat

[2020-08-30 10:04] #35983 closed

[2020-08-30 12:37] AndreZoro commented on #35807
The thing about the example of this bug is that if you want to split the strings in a column at an underscore and expand it into there columns, it will only work depending on if there is one row where you have a string that contains at least two underscores. So if you have a string something like "part01_part02_part03" in at least one row, Pandas can expand the column into three new ones, if there

[2020-08-30 13:05] dsaxton commented on #35975
@santhosh92c From your first code snippet it looks like you may be using a Javascript library. Note this is the issue tracker for the Python pandas library.

[2020-08-30 13:21] dsaxton commented on #35977
@cgangwar11 Agreed that extension dtypes should also support replacement with a regex, PR would be welcome

[2020-08-30 14:59] VirosaLi opened #35988 "TYP: mypy [attr-defined] error in `pandas/core/indexes/numeric.py`"
This is one of the errors after unpin mypy.

[code]

[2020-08-30 15:00] dsaxton commented on #35965
Also when some array-likes are passed in directly we get object dtype:

[code]

[2020-08-30 15:03] #35988 closed

[2020-08-30 15:04] VirosaLi commented on #35988
it has been fixed.

[2020-08-30 15:18] jpeacock29 opened #35989 "DOC: DataFrame.query() are contradictory on whether Python keywords can used as identifiers"
#### Location of the documentation
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html#pandas.DataFrame.query

#### Documentation problem
The `expr` parameter is described as follows:

However, the notes that follow indicate:

So the first part suggests Python keywords can be used, while the second part indicates they cannot. Testing suggests they cannot currentl

[2020-08-30 15:38] salubriousdux commented on #11493
If you will try to import .xlsx file using the command pd.read_csv, you will get this error.

Try using pd.read_excel instead of pd.read_csv

[2020-08-30 15:38] metehankutlu commented on #35925
working on these right now:

-  pandas/tests/test_multilevel.py
-  pandas/tests/test_nanops.py
-  pandas/tests/window/moments/test_moments_consistency_rolling.py
-  pandas/tests/window/moments/test_moments_ewm.py
-  pandas/tests/window/moments/test_moments_rolling.py
-  pandas/tests/window/test_base_indexer.py
-  pandas/tests/window/test_pairwise.py
-  pandas/tests/window/test_rolling.py
-  pandas

[2020-08-30 15:55] dsaxton commented on #35002
Also for symmetry would be nice to add to DataFrame.cov

[2020-08-30 16:28] metehankutlu commented on #35925
I'm searching using this regex: `,\n? *\)|,\n? *\]` What do you guys think? Is it the correct way?

[2020-08-30 16:39] austinmw commented on #35983
@jreback I have 488GB of RAM. Using Ray to parallelize reading in a couple hundred thousand csv's to dataframes, then need to concat them all to a single DF. Is there a better approach?

[2020-08-30 16:46] MarcoGorelli commented on #35925
I would just upgrade `black`, run it on the chosen files, see what's changed, remove trailing commas, and run `black` again

[2020-08-30 17:16] VirosaLi opened #35994 "TYP: type error in `pandas/io/excel/_xlsxwriter.py`"
Those are some of the typing errors generated by mypy after unpining it.

[code]

[2020-08-30 18:19] alippai opened #35997 "BUG: Reading from parquet throws UnknownTimeZoneError using timezone-aware date in index"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

[code]

#### Problem description
The bug above happens with pandas 1.1.1 and pyarrow 1.0.1.
The timezone-aware date in the index should survive the parquet round trip.
If `date` is not index, or when I add parameter `ignore_metadata=True` to the `pyarrow.Tab

[2020-08-30 21:16] jreback commented on #35983
use dask for this

[2020-08-30 22:06] austinmw commented on #35983
Under[ Dask Anti-Uses](https://docs.dask.org/en/latest/dataframe.html#common-uses-and-anti-uses) it says it may not be the best choice if my dataset fits into RAM. Also it seems not all pandas functionality is implemented in dask.

[2020-08-30 22:09] grantstead opened #35998 "QST: What is the use of cell_context in the Styler?"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2020-08-30 22:27] jreback commented on #35983
it's a good use to concat many dataframes esp as it can do this with many cores

you should ask on stack overflow

[2020-08-30 22:35] danieldjewell commented on #35464
I was just running into a semi-related issue... I played around a bit. *Weird* results:

[code]

So it looks like 3 different scenarios:

1. If only nulls in the input JSON (or an empty string), output is ```NaT``` and the datatype is ```datetime64[ns]```
2. If a numeric value is in the input (and *zero* strings), the null is converted to ```NaN``` with a dtype of ```float64```
3. If *any* string

[2020-08-30 23:57] jbrockmendel commented on #35527
AssertionError is clearly wrong, but it isnt obvious to me that IndexingError is correct.  The code path this goes through includes

[code]

which suggests that we should be treating the `obj[:, None]` like `obj[:].values[:, None]`

[2020-08-31 01:00] dsaxton commented on #35997
Thanks @alippai, looks like something may have changed for 1.1.0. Previously (1.0.5 and 1.0.0 at least) writing with the pyarrow engine would actually raise an ArrowInvalid exception (which I would guess is not correct), whereas now you can write but can't read. If you have the dependencies installed then an apparent workaround is to write using fastparquet instead:
[code]

[2020-08-31 01:58] dsaxton commented on #35997
Likely relevant:

commit be9ee6dd75075ab16131a5316ac7d5d2f7e5f5f5
Author: Joris Van den Bossche <jorisvandenbossche@gmail.com>
Date:   Wed Feb 5 02:08:59 2020 +0100

    BUG: avoid specifying default coerce_timestamps in to_parquet (#31652)

 doc/source/whatsnew/v1.1.0.rst  | 4 +++-
 pandas/io/parquet.py            | 8 +-------
 pandas/tests/io/test_parquet.py | 7 +++++++
 3 files changed, 11 inse

[2020-08-31 03:46] souris-dev opened #36002 "DOC: Update documentation for pd.Interval if string endpoints are not allowed anymore"
#### Location of the documentation

[https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Interval.html](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Interval.html)

On `master`:
[https://pandas.pydata.org/docs/dev/reference/api/pandas.Interval.html](https://pandas.pydata.org/docs/dev/reference/api/pandas.Interval.html)

#### Documentation problem

The examples in

[2020-08-31 07:03] Khris777 opened #36003 "REGR: Column with datetime values too big to be converted to pd.Timestamp leads to assertion error in groupby"
- [X ] I have checked that this issue has not already been reported.

- [ X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

Two different dates, one within the range of what `pd.Timestamp` can handle, the other outside of that range:
[code]

#### Pro

[2020-08-31 08:19] alippai commented on #35997
Note that pyarrow `version="2.0"` doesn't help, that was the first setup I got the error with. I just made the example more minimal later :)

[2020-08-31 08:51] alippai commented on #35997
I've added a test, maybe it helps: https://travis-ci.org/github/pandas-dev/pandas/jobs/722666704

[2020-08-31 11:22] MarcoGorelli opened #36006 "DOC: use single back-ticks for variable, module, function, and class names"
EDIT I've rewritten this issue after Joris' comment.

----

Pandas' docstrings are somewhat inconsistent in using single or double back-ticks, e.g. [isin](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.isin.html?highlight=isin#pandas.DataFrame.isin) has both
[code]
and
[code]

In keeping with the [numpydoc docstring guide](https://numpydoc.readthedocs.io/en/latest/format.html),

[2020-08-31 11:37] TomAugspurger commented on #26195
You can do this now with storage_options. See how we do it in our tests: https://github.com/pandas-dev/pandas/blob/132e19173265ad95e6b92dc46aa2b045c1073b81/pandas/tests/io/conftest.py#L36-L67

If anyone wants to turn that into a doc example we'd welcomed it.

[2020-08-31 12:36] #35731 closed

[2020-08-31 13:07] jorisvandenbossche commented on #36006
In *theory*, this is correct (and consistent within the guide I think). It follows the numpydoc docstring guide: https://numpydoc.readthedocs.io/en/latest/format.html

But of course that doesn't mean we need to follow it (how it gets rendered also depends on your sphinx configuration).

[2020-08-31 13:26] justinessert commented on #35965
Notably, a 2d array does work as expected though
[code]

[2020-08-31 13:31] dsaxton commented on #35975
Closing as unrelated to the Python library, @santhosh92c feel free to reopen if you have a question about Python pandas

[2020-08-31 13:31] #35975 closed

[2020-08-31 13:53] MarcoGorelli commented on #36006
Thanks, I wasn't aware of that. They make it quite clear which to use:

Pandas' docstrings seem to jump between the two, e.g. [isin](https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.isin.html?highlight=isin#pandas.DataFrame.isin) has both
[code]
and
[code]

So, perhaps this should be changed to encourage easy contributions to be more consistent about this in the docstrings?

[2020-08-31 14:39] paul-lilley commented on #18198
Hi

[code]
The above SAS code created the attached SAS file with 0 rows.  Hope this helps @jbrockmendel

[zero_rows_no_compress.zip](https://github.com/pandas-dev/pandas/files/5150911/zero_rows_no_compress.zip)

[2020-08-31 15:17] TomAugspurger commented on #29397
Thanks @attack68, sounds like this is working as intended.

[2020-08-31 15:17] #29397 closed

[2020-08-31 16:05] AbdealiJK commented on #18198
Hi Sorry @jbrockmendel - seems like I missed your ping earlier.
I don't have access to a SAS environment any more for the past year, so haven't been able to follow up on this, nor provide an example file

[2020-08-31 17:38] CatChenal commented on #35684
The problem comes from Matplotlib: I can reproduce the problem without using Pandas.

* Info:
[code]
* Test data:
[code]
* Plot triggering the warning:
[code]
![user_warn_on](https://user-images.githubusercontent.com/8961721/91748471-07627d80-eb8e-11ea-8acd-20c52c7fb597.png)

* Amended code that removes the warning:
[code]
![user_warn_off](https://user-images.githubusercontent.com/8961721/91748623

[2020-08-31 18:06] pythonic2020 commented on #35684
In my example above, if I add

`ax.yaxis.set_major_formatter('{x:0.0f}')`

the plot is the same as before, but I still get the UserWarning.

[2020-08-31 18:22] #35994 closed

[2020-08-31 18:23] jeet-parekh opened #36014 "BUG: groupby and agg on read-only array gives ValueError: buffer source array is read-only"
- [x] I have checked that this issue has not already been reported.
Two variants of this bug have been reported -  #35436  and #34857

    EDIT: I read into those two issues a bit more. They don't seem similar. But I'll keep it there.

- [x] I have confirmed this bug exists on the latest version of pandas.
Bug exists in pandas 1.1.1

---

#### Code Sample, a copy-pastable example

[code]

#### Pro

[2020-08-31 18:24] #35980 closed

[2020-08-31 18:40] #35912 closed

[2020-08-31 18:54] jeet-parekh commented on #35969
I see it doesn't delete the existing sheets in pandas 1.1.1

[2020-08-31 18:55] dsaxton commented on #36003
Thanks @Khris777. This seems to be a regression from 1.0.5:

[code]

Actually this was raising a TypeError after 4edcc5541ff3f6470f5e3c083cb83136119e6f0c but prior to the AssertionError.

cc @jbrockmendel

[2020-08-31 19:08] dsaxton commented on #36014
@jeet-parekh Can you create a copy / pastable example that doesn't use external links?

https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-08-31 19:15] jeet-parekh commented on #36014
[code]

[2020-08-31 19:18] jeet-parekh commented on #36014
A couple of more things.

This fails
[code]

This works
[code]

[2020-08-31 19:24] jeet-parekh commented on #36014
@dsaxton, fixed it. I missed that fact that it isn't copy-pastable. Will edit in the main issue post as well.

[2020-08-31 19:32] dsaxton commented on #36014
Thanks @jeet-parekh. Fails on master as well and looks like a bug to me.

[2020-08-31 20:39] rhshadrach commented on #35443
After rethinking this, perhaps instead

    df['b'].groupby('a', as_index=False)

should not raise, but rather be the same as `df.groupby('a')['b']` I don't yet know how difficult this would be.

[2020-08-31 21:14] alippai commented on #35997
One more interesting thing. Using `timezone` from `datetime` fails, but using `timezone` from `pytz` works:
Code:
[code]
Output:
[code]

[2020-08-31 21:28] alippai commented on #35997
Fastparquet fails writing date with timezone but no timezone name:
[code]
Raises:
[code]

[2020-08-31 21:41] rhshadrach commented on #36014
Another temporary workaround is to make a copy:

    df_new = context.deserialize(data).copy()

Then it seems to me that all groupby ops work, whether as a Series or a DataFrame.

[2020-08-31 21:55] dsaxton commented on #36002
Thanks @souris-dev, looks like you are right (and this evidently hasn't worked at least as far back as 0.23.5). PR certainly welcome.

[2020-08-31 22:19] CatChenal commented on #35684
You did not provide the data in your example, so I cannot reproduce  it, but it seems to me that the problem originates with the x axis.

* Instead of
[code]
* Try first:
[code]

* Then:
[code]

[2020-08-31 22:25] pkla commented on #24206
@batterseapower Arrived here since I had the same problem (Pandas 1.1.1). Underlying problem was that I had NaNs in the MultiIndex. I first removed the non-offending index levels using the approach that @joseortiz3 described (leaving me with just one index level), and then filled all the NA values (`df.index = df.index.fillna(fill_val)`). To reiterate for the people looking for a solution: the iss

[2020-08-31 22:31] #9959 closed

[2020-08-31 23:10] pythonic2020 commented on #35684
Thanks!  Your second idea works, with no Warning (!), but I need to get the

`ha="right", rotation_mode="anchor"`

code in there somehow so that the x axis labels are placed properly under the bars.  I'm still trying various methods...

Is there a matplotlib bug filed for this issue?  I couldn't find it...

[2020-08-31 23:42] CatChenal commented on #35684
There are many parameters to `ax.tick_params`: you need to check the documentation then experiment to find out which param can reproduce the previous behavior.
* For help:
[code]
* Lastly, have you tried this:
[code]

[2020-08-31 23:57] pythonic2020 commented on #35684
ax.tick_params appears to have no params for anchoring the axis labels.  My solution is below.  The canvas.draw appears to have no effect.

Your suggestion

[code]
produces the correct plot (as my original code did), but this UserWarning is thrown:

This code works, with no Warning:
[code]

[2020-09-01 00:06] itholic opened #36018 "QST: is the new behavior of GroupByRolling for MultiIndex in v1.1.1 intended?"
#### Question about pandas

Let's say we have a `Series` with `MultiIndex` like the below.

[code]

Then, when I use `GroupByRolling`, In the version of pandas <= 1.0.5 shows result as below.
(Let's focus on the level of `MultiIndex` in the examples below)

[code]

However, In the pandas 1.1.0, the result seems different from the previous version as below.
(The level of `MultiIndex` is decreased a

[2020-09-01 01:18] jaded-1 opened #36019 "BUG: Read_Parquet replacing values with None"
Tried reading a parquet file with data below. However, I see that some of the topics are replaced with None in the dataframe and I'm not sure what's causing this. This happens for only some rows.

example.parquet:
   {
        "id": "035f57ed-ef07-4ec1-b8d4-04453b9b8fa1",
        "topics": [
            "GOVERNMENT",
            "ECONOMY",
            "POLITICS"
        ]
    },...
[code]

[2020-09-01 01:18] dschneiderch commented on #26118
here is an example:
why do I get `None` if the dataframes are equal?

when I run my test with `pytest` I get
[code]

## function
[code]

## test
[code]

[2020-09-01 01:20] #35788 closed

[2020-09-01 02:03] jreback commented on #26118
@dschneiderch

these functions actually assert under the hood, otherwise they return `None` as is typical for a function that doesn't return anything, e.g.

[code]
you don't need to assert the assert

[2020-09-01 02:56] VirosaLi opened #36021 "TYP/CLN: cleanup `_openpyxl.py`, add type annotation"

[2020-09-01 05:00] VirosaLi opened #36024 "TYP: add type annotation to `_xlwt.py`"

[2020-09-01 05:25] VirosaLi opened #36027 "TYP: add type annotation to `expr.py`"

[2020-09-01 06:26] rajanshoo25 commented on #35925
@MarcoGorelli when I am running black again, it changes file back with trailing commas

[2020-09-01 07:47] MarcoGorelli commented on #35925
That's fine. Two things may happen when running the new version of `black`:
- the command is long, and so it splits it into multiple lines, each with a trailing comma;
- the command is short, and so it puts it all on one line.

It's the second case in which we want to remove the trailing commas, so that both the current and the new version of `black` would reformat that line in the same way.

[2020-09-01 08:12] saturn99 opened #36030 "BUG: wrong plotting in x-axis when index set to date"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

in `mydata` i have't no any data between `2000-01-03` to `2020-01-01`

but pandas wrong plotting in x-axis when index set to date

[code]
![index](https://user-images.git

[2020-09-01 08:50] jorisvandenbossche commented on #36019
@jaded-1 can you try to provide a reproducible example? (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) For example, do you also have it with a local file (and not from S3)? And if so, can you reproduce it by writing a file to parquet and reading it back?

[2020-09-01 08:56] jorisvandenbossche commented on #36014
A reproducer without the use of pyarrow:

[code]

It's already failing in 1.0, but not in 0.25. So not a very recent regression, but still a regression compared to 0.25.

[2020-09-01 09:02] jeet-parekh commented on #36014
I see the same behaviour with @jorisvandenbossche's code. It succeeds for min, max, count, and median aggregations. But fails for sum and mean. Not sure if that's relevant.

[2020-09-01 09:19] harahu opened #36031 "BUG: Mean of zeros turn out to be non-zero"
- [ ] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[code]

#### Problem description

In both these cases, the final rolling mean value is the mean of three zeros, but in the `fail

[2020-09-01 09:23] jorisvandenbossche commented on #36014
The direct fix would be to add a `const` to the `values` keyword declaration at

[2020-09-01 09:33] dsalaj commented on #28546
If you are using `conda` and you installed the requirements but are still getting the same error message:

    ImportError: Missing optional dependency 'xlrd'. Install xlrd >= 1.0.0 for Excel support Use pip or conda to install xlrd

It might be the case that you are getting this error only in `jupyter`/`jupyter-lab`. If that is the case, the following solved the issue for me:

    conda install -

[2020-09-01 09:47] vukhanh1202 opened #36032 "BUG: .dt.isocalendar().year"
#### Code Sample, a copy-pastable example

[code]

#### Problem description
new function .dt.isocalendar().year returns wrong value for the day of  pd.to_datetime('2016-01-08'). It is supposed to return 2016 but 2017

please check on that

[2020-09-01 10:37] Kaufhold opened #36033 "Coverting bug by null values from csv into panda nan to a python list"
Hello,
I read a csv file with panda and convert it to a python list.
The problem is that panda convert the null values from the csv to nan values.
After that I convert the panda dataframe to a python nested list and got nan values inside the python list that have the float type.

Code:
`for chunk in pd.read_csv(pfad_incoming + record, chunksize=1000000, delimiter=';', quotechar="'",

[2020-09-01 11:25] erfannariman commented on #27935
Although this got some interaction and for thumbs up, this is probably niet happening right? @TomAugspurger . Should I close this?

[2020-09-01 11:27] erfannariman commented on #29268
@SpectrumWings are you still working on this? Else I would like to give it a go.

[2020-09-01 11:42] #34902 closed

[2020-09-01 11:43] TomAugspurger commented on #27935
Has anyone suggested this on the NumPy mailing list? I think that'd be the next step, to see if they're open to something like this. If it's rejected from NumPy we could consider implementing it here.

[2020-09-01 12:06] erfannariman commented on #27935
Not yet I think. I will suggest this in the numpy mailing list.

[2020-09-01 14:09] YarShev opened #36036 "BUG: The exception is arisen when `apply` takes functions with equal names"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-01 14:22] mglowacki100 opened #36037 "BUG: transform zscore - weird behavior for not rounded floats"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

[code]
Gives:
[code]

#### Problem description
It should give result like for e.g. `n=0.5` when it works as expected.
I've checked and `n = -0.405465999999999999999999999

[2020-09-01 14:46] jseabold commented on #30552
Trying to think through the examples here and whether my current "usual" columns are more or less prevalent to not want sql group by semantics by default. E.g., for the case of grouping by cities and states, they're both factors and they're not independent. I guess you could say that they should be single city-state factors?

FWIW, I think this is what I use unstack for but am not sure. Could you

[2020-09-01 14:56] simonjayhawkins commented on #35931
fixed in #35938

[2020-09-01 14:56] #35931 closed

[2020-09-01 14:57] justinessert opened #36040 "BUG: Rolling min_periods not working on groupby object"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

For the DataFrame above, with a single segment 'A', the result of `df.rolling(5, center=True,

[2020-09-01 15:02] justinessert commented on #36040
Additionally, I have found that if there are two segments in the DataFrame, only the last segment is affected.

[code]
Here, the result of `df.groupby('segment').rolling(5, center=True, min_periods=1).max()` is correct for segment 'A', but has the two NaNs at the end of 'B'.

Thus, a workaround that I've found for anyone facing this issue prior to it being fixed, is to just append two unused colum

[2020-09-01 15:20] martijnvanattekum opened #36042 "BUG: `apply` behaviour changed when using function that returns tuple"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
In version 1.0, the result was a pandas series of tuples, whereas in 1.1 the result is a data

[2020-09-01 15:45] VirosaLi commented on #36027
This is fixed by #36012.

[2020-09-01 15:45] #36027 closed

[2020-09-01 16:06] #36024 closed

[2020-09-01 16:15] #36002 closed

[2020-09-01 16:20] krassowski opened #36044 "BUG: Set type check is too strict when creating Series from dict keys"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Since Python 3.7 dictionaries are ordered, and therefore their keys are also ordered. In olde

[2020-09-01 16:25] krassowski commented on #36044
The current check:

[code]

will also fall on `OrderedSet` which is a recipe linked from the [`collections.abc` documentation](https://docs.python.org/3/library/collections.abc.html#module-collections.abc) (see "See also" notes at the very bottom of the page).

[2020-09-01 16:39] jbrockmendel commented on #36036
The relevant part of the exception message is "Function names must be unique", which seems pretty clear.  The tail part of the message could be clearer.

[2020-09-01 16:41] jbrockmendel commented on #36042
This looks like a duplicate of #35518.  @martijnvanattekum is that correct?

[2020-09-01 18:13] martijnvanattekum commented on #36042
Yes, you are correct. I somehow did not find that report.

On Tue, Sep 1, 2020 at 6:42 PM jbrockmendel <notifications@github.com>
wrote:

[2020-09-01 18:14] river-00 opened #36047 "BUG: Series.__mod__ behaves different with >1e4 rows"
- [√] I have checked that this issue has not already been reported.

- [√] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-01 18:48] asishm commented on #36036
Seems like a regression. It worked it 1.0.5 and I don't see anything in the release notes after that that address this.

[code]

git bisect returns

0534b004f5dd9cb38082a2d1e3e121b211a3373b is the first bad commit
commit 0534b004f5dd9cb38082a2d1e3e121b211a3373b
Author: Kaiqi Dong <kaiqi@kth.se>
Date:   Fri Jul 10 21:16:27 2020 +0200

    ENH: Implement Keyword Aggregation for DataFrame.agg and Ser

[2020-09-01 19:31] simonjayhawkins commented on #36044
cc @dsaxton

[2020-09-01 19:34] simonjayhawkins commented on #36042
closing as duplicate

[2020-09-01 19:34] #36042 closed

[2020-09-01 19:36] #36021 closed

[2020-09-01 19:49] attack68 commented on #33562
This no longer seems to error on master: 1.2.0.dev0+186.g25a895cf0

[2020-09-01 21:20] rhshadrach commented on #35807
@AndreZoro: I think one could argue that by padding the result to always contain 3 columns, we would be no longer be consistent with python's `str.split`. Is there a downside to having to do something like:

     df['a'].str.split('_', expand=True, n=2).pad(3)

?

[2020-09-01 21:23] jbrockmendel commented on #36047
series over 1e4 rows use numexpr, see core.computation.expressions._MIN_ELEMENTS.  more investigation welcome

[2020-09-01 21:25] tiagohonorato commented on #35925
Working on these files:

- pandas/io/sas/sas_xport.py
- pandas/io/stata.py
- pandas/tests/arithmetic/test_interval.py
- pandas/tests/arithmetic/test_numeric.py
- pandas/tests/arrays/boolean/test_logical.py

[2020-09-01 21:33] sarthakchaudhary13 commented on #35925
Now Working on
 - pandas/tests/scalar/test_na_scalar.py
- pandas/tests/scalar/timestamp/test_arithmetic.py
- pandas/tests/scalar/timestamp/test_constructors.py
- pandas/tests/series/methods/test_argsort.py
- pandas/tests/series/methods/test_convert_dtypes.py
- pandas/tests/series/methods/test_drop_duplicates.py
- pandas/tests/series/methods/test_interpolate.py
- pandas/tests/series/methods/test_un

[2020-09-01 22:25] jbrockmendel commented on #32917
Closing as we now require 3.7+

[2020-09-01 22:25] #32917 closed

[2020-09-01 22:28] jbrockmendel commented on #32655
Closing as not reproducible.  @norapap if you still have trouble we can re-open this, but there's not much we can do without a reproducible example, see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-01 22:28] #32655 closed

[2020-09-01 22:43] jbrockmendel commented on #34089
Closing as answered.  We can re-open if you'd like to purse this further.

[2020-09-01 22:43] #34089 closed

[2020-09-01 22:46] jbrockmendel commented on #32907
cc @WillAyd

[2020-09-01 22:48] jreback commented on #33562
@attack68 happy to take a test for this

[2020-09-01 22:49] jbrockmendel commented on #32595
Where is the docstring you're referring to?

[2020-09-01 22:50] jbrockmendel commented on #32491
Closing as nothing-we-can-do-about-this

[2020-09-01 22:50] #32491 closed

[2020-09-01 22:52] jbrockmendel commented on #32132
@JASHWANTHREDDYTUPILI has this problem been resolved?

[2020-09-01 22:54] jbrockmendel commented on #31771
@MarcoGorelli any chance this has resolved itself since Feb?

[2020-09-01 22:59] eafpres opened #36056 "conda install -c anaconda pandas=1.1.1 fails in Windows"
#### Question about pandas

I am trying to update Pandas in a venv under Windows 10 using miniconda.  I have Pandas 1.0.3 installed.
I think part of the issue is there are pip installed packages in the environment
This is unavoidable; some things I use cannot be installed by conda
Is the only solution to build a new env from scratch, get pandas in there, then try to install remaining dependencies?

[2020-09-01 22:59] jbrockmendel commented on #31177
Closing as solved.

[2020-09-01 22:59] #31177 closed

[2020-09-01 23:04] jbrockmendel commented on #30172
This is the correct default behavior.  To get only entries that are non-NaN, you need to pass `observed=True` to `df.groupby`.

Closing as addressed; we can re-open if I've missed something.

[2020-09-01 23:04] #30172 closed

[2020-09-01 23:08] jbrockmendel commented on #36031
cc @mroeschke i can reproduce this on master

[2020-09-01 23:20] JASHWANTHREDDYTUPILI commented on #32132
No, uninstalling the old version and downloading the latest version of
anaconda fixed my problem

Thanks,
Jashwanth

On Tue, Sep 1, 2020 at 5:52 PM jbrockmendel <notifications@github.com>
wrote:

Thanks and Regards ,
Jashwanth Reddy Tupili.

[2020-09-01 23:23] #32132 closed

[2020-09-01 23:26] jbrockmendel commented on #35644
Closing as not a bug.

[2020-09-01 23:26] #35644 closed

[2020-09-01 23:27] jbrockmendel commented on #33095
@mroeschke closable?

[2020-09-01 23:28] jbrockmendel commented on #32676
Agreed with @dsaxton about the workaround and with @WillAyd on -1

[2020-09-01 23:29] jbrockmendel commented on #31835
@TomAugspurger actionable/closeable?

[2020-09-01 23:32] #34240 closed

[2020-09-01 23:37] #34869 closed

[2020-09-01 23:49] #31835 closed

[2020-09-01 23:52] #35550 closed

[2020-09-02 00:51] asishm commented on #36047
On 1.0.5 it outputs 2 regardless of whether numexpr is installed. On 1.1.1, with numexpr installed it returns -2 as shown (with the limit). Not sure if it would class as a regression

01623f8f733fff3bec26a06a82e2c216f03fb226 is the first bad commit
commit 01623f8f733fff3bec26a06a82e2c216f03fb226
Author: Martin Winkel <martin.winkel.pps@gmail.com>
Date:   Sat Feb 1 16:13:05 2020 +0100

    CLN: Ref

[2020-09-02 01:39] WillAyd commented on #32907
Yea I think that makes sense. This code is vendored from klib so worth checking if it's been patched upstream first otherwise can do here.

[2020-09-02 02:40] xcz011 commented on #35925
Working on:

- pandas/tests/groupby/aggregate/test_numba.py
- pandas/tests/groupby/test_apply.py
- pandas/tests/groupby/test_categorical.py
- pandas/tests/groupby/test_groupby_dropna.py
- pandas/tests/groupby/test_groupby_subclass.py
- pandas/tests/groupby/test_size.py
- pandas/tests/groupby/test_timegrouper.py
- pandas/tests/groupby/transform/test_numba.py

[2020-09-02 03:04] ssche opened #36060 "BUG: MultiIndex with nan values obtained by `groupby` behaves different to MultiIndex.from_tuples()"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.
  I checked in 1.1.1

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I'm trying to perform combine two series (say multiplication for now). O

[2020-09-02 05:19] mroeschke commented on #33095
Thanks for the suggestion but I would recommend just using `scipy.signal.get_window` or `Rolling` and `Window` objects' `__iter__` method to get each window.

[2020-09-02 05:19] #33095 closed

[2020-09-02 05:27] cleconte987 commented on #32550
Hello, I think folders doc/source/development and doc/source/reference are done. And doc/source/whatsnew is about to be finished, the rest is up to be done

[2020-09-02 05:27] cleconte987 commented on #32550
Hello, I think folders doc/source/development and doc/source/reference are done. And doc/source/whatsnew is about to be finished, the rest is up to be done

[2020-09-02 07:06] MarcoGorelli commented on #31771
Yes, that seems to be the case!

[code]

I'll look into this to figure out when/how it was fixed

[2020-09-02 07:11] MarcoGorelli commented on #31771
OK, there was a new release of `tabulate` in March (version 0.8.7) in which this was fixed

[2020-09-02 07:16] MarcoGorelli commented on #31771
So, a short test (the snippet above is fine), and an update of the minimum required tabulate version in `doc/source/getting_started/install.rst` would be welcome here

[2020-09-02 07:18] kuraga opened #36062 "QST: CSV: export, import and new lines"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

[code]

On Linux, symbol `\r` is not escaped by `pd.to_csv`. But seems like `pd.read_csv` expects something else.

Is it bug or feature? How

[2020-09-02 08:09] YarShev commented on #36036
@asishm , @jbrockmendel , yes, it worked with version 1.0.5. If it is a regression, will it be fixed?

[2020-09-02 08:41] mila opened #36063 "BUG: Unary minus raises for series with Int64Dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas (commit 73c1d32)

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I cannot negate series with Int64Dtype. This was possible in previous version

[2020-09-02 09:13] onshek commented on #24980
Is anyone here still working on this?

[2020-09-02 11:11] MarcoGorelli commented on #36062
How about

[code]

?

[2020-09-02 11:16] kuraga commented on #36062
@MarcoGorelli , that's a synthetic example. `\r` comes from wild data. Excel, AFAIR.

Fact is:

[2020-09-02 11:24] kokes commented on #36063
Bisection identified 67aae8028773eae231662e47ec2c46124ad4229e as the first bad commit. (PR https://github.com/pandas-dev/pandas/pull/32422)

bisect log
<details>

[code]
</details>

setup to reproduce
<details>

Ran bisection with this shell script, first good/bad commits are 1.0.5 and 1.1.0 releases respectively:
[code]

where un.py is

[code]
</details>

[2020-09-02 11:38] discdiver opened #36064 "BUG: Scatterplot x-axis label disappears with colorscale when using matplotlib backend"
- This issue was reported and resolved in #10611  but returned with 0.24.0.

- I have confirmed this bug exists on the latest version of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.

#### Code Sample, a copy-pastable example

[code]

#### Problem

[2020-09-02 12:01] YarShev opened #36065 "BUG: Index.equals returns incorrect result"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-02 12:03] MarcoGorelli commented on #36062
Ah, I see. How about

[code]
then?

[2020-09-02 12:07] MarcoGorelli commented on #36065
`i1.equals(i2)` only determines whether they are equal, it doesn't set them to be equal. Closing then, but please let me know if I've misunderstood the report

[2020-09-02 12:12] YarShev commented on #36065
@MarcoGorelli , yes, `i1.equals(i2)` has not to set them to be equal. However, since i1.freq and i2.freq are not equal, I guess that `i1.equals(i2)` has to return `False` in this case. Or I misunderstand this?

[2020-09-02 12:30] TomAugspurger commented on #36056
This is likely an issue with conda rather than pandas. I don't know that anyone here will be able to help with this.

Creating an environment (possibly starting from `conda env export --from-history`) might be the easiest way forward.

[2020-09-02 12:30] #36056 closed

[2020-09-02 12:31] TomAugspurger commented on #36033
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-02 12:37] kuraga commented on #36062
@MarcoGorelli , ok, it works.

But why `escapechar`?!
[code]

[2020-09-02 12:41] MarcoGorelli commented on #36065
@YarShev though actually, the docs do say

and give an example showing that other attributes such as `dtype` are not compared.

So, it seems correct?

[2020-09-02 12:42] dsaxton commented on #36065
xref https://github.com/pandas-dev/pandas/issues/33940

[2020-09-02 12:54] YarShev commented on #36065
@MarcoGorelli , yes the docs are saying exactly what you mentioned. However, may be it's worth doing this method more restricted?

[2020-09-02 12:58] Hanspagh opened #36066 "BUG: isin has unexpected behavirour when using a dataframe with a large amout of rows (1.000.001)"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2020-09-02 12:59] MarcoGorelli commented on #36062
Sorry, ignore me, my answer doesn't make sense. I think @gfyoung would know about this

[2020-09-02 13:04] MarcoGorelli commented on #36065
Possibly, but it seems this is already being discussed in the issue linked to by Daniel.

If this isn't a bug then, is it OK to close it?

[2020-09-02 13:07] YarShev commented on #36065
@MarcoGorelli , I think the issue can be closed if it is treated as a bug. Can we keep it as feature request or something like that?

[2020-09-02 14:10] saleepeppe opened #36069 "BUG:read_csv misleading handling of csv files containing rows with different number of delimiters"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

fake.csv file
[code]

#### Problem description

Pandas read_csv function should throw an error, or at least a warning,

[2020-09-02 14:13] AndreZoro commented on #35807
Well set _expand = False_ and stay consistent with the Python split.

And as long as there is one mere row which contains enough desired separators, it also expands with NaNs, which acording to your argument is then already inconsistent.

[2020-09-02 14:26] ayappanec opened #36070 "Pandas fails to build in AIX with Python 3.7"
Building Pandas master branch in AIX fails with the below error

ERROR: Command errored out with exit status 1:
   command: /opt/freeware/bin/python3 /opt/freeware/lib/python3.7/site-packages/pip/_vendor/pep517/_in_process.py get_requires_for_build_wheel /tmp/tmp3r6qx0fj
       cwd: /tmp/pip-req-build-_gzfu3c7
  Complete output (30 lines):
  Traceback (most recent call last):
    File "/opt/freewa

[2020-09-02 14:29] attack68 commented on #33940
Just to add to this from #36065 the testing mod equals also behave inconsistently:

[code]

The reason being that for assert_series_equals after checking the index it checks the frequency of the index. A very easy change would be to add the freq check to the assert_index_equals with argument and remove it from the assert_series_equals.

[2020-09-02 15:00] #35667 closed

[2020-09-02 15:16] asishm commented on #36062
add a `quoting=1` in the to_csv. Had run into this before as well during our production jobs where ingests are excel files generated on Windows but the processing was running in a debian based docker.

[code]

[2020-09-02 15:40] mahsa-ebrahimian commented on #13904
Sorry but I dont get your point about pandas tracker, I am bit new to github, Could you please clarify what do you mean by on pandas tracker? and how my code is not reproducible?

[2020-09-02 15:43] #33675 closed

[2020-09-02 15:55] AndreZoro commented on #35807
Just tried your suggested workaround. It results in an error (using Pandas 1.1.1 on the computer I am at right now):
`TypeError: ffill() got an unexpected keyword argument "columns"`

I think for now, the cleanest workaround would be to append a row to the df which contains a string with enough separators in the hot column and then delete that row later again. I will try that out tomorrow.

[2020-09-02 16:00] MarcoGorelli commented on #36062
Thanks @asishm ! For completeness, `1` corresponds to `csv.QUOTE_ALL`.

@kuraga is this OK to close?

[2020-09-02 16:10] MarcoGorelli commented on #36065
@YarShev it looks like @attack68 has kindly mentioned this in the above issue, so I'll close this for now - thanks for your report!

[2020-09-02 16:10] #36065 closed

[2020-09-02 16:17] YarShev commented on #33940
@attack68 , it's a good point!

[2020-09-02 16:52] jreback commented on #13904
this is the pandas tracker
open a new issue

the post should have an example
that can be copy pasted to reproduce

[2020-09-02 17:01] amrsoll commented on #35525
Yes that is similar to my alternative and does suit me. However I just thought that this extra argument might augment the `pd.json_serialize` function. I already found it weird that the default behaviour is *not* to keep the index of the original Series.

[2020-09-02 17:01] mahsa-ebrahimian opened #36074 "Pandas MultiIndex causes out of memory error"
I have used multi indexing in my code which is causing out of memory error.

`import pandas as pd
import numpy as np
import io
import requests
url="https://raw.githubusercontent.com/mahsa-ebrahimian/netflix_project/master/netflix_sample_complete.csv"
movie_db=pd.read_csv(url, error_bad_lines=False)
del movie_db['Unnamed: 0']
iix_n = pd.MultiIndex.from_product([np.unique(movie_db.user_id), np.uniqu

[2020-09-02 17:02] mahsa-ebrahimian commented on #13904
Thank you, it is done now .
https://github.com/pandas-dev/pandas/issues/36074#issue-691203711

[2020-09-02 17:06] kuraga commented on #36062
@MarcoGorelli , @asishm, well... First of all, thanks!

`quoting` defaults to `csv.QUOTE_MINIMAL`. So I thought that behavior is by `csv` module:
[code]
[code]

And `csv.writer` escapes `\r` with `quoting=csv.QUOTE_MINIMAL`. Why Pandas doesn't?

[2020-09-02 17:24] daytonb opened #36075 "DOC: Docstring for comparison operators has "=!" instead of "!=""
#### Location of the documentation

Shows up in all the flexible comparison docstrings like "https://pandas.pydata.org/docs/dev/reference/api/pandas.DataFrame.ne.html". The typo is in the `_flex_comp_doc_FRAME` shared docstring found in `core/ops/docstrings.py`.

#### Documentation problem

The docstring says `=!` instead of `!=` for the not-equals comparison.

#### Suggested fix for documentation

[2020-09-02 17:35] daytonb commented on #36075
take

[2020-09-02 17:42] jbrockmendel opened #36076 "BUG: ser.to_frame().all() inconsistent with ser.all() with CategoryDtype"
Based on tests.frame.test_analytics.test_any_all_np_func

[code]

Whats happening here is the DataFrame case is calling `self.values` which casts to int64 (avoidable with 2D EAs...).

If instead we refactor (xref #35881) to operate blockwise, this block is ignored, so we end up getting the result we'd get on an empty DataFrame, i.e. True.  (xref #28900 ignoring failures is a footgun).

Expected Be

[2020-09-02 17:45] asishm commented on #36062
You are correct. What I mentioned was a workaround (should've been explicit there). I'd like the default behavior to work as `csv.writer` does with QUOTE_MINIMAL. I also forgot that I had raised this issue at that time!

xref #10018, #22678

Probably can close as duplicates of those. thoughts @kuraga ?

[2020-09-02 17:47] kuraga commented on #36062
Now exhaustively, thanks!

[2020-09-02 17:47] #36062 closed

[2020-09-02 18:15] sarthakchaudhary13 commented on #35925
Working on these files
- pandas/tests/io/test_sql.py
- pandas/tests/io/test_stata.py
- pandas/tests/plotting/test_frame.py
- pandas/tests/resample/test_datetime_index.py
- pandas/tests/reshape/merge/test_merge_index_as_string.py
- pandas/tests/reshape/test_crosstab.py
- pandas/tests/reshape/test_get_dummies.py
- pandas/tests/scalar/test_na_scalar.py
- pandas/tests/scalar/timestamp/test_arithmetic.

[2020-09-02 18:16] simontorres commented on #24980
Not really, I just fixed my version to one in which this does not exists. I wish I could fix it but I haven't had the chance.

[2020-09-02 18:38] charlesdong1991 commented on #24980
@onshek Hi, feel free to work on it, there is a stale PR #29670  which you could reference as a starting point. #29670 i recall could solve the issue correctly, however, there are still several comments you need to address, the comments are in #25000 . Hope it helps you to start!

[2020-09-02 20:09] attack68 commented on #35998
I actually observed the same in my recent Styler pull requests: #35607, #35643

It seems that this was present in the original commit by @TomAugspurger 702d63e in 2015. I can only speculate this was either for future dev, or it was replaced in the code by a new design approach and never removed before commit.

I think adding classes is a good idea and is what I might consider after getting these t

[2020-09-02 21:20] jreback commented on #36040
cc @mroeschke

[2020-09-02 21:36] #34077 closed

[2020-09-02 21:36] #35690 closed

[2020-09-02 22:04] nicolas-gervais opened #36079 "BUG:"
SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

[2020-09-02 22:24] rsheftel commented on #35917
I get a similar error when upgrading from pandas v1.0.5 to v1.1.1

I have an hdf5 file that was saved with a DataFrame with a DateTimeIndex as an hdf5 with the following:

`to_hdf(filename, key='data', mode='w', format='fixed', complib='blosc:blosclz', complevel=1)`

That data was saved in a version of pandas < 1.0 (I do not remember which version).

Loading in v1.0.5 works fine

Loading in v1.1.1

[2020-09-02 22:35] jbrockmendel commented on #33146
I'm seeing an exception raised when slicing `df["2019-12-31":]` and the others working as expected.  `df.loc["2019-12-31":]` works as expected

[2020-09-02 22:48] jbrockmendel commented on #36074
Can you give a copy/paste-able example (i.e. one that doesnt require downloading a zip file)?  See https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-02 22:49] jreback commented on #36079
you need to show an actual example

docs (in the errror message are):  https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#indexing-view-versus-copy

[2020-09-02 22:51] jbrockmendel commented on #34364
welp i just got a segfault trying to reproduce this

[2020-09-02 22:56] jbrockmendel commented on #34364
Minimal reproducer for segfault:

[code]

[2020-09-02 23:03] jbrockmendel commented on #35830
The issue is unrelated to Excel, just in how to index with a DatetimeIndex.

Minimal reproducer:

[code]

In general, you should use datetime or Timestamp objects when indexing on a DatetimeIndex, as in general date objects are not supported (we are not as consistent about this as we'd like to be)

[2020-09-02 23:08] jbrockmendel commented on #31286
cc @mroeschke

[2020-09-02 23:09] jbrockmendel commented on #30191
@smcinerney want to make a PR for this?

[2020-09-02 23:11] jbrockmendel commented on #35484
@machow want to make a PR for this?

[2020-09-02 23:13] jbrockmendel commented on #35415
cc @TomAugspurger

[2020-09-02 23:20] jbrockmendel commented on #36036
@charlesdong1991 thoughts on this?

[2020-09-02 23:22] jbrockmendel commented on #35871
cc @john-bodley thoughts on this?

[2020-09-02 23:31] jbrockmendel commented on #32056
@seberg is this a resolved issue?

[2020-09-02 23:32] ssche commented on #36060
If the MI of the groupby operation is re-created, the multiplication works as expected, so I suspect the groupby grouping MI creation is where it fails.

[code]

[2020-09-02 23:44] #31219 closed

[2020-09-02 23:48] jbrockmendel commented on #35635
@wilberh if the solution suggested by @gordthompson works for you, thats probably your best bet.  Is that viable?

[2020-09-02 23:51] jbrockmendel commented on #35596
cc @mroeschke OP says this is a bug; do you agree?  if so pls add label

[2020-09-02 23:51] jbrockmendel commented on #35487
Isn't this kind of equivalent to adding more bits to the Timestamp representation?

[2020-09-02 23:55] jbrockmendel commented on #35372
I doubt we'll want to support having an HTML parser that can figure out how to get at embedded information like this.  You're better off using bs4 directly.

[2020-09-03 01:12] jbrockmendel commented on #34821
Want to make a PR to do this?

[2020-09-03 01:16] seberg commented on #32056
I think this is a sanity check in cython, which is being a bit overzealous, and probably is simply fixed in Cython (in the sense that it is now normally a warning, and NumPy actually filters the warning away).

I am not sure there is anything we can do about it, it is possible the size of the ufunc struct grew, but unless you subclass ufunc (which nobody really does), it shouldn't be a big issue.

[2020-09-03 01:16] jbrockmendel commented on #32441
@shang-vikas pull request would be welcome.  it sounds like you've already done most of the work by identifying the source of the problem

[2020-09-03 01:17] john-bodley commented on #35871
@jbrockmendel I'm not sure what Panda's perspective is on breaking changes with regards to minor releases. I'm sorry I wasn't more explicit in the [whatsnew](https://github.com/pandas-dev/pandas/blob/master/doc/source/whatsnew/v1.1.0.rst) document and should have tested whether this was a breaking change. Is it viable update the document post release?

[2020-09-03 01:31] seberg commented on #32056
Yeah, we now have the `ctypedef class numpy.ufunc [object PyUFuncObject, check_size ignore]:` "check_size ignore" flag in the `.pyd`, so the issue is fixed but would show up if you used a cython which did not include this when compiling, and then upgrade to a newer numpy version.  Making sure you are using a newish cython will thus be sufficient.

[2020-09-03 01:52] jbrockmendel commented on #35923
@willayd is this intended to be supported?

[2020-09-03 02:00] jbrockmendel commented on #35215
The difference here is because `idx._engine` is created lazily when it is needed (at the .loc call).  Attempts to trim the memory footprint of the IndexEngine are welcome, but this is expected behavior.  Closing.

[2020-09-03 02:00] #35215 closed

[2020-09-03 02:37] cinerea0 opened #36083 "BUG: Plotting charts in different orders creates different plot outputs"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

Plotting the "separate" plot before the "total" plot results in the following graphs:

*separate_plot.png*:
![separate

[2020-09-03 02:39] mahsa-ebrahimian commented on #36074
sure, I just updated it.

[2020-09-03 02:56] #34714 closed

[2020-09-03 03:06] #35677 closed

[2020-09-03 03:06] #26124 closed

[2020-09-03 03:06] #32392 closed

[2020-09-03 03:13] jbrockmendel commented on #33876
@NotSpecial ping, we could use some more information to help address your issue (see previous comment)

[2020-09-03 03:17] jreback commented on #36070
note that we don't support AIX explicitly (eg test) but will take patches

[2020-09-03 03:58] nishithshowri006 commented on #36033
![image](https://user-images.githubusercontent.com/58651995/92069646-7c6cc780-edc7-11ea-8375-ce7c36b906b8.png)
@TomAugspurger I think this is what @Kaufhold  want to ask when we convert a Series or a Dataframe to a list nan value is showing up insead of None.

[2020-09-03 05:57] attack68 commented on #36074
From your data:

[code]

so your memory requirement for the multiindex from_product is almost 4 million rows.
Your data only has 404000 rows so the multiindex you are creating is inefficient for your data.

Alternatively:

[code]
There are only 69710 unique tuples in the multiindex derived from your data.

I think what are trying to achieve is doable, but I would ask in StackOverflow, github issue

[2020-09-03 06:13] noklam opened #36084 "BUG: feather NaN data type issue"
# Issue
Feather recasting nan to None instead
![image](https://user-images.githubusercontent.com/18221871/92077744-97533200-edef-11ea-8c8e-5ed8ed9d9991.png)
![image](https://user-images.githubusercontent.com/18221871/92077755-9b7f4f80-edef-11ea-94aa-d29b5cf7de62.png)

#### Code Sample, a copy-pastable example
[code]

[code]

#### Problem description

[this should explain **why** the current behavi

[2020-09-03 06:48] charlesdong1991 commented on #36036
emm, okay, it was indeed brought in to avoid having identical rows when not using named aggregation, but probably not very ideal to put this way.

can be considered as a regression indeed, I can take a closer look and draw up a PR to address it.

thanks @YarShev @asishm

[2020-09-03 07:56] grantstead commented on #35998
Thanks @attack68 .  I unfortunately don't have a fix to contribute here.  I worked around this by writing a render method, which takes the styler.  This is not great, but I can't easily change the pandas source code in my env.  My render method looks like this:

`    def render(self):
        """ Custom renderer to add to the class indicating cells that are late on the burndown.

            Param

[2020-09-03 08:06] attack68 commented on #35998
For what its worth, my pull request for tooltips current does exactly the same thing as what you are doing, and I also express that it could be optimised (but for small tables not currently worth the effort)

[code]

I'll continue to keep and eye out and see if any other developments are made.

[2020-09-03 08:38] dschwoerer commented on #33315
`-Werror` essentially breaks the concept of deprecation, as rather warning and giving time to adjust, it breaks immediately.
At least `-Wno-error=deprecated-declarations` should be added as mentioned before.

I am trying to use pandas with python3.9, and noticed this issue:
https://github.com/pandas-dev/pandas/issues/34881 which has been detected by CI before. Until this warning is resolved and up

[2020-09-03 08:38] hadisaadat commented on #30668
this error still exists and not solved yet, I just upgraded my pandas but no effect!

[2020-09-03 08:39] NeoWang9999 commented on #26050
@simonjayhawkins why it's closed? the problem still remain.

[2020-09-03 08:59] onshek commented on #24980
Hi @charlesdong1991 , it seems in #29670 you have already solved the errors, so what's the problem at that time?

[2020-09-03 09:06] charlesdong1991 commented on #24980
it was quite long ago, I cannot remember the details, I think the main concern back then was the solution in #29670 is kind of a hotfix, and might not be generalized.

There are some comments in #25000 and you can take a look @onshek  A PR to solve it is certainly welcome!

[2020-09-03 09:06] jreback commented on #36066
i think this is patched on master - pls check

[2020-09-03 09:21] simonjayhawkins commented on #26050
see https://github.com/pandas-dev/pandas/issues/26050#issuecomment-619373634

[2020-09-03 09:30] simonjayhawkins commented on #30668
the code sample in the OP gives the expected output in the OP in latest release pandas

[code]

@hadisaadat You may want to open a new issue (using the bug template) including a MRE of the failing case and the versions you are using.

[2020-09-03 09:39] MFalghanmi commented on #35969
Hey, @jeet-parekh
I did upgrade the version, but I am still facing the same issue.
[code]
[code]

[2020-09-03 09:55] Hanspagh commented on #36066
It does not seem to be patched on master.
Running with the lastest master produces the same bug

[code]

[2020-09-03 10:02] paul-lilley commented on #31243
Hi,
I can confirm this is a problem with decoding the RLE compression, not related to encoding.
Looking at the docs for sas7bdat (actually the docs for the R package that sas7bdat is based on) SAS has an interesting compression with differing (and overlapping) options for how single and consecutive fields are compressed.  It looks like pandas correctly decompresses some of the options, but not all

[2020-09-03 10:10] simonjayhawkins commented on #35830
since this was working in 1.0.5 will mark as regression

[code]

[2020-09-03 10:21] YarShev commented on #36036
@charlesdong1991 , okay, thanks! Will be waiting your PR.

[2020-09-03 10:23] jreback commented on #36066
pls look for a duplicate bug report

[2020-09-03 10:42] simonjayhawkins commented on #35858
Thanks @matthewgilbert for the report. This was giving the correct output in 1.0.5

[code]

[2020-09-03 10:52] MarcoGorelli commented on #36079
Closing as there's no way to know what's happening here, but please let us know if you can provide a bug report (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) and I'll reopen

[2020-09-03 10:52] #36079 closed

[2020-09-03 11:25] TomAugspurger commented on #36033
That's pandas' type inference, and isn't something we can really change. The list `[1, 2, None]` is inferred to be floating point, while `[None, None]` is inferred to be object.

You can specify `dtype=` if pandas' inference isn't what you want.

[2020-09-03 11:25] #36033 closed

[2020-09-03 11:31] Hanspagh commented on #36066
might be loosely related to #35565 and #34125

[2020-09-03 11:44] Hanspagh commented on #36066
Seems to boil down to the use of `np.in1d` for more than 1mill rows, would it be better to disallow NaN in `isin`, since

and then ask the user to use `isna` instead?

[2020-09-03 11:54] paul-lilley commented on #31243
I can try to put together a PR to alter the decompression for control code 0x40 (and add code for 0x50), or (since we have other issues related to SAS files) should we look to use Evan Miller's library or pyreadstat rather than duplicating others' efforts within pandas? @jbrockmendel, @mroeschke  - what do you think?

[2020-09-03 12:11] jreback commented on #36066
hmm we do properly handle man actually for smaller sizes

so would need to filter null out and then add back if it exists (and isin) as we want the perf of np.in1d for larger sizes

[2020-09-03 12:31] jorisvandenbossche commented on #36084
This is dependent on the behaviour of pyarrow (which is used to read the feather file). When converting an Arrow string array to pandas, `pyarrow` uses None for missing values:

[code]

So regardles of whether the original pandas data uses `np.nan` or `None`, it will be "null" (missing value") in arrow / feather file format, and when converting back to pandas it uses `None` to indicate missing val

[2020-09-03 13:31] TomAugspurger commented on #36083
IIUC, this is the same as https://github.com/pandas-dev/pandas/issues/8776. DataFrame.plot and Series.plot are inconsistent with whether they plot on an existing figure or create a new one.

[2020-09-03 13:31] #36083 closed

[2020-09-03 13:43] onshek commented on #24980
I've changed all `leading_space = 'compat'` to `leading_space = True` and this passed all tests (223 in total) modified and added in #29670. It seems there's no need to change `leading_space: Optional[bool] = None` to `leading_space: Union[str, bool] = "compat"`. I'll make a PR after I take care of the rest codes in `test_to_latex.py` if you don't mind.

[2020-09-03 14:11] noklam commented on #36084
thank you for the explanation.

[2020-09-03 14:12] Sadin commented on #28283
@TomAugspurger I would be interested in contributing to pandas and start by helping to tackle some of these methods. Which methods might be good places to start?

[2020-09-03 14:13] charlesdong1991 commented on #24980
go-ahead for opening a PR, and make any changes you need. I don't mind at all ^^ @onshek

[2020-09-03 14:19] #36084 closed

[2020-09-03 14:20] swapniljha001 commented on #36006
Which file should be edited to reflect the changes mentioned here?

[2020-09-03 14:38] TomAugspurger commented on #28283
Thanks @Sadin. I think DataFrame.duplicated would be a good one.

[2020-09-03 14:56] smithto1 commented on #36069
It looks like this behaviour was deliberately added here to make it easier to read ragged csv's: https://github.com/pandas-dev/pandas/issues/2981

Looking at Pythons `csv` library it appears to behave the same (see `csv.DictReader`).

So perhaps it would be useful to have a flag to raise an error on a ragged csv, `ragged='warn'/'raise'/None`.

[2020-09-03 15:51] juan-carlos-calvo commented on #15354
Hi there, I second also the suggestion please. This would be a really useful feature.

[2020-09-03 16:01] WillAyd commented on #35923
Losing the first record is a nasty surprise - would take a patch here for sure

[2020-09-03 16:10] MarcoGorelli commented on #36006
Perhaps just mention in the docstring guide that it's preferrable to use single quotes for variable, module, function, and class names - then at least there's some kind of rule in the docstring guide and going forward it can be referenced

[2020-09-03 16:15] #36006 closed

[2020-09-03 16:58] #35985 closed

[2020-09-03 17:00] miker985 opened #36096 "ENH: Improve `OverflowError` message when `pandas.read_stata` fails to convert dates"
#### Is your feature request related to a problem?

Calling `pd.read_stata` on a DTA file with a bad date format code leads to a minimally useful error message. The error is [raised from this line](https://github.com/pandas-dev/pandas/blob/309018c7ce7e9e31708f58af971ed92823921493/pandas/io/stata.py#L294).

What I see:

[code]

#### Describe the solution you'd like

I'd like a clearer message indic

[2020-09-03 17:05] mroeschke commented on #31243
cc @bashtage

[2020-09-03 17:43] mdering commented on #35215
Understood. are there any best practices for this, then?

[2020-09-03 18:02] jbrockmendel commented on #35215
Well we generally dont think of this as a "problem" that requires any best practices.  If you are really low on memory, you _could_ do `idx._cache.clear(); gc.collect()` every time you do a lookup.  Or use something like dask to do things out-of-core.  But really this is more effort than it is likely worth.

[2020-09-03 18:15] LosaMatova commented on #15354
I have just such an example here: https://stackoverflow.com/questions/63729190/pandas-resample-daily-data-to-annual-data-with-overlap-and-offset

Every Nth would be every 365th.

[2020-09-03 18:20] mdering commented on #35215
ok thanks so much for your help!

[2020-09-03 20:36] dwervin opened #36103 "QST: Why does Pandas change data type from object to float after reading 32768 rows from CSV file?"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas
Using Pandas 1.0.3.

I have a CSV with 43,00 rows. I noticed that one of the columns is object type even though it has floats.  It looks like

[2020-09-03 21:08] dwervin commented on #36103
Looking at this some more.  This seems like a serious issue when a column appears to be one type but actually contains two distinct types of data.

[2020-09-04 01:23] jbrockmendel commented on #32432
In DataFrame._reduce there is a function `_get_data`:

[code]

It looks like changing the `data = self._get_bool_data() if axis == 0 else self` to just `data = self._get_bool_data()` fixes the example in the OP.  Not sure if that breaks anything else.

[2020-09-04 05:27] VirosaLi opened #36108 "CLN: clean `pandas/compat.__init__.py`"
Remove `is_platform_32bit()` from `pandas/compat.__init__.py`, use `IS64` instead to improve consistency.

[2020-09-04 06:19] jorisvandenbossche commented on #36076
Same happens for datetime/timedelta -> https://github.com/pandas-dev/pandas/issues/34479 (which came out of the same PR experiments)

[2020-09-04 07:24] onshek commented on #35240
@jorisvandenbossche Hi, I wonder what is expecting result of the above example? And what if the below:

[2020-09-04 08:04] KarenEfereyan commented on #36108
@VirosaLi can i take this up? I am a new contributor. I really want to be  a part of this

[2020-09-04 08:15] KaiOuYang opened #36110 "QST:how can i cut down time when using pandas.style.to_excel()?"
#### Question about pandas
  I tested the function  **to_excel()**  from the following code using xlsx file which size is **50**M.
the result is **df_style_red_mark**  spend 350s ,but **df** spend 60s. And i want to know why it is?
how can i cut down time when using **df_style_red_mark**?
[code]

[code]

[2020-09-04 08:33] mglowacki100 commented on #36037
I've double check it and issue is within `scipy.stats`

[2020-09-04 08:33] #36037 closed

[2020-09-04 08:46] smith1401 opened #36111 "BUG: read_csv with custom date parser and na_filter=True results in ValueError"
[code]

I noticed this problem when I executed a piece of old code which has worked before (a few months ago). Normally this code would parse a text file with GPS seconds of week as time and convert it to a TimeDeltaIndex. Now when I execute this, it results in a **ValueError: unit abbreviation w/o a number**. (Full stack trace below) I tracked it down to the default option **na_filter=True** in p

[2020-09-04 08:53] smithto1 commented on #36110
Hi @KaiOuYang , I can see that is a real problem you're running into, but I think unless you can provide a more complete example with at least some data, we are not able to recreate the problem and  can't recommend any fixes.

Also, this type of usage question is more suited for Stack Overflow
https://stackoverflow.com/questions/tagged/pandas

[2020-09-04 09:25] smithto1 commented on #36103
Hi @dwervin ,

If all the rows in a column are nicely formatted floats, they will get dtype float. But once a single row appears that has a string (or anything not coercible to a float), that column will get dtype object. Any column with mixed types will have to get dtype object.

See examples below. When you take just the first two rows, they get dtype float. But read all the rows and they get dt

[2020-09-04 11:02] TomAugspurger commented on #36096
cc @bashtage if you have thoughts.

[2020-09-04 11:04] TomAugspurger commented on #36066
I think fixing https://github.com/pandas-dev/pandas/issues/25395 will fix this as well, so closing as a duplicate of that.

[2020-09-04 11:04] #36066 closed

[2020-09-04 11:06] evyasonov opened #36113 "BUG: pandas.DataFrame().stack() raise an error, while expected is empty"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

I expect that stack() of empty dataframe will be empty dataframe and not an exception

[2020-09-04 11:06] TomAugspurger commented on #36064
Is this limited to the inline notebook backend?

Can you figure out which version / commit introduced the regression?

[2020-09-04 11:08] bashtage commented on #36096
The flag would be OK but it should only be part of Stata Reader, read stata. Read stata api is already quite crowded and adding a rarely used feature would just make things worse.

Would it skip entire columns or just observations? If entire columns, would the columns raw values be returned? If single. Observations presumably these would be converted to NAT.

Also, what produced this dta file? Is

[2020-09-04 11:10] TomAugspurger commented on #36060
as a workaround

[code]

I'm not sure which representation is preferable (storing `NaN` in the levels and use regular codes, or not storing NaN and using -1). But we should be consistent. cc @topper-123.

[2020-09-04 11:10] bashtage commented on #36096
The other option, possibly better would be to return object columns with datetime, when it data is out of range.

[2020-09-04 11:16] jorisvandenbossche commented on #21050
@simonjayhawkins for the release date: I suppose that with git you can get the date of the release commit / tag, and then you can add that to the html context in `conf.py` and then inject that in the notes.

However, I think there is also *some* value in having it hardcoded in the docs I think, or at least for older releases, when looking at the source of whatsnew files to see the date (but maybe

[2020-09-04 11:18] simonjayhawkins commented on #21050
Thanks @jorisvandenbossche. could be simpler to search and replace (the ??) after tagging in the release process. not really looked into this much yet.

[2020-09-04 11:19] simonjayhawkins commented on #21050
actually would need to be before tagging as automated commit.

[2020-09-04 11:21] TomAugspurger commented on #36110
I'd recommend using tools like snakeviz and line-profiler to get a sense for where things are slow. Once you can do that, could you re-open the issue and edit the post to be something like "Styler.<method_name> is slow with <conditions>" and include a reproducible example? Thanks!

[2020-09-04 11:21] #36110 closed

[2020-09-04 11:25] simonjayhawkins commented on #21050
I have started to experiment with GitHub Actions for the Release Process.

https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Manual+Release%22

In order to get workflows to trigger, appropriate permission are required.

To experiment, have forked https://github.com/pandas-dev/pandas-release

created a branch for the changes and then in the forked repo have made the new

[2020-09-04 11:26] TomAugspurger commented on #35948
Do you mean `odfpy` rather than `pyodf`?

We'll need to update https://github.com/pandas-dev/pandas/blame/master/pandas/compat/_optional.py#L48-L50 to take an optional package name argument.

[2020-09-04 11:57] simonjayhawkins commented on #33999
changed milestone to increase visibility, but not a blocker.

[2020-09-04 12:19] TomAugspurger commented on #35920
What's your expected behavior? Using the index as y?

[2020-09-04 12:21] TomAugspurger commented on #36113
Thanks for the report. What's the expected output? An empty Series?

[2020-09-04 12:24] TomAugspurger commented on #33620
@pshMsGsAZL2n07ohWBCAGX9cC can you provide a reproducible example along with he expected output? See http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-04 12:25] TomAugspurger commented on #33634
Thanks for the report @mfcabrera. Are you interested in working onthis?

[2020-09-04 12:29] TomAugspurger commented on #33647
Thanks for the report. Does this work?

[code]

If not, I think that we could support something like `y.asfreq("H", level=1)` here.

[2020-09-04 12:41] TomAugspurger commented on #33692
Thanks for the report @neshitov. Something strange is going on here. Are you interested in investigating more? Can you start by looking at the behavior of `concat` with date and Timestamp objects?

Note that we're hitting this date vs. datetime vs. Timestamp issue in several places right now (https://github.com/pandas-dev/pandas/issues/35830 and related issues).

[2020-09-04 12:43] TomAugspurger commented on #33517
@mfcabrera are you able to simplify your bug report? I'm having trouble following it all. Ideally it would have

1. setup code
2. Actual output of the buggy operation
3. Your expected output

[2020-09-04 12:44] TomAugspurger commented on #33759
@mwouts can you see how large an empty pytables file is?

[2020-09-04 12:53] dwervin commented on #36103
@smithto1 Sorry, I might not have been clear enough so I will try again. I understand that when it gets to the the string in that field that it is supposed to convert the column to object, but what I'm saying is that it only appears to do that. If I  do df.info(), it reports that the column is object.  Since I was interested in filtering out the floats converted to object, I used **.replace('.',''

[2020-09-04 12:56] TomAugspurger commented on #33765
Thanks for the report. We don't have a RecursionError anymore, instaed a ValueError.

Here's a slightly simpler reproducer.

[code]

[2020-09-04 12:58] TomAugspurger commented on #33795
Thanks for the report. Are you interested in working on a fix?

[2020-09-04 12:58] aelafifi commented on #36031
I found this issue is related to C float number `2 ** 53 + 1`

[code]

In your failing test, the float number `3002399751580331.0` when multiplied by `3` results exactly `2**53+1`
which will be converted to `2**53` and that difference of 1 is the reason for the result of the last window to be `-0.3333333`
which is `-1` _(the difference between `2**53` and `2**53-1`)_ divided by `3` _(window size)_

[2020-09-04 12:59] TomAugspurger commented on #33802
@UlionTse let us know when you can update the original post following the template at http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report. Then we can reopen the issue and see what's going on!

[2020-09-04 12:59] #33802 closed

[2020-09-04 13:00] VirosaLi commented on #36108
There is an open PR on this issue. See #36109. ^^

[2020-09-04 13:05] TomAugspurger commented on #33825
We can repurpose this as a general "we need a way for extension types to say what is / isn't a scalar. xref https://github.com/pandas-dev/pandas/issues/35176.

[2020-09-04 13:08] TomAugspurger commented on #33889
I'd strongly recommend against using tuples as values in an Index, since they overlap with MultiIndex. You're welcome to try investigating this but I suspect it won't be possible to support.

[2020-09-04 13:10] TomAugspurger commented on #33950
Can you also merge master and re-push. I don't know why CI failed last time. We also need a release note in whatsnew/1.2.0.rst.

[2020-09-04 13:11] #34017 closed

[2020-09-04 13:12] TomAugspurger commented on #34035
Thanks. Closing as a duplicate of #29252.

[2020-09-04 13:12] #34035 closed

[2020-09-04 13:13] TomAugspurger commented on #34046
Thanks, I think @Liam3851's suggestion looks reasonable. I think adding a dedicated method for this isn't needed.

[2020-09-04 13:13] #34046 closed

[2020-09-04 13:16] TomAugspurger commented on #34047
Thanks for the report. Are you interested in working on this?

[2020-09-04 13:19] TomAugspurger commented on #34061
@levitsky Thanks for the report. can you provide a minimal exmaple? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-04 13:22] TomAugspurger commented on #34299
@mcepl can you try again? Sometimes this type of failure indicates a warning leaking from another test.

Given that this seems to be somewhat platform specific, are you able to investigate it?

[2020-09-04 13:22] wilberh commented on #35635
Yes; thank you.

[2020-09-04 13:23] TomAugspurger commented on #34357
@phofl is your issue the same as https://github.com/pandas-dev/pandas/issues/34292?

[2020-09-04 13:24] smithto1 commented on #36103
Hi @dwervin, the best thing to do is if you can include a minimal reproducable example. Maybe just include a few rows of the data that illustrates the problem. It is hard to recommend any fix from your description.

[2020-09-04 13:25] TomAugspurger commented on #34360
cc @SylvainLan and @jeschwar if either of you have thoughts.

@jdossgollin it'd be helpful if you provide a minimal example constructing a small DataFrame and showing the output http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-report.

[2020-09-04 13:28] dwervin commented on #36103
Can I upload the data somehow?  The minimal working example needs more than 32,768 rows of data so you can see for yourself how it switches data type at 32K rows.

[2020-09-04 13:30] TomAugspurger commented on #34412
This is probably buggy, but I'm not entirely sure either.

[2020-09-04 13:33] TomAugspurger commented on #34528
@idankash did you open an issue in scipy? If so could you link back to this issue?

And I think let's close this for now, since we can't work on it till it's implemented in scipy.

[2020-09-04 13:33] #34528 closed

[2020-09-04 13:37] TomAugspurger commented on #34557
Thanks for the report. Are you interested in working on this?

What's your expected output for the sum? Would it be equivalent to this on a 64-bit system?

[code]

[2020-09-04 13:40] TomAugspurger commented on #34562
I don't think we're likely to add `between_<thing>` for all the different resolutions people would like to filter by.

[2020-09-04 13:42] TomAugspurger commented on #34598
Closing as a duplicate of https://github.com/pandas-dev/pandas/issues/16404. To support this we'll need hashtables / algos that operate on all these integer dtypes.

[2020-09-04 13:42] #34598 closed

[2020-09-04 13:43] OlehKSS commented on #35920
In the case with kind='line' the other columns are used as y, i.e. y = ['a', 'b', ...]. I was expecting the same behavior for kind='scatter'

[2020-09-04 13:45] TomAugspurger commented on #34617
@frd-glovo in your initial post you have two expected outputs. Which one is the correct one, and can you remove the other? Or is the other one the actual output?

[2020-09-04 13:47] TomAugspurger commented on #34637
Going to close this, since casting before filling is probably clearest for this specific use case, and I don't think that fillna taking a callable will fit too well in related places.

[2020-09-04 13:47] #34637 closed

[2020-09-04 13:49] FHTMitchell commented on #34557
Hi @TomAugspurger

I would be happy to try and fix. Your snippet, however, doesn't represent the problem. It's about the **size** of the array, not the contents. The expected output would be (running my original code on redhat linux 64bit):

[code]

[2020-09-04 13:49] TomAugspurger commented on #34662
I think we'd take improvements to the docs here, but this is a general issue with NumPy's integer dtype not handling missing data. Pandas nullable dtypes are designed to do that.

[2020-09-04 13:49] #34662 closed

[2020-09-04 13:50] TomAugspurger commented on #34676
@kuraga can you include the code to generate the `test.xlsx` file? We'd need that for a unit test anyway.

What's the expected ouput?

[2020-09-04 13:51] dwervin commented on #36103
I uploaded some test data.  This should demonstrate what's going on.

[TestData.zip](https://github.com/pandas-dev/pandas/files/5175127/TestData.zip)

df = pd.read_csv('data/TestData.csv')

From df.info() the last column says it's object.
![image](https://user-images.githubusercontent.com/30344880/92246218-1184c480-ee8b-11ea-9923-fda97225c669.png)

Unfortunately, when I look at type of data at 32,

[2020-09-04 13:52] TomAugspurger commented on #34765
Do you think this is related to https://github.com/pandas-dev/pandas/issues/34676? Will fixing one fix the other?

Can you include the code to generate the excel file? Are you interested in working on this?

[2020-09-04 13:52] TomAugspurger commented on #34766
@kuraga I don't know what to do with this issue. We'll need some more specificity in the actual issue itself to determine when it can be closed.

[2020-09-04 13:56] TomAugspurger commented on #34777
The check needs to be updated to handle MultiIndexes. Something like

[code]

[2020-09-04 14:02] TomAugspurger commented on #34790
Thanks. I'm watching this on the arrow JIRA. Let's close this and we can reopen if they determine the bug to be in pandas rather than pyarrow.

[2020-09-04 14:02] #34790 closed

[2020-09-04 14:04] TomAugspurger commented on #34791
I think this one is not ambiguous since `df.query('a < b')` is equivalent to `df['a'] < df['b']` and there's no ambiguity about what `df['a']` refers to.

The groupby case is ambiguous since `by='a'` can be either the column or index level.

[2020-09-04 14:04] #34791 closed

[2020-09-04 14:05] TomAugspurger commented on #34862
Does the UesrWarning make it clear that you should be passing the same number of levels?

[2020-09-04 14:06] TomAugspurger commented on #34921
@subhrm have you been able to investigate this?

[2020-09-04 14:08] TomAugspurger commented on #34557
Agreed that my example doesn't demonstrate the `.size` issue, which is a bug. I was demonstrating the output of `DataFrame.sum()`, where we have an established behavior of wrapping around for int64 dtype.

[2020-09-04 14:11] Genarito opened #36116 "ENH: Standarization changing copy parameter to inplace"
#### Is your feature request related to a problem?

No, it's not a problem

#### Describe the solution you'd like

Some functions like [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) (I don't know if there is another one) has the `copy` parameter, which has exactly the same functionality that `inplace` in the vast majority of the other methods.
Som

[2020-09-04 14:16] hs2361 commented on #35948
Hello, I am new to the community, and I would like to work on this issue. May I take this issue?

[2020-09-04 14:16] FHTMitchell commented on #34557
I see. I'd expect the result of `sum` to either autocast to a larger `int` size (as happens on linux) or to wrap. What I would not expect is for the sum to be case to a float type and then return `NaN`.

[2020-09-04 14:26] TomAugspurger commented on #34965
I think that `rolling.apply` is defined to take 1d input (ndframe or series). We don't have a table-wide rolling.apply (https://github.com/pandas-dev/pandas/issues/15095).

We have https://github.com/pandas-dev/pandas/issues/23002 for non-numeric data in rolling. Which I think covers all your issues.

[2020-09-04 14:26] #34965 closed

[2020-09-04 14:28] #36014 closed

[2020-09-04 14:30] TomAugspurger commented on #34967
@RobertRol could you edit your original post to follow the template and have the actual output and expected output?

Are you interested in working on this?

[2020-09-04 14:32] #36108 closed

[2020-09-04 14:33] TomAugspurger commented on #34977
@MarcoGorelli I'm not sure this is a bug, since you're passing a 1-D input to a thing that's supposed to be 2d. This looks like the right way to do this

[code]

(certainly the error message can be improved).

[2020-09-04 14:35] TomAugspurger commented on #34992
Agreed with Will's proposal.

[2020-09-04 14:35] #34992 closed

[2020-09-04 14:36] TomAugspurger commented on #35005
@eggers let me know if https://github.com/pandas-dev/pandas/issues/35005#issuecomment-674061609 is incorrect. We'd be happy to have doc improvements, but I think things are working as intended.

[2020-09-04 14:36] #35005 closed

[2020-09-04 14:38] TomAugspurger commented on #35006
@Zoynels I'm having trouble following your report. Could you simplify things by removing all extraneous details? You should have

1. the code to reproduce
2. the actual outuput
3. the expected output
4. the reasons for why (e.g. show the related behavior)

[2020-09-04 14:41] TomAugspurger commented on #35016
@gshpychka this is working correctly with recent verisons of matplotlib

![gh](https://user-images.githubusercontent.com/1312546/92251634-bc4cb100-ee92-11ea-93e2-c63cfac5c0d7.png)

[2020-09-04 14:41] #35016 closed

[2020-09-04 14:42] Hanspagh commented on #25395
Would a solution be to disallow nans in `isin` to make it more numpy coherent?

[2020-09-04 14:43] TomAugspurger commented on #35017
Happy to take an addition to the ecosystem docs when a reader / writer is available. That won't be implemented in pandas, but perhaps in / using pyarrow.

[2020-09-04 14:43] #35017 closed

[2020-09-04 14:48] TomAugspurger commented on #35043
@b-niu personally, I'd recommend something like

[code]

And then manually handle the names (perhaps reading in the first line of the file).

[2020-09-04 14:49] TomAugspurger commented on #35126
Any recommendations on what should be done here? I'm inclined to just follow NumPy's behavior.

[2020-09-04 14:51] miker985 commented on #36096
:+1:

Preference to returning `datetime` objects (great idea) with raw values second.

The file name indicates it comes from Mexican National Health and Nutrition Surveys (ENSANUT).

I've opened the file with both Stata 13 and Stata 15. In both cases Stata displays the data as a numeric value in spite of the fact it carries a date format. Using Stata I dropped most rows and all but one column to c

[2020-09-04 14:53] TomAugspurger commented on #35132
Hmm, agreed that this should probably work, but we'll need to think through all the ramifications. Can you work on this a bit @zhenruiliao and see what comes up?

[2020-09-04 14:55] TomAugspurger commented on #35162
@arw2019 what needs to be done here? Is the original post accurate for what we want?

[2020-09-04 14:58] TomAugspurger commented on #35219
The issue is possibly around here

[code]

Do we also need a length check in that if condition? Can you investigate @Flix6x?

[2020-09-04 14:59] TomAugspurger commented on #35219
And given the discussion in https://github.com/pandas-dev/pandas/issues/35248, is this a duplicate or distinct?

[2020-09-04 15:02] TomAugspurger commented on #34557
The size issue is a duplicate of https://github.com/pandas-dev/pandas/issues/34557#issuecomment-687173178.

Will leave this open for the overflow issue.

I think that's the part that we need to clarify. We should (I think) have consistent behavior across windows / linux. We might have different behavior between 32 and 64-bit systems.

[2020-09-04 15:03] arw2019 commented on #35162
I think if we add a note in the docs that's good enough. I'll submit a PR

[2020-09-04 15:04] jdossgollin commented on #34360
Sure thing.

[code]
gives
[code]
I would like instead for the table to show
[code]

Here's a live example of how the difference plays out in a document: https://www.overleaf.com/read/wyypsqptyqvb

[2020-09-04 15:09] sdfordham commented on #35126
This is some kind of floating point arithmetic issue in cpython. I assumed it was due to representing the prime 97 as a float, but now actually I see you dont get the same behaviour with e.g. 89.0 but you do with e.g. 87.0, 92.0, 102.0.

You would need to include some kind of very small number check but I'm not sure where/when you need to put it.

[2020-09-04 15:12] TomAugspurger commented on #35269
@Rufflewind can you simplify the example to remove the CSV stuff? Are you interested in investigating what's going on?

[2020-09-04 15:17] avinashpancham commented on #35267
I can have a look at it this weekend

[2020-09-04 15:17] #35658 closed

[2020-09-04 15:17] TomAugspurger commented on #35282
I believe that's saying `a.equals(b)` is True when the columns have perhaps different dtypes but the same values.

[code]

A PR clarifying this would be welcome, but we don't need an issue open for it I think.

[2020-09-04 15:17] #35282 closed

[2020-09-04 15:20] TomAugspurger commented on #35296
@sm-Fifteen we'd happily accept improvements to the docs. I'm not sure that code sample is appropriate for the user guide (perhaps in the cookbook though). Will you submit a pull request?

[2020-09-04 15:20] TomAugspurger commented on #35313
Can you provide a minimal example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2020-09-04 15:21] TomAugspurger commented on #35332
I think we're just using Python's `open` there. I'd suggest search bugs.python.org to see if this has been reported.

[2020-09-04 15:21] #35332 closed

[2020-09-04 15:23] TomAugspurger commented on #35346
Agreed that `diff` would be better than `to_timedelta`.

[2020-09-04 15:24] jbrockmendel commented on #35414
I can't reproduce this on master.  Can you confirm?

[2020-09-04 15:26] TomAugspurger commented on #35370
Note that this is raising now after matplotlib does the 2D indexing.

[code]

I'm not sure what's best to do here, but additional investigation would be welcome @trenton3983.

[2020-09-04 15:29] TomAugspurger commented on #35372
Agreed, read_html is mainly focused on relatively simple tables.

[2020-09-04 15:29] #35372 closed

[2020-09-04 15:30] TomAugspurger commented on #35403
Can you provide some motivation for this? Way doesn't passing callables to agg / transform / apply suffice?

[2020-09-04 15:31] TomAugspurger commented on #35406
This is at https://github.com/pandas-dev/pandas/blob/9ad63636cad78b6cfbbdb240c1dfcb72158eeb69/pandas/core/series.py#L164-L169 if anyone is interested in working on it.

[2020-09-04 15:31] TomAugspurger commented on #35414
Also can't reproduce. Let us know if you still see it on master @rwijtvliet.

[2020-09-04 15:31] #35414 closed

[2020-09-04 15:32] isabelamaro-hotmart commented on #35476
I also have the same problem. Any news?

[2020-09-04 15:33] TomAugspurger commented on #35419
I'd recommend removing that section and pointing people to projects like

* parquet for tabular data
* H5Py if you're using simple types and need to use HDF5

[2020-09-04 15:37] TomAugspurger commented on #35449
I'm not sure there's anything to do here. The array type for `datetime64[ns]` is an `ndarray[datetime64[ns]]`.

[code]

[2020-09-04 15:38] TomAugspurger commented on #35449
I see from https://github.com/pandas-dev/pandas/issues/35448 there's some discussion around making Series.unique always return an extension array (at least for datetimes?). I'm not sure about that either.

[2020-09-04 15:41] TomAugspurger commented on #35450
We'd welcome additional investigation @MJafarMashhadi.

[2020-09-04 15:42] TomAugspurger commented on #35474
Can you provide an example? I'm having trouble understanding, but this sounds like a `.groupby().idxmin()`.

[2020-09-04 15:43] TomAugspurger commented on #35482
Makes sense to me. cc @jbrockmendel if you have any thoughts / objections.

[2020-09-04 15:53] TomAugspurger commented on #35476
This is a duplicate of https://github.com/pandas-dev/pandas/issues/33315. You would need to patch `setup.py` to remove the `-Werror`. May want to comment over there that this is causing issues on alpine. You might be able to set some CFLAGS to ignore the individual warnings as well.

[2020-09-04 15:58] TomAugspurger commented on #35551
@nrcjea001 what's your suggested fix here? And is your expected output right? Why isn't there a `date` level in the index?

[2020-09-04 16:00] TomAugspurger commented on #35545
@rxxg sounds like the fix would need to go in sas7bdat then? Have you submitted an issue there? Will you post it here when you do?

[2020-09-04 16:14] jreback commented on #36116
we are planning on deprecating `inplace` see https://github.com/pandas-dev/pandas/issues/16529

in any event.

[2020-09-04 16:14] #36116 closed

[2020-09-04 16:25] jeschwar commented on #34360
@jdossgollin thanks for identifying this.  I didn't give the repeated entries in the List of Tables much thought initially because the table is indeed occupying multiple pages.  I can take this and revise such that the List of Tables looks cleaner.  Thanks for doing all the hard work!

[2020-09-04 16:30] KarenEfereyan commented on #36108
Oh okay

[2020-09-04 16:33] jeschwar commented on #34360
take

[2020-09-04 16:37] #35635 closed

[2020-09-04 16:39] evyasonov commented on #36113
@TomAugspurger
I expect a dataframe, because if input is not empty, then the method returns a dataframe

[2020-09-04 16:45] cpbl opened #36122 "Regression in pandas/io/excel/_odfreader.py (UnboundLocalError: local variable 'spaces' referenced before assignment)"
An OpenDocument spreadsheet with a single cell containing a superscript causes a `UnboundLocalError: local variable 'spaces' referenced before assignment` crash in Pandas.

I'm attaching the .ods file.
 This used to work fine (one month ago on my machine). I tried upgrading to Pandas 1.1.1 and get the same bug. It looks like what's below:

[code]

[pandas-bug.zip](https://github.com/pandas-dev/pan

[2020-09-04 16:53] cpbl commented on #36122
Similar error, but looks like  different minimal example content as this:
https://github.com/pandas-dev/pandas/issues/35802

[2020-09-04 16:56] jbrockmendel commented on #36076
Any preferences on how to handle the inconsistency?

[2020-09-04 17:26] jdossgollin commented on #34360
thanks for taking this on!

[2020-09-04 17:31] JulianWgs commented on #28817
d6stack implements database specific function ([Link](https://github.com/d6t/d6tstack/blob/master/d6tstack/utils.py))

- postgres implementation uses raw_connection
- mysql and mssql use local file

I don't think it is worth to implement these for the gain in performance.

The issue can be closed, if the pandas maintainers agree.

[2020-09-04 17:51] TomAugspurger commented on #35561
Duplicate o fhttps://github.com/pandas-dev/pandas/issues/24980 I think.

[2020-09-04 17:51] #35561 closed

[2020-09-04 17:54] levitsky commented on #34061
It's enough to create an empty DataFrame and apply the style above, then render the resulting HTML:

[code]
The resulting HTML is something like this:

[code]

As you can see, the rule `#T_cd059770_eed6_11ea_b183_645a04675490 th.col_heading,th.blank` will lead to unexpected results in case the page containing this code also has other tables, because the `th.blank` part will apply universally rathe

[2020-09-04 18:01] TomAugspurger commented on #35735
@HimanshuS24 let us know if you can provide a reproducible example and we'll reopen!

[2020-09-04 18:01] #35735 closed

[2020-09-04 18:04] TomAugspurger commented on #35670
I think this is effectively a duplicate of https://github.com/pandas-dev/pandas/issues/34809.  https://github.com/pandas-dev/pandas/pull/34998 will help give more deterministic outputs.

[2020-09-04 18:04] #35670 closed

[2020-09-04 18:18] gokceneraslan opened #36123 "BUG: GroupBy.mean() is extremely slow with sparse arrays"
- [x ] I have checked that this issue has not already been reported.

- [ x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Output:

Dense:
`11 ms ± 430 µs per loop (mean ± std. dev. of 5 runs, 3 loops each)`

Sparse:
`3.91 s ± 33.5 ms per l

[2020-09-04 18:33] TomAugspurger commented on #36123
Can you create the DataFrame in memory? (see http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports).

[2020-09-04 18:47] TomAugspurger commented on #35819
Thanks @maozi07, fixed your example and reproduced.

[code]

[2020-09-04 19:11] TomAugspurger commented on #35869
@nrcjea001 can you check what commit introduced the change, to see if this was deliberate?

[2020-09-04 19:13] TomAugspurger commented on #35739
@veselyvojtech have you been able to investigate this at all?

[2020-09-04 19:16] dzimmanck opened #36124 "ENH: Display IntEnums by name rather then value"
#### Is your feature request related to a problem?

When displaying dataframes that contain IntEnums in the index, columns, or data, it would be nice if they displayed similar to Enum types by using the Enum names that correspond to the value rather then the integer values, which somewhat defeats the prupose of using IntEnums over just ints with alias names.

#### Describe the solution you'd like

[2020-09-04 19:17] TomAugspurger commented on #35871
We can certainly update the documentation, for future readers.

Do people have a sense for whether (partially?) reverting this change is going to cause more issues than just saying that the new behavior is the way it's going to be?

[2020-09-04 19:20] JulianWgs commented on #32590
@jbrockmendel

[2020-09-04 19:24] hs2361 commented on #35948
Please review my changes made in the commit.

[2020-09-04 19:26] TomAugspurger commented on #35888
I think the root problem is something like this: We try to get the unique dates and then pass it to an index.

[code]

But Index infers datetime dtype and converts None to NaT. So we need to somewhere standardize the NA values. I'm not sure exactly where that should be done though. We'd welcome more investigation!

[2020-09-04 19:27] arw2019 commented on #35948
@hs2361 can you open a pull request and link to this isssue

[2020-09-04 19:28] TomAugspurger commented on #35891
Yeah can you make a PR with your suggested change to the docs?

[2020-09-04 19:33] gokceneraslan commented on #36123
[code]

[2020-09-04 19:35] jbrockmendel commented on #36076
From the most recent call, the consensus seems to be that we should deprecate the current behavior in favor of matching the Series behavior

[2020-09-04 19:36] TomAugspurger commented on #35969
@MFalghanmi can you provide a reproducible example? http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports