[2019-10-16 20:07] hwalinga commented on #28235
Why would pandas role its own (almost) equality checker, when it would just be able to use the one from numpy?

[2019-10-16 20:29] hwalinga commented on #29027
Use `df.query("..", engine='python')`

[2019-10-16 20:33] jorisvandenbossche opened #29042 "BUG: read_csv with trailing comma, specified header names and usecols gives confusing error"
Encountered this somewhat strange case: in case you have a malformed file (trailing comma's), we typically set the first column as the index. But if you also pass custom names, and use `usecols`, in that case you get a cryptic error message:

[code]

[code]

I am not fully sure what the behaviour *should* be, but the current error message is not very helpful (since the usecols argument is only usi

[2019-10-16 20:39] jorisvandenbossche commented on #29039
I don't think there is a way to fix this. The built-in `max` function will convert the input to a list (or iterate through the input), which means that the `max` function just sees strings, and does have no knowledge about the order of the categories.

[2019-10-16 21:01] qudade commented on #14286
@languitar Your example code now doesn't result in exceptions but the following:

[code]

is this what you would expect?

Output of `pd.show_versions` (without `None`s):

[code]

[2019-10-16 21:30] qudade commented on #15562
works with released version (0.25.1), too. Can be closed.

[2019-10-16 21:35] mroeschke commented on #15562
Care to contribute a regression test @qudade?

[2019-10-16 22:24] snelson3 opened #29043 "Pandas will not install on Python 3.8 Docker Image"
#### Code Sample, a copy-pastable example if possible

Use this dockerfile
[code]
#### Problem description

Running "docker build . -f <above_docker_file>" results in the error seen below. If I change the dockerfile to be "python:3.7-slim" then pandas installs. The only major difference I can see between the two dockerfiles is the Python version. Not 100% sure it's the version since I haven't trie

[2019-10-16 22:27] jbrockmendel commented on #11954
@jorisvandenbossche does `black` take care of this for us?

[2019-10-16 22:28] jbrockmendel commented on #23922
@gfyoung looks like we now have a code check for this.  is this closed by #27354?

[2019-10-16 22:31] jbrockmendel commented on #29043
Until numpy distributes a wheel, I think you need apt-get install build-essential

[2019-10-16 22:33] jorisvandenbossche commented on #11954
For cases in python code, yes. So I think we can close this.
There are some cases in docstrings where we still need it (but that's not the cases discussed above I think)

[2019-10-16 22:33] #11954 closed

[2019-10-16 22:45] jbrockmendel commented on #19778
@WillAyd did you ever look into this?  Worth looking into as part of the current groupby-Exception push?

[2019-10-16 23:07] jbrockmendel commented on #10213
@mroeschke is there any room to release the gil more in window.pyx?

[2019-10-16 23:07] WillAyd commented on #19778
Haven't looked in quite some time, but I think if it simplifies things would make sense to remove

[2019-10-16 23:07] gfyoung commented on #23922
@jbrockmendel : I think there is still a fair distance to go here.

Where in the `code_checks` script do we have a check?

Here is the updated list of files that still have bare `pytest.raises` :

pandas/pandas/tests/io/test_html.py
pandas/pandas/tests/io/test_parquet.py
pandas/pandas/tests/io/test_sql.py
pandas/pandas/tests/io/test_stata.py
pandas/pandas/tests/plotting/test_backend.py
pandas/pand

[2019-10-16 23:10] jorisvandenbossche commented on #28778
@seberg @Dr-Irv did you mean to post this at https://github.com/pandas-dev/pandas/issues/28095 ? (this issue is more about NA in boolean / logical operations, while it is in the other issue that we were discussing behaviour in such arithmetic operations)

[2019-10-16 23:33] mroeschke commented on #10213
We're pretty liberally using `with nogil` in a lot of the window routines (cursory check).

[2019-10-16 23:35] seberg commented on #28778
Yeah, sorry...

[2019-10-16 23:36] seberg commented on #28095
(sorry posted this on the wrong thread previously)

I actually ran into this in numpy a few days back. The np.ma.masked constant behaves like 0. when it comes to type promotion in ufuncs (which triggers value based promotion, which does what was discussed here float32_arr + np.ma.masked gives float32).

However, the way this currently works np.ma.masked is an array with a .dtype and I want to depr

[2019-10-16 23:49] jbrockmendel commented on #23922
code_checks.sh line 136-138

[2019-10-17 00:05] vograno opened #29045 "single row DataFrame to Series conversion"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Whenever pandas is to return a single-row dataframe it, conventionally, returns a series instead.
Examples of such operations include: a) indexing a single row, b) unstacking, c) dataframe aggregation, and d) groupby aggregation vs iteration over groups.

This leads to loss of dtype information, unexpected outp

[2019-10-17 00:10] qudade commented on #15562
@mroeschke  Sure, will do!

[2019-10-17 01:25] jreback commented on #29045
not sure I really get your point here. if you want a one row frame then use the indexing syntax that does that, meaning dt.iloc[[0]]. if you want a Series then don’t.

by definition putting non homogeneous dtypes in a Series will be object dtype; you are getting exactly what you asked for.

trying to add another container class would add tremendous complexity and i don’t see any advantage to it. w

[2019-10-17 01:38] proost commented on #29038
@jbrockmendel
Yes. What i expect is changing `get_loc` in `PeriodEngine` and `PeriodIndex` both.

[2019-10-17 02:18] vograno commented on #29045
@jreback , dt.iloc[[0]] does provide a workaround for the iloc indexing. However no such workaround is available for other cases described above, most notably groupby().aggregate() vs iteration over groupby().groups()
As to the complexity of adding adding another container class it could be as simple as this
[code]
with T(), stack(), unstack() overloaded.
Fixing the indexing, i.e. `loc`, `iloc`, `

[2019-10-17 02:21] GallowayJ commented on #28547
Hi @WillAyd I'm interested in working on this. Is the decision to just raise a FutureWarning for all extensions when no engine is explicitly provided by the user?

[2019-10-17 02:22] gfyoung commented on #23922
That’s checking for a different usage of `pytest.raises`, which is in the non-context form e.g.

[code]

We discourage this form and prefer:

[code]

I know because I authored the PR that added the check you referenced 😉

[2019-10-17 02:25] jreback commented on #29045
if you have a clearly identified specific bug would take a PR
but am not moved by your example

nothing ‘simple’ labout adding a new container
this would increase complexity massively for IMHO 0 gain

[2019-10-17 02:35] vograno commented on #29045
How about just returning a single-row DataFrame, instead of Series, in aggregate()? This would prevent dtype info loss and would fix the groupby().aggregate() vs iteration over groupby().groups() dichotomy, which to me is the biggest annoyance.

[2019-10-17 02:48] WillAyd commented on #28547
@GallowayJ great - that would be much appreciated! Yes I think let's start with that and see how it looks

[2019-10-17 03:00] GallowayJ commented on #28547
Okay thanks! I'll get cracking!

[2019-10-17 06:26] bra-fsn commented on #29027
Thanks, it works. Is this considered a workaround or a fix for this issue?

[2019-10-17 06:40] Jumpo-523 opened #29048 "About "fillna()"...kind like a bug?"
Actually I wanna replace NaN with "mode" value of the variable.
But the following code doesn't work.
[code]

[2019-10-17 06:43] Jumpo-523 commented on #29048
I don't know why fillna() doesn't work....
Let me know if this is a bug or my error :(

[2019-10-17 07:54] xieqihui commented on #26195
+ Support for this feature. It would be good to support customised S3 endpoint as it is widely used.

[2019-10-17 08:13] languitar commented on #14286
@qudade I suspect... It's been so long since this bug that I can't remember what I was doing there.

[2019-10-17 08:18] MarcoGorelli commented on #29048
Hi Jumpo-523 :)

First, what's `df.Embarked`? You're typically expected to write examples that others can reproduce. For example:

Second, it's often useful to know what versions you're using, so if you could fill out this part of the issue template, I think people here will appreciate it:
[code]

[2019-10-17 08:39] Jumpo-523 commented on #29048
I'm so sorry!
The part of data is like the following. Maybe you could replicate it.

[code]

If you don't mind it, please try it.

SIncerely

[2019-10-17 09:01] Jumpo-523 commented on #29048
First of all, I tried to use "fillna" but doesn't work then I tried "replace" and either does't work...
So I understood the mode() function returns pd.Series.

[2019-10-17 09:26] hantusk opened #29049 "Multiple dateoffsets in Holiday raises a TypeError"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
The current behaviour is a problem, because it should be possible always to define Holidays relative to other holidays, instead of finding the "mother" Holiday without a dateoffset.

Expected output would be no error

A potential solution could be to sum consecutive dateoffsets (timedeltas) in the offset list, w

[2019-10-17 11:25] TomAugspurger commented on #29045
Also -1 on adding a container.

The aggregation problem can be solved with a keepdims-style keyword.

[2019-10-17 11:50] jmcnamara commented on #27772
@bartkim0426 Thanks. That is a good summary of the problems involved here and why the solution isn't straightforward.

Another solution might be to have an option to turn off the blank line for cases where the user isn't worried about round-tripping the file through Pandas. In which case the existing tests/behaviour could still be the same.

[2019-10-17 12:14] angeloklin commented on #26042
Hello All,
  I have the same issue of `df.to_csv("file.csv", index=False)` not working.
  I found one scenario where it is reproducible.
  If behaves just fine before using `df.reset_index()` but fails after that.

[code]
'0.25.1'

[code]
[code]

[code]
[code]

[2019-10-17 12:32] TheoSimier opened #29051 "BUG: inconsistent behaviour of Groupby (probably a regression)"
First, thank you very much for your work ! I love pandas !

The problem
#### Code Sample

[code]
#### Return
[code]
#### Problem description

Bug that should have been solved with #20583. I supposed it is a regression. No new discussion since May 2018, so I prefer to reopen a issue.

Brief description: When a column of a groupby is a categorical variable, the output include rows with NA.

#### Exp

[2019-10-17 12:36] #29051 closed

[2019-10-17 12:39] TheoSimier commented on #29051
After taking more time to read the documentation the answer is in the documentation of the groupby function: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html. Seems strange to me that the defaut value of `observed` is `False` but okay.
[code]

[2019-10-17 12:59] Dr-Irv commented on #28095
(Posted in wrong issue before, so moving it here)

The discussion by @seberg above leads me to the following idea, which I think I may have posted elsewhere.

I think it is important to distinguish between NA meaning "data missing" versus NaN meaning "not a number".  In the current pandas world, there is no differentiation.  Consider this simple example:

[code]

In this example `s` has missing da

[2019-10-17 13:00] Dr-Irv commented on #28778
I responded to @seberg here and have moved it to #28095, and deleted it from here.

[2019-10-17 13:03] TomAugspurger commented on #29048
Thanks @MarcoGorelli.

[2019-10-17 13:03] #29048 closed

[2019-10-17 13:48] TomAugspurger commented on #26042
That looks correct to me. reset_index moves the index into the columns. You
may want drop=True.

On Thu, Oct 17, 2019 at 7:14 AM Angelo Klin <notifications@github.com>
wrote:

[2019-10-17 13:52] vograno commented on #29045
@TomAugspurger what is keepdims-style keyword? Did you mean adding keepdims=False to aggregate()?

[2019-10-17 13:55] TomAugspurger commented on #29045
keepdims in the NumPy sense, where reductions like mean don't reduce
dimensionality.

On Thu, Oct 17, 2019 at 8:53 AM vograno <notifications@github.com> wrote:

[2019-10-17 13:55] sliem opened #29052 "df.apply(lambda x: x.name, axis=1) lose timezone info when df.index is tz-aware."
#### Copy-pastable Code Sample

[code]
Outputs:
[code]

#### Problem description

When `apply`ing a function on each row (`axis=1`) the index of that row becomes name of the serie passed to the function. Any type conversion, such as dropping timezone, is unexpected.

Workaround: `df.reset_index().apply(lambda x: x["time"], axis=1)`

#### Expected Output

Expect the timezones to be kept. E.g.

[cod

[2019-10-17 14:15] jreback opened #29053 "CI: failing builds on master"
https://travis-ci.org/pandas-dev/pandas/builds/599134469

looks like some issues on 3.8, 3.6 allowed failure builds (i know has been failing a while)

should address these before merging other changes.

cc @pandas-dev/pandas-core

[2019-10-17 14:15] jreback commented on #29045
actually we use ``result_type=`` now in ``.apply``, so not averse to these types of adds.

[2019-10-17 15:38] mar-ses opened #29054 "ENH: Allow read_pickle to accept file-like objects"
#### Code Sample, a copy-pastable example if possible

[code]

Alternatively, a more concise, self-contained, reproducible example:

[code]

Replace `portalocker.Lock` with `open(path, 'rb+')` and you get the same thing.

#### Problem description

The above used to work. However, having updated to the latest pandas version recently (0.25.1), it now produces an error on the `pd.read_pickle`, and ba

[2019-10-17 16:02] mccarthyryanc opened #29055 "URL treated as local file for read_feather"
Not sure if this is a pandas issue or pyarrow, but when I try to read from a URL:
[code]
I get the following error:
[code]

#### Output of ``pd.show_versions()``

<details>

[code]

</details>

[2019-10-17 16:15] TomAugspurger commented on #29055
Does this work using arrow directly?

On Thu, Oct 17, 2019 at 11:03 AM Ryan <notifications@github.com> wrote:

[2019-10-17 16:16] vograno commented on #29045
Actually, while reading the `test_demo` in `test_apply.py` I found a workaround that satisfied my needs. I updated the original post to include the workaround.
Thank you everyone for the discussion.

[2019-10-17 16:17] jorisvandenbossche commented on #29039
There is no "category object". We only have the array-like (Categorical) for categorical values, but the scalars values you get out of this are plain scalars (depending the type of the categories. So if you have string categories, scalar values are strings, if you have integer categories, scalar values are integers)

[2019-10-17 16:21] KIC commented on #27091
the current situation is:
[code]

What I would need is that the values do not get lost, which can be achieved by this workaround:
[code]

[2019-10-17 16:24] jbrockmendel commented on #29053
Looks like a new difference between numpy 1.17 vs 1.18:

[code]

[2019-10-17 16:26] jbrockmendel commented on #29053
https://github.com/numpy/numpy/pull/14717

[2019-10-17 16:26] phaabe opened #29056 "Feature request: improve behavior of ambiguous='infer' of tz_localize()"
[I first thought it was a bug, but it is actually a missing feautre.](https://github.com/pandas-dev/pandas/issues/29031)

When I apply `tz_localize()` I run in the following error:

    AmbiguousTimeError: There are %i dst switches when there should only be 1.

Here is my code to reproduce the error. Note that from 2am to 3am every datetime is a duplicate due to daylight saving time.

    index =

[2019-10-17 16:30] mccarthyryanc commented on #29055
A similar call with pyarrow:
[code]

Fails with the same error. The pandas [docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_feather.html) say you can pass a URL, but the arrow help say it only take a path/file-like object:
[code]

So I was assuming pandas was doing extra work to parse the URL.

[2019-10-17 16:50] jbrockmendel opened #29058 "BUG/compat: accum funcs changed in numpy 1.18"
#29057 xfails some tests that are broken with numpy 1.18, which changes the behavior of np.minimum.accumulate on dt64/td64 arrays:

[code]

This will need to be addressed in core.generic._make_cum_function (maybe other places too, not sure)

[2019-10-17 17:02] stuartarchibald commented on #28987
Hi, Numba core developer here,

We agree that there are concerns in using Numba on a project like Pandas, and we would like to prioritise them better. It has been helpful in the past to itemise them and obtain clarity over the issues such that they can be fixed/improved (xref: https://github.com/numba/numba/issues/2888 for the last round of this). I've opened a new issue to start a new discussion

[2019-10-17 17:13] mar-ses commented on #29054
Alright, here is just the bare bones of it:

[code]

[2019-10-17 17:28] Liam3851 commented on #29056
Is it reasonable to infer that the data is out-of-order in real time and referring to unique timestamps, rather than having a duplicate index? Note the current code works just fine if the timestamps are monotonic in time order, not lexical order:

[code]

I mean, given these timestamps in this order:
[code]

this change would infer that they represent the following _non-monotonic_ times in UTC:
[c

[2019-10-17 17:45] Kathakali123 commented on #28547
@GallowayJ  hey , are you working on it ?

[2019-10-17 18:03] mroeschke commented on #29056
Agreed with @Liam3851's assessment here. `infer` only really works if we assume monotonicity throughout the index. Non-monotonic results are hard to assume from the user and hence why `ambiguous` accepts an array of `True/False` values so the user can clarify the intent.

[2019-10-17 18:06] GallowayJ commented on #28547
@Kathakali123 Yeah

[2019-10-17 18:48] adamrossnelson commented on #13141
Another reference that could be useful in developing this additional feature, option, argument...

https://stackoverflow.com/questions/42285417/how-to-preserve-links-when-scraping-a-table-with-beautiful-soup-and-pandas

[2019-10-17 18:49] Liam3851 commented on #29027
@bra-fsn See the [query documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html) for a discussion of the numexpr vs python backends. Using numexpr changes the semantics, this is expected.

[2019-10-17 19:49] TomAugspurger commented on #29043
That failed while compiling numpy

[code]

NumPy 1.17.2 isn't compatible with Python 3.8. NumPy 1.17.3 is.

And for pandas, 0.25.2 is the first to be compatible with 3.8 (releasing today).

[2019-10-17 19:49] #29043 closed

[2019-10-17 21:24] stefansimik commented on #29039
Clear, thank you.
Closing issue, because there is no solution probably.

[2019-10-17 21:24] #29039 closed

[2019-10-17 22:56] jbrockmendel commented on #29053
closed by #29057

[2019-10-17 22:56] #29053 closed

[2019-10-18 00:02] angeloklin commented on #26042
Hello @TomAugspurger,
  Good catch. I missed that minor details.
  My original code filters the desired columns early on but uses all columns for the `to_csv`, so I missed that.

Thanks

[2019-10-18 00:08] WillAyd opened #29064 "Remove numpy references from pandas._typing"
Because we don't have type information from numpy AND because we specifically ignore_missing_imports for that in our setup, any numpy types currently resolve to `Any`. This may cause surprising behavior if not scrutinized...

To illustrate, we currently define `DType` in pandas._typing as `Dtype = Union[str, np.dtype, "ExtensionDtype"]`. The numpy item here basically makes this a `Union[..., Any]`

[2019-10-18 00:40] topper-123 commented on #29034
I'd be positive to deprecate python 3.5. It's old and 3.6 brings a lot of changes, so make sense to not support 3.5 in a long-term stable version.

An idea could be to make a dual release 0.26 and 1.0. They would have identical code bases, but 0.26 would support py3.5 and 1.0 would support py3.6, so it would only be a minor chang in setup.py.

[2019-10-18 00:50] xyzjayne commented on #13220
Following up on ``grouped.transform('size')`` bug not being resolved

[2019-10-18 01:07] jreback commented on #13220
@xyzjayne pls post a new issue with a full reproducible example and version info if something is not working

this one is very old

[2019-10-18 01:07] #13220 closed

[2019-10-18 01:51] jbrockmendel commented on #29064
xref https://github.com/numpy/numpy-stubs

[2019-10-18 02:18] TomAugspurger commented on #29034
Why do you think we need a deprecation?

[2019-10-18 02:38] Kazz47 commented on #18549
Looks like in some platforms the bool is being coerced to a int32 rather than the expected int64. Any ideas where this might be happening or how to reproduce it?

[2019-10-18 02:55] MatthewMcGonagle commented on #28956
Sorry, I did a search for "infinite recursion" and missed the original issue. I'll add a comment as to what I think is causing it there.

[2019-10-18 02:59] MatthewMcGonagle commented on #25760
I looked a little bit at the source code, and I think the cause of this is the following:

## Possible Cause of the Issue

In `pandas.core.indexes.base.join()`, there is first a check to see of `self.names == other.names`. This is false if the names are the same but in the opposite order.

Then in `pandas.core.indexes.base._join_multi()`, there is a call on `pandas.core.indexes.base.join()` on the

[2019-10-18 06:28] topper-123 commented on #29034
Sorry, I miswrote that, i meant drop.

[2019-10-18 07:10] simonjayhawkins commented on #29064
xref #27589

https://github.com/pandas-dev/pandas/pull/28831#issuecomment-539562271 suggests that we currently could have around 62 errors to resolve if numpy stubs are added.

[2019-10-18 09:43] vanschelven commented on #28928
On pandas 0.25.1 I'm having exactly the same problem

[2019-10-18 09:44] hellbe commented on #28825
Closing since this will be addressed with #28874

[2019-10-18 09:44] #28825 closed

[2019-10-18 10:32] Reksbril commented on #20990
Can I work on this? I'm first time contributor and would like to get into the project.

[2019-10-18 11:37] TomAugspurger commented on #29034
Gotcha, thanks.

FTR, https://numpy.org/neps/nep-0029-deprecation_policy.html has September 2019 as the cutoff for 3.5.

[2019-10-18 12:10] TomAugspurger opened #29069 "Index.name is not validatied to be Hashable"
We require that Series.name be hashable. We don't do the same for Index.name. Should we?

[code]

[code]

[2019-10-18 12:28] HughKelley commented on #28747
Hi just working through the remaining PR09 errors sequentially.

It looks like PR #28748 didn't catch:
```pandas.io.formats.style.Styler.bar: Parameter "align" description should finish with "."```

The docstring fror `align` is a little different from the other parameters since it ends in a version number seen below. Should I add a period to clear the error or was there a decision to leave it for

[2019-10-18 12:37] TomAugspurger commented on #29032
FWIW, I'm probably OK with *not* deprecating `.levels[i].name`. I think it's a pretty common pattern, and it would be a large deprecation. The only downside is that you can get in a state where *setting* the name of a level is silently not reflected in the MI. But I can live with that.

[code]

[2019-10-18 12:45] TomAugspurger opened #29070 "Warnings from IPython tab completion tests"
At some point, IPython changed their code to be async. Now, our tests using their tab completion stuff causes warnings.

[code]

There's a race condition between the completion of the `ip.run_code(code)` calls and the asserts later on. We need to explicitly wait for the `ip.run_code(code)` to finish before moving on with the test. The easiest way is to

1. Mark the tests as async with the 3rd-part

[2019-10-18 13:21] ghost opened #29072 "Sticky header and index for large data frames in Jupyter"
## Problem description
When displaying a large data frame in Jupyter the number of columns will be limited by `max_cols` set in the default setting, and all the rows will be displayed.

I would like to add an option in the default settings so that large data frames will be displayed with a sticky header and index and then be able to scroll though the data frame.

## Proof of concept solution
Follo

[2019-10-18 13:34] HughKelley opened #29073 "DOCS: Errors PR08 PR09 in pandas.Period"
Subset of #28602 (PR09) and #25232 (PR08) for #27977 (docstrings validation).

pandas/_libs/tslibs/period.pyx

[code]

[code]

[code]

[2019-10-18 14:15] santhoshnumberone opened #29074 "ValueError: DataFrame columns must be unique for orient='records'"
#### Code Sample

[code]
I tried
[code]
#### Problem description

[I used `.reset_index(drop=True)` to ` pd.concat` ]

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor

[2019-10-18 14:38] WillAyd commented on #29074
The records orient writes out the column labels to a dictionary. You can't have duplicate keys in a dictionary, which is why this error gets raises

[2019-10-18 14:38] #29074 closed

[2019-10-18 14:43] HughKelley commented on #29073
@datapythonista, quick question,

I intended to start working on this, but when I edit lines 2382 through 2405 of [period.pyx](https://github.com/pandas-dev/pandas/blob/5cbd82bdd3a9d4900849808735a7e2de61bfdf6b/pandas/_libs/tslibs/period.pyx) and run `validate_docstrings.py` again there is no change.

I searched the repo for `4Q2005` from the docstring and it only appears once, in that file. Should

[2019-10-18 15:16] WillAyd commented on #29069
Makes sense - I would think generically any labels should have this validation

[2019-10-18 15:18] WillAyd commented on #29064
There is an open issue for numpy stubs already #27589 if we want to discuss adding that there, but I still think for now easy to remove these from pandas._typing and wait until they are actually useful to put in

[2019-10-18 15:20] WillAyd commented on #27563
Closing as the PR for this was closed as well; I don't think this is a something we want to support

[2019-10-18 15:20] #27563 closed

[2019-10-18 15:20] scwilkinson opened #29075 "Passing a psycopg2 connection to read_sql can cause table locks"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

`read_sql` allows for an engine or a connection to be passed in as `con`. When an engine is passed in, a connection is opened and closed when `read_sql` is run. However, when a connection is used and `read_sql` is run, the query will return but that connection will remain open. At least for Redshift (which I ex

[2019-10-18 15:26] manselmi commented on #28110
FYI NumPy 1.17.3 wheels (including wheels for Python 3.8) are now available on PyPI.

[2019-10-18 15:26] WillAyd commented on #29075
Does #27972 help on that front? Might need to be extended to cover this in particular

[2019-10-18 15:33] maartenbreddels opened #29076 "GraphQL support / accessor plugin system"
I recently added graphql support in [vaex](https://github.com/vaexio/vaex) (another dataframe library), and just added support for pandas as well: https://github.com/vaexio/vaex/pull/446

However, this is only available after importing vaex.graphql, e.g.:
![image](https://user-images.githubusercontent.com/1765949/67106297-9fe84d00-f1ca-11e9-81fa-7d7c2883be4f.png)

In vaex, I use a plugin system us

[2019-10-18 15:52] WillAyd commented on #27091
Hmm OK I see. shift is generically a transforming function, the goal of which is to match back to the original index. I'm not sure this would fit the goals of that function.

Your "workaround" is a pretty good solution

[2019-10-18 16:08] simonjayhawkins commented on #29064
personally, I just avoid adding types that I know will resolve to Any, so tend not to use the types in _typing, but see no reason to remove them.

I don't think this is entirely true. mypy can still check against the known types. so in this case only string methods and methods in ExtensionDtype can be called, otherwise mypy will report an error.

[code]
[code]

[2019-10-18 16:12] WillAyd commented on #29064
Hmm that's fair. In any case can still lead to very surprising behavior though like this:

https://github.com/pandas-dev/pandas/pull/29046/files#r335777289

which is what brought this to mind

[2019-10-18 16:22] WillAyd commented on #27091
@KIC you may also be interested in the `DataFrame.tshift` function

[2019-10-18 16:37] scwilkinson commented on #29075
That does help!

I think it might be worth calling out explicitly the potential side effects (like locks) so users are clear on the potential impacts?

[2019-10-18 16:38] scwilkinson commented on #29075
Potentially a warning when `read_sql` is run with a connection rather than an engine might help as well?

[2019-10-18 16:39] WillAyd commented on #29075
Hmm potentially. Don't know if that was discussed before - @TomAugspurger or @jorisvandenbossche might have more thoughts

[2019-10-18 17:05] mroeschke commented on #20990
Go for it @Reksbril!

[2019-10-18 17:14] mroeschke commented on #18549
Guessing there's a routine that's either calling `astype(int)` (which default to platform int) or forcing `astype(np.int64)` somewhere. @jbrockmendel would know more

[2019-10-18 17:25] jorisvandenbossche commented on #29075
I suppose there are also valid use cases for wanting to pass a connection? In that case, I think a warning will be annoying / noisy.

But we can certainly add better docs on this. https://github.com/pandas-dev/pandas/pull/27972 is a start. If you have feedback on that, feel free to mention it on that PR!
We could maybe also add a section about this in the prose docs (io.rst) where we can go in mor

[2019-10-18 17:28] #28991 closed

[2019-10-18 17:32] #21624 closed

[2019-10-18 17:37] mroeschke commented on #28987
Thanks for all the feedback pandas-dev/pandas-core

I'd like to revise my pandas 1.0 proposal to the following:

1) Introduce Numba as an **optional dependency**
2) Have `rolling.apply` dispatch to Numba as opt-in behavior (e.g. `rolling(...).apply(..., engine='Numba')`) as a potential significant performance boost

The main allure of Numba in its immediate state is **being able to write Python**

[2019-10-18 17:53] jorisvandenbossche commented on #28987
Why is this? Would you still include implementations of all built-in rolling functions in pandas? I would think the `.apply(func, engine='numba')` is mainly for user-defined-functions?

[2019-10-18 17:55] biddwan09 commented on #29052
Hi can i take this issue up

[2019-10-18 18:00] jreback commented on #28987
no, you wouldn't need to (at this point), duplicate anything for building in rolling function (e.g. ``mean``); the duplication of code is in the computation of the Fixed and Variable window indexers themselves (not a huge duplication).

[2019-10-18 18:17] jorisvandenbossche commented on #28839
@bhuvanakundumani that's a document describing a potential refactor of the internal BlockManager, so although it contains some description of the current sate, I think it is not the best document to read to understand the current implementation. I think in general we don't really have a good documentation of this, sorry ..

The code where I would start looking is at

https://github.com/pandas-dev/

[2019-10-18 18:37] stackedsax opened #29079 "DOC: mad description incorrectly includes 'numeric_only'"
#### Problem description

I noticed a small mismatch between the function signature of `mad` and its description here:

* https://pandas-docs.github.io/pandas-docs-travis/reference/api/pandas.DataFrame.mad.html?highlight=mad#pandas.DataFrame.mad

The function signature is correct:

The description, meanwhile, includes 'numeric_only':

Passing the `numeric_only` parameter to `mad` will throw an err

[2019-10-18 19:03] jorisvandenbossche commented on #28095
@seberg is there a numpy issue/thread with discussion about this? It's in your dtype / ufunc refactor that you want to get rid of value based dtype promotion?
How are python scalars handled in numpy right now? First coerced to a numpy (0d) array/scalar so it has a dtype to determine the dtype promotion?

I am personally not fully convinced we need type specialized NAs, but if we do, I personally t

[2019-10-18 20:00] it176131 opened #29080 "pandas pivot_table aggfunc/values parameters behaving oddly"
[code]
#### Problem description

I noticed that when using pd.pivot_table I get different results specifically when using aggfunc='nunique' and values = a single column vs values = a list of columns.

When aggfunc='count', there is no difference between outputs.

Please see my stackoverflow question [here](https://stackoverflow.com/questions/58457181/pandas-pivot-table-aggfunc-values-parameters-be

[2019-10-18 20:46] playermanny2 commented on #28117
@simonjayhawkins  Okay great, thank you for the help and suggestions guys.

Would it be oaky to leave this open as a possible future enhancement in the case that issue with reprs is no longer a thing?

[2019-10-18 20:52] ghost opened #29082 "df[:0] returns KeyError when index is float64 and non-monotonic"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In many cases `df[:0]` effectively returns the metadata for a dataframe, i.e.
[code]
However if the dataframe index has type `Float64Index` and is not monotonic then it returns `KeyError`.

#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
comm

[2019-10-18 22:03] TomAugspurger commented on #28117
If we can have a concrete example of what's not working well now, and what needs to change to fix it, then yes let's keep this open.

[2019-10-18 23:14] asishm commented on #29054
The docs for `read_pickle` state

Maybe this could be an enhancement, but in terms of currently documented behavior, I think getting an error is expected. Although maybe the error thrown should be a bit more precise

[2019-10-19 00:49] seberg commented on #28095
@jorisvandenbossche my thread would be the closest, but no. I do not want to get rid of value based promotion *for python types*. I.e. `arra([1, 2], np.uint8) + 3` can be `uint8`, but `array([1, 2], np.uint8) + np.int64(3)` IMO should move to be `int64` as output.
Right now yes: python scalars are first coerced to array, I wish to change that in that they are first resolved into a "value-based-cas

[2019-10-19 00:52] gabriellm1 commented on #29070
Not totally certain if I can solved, but since I used asyncio in an another project not so long ago I'm confident I can help with a PR!

[2019-10-19 02:34] mroeschke commented on #29054
Good catch @asishm. Currently `read_pickle` only supports string paths. It's a reasonable enhancement to support  file object as well.

[2019-10-19 02:44] jreback commented on #29054
https://github.com/pandas-dev/pandas/issues/5924 related

[2019-10-19 03:24] mroeschke commented on #28987
Right, I _think_ we'll need 2 implementations for calculating the window boundaries, a Cython version (for rolling functions that are still in Cython) and a Numba version (for rolling functions that get converted to Numba)

[2019-10-19 04:14] Sankareswari-Ramamoorthy commented on #29042
Hi, The file has a header ,so not very sure if both header=0 and names attribute can coexist. I did not get the issue when I either change header as none or when removing the names attribute. Since it's to do with header names attribute and names combined with usecols, it has thrown this error.

[2019-10-19 04:25] datapythonista commented on #29073
We get the docstring content by importing the code and checking what's in its `__doc__` attribute. So, to give an idea, this could happen:
[code]
This means, that for Cython code, the code needs to be converted to C, compiled, executed, and then we obtain the `__doc__` attributes (instead of just being obtained from the `pyx` files.

What this means for you is that if you change the `pyx` file, yo

[2019-10-19 05:53] qudade commented on #25416
Added tests in #29083. ci is failing (for unrelated reasons). Will try to re-push later.

[2019-10-19 06:16] ruchikakhemka commented on #19159
Can anyone point what fixture still needs to be fixed, I would like to fix some from the remaining ones.

[2019-10-19 06:37] topper-123 commented on #29032
So, where are we wrt to renaming to categories?

IMO the name ``categories`` (or a different name than levels) would actually be better, because levels also refers to the "columns" in a MultiIndex, e.g. in df.groupby(..., level='x').

[2019-10-19 07:03] farziengineer opened #29090 "Running pytest locally"
When I run
[code]
locally, I get the following error.
[code]
How do I solve it.
#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
pandas           : 0.26.0.dev0+598.g93e8b11e7
numpy            : 1.17.2
pytz             : 2019.3
dateutil         : 2.8.0
pip              : 19.2.3
setuptools       : 41.4.0
Cython           : 0.29.13
py

[2019-10-19 07:14] JiaRu2016 opened #29091 "DataFrame.corrwith(otherDataFrame) has confusing behavior and potential bug"
### Code Sample

[code]
output is
[code]

### Problem description

[document](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.corrwith.html?highlight=corrwith#pandas.DataFrame.corrwith) of `DataFrame.corrwith` says it "compute pairwise correlation between ... DataFrame with ... DataFrame" and the return type of this method is `Series`.  It is not clear how the pairs of

[2019-10-19 07:58] dmitriyshashkin opened #29092 "What's new link in the 0.25.2 release description is broken"
Not sure whether this should be reported here or in the documentation repository.

"Whatsnew" link in the release description here https://github.com/pandas-dev/pandas/releases leads to the following url https://pandas.pydata.org/pandas-docs/version/0.25/whatsnew/v0.25.2.html which return 404 error.

[2019-10-19 09:27] simonjayhawkins commented on #19159
`$ pytest pandas/tests --fixtures`

[2019-10-19 10:33] xiaoluffy opened #29094 "Feature request: Add _libs.* native support to cython"
Hi, cython newbie here,
if pandas adds C interface of _libs, that is so convenient.
just like:
cimport pandas as pd

Thanks.

[2019-10-19 10:44] immaxchen commented on #28358
Actually, `highlight_max` skips `nan` values already, and you can pass your custom function into `format` to control how `nan` values are printed in the output.

However, I believe formatting `nan` values in the output is _common enough_ that can be included in the ["built-in" functions](https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html#Builtin-styles) in the `Styler`. I would lik

[2019-10-19 11:07] jreback commented on #29094
what problem would this solve?

[2019-10-19 11:16] samyak-jn commented on #27394
Hey, can I work on the issue, if someone is not working on it now?

[2019-10-19 11:39] xiaoluffy commented on #29094
to make pandas data based cython code more cleaner, completed and faster, and reduce conversions.
for example, more complex operation of Index and timestamp, which not likely vectorization, is important for me,
If pandas add native cimport, this should be done inside cython.

[2019-10-19 11:46] bartkim0426 commented on #27772
@jmcnamara Good idea!
Then `to_excel` would have an extra parameter. (I don't think the appropriate name) Any ideas?
Also is it too excessive to add an option for the specific situation?

[2019-10-19 11:47] jreback commented on #29094
show a specific example of something you think would actually be better

what you are asking is actually a huge amount of effort

[2019-10-19 11:54] bartkim0426 commented on #26974
@TomAugspurger
I understand. Thank you for the detail explanation. I'll make a PR for this.

I still confused is it the right way to validate all `return` clause in `__new__` because there're over 20 clauses.

[2019-10-19 12:38] TomAugspurger commented on #29092
The docs aren’t up yet. Will be later today.

[2019-10-19 12:38] #29092 closed

[2019-10-19 13:05] randomstuff opened #29095 "Excel formula injection in pandas .to_excel()"
#### Code Sample

[code]
#### Problem description

When exporting DataFrames to Excel files (.xlsx) , pandas converts strings starting with `=` into Excel formulas. This happens with both .xlsx engines (openpyxl and xlsxwriter).

#### Expected Output

I expect the Excel file to contain a cell with the text:

    =2+5+cmd|' /C calc'!A0"

This a correctness issue: this is probably not what the user

[2019-10-19 13:09] TomAugspurger commented on #29095
Why do you think that? It's not clear to me one way or another.

The default behavior of both of openpyxl and xlsxwriter is to treat strings starting with `=` as formula? I'd prefer to not take an opinion, and instead defer to the default behavior of the underlying engines. An config option would probably be welcome (cc @WillAyd if you have thoughts).

[2019-10-19 13:16] TomAugspurger commented on #26974
Ideally you only need to worry about the last one. Since all the subclass `return`s will error on there own if an invalid kwarg is passed.

[2019-10-19 13:17] TomAugspurger commented on #29094
The data structures (DataFrame, Index, etc.) are python classes. I don't think we're ready to implement them in C / Cython (yet), much less provide a public C API.

[2019-10-19 13:18] TomAugspurger commented on #27394
Sure. It looks like https://github.com/pandas-dev/pandas/pull/27998 started, but stalled. You may want to read through that PR first.

[2019-10-19 13:20] TomAugspurger commented on #28358
Seems reasonable. I think we have similar keywords elsewhere in the library
to control the NA format. Check to make sure we match those names.

On Sat, Oct 19, 2019 at 5:44 AM Max Chen <notifications@github.com> wrote:

[2019-10-19 13:31] TomAugspurger commented on #29091
`n` is undefined in your example.

---

The inputs are aligned before computing the correlation. I think the docstring makes this clear.

aligned along both axes before computing the correlations.

[code]

Happy to have improvements to the docs, but closing this since I think it's working as expected.

[2019-10-19 13:31] #29091 closed

[2019-10-19 13:33] TomAugspurger commented on #29090
Do you see `('en_US', 'UTF-8')` in the output of

[code]

Actually... it looks like `locale. getlocale()` is failing? If so there are probably some deeper issues with your Python install / your OS. I'm not sure how to resolve those.

[2019-10-19 13:36] TomAugspurger commented on #29032
I think deprecating `.levels` in favor of something else (`.categories`) is a big change, much bigger than `.codes` was. My initial reaction is that the benefits to renaming aren't there yet, but happy to be convinced otherwise.

cc @jorisvandenbossche.

[2019-10-19 13:43] randomstuff commented on #29095
One reason why I think this should not happen by default is that it's not documented. There is no reason for tabular data cells starting with `=` to turn into script. There is not even anything special about the XSLX file format with cells starting with `=` AFAIU.

One other reason why I think this should not happen (or at least be configurable) is that the pandas user might legitimately need to g

[2019-10-19 13:57] TomAugspurger commented on #29095
Have you opened issues with openpyxl and xlwt?

[2019-10-19 14:02] TomAugspurger commented on #28095
Anyone (@jorisvandenbossche?) care to summarize the state of this discussion, and maybe suggest paths to get it unstuck?

[2019-10-19 14:21] TomAugspurger commented on #28110
Wheels, and conda-forge packages are up (will need to follow up on 3.8 conda packages on conda-forge). Docs are up, sent out the announcements.

Something is up with the pdf build: https://github.com/pandas-dev/pandas-release/issues/18 Will get to that eventually.

Thanks for running the release @jbrockmendel.

[2019-10-19 14:21] #28110 closed

[2019-10-19 17:08] #25416 closed

[2019-10-19 17:11] #15562 closed

[2019-10-19 18:12] datapythonista opened #29102 "Misleading error messages when opening inexistent json file"
When opening a json file that doesn't exist with `read_json`, we get a `ValueError` with error messages like:

[code]

It'd probably be better to raise an exception like:
[code]

[2019-10-19 18:16] farziengineer commented on #29102
Hi, @datapythonista can I take this up?

[2019-10-19 18:18] datapythonista commented on #29102
sure, thanks

[2019-10-19 18:18] mroeschke commented on #29056
Thanks for the suggestion @phaabe, but I don't think we want to have `infer` assume anything about non-monotonic  results.

[2019-10-19 18:18] #29056 closed

[2019-10-19 19:09] jbrockmendel commented on #18549
I'd guess that it is actually the python integer 1 being coerced to int32 by either numpy or numexpr

[2019-10-19 22:55] vfilimonov opened #29105 "Should Series.diff has an axis argument?"
I suggest that `Series.diff()` method should have `axis` argument to align its signature with the signature of `DataFrame.diff()`. This way it'd be easier to write polymorphic functions that could take both series and dataframes.
[code]

Many other `Series` methods already have signatures identical to those of dataframes (and obviously when calling with `axis=1` would raise `ValueError`), e.g.:
[c

[2019-10-20 05:37] AbhijeetKrishnan commented on #28926
Regarding  `pandas\tests\indexing\test_loc.py`, the offending line is line 819
`@pytest.mark.parametrize(
        "indexer", [["A"], slice(None, "A", None), np.array(["A"])]
    )`
Particularly, it is the call to `slice(None, "A", None)` which is causing mypy to complain.

However, slice is a builtin library function with a (overloaded) function signature of `def __init__(self, start: Optional[int

[2019-10-20 06:20] farziengineer commented on #29090
It is a problem with MacOS. https://stackoverflow.com/questions/38916461/valueerror-unknown-locale-utf-8-when-importing-pandas-in-python-2-7

[2019-10-20 06:21] farziengineer commented on #29090
`export LC_ALL=en_US.UTF-8`
`export LANG=en_US.UTF-8`
`source ~/.bash_profile`
Solves the issue.

[2019-10-20 06:31] farziengineer opened #29109 "Travis CI and codecov failing"
https://travis-ci.org/pandas-dev/pandas/jobs/600239741

https://codecov.io/gh/pandas-dev/pandas/compare/96cc8101779ff578426463d088b0f1a1fb554591...1a35eeb1408b464bcc5f163dd3c33d61ccaeb9dd

[2019-10-20 08:20] VijayantSoni commented on #14518
Hi @jreback , I think the [link](https://github.com/pandas-dev/pandas/blob/master/pandas/core/base.py#L275) you have added in issue description is no longer valid. If that's the case, can you please update it. I am trying to take this one up.
Thanks !

[2019-10-20 09:54] topper-123 opened #29111 "API: MultiIndex keeps nan-likes in levels"
Working on #27138 I've found that levels keeps nan-likes in the levels, but encode them all to -1:

[code]

All the MultiIndex nan-likes are encoded to -1, so it's not possible to decode them to their constituent values. So it's not possible to get more than one nan-like values out of the MultiIndex, so in this case ``None``, ``NaT`` disappears when converting:

[code]

I think if nan-likes are al

[2019-10-20 10:29] gbaychev opened #29112 "DOC: the description of activating virtual env with pip under windows is not correct"
#### Problem description

Hello everybody,
yesterday I tried to setup pandas dev environment under Windows. I have python only  3.7.5 installed.

In doc/source/development/contributing.rst is described how I can setup a dev environment and one of the steps is creating a virtual environment with pip. There is an instruction how to activate it:

`. ~/virtualenvs/pandas-dev/bin/activate`

This cannot

[2019-10-20 10:31] #29109 closed

[2019-10-20 10:56] gbaychev commented on #28633
Hello, yesterday when trying to build pandas under Windows I got the same error:

![wheel](https://user-images.githubusercontent.com/3358056/67158480-d47a1700-f338-11e9-86ae-32c2a4464780.png)

Is there any problem if we simply include the wheel package in requirements-dev.txt? I assume that many of you have the `wheel` package preinstalled in some form, but if someone tries to build pandas on a cl

[2019-10-20 11:04] jorisvandenbossche commented on #28633
The thing that is should not build a wheel for an inplace (editable) build (so we shouldn't need to add 'wheel' to the requirements). For some reason it is trying to use PEP517 build interface.
As mentioned above, you can do `python -m pip install -e . --no-build-isolation --no-use-pep517` to fix this (but again, I don't fully understand why in your case this extra `--no-use-pep517` flag is needed

[2019-10-20 11:17] gbaychev commented on #28633
Ah, I see. Sorry @jorisvandenbossche , I think I did not read very carefully what you've written before, now I understand, my bad.

[2019-10-20 11:19] Kaushal28 commented on #20642
@jfpuget You are correct! I was using float16 and while finding mean, sum of all the observations was out of range for float16. Changed the type to float64 and it's working. Thanks!

[2019-10-20 12:15] jorisvandenbossche commented on #29032
I am personally also not fully convinced that renaming `levels` is worth it.
It's true that "levels" is used for somewhat different things (in keyword arguments it refers to the full level of a multi-index, while the attribute only gives the unique values for that level). But it's been like that, and we also have `get_level_values` for the other.

[2019-10-20 12:20] jorisvandenbossche commented on #29042
As far as I understand, they can co-exist. The goal here was to overwrite the existing names. The header keyword explanation mentions this use case:

I just realized that I now understand the error message: if you specify both custom `names` and `usecols`, the `names` need to be already the selected names based on `usecols`:

[code]

works correctly.
However, if not using integers as `usecols`, yo

[2019-10-20 12:22] megz2020 commented on #29042
usecols :Return a subset of the columns.
For example, a valid list-like usecols parameter would be [0, 1, 2] or ['foo', 'bar', 'baz']. Element order is ignored, so usecols=[0, 1] is the same as [1, 0].
in your example you should write usecols like this
`pd.read_csv(io.StringIO(s), header=0, names=['A', 'B', 'C', 'D'], usecols=[0,1,2,3]) `

[2019-10-20 12:30] jorisvandenbossche commented on #29042
That works, but the purpose was to only select a subset of the columns.

[2019-10-20 12:34] megz2020 commented on #29042
if you want to select one col  you just need to slice it like this:
`pd.read_csv(io.StringIO(s), header=0, names=['A', 'B', 'C', 'D'], usecols=[0,1,2,3])[:1]
`

[2019-10-20 13:01] megz2020 commented on #29042
if you want to select subset col you cant try this:
`pd.read_csv(io.StringIO(s), header=0, index_col= False, usecols=[0, 3])`

[2019-10-20 13:49] #29052 closed

[2019-10-20 15:50] biddwan09 commented on #28479
Hi @jreback can I work on this issue ? I really want to start contributing on this project

[2019-10-20 19:03] immaxchen commented on #28358
The keyword to control NA format is `rep_na` and can be found in `to_csv` and `to_excel` etc. In the context of `Styler`, the most relevant method would be `highlight_null`, so I thought method name `format_null` and parameter name `rep_na` might be appropriate.

[2019-10-20 20:18] mroeschke commented on #19974
Looks to be fixed on master. Could use a test.

[code]

[2019-10-20 20:20] happilyeverafter95 commented on #28926
Looking into `pandas\tests\frame\test_constructors.py`

[2019-10-20 20:54] mroeschke commented on #13228
This looks to be fixed on master. Could use a test:

[code]

[2019-10-20 20:59] mroeschke commented on #11670
Yes this looks to work on master. Could use a test:

[code]

[2019-10-20 21:03] mroeschke commented on #9918
This looks to work on master. Could use a test:

[code]

[2019-10-20 21:06] mroeschke commented on #7072
Could use a regression test.

[2019-10-20 22:35] mroeschke commented on #16832
This looks to work on master. Could use a test.

[code]

[2019-10-20 22:52] mroeschke commented on #13896
This looks fixed on master. Could use a test:

[code]

[2019-10-20 22:57] mroeschke commented on #13637
Looks like the rest of the cases in the table are fixed. Are these tested @jbrockmendel?

[code]

[2019-10-20 23:10] mroeschke commented on #19270
Feel free to reopen when you can cut down the example.

[2019-10-20 23:10] #19270 closed

[2019-10-20 23:18] mroeschke commented on #23008
Feel free to reopen when you can post a runable code example.

[2019-10-20 23:18] #23008 closed

[2019-10-20 23:19] mroeschke commented on #23196
Feel free to reopen when you can post a more minimal example (ideally without the 3rd party `tushare` library)

[2019-10-20 23:19] #23196 closed

[2019-10-20 23:23] mroeschke commented on #23992
Guessing this works on master now as Tom mentioned.

[2019-10-20 23:25] mroeschke commented on #23993
I'm also -1 for the same reason as Will. Since this issue hasn't gotten much traction, closing.

[2019-10-20 23:25] #23993 closed

[2019-10-20 23:28] mroeschke commented on #24151
Feel free to reopen if you can post a reproducible example.

[2019-10-20 23:28] #24151 closed

[2019-10-20 23:29] mroeschke commented on #24699
Feel free to reopen when you can post a self contained example.

[2019-10-20 23:29] #24699 closed

[2019-10-20 23:35] mroeschke commented on #24779
Not sure if there's any action to be done on pandas' side. Closing.

[2019-10-20 23:35] #24779 closed

[2019-10-20 23:44] mroeschke commented on #25476
Feel free to reopen when you can posted a reproducible example.

[2019-10-20 23:44] #25476 closed

[2019-10-20 23:47] mroeschke commented on #25571
I think the behavior in this issue is expected and is more of a usage question. Closing.

[2019-10-20 23:47] #25571 closed

[2019-10-20 23:49] mroeschke commented on #25846
I'm getting `NameError: name 'dd' is not defined` in your example. Can you update your example to make it self contained?

[2019-10-21 00:02] gabriellm1 commented on #29037
I would like to try solving it!

[2019-10-21 00:06] mroeschke commented on #11479
These example all work on master. Could use tests:

[code]

[2019-10-21 00:11] mroeschke commented on #12754
This looks to work on master now. Could use a test:

[code]

[2019-10-21 00:18] mroeschke commented on #14592
This looks to give the correct result on master. Could use a test.

[code]

[2019-10-21 00:22] mroeschke commented on #15166
This looks to be fixed on master. Could use a test.

[code]

[2019-10-21 00:24] mroeschke commented on #15286
This looks to work on master now. Could use a test.

[code]

[2019-10-21 00:29] mroeschke commented on #15454
Looks to work on master. Could use a test.

[code]

[2019-10-21 00:33] mroeschke commented on #16699
This appears to work on master. Could use a test.

[code]

[2019-10-21 00:35] mroeschke commented on #16844
This looks to work on master. Could use a test.

[code]

[2019-10-21 01:43] mroeschke commented on #20410
Looks like this work on master. Could use a test:

[code]

[2019-10-21 02:09] mroeschke commented on #21094
This looks to work on master. Could use a test:

[code]

[2019-10-21 03:09] logan-lieou opened #29123 "conflict"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The problem I ran into is that it's telling me that read_csv is not a thing, I'm not sure what's going on here.

![image](https://user-images.githubusercontent.com/20232318/67173824-922af700-f385-11e9-8c8e-0dd3c03049e4.png)

#### Expected Output
?
#### Output of ``pd.show_versions()``

![image](https://user-ima

[2019-10-21 03:29] mroeschke commented on #12869
Looks to work on master. Could use a test.

[code]

[2019-10-21 03:32] mroeschke commented on #12948
This looks to work on master. Could use a test.

[code]

[2019-10-21 03:44] #29123 closed

[2019-10-21 03:45] WillAyd commented on #29123
This appears that you have a file called `pandas.py` that is most likely getting imported instead. If you rename that file should be OK

[2019-10-21 03:51] mroeschke commented on #16894
Looks to work on master. Could use a test:

[code]

[2019-10-21 03:55] mroeschke commented on #17648
Looks to work on master. Could use a test.

[code]

[2019-10-21 04:01] mroeschke commented on #21131
This looks to work on master now. Could use a test.

[code]

[2019-10-21 05:25] bhuvanakundumani commented on #28839
@jorisvandenbossche thanks for the info. will look into it.

[2019-10-21 06:17] tataudat opened #29125 "Misleading error messages when opening inexistent excel/csv file"
Similar to https://github.com/pandas-dev/pandas/issues/29102, but with excel/csv file extensions.

[code]

[2019-10-21 06:17] tataudat commented on #29125
I'm more than happy to contribute to this issue!

[2019-10-21 06:28] xiaoluffy commented on #29094
I understood, and it's no need to be cythonize complex classes like DataFrame, Series, etc.
pandas contains some nice cythonzied code, like Timestamp, PeriodRange, Index and useful functions (group function) which defined in _libs
like this:
https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/tslibs/timestamps.pyx#L175

if there's a simple way to use it , our cython code should be simple

[2019-10-21 06:32] iamrajhans commented on #28969
@TomAugspurger would like to work on this if nobody has taken this issue.

[2019-10-21 06:50] jorisvandenbossche commented on #29042
Yes, that works (also specifying `index_col=False` seems to fix it), but that doesn't change the reported issue: the error message is completely confusing.

[2019-10-21 08:13] santhoshnumberone commented on #9784
Hey

I have a `dataframe column` with url file name like

I want to extract the filenames from the url

so

`filenamelist = df.apply(lambda x: Path(x.to_string()).name if x.name == 'fileUrl' else x)`

I just want the file

If the filename is long string my output looks like

`df.fileUrl.max_colwidth = 100` not solving the issue

though using dataframe would be much faster than

Any work around her

[2019-10-21 10:04] elembie commented on #23854
Hey guys - do you know if there was ever action taken on this? @eode did you get a work around? I'm facing this issue when trying to stream the output from pandas to azure blob store, which requires a byte type stream, not text.

[2019-10-21 11:01] jreback commented on #29094
this would be specific examples leading to a design document and discussion

@xiaoluffy how exactly would that be useful? to whom and i presume you are looking for better performance. this would take a POC to actually show there is a benefit

[2019-10-21 12:49] TomAugspurger commented on #28969
Ok. It’s not clear to me what a correct fix is though.

[2019-10-21 13:06] jorisvandenbossche commented on #26831
One other aspect to discuss: in what kind of format do we want to include this?

The plan has always been to, at some point (i.e. now), convert the notebooks in the separate repo to rst, clean them up (convert to use ipython directive, etc), and include then in that way in our sphinx docs.

But, there are actually more options, also in light of @TomAugspurger's recent exploration of putting our do

[2019-10-21 13:21] farziengineer commented on #29125
Hi @tataudat, I have already started to work on the issue, when I identified that in this comment https://github.com/pandas-dev/pandas/pull/29104#issuecomment-544223710

[2019-10-21 14:02] xiaoluffy commented on #29094
In scenario of both realtime, streaming data and vectorized computation:
a).  recieved data from scoket, and store in array(C/cython code)
b). lots of time consuming by numpy/scipy/pandas vectorized  computation, big loop, timestamp  comparison/calculation
c).  after that pandas tools(groupby, IO...), sklearn would be used. (python code)

Pure Python is time-comsuming for b),. I found the best way

[2019-10-21 14:29] jreback commented on #29094
@xiaoluffy again a specific example would be helpful

and a benchmark which shows why the current code is not performant

[2019-10-21 14:31] VictorDavis opened #29128 "Variance of nullable Int64 ignores ddof argument"
Variance calculation `Series.var()` is ignoring the `ddof` argument for nullable integer type `Int64`. Behavior should match that of `float` type.

[code]

[2019-10-21 14:48] Khris777 opened #29129 "Using groupby with nlargest drops the groupby column if there is only one element per group"
Apologies if this has been fixed in 0.25.2, it's not in the repository yet.

#### Code Sample

[code]
#### Problem description

Result of the first part, the C1 column is gone and there is an index column:
[code]

Result of the second part, the C1 column is there and there is a level_1 column:
[code]

#### Expected Output

I'm expecting the first output to have the same format as the second, that

[2019-10-21 14:58] asishm commented on #29129
Looks like it's related to/duplicate of #16345 which seems to be open.

[2019-10-21 15:26] sdfordham opened #29130 "merge_asof() returns cryptic error with bad argument types"
`merge_asof` arguments have to ["...be a numeric column, such as datetimelike, integer, or float"](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html) but gives cryptic `TypeError` instead of `ValueError` on bad argument types?

[code]

Output:
[code]
versus e.g.

[code]

[2019-10-21 15:34] ellequelle opened #29132 "NDFrame.interpolate(): variable 'ax' not assigned when axis='index'"
The `NDFrame.interpolate` function fails when passing a string as axis. Example:

[code]

From the documentation and from the function itself, it looks like `df.interpolate(axis='index')` was intended to work, but that maybe someone accidentally deleted a line in generic.py? The function seems to work properly if I add `ax = axis` in the else block here:
https://github.com/pandas-dev/pandas/blob/1

[2019-10-21 16:02] jbrockmendel commented on #13208
This is fixed in master, may need a dedicated test

[2019-10-21 16:03] jbrockmendel commented on #16311
@shoyer you mentioned the maintainership if bottleneck is changing.  Is this issue still relevant?  Need updating?

[2019-10-21 16:06] jbrockmendel commented on #7948
`except:` has been removed and nearly all the `except Exception:` are gone.  closing.

[2019-10-21 16:06] #7948 closed

[2019-10-21 16:10] stijnvanhoey commented on #26831
With respect to the conversion of the tutorials towards the documentation (getting started) pages, we will css-style the _recurring_ elements (links to user guide, remember sections, ref to raw data,...) according to the following example html: https://stijnvanhoey.github.io/pandas-getting-started-tutorials/. All adjustments are bootstrap (already loaded) classes with some CSS.

In practice: the `

[2019-10-21 16:22] stippingerm opened #29135 "combine_first: 'DataFrame' object has no attribute 'dtype'"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The above call results in `AttributeError: 'DataFrame' object has no attribute 'dtype'` which is difficult to interpret. Under the hood the set logic tries to maintain dtype but the duplicate column label results in finding a `DataFrame` instead of a `Series`. The former has no `dtype` but `dtypes`.

#### Expec

[2019-10-21 18:18] TomAugspurger commented on #29135
I don't think I agree with your expected output. It's not clear to me that the output should have duplicate `Q` columns.

I don't think the operation is well-defined when `other` has duplicates. I think it's OK for `self` to have duplicates though.

[2019-10-21 18:28] grassknoted commented on #12869
Hi, @mroeschke just to make sure we're on the same page, for the following snippet:

[code]

would the following output be correct?
[code]

[2019-10-21 18:35] WillAyd opened #29136 "DataFrame.rename only validates column arguments"
Found this while trying to clean up axis handling in core.generic

This fails as you would hope
[code]

This doesn't
[code]

And perhaps even more surprising is that you will get a different result depending on whether the first argument is passed by position or keyword
[code]

[2019-10-21 18:35] TomAugspurger commented on #29132
Thanks for the report, confirmed on master.

We should have an `axis = self._get_axis_number(axis)` at the start of `NDFrame.interpolate` (and a whatsnew note & test to ensure we don't regress).

[2019-10-21 18:38] TomAugspurger commented on #29130
A better error message would be welcome here. I'm not sure where is best, but probably somewhere in `_get_join_indexers` in `core/reshape/merge.py`

[2019-10-21 18:38] jorisvandenbossche commented on #29128
@VictorDavis thanks for the report!
From a quick look, it seems the argument is not passed through, here:

https://github.com/pandas-dev/pandas/blob/6c898e6a58285c841511e853bb1bf8a90766df78/pandas/core/arrays/integer.py#L655

[2019-10-21 19:18] pigfat opened #29138 "Pandas.DataFrame.to_sql() Default Insert Behavior Assumes Table Creation"
#### Problem description

Pandas.DataFrame.to_sql() assumes that if no table exists it should create one. In the specific case where a user wants to simply insert records after creating a table this can cause a problem. If a dynamically generated table fails to be created and is not detected when to_sql() is called than the default behavior of Pandas.DataFrame.to_sql() is to create a new table wit

[2019-10-21 19:19] WillAyd commented on #29138
Have you tried `if_exists`?

[2019-10-21 19:31] pigfat commented on #29138
If_exists only determines the behavior of what to_sql() will do if a table exists. It does not however, allow a user to set the behavior when no table exists i.e. if it should create a table or simply fail by raising an exception.

This could be controlled with a boolean that allows a user to specify whether pandas should create a table or not when a table doesn't exists in the database.

if_exist

[2019-10-21 19:42] stevendavis commented on #12869
@grassknoted I just came across this by coincidence.  You might also consider testing with an empty dataframe to verify there is no ValueError. It looks like the column subsetting is not a necessary step to reproduce the problem in older pandas versions.

$ python
Python 2.7.12 (default, Nov  4 2016, 18:11:59)
[GCC 4.8.5 20150623 (Red Hat 4.8.5-4)] on linux2
Type "help", "copyright", "credits" or

[2019-10-21 20:11] stefansimik commented on #29037
I have some hint / insight, that looks like deeper problem.
See here please: https://github.com/pandas-dev/pandas/issues/29039 - I have feeling, it can be related with this issue.

[2019-10-21 20:35] gabriellm1 commented on #29132
I'll happily take that issue

[2019-10-21 20:43] sebov commented on #12869
Hi @grassknoted, according to the Pandas' docs, `duplicated` method  "Return boolean Series denoting duplicate rows..." and therefore it is quite natural if it always returns boolean Series of size equal to the number of data frame rows. Consider that for the following snippet:

[code]
the output is:
[code]
and this is a bit inconsistent.

So, for me the proper result for `duplicated` invoked on d

[2019-10-21 20:59] ellequelle commented on #29132
@TomAugspurger do you mean something like this? Also: there doesn't seem to be a whatsnew file since 0.25.2, does this go into v0.25.3.rst?

[code]

[2019-10-21 21:00] TomAugspurger commented on #29132
whatsnew will go in v1.0.0.rst

On Mon, Oct 21, 2019 at 3:59 PM ellequelle <notifications@github.com> wrote:

[2019-10-21 21:34] nlarusstone commented on #28906
Any update here? I'm happy to work on this, if someone could point me in the right direction

[2019-10-21 21:39] gabriellm1 commented on #29130
Can I help it? We just need to raise a ValueError in case the arguments in `_get_join_indexers` are not datetimelike, float or integer?

[2019-10-21 21:40] jorisvandenbossche opened #29141 "BUG: regression on master in groupby agg with ExtensionArray"
Example that I could make with DecimalArray:

[code]

On master of a few days ago, the above returned 'decimal' dtype instead of object dtype.

Found this in the geopandas test suite, as there it creates invalid output and then an error in a follow-up operation (https://travis-ci.org/geopandas/geopandas/jobs/600859374)

This seems to be caused by https://github.com/pandas-dev/pandas/pull/29088, an

[2019-10-21 21:47] WillAyd commented on #29141
Pretty strange. I don't see it in the traceback of the logs but I assume that comes from here:

https://github.com/pandas-dev/pandas/blob/6c898e6a58285c841511e853bb1bf8a90766df78/pandas/_libs/reduction.pyx#L53

[2019-10-21 21:47] jbrockmendel commented on #29141
I expect this is solved by #29100

[2019-10-21 21:47] gabriellm1 commented on #29026
Just to check if I understood, this option would format every Boolean variable of the df to ex: true, TRUE or True when saving to CSV? If so, may I take his issue?

[2019-10-21 21:51] gabriellm1 commented on #29025
Can I take this?

[2019-10-21 22:13] jorisvandenbossche commented on #29141
It seems to solve the Decimal example, but not fully the GeoPandas one. The result is still object dtype, while before it was geometry dtype

[2019-10-21 22:16] jbrockmendel commented on #28900
@jorisvandenbossche you might be interested in weighing in here.  The current behavior of suppressing exceptions and excluding columns is a big part of the reason why groupby is so hard to reason about

[2019-10-21 22:18] jbrockmendel commented on #29141
Two ideas, not mutually exclusive:
- send me a link and I'll add it to my groupby-follow-up todo list
- make a (xfailed) test in e.g. test_downstream

[2019-10-21 22:21] jorisvandenbossche commented on #29141
So for the geopandas case, I didn't post the reproducer yet (I was trying to find one with Decimal), but it is:

[code]

(the above is master from a few days ago, where the result has 'geometry' dtype)

[2019-10-21 22:26] jorisvandenbossche commented on #29141
And (somewhat artificial) reproducer with Decimal:

[code]

[2019-10-21 23:53] coderkalyan commented on #29132
Hi, I'm new to pandas development (but a fan). Can I try this as part of #hacktoberfest, and where do I start?

[2019-10-22 00:34] #17044 closed

[2019-10-22 00:41] #28922 closed

[2019-10-22 01:12] alimcmaster1 commented on #29090
Closing as resolved by user

[2019-10-22 01:12] #29090 closed

[2019-10-22 01:24] WillAyd commented on #27435
At this point we don't have any further plans for a 24.x release, so unfortunately I don't think this is something we will address (if anyone disagrees feel free to reopen)

[2019-10-22 01:24] #27435 closed

[2019-10-22 01:30] alimcmaster1 commented on #29072
Have you tried using qgrid or beakerx?

https://github.com/quantopian/qgrid
https://github.com/twosigma/beakerx

[2019-10-22 01:31] #28383 closed

[2019-10-22 01:35] #15584 closed

[2019-10-22 01:35] #19248 closed

[2019-10-22 01:53] #13257 closed

[2019-10-22 03:19] aditya-hari commented on #21131
@mroeschke Hey, this is my first time contributing to pandas. How should I go about writing the test?

[2019-10-22 03:33] jbrockmendel commented on #28981
I _think_ ive seen this before and found that changing `in "mM"` to `in ["m", "M"]` fixes it.  Can you confirm whether this fixes it here?

[2019-10-22 03:52] mroeschke commented on #21131
@aditya-hari correct.

[2019-10-22 04:02] mroeschke commented on #6701
All the issues in the post have been addressed. I think we can close this tracker for more specific issues.

[2019-10-22 04:02] #6701 closed

[2019-10-22 04:07] #21376 closed

[2019-10-22 04:10] mroeschke commented on #16537
Seems like the debugging efforts in the original question stalled while others have had success with using `concat` with `chunks` and `low_memory=False`. Will tag as a usage question and close.

[2019-10-22 04:10] #16537 closed

[2019-10-22 04:18] mroeschke commented on #16719
Looks to produce a correct output on master. Could use a test:

[code]

[2019-10-22 04:28] mroeschke commented on #19020
This looks to return a reasonable output now. Could use a test:

[code]

[2019-10-22 04:32] mroeschke commented on #21537
This looks fixed on master. Could use a test to close:

[code]

[2019-10-22 04:47] mroeschke commented on #16410
The original issue isn't fully copy pasteable, but @makbigc's examples look to work on master. Could use a test.

[code]

[2019-10-22 04:58] mroeschke commented on #6485
The first example could use a regression test since it works on master.

[code]

[2019-10-22 05:06] mroeschke commented on #9614
Looks to work on master. Could use a test.

[code]

[2019-10-22 05:09] mroeschke commented on #9752
This looks to be fixed on master. Could use a test

[code]

[2019-10-22 05:12] leonjinzhong commented on #27558
It works. Thanks.

[2019-10-22 05:25] grassknoted commented on #12869
I tried reproducing the issue:
[code]

To me, this still looks like a bug, and needs fixing, not just more tests. Could you please confirm?

[2019-10-22 06:09] brandondavid commented on #28822
xref https://github.com/numpy/numpydoc/pull/238

[2019-10-22 06:25] jorisvandenbossche commented on #27435
For people reading this: there is an open PR fixing this, but that needs some further updates to get CI passing.
If people are still interested in seeing this fixed, you can contribute to that PR: https://github.com/pandas-dev/pandas/pull/28511

[2019-10-22 06:26] Khris777 commented on #29129
The error appears also without `nlargest`, this workaround yields the same error:

`print(df.groupby("C1").C2.apply(lambda x: x.sort_values(ascending=False).head(1)).reset_index())`

[2019-10-22 07:13] kenneth-loenbaek commented on #29072
I tried qgrid but I haven't tried beakerx.
They both look great for displaying the dataframe, when working in the notebook. But as fare as I can see they are both based on ipywidget which can't be converted into a static HTML file. I did not mention that in my original post but exporting to HTML was one of my use cases.

I would also prefer the sticky header and index as the default for displaying

[2019-10-22 07:28] aditya-hari commented on #21131
@mroeschke Would it be enough for the test  to assert that the output using both engines is the same? And where will this test go?

[2019-10-22 08:21] jorisvandenbossche commented on #28900
I agree that it seems a big breakage to go away from the automatic dropping of "nuisance" columns.

I would expect it to raise, like it does for `df.mean(numeric_only=False)` ...

[2019-10-22 08:58] markxwang opened #29145 "set_axis with callable"
Hi,
I've been using method chaining to write most of my data wrangling processes and one of the things that bother me a bit is to modify column names as part of the chain.

With a static list of column names, ```df.set_axis``` can do the work. But in the following cases, I have to use `df.columns=xxx` to modify the names.

1. Header comes from a row
2. Combine multi-indexed header into a single-in

[2019-10-22 09:30] markxwang opened #29146 "df.interpolate(method='pad') axis is not consistent with df.fillna(method='pad')"
```df.interpolate(method='pad')``` behaves weirdly regarding the axis.

[code]

Besides, ```df.interpolate(method='pad')``` does not seem to respond to `limit_area`

[code]

#### Output of ``pd.show_versions()``

<details>

pandas           : 0.25.2
numpy            : 1.16.5
pytz             : 2019.3
dateutil         : 2.8.0
pip              : 19.3.1
setuptools       : 41.4.0
Cython           : No

[2019-10-22 11:43] atriantafybbc commented on #26314
try with Python 3.6

[2019-10-22 12:09] jgehrcke commented on #27687
Huhu! Just noting that this is still empty: https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#contributors. I see that #27689 did some work on that front, but what's the goal and did we achieve it? CC @TomAugspurger

[2019-10-22 12:12] jgehrcke opened #29151 "DOC: contributors section for v0.24.0 shows too many contributors"
Found my name in https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.24.0.html#contributors. Did not contribute to that release. Contributed to 0.25.0 (that section is empty, though, see https://github.com/pandas-dev/pandas/issues/27687).

In the `doc/source/whatsnew/v0.24.0.rst` the culprit seems to be `contributors:: v0.23.4..HEAD`, let's change `HEAD` to `v0.24.0`?

[2019-10-22 12:25] jgehrcke opened #29154 "BLD: ModuleNotFoundError: No module named 'sphinx' during dev setup"
Following https://dev.pandas.io/docs/development/contributing.html#creating-a-python-environment-pip I ran into:

[code]

One ignorant but simple solution would be to do a `python -m pip install sphinx` prior to doing `python -m pip install -r requirements-dev.txt`. WDYT?

[2019-10-22 12:31] miroli commented on #29026
Yes, that's what I had in mind.

[2019-10-22 12:39] gabriellm1 commented on #29026
I'll try my best to make it happen!

[2019-10-22 12:40] #18311 closed

[2019-10-22 12:49] TomAugspurger commented on #27687
Thanks, not sure whats up. I may not have had the tag when I built the
docs? Will take a look later.

On Tue, Oct 22, 2019 at 7:09 AM Jan-Philip Gehrcke <notifications@github.com>
wrote:

[2019-10-22 13:42] TomAugspurger commented on #29154
cc @jorisvandenbossche. Would using versioneer avoid this?

That project does specify sphinx as an install_requires, but it also does a top-level import of the package in `setup.py`.

[2019-10-22 14:32] iamz33 opened #29157 "Working with n rows in a concatenated df"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-10-22 14:35] iamz33 commented on #29157
Basically I want to work with 60 rows (one hour) in the new concatenated df.  This is my first issue on github and I'm new to pandas and python. So please help.

[2019-10-22 14:37] iamz33 opened #29158 "Working with n rows in a df"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

[this should explain **why** the current behaviour is a problem and why the expected output is a better solution.]

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and

[2019-10-22 14:51] WillAyd commented on #29157
Hi there - this looks like a general usage question. For those we suggest using Stack Overflow as the Q&A format is much better suited for this. This board is reserved for enhancement requests and bug reports

[2019-10-22 14:51] #29157 closed

[2019-10-22 14:51] iamz33 commented on #29157
df_new_cconcatenated with 1 min readings is:
2019-01-09 00:00:00   -1.503   -0.006        -1.448  ...      0.0    79.9    3.5
2019-01-09 00:01:00   -1.604    0.035        -1.401  ...      0.0    79.9    6.1
2019-01-09 00:02:00   -1.655    0.039        -1.409  ...      0.0    79.9    5.6
2019-01-09 00:03:00   -1.643    0.032        -1.562  ...      0.0    79.9    4.7

I want to work on this df. Do

[2019-10-22 14:51] WillAyd commented on #29158
Hi there - this looks like a general usage question. For those we suggest using Stack Overflow as the Q&A format is much better suited for this. This board is reserved for enhancement requests and bug reports

[2019-10-22 14:51] #29158 closed

[2019-10-22 14:55] iamz33 commented on #29157
Oh,didn't know that. I'm new to programming. Will do.Thanks.

[2019-10-22 14:56] WillAyd commented on #29145
Can you provide code samples for the usage cases with expected outputs for this?

[2019-10-22 15:00] HughKelley commented on #29073
@datapythonista a couple more questions

Should I be running PEP8 validation before submitting a pull request or is it sufficient to rely on the script here?

In `pandas.Period.to_timestamp` and `pandas.PeriodDtype` there is 1 remaining error:

    Unknown parameters {freq, how}

These are clearly the parameters used in the function definition and I looked for some formatting thing that might caus

[2019-10-22 15:07] TomAugspurger commented on #27687
Sorry, I misread. The 0.25.0 contributors should be `0.24.x..0.25.0` @jgehrcke are you interested in adding that to your other PR?

[2019-10-22 15:09] wangxin1194 commented on #29145
Usage example,
1. Set first row as column names,
[code]

2. Merge multiindex column into single index, say ```('a','1'), ('b','2') ```into ```'a_1', 'b_2'```
[code]

3. Split single index to multiindex, say ``` 'a_1', 'b_2'``` to``` ('a','1'), ('b','2')```
[code]

[2019-10-22 15:12] hrm13 opened #29161 "loffset in pd.Grouper does not apply"
#### Code Sample

[code]
#### Problem description

The above use of `loffset` does not change the grouping labels as expected. The corresponding code using `DataFrame.resample` does work. Try:

[code]

#### Expected Output

[code]

#### Actual Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.6.4.fin

[2019-10-22 15:15] mroeschke commented on #21131
Best to construct the result manually `result = pd.DataFrame(...)`, and compare both `read_csv` engines to that.

The test should go in a file in `pandas/tests/io/parser`

[2019-10-22 15:18] datapythonista commented on #29073
Running pep8 locally can save you time, since the CI requires pushing and takes like half an hour. But should be the same other than that.

I'm in my phone and can't look the code now. If those parameters are not detected by the script, may be an error of the script. When a function is wrapped liked with a decorator, some machinery is required to get the right function to extract the parameters fr

[2019-10-22 15:34] jgehrcke commented on #27687
doing that now!

[2019-10-22 15:34] WillAyd commented on #29145
Couple things to note:

Number 1 is already possible, though requires you to drop the row after setting. So maybe we need a keyword argument for that (it's called `drop` in the set_index world)

[code]

For number two there is already a multi index `to_flat_index` command you can use

[code]

For number three you can also use `pd.MultiIndex.from_tuples`

[code]

So out of these I think the *most*

[2019-10-22 15:59] hwalinga commented on #29161
Seems to be the same as https://github.com/pandas-dev/pandas/issues/28302

[2019-10-22 16:03] WesRoach opened #29162 ".map on category dtype does not respect defaultdict when encountering np.nan values"
Using .map() to x-walk values from a series, and ensure that only expected values are present.

This scenario works to convert np.nan values to empty strings on object dtypes, but does not replace np.nan on category dtype.

[code]

I would have expected the output to be the same for both object/category dtypes.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
-----------------

[2019-10-22 16:43] R1j1t commented on #29069
I was looking at this issue and would it be fine if i update [this line](https://github.com/pandas-dev/pandas/blob/master/pandas/core/indexes/base.py#L278) to

Current version
[code]

Proposed solution
[code]
I am happy to raise a PR after adding appropriate tests.

@WillAyd could you help me understand if you have any other function/labels in mind?

[2019-10-22 16:43] wangxin1194 commented on #29145
I understand all are possible, but difficult to work with method chaining. You have to create ```df``` first.

[2019-10-22 16:49] mroeschke commented on #29161
Closing as a duplicate of #28302

[2019-10-22 16:49] #29161 closed

[2019-10-22 17:58] WillAyd opened #29165 "ASV Benchmark - Time Standard"
TLDR - I think we need to cap our benchmarks at a maximum of .2 seconds. That's a long way off though, so I think should start with a cap of 1 second per benchmark

Right now we have some very long running benchmarks:

https://pandas.pydata.org/speed/pandas/#summarylist?sort=1&dir=desc

I haven't seen a definitive answer, but I think ASV leverages the builtin timeit functionality to figure out how

[2019-10-22 19:00] SaturnFromTitan commented on #22471
Seems like the following files don't contain TestData (anymore) and can be checked or removed from the issue description:
- test_constructors.py
- test_dtypes.py
- test_period.py
- test_quantile.py
- test_rank.py
- test_sort_values_level_as_str.py
- test_timezones.py
- test_validate.py

I'll take a look at the others

[2019-10-22 19:39] VelizarVESSELINOV commented on #28882
Confirm, the same crash with official 0.25.2 release

[2019-10-22 19:41] WillAyd commented on #29025
I don't think the JSON table schema specifies anything about the index:

https://pre-v1.frictionlessdata.io/json-table-schema/#schema

Could *maybe* argue the index could be represented as `primaryKey`s but let's see what others think

[2019-10-22 19:50] TomAugspurger commented on #29025
We write it as the primaryKey when it's unique

from https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#table-schema

[2019-10-22 20:05] TomAugspurger commented on #28882
This segfaults for me ~10% of the time on master

[code]

[2019-10-22 20:22] WillAyd commented on #29025
Ah thanks Tom. Any chance you know the history of that requirement? Is it because primary keys in databases are typically unique?

The JSON table schema doesn't require uniqueness for primary keys and that actually gets controlled by a unique constraint in the schema:

https://pre-v1.frictionlessdata.io/json-table-schema/#field-constraints

Was discussed in the issue to add it there as well:

http

[2019-10-22 20:32] pv commented on #29165
The timeit documentation does not apply as is, see here for details: https://asv.readthedocs.io/en/stable/benchmarks.html#timing-benchmarks

On October 22, 2019 5:59:32 PM UTC, William Ayd <notifications@github.com> wrote:

[2019-10-22 20:42] jorisvandenbossche commented on #29151
Closed by https://github.com/pandas-dev/pandas/pull/29152

[2019-10-22 20:42] #29151 closed

[2019-10-22 21:02] WillAyd commented on #29165
Thanks for the link - reading through it definitely gives more guidance.

So we if we track something that itself takes more than 10 milliseconds to run do you know the `number` of times it is run within a `sample`? The documentation mentions that asv selects a `number` by approximation how many runs it will take to reach the `sample_time`, but its not clear what happens if one run exceeds sample_

[2019-10-22 21:14] WillAyd commented on #28882
If this was working on 0.24 but not 0.25 probably comes back to #20405

I'll see what I can find

[2019-10-22 21:27] TomAugspurger commented on #28882
Are you able to reproduce locally Will? If not, I can spend some time
digging into it.

On Tue, Oct 22, 2019 at 4:14 PM William Ayd <notifications@github.com>
wrote:

[2019-10-22 21:27] WillAyd commented on #28882
Yea - the last sample you posted was great and I see the same behaviour

[2019-10-22 21:36] TomAugspurger commented on #29025
Huh, I read it as needing to be unique: https://pre-v1.frictionlessdata.io/json-table-schema/#primary-key

But I may be wrong.

[2019-10-22 21:41] TomAugspurger commented on #29069
I'd recommend moving the Series.name implementation to `pandas.core.base.IndexOpsMixin`, which Series and Index inherit from.

[2019-10-22 22:04] WillAyd commented on #28882
Believe I have figured it out. The problem is on this line:

https://github.com/pandas-dev/pandas/blob/bef9baedafc83df47963f2c4f4e7e465ece44342/pandas/_libs/groupby.pyx#L766

When NA values appear in the groupby they are indicated with a -1 label. However via decorators we disabled `Cython.wraparound` for negative indexing AND also `Cython.boundscheck` to detect index errors. The combination of al

[2019-10-22 22:40] dsaxton commented on #28981
Yep, that seems to fix it.  Incidentally I also noticed this, which feels like it shouldn't be an error:

[code]

It works if you don't explicitly set `dtype="interval"`:

[code]

[2019-10-23 00:10] sebov commented on #12869
Yes, from my point of view that should be considered a bug.

[2019-10-23 01:03] jbrockmendel commented on #28981
It looks like IntervalArray comparison ops haven't been defined at all.  That would be really nice to see fixed.  PR welcome.

[2019-10-23 01:14] CAM-Gerlach commented on #17566
@WillAyd Unless I'm missing something major, neither your or @jreback 's output so much as resemble what the OP nor the others here, including now myself, are requesting. What is being asked for is JSON output with the schema ``{index: [index], columns -> [values]}``, as is needed by libraries such as e.g. Plotly.js. For example, as given in the OP, ``{'c1': [1, 3], 'c2': [2, 4], 'index': ['r1', '

[2019-10-23 02:27] mattharrison commented on #17594
Not meaning to pile on but this behavior was completely unexpected.

Where is the definition behavior of category, ie:

Perhaps an option to enable|disable cartesian products could be added to the ``.groupby`` method

[2019-10-23 02:39] jreback commented on #17594
this is exactly what observed does

[2019-10-23 02:43] mattharrison commented on #17594
Oh, the ``observed`` parameter in ``.groupby``! Awesome, thanks!

[2019-10-23 03:26] pshMsGsAZL2n07ohWBCAGX9cC opened #29176 "404 Error: PDF Documentation Download"
The PDF documentation download link is yielding a 404 error.

https://pandas.pydata.org/pandas-docs/stable/pandas.pdf

Thank you in advance for fixing it.

[2019-10-23 04:02] gurkay commented on #15103
Perfect you man

[2019-10-23 04:03] mroeschke commented on #10360
Panel is no longer supported. Closing.

[2019-10-23 04:03] #10360 closed

[2019-10-23 04:10] mroeschke commented on #11244
The original issue looks to work on master. Could use a test.

[code]

[2019-10-23 04:11] textractor commented on #28792
I'd like to help with this if help is still needed. I tried running the validate script but got an error:

[code]

[2019-10-23 04:22] mroeschke commented on #13365
No longer raises an error on master but the result doesn't look correct.

[code]

[2019-10-23 04:26] mroeschke commented on #13655
This looks to be fixed on master. Could use a test.

[code]

[2019-10-23 04:30] mroeschke commented on #14011
This looks to work on master. Could use a test.

[code]

[2019-10-23 04:32] mroeschke commented on #14525
Looks like both the previously successful assignment now fails. Could use a test.

[code]

[2019-10-23 05:23] ataleb commented on #11042
I would like to work on this issue, if it is still available?

[2019-10-23 06:18] datapythonista commented on #28822
So far adding the validation function for a docstring to numpydoc in numpy/numpydoc#238

The function is only available via python, but I think the next step could be make `python -m numpydoc sklearn.linear_model.LinearRegression` validate that docstring reporting errors based on settings in `setup.cfg`.

But for the CI, may be it's work implement a Python script in each project that calls the val

[2019-10-23 08:26] bearHunting commented on #14553
need this feature badly.

[2019-10-23 08:39] EwoutH commented on #29029
On Arm instances it doesn't even download ([example job](https://travis-ci.com/EwoutH/multi-agent-emergence-environments/jobs/248609315)). It probably just needs to be uploaded for Aarch64.
[code]

[2019-10-23 10:48] jreback commented on #29029
its possible something was flakey
master looks good now

[2019-10-23 10:48] #29029 closed

[2019-10-23 12:08] mlangiu opened #29181 "ImportError: Can't determine version for bottleneck"
[code]
[code]
Gives me
[code]

#### Output of conda list
<details>
# Name                    Version                   Build  Channel
blas                      1.0                         mkl

ca-certificates           2019.10.16                    0

certifi                   2019.9.11                py37_0

icc_rt                    2019.0.0             h0cc432a_1

intel-openmp              2019

[2019-10-23 12:14] TomAugspurger commented on #29176
We have another issue for this in the pandas-release repo.

[2019-10-23 12:14] #29176 closed

[2019-10-23 12:22] #29181 closed

[2019-10-23 12:24] mlangiu commented on #29181
Realized I wasn't running `python` but `ipython`, probably with an old version.
`conda install ipython` solved this problem for me.

[2019-10-23 13:15] MaximeWeyl commented on #27794
Here is a workaround I'm using, but it is slow :

[code]

[2019-10-23 14:08] rth opened #29183 "UTF8 string dtype"
As far as I understand, for strings pandas uses an `object` dtype with Unicode representation where each character takes 4 bytes, similarly to numpy `U` dtype,
[code]

Wouldn't it be possible to support UTF-8 encoded strings? That would decrease by 2-4 the memory requirements, for a number of languages. For instance parquet and arrow seem to be doing that [[1](https://github.com/apache/parquet-for

[2019-10-23 14:33] rth commented on #29183
https://arrow.apache.org/blog/2019/02/05/python-string-memory-0.12/ is probably relevant.

Although given that,
[code]
and that it should take more than 8 bytes to store that 18 char string, `ndarray.nbytes`  /  `DataFrame.memory_usage` don't seem to work as expected with object dtype or am I missing something? So the memory usage per string I gave above is probably wrong.

To give more context, I

[2019-10-23 14:40] TomAugspurger commented on #29183
I believe that https://github.com/pandas-dev/pandas/issues/8640 covers this issue.

Pandas 1.0 will have a `StringDtype()`, which currently uses the same implementation of an ndarray of Python strings.

As soon as possible, we'd like to change that implementation to use a native string implementation (Arrow perhaps).

You need `deep=True` to inspect the size of the python objects contained within.

[2019-10-23 14:53] rth commented on #29183
Thanks @TomAugspurger , makes sense.

Closing this in favor of https://github.com/pandas-dev/pandas/issues/8640 then.

[2019-10-23 14:53] #29183 closed

[2019-10-23 15:50] #29141 closed

[2019-10-23 16:07] #29073 closed

[2019-10-23 16:13] maartenb commented on #28461
As this is not a duplicate, can the duplicate label be removed?

What needs to be done to get this issue resolved/implemented?

[2019-10-23 16:18] WillAyd opened #29187 "Deprecate / Remove pandas.util.testing.assert_raises_regex"
As noted by @simonjayhawkins in https://github.com/pandas-dev/pandas/pull/29174#discussion_r337961652 we have some `assert_raises_regex` code laying around in pandas.util.testing that isn't used internally. Can rip out a chunk of code if we get rid of that.

I think we need to deprecate as pandas.util.testing is part of the leaky API, though removal is an option as well.

[2019-10-23 16:21] WillAyd commented on #29187
Nevermind - this was already deprecated

[2019-10-23 16:21] #29187 closed

[2019-10-23 16:32] topper-123 commented on #29111
@jreback @TomAugspurger , @jorisvandenbossche, any comments?

All of the nan-likes are encoded to -1 already, so no information will really be lost from this, and this will unite ``Categorical.categories`` and ``MultiIndex.levels``.

[2019-10-23 17:26] #24396 closed

[2019-10-23 17:29] soumitrakp commented on #21673
+1 for this feature

[2019-10-23 17:41] jeybrahms opened #29189 "groupby error when grouping by float index with non-unique values"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

This should just work instead of raising.
#### Expected Output

#### Output of ``pd.show_versions()``

<details>

pandas           : 0.26.0.dev0+593.g9d45934af
numpy            : 1.17.0

</details>

[2019-10-23 17:48] #28766 closed

[2019-10-23 18:04] WillAyd commented on #29189
Interesting find. I think this stems from some clean up in https://github.com/pandas-dev/pandas/pull/27909 but very surprising that we would throw anything other than a Key or Index error at the below line

https://github.com/pandas-dev/pandas/blob/ee59b7d68f8b21623e8248f2fa56a824bed27fba/pandas/core/groupby/grouper.py#L602

@jorisvandenbossche @jbrockmendel

[2019-10-23 18:04] WillAyd commented on #29189
Traceback on master for reference

[code]

[2019-10-23 18:28] jorisvandenbossche commented on #29111
In principle, it would certainly be nice to clean that up I think, as that doesn't look good.

Can we think of potential changes that can impact users?
Eg what is the impact on indexing a series/dataframe with such an index? Does that change how those different missing indicators are treated?

This is also only applicable for object dtype level?

[2019-10-23 18:36] R1j1t commented on #29069
Okay, so if i understood correctly i thought something like this should work

[code]

moving the above lines [from](https://github.com/pandas-dev/pandas/blob/master/pandas/core/series.py#L475) pandas.core.Series.py to  pandas.core.base.IndexOpsMixin should solve the problem but it only worked for series. I will try to look into your suggestion. Also my above thought didnt work.

[2019-10-23 18:52] topper-123 commented on #29111
Yes, I think this should only affect object dtype levels, because other dtypes can only have one nan-like type.

I can't think how it could affect indexing, because indexing works using the codes, so all of NaN, NaT, None etc. already translate to the same code (-1).

I could start working on it, and if I'm missing some effect that has unexpected implications, we could discuss it again.

[2019-10-23 18:54] jorisvandenbossche commented on #29111
Can you try some examples with the index you show above?

[2019-10-23 18:55] jorisvandenbossche commented on #29111
Eg `pd.Series(range(len(mi)), index=mi)[np.nan] ` does actually not even work for me. But I suppose there is some way to index with missing values into a MultiIndex?

[2019-10-23 19:08] topper-123 commented on #29111
Yes, I agree, seems like indexing MultiIndex by nans doesn't work currently.

Also, given that all the nan-likes are encoded to -1 in ``.codes``, even it it indexing with nans did work, there AFAIKC, couldn't be any way to differentiate between nan and None anyway...

Also, object dtype seems to be an anamoly as other dtypes actually don't keep nan.likes in the level:

[code]

[2019-10-23 20:08] #25453 closed

[2019-10-23 20:40] pv commented on #29165
If it takes longer that `sample_time`, `number = 1`. You probably want to adjust `repeat`, as the default `(2, 10, 20.0)` runs until 10 samples are collected or 20 seconds elapsed --- e.g. make the max time shorter.

[2019-10-23 22:40] mccarthyryanc commented on #29055
@TomAugspurger, is this just an error in the docs and a feature request to pyarrow?

[2019-10-23 22:59] jreback commented on #28461
this is a duplicate of https://github.com/pandas-dev/pandas/issues/25006

there is a closed PR that almost ready  (referenced from the above issue)

[2019-10-23 22:59] #28461 closed

[2019-10-24 00:02] WillAyd opened #29197 "MyPy Error Codes"
mypy 0.73 came with support for error codes:

http://mypy-lang.blogspot.com/2019/09/mypy-730-released.html

I think we should add these to CI and update docs to require these going forward for any `type: ignore` statements

@simonjayhawkins

[2019-10-24 00:04] #27761 closed

[2019-10-24 01:07] maartenb commented on #28461
The approach @selik proposed is different and well defined. If there is a sequence of NaNs it might not make sense to do a pct_change over the gap. Also, it seems that PR for #25006  is not really in play anymore, possibly because it also needs a deprecation period?

[2019-10-24 03:52] WillAyd opened #29198 "CI Linux py36_locale_slow Hanging"
Seems to be hanging on miniconda install script:

https://dev.azure.com/pandas-dev/pandas/_build/results?buildId=19314&view=logs&jobId=5ddd427e-1f95-5998-4195-7ffbeb9b114d&taskId=2d75e2dd-4c84-5053-e835-c449aeb02662&lineStart=256&lineEnd=257&colStart=1&colEnd=1

Interestingly enough the Linux py36_locale_slow_old_np seems to be OK

[2019-10-24 04:42] grassknoted commented on #12869
Hi @sebov, looking at the trace, I can see that the discrepancy is caused by the following lines:
[code]

`df[ [<empty_columns>] ]` returns an empty object
The first check in the `duplicated()` function, checks for an empty DataFrame, and returns an empty Series.
I think I found a possible solution to circumvent this problem. Using the `index` property of the DataFrame, the function would be chang

[2019-10-24 05:22] mroeschke commented on #12869
Feel free to submit a pull request for a full review @grassknoted!

[2019-10-24 05:23] selik commented on #28461
@jreback I looked at PR #25006 and don't think it's going to solve this issue. Certainly it's not clear from the discussion.

[2019-10-24 07:15] randomstuff commented on #29095
I did not (yet) because I did not consider it was **clearly** a vulnerability in openpyxl and xlsxwriter.

[2019-10-24 07:27] gfyoung commented on #29095
FYI: I think we also had a Tidelift discussion for this too...

[2019-10-24 09:49] simonjayhawkins commented on #29197
i did this in https://github.com/pandas-dev/pandas/pull/28339/commits/32f1780356a446f8d8b5432cb8562a54221caec5 but causes F821 errors and needs to be silenced.

reverted after a couple of weeks in https://github.com/pandas-dev/pandas/pull/28339/commits/34bf08cdd3a6097421268addd2ef67c0bcf3ed2b as frustrating not having F821 linting in the ide.

so -1 and revisit once flake8 supports mypy errors cod

[2019-10-24 10:19] jreback commented on #29095
how is this true at all? we pass thru construction options already; xlxswriter has an option for safe handling and that is our default engine

[2019-10-24 10:56] hwalinga commented on #29145
If you don't know yet, have a look at `.pipe`.

Pandas isn't designed for method chaining. (Although I think it is a good idea to have more methods like this that do tie in more with the method chaining pattern, but for now you can ease the pain with `.pipe`.)

[2019-10-24 11:01] grassknoted commented on #12869
@mroeschke , I'm new to pandas, and was just trying to find my way around. Could you please point me in the right direction to look, to fix this issue?

[2019-10-24 11:09] wangxin1194 commented on #29145
@hwaling I do use pipe as the last resort and wonder if it is possible to bypass pipe when it comes to header assignment.

[2019-10-24 11:21] LiuSeeker commented on #29162
Can I pick this issue?

[2019-10-24 11:34] sebov commented on #12869
Hi @grassknoted, can you also check if your bugfix works for
[code]
I would expect the above to be more or less equivalent to
[code]
What do you think?

[2019-10-24 11:40] Nabel0721 commented on #28792
@textractor Try running it with `python3 /scripts/validate_docstrings.py` instead. The shebang at the top is `usr/bin/python`, which works great if you only have python3 installed on your computer, but breaks it a little if you have 2 and 3.

[2019-10-24 12:30] TomAugspurger commented on #29055
Seems to be an issue with the pandas docs.

[2019-10-24 12:32] TomAugspurger commented on #29111
Your proposal sounds reasonable.

On Wed, Oct 23, 2019 at 2:08 PM Terji Petersen <notifications@github.com>
wrote:

[2019-10-24 12:50] dlukes opened #29203 "Improve docs on what the axis= kwarg does in individual functions/methods"
### `axis=0` or `axis=1`, which is it?

I've always found it hard to remember which axis (`0/"index"` vs. `1/"columns"`) does what for various operations. I suppose some people find it intuitive, while others (like me) find it confusing and inconsistent.

Case in point, `DataFrame.sum` vs. `DataFrame.drop`: if I want **column sums**, I need `axis=0`...

[code]

... but if I want to **drop a column

[2019-10-24 13:28] proost commented on #29038
Close Issue.
I try to change the code in two way.
First, I try to remove `PeriodEngine.get_loc` in `PeriodIndex.get_loc`, so just compute `.get_loc` once, not  several in try .. except statement. But problem is test case change inevitable. I give it up this way.
Second, I try to change `PeriodEngine.get_loc` to accept "Period" object not only "Period.ordinal". (Original `PeriodEngine.get_loc` only

[2019-10-24 13:48] HughKelley opened #29204 "DOCS: docstrings formatting errors in pandas.PeriodIndex"
[pandas/core/indexes/period.py](https://github.com/pandas-dev/pandas/blob/04893a954b91574279c402e8730a4b5fae2ae9e1/pandas/core/indexes/period.py)

#28602
#27977

[code]
[code]

[code]
[code]
and a failed example on line 89

[code]

[code]

[code]

[code]

[2019-10-24 13:48] grassknoted commented on #12869
Thanks for the input @sebov !

So, my bugfix was failing for `subsets=[]`, but I think I can circumvent that as well, by adding another check, as follows:
[code]

With this change in the code, the output is as follows:
[code]

Thanks for pointing that out, please do let me know if there are any other tests I should run.

[2019-10-24 16:18] WillAyd commented on #29034
@pandas-dev/pandas-core do we have thoughts on this? The only thing I can think of that warrants a 0.25.3 release right now might be the fix in #29173

If there isn't an appetite for that release I think we should drop 35 from CI now

[2019-10-24 16:21] jreback commented on #29034
+1 in dripping 3.5 for 1.0

this wouldn’t affect 0.25.x

[2019-10-24 16:24] WillAyd commented on #29034
I’m talking specifically about dropping from CI. I’m leaning towards maybe cutting a 25.3 for the regression fix and dropping 35 after that

[2019-10-24 16:25] jmcnamara commented on #29095
For reference, here is an example from the XlsxWriter docs that shows how to pass XlsxWriter options via the Pandas interface.

https://xlsxwriter.readthedocs.io/working_with_pandas.html#passing-xlsxwriter-constructor-options-to-pandas

[2019-10-24 16:30] WillAyd commented on #29203
If you can break the request up into clear actionable items, we generally accept PRs to improve docs so sure.

Maybe helpful for you to think of it as the "sum of rows by column"

[2019-10-24 17:01] WillAyd opened #29207 "Clean up noqa E241"
Since we use black some of the whitespace codes for flake8 might not be applicable anymore. E241 in particular, which is for multiple spaces after a comma I don't think should appear anymore

A quick grep shows the following - if anyone would like to clean these up by deleting the noqa should make for an easy contributing I think

[code]

[2019-10-24 17:06] bhadreshpsavani commented on #29207
I have just started my opensource journey.
I would like to work on it.

[2019-10-24 17:27] jreback commented on #29034
whether we cut 0.25.3 is irrelevant
we have no reason to change the 0.25.x CI

[2019-10-24 17:28] WillAyd commented on #29034
Ah OK. So OK to drop from CI on master and if we want a 0.25.3 can target the 0.25.x branch directly?

[2019-10-24 17:34] jbrockmendel opened #29208 "REF: Dependency Structure Simplification"
This is intended to describe a) possible refactors that would simplify the intra-pandas dependency structure, b) the benefits we would see from implementing these refactors, and c) the difficulties each would entail.

<b>Straightforward Circular Dependencies</b>
- [ ] imports from `pd.core.util.hashing` in `pd.util.__init__`
  Fix: Just remove that import, difficulty depends on if that needs a dep

[2019-10-24 17:41] jbrockmendel commented on #29198
the local_slow_old_np is hanging in some builds too, I'm seeing
[code]

I get the same 404 when I try to access it locally

[2019-10-24 17:49] WillAyd commented on #29198
Makes sense as that version doesn't appear there anymore (looks like 9.2)

http://ppa.launchpad.net/ubuntu-toolchain-r/test/ubuntu/pool/main/g/gcc-9/

Of course the debug build I have seems to run OK, so maybe a temporary issue working its way through CI? Not sure

[2019-10-24 17:57] jreback commented on #29034
right as usual would merge a patch to master and back port to 0.25.x

[2019-10-24 18:03] mroeschke commented on #29208
xref https://github.com/pandas-dev/pandas/issues/25273 for the `core.dtypes` point?

[2019-10-24 18:05] TomAugspurger commented on #29034
+1 for dropping from master.

On Thu, Oct 24, 2019 at 12:57 PM Jeff Reback <notifications@github.com>
wrote:

[2019-10-24 18:38] #29207 closed

[2019-10-24 19:06] datapythonista commented on #29034
+1, let's do it then: #29212

[2019-10-24 20:53] WillAyd commented on #29198
The 36 builds were failing before. Now it looks like the 37 build is?

Wonder if there's just something going on on the conda side that we need to wait out in terms of resolving these URLs

[2019-10-24 21:32] MaddeeRubenson opened #29213 "BUG: pd.Dataframe.from_dict when first value is a list"
#### Reproducible example:

[code]
#### Problem description

Error when creating a dataframe from a dictionary when the first item in the dictionary is a list. See reproducible example above.

[code]
#### Expected Output

[code]

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
------------------
commit: None
python: 3.7.3.final.0
python-bits: 64
OS: Windows
OS-release: 10
mach

[2019-10-24 22:33] WillAyd commented on #29213
This seems to work fine on master, though not with the result you would expect. It is ambiguous as to whether you mean to get a 1 row data frame or a 3 row data frame with this kind of construction.

Not sure if there is anything to do here. Note you can construct a Series instead if you want 1D

[2019-10-24 23:05] asishm commented on #29213
@WillAyd both examples use the same dictionary albeit with a different order of keys.

[2019-10-24 23:57] jbrockmendel commented on #23066
It looks like `hash_pandas_object` isn't used outside of tests.  Do we still need it?  (its exposed in `pd.util` which is kind of weird)

[2019-10-25 00:03] datapythonista opened #29214 "CI/TST: Better information about the tests in azure-pipelines"
Copying from https://github.com/astropy/astropy/pull/8445#issuecomment-546140223

If you install the newest version of pytest-azurepipelines (1.0.0rc1) https://pypi.org/project/pytest-azurepipelines/1.0.0rc1/ I've switched the output from Junit to Nunit XML as its better supported in Azure Pipelines.
You can then run this Azure plugin https://marketplace.visualstudio.com/items?itemName=AnthonyShaw

[2019-10-25 00:36] WillAyd commented on #29198
I think this is just a temporary blip in the radar probably need to wait out

[2019-10-25 00:36] #29198 closed

[2019-10-25 01:33] jreback commented on #23066
this is exposed as an api for other libraries (dask)

[2019-10-25 06:05] ajphukan opened #29217 "In read_excel parse_date=False is not working"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

In read_excel   parse_date default value is False , but still it is parsing the date.

**Note**: We receive a lot of issues on our GitHub tracker, so it is very possible that your issue has been posted before. Please check first before submitting so that we do not have to handle and close duplicates!

**Note**:

[2019-10-25 08:41] SaturnFromTitan opened #29219 "Remove pandas/tests/series/common.py"
This is a follow-up issue for #22550

As `TestData` was replaced with fixtures in all series tests, we can `pandas/tests/series/_common.py` altogether (it's only content is `TestData`).

[2019-10-25 10:19] mstrofbass opened #29221 "df.sample random_state behavior across processes"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When you run the above code, the samples generated are identical. After a significant amount of time debugging this, I finally came to the conclusion that it's probably related to the fact that numpy copies the RandomState from the parent process to the child processes, so the random seed used by the two child

[2019-10-25 10:27] jreback commented on #29221
it’s right there in the doc string: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html?highlight=sample#pandas.DataFrame.sample

multi processing behavior of this is out of scope for pandas
as numpy provides these objects

PR ok if you want to enhance the docs with a reference

[2019-10-25 10:30] mstrofbass commented on #29221
"it’s right there in the doc string"

What's right in the doc string?

[2019-10-25 10:30] mstrofbass commented on #29221
Thanks for providing a reference I already provided. Very helpful.

[2019-10-25 10:43] hwalinga commented on #29217
Can you maybe share the file (or something we can reproduce this with) that causes this problem?

The `parse_dates` can only be used in a specific case. Citing the documentation:

So, this can only be used for columns that have strings that might be interpreted as dates, and not for column that are already the date type in excel itself.

[2019-10-25 11:24] jorisvandenbossche commented on #29111
cc @toobaz in case you have any experience with NaNs in object MultiIndexes

If it would have worked, we might need to ensure it keeps working (even when that specific indicator would not be in the values anymore), or have some deprecation for it. But ok, since it seems to not work, no need to argue for this ;)

[2019-10-25 11:42] jorisvandenbossche commented on #29111
Some random other observations / thoughts:

I was wondering what happens if you convert such a MI into a normal index by eg dropping index levels:

[code]
So it seems you only get NaNs, and that also does not depend on the order of the missing value indicators in the levels (so if NaN is not the first, you still get NaN).

---

If you create a MultiIndex in a more typical way (not by constructing

[2019-10-25 11:46] jorisvandenbossche commented on #29034
Are there specific 3.6 features we want to start using once 3.5 is dropped?

https://docs.python.org/3/whatsnew/3.6.html

f-strings seems to be one (although I would personally not do a "big cleanup" to move existing ones). And we can now also rely on dict ordering (although I think we already did for >= 3.6, so probably only need to remove the compat code for 3.5 regarding that).
There are also s

[2019-10-25 12:00] bdepardo commented on #28837
FYI I tested with 0.25.2 and the bug is still there.
The bugfix must be in a commit for a future release

[2019-10-25 12:03] ajphukan commented on #29217
Input sample you can use combination of date and simple string
`
col
--
aaaa
12/10/2019
ppp
cc
12/10/2019

`

Output  that I am getting:
`
                    0
0                 aaaa
1  2019-12-10 00:00:00
2                  ppp
3                   cc
4  2019-12-10 00:00:00
`

[2019-10-25 12:16] ZanSara commented on #12236
Is anyone working on this issue at the moment?
I've also hit this issue and I am willing to do some work on it if none is in the process already.

[2019-10-25 12:17] #18720 closed

[2019-10-25 12:34] hwalinga commented on #29217
I was looking for the actual binary file 'filename.xlsx'.

[2019-10-25 13:06] #29132 closed

[2019-10-25 13:43] jorisvandenbossche opened #29223 "CI: include pyarrow 0.15.0 / latest release in one of the builds"
From a quick look, it seems we are not testing the latest version of pyarrow on our CI.

[2019-10-25 14:50] wesm commented on #29034
FYI

[code]

[2019-10-25 15:27] gfyoung commented on #29217
My guess is that the Excel file is defining the data format as date:

https://github.com/pandas-dev/pandas/blob/bc020f638a88778c289cdfd20a660f25ad843dd5/pandas/io/excel/_xlrd.py#L59-L83

For those types of cells, we are rendering those as date because Excel told us to do so.  `parse_dates` applies to entire columns i.e. we convert the entire column of data to `date`.

[2019-10-25 16:11] SaturnFromTitan commented on #29219
Closing as I'll do it as part of the mother issue...

[2019-10-25 16:11] #29219 closed

[2019-10-25 16:34] #20519 closed

[2019-10-25 16:39] WillAyd commented on #28822
Closed by https://github.com/numpy/numpydoc/pull/238 and now part of numpy doc - thanks @datapythonista

[2019-10-25 16:39] #28822 closed

[2019-10-25 16:54] #21537 closed

[2019-10-25 16:55] WillAyd commented on #29034
@jorisvandenbossche I commented in the PR instead of here (here would have been better...) but yea your list and my list for follow ups to this are pretty much aligned

https://github.com/pandas-dev/pandas/pull/29212#issuecomment-546065347

Can open follow up issues for those after we get this merged

[2019-10-25 17:00] WillAyd commented on #29034
@wesm so one of the motivating factors for dropping this as well is alignment with NEP 29, which suggests dropping Py35 support for anything release Dec 19 onwards:

https://numpy.org/neps/nep-0029-deprecation_policy.html

Do you see that as problematic? I'm surprised 3.5 is as high on that list (I vaguely recall seeing other lists where it was much lower) but curious what you might be thinking

[2019-10-25 17:01] #27676 closed

[2019-10-25 17:13] WillAyd opened #29227 "Replace _has_complex_internals with isinstance(..., ABCMultiIndex)"
I've stumbled across this code a few times in groupby and it took me a while to grasp. I'm pretty sure this always evaluates to False, unless we are dealing with a MultiIndex.

For code clarity, I think it would be better if we just did an isinstance check as I don't think the intent of `_has_complex_internals` is very clear

[2019-10-25 20:44] jtanman opened #29231 "numpy.asarray() removes fill value from Pandas SparseArrays"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Converting back to a dense array from a Pandas SparseArary no longer works as intended. It should keep all values in the array as is, but instead the new array removes all elements that are the fill_value. Thus the new array ends up with less elements than before.

**Note**: We receive a lot of issues on our Gi

[2019-10-25 22:40] vfilimonov commented on #29105
Further: it makes sense to unify signature of `count` between Series and DataFrames (at least with respect to `axis` argument):
[code]

[2019-10-25 23:28] mccarthyryanc commented on #29055
Looks like this feature [won't be coming](https://issues.apache.org/jira/browse/ARROW-6998?filter=-6) to pyarrow. So, until this gets added on the pandas side, here is a work around:
[code]

[2019-10-26 00:04] jolespin commented on #28657
Just curious on what the general thoughts were for this?  Do you think it would be possible for future versions?

[2019-10-26 01:40] jreback commented on #28657
this PR https://github.com/pandas-dev/pandas/pull/9826

was actually pretty close but went stale a while back

would not object to adding this

[2019-10-26 01:41] jreback commented on #28657
a community PR would be the best way for this to progress

[2019-10-26 03:25] mroeschke commented on #5522
Looks like both are pretty comparable now? Without the context of the index, hard to gauge the performance issue. Closing for now but happy to open a new issue with a more specific example

[code]

[2019-10-26 03:25] #5522 closed

[2019-10-26 03:42] jreback commented on #5522
yeah this has a recent patch

[2019-10-26 03:56] mroeschke commented on #9149
Looks to be fixed on master. Could use a test.

[code]

[2019-10-26 04:00] mroeschke commented on #9447
Guessing since the change has been in master for 4 years now, not sure if the change need to be documented anymore. Closing.

[2019-10-26 04:00] #9447 closed

[2019-10-26 04:29] mroeschke commented on #9790
This looks to work on master, as the operation is okay and shouldn't raise and error I suppose. Could use a test.

[code]

[2019-10-26 04:32] mroeschke commented on #10320
Would need this request to be more well scoped with setup and example output. Closing for now but happy to have a new issue with details

[2019-10-26 04:32] #10320 closed

[2019-10-26 04:47] mroeschke commented on #14849
Looks to work on master. Could use a test.

[code]

[2019-10-26 04:48] mroeschke commented on #14955
Looks to raise correctly on master. Could use a test.

[code]

[2019-10-26 04:54] mroeschke commented on #16916
This looks to be fixed on master. Could use a test.

[code]

[2019-10-26 04:56] mroeschke commented on #17078
`TimeGrouper` has been removed and we would need a simpler example. Closing.

[2019-10-26 04:56] #17078 closed

[2019-10-26 05:02] mroeschke commented on #17681
Looks to be fixed on master. Could use a test.

[code]

[2019-10-26 05:14] abellerarj opened #29233 "read_csv encode operation on source"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

Noticed that when source does not exist, there is a leading 'b' on the source on the error message. For Python3, is it necessary to do the encode operation on line 667 of https://github.com/pandas-dev/pandas/blob/master/pandas/_libs/parsers.pyx? Works fine for Python2.

#### Output of ``pd.show_versions()``
<de

[2019-10-26 06:49] JobCollins commented on #28818
It's pretty cool to see this issue is raised seems like a common issue with pandas users.
In issue #27655 I used the following workaround especially once the error is generated:
`import pkgutil
import encodings
import os

def all_encodings():
    modnames = set([modname for importer, modname, ispkg in pkgutil.walk_packages(
        path=[os.path.dirname(encodings.__file__)], prefix='')])
    alias

[2019-10-26 07:07] randomstuff commented on #29095
Would it make sense to be able to pass `options` in `to_html()` instead of having to explicitely use a ` `pd.ExcelWriter`?

[2019-10-26 07:17] randomstuff commented on #29095
Wouldn't it better to make formula expansion an optin? It would be a slight  breaking change in the API but it would make the API Excel output more consistent with the other ones by default:

[code]

People actually needing formula would only need to add an option to `to_excel()`.

@TomAugspurger, Yes, I might be interested in doing that. If formula expansion (by default) is considered a feature i

[2019-10-26 09:04] hwalinga commented on #29231
I cannot reproduce this with the latest release. So, updating you pandas package will fix this.

[2019-10-26 10:44] dmey opened #29235 "Categories reordered to alphabetical when plotting histograms"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

When plotting histograms from a DataFrame (see code-snippet above) the order of subplots is not maintained. Passing `column` does not appear to have any effect on the ordering either.

#### Expected Output

Plots/subplots order equals column order in DataFrame.

#### Output of ``pd.show_versions()``

[code]

[2019-10-26 12:43] TomAugspurger commented on #29231
Fixed in 0.25 I think.

[2019-10-26 12:43] #29231 closed

[2019-10-26 12:47] HughKelley opened #29236 "DOCS: Formatting Errors pandas.TimedeltaIndex"
[pandas/core/Indexes/timedeltas.py](https://github.com/pandas-dev/pandas/blob/c7462edc33e89452ae55cb52f61b23cb66e48a5b/pandas/core/indexes/timedeltas.py)

#28602
#27977

[pandas/core/indexes/base.py](https://github.com/pandas-dev/pandas/blob/0a44feafd58f3c5576e5f4bf3d0136dcacc352f2/pandas/core/indexes/base.py)

[code]

[code]

[pandas/core/arrays/datetime.py](https://github.com/pandas-dev/pandas/b

[2019-10-26 17:27] Nitinsiwach opened #29238 "pandas.DataFrame.fillna automatically converts the dtypes of columns without missing values in them"
If a columns is treated by pandas.DataFrame.fillna and it doesnt have any missing values then pandas automatically converts the datatypes of columns 'int','float' or 'bool' if it can
You can reproduce the behavior here:

[code]

is this a bug or a feature?

[2019-10-26 17:37] jreback commented on #29238
there is a downcast parameter to control this
but you almost always want inference of object columns

[2019-10-26 17:37] #29238 closed

[2019-10-26 19:23] hwalinga commented on #29027
I think this can be closed now.

[2019-10-26 20:44] #29027 closed

[2019-10-26 21:02] qwhelan commented on #29165
@WillAyd It appears there's a few issues:
- The benchmark takes 20s per run, there's not much `asv` can do as long as that's the case.
- It's being run over 48 parameter combinations (half fast/half slow).
- These two factors mean 8 minutes for a `n=1` run (24 * 20s), so it's slow and noisy
- The pydata speed site is using an older version of `asv` that includes memory addresses in run names: http

[2019-10-27 00:07] jbrockmendel commented on #25778
@jorisvandenbossche any idea if this has resolved itself?

[2019-10-27 00:10] jbrockmendel commented on #27602
@WillAyd closable?

[2019-10-27 01:15] mroeschke commented on #20416
This looks to provide the correct output on master. Could use a test.

[code]

[2019-10-27 01:23] mroeschke commented on #20888
Yup looks to work on master. Could use a test.

[code]

[2019-10-27 01:39] mroeschke commented on #21411
Looks to work on master. Could use a test.

[code]

[2019-10-27 01:44] kjfergu opened #29240 "Trying to use to_sql on dataframe with numpy.ndarray columns causes ValueError"
I am trying out using pandas+sqlalchemy (specifically sqlite) as a means to store my data. In my use case, I will have a number of rows where most will be obvious types such as string, int, float, etc - but I will want to store a few numpy ndarrays. In the example below, each 'channel' entry is a 1x3000 array of floats. For higher dimensional arrays (at most 2D) I plan to store the shape of the da

[2019-10-27 01:57] mroeschke commented on #21668
I think the correct result is returned on master. Could use a test.

[code]

[2019-10-27 02:14] mroeschke commented on #5049
I think everything in the above issue has either been deprecated/removed or no longer experimental. Closing

[2019-10-27 02:14] #5049 closed

[2019-10-27 03:53] kjfergu commented on #29240
I found the solution from [this link](https://stackoverflow.com/questions/18621513/python-insert-numpy-array-into-sqlite3-database?noredirect=1)

Essentially, np.ndarray needs something to convert the array in to something that sqlite can actually handle as it has no array datatype, and apparently something goes wrong when trying to buffer the BLOB'd array directly. So, instead, convert the whole

[2019-10-27 06:04] kjfergu commented on #29240
Just to add on to my particular issue here - I am finding that reading back does not seem to work properly if everything is done as I put above. I can save to the database, but trying to read back I just get binary data.

I confirmed that the converter does not fire when the column is read back. The reason for this is that it appears `sqlalchemy` creates the table using whatever appropriate data t

[2019-10-27 10:08] cobalamin commented on #14235
I agree with the OP. There are a few StackOverflow questions about this already (e.g., [here](https://stackoverflow.com/questions/49393053/using-in-operator-with-pandas-series/49393472#49393472), and [here](https://stackoverflow.com/questions/47189831/pandas-series-and-the-in-operator) from the opposite expectation perspective).

Let me make a few points:

- `x in y`, for objects `y` that are iter

[2019-10-27 15:23] stefansimik opened #29241 "merge vs. join - unify parameter names"
#### Problem description

`pandas.DataFrame.merge` function is conceptually simillar like `pandas.DataFrame.join` function.
(first one one merges on specified columns, second merges on index).

* `join` function uses:  `lsuffix + rsuffix params`
* `merge` function uses: `suffixes`

We should unify names of these parameter(s) = let's use first way or second way, and deprecate the other.
I think, th

[2019-10-27 17:13] simonjayhawkins opened #29242 "config.register_option allows re-registering previously registered option."
[code]

[2019-10-27 17:19] jreback commented on #29242
why would you not want this? it’s a pretty clear message

[2019-10-27 17:23] simonjayhawkins commented on #29242
if a.b.c is registered you shouldn't be able to register a.b

[2019-10-27 17:27] simonjayhawkins commented on #29242
[code]

[2019-10-27 17:28] jreback commented on #29242
i would be more concerned with registering invalid options

[2019-10-27 17:30] simonjayhawkins commented on #29242
i'll update the title

[2019-10-27 17:34] mroeschke commented on #5798
Looks to work correctly on master. Could use a test.

[code]

[2019-10-27 17:52] mroeschke commented on #8720
Looks to work on master. Could use a test.

[code]

[2019-10-27 17:53] mroeschke commented on #9374
Looks to work on master. Could use a test.

[code]

[2019-10-27 17:56] mroeschke commented on #12689
This is raising the correct exception on master. Could use a test.

[code]

[2019-10-27 18:23] mroeschke commented on #13129
Looks like all the issues in the main post are fixed (and the last one just need a unit test). Closing.

[2019-10-27 18:23] #13129 closed

[2019-10-27 18:27] mroeschke commented on #14422
Looks to work on master. Could use a test.

[code]

[2019-10-27 18:32] mroeschke commented on #15442
Looks to be the case on master. Could use a test.

[code]

[2019-10-27 18:35] mroeschke commented on #16051
Looks like this is fixed on master. Could use a test.

[code]

[2019-10-27 18:44] mroeschke commented on #19182
This _looks_ to work on master. Could use a test

[code]

[2019-10-27 18:48] mroeschke commented on #20388
This looks to work on master. Could use a test:

[code]

[2019-10-27 19:24] mroeschke commented on #23859
Looks to work on master. Could use a test.

[code]

[2019-10-27 20:03] mohitanand001 opened #29247 "ENH: Bulk merge a list of files."
Hi @simonjayhawkins @jreback ,
Merge here refers to `full outer join`.

Can we have a feature of merging a list of dataframes. Looping over the list of files one after the other without considering their size, can be inefficient.

The algorithm capitalizes on the fact that `full outer join` is `associative` as well as `commutative`, so the order of merging would not change the final result.

Let's

[2019-10-27 20:09] jreback commented on #29247
how is this not just

reduce(partial(pd.merge, on=...), list_of_df)

[2019-10-27 20:13] farziengineer commented on #29247
The reduce syntax does not take into account the fact that if we have a very large file in the beginning and small files later, it will increase the overall computation.

[2019-10-27 20:35] jreback commented on #29247
you should show some metrics then; this add a fair amount of complexity

[2019-10-27 23:30] SaturnFromTitan commented on #23018
I just had a quick look at this. Using the following `grep` command with varying search texts gives the number of files where this pattern is used:
`grep -R -l --include="*.py" <search_text> pandas/tests/ | wc -l`

search_text = `"from pandas.util.testing import "`: 118
search_text = `"import pandas.util.testing as tm"`: 324
search_text = `"from pandas import "`: 367
search_text = `"import pandas

[2019-10-27 23:37] alexiswl commented on #18262
Would it be possible to get a rationale to why .item() has been deprecated or a suggested alternative? I really appreciated this feature as it would assume one and only one match to a query/column combo. i.e `pd.query("Country=='%s' % country)['CapitalCity'].unique().item()`.

Using the suggest next(iter, None)) feature as suggested in the link below is very readable, but breaks the assumption tha

[2019-10-27 23:39] jreback commented on #23018
i would be +1 in applying those as lint rules (have to fix the current first of course)

prefer

[2019-10-27 23:41] jreback commented on #18262
.unique() currently returns an ndarray so .item() would still be valid

this is for .item() on Series (and Index)

[2019-10-27 23:49] alexiswl commented on #18262
Thanks! I'll put in unique() to all pd.query("row_name=='var')[col_name] as a midfix to resolve the deprecation warning.

[2019-10-28 00:07] WillAyd commented on #21668
Hmm well still not technically correct since it is dropping one of the columns, though interesting that this no longer raises. Fix is in #29124 - I'll see what I can find on why this no longer raises though

[2019-10-28 02:31] TomAugspurger commented on #29165
I'll get the asv updated in the env running these.

On Sat, Oct 26, 2019 at 4:02 PM Christopher Whelan <notifications@github.com>
wrote:

[2019-10-28 03:29] kjfergu commented on #29240
Okay, another update for anyone who stumbles across this in the future with a similar problem.

It seems to be that this is not (easily/obviously) possible when using the sqlalchemy engine since something seems to get lost on its way in/out of there. I can get a custom type (as outlined [here](https://docs.sqlalchemy.org/en/13/core/custom_types.html)) `process_bind_param` call to fire and store ap

[2019-10-28 04:39] ajphukan commented on #29217
@gfyoung Yes the problem is with the microsoft excel, It is  detecting the cell type automatically to date, I had to convert it to Text to avoid the auto parsing of cell to date type.

Can we include this Info in the doc so that new users can get the answer without raising issue ..

[2019-10-28 06:00] gfyoung commented on #29217
@ajphukan : You are more than welcome to contribute something!

[2019-10-28 07:49] jorisvandenbossche opened #29250 "API: consider undeprecating Series.item() ?"
I recently ran into this as well (but forgot to open an issue), and raised now by @alexiswl in https://github.com/pandas-dev/pandas/issues/18262#issuecomment-546746982

`Series.item()` was a consequence of (historically) inheriting from np.ndarray, and was deprecated (like a set of other ndarray-inhertited methods/attributes) a while ago.

While `.item()` could also be used to select the "i-th" el

[2019-10-28 07:57] vfilimonov commented on #29105
This one is questionable, but maybe consider `apply` as well
[code]

Actually the default behavior of `apply` is different between `Series` and `DataFrame`: DataFrames apply function for each column (i.e. `axis=0`), but Series apply function to each element of the series, or in other words: to each row (i.e. `axis=1`)
But unification of the default behavior might not make sense as it would be quit

[2019-10-28 08:04] simonjayhawkins commented on #29250
could a errors kwarg to Series.squeeze achieve this?

[2019-10-28 08:21] jorisvandenbossche commented on #29250
Yeah, I actually used `.squeeze()` myself for this usecase before (eg in some of my tutorials), but after seeing somebody use `.item()` for this, I found that more elegant.
Actually the docstring of squeeze gives an example for this usecase: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.squeeze.html

For the actual suggestion: this might get complicated, as in `squeeze`

[2019-10-28 08:29] simonjayhawkins commented on #29250
agreed that an additional argument would need to be consistent with DataFrame.squeeze and yet not to complicated.

rational for this would be to avoid two ways of doing the same operation, with the difference being that one raises.

[2019-10-28 09:54] PhenixFlame opened #29251 "Small BUG: to_csv index_label=False, move out column names"
#### Bug reproducing example
[code]

#### Printed value
[code]

#### Expected Output
[code]

### Problem description
#### There was found incorrect work in function of `df.to_csv(index_label=False)` with df multiindex: Unexpected move out column names over index columns.

**Note**: I've check this problem by look for phrase "to_csv index_label=False" and found some similar problems, however this p

[2019-10-28 13:39] hanudev opened #29252 "Bug: Joining MultiIndex with NaNs"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

The index containing the NaN value of `df2` is falsely joined with the index of `df1`. Therefore, the result contains both values of `df2` instead of only one value and a NaN value.

#### Expected Output

[code]

The expected result was returned by older pandas versions (successfully tested with 0.18.1 ; 0.20.3

[2019-10-28 13:59] marcovanbaar opened #29253 "ml.plots.stresses() transforms input series Evaporation"
The original series is transformed with the parameter "recharge_f"
While I expect te function ml.plots.stresses() to plot the original series.

[2019-10-28 14:24] simonjayhawkins commented on #29253
I assume this should have been logged at https://github.com/pastas/pastas. if not ping and i'll reopen

[2019-10-28 14:24] #29253 closed

[2019-10-28 14:40] simonjayhawkins commented on #29252
master produces different output

[code]

[2019-10-28 15:12] WillAyd commented on #29165
@TomAugspurger lmk if you need help with that; might not be a bad idea to refresh knowledge on that env

[2019-10-28 15:30] WillAyd commented on #23018
The more I've been reading up on it I would prefer `import pandas as pd` to `from pandas import ...` if only because the latter seems more prone to circular imports; this probably doesn't matter much for tests but I think sets a better standard throughout code base

Guido himself recommends using `from <module> import ...` :

https://docs.python.org/3/faq/programming.html?highlight=circular%20impo

[2019-10-28 15:30] marcovanbaar commented on #29253
Sorry, wrong Pastas 😀

Op ma 28 okt. 2019 15:25 schreef Simon Hawkins <notifications@github.com>:

[2019-10-28 15:57] profwacko opened #29254 "Fix SS06 Issues in docstrings"
Fix docstrings where summary should fit in a single line.

From: #27977, most of these errors should just be formatting issues where there are no single line summaries. After setting up and generating the SS06 errors with `python scripts/validate_docstrings.py --errors=SS06`, the workflow I would suggest is:

0. **Read through comments on this issue to check and see if you are doing any duplicate

[2019-10-28 15:58] hwalinga commented on #29251
This is expected behavior. Citing the docs:

        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the object uses MultiIndex. *If
        False do not print fields for index names.* Use index_label=False
        for easier importing in R.

If you are looking for informa

[2019-10-28 15:58] profwacko commented on #29254
I'll start with the bottom 10 errors:

- [ ]  pandas.DataFrame.slice_shift: Summary should fit in a single line
- [ ]  pandas.DataFrame.to_period: Summary should fit in a single line
- [ ]  pandas.DataFrame.plot: Summary should fit in a single line
- [ ]  pandas.DataFrame.sparse.density: Summary should fit in a single line
- [ ]  pandas.DataFrame.style: Summary should fit in a single line
- [ ]  p

[2019-10-28 16:14] jbrockmendel commented on #29076
@datapythonista would this fit into the plugin idea you mentioned elsewhere?

[2019-10-28 16:17] robertmuil commented on #28467
This occurs for me in `0.25.2`

[2019-10-28 16:21] robertmuil commented on #28467
It occurs when you use more than one unnamed function on the *same column*: so it is the tuple of `(<column>, lambda)` that cannot be duplicated.

A workaround is using named functions (which is a pain).

So, this fails with `KeyError: "[('height', '<lambda>')] not in index"`
[code]

While this works:
[code]

[2019-10-28 16:27] TheXu commented on #24251
What worked for me is to use:

`
df = getattr(df.groupby(cols), agg_func)()
`

[2019-10-28 16:38] datapythonista commented on #29076
That looks interesting. I don't know much about graphql, and the plugin system I proposed so far is for IO, but I think would be good to have this in pandas.

But the way it's implemented it should be as easy as decorating that function or class to make it a DataFrame accessor I think. That would solve the immediate problem.

And using entry points to extend pandas is surely something we can consi

[2019-10-28 17:18] mroeschke commented on #28467
Both work fine on master for me. Could use a regression test.

[code]

[2019-10-28 17:31] PhenixFlame commented on #29251
Thank you for your time! That's right, I missed the  *sequence* word in documentation.

[2019-10-28 17:31] #29251 closed

[2019-10-28 17:44] grassknoted commented on #12869
@sebov, any updates on this issue?

[2019-10-28 18:20] h-vetinari commented on #23018
That may be true for the top level modules, but it is not true anymore when submodules are targeted directly, i.e. the following are not equivalent:
1. `import pandas as pd` and then using `pd.Series`
1. `from pandas.core.series import Series` and then using `Series`

Number 1. *cannot* be used in any code that defines something that is itself exposed through the toplevel module. Number 2. can be

[2019-10-28 18:22] KKostya commented on #18910
I must add that the whole timdelta index plotting is broken
[code]

[2019-10-28 19:33] WillAyd commented on #23018
I don't believe that is true. read_json for instance is exposed in the top level and imports from there as well. Even `pandas.core.series` does a `import pandas as pd`

I didn't realize this was one of the options, but I am -1 on that. Tests should generally be importing objects from the same locations that an end user would

[2019-10-28 20:09] h-vetinari commented on #23018
Interesting. That goes against my experience but python may have gotten smarter about this with doing some lazy importing. For example, `pd` is only used once in `pandas.core.series` in `apply`, but `pd` still cannot be used in the class constructor, for example (just tested this on master).

There's probably a misunderstanding here. For tests, both styles are fine. But since you were specifically

[2019-10-28 20:33] WillAyd commented on #23018
Ah OK - sorry yea I think we misunderstood each other on the last post. I was specifically talking about tests.

Expanding on other areas in the code base though, `from ...` imports still will cause more circular dependencies than aliasing. You can see this locally with two modules `categorical` and `dtype`

[code]

If you uncomment and try to do `from categorical import Categorical` this will fai

[2019-10-28 21:14] vladu commented on #13519
Ran into the same issue today. There is a workaround. If you reset_index before the groupby, then assign still works correctly after the shift. So, if you're only trying to shift one column, you can do:

frm = frm.assign(shifted_val=frm.groupby('key').shift(1)['val'])

Or, if you're trying to shift the whole frame, you can assign the group col back:

shifted_frm = frm.groupby('key').shift(1)
shift

[2019-10-28 21:18] vladu commented on #13519
Also, not sure if anything changed since the original report, but now in v0.25, the grouping cols disappear after a groupby + shift regardless of the value of as_index.

[2019-10-28 21:49] alimcmaster1 commented on #29223
Any particular build you suggest adding this to? Or are you thinking a new one? @jorisvandenbossche

[2019-10-28 23:20] h-vetinari commented on #23018
That's kind of what left me confused with your original comment - first you say you'd prefer `import pandas as pd` and then you quote Guido as supporting evidence to use `from pandas import ...` :)

[2019-10-28 23:27] WillAyd commented on #23018
There was a typo in my original comment that I've since fixed, but may have confused us both. Quoting directly from the article:

[2019-10-29 03:16] #29236 closed

[2019-10-29 03:53] mroeschke commented on #24359
Looks like the pin went away in the travis builds. Closing

[2019-10-29 03:53] #24359 closed

[2019-10-29 04:10] mroeschke commented on #12163
Looks to work on master. Could use a test.
[code]

[2019-10-29 04:20] mroeschke commented on #23045
Closing since pandas no longer supports 2.7 and it's fixed on master.

[2019-10-29 04:20] #23045 closed

[2019-10-29 05:46] smcateer commented on #28194
I am getting an even odder result. I can run either of the commands fine, but running *any* two of them (one after the other) causes a crash:
[code]

I naively pasted in the code above and got a crash.

Not sure if this is unrelated, but I am also seeing groupby.quantile producing wrong results. (e.g. 0.5 quantile > than 0.75 quantile).

[code]

[2019-10-29 06:02] #28837 closed

[2019-10-29 06:22] DeLaRiva commented on #19810
restarting kernel does not work for me

[2019-10-29 09:07] mcalingo commented on #29254
Hope you don't mind if I work on the next 10 (from the bottom)

- [ ] pandas.DataFrame.filter: Summary should fit in a single line
- [ ] pandas.DataFrame.first: Summary should fit in a single line
- [ ] pandas.DataFrame.idxmax: Summary should fit in a single line
- [ ] pandas.DataFrame.idxmin: Summary should fit in a single line
- [ ] pandas.DataFrame.last: Summary should fit in a single line
- [

[2019-10-29 09:52] evanzd opened #29264 "Inconsistent results between `rolling.corr` and `corr`"
#### Code Sample, a copy-pastable example if possible

[code]

Output:

[code]

#### Problem description

For constant vector (e.g., [0.2, 0.2, 0.2, 0.2, 0.2]), `corr` should be `nan` but not `inf`.

#### Expected Output

#### Output of ``pd.show_versions()``

<details>

[paste the output of ``pd.show_versions()`` here below this line]
INSTALLED VERSIONS
------------------
commit           : None

[2019-10-29 10:05] robertmuil commented on #28467
@mroeschke exactly your code yields the following error for me (from the first agg):
`KeyError: "[('height', '<lambda>')] not in index"`

[code]

[2019-10-29 11:42] zlpure opened #29265 "Numerical errors in var(), std()"
### In pandas:
[code]
### Output
[code]

### In numpy:
[code]
### Output
[code]

#### Problem description
Why does Pandas Series.var() method return results by default without dividing by N? They don't agree with Numpy. And in mathematics, the results should also divided by N. And I am confused about the effect of the parameter ddof=0 option.

[2019-10-29 12:06] avinashvarma97 commented on #29265
Hi @zlpure,
From pandas official documentation,
df.var() returns unbiased variance over requested axis.
They are normalized by N-(delta degrees of freedom) by default which can be overrided.

When it is just divided by N while calculating the variance of the sample. It gives you the average value of the squared deviation, which is a perfect match for the variance of that sample. But do note that,

[2019-10-29 12:18] ZanSara commented on #12236
At PyTables we're now working on a simple fix that might be released soon, see issue [#776](https://github.com/PyTables/PyTables/issues/776).

[2019-10-29 13:09] #28467 closed

[2019-10-29 13:15] jorisvandenbossche commented on #29162
This is because the mapping is applied on the categories, and those categories are only the valid values (missing values are not included in the `categories`, they are encoded as -1 in the integer codes underlying a categorical object).

So although it's not ideal to have this inconsistency, I am not sure it is something we should fix.
It's of course only a bandaid in your case, but you can do a `

[2019-10-29 14:42] hvp004 commented on #29217
@ajphukan , are you working on it? If not, I would like to. @gfyoung

[2019-10-29 14:54] datapythonista commented on #28580
Don't have time to work on this now, but to summarize what I'd do:
- Have the theme implemented in Sphinx, including the main layout now used for the web
- Make the web use the Sphinx theme
- Possibly move the web to `doc/web/` so the access to theme stuff is more "natural"

And as I mentioned, keep the top bar common. I'd just have that bar, but happy to have a second bar for the docs, since you

[2019-10-29 15:01] ErfPy opened #29268 "Named aggregations with multiple columns"
Since `pandas 0.25.0` we have [named aggregations](https://pandas.pydata.org/pandas-docs/stable/whatsnew/v0.25.0.html#groupby-aggregation-with-relabeling).

Which works fine if you do aggregations on single columns. But what if you want to apply aggregations over multiple columns:

**example**:

[code]
But what if we want to calculate the `a.max() - `b.max()` while aggregating. That does not seem

[2019-10-29 16:33] gfyoung commented on #29233
@abellerarj : The reason for the `b` is that we encode the name of the file to account for special characters (xref: https://github.com/pandas-dev/pandas/pull/24758).  In Python2, the visual representation of encoded and non-encoded strings looked one and the same, whereas in Python3, a distinction is made visually.

[2019-10-29 16:50] IgorFobia commented on #17495
As I read [here](https://stackoverflow.com/questions/13269890/cartesian-product-in-pandas), a trick is to create a dummy constant column in both dataframes and merge on that; here I use the column `key`
[code]

[2019-10-29 16:52] TomAugspurger commented on #29032
Any more thoughts here?

I'm probably OK with the behavior on master

1. Getting the level name with `.levels[i].name` continues to work
2. Setting `.levels[i].name` will silently do nothing.

If we go with that, we'll need to thoroughly document this behavior.

Regardless of what we do, the release notes in https://dev.pandas.io/docs/whatsnew/v1.0.0.html#multiindex-levels-do-not-hold-level-names-

[2019-10-29 17:05] sara-02 commented on #28952
@jorisvandenbossche where do we add suggestions for typos?
Do we keep adding them here or create a new issue whenever we come across one?

[2019-10-29 17:34] jorisvandenbossche commented on #28952
Typos are most probably typos in the actual doc sources, and not in the theme. So for those, you can create a PR fixing them if you want, or otherwise open a separate issue.

[2019-10-29 19:11] WillAyd commented on #28321
Thanks @jbrockmendel for the explanation

[2019-10-29 19:11] #28321 closed

[2019-10-29 19:40] R1j1t commented on #29069
I tried working with your suggestion of moving Series.name implementation to `pandas.core.base.IndexOpsMixin` but that would require a decent amount of changes (which I am not confident about).

Also, I looked at the code of `pandas/core/indexes/base.py` and [here](https://github.com/pandas-dev/pandas/blob/v0.25.2/pandas/core/indexes/base.py#L1358-L1385) they validate `name` to be Hashable in `Ind

[2019-10-29 19:49] WillAyd opened #29270 "Reduce Benchmark Times of stat_ops, particularly kendall correlation"
ref #29165  the stat_ops benchmarks add a significant amount of time to the ASV runs. The "kendall" correlation method in particular takes over 10 seconds per run in some cases, and there are at least 4 occurrences of this. So for that method alone 40s across 4 runs per benchmark suite would be close to 3 minutes just for those benchmarks

There are a few others mixed in there as well that can be

[2019-10-29 19:56] SaturnFromTitan commented on #23018
I think @WillAyd's reasoning is sound and convinced me. It seems like using `import pandas as pd` has some real advantages, whereas all arguments for `from pandas import ...` seem to be about personal preference.

As there's no clear prefered version in the current test suite I'd rather convert everything to `import pandas as pd`.

If no one has further objections, I'd already start writing a foll

[2019-10-29 20:41] SaturnFromTitan opened #29272 "CLN: Consistent imports in tests: pandas.util.testing as tm"
This is a follow-up issue of #23018 with the goal of enforcing a consistent approach of importing things from pandas.util.testing inside the **test suite**.

Currently, there are multiple import styles used:
1. `import pandas.util.testing as tm`
2. `from pandas.util.testing import ...`
3. `from pandas.util import testing as tm`

As it is already the dominant import style used and also less prone t

[2019-10-29 21:19] SaturnFromTitan commented on #29272
After investigating a few files manually, I think this should be(mostly) scriptable:
1. Understand which items are imported directly from `pandas.util.testing`. Then do the following for all of them (for x in ...):
    1. Replace `x` with `tm.x` in the whole file
    1. Replace `tm.tm.x` with `tm.x` in the whole file (needed because the step before broke some code)
1. Afterwards, remove the (now b

[2019-10-29 21:50] sara-02 opened #29274 "[Minor Fix][Doc]What's New in 1.0.0"
#### Problem description
Minor typo under the [Dedicated-string-data-type](https://dev.pandas.io/docs/whatsnew/v1.0.0.html#dedicated-string-data-type) warning, it should be `StringDtype is currently considered experimental.` instead of `StringDtype` ~and~ `is currently considered experimental.`

[2019-10-29 22:21] jreback commented on #23018
let's hold off on this one

use the ``import pandas.util.testing as tm`` is fine though

[2019-10-29 23:13] MomIsBestFriend opened #29276 "Question: Clarification about the Warnings/Exceptions/Errors types."
After going through the docstrings in the file ```pandas/errors/__init__.py``` I came to a conclusion(Please, correct me if I'm wrong about anything) that there's 3 "Classes"(I have no better word for it).

There's is:

Warning - When the user is attempting to do something "bad" but possible (Having 2 different data types in one column for example).

Exception - ???

Error - The user is attempting

[2019-10-30 00:24] jreback commented on #29032
would be great if we could show a warning for 2 (but still do nothing)

[2019-10-30 00:32] jnothman commented on #14493
In pandas 0.25, making a series have a sparse dtype and then unstacking it seems to produce a sparse DataFrame. I'm assuming this does not require a dense in-memory structure along the way. Maybe this can be closed?

[2019-10-30 01:37] SaturnFromTitan commented on #29272
I came up with the following script which should solve the problem pretty well (+should be rather straight forward to adjust to other use cases):
[code]

I'll open a few PRs for the remaining files :)

[2019-10-30 02:04] mlitvinov opened #29279 "DataFrame.replace: TypeError: “Cannot compare types 'ndarray(dtype=object)' and 'str' ”"
I have a dataset in csv and a dictionary created by a classifier. It is necessary to put the key values in place of the keys . I use this code `df.replace(mapping,inplace = True) `and it works fine on 100 lines, but for 2000 and more, I get the error

 What am I doing wrong ??

[2019-10-30 02:59] mroeschke commented on #29276
This is generally a Python question:
https://docs.python.org/3/tutorial/errors.html
https://docs.python.org/3/library/warnings.html

`Exception` and `*Error` are the same thing. `Exception` is the base exception class and they are subclassed to `*Error` classes.

[2019-10-30 02:59] #29276 closed

[2019-10-30 03:01] mroeschke commented on #29279
We would need a minimally reproducible example: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

[2019-10-30 03:07] mroeschke commented on #29274
Good catch. PR's welcome!

[2019-10-30 04:14] tritas commented on #28952
Hi, thanks for the work on the new theme, it looks modern and clean.

1. Do you think the purple mono-space font on the yellow and blue alert alert boxes is fine for users with color-blindness?
2. Looking at the copyright notice in the footer, what do you think if it were center justified and had a bottom margin of some pixels added to it?
3. Noticed that the copyright date range spans 2008-2014 i

[2019-10-30 04:39] MomIsBestFriend commented on #29276
@mroeschke Ty very, very much!

[2019-10-30 06:23] profwacko commented on #29254
I'll take in the next bottom 10 for another PR:

- [ ]  pandas.DataFrame: Summary should fit in a single line
- [ ]  pandas.DataFrame.transform: Summary should fit in a single line
- [ ]  pandas.DataFrame.corrwith: Summary should fit in a single line
- [ ]  pandas.DataFrame.describe: Summary should fit in a single line
- [ ]  pandas.DataFrame.kurt: Summary should fit in a single line
- [ ]  pandas

[2019-10-30 07:15] mlitvinov commented on #29279
I get an error of only 2,000 lines or more.  If I select a range from 2000 to 2100, an error does not appear :(

[2019-10-30 08:24] sara-02 commented on #28952
I agree with @tritas 2nd point about some sort of margin added to the copyright notice.

[2019-10-30 08:43] sara-02 commented on #29274
@mroeschke Done https://github.com/pandas-dev/pandas/pull/29281
but IDK how to run tests and `black pandas` for the PR.

[2019-10-30 08:49] mangecoeur commented on #28952
Thanks for the work! My first impression is that the left/right split for the contents navigation is a little confusing - its not instantly obvious how the right navigation relates conceptually to the left one. Also the fact that it disappears with narrower windows is maybe not ideal, it's useful so why hide it sometimes?

[2019-10-30 09:20] jorisvandenbossche commented on #28952
Thanks for the feedback!

@tritas I am no expert in this, but from your question I assume the answer is "no" ?

Yes, that's certainly something to improve. For pandas, we probably want the same footer as for the main website, but also in general a better footer by default for the theme would be nice. I opened  https://github.com/pandas-dev/pandas-sphinx-theme/issues/42 to track this

@mangecoeur T

[2019-10-30 09:23] benoit9126 opened #29282 "Inconsistency of copy and selection methods of data frame objects"
#### Example

[code]
#### Problem description

I realized that the following suite of operations does not work:
1) assignation of a column to a data frame from an other
2) copy of the data frame using the `.copy()` method
3) use of the `.at` operator on the non copied data frame to change a value in the appended column

It leads to an incoherence between the different selectors of the data frame.

[2019-10-30 09:44] robertmuil commented on #28467
Not sure that this issue should be closed: the referenced merged PR only contains testing functions: excellent that this is now covered, but the failure will remain...

[2019-10-30 10:19] jreback commented on #28467
@robertmuil the reason the PR only contains testing functions is the issue was previously fixed
if you have a reproducible example on master open a new issue

[2019-10-30 11:56] #29274 closed

[2019-10-30 12:50] robertmuil commented on #28467
understood
--
Robert Muil
+44 7 39806 3940

On Wed, 30 Oct 2019 at 10:20, Jeff Reback <notifications@github.com> wrote:

[2019-10-30 13:47] aalloul opened #29284 "combination of groupby & nlargest gives different results based on the number used"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
if you run the above with my dataset (`out.shape = (390846, 4)`) you will see that from `_=10` , the method`nlargest` only returns 2 columns and drops the 2 index columns. This doesn't happen between for `_` in the range [1,9] .

#### Expected Output
Seen that I'm just printing the number of columns, the expecte

[2019-10-30 14:21] nvm1 opened #29290 "Unexpected behaviour of uint dtype"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description
please see the example: in two cases which are expected (sorry if the expectation is wrong) to generate the same results we see huge difference. In our case we didn't check the type of a column and assigned it to itself but with a minus value.

#### Expected Output
Probably the expected behaviour should match th

[2019-10-30 16:44] codeape2 commented on #28786
I wonder what is the best workaround?

We have some existing code that stopped working because of this, the constructs are typically like:

[code]

I have tried the following workarounds (in all code samples, `df` is an empty dataframe):

a) Assign columns directly:
[code]

b) Use df.join(how='outer'):
[code]

c) Use df.assign()

[code]

 Based on the code above, it seems to me that `pd.concat([df

[2019-10-30 16:50] pangeran-bottor commented on #28906
Just out of curiosity, any specific reason you need to read as a binary file? Since you stated your expectation is to be able to read a file using `lines=True` and `chunksize` which is could be accomplished if you use `with open('test.jsonl', 'r') `

[2019-10-30 16:56] WillAyd commented on #28906
JSON is by definition a text-based format. I'm not fully aware of the specs for binary-JSON but I think might be out of scope of best left to a separate package to support

[2019-10-30 17:09] jbrockmendel commented on #10849
the py3 checkbox must be fixed right?  auto-generated probably too

[2019-10-30 17:45] mroeschke commented on #10849
Yeah, I think we could close this issue and open up a separate issue about Windows if that's still an issue...

[2019-10-30 17:48] jbrockmendel commented on #23209
@chris-b1 any idea if this has been addressed upstream?

[2019-10-30 18:29] #28882 closed

[2019-10-30 19:11] SteveDoyle2 opened #29297 "TypeError when setting MultiIndex in DataFrame"
#### Code Sample

[code]

The pickle file (that I renamed to be a .txt file):
[test.txt](https://github.com/pandas-dev/pandas/files/3790733/test.txt)

#### Problem description

I'm trying to set a MultiIndex on a DataFrame.  I'm getting an error saying that the index (iblockno) is not an integer array, except it is.  Looking at the point in the code  Searching for the error message:

    block = s

[2019-10-30 19:43] WillAyd commented on #28194
This is a duplicate of #28882 which was just fixed on master. Should have a 0.25.3 release out tomorrow for it

[2019-10-30 19:43] #28194 closed

[2019-10-30 20:14] jorisvandenbossche commented on #28952
Thanks again for the feedback!

@kvanderwijst Yes, that's certainly something to consider (the logo should also shrink then). Another option would be to hide the header when scrolling down, and eg only show it again when scrolling up or at the top. Or just make it smaller to start with.
I opened https://github.com/pandas-dev/pandas-sphinx-theme/issues/43 to track this further.

 @kavvkon Yes! I ag

[2019-10-30 20:30] mroeschke commented on #29297
Do you mind providing a more minimal example? https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

If we need to create a unit test for this bug, we don't want to be using pickle necessarily.

[2019-10-30 21:54] deepandas11 commented on #29102
Hi! Would like to work on this if it is still open.

[2019-10-30 23:20] jbrockmendel commented on #18396
Closed by #28913

[2019-10-30 23:20] #18396 closed

[2019-10-31 00:17] deepandas11 commented on #29254
Working on 9, as my first contribution to pandas.

- [ ]  pandas.DataFrame: Summary should fit in a single line
- [ ]  pandas.DataFrame.corrwith: Summary should fit in a single line
- [ ]  pandas.DataFrame.describe: Summary should fit in a single line
- [ ]  pandas.DataFrame.kurt: Summary should fit in a single line
- [ ]  pandas.DataFrame.kurtosis: Summary should fit in a single line
- [ ]  panda

[2019-10-31 02:39] arthurire commented on #28021
Just want to make sure if you have fixed this issue in 0.25.2, I can still reproduce this error in 0.25.2.
<img width="698" alt="CleanShot 2019-10-31 at 10 39 30@2x" src="https://user-images.githubusercontent.com/27836456/67914308-be871480-fbca-11e9-89e7-6eb876c5dc29.png">

[2019-10-31 02:43] profwacko commented on #29254
Hi @deepandas11, looks like we edited the same issues in two different pull requests

[2019-10-31 04:34] brezniczky commented on #25730
Sorry - might be a stupid question, but what would you suggest as the best approach to convert a datetime64 index column to native datetime? I know in my case astype(datetime) works and I don't know how I should reach for the .dt.to_pydatetime() option - is there a more idiomatic way? I feel like I am missing a better option.

[2019-10-31 06:49] gfyoung commented on #22606
@jorisvandenbossche : It's been about a year...how does coverage look on this now?

[2019-10-31 07:21] deepandas11 commented on #29254
Yes. I noticed this now. Sorry for the trouble and the suggestion makes complete sense.

[2019-10-31 07:42] jorisvandenbossche commented on #29290
This seems to be an issue in numpy as well (so I suppose we inherit this behaviour):

[code]

Would you like to open an issue with numpy?

[2019-10-31 08:06] #23859 closed

[2019-10-31 09:50] yuylyp opened #29308 "i was confused with qcut function"
I was confused with **qcut** after runing the following codes:
[code]
#### Problem description
after running above codes, I get the result.( **please note, there is two 1.2, seven 1.**)
[code]

As my supposed, the results should be:( **one 1.2, eight 1.**)
[code]
so, could you please help me to get the expected result?
#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------

[2019-10-31 10:18] MomIsBestFriend commented on #29254
@profwacko I forgot to mention the ones I'm working on, my [PR](https://github.com/pandas-dev/pandas/pull/29283) already got approved the items I was working on are:

- [x] pandas.io.formats.style.Styler.from_custom_template
- [x] pandas.io.formats.style.Styler.apply
- [x] pandas.io.formats.style.Styler.applymap
- [x] pandas.io.formats.style.Styler.set_properties
- [x] pandas.io.formats.style.Styl

[2019-10-31 11:07] jorisvandenbossche opened #29309 "API: how to create a "shallow copy" of a DataFrame?"
How can you create a copy of the DataFrame without copying the actual data, but having a new DataFrame that when updated (not in place) does not modify the original ("shallow copy")? And how is this expected to behave?
I suppose that in technical terms, this would be a new BlockManager that references the same arrays?

I ran in the above questions, and actually didn't know a clear answer. The cont

[2019-10-31 11:21] elfmanryan commented on #26333
I am getting the same issue as the multipolygon seen as equivalent to a list of polygons.
my work around (to assign a MP to a single row) is to wrap the MP in a list first.
I am running a try except to catch the error, something like this:

[code]
Hope that's helpful to someone.

[2019-10-31 11:54] LiuSeeker commented on #29162
Ok, I'll leave it this way

[2019-10-31 12:29] jorisvandenbossche commented on #29309
So a question could be: should we make this always create a new block, to achieve consistent behaviour? (but of course, this will give a performance degradation in certain cases, as a new consolidation will happen)

Another observation: for extension dtypes, even if it is the same dtype, it always seems to replace the block and not update the values in place:

[code]

[2019-10-31 12:29] WuraolaOyewusi opened #29310 "HDF file compression not working"
[code]
#### Problem description
While updating the performance comparison part of the io docs.
It was found that compressed size values for .hdf file formats were the same as uncompressed .hdf file formats.

The complete file comparison codes are [here]( https://github.com/pandasdev/pandas/pull/28890/files)

@datapythonista

[2019-10-31 13:08] jorisvandenbossche opened #29311 "PERF: regression in MultiIndex get_loc indexing performance"
From our benchmarks (`GetLoc` class in https://github.com/pandas-dev/pandas/blob/master/asv_bench/benchmarks/multiindex_object.py):

[code]

vs

[code]

Not directly sure what recently changed related to MultiIndexes.
And the benchmark suite is giving a rather broad range: https://github.com/pandas-dev/pandas/compare/2b284543...7c8c8c81 (because the benchmarks were not running for a while I suppos

[2019-10-31 13:10] hwalinga commented on #29308
17 / 18 = 0.94, so it falls in the 0.9 --- 1.0 range. That is why in the 0.9 --- 1.0 range (labeled 1.2) fall 17 and 18. That's the reason why you got two 1.2. You can change the q parameter to go from .95 to 1. instead if you want that.

[2019-10-31 13:14] jorisvandenbossche commented on #29311
From a quick profile, seems to be related to shallow copying the levels.

With 0.25, it's mainly the actual engine:

![image](https://user-images.githubusercontent.com/1020496/67949669-66f7a180-fbe8-11e9-838e-f67d3aa885cc.png)

On master there is a big chunk of "levels" related time:

![image](https://user-images.githubusercontent.com/1020496/67949732-88588d80-fbe8-11e9-85a5-d033fc3819a2.png)

So

[2019-10-31 13:14] jorisvandenbossche commented on #29311
cc @topper-123

[2019-10-31 13:32] jorisvandenbossche commented on #28796
To update this: at the time, I created a PR in IPython to get this fixed: https://github.com/ipython/ipython/pull/11905 (but not yet merged)

[2019-10-31 14:14] yuylyp commented on #29308
ok, I got it and will try your suggestion.
however, based on my understanding, it should use the size to calculate rather than (size-1).
maybe its a bug?

[2019-10-31 14:41] c-thiel commented on #25877
Just retried with pandas 0.25.0: works as expected!

[2019-10-31 14:41] #25877 closed

[2019-10-31 14:50] WesRoach commented on #29162
@LiuSeeker Thanks for the PR. The more I researched - the more I've realized how difficult a problem this is to solve.

@jorisvandenbossche Thank you for the explanation. I would love to understand your perspective a bit more if you have time: If a perfect solution could be implemented - would it be allowed? Is the issue that this _shouldn't_ be addressed, or is the fix likely too complex, or anot

[2019-10-31 15:30] R1j1t commented on #29290
The reason for the dtype change I think is because `uint` cant take negative values, so numpy library handles such a request by changing the dtype to float. To convince myself I tried the following:

For uint dtype
[code]

for int dtype
[code]

[2019-10-31 15:56] #28448 closed

[2019-10-31 16:01] charlesdong1991 commented on #28021
Hi, thanks for your comment, @arthurire  However, I could not reproduce it in master, this looks fine to me.

![Screen Shot 2019-10-31 at 4 59 42 PM](https://user-images.githubusercontent.com/9269816/67964135-0d02d600-fc00-11e9-8cba-236661f7887b.png)

[2019-10-31 19:02] codeape2 commented on #28786
Is this confirmed to be a bug? If I understand issues #23525 and PR #23538 correctly this is the expected behavior. @ArtinSarraf ?

[2019-10-31 19:14] codeape2 commented on #28786
`pd.concat()` behaves as expected if the initial empty dataframe is created with an (empty) DatetimeIndex:

[code]

[2019-10-31 21:50] deepandas11 commented on #29270
Hello! I would like to work on this. I understand that we can change the number of times it is called in the asv setup, but I am not really sure what you mean by moving the benchmark?

Sorry for the extra trouble. I am really new at this.

[2019-10-31 23:40] nlarusstone commented on #28906
The reason I'm reading it as a binary file is that it's on S3, so I'm using S3FS (https://github.com/dask/s3fs) to access the file handle, which only supports opening the files in a binary format.

Is the recommendation then to copy the file locally and then read into pandas? If so, that's a bit painful since the whole point of me wanting to use chunksize is that I don't want to have to handle the

[2019-11-01 00:25] deepandas11 opened #29315 "Fix SS03 Issues in Docstrings"
Running the following:
```scripts/validate_docstrings.py --errors=SS03```
returns the following instances of cases where the Summary doesn't end with a period.
SS03 is one of the pending docstring-related errors as mentioned in #27977

- [ ] pandas.tseries.frequencies.to_offset: Summary does not end with a period
- [ ] pandas.Int64Index: Summary does not end with a period
- [ ] pandas.UInt64Index:

[2019-11-01 01:13] GregoryMorse opened #29316 "iloc indexing ~10 times slower than direct column indexing +no documention of it"
#### Code Sample, a copy-pastable example if possible
Updated without yfinance as it was a lousy choice of example - requires only standard numpy and datetime.  A DateTimeIndex exacerbates the time slowness.
[code]
~~Old code example:~~
~~#requires pip install yfinance for this example - could substitute with any data set~~
~~timeit.timeit(stmt='for x in range(len(hist)): _ = hist.iloc[x].Close',

[2019-11-01 01:30] jreback commented on #29316
what does this have to do with pandas? what is yfinance? show a self contained example

[2019-11-01 01:35] GregoryMorse commented on #29316
Okay I will fix this in a few minutes, good point - lazy example.

[2019-11-01 01:54] GregoryMorse commented on #29316
@jreback this has been done.  Thanks for the advice.

[2019-11-01 02:10] GregoryMorse commented on #29316
It is even stranger than I first noticed.  Apparently **using** iloc on the column is almost twice as fast than just using standard Python list indexing with brackets:
[code]

This is too counter-intuitive to not be thoroughly documented at minimum.

As far as I can tell - iloc is optimized for integers so it makes sense that no data inspection is needed (since standard indexing checks if the type

[2019-11-01 07:55] SebStrug commented on #29315
I'll work on the bottom 10:
- [ ]  pandas.Timestamp.combine: Summary does not end with a period
- [ ]  pandas.Timestamp.fromordinal: Summary does not end with a period
- [ ]  pandas.Timestamp.isoweekday: Summary does not end with a period
- [ ]  pandas.Timestamp.weekday: Summary does not end with a period
- [ ]  pandas.Period.strftime: Summary does not end with a period
- [ ]  pandas.Interval.clos

[2019-11-01 09:00] peterpanmj commented on #26632
This is indeed a bug .
[code]
When there is a scend replacer in the dict, the results are different. I've come up a solution to it in my PR

[2019-11-01 09:15] derivitecANDastignes opened #29319 "unable to install pandas on python 3.8 [win10]"
#### Problem description

I am using the latest 3.8 python
As you can see below, when I try to install pandas, I get an error. Could you please check

#### commands

[code]

[2019-11-01 09:16] #29319 closed

[2019-11-01 09:18] JPdotS opened #29320 "Unable to install pandas on python 3.8 [Windows OS]"
#### Problem description

I am using the latest 3.8 python
As you can see below, when I try to install pandas, I get an error. Could you please check

#### commands

[code]

[2019-11-01 11:20] jreback commented on #29316
[code]

individual scalar selections are *rarely* important when dealing with vectorized data.

[2019-11-01 11:20] jreback commented on #29316
closing as a user question.

[2019-11-01 11:20] #29316 closed

[2019-11-01 11:24] jreback commented on #28814
for completeness
0.23.4
[code]

master
[code]

we should be short-cutting on a numpy dtype, maybe was changed

@borisaltanov if you want to take a look would be appreciated.

[2019-11-01 14:00] theaknudsen commented on #28937
I'm having this same issue, both with Chrome and IE

[2019-11-01 14:04] SaturnFromTitan commented on #29250
Intuitively I thought `.at` could do what you search for. This would also yield a simpler API than chaining `.loc` and `.item`/`.squeeze`.

It seems like `.at` can't deal with a boolean series index though:
[code]
yields
`ValueError: At based indexing on an integer index can only have integer indexers`

I feel like this was possible before, so it was probably deprecated for a good reason that I'm

[2019-11-01 14:06] mjobin opened #29321 "Pandas dataframe sub-setting returns NaN's when whole column matches fill value"
#### Code Sample, a copy-pastable example if possible

[code]
#### Problem description

I've run into something odd with pandas data frames composed of sparse series. I am able to make the DF out of dictionaries of values with fills and types, no problem, but when I try to subset that DF, I get some very weird results. What I have been able to reproducibly show is that when subsetting a DF created

[2019-11-01 14:46] SaturnFromTitan commented on #10734
@jreback @sinhrks @jorisvandenbossche Is this still something one could/should work on? I bumped into it because it's still part of the `1.0` milestone

Reading the arguments here I'd be strongly in favour of deprecating it, but since the conversation is some years old, I'm not sure if all of it is still relevant

[2019-11-01 14:50] #29272 closed

[2019-11-01 15:14] jbrockmendel commented on #29320
It looks like the error occurs when installing numpy.  Can you try just `pip install numpy` first and see if that works on its own?

[2019-11-01 15:15] WillAyd commented on #29320
FYI pandas-0.25.3 just got posted to PyPi so version should be different when you try again

[2019-11-01 15:23] WillAyd commented on #29270
kendall is much slower than all of the other methods, so it might make sense to break that off from the parametrization if it makes the runtime more reasonable, at least until the performance of it gets improved

[2019-11-01 15:26] WillAyd commented on #25730
Depending on what you want `tz_localize(None)` or `tz_convert(None)`. You can see these documented in the user guide:

https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#working-with-time-zones

[2019-11-01 17:24] kylekeppler commented on #28580
FYI, https://dev.pandas.io/about/index.html is not loading CSS.

[2019-11-01 17:28] kylekeppler commented on #28580
The "Whats new in 0.25.3" link on the [homepage](https://dev.pandas.io/) takes you to the [0.25.0 whats new page](https://dev.pandas.io/docs/whatsnew/v0.25.0.html) instead of the [0.25.3 page](https://dev.pandas.io/docs/whatsnew/v0.25.3.html).

[2019-11-01 17:29] WillAyd commented on #28580
Currently releasing 0.25.3 and not announced yet, so might be some broken links during that process

[2019-11-01 17:43] kylekeppler commented on #29310
Correct URL is https://github.com/pandas-dev/pandas/pull/28890/files

[2019-11-01 17:47] JCourt1 opened #29323 "pd.Series.apply can't be made to produce Series of expected dtype when base series is empty"
#### Code Sample

[code]
#### Problem description

May be related to #28427.

When calling `apply()` on a series, you expect to get back a series with a certain `dtype` based on the function you give it. However, if the base `Series` is empty, there is nothing to apply the function to, so the resultant `Series` just has the same `dtype` as the base.
My actual use case is more along the lines of th

[2019-11-01 19:56] datapythonista commented on #29315
Afaik all the ones starting with `pandas.tseries.offsets` are false positives, we're working on fixing the script so they are not mistakenly reported.

[2019-11-01 20:27] datapythonista opened #29325 "WEB: about/index has the extension wrong"
xref: https://github.com/pandas-dev/pandas/issues/28580#issuecomment-548876428

Looks like the file `web/pandas/about/index.html` has the wrong extension `.html`, since it's a markdown file and should be `.md`. This is causing that the file is not rendered as html but left untouched in the website: https://dev.pandas.io/about/index.html

[2019-11-01 20:27] datapythonista commented on #28580
Thanks for reporting @kylekeppler, I opened #29325 for this.

[2019-11-01 21:05] fergu opened #29326 "df.to_hdf with mode='a' fails on external drive with IO Error"
#### Code Sample, a copy-pastable example if possible

[code]

this could be made in to a standalone function by just replacing `self.databasePath`, I.E:

[code]

#### Problem description

I have a small class that I use to manage some data that I'm working with. I use it to translate a "hdf path" in to an actual on-disk file since storing all the data in one file just ends up being a mess that ke

[2019-11-01 21:07] kjfergu commented on #29326
Just adding - The external disk I'm using is an SSD and is formatted as ExFAT with 354.2 GB of 512 GB free.

[2019-11-01 21:29] jbrockmendel commented on #23356
Closing since we no longer have a tox.ini at all and docstring validation has moved forward elsewhere.

[2019-11-01 21:29] #23356 closed

[2019-11-01 22:00] ahackit opened #29328 "TO_CSV Compression with dict arguement released in .25.0, but my Pandas .25.3 doesn't reflect source?"
Docstring for TO_CSV from my repo

            Compression mode among the following possible values: {'infer',
            'gzip', 'bz2', 'zip', 'xz', None}. If 'infer' and `path_or_buf`
            is path-like, then detect compression from the following
            extensions: '.gz', '.bz2', '.zip' or '.xz'. (otherwise no
            compression).

            .. versionchanged:: 0.24.0

[2019-11-01 22:14] cdw9 commented on #29328
It looks like that 0.25.0 version mentioned in 0d0daa8 might be wrong. Shouldn't this be 0.26.0 @drew-heenan @WillAyd ?

[2019-11-01 22:18] WillAyd commented on #29328
Weird. Working on posting updated docs for 0.25.3 at the moment so will check after that. But yes feature is part of 0.25

[2019-11-01 22:28] jreback commented on #29328
that hash above is for 1.0

[2019-11-01 22:28] est271 commented on #29325
mind if I take a shot at this issue?

[2019-11-01 22:30] datapythonista commented on #29325
Please go ahead @est271, thanks for helping with this.

[2019-11-01 22:30] WillAyd commented on #29328
Whoops yea sorry. This is a 1.0.0 (confused myself before) from #26023

[2019-11-01 22:41] WillAyd commented on #29328
Should read as 1.0.0 on master. @ahackit interested in submitting a PR to fix that doc?

[2019-11-01 22:42] #29308 closed

[2019-11-01 23:18] #29112 closed

[2019-11-01 23:22] ahackit commented on #29328
Can do.

Will complete this weekend.

[2019-11-01 23:49] WillAyd opened #29330 "conda env create --file environment.yaml Fails with strict channel_priority"
Noticed this when rebuilding dev environment from scratch, but our current conda specification results in an UnsatisfiableError

<details>

[code]

</details>

Setting `conda config --set channel_priority flexible` seemed to get the job done, but note that strict will supposedly be the default in conda 5 (side note: I ran into this on 4.7)

https://docs.conda.io/projects/conda/en/latest/user-guide

[2019-11-02 00:31] mroeschke commented on #24794
Guessing this was fixed with a recent update as the issue was in older versions (0.21 and 0.22). Closing

[2019-11-02 00:31] #24794 closed

[2019-11-02 00:34] mroeschke commented on #23449
Feel free to reopen when you can provide more details.

[2019-11-02 00:34] #23449 closed

[2019-11-02 00:48] mroeschke commented on #24857
This might have been fixed on master in the meantime. If you're still having issues with the latest version of pandas, feel free to reopen.

[2019-11-02 00:48] #24857 closed

[2019-11-02 00:49] mroeschke commented on #25451
Feel free to reopen when you have a moment to debug further.

[2019-11-02 00:49] #25451 closed

[2019-11-02 01:13] mroeschke commented on #12149
Based on the discussion in https://github.com/pandas-dev/pandas/pull/24300. Seems like we'd prefer moving away from bottleneck and towards Numba. Closing.

[2019-11-02 01:13] #12149 closed

[2019-11-02 01:38] mroeschke commented on #13758
Looks to be fixed on master. Could use a test.

[code]

[2019-11-02 01:50] mroeschke commented on #22620
Looks fixed on master. Could use a test.

[code]

[2019-11-02 01:57] ArtinSarraf commented on #28786
@codeape2 - this is the expected and at least previously desired behavior. As documented here:
https://pandas.pydata.org/pandas-docs/version/0.25/whatsnew/v0.25.0.html#incompatible-index-type-unions

"The dtype of empty Index objects will now be evaluated before performing union operations rather than simply returning the other Index object. Index.union()"

[2019-11-02 02:16] ArtinSarraf commented on #28786
@codeape2 for workarounds to your issue is there any reason you need start with an empty df?
You can just do `pd.concat([s1, s2], axis=1)`
Or for example if you were trying to build a frame in a loop it would probably be better to append the individual items to a list and do a single concat at the end.

[2019-11-02 02:17] mroeschke commented on #25858
This looks to work on master now. Could use a test.

[code]

[2019-11-02 09:59] SebStrug commented on #29315
Sorry for the delay @deepandas11 @datapythonista .
As a first-time contributor I'm trying to follow the example of @sparalic in #28053 editing `pandas\_libs\tslibs\nattype.pyx` and `pandas\_libs\tslibs\timestamps.pyx` (for the timestamps SS03 error), but the error still keeps coming up.

Am I looking in the wrong place? Should I submit a preliminary PR and go from there?

[2019-11-02 10:12] samuelsinayoko commented on #28926
Can I pick this one up https://github.com/pandas-dev/pandas/pull/29041?

[2019-11-02 10:52] mjarosie commented on #16832
Hi,

I'd like to pick this issue up. Will fill in a PR soon.

[2019-11-02 11:36] TomAugspurger commented on #29320
@JPdotS what platform are you on? Should one of the wheels

pandas-0.25.3-cp38-cp38-win32.whl
pandas-0.25.3-cp38-cp38-win_amd64.whl

work for you?

[2019-11-02 11:43] alimcmaster1 commented on #29214
+1 for this - do we just have to wait for a pytest-azurepipelines release

[2019-11-02 11:57] sofiane87 opened #29341 "black==19.10b0 breaks CI"
#### Code Sampl

[code]
#### Problem description

Currently if using `virtualenv` instead of conda, in `Python 3.7.4` and pip `pip 19.3.1` the requirements automatically install `black==19.10b0` which differs from the conda workflow which install the `black==19.3b0` version.

#### Expected Output

[code]

##### Git diff
<details>

[code]
</details>

#### Output of ``pd.show_versions()``

<details>

[2019-11-02 13:24] pv8473h12 opened #29349 "Local test failure: TestMathNumExprPython.test_result_complex128"
When running the pytest suite, I get the following error locally.

[code]

<details>

INSTALLED VERSIONS
------------------
commit           : 84386976a113b9f7e84863f5a8329f129d1b2a92
python           : 3.7.5.final.0
python-bits      : 64
OS               : Darwin
OS-release       : 17.5.0
machine          : x86_64
processor        : i386
byteorder        : little
LC_ALL           : None
LANG

[2019-11-02 13:42] jreback commented on #29341
yeah we likely need to pin the current version of black and update the codebase, care to do a PR?

[2019-11-02 14:09] #16832 closed

[2019-11-02 14:21] #17444 closed

[2019-11-02 14:23] #18625 closed

[2019-11-02 14:38] samuelsinayoko commented on #26302
Am going to try and pick this one up. Am interested to help with mypy and I have worked on assert utils as part of https://github.com/pandas-dev/pandas/pull/25462#issuecomment-489862882.

[2019-11-02 14:47] mjarosie commented on #17681
I'd like to pick this up. I'll fill in a PR soon : )

[2019-11-02 15:23] #18880 closed

[2019-11-02 15:23] sofiane87 commented on #29341
happy to do so or did you already take this on ?

[2019-11-02 16:12] jbrockmendel opened #29361 "TYPING: scalar type that matches lib.is_scalar"
ATM pandas._typing has a `Scalar = Union[str, int, float, bool]`.  It would be helpful to have a Scalar type that reflected the behavior of `lib.is_scalar`

[2019-11-02 16:22] alimcmaster1 commented on #29349
Works fine for me on Linux -> I presume this must just been an issue on MacOS?

[2019-11-02 16:26] mmitalidis commented on #29264
It seems that this happens because of arithmetic on floating point numbers and the different implementations of ```x.corr(y)``` and ```x.rolling(5).corr(y)```

Specifically, ```x.corr(y)``` calls:
https://github.com/pandas-dev/pandas/blob/825f811e79d011b7ffd7797ac5735b5d93bd610f/pandas/core/nanops.py#L1253
which works as expected.

However, ```x.rolling(5).corr(y)``` will calculate the correlation

[2019-11-02 16:36] cruzzoe commented on #23086
[https://github.com/pandas-dev/pandas/pull/29363](url)

[2019-11-02 16:42] samuelsinayoko commented on #26302
Have added types to all assert_*_equal functions in this PR https://github.com/pandas-dev/pandas/pull/29364

[2019-11-02 17:10] matttan90 commented on #29213
Hey! I'm having a go at this.

[2019-11-02 17:20] jreback commented on #29341
i pinned this

but would love to have a PR to patch the codebase and update to the new version

i think it’s backwards incompatible so would have to pin but that’s ok

[2019-11-02 17:22] keechongtan commented on #25495
Hi, I would like to work on this.

[2019-11-02 17:24] samuelsinayoko commented on #13910
I'm not able to reproduce this.
[code]
Is this still an issue?

[code]

[2019-11-02 17:31] ainsleyto commented on #17235
'''

NaT

1          00:00:03
2   00:00:04.500000
3               NaT

1                 0 days 00:00:03
2          0 days 00:00:04.500000
3   -106752 days +00:12:43.645223

'0.26.0.dev0+734.g0de99558b'
'''

sum of s2 gives NaT but sum(axis=1,skipna=False) still does not give NaT. I believe this still needs a fix?

[2019-11-02 17:32] jreback commented on #29361
+1 in this

[2019-11-02 17:40] samuelsinayoko commented on #12500
Happy to help out with this one. Are we meant to dig into pandas/io/msgpack/_packer.pyx to get this fixed?

[2019-11-02 18:09] craigcitro commented on #13910
Yep, this seems to be fixed.

It looks like it happened somewhere between 0.25.0rc0 and 0.25.0, but I didn't try to bisect any further:
![image](https://user-images.githubusercontent.com/468559/68075150-2f603500-fd61-11e9-8dad-cf1cc7506d28.png)

[2019-11-02 18:09] #13910 closed

[2019-11-02 18:22] jreback commented on #13910
would take a test PR for this

[2019-11-02 18:46] alimcmaster1 commented on #12261
@ainsleyto is currently having a look! - thanks

[2019-11-02 19:06] alimcmaster1 commented on #28937
Can you open up develop tools and show us what exactly is happening? @theakn and @slokhorst

[2019-11-02 19:43] alik604 commented on #28004
Does anyone knows of any good utility libraries which already have, or would make a good fit for [MSE, MAD....]? I might as well pull this into a preexisting library, rather than diluting the ecosystem with _yet another library_

I just came back to this issue since I needed my past code

[2019-11-02 19:47] slokhorst commented on #28937
I am no longer experiencing the problem. It persisted for maybe an hour when I first reported it and I haven't seen it again since.

[2019-11-02 19:51] #21245 closed

[2019-11-02 19:55] topper-123 commented on #29311
When copying the names in ``_shallow_copy(names=names)``, there's a lot of unnecessary validation going on for the names (when the names exist already, the name must have been validated already). It's a good guess that's where the problem lies.  I'm planning on optimize that after #27138 (which was more demanding than anticipated, but is close to ready for review now)

[2019-11-02 20:19] #27952 closed

[2019-11-02 21:44] mroeschke commented on #26783
`df.loc[mask, ['C', 'D']] = ...` is setting the value of one row. `df['B']` has length 2 so it will try to set it across 2 rows.

[code]

[2019-11-02 21:44] #26783 closed

[2019-11-02 21:56] mroeschke commented on #27497
Feel free to open another issue if you rediscover the incorrect behavior.

[2019-11-02 21:56] #27497 closed

[2019-11-03 00:48] mroeschke commented on #28270
Feel free to reopen when you can provide a copy pasteable example of the issue you are seeing.

[2019-11-03 00:48] #28270 closed

[2019-11-03 00:49] mroeschke commented on #28278
Feel free to reopen when you can provide a fully reproducible example.

[2019-11-03 00:49] #28278 closed

[2019-11-03 00:56] mroeschke commented on #28548
Closing as this is mostly likely not a pandas issue and is fixed on master.

[2019-11-03 00:56] #28548 closed

[2019-11-03 01:05] mroeschke commented on #28591
If reporting a bug, we would need a minimal, reproducible example of the buggy behavior. Feel free to reopen when you can post an example.

[2019-11-03 01:05] #28591 closed

[2019-11-03 01:11] mroeschke commented on #28599
Doesn't appear we have much appetite to support this. Thanks for the suggestion but we'd recommend using `to_numeric` first. Closing.

[2019-11-03 01:11] #28599 closed

[2019-11-03 01:19] mroeschke commented on #17235
Ah good catch @ainsleyto. Yes looks like `axis=1` case still needs a fix.

[2019-11-03 01:42] #9113 closed

[2019-11-03 01:57] #17648 closed

[2019-11-03 05:26] Mikerah opened #29381 "MemoryError when using `.drop_duplicates()`"
#### Code Sample, a copy-pastable example if possible
Calling `.drop_duplicates()` on a large dataframe say of over 1 million rows with sufficient duplicate values should suffice
#### Problem description
I have a very large data frame object ( a little less than 10 million rows). It has 5 columns, most of which at this time are empty. However, for the non-empty columns, there are duplicate values.

[2019-11-03 07:58] #29094 closed

[2019-11-03 09:55] ZOUG commented on #28641
I've encountered a similar issue. One related issue is that if the aggregation function is called directly, a `Categorical` object is returned rather than a dataframe.

[code]

Output:
[code]

[2019-11-03 12:53] veager opened #29382 "resample using for subsample will regards NaN as zeros"
#### Problem description

I found the `resample` for subsampling to aggregate would take NaN(`np.nan`) as zero.
I have seen the similar question in [Handling NaN during resampling #22065](https://github.com/pandas-dev/pandas/issues/22065)

I use `.sum()`, `.sum(skipna=False)`, `.apply(np.sum)`, and my function `.apply(lambda x: np.sum(x.values)` to test the same series. Only my function work out w

[2019-11-03 12:59] #12145 closed

[2019-11-03 14:59] #11670 closed

[2019-11-03 15:05] #9918 closed

[2019-11-03 17:24] interrogator commented on #12145
Thanks everyone, much appreciated.

[2019-11-03 19:45] MomIsBestFriend commented on #28633
@gbaychev ATM the command ```python -m pip install -e . --no-build-isolation``` still doesn't work on my computer.

Can we add the argument ```--no-use-pep517``` to the line ```python -m pip install -e . ``` in the subsection of "Unix/Mac OS" under "creating virtual enviroment using pip" ?

[2019-11-03 19:57] TomAugspurger commented on #28633
Yeah, we can add that flag to our dev docs.

[2019-11-03 20:22] jorisvandenbossche commented on #12500
@samuelsinayoko the `msgpack` support is deprecated in pandas, so I don't think it is worth improving it.

[2019-11-03 21:22] #20388 closed

[2019-11-03 21:23] #17962 closed

[2019-11-04 00:06] ahackit commented on #29328
@WillAyd  Assuming I did everything correctly, PR to fix doc #29390

[2019-11-04 01:01] simonjayhawkins commented on #19182
closed in #29344

[2019-11-04 01:01] #19182 closed

[2019-11-04 01:04] simonjayhawkins commented on #20416
closed in #29343

[2019-11-04 01:04] #20416 closed

[2019-11-04 03:40] patchikoooo commented on #3441
Appending in the existing worksheet seems to work with
writer = pd.ExcelWriter('filename.xlsx', mode='a')

But, this only appends and does not overwrite sheets with the same sheetname

Example, my existing workbook has a sheetname 'mySheet'
If I try to do:
    df.to_excel(writer, 'mySheet')
It will create a new sheet 'mySheet1' instead of rewriting the existing 'mySheet'

I wonder if there's any o

[2019-11-04 04:12] mroeschke commented on #29381
Can you post a copy pastable example of what failed in your case?

[2019-11-04 04:24] Mikerah commented on #29381
@mroeschke Is it okay if I post the code directly? I have code in there in which it won't run as it assumes that you have a Google BigQuery table and the associated credentials.

[2019-11-04 04:28] mroeschke commented on #29381
We prefer copy pastable examples: https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports

There may be way to emulate the data that you are pulling from BigQuery.

[2019-11-04 04:54] Mikerah commented on #29381
It's actually quite hard to generate a copy-pastable example with randomly generated data. I get the same error when trying to create data frames of several million values. I'm not sure if having a copy-pastable example of this process would help but here goes:
[code]

[2019-11-04 04:58] Mikerah commented on #29381
Update: I actually just reran the code as I did previously and it seems to work now. I'm not sure what is causing this but I will close this issue as I am no longer experiencing this error.

[2019-11-04 04:58] #29381 closed

[2019-11-04 05:33] 77QingLiu commented on #26131
update this apli, please

[2019-11-04 06:04] yp1996 commented on #29310
Hi @WuraolaOyewusi are currently working on this issue? If not, do you mind if I give it a shot?

[2019-11-04 08:21] WuraolaOyewusi commented on #29310
@yp1996 . Please go ahead.

[2019-11-04 09:27] mar-ses commented on #28599
I must say I disagree on both points @mroeschke.

1. Regarding the "appetite" I'm not sure how you measure that, there were people commenting and some likes.

2. As I mentioned in my previous comment, and I thought it was clear, `to_numeric` **isn't sufficient.** If there are any NaNs, it will first convert to float. That can potentially erase information, as a float cannot hold all the bits of a

[2019-11-04 09:38] mar-ses commented on #28599
Sorry for the late reply. I think I explained my issue poorly.

On my system I also have int64 by default. However, the issue is that int64 cannot hold missing/NaN values. That's why I need to use IntD64 (with the capital I), the new numpy data type that allows `int` arrays to hold missing/NaN values:

https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html

This is also why `to_nu

[2019-11-04 09:40] mar-ses commented on #28599
What I mean is `to_numeric` first converts to `float` if it detects missing values, and it doesn't seem to want to convert ti `Int64`.  Also, there is no reason `astype` should work here, the array of strings above `can` be conveted to `Int64`.

[2019-11-04 09:50] mar-ses commented on #29054
It also worked before, so whatever it was doing before, could it be reimplemented?

[2019-11-04 10:17] sofiane87 commented on #29341
alright we will work on this then !

[2019-11-04 11:00] JPdotS commented on #29320
@WillAyd / @TomAugspurger Exactly same error also hapenned with 0.25.3 as well.

@jbrockmendel, you are right error was infact rooted in numpy.
when I tried to install that, Error was clear and indicated that I was missing Microsoft VC++ 14. upon installation of which, I was able to install both numpy and pandas.

Thanks for the all help.

I wish pandas installation had not wrapped the dependencie

[2019-11-04 11:00] #29320 closed

[2019-11-04 11:11] TomAugspurger commented on #29330
I'll see if I can track down a conda person today to help out with this. I don't think we want to remove / encourage removing strict priority.

[2019-11-04 11:20] jreback commented on #29054
how so? this was never implemented

[2019-11-04 11:23] jreback commented on #26131
@77QingLiu
you are welcome to submit a PR to patch this

[2019-11-04 11:25] kavvkon commented on #28952
Yes I mean within a page.. I guess the above issues on headers and a better contrast balance among headers, code boxes and info boxes will resolve this.

[2019-11-04 11:26] jreback commented on #28599
@mar-ses if you like to contribute tests / patch to .to_numeric that would be greatness; we would / should support nullable integer type conversion there

[2019-11-04 11:28] jorisvandenbossche commented on #28952
Yes, that part of the theme (styling the elements within the body: the headers, code boxes, links, etc) did not yet get much attention, so a lot of room for improvement there.

[2019-11-04 11:53] mar-ses commented on #29054
To be honest, now that I know I'm surprised too, but my code only stopped working when I updated pandas.

[2019-11-04 11:56] mar-ses commented on #28599
I've never contributed to these big projects, and I assume I would need to understand the internals and the standard way these things are done inside pandas, so any recommendations on where to start reading etc...?

[2019-11-04 12:29] simonjayhawkins opened #29394 "DataFrame.select_dtypes include/exclude "int" not recognized."
#### Code Sample, a copy-pastable example if possible

code sample from DataFrame.select_dtypes docstring

[code]
#### Problem description

seen locally on master and 0.25.1

The docstring implies `"int"` is a valid dtype to exclude. Only `"int64"` produces the expected output shown in the docstring.

The same applies to the `include` argument.

#### Expected Output

[code]
#### Output of ``pd.sho