[2021-03-31 21:18] jbrockmendel commented on #39585
only thing that comes to mind is to not use `date` objects

[2021-03-31 21:26] arnaujc91 opened #40714 "BUG: MatplotlibDeprecationWarning: The is_first_col function was deprecated in Matplotlib 3.4"
[code]

#### Problem description

After executing the previous code the following message from Matplotlib is shown:

[code]

[2021-03-31 21:55] lithomas1 commented on #40714
Hi @arnaujc91,
Thanks for the bug report. I can confirm that this happens with the latest matplotlib, and I've spotted some failing tests in our CI related to this.
e.g. https://github.com/pandas-dev/pandas/pull/40713/checks?check_run_id=2240746140
[code]
The culprit seems to be here.
https://github.com/pandas-dev/pandas/blob/d01561fb7b9ad337611fa38a3cfb7e8c2faec608/pandas/plotting/_matplotlib/too

[2021-03-31 22:01] arnaujc91 commented on #40714
Indeed, I just changed this line of code in my local version of Pandas and everything seems to work well. I will try to create a PR tomorrow when I have more time.

Thank you!

[2021-03-31 22:25] jbrockmendel commented on #39162
ATM both of these cases issue a FutureWarning that the astype is deprecated and will raise.  i.e. i think this is as correct as its going to get until 2.0

[2021-03-31 22:30] jbrockmendel commented on #40204
@phofl @jorisvandenbossche it sounds like the consensus is that the behavior on master (and 1.2.3) is correct and the behavior on 1.2.0 was incorrect?

[2021-03-31 22:35] phofl commented on #40204
Is correct imho

[2021-03-31 22:38] jbrockmendel commented on #40371
best guess is we need to either patch can_hold_element for integer dtype so it can tell that 1.0 may be present, or early-on coerce the np.array([1.0]) to np.array([1])

[2021-04-01 01:24] rhshadrach commented on #40673
The issue is from two optimizations pandas is using, one in apply_frame_axis0 and one in copy. apply_frame_axis0 is essentially reusing an index object to avoid having to recreate for each group. Care is taken if a user is detected modifying the index, but not if a user stores the index (in this case, inside of a DataFrame).

Axes should be widely thought as immutable (even if the pandas internals

[2021-04-01 02:21] ericch99 commented on #40581
Hi, I am a first-time contributor and noticed this was labeled with "good first issue" -- can I be preemptively assigned this?

[2021-04-01 03:23] jbrockmendel opened #40719 "BUG: tm.assert_frame_equal fails to raise near int64 implementation bounds when check_exact=True"
passing check_exact=True makes it raise as expected, but I was surprised to find it necessary.  This likely hides some bugs.

Motivating example adapted from tests.groupby.test_function.test_cummin.

[code]

[2021-04-01 07:15] #39904 closed

[2021-04-01 08:07] taozuoqiao opened #40720 "BUG: GroupBy.apply doesn't add group keys to index whether setting group_keys=True or not."
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.
---
code
[code]
output
[code]

The group keys should be add to index when setting group_keys=True(the default option). And when I use `pandas==1.1.5`, the output is as expected

[2021-04-01 08:11] nurglexxx opened #40721 "BUG: to_sql performance decreases dramatically with more than 10 columns (SQL Server)"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Found an interesting issue regarding the performance of to_sql() in combination with SQL Server.

OS: Centos/Redhat
DB Driver: ODBC Driver 17 for SQL Server
DB Server (

[2021-04-01 08:38] jorisvandenbossche opened #40722 "BUG: NaT comparison with numpy array doesn't work element-wise"
I noticed the following behaviour:

[code]

@jbrockmendel do you know if this is something we control? (it's similar as the numeric/string comparison with numpy, but here the scalar is one defined by pandas)

[2021-04-01 08:41] jorisvandenbossche commented on #40722
Comparing the richcmp implementations of NaT and Timedelta:

https://github.com/pandas-dev/pandas/blob/36502e9f79cccbc1cbf490d5cae22be77f476851/pandas/_libs/tslibs/timedeltas.pyx#L833-L847

https://github.com/pandas-dev/pandas/blob/36502e9f79cccbc1cbf490d5cae22be77f476851/pandas/_libs/tslibs/nattype.pyx#L124-L132

We indeed explicitly cover this case for Timedelta, but not for NaTType

[2021-04-01 09:11] jorisvandenbossche commented on #40722
This appears to be a regression in 1.2.4

[2021-04-01 11:56] arnaujc91 commented on #40714
Hi @lithomas1,
I tried to create a [PR](https://github.com/pandas-dev/pandas/pull/40724) but it seems one test is doing something odd.

[code]

it is an error which belongs to the test, not to anything I have changed in particular. So I assume it should fail for any PR.

[2021-04-01 13:43] DriesSchaumont commented on #40014
take

[2021-04-01 13:57] tamargrey opened #40729 "BUG: Cannot convert from `object` numeric strings to Float64Dtype"
#### Code Sample, a copy-pastable example

[code]

the above produces a `TypeError: object cannot be converted to a FloatingDtype`:
<details>

[code]

</details>

#### Problem description

With `float64`, this conversion works, and as the series' dtype would get inferred as `object` even if no dtype was specified, it is unexpected to me that we would not be able to convert to the `Float64Dtype` fr

[2021-04-01 14:07] tamargrey opened #40730 "BUG: qcut fails with Float64Dtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description
`pd.qcut` currently accepts the nullable `Int64Dtype` as well as `'float64'`, so I would expec

[2021-04-01 14:44] tamargrey opened #40732 "BUG: Dtypes change when using `replace` with nullable dtypes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The dtype of the resulting series is being changed when `replace` is being called with `Int64

[2021-04-01 15:02] attack68 commented on #40714
recent matplotlib docs seem to suggest there is now a public attribute `label`, perhaps remove the `_` and try again?

[2021-04-01 15:02] jorisvandenbossche commented on #40729
@tamargrey Thanks for the clear report!

Indeed, currently we seem to specifically error when trying to construct a Float64Dtype array from numeric strings. The same is true for Int64Dtype, and also when constructing directly (not through astype):

[code]

The underlying reason comes from:

https://github.com/pandas-dev/pandas/blob/5c64037034deda69d7af6d676d0d70f9ff359e4e/pandas/core/arrays/floati

[2021-04-01 15:09] jorisvandenbossche commented on #40730
@tamargrey Thanks for the report!

This was fixed last year for the nullable Int64Dtype in https://github.com/pandas-dev/pandas/pull/31440, but it seems we need to generalize the fix to also cover Float64Dtype.

In this location:

https://github.com/pandas-dev/pandas/blob/5c64037034deda69d7af6d676d0d70f9ff359e4e/pandas/core/reshape/tile.py#L482-L487

we need to change the `is_integer_dtype` to gen

[2021-04-01 15:16] jorisvandenbossche commented on #40732
@tamargrey thanks for the report!

This is indeed not the desired behaviour, and I agree that we should try to preserve the nullable dtype instead of returning the numpy dtype.

On the development branch, I get slightly different behaviour:

[code]

so not resulting in truncated integers, but in object dtype (it at least doesn't result in data loss, but it should still preserve the Float64 dtype).

[2021-04-01 15:54] #40518 closed

[2021-04-01 16:16] arnaujc91 commented on #40714
Hi @jreback and @attack68,

I think the issue can be solved replacing

[code]
with

[code]
This worked for me. As you can see in the original code from [colorbar](https://matplotlib.org/stable/_modules/matplotlib/colorbar.html) (`set_label` method):

[code]
the label to be checked depends on this `self.orientation`.

[2021-04-01 18:17] #40722 closed

[2021-04-01 18:47] MarcoGorelli opened #40735 "BUG (?): dtype.value_counts() shows categorical multiple times"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-01 18:55] MarcoGorelli opened #40737 "TYP overload fillna"
`fillna` has a different return type according to whether `inplace` is `True` or `False`. We could overload it to provide a better typing experience

See https://github.com/pandas-dev/pandas/pull/40197 for a very similar issue

Task here is:

1. read through #40197, make sure you understand it
2. try doing the same for `fillna`
3. check it works. See the above PR for an example, but it should be s

[2021-04-01 18:57] MarcoGorelli commented on #40737
This issue would unblock some of the typing difficulties in #38594

[2021-04-01 19:27] #40714 closed

[2021-04-01 20:11] Melendowski opened #40740 "ENH: LogicalSlice object"
EDIT: Updated Example Code

#### Is your feature request related to a problem?
I was trying to perform a method chained logical mask without an intermediate assignment and found the method of passing the logical mask or callable to `.loc` to be verbose. I am trying to reduce that verbosity.

Examples

[code]

#### Describe the solution you'd like

I would like an object similar to `pd.IndexSlice`

[2021-04-01 23:09] zkessel commented on #40732
Using to_replace and value parameters seem to produce the desired behavior.

[code]

However, the undesired behavior is reproduced when passing lists for to_replace and values. For example,

[code]

[2021-04-02 00:24] jreback commented on #40740
the idiomatic and canonical is to use a mask temporary variable

[2021-04-02 07:01] jorisvandenbossche commented on #40735
The explanation for the behaviour is that two categorical dtypes with different categories are not considered as equal:

[code]

But since the repr is the same, that of course gives a bit a surprising result. And typically when doing a value counts of the dtypes, you will probably want to regard the different categorical dtypes as equal ..

[2021-04-02 07:05] MarcoGorelli commented on #40735
Thanks Joris - so , when you say

do you suggest that
[code]
should be the expected output, or that the current output is correct but that users should mentally combine the different categorical dtypes?

[2021-04-02 07:09] jorisvandenbossche commented on #40735
Yeah, so that the current output is "technically" correct, but I think users will typically want your expected output. And I am not sure what the easiest way is to get that (probably converting the dtypes to string first? (or to it's type) Eg `df.dtypes.astype(str).value_counts()`)

[2021-04-02 10:06] MarcoGorelli commented on #40735
OK, thanks - so perhaps we can leave `value_counts` as is, and just put this as an extra example in the docs, something like
[code]

[2021-04-02 12:55] twoertwein opened #40748 "TST: Potential inconistency between numpy and numexp"
The loop variable `engine` should probably be used here instead of `self.engine`:
https://github.com/pandas-dev/pandas/blob/1367cacd7c90694a5d0563d46dd10a1e8a3ea8b3/pandas/tests/computation/test_eval.py#L466

Making this change leads to a few failed tests:
[code]

[2021-04-02 13:45] bioinfornatics opened #40750 "BUG: outer merge with indicator"
# Inconsistencies of pandas merge

I tried to do an outer merge two dataframes and I observed that `left_only` values are missing but if I take a subset of those data `left_only` values appear

unfortunately I am not allowed to share those data and I have not yet found a minimal test case

**From full dataset**
[code]
**subset**
[code]

[2021-04-02 13:59] dcsaba89 opened #40751 "ENH: enhance pivot_table to keep rows that containing any missing values"
#### Is your feature request related to a problem?

I wish I could keep rows in a dataframe where any data point is missing while using pivot_table method.

#### Describe the solution you'd like

`pivot_table` should get a new parameter `keep_na` that enables keeping the rows of the dataframe containing NANs. Alternatively the current behaviour of  `drop_na` could be enhanced to handle not only th

[2021-04-02 15:00] attack68 commented on #40751
-1 on having `dropna` and `keepna` as simultaneous arguments.

[2021-04-02 15:33] aaraney opened #40753 "BUG: Inconcistency in DataFrame column numeric dtype comparison"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

#### Code Sample

[code]

#### Problem description

I realize this may be as intended or just an edge case that has not been handled, but I thought it was worth documenting as

[2021-04-02 15:52] qwertystop opened #40754 "BUG: to_csv produces improper output for categorical datetimes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-02 17:15] #34687 closed

[2021-04-02 17:20] #40484 closed

[2021-04-02 17:46] phofl commented on #40750
Please provide a minimal reproducible example

[2021-04-02 17:52] EricLeer commented on #17130
take

What would be a good place for these tests, I guess in `tests/indexing/test_loc.py` and `tests/indexing/test_iloc.py`?

[2021-04-02 18:03] MarcoGorelli commented on #40440
@phofl I've probably misunderstood something, but in what sense does `df.iloc[1:] = [1, 2, 3]` it fail?

[code]

[2021-04-02 18:05] phofl commented on #40440
Without , just df.iloc[1:]

[2021-04-02 18:14] jorisvandenbossche commented on #40263
The referenced benchmark is:

[code]

Running this with current master, I get:

[code]

When disabling the usage of libreduction fast_apply using this patch:

[code]

I get the following timing:

[code]

So a 3-4x slowdown.

However, the applied function is not doing anything useful (just returning a constant), so basically this benchmark is only measuring the overhead. And whether a 3-4x slowdown

[2021-04-02 18:22] MarcoGorelli commented on #40440
My bad, I hadn't seen the difference (extra comma), indeed that does fail, thanks

[code]

[2021-04-02 18:29] MarcoGorelli opened #40759 "STYLE remove --keep-runtime-typing from pyupgrade"
xref @simonjayhawkins 's comment: https://github.com/pandas-dev/pandas/pull/40545#discussion_r606360410

Task is:
- remove `keep-runtime-typing` from:

https://github.com/pandas-dev/pandas/blob/cc84a2383c641998d4817cfaeb33c64f017b7454/.pre-commit-config.yaml#L57

- run `pre-commit run pyupgrade --all-files`
- run `pre-commit run flake8 --all-files`, fixup any errors (probably some about extra impo

[2021-04-02 19:09] #40351 closed

[2021-04-02 19:52] ikokostya opened #40762 "BUG: invalid type annotation for equal operator of Series"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-02 19:58] jreback commented on #40762
you almost certainly need to run on master with mypy ; we don't have much in 1.2.x

[2021-04-02 19:58] bioinfornatics commented on #40750
That will be hard

what I try:

[code]
but that works
[code]

I will try to mock a dataset from pyarrow and numpy array

[2021-04-02 20:22] rhshadrach commented on #40753
Thanks for the report! It seems to me this is not a pandas issue: `np.dtype('int64') == np.number` gives False whereas `np.dtype('float64') == np.number` gives True. I believe this is all that `eq` is doing.

[2021-04-02 20:54] phofl commented on #40673
Thanks for the explanation, this makes sense then.

Should this work at all? Accessing an element from outside within apply? If yes, we should try to find a way to fix this

[2021-04-02 21:09] phofl commented on #39983
#40660 is a good argument for deprecating this.

[2021-04-02 21:13] rhshadrach commented on #40673
Yes - I think this should be fixed.

[2021-04-02 21:23] aaraney commented on #40753
Certainly! That makes sense, I should have perused the `numpy` issues to see if that topic has come up before.

[2021-04-02 22:12] phofl commented on #40487
@dsaxton This issue was not closed. It looks like it was missed when the pr was merged?

[2021-04-02 22:35] dsaxton commented on #40487
Yeah, not sure why this wasn't closed automatically. Thanks @phofl.

[2021-04-02 22:35] #40487 closed

[2021-04-02 23:07] Melendowski commented on #40740
Right, I mentioned that in the OP. This method saves the intermediate assignment. Granted I haven't profiled anything, so the assignment of the mask could still be faster and more memory efficient. Since I've posted this someone has shared with me a repository with a better version of what I am doing above, [see here](https://github.com/construct/construct/blob/master/construct/expr.py). If there'

[2021-04-03 01:05] Suprabat commented on #10440
Hi, @jreback  I'd like to understand how the DataFrame knows to align the two sides. Please see the following example, where I deliberately scrambled the level1 index of 'b'. When I use .values, the labels are ignored and hence does not achieve the result I want.
[code]

Expected output:
[code]

[2021-04-03 06:35] #40670 closed

[2021-04-03 09:07] MarcoGorelli commented on #36075
From a comment on the PR https://github.com/pandas-dev/pandas/pull/36077#issuecomment-812754556:

I haven't yet looked into it, just reopening so it's not forgotten

[2021-04-03 12:56] fathomer commented on #40759
Hi
I was working on this issue, fixed all the import errors from flake8, but there are some(19) "F821 undefined name" errors thrown by flake8 which seem to be some sort of false-positives. Is it ok to suppress them ?

As an example, for the file pandas/core/dtypes/generic.py ->
`pandas/core/dtypes/generic.py:37:5: F821 undefined name 'Int64Index'`

But I don't see anything which suggests there is

[2021-04-03 13:02] ikokostya commented on #40762
I have the same problem with master branch.

[2021-04-03 13:26] sandyscott opened #40769 "BUG: Min/max markers on box plot are not visible with 'dark_background' theme"
The min & max markers (the short lines at the ends of the whiskers) aren't visible with the 'dark_background' theme

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The min & max markers (the short lines at the ends of the whiskers) aren't visible with the 'dark_background' theme

![112621690-f4f9ab00-8e21-11eb-9fcf-0c734f4d9831](https://user-images.githubusercontent.c

[2021-04-03 13:44] MarcoGorelli commented on #40759
Hi @fathomer ,

`pandas/core/dtypes/generic.py` wouldn't get rewritten by pyupgrade, so I don't see why anything else would have to change there, but if you open a pull request I can take a look

[2021-04-03 14:56] mzeitlin11 commented on #40719
This ends up falling down to using `math.isclose` with tolerances large enough that these compare as equal. I'm guessing the default of comparison with tolerance is just to avoid floating point comparison problems.  Seems like ints should just always be given an exact comparison by default?

[2021-04-03 15:13] mzeitlin11 commented on #40762
Thanks for looking into this @ikokostya, investigations welcome to fix! (if I run this on master, I'm seeing an inferred type of `Any`, so no error, but regardless typing `Series.__eq__` to return a `Series` would be great)

[2021-04-03 15:17] mzeitlin11 commented on #40769
Thanks for the report @sandyscott! Confirmed the issue in master, investigations welcome to fix.

[2021-04-03 19:06] mzeitlin11 commented on #39845
@mmarconi saw a question about this on gitter. A good starting point would be adding an example for `loc` and to the indexing guide as well if there is nothing like it. `__setitem__` could be handled as a followup (it's nice to keep prs small and targeted)

[2021-04-03 19:07] bsun94 commented on #40346
Actually, I think more tests have been added since the PR quoted above - looking at the test_reductions.py module, it seems more has been appended to test_idxmax_mixed_dtype since what's displayed in the file changes in the PR.

[2021-04-03 19:31] jbrockmendel commented on #40719
thats my thought too

[2021-04-03 19:51] bsun94 commented on #40346
One new case I thought of was adding a new column with all NaNs except one numeric value. Please let me know if that's valid

[2021-04-03 20:35] ZurMaD commented on #40692
Something like this? https://github.com/deepak7376/downcast

https://github.com/deepak7376/downcast/blob/master/src/downcast.py

[code]

[2021-04-03 20:59] fathomer commented on #40759
@MarcoGorelli raised the pull request, but there are some errors now in mypy type validations due to the changes by pyupgrade.
Any ideas on how to proceed on this?

[2021-04-03 23:36] Pilipets opened #40774 "QST: Why does reading CSV dates return datetime instead of Timestamp?"
_Problem description:_
I'm reading CSV historical prices data with `pandas.read_csv(...),` but the problem is with reading the dates column - I want the values to be in `pandas.Timestamp` type, but the method returns them in `datetime` instead.

_Question:_
**What's wrong here?**
Why does pandas return `<class 'datetime.datetime'>` instead of `<class 'pandas._libs.tslibs.timestamps.Timestamp'>`, a

[2021-04-03 23:38] mroeschke commented on #40753
Yes this appears like numpy specific behavior. Feel free to let us know if there is something on the numpy side pandas hasn't taken into account. Closing

[2021-04-03 23:38] #40753 closed

[2021-04-03 23:54] proinsias commented on #9340
@shoyer or @TomAugspurger - any more feedback for @denfromufa?

[2021-04-04 01:49] jnchngc commented on #40769
take

[2021-04-04 03:01] LarWong commented on #40712
take

[2021-04-04 03:02] lenoqt commented on #27772
This is still being an issue? I am getting this:
![image](https://user-images.githubusercontent.com/45368936/113497242-09822580-953d-11eb-86e0-0a48a83b81b1.png)

I have pandas : 1.1.5

[2021-04-04 04:14] LarWong commented on #40737
take

[2021-04-04 08:30] nmay231 commented on #40774
@Pilipets Maybe check your version of pandas? I get Timestamp when using option two with Pandas 1.2.1.

[code]

[2021-04-04 08:38] Pilipets commented on #40774
@nmay231 ,

`pandas==1.2.3`
`pandas-datareader==0.9.0`

Sorry, my data in the file is comma-separated - I had copied it from Excel, so it looks like |-separated.

`Local time,Open,High,Low,Close,Volume
28.02.2014 02:00:00.000 GMT+0200,1.37067,1.38250,1.36943,1.38042,176839.0313

[2021-04-04 08:50] Pilipets commented on #40774
Hm, I tried the solution you had proposed on the temp created file, and it worked - let me find the issue locally...

[code]

[2021-04-04 09:16] Pilipets commented on #40774
@nmay231, I found the bug - what's wrong with this data sheet extract? Now it returns datetime, but why?

[code]

[2021-04-04 10:22] MarcoGorelli commented on #40759
I've left a comment on the PR (https://github.com/pandas-dev/pandas/pull/40773#issuecomment-813008503), let's continue the conversation there

[2021-04-04 10:49] Seonu-Lim commented on #27772
Yes, I have also encountered this issue on pandas 1.2.2. I think no one's working on this...

[2021-04-04 15:20] #40774 closed

[2021-04-04 17:07] #39367 closed

[2021-04-04 17:14] MarcoGorelli commented on #40640
closed by #40130

[2021-04-04 17:14] #40640 closed

[2021-04-04 19:57] #40485 closed

[2021-04-04 20:02] MarcoGorelli commented on #40346
Hi @bsun94 - could you point me to which tests is like the one in this issue, i.e.
[code]
? If there's already one like this or very similar, then we can close - thanks :+1:

[2021-04-04 20:11] MarcoGorelli commented on #40404
I still can't reproduce - is this all I need to run?
[code]
?
Because it works fine for me in an IPython repl on master:
[code]

Likewise, it works for me on 1.2.3, so not sure what to do here

[2021-04-04 21:32] bsun94 commented on #40346
no worries, this is what I currently see for pandas/tests/frame/test_reductions.py, in `TestDataFrameAnalytics`. The last block with the NaNs I've just added in my local, and haven't pushed out yet:

[code]

In terms of simulating dataframes containing data of different types, I think a few cases here achieve that. At least in my last case, I believe NaNs are treated as floats, and would be "mixed

[2021-04-04 22:38] nmay231 commented on #40774
@Pilipets Nice :+1:

[2021-04-05 00:14] autoscraper opened #40779 "ENH: Option to turn off cell wrap in notebook output."
#### Option to turn off cell wrap in notebook output.

Behavior:
![image](https://user-images.githubusercontent.com/81045987/113525207-fd708500-9589-11eb-8c75-0fdd45c09b1c.png)

Wanted:
![image](https://user-images.githubusercontent.com/81045987/113525231-1842f980-958a-11eb-820c-a5cc9b3f8086.png)

there is df.style.set_properties(**{'white-space': 'nowrap'}), but I could not find a way to set it a

[2021-04-05 01:06] mzeitlin11 commented on #40663
Will close in favor of #9767

[2021-04-05 01:06] #40663 closed

[2021-04-05 01:27] mzeitlin11 commented on #31478
Fixed with tests in #38844

[2021-04-05 01:27] #31478 closed

[2021-04-05 02:44] LarWong commented on #40737
@MarcoGorelli Hi! I'm a first-time contributor, and this is my first attempt at an issue. So forgive me if this takes a few days to do while I get used to this codebase and to the rules associated with this project. Thanks!

[2021-04-05 05:05] linehammer commented on #27750
On Windows, many editors assume the default ANSI encoding (CP1252 on US Windows) instead of UTF-8 if there is no byte order mark (BOM) character at the start of the file. Files store bytes, which means all unicode have to be encoded into bytes before they can be stored in a file. [read_csv](http://net-informations.com/ds/pd/tocsv.htm) takes an encoding option to deal with files in different format

[2021-04-05 09:16] regmibijay opened #40781 "BUG:"
- [ * ] I have checked that this issue has not already been reported.

- [ * ] I have confirmed this bug exists on the latest version of pandas.

- [ * ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to

[2021-04-05 09:18] regmibijay commented on #40781
Expected Output:

I want to plot the specified area, in my example image it would be the spike

[2021-04-05 10:10] MarcoGorelli commented on #40346
These look different to the test case here, in which there aren't mixed types, but both are nullable integers:
[code]
 I think if you just make a new test case with the example from this issue that should be enough

[2021-04-05 12:07] attack68 commented on #40779
Styler does not create HTML for the sake of setting a default - it leaves these upto the Browser and the application whose defaults actually do differ between them.

For example it will not arbitrarily set: `font-family: verdana; font-size: 16pt;` and it will not do `line-height: 1.5em;`, these are inherited properties. I argue the same is true for the property you have highlighted.

Your alterant

[2021-04-05 14:06] MarcoGorelli opened #40784 "STYLE use subprocess to validate flake8 on docstrings instead of Application"
According to flake8's creator, [the `Application` class from flake8 isn't meant to be used a library](https://github.com/s-weigand/flake8-nb/issues/111#issuecomment-804997221). As their sole maintainer isn't the original author, the library's internals could well change without warning, and this would break `scripts/validate_docstrings`.

This part probably wants changing:

https://github.com/pand

[2021-04-05 16:19] #40386 closed

[2021-04-05 16:22] #38523 closed

[2021-04-05 16:22] #38787 closed

[2021-04-05 16:33] monkiravn opened #40786 "BUG: Datetime duplicates"
#### Problem description

Today I get a error from AutoML in Azuer is `Error: The specified time column, 'SolarDate', contains rows with duplicate timestamps. If your data contains multiple time series, review the time series identifier column setting to define the time series identifiers for your data. If the dataset needs to be aggregated, please provide freq and target_aggregation_function para

[2021-04-05 16:44] phofl commented on #40786
Hey,

thanks for your report. I am a bit confused what your actual problem with pandas is?

[2021-04-05 16:55] monkiravn commented on #40786
I don't know why it was duplicated like that, it also make me very confused and don't know how to handle it. I think it is a potential bug because you can see in my column don't have any duplicate row.

[2021-04-05 16:57] phofl commented on #40786
Your column has duplicates, otherwise your result would be empty. If you have a usage question, please ask them on stackoverflow

[2021-04-05 17:06] dsaxton commented on #40735
I like the idea of documenting this as well (if it isn't already). This tripped me up in the past and I had to use the same workaround.

[2021-04-05 17:40] marceloid commented on #27721
Can confirm that the issue is fixed on pandas 1.2.3.

INSTALLED VERSIONS
------------------
commit           : f2c8480af2f25efdbd803218b9d87980f416563e
python           : 3.9.2.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 94 Stepping 3, GenuineIntel
byteorder        :

[2021-04-05 17:42] jreback commented on #40735
might be able to use an abbreviated repr here (eg not category) but not also the full repr

[2021-04-05 18:15] jreback commented on #27721
@marceloid would take a PR with a test for this

[2021-04-05 18:15] TheNeuralBit opened #40788 "BUG: DataFrame aggregation methods ignore numeric_only= when level= is specified"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---
#### Code Sample, a copy-pastable example

[notebook](https://colab.research.google.com/drive/1NYuEzyU3QDERoY7KOvD_-HxfGBvG517F?usp=sharing)

[code]

#### Problem descript

[2021-04-05 18:17] TheNeuralBit commented on #39983
#40788 looks like another

[2021-04-05 18:37] phofl commented on #40788
Duplicate of #40660, closing in favor of this one

[2021-04-05 18:37] #40788 closed

[2021-04-05 18:38] phofl commented on #39983
This is actually a duplicate of #40660

[2021-04-05 18:51] itamarst commented on #35689
By setting the right SQLAlchemy option, you can support not just for PostgreSQL but for any database SQLAlchemy knows can do server-side cursors.

For example, this uses ~100MB RAM:

[code]

And this uses ~35MB RAM, just imports:

[code]

See the attached SVGs for memory profiles of both programs.
[memory-profiles.zip](https://github.com/pandas-dev/pandas/files/6260014/memory-profiles.zip)

[2021-04-05 18:55] TheNeuralBit commented on #40788
It doesn't look quite the same to me. Do you mean it's likely the same root cause?

[2021-04-05 18:57] phofl commented on #40788
The cause for the other issue was, that numeric_only was not passed through for the level keyword to the underlying groupby operation. Hence the statements always behave the same as the default for the associated groupy functions (max and sum)

[2021-04-05 19:24] TheNeuralBit commented on #40788
Got it - thank you :)

[2021-04-06 01:27] rhshadrach commented on #40781
I think it should be `ylim=[0, 8e-6]`. Although I'm confused on the y-axis being labeled by `1e-6` in your second plot.

[2021-04-06 01:43] rhshadrach commented on #40781
I'm not able to duplicate on master; with ylim=[0, 8] or ylim=[0, 8e-6]. For the former, I get a line indecipherable from `y=0`; for the latter I get the expected output:

![image](https://user-images.githubusercontent.com/45562402/113647030-016ad880-9658-11eb-9ef1-9094b4fd7585.png)

[2021-04-06 01:51] rhshadrach commented on #40754
Thanks for the report @qwertystop! Confirmed on master, investigations and PR to fix are welcome.

[2021-04-06 04:22] bsun94 commented on #40346
sure thing, will put up a PR for this, thanks Marco!

[2021-04-06 04:49] jbrockmendel commented on #17130
tests.indexing.test_iloc for the case in the OP

[2021-04-06 08:06] regmibijay commented on #40781
after comment from @rhshadrach, I was successful in debugging what was happening. I was processing command line parameters with argparse and this behaviour seems to occur when the supplied `xlim` and `ylim` data have string elements and not int or float type. We should maybe either raise ValueError or convert passed data to int or float.

[2021-04-06 10:41] sdrap commented on #14553
On behalf of my class in data analysis, as a strong supporter of Pandas, I strongly support this new functionality :). The work around are kind of ugly with different DB.

[2021-04-06 11:30] phofl commented on #40786
Closing now, feel free to ping to reopen if you have something reproducible, which shows a bug in pandas

[2021-04-06 11:30] #40786 closed

[2021-04-06 11:31] phofl commented on #40750
Closing for now, feel free to ping to reopen if you can construct something reproducible

[2021-04-06 11:31] #40750 closed

[2021-04-06 11:35] laurent-mutricy opened #40799 "BUG: behavior change in dataframe.shift(, freq=infer) when upgrading from pandas 1.1.5 to 1.2.x"
- [ x] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
[code]

#### Problem description

I am reading time series results from an other software with `pd.read_csv` and I put

[2021-04-06 11:42] phofl commented on #40799
I think the freq inference changed with 1.2. Do you know if this is expected now @jbrockmendel ?

Labelling as a regression as of now

[2021-04-06 12:34] johnflavin opened #40800 "BUG: Error from PandasArray __array_ufunc__"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-06 13:05] jamesmyatt commented on #38100
Since the minimum NumPy version should now be 1.17 (according to [NEP29](https://numpy.org/neps/nep-0029-deprecation_policy.html)), which provides the new Generator objects, are these changes that can now be made?

[2021-04-06 15:09] jreback commented on #38100
@jamesmyatt we are still supporting numpy 1.6 in upcoming release

but not averse to actually bumping it (separate PR)

[2021-04-06 15:13] rherasm commented on #11258
Using read_sql_table I think there is a bug because it always makes the reflect call with 'views=True', this cause an exception 'NotImplementedError'.

(sql.py lin.269):
[code]

schema.py lin.4671 returns method not implemented
[code]

Please, Do you know any way of fixing it?
Thks!

-------
PD: Ref. to the code, the method doesn't provide the **views** parameter

*def **read_sql_table**(
    tabl

[2021-04-06 15:56] dbalduini commented on #31708
This solution ```s[s.notna()] = s.astype(str)``` will not work with mixed types.

This is another workaround that does work with mixed types: ` s = s.where(s.isna(), s.astype(str))`

[2021-04-06 16:19] GabePZ commented on #20369
Bump this!

[2021-04-06 16:39] mkovarik337 opened #40808 "DOC: to_datetime not type-stable on mixed timezones (possible bug)"
_Note_: This behaviour might be a bug. I'm assuming its an undocumented  feature.

#### Location of the documentation

[pandas.to_datetime.html](https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

#### Documentation problem

`to_datetime` outputs different types depending on if the timezones are mixed or not (assuming `utc=True` not passed in).
[code]

#### Suggested fix for doc

[2021-04-06 17:20] hasan-yaman commented on #40784
take

[2021-04-06 17:33] hsorsky opened #40809 "BUG: AttributeError when using dict downcast in DataFrame.fillna"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

[The docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna

[2021-04-06 18:06] rwspielman commented on #20828
Is this being worked on or being tracked somewhere else? Still seeing this on 1.2.3. This is affecting an application that I have running in production and will contribute if I can.

specific pain points stemming from this issue:
- integers longer than 15 digits that are stored as text in excel get converted to integer in pandas. If I immediately convert back to excel, I lose this number because e

[2021-04-06 18:08] jreback commented on #20828
@rwspielman pandas is completely a volunteer project - you are welcome to contribute

[2021-04-06 18:08] #40759 closed

[2021-04-06 18:56] mroeschke commented on #40808
We do have tests asserting this `object` dtype (`test_construction_index_with_mixed_timezones`), but could use more documentation in `to_datetime` regarding this behavior

[2021-04-06 19:03] mitar opened #40810 "BUG: for DataFrame subclass, astype with dict does not keep the subclass"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.

#### Code Sample, a copy-pastable example

[code]

#### Problem description

If I use `astype` on a DataFrame subclass, I would expect that the DataFrame class do not change, and only dtypes of columns change.

#### Expected Output

[code]

But I get:

[code]

[2021-04-06 19:06] mitar commented on #35415
I looks like it still does not work when `astype` is provided as a dict: https://github.com/pandas-dev/pandas/issues/40810

[2021-04-06 19:18] #20432 closed

[2021-04-06 19:42] phofl commented on #39143
Related to #15105

[2021-04-06 19:43] jreback commented on #20369
If anyone has a good motivation example please indicate it with pseudo code and full inputs and outputs

[2021-04-06 20:09] LarWong commented on #40737
Hi @MarcoGorelli. After reading #40197 and the pandas documentation, I am under the impression that I would need to add overloads to the following files: ` pandas/core/frame.py`, ` pandas/core/series.py`, and ` pandas/core/generic.py`. Is this correct?

[2021-04-06 20:13] MarcoGorelli commented on #40737
Hi @LarWong - yup, that's right! This one's a bit more complicated, as there's some extra arguments, but please do ping me if you get stuck

[2021-04-06 20:17] LarWong commented on #40737
@MarcoGorelli Will do!

[2021-04-06 21:12] jamesmyatt opened #40814 "ENH: Drop numpy 1.16 in line with NEP 29"
#### Is your feature request related to a problem?

In order to address #38100 , I'd like to update `pandas.core.common.random_state` and anything that uses it to use the new and improved `numpy.random` API introduced in NumPy 1.17. That change is not the subject of this issue/discussion.

However, the easiest/cheapest/cleanest way to implement this would be to assume numpy 1.17, since `random_sta

[2021-04-06 21:20] phofl commented on #40814
We have a ci using numpy 1.16, has to be updated too then

[2021-04-06 22:13] rhshadrach commented on #40814
+1

[2021-04-06 22:32] JonWiggins opened #40817 "BUG: Reindexing a DatetimeIndex during Daylight Saving Transition Causes Segmentation Fault with dateutil tz"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-06 22:39] jbrockmendel commented on #40799
DataFrame.shift still accepts `freq="infer"`.  I think the change is in `pd.to_datetime(dates).inferred_freq` now being None, likely due to floating point error treatment changing somewhere.

[2021-04-07 00:32] mroeschke commented on #40817
This looks specific to dateutil timezones

[code]

which https://github.com/pandas-dev/pandas/issues/33931 might be the root cause. Would be good to keep this issue open as a test case once the issue above is fixed

[2021-04-07 00:35] mzeitlin11 commented on #40581
Have assigned you @ericch99, let us know if you need help with anything! (in future you can assign yourself by commenting "take")

[2021-04-07 01:50] Liam3851 commented on #40517
@AlexKirko My guess as to why America/Santiago is causing the problem is that their DST transition occurs at midnight local time, which breaks `normalize`.  This appears to be a simpler repro:

[code]

In the resampling case, the resample logic is calling .normalize() to find an anchor for the resampling (we do this so that a resample('30T') doesn't depend on whether the first data point resides o

[2021-04-07 04:05] frobnitzem opened #40820 "ENH: Make concat succeed on empty list."
#### Is your feature request related to a problem?

Yes, `pd.concat([])` currently raises the exception, ValueError("No objects to concatenate").

#### Describe the solution you'd like

To be correct on all input sizes, it should return an empty DataFrame.

#### API breaking implications

Obviously, concat will no longer detect empty data.  However, empty data will detect itself.

#### Additional

[2021-04-07 05:50] attack68 commented on #21642
we added a recent HTML escape option to the formatter, but this does not include whitespace, since it is ambiguous what a whitespace escaper would do - conclusion: I think this has to be explicitly added by the user.

additionally for the upcoming LaTeX styler I do not know how LaTeX handles whitespace but there is also a different escape char: '\;' instead of '&nbsp;'

[2021-04-07 06:53] pspeter commented on #31063
I also ran into this issue. My workaround was to append a call to `pipe` to force the output to be a Series:

[code]

[2021-04-07 08:09] ivanovmg commented on #40820
I guess it is not clear what should be the return type.
If we concat dataframes, then the function returns a dataframe.
Similarly, for series objects it returns a series.
However, what should we return in case of an empty input?

[2021-04-07 08:28] jorisvandenbossche commented on #40226
Another type of use cases that eg both dask (partd) and pyarrow have: accessing `Block.values`.

For example, the change to return DatetimeArray from `Datetime(like)Block` instead of an ndaarray[datetime64[ns]] breaks dask (because DatetimeArray is not a proper EA but some hybrid with a np.dtype)

[2021-04-07 08:33] MaximeLaurenty commented on #40472
I agree `fillna` is better (and I changed our code to use it right after after spotting our issue).

I don't think fixing this regression is worth changing the default `to_replace`.
In my opinion having:
- a warning that it'll be deprecated like suggested by @mzeitlin11
- and a fix until then that doesn't interfere with None

would be the best.
(But I've no experience in maintaining open-source li

[2021-04-07 09:29] jaspersival opened #40823 "BUG: Pandas map function does not work properly with StringDtype"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-07 09:31] hamishdarbyshire commented on #40820
I agree, and if Series is to be interpreted as a 'simpler' object (i.e. df["colA"] returns a Series not a DataFrame), then arguably one might suggest returning a Series rather than a DataFrame, **if** anything at all is returned.

[2021-04-07 09:32] attack68 commented on #40820
I agree, and if Series is to be interpreted as a 'simpler' object (i.e. df["colA"] returns a Series not a DataFrame), then arguably one might suggest returning a Series rather than a DataFrame, if anything at all is returned.

[2021-04-07 09:42] ruijpbastos commented on #39967
Why not showing only the different values, instead of the whole columns?

[2021-04-07 10:48] mansenfranzen commented on #39967
Agreed - this would be even more convenient.

[2021-04-07 12:01] laurent-mutricy commented on #40799
`pd.to_datetime(dates, unit='s').inferred_freq` gives `'100L'` which is the expected answer.
`pd.to_datetime(dates).inferred_freq` was already giving `None` with pandas 1.1.5
You need to use `pd.read_csv` to reproduce the issue. The floating point error may be located within the dataframe constructor.

[2021-04-07 12:34] attack68 commented on #40823
I cannot reproduce this error on master.

I get:

[code]

[2021-04-07 12:50] jaspersival opened #40824 "BUG: Dataframe mask method does not work properly with pd.StringDtype()"
- [x] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-07 14:30] niall0 commented on #40404
Hi @MarcoGorelli, yes - without my edit to the format.py file, or specifying display.max_columns to None, I get an error. But I see you are on a slightly newer version of python, 3.8.6 versus my version 3.8.5, so perhaps this bug has been fixed in the newer release.

Best wishes

Niall

[2021-04-07 14:55] jreback commented on #40824
pls try on master branch as well

[2021-04-07 15:04] MarcoGorelli commented on #40404
@niall0 could you try in a new virtual environment, in which you only install pandas and then don't modify any files in site-packages?

[2021-04-07 15:07] tommyjcarpenter opened #40825 "Deprecation Warning: The Connection.run_callable() method is deprecated"
- [x] I have checked that this issue has not already been reported.
(I tried searching all issues for SADeprecationWarning but didn't find this particular issue)

- [x] I have confirmed this bug exists on the latest version of pandas.
We pin to: `"pandas>=1.2.0, <2.0.0"`

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.
Yes it's on master: https://github.com/pandas

[2021-04-07 15:09] jaspersival commented on #40823
If that is the case, then that is a good thing. I guess we have to wait until the next release then to have that fix available.

[2021-04-07 15:13] jreback commented on #40823
would take a test if we don't have something like this

[2021-04-07 15:38] lithomas1 commented on #40825
Can you please paste your pd.show_versions? IIRC, this was patched on master for sqlalchemy > 1.4?

[2021-04-07 15:56] tommyjcarpenter commented on #40825
@lithomas1

[code]

[2021-04-07 15:58] jreback commented on #40825
pls try on master

[2021-04-07 15:58] tommyjcarpenter commented on #40825
@jreback we get from pip; as a pip dependency. AFAIK we pip the latest.

[2021-04-07 16:02] tommyjcarpenter commented on #40825
@lithomas1 so when 1.2.4 is released, these deprecation warnings should go away after pipping 1.2.4, given any SA 1.4.0 or greater?

[2021-04-07 16:03] singhal2 commented on #15988
+1 for append_skipdupes. IMO, an option to update the duplicates would also be nice. Perhaps append_updatedupes.

[2021-04-07 16:06] lithomas1 commented on #40825
Yes.

[2021-04-07 16:09] tommyjcarpenter commented on #40825
Thank you.

[2021-04-07 16:09] #40825 closed

[2021-04-07 16:27] kyleolaughlin commented on #40754
take

[2021-04-07 16:40] jbrockmendel commented on #40226
anything in particular?

[2021-04-07 17:14] shoyer commented on #40226
Xarray does not rely upon pandas's private APIs.

[2021-04-07 17:31] antonroesler commented on #40824
I found that the error happens on the master branch as well. Not exactly the same lines are affected. But it is the same error.

[2021-04-07 17:49] MarcoGorelli opened #40826 "STYLE pandas-dev flake8 plugin"
Currently, there are a lot of style checks which are specific to this repo, the result of which is a ton of CI checks and occasionally quite a bit of extra code.

The main repo is already huge, so I'd like to suggest making a `pandas-dev/pandas-style-guide` repo, which would be a `flake8` plugin, with all the custom linting rules we currently have.

Some advantages:
- the current gigantic repo wou

[2021-04-07 17:52] WillAyd commented on #40826
I think this would be great to try out

Sent from my iPhone

[2021-04-07 17:57] AlPalll commented on #40581
take

[2021-04-07 18:04] datapythonista commented on #40826
Can you be more specific on what are the code checks that you'd like to move?

For the grep commands in `ci/code_checks.py` I think having a separate repo is not worth.

For `scripts/validate_*` to me it makes more sense to move them as separate repos, but making them generic, so they can be reused by any other project. I think it should be doable. And customize in this repo what's specific to pan

[2021-04-07 18:08] Socob opened #40827 "BUG: Unexpected behavior when assigning multi-dimensional array to DataFrame column"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

My question is essentially the same as the StackOverflow question [“Unexpected behavior in assigning 2d numpy array to pandas DataFrame”](htt

[2021-04-07 18:20] LarWong commented on #40737
@AlPalll I am still working on this.

[2021-04-07 18:22] MarcoGorelli commented on #40826
Mainly the ones in `scripts` - some of the grep ones may also be more robust as part of an AST traversal than with a regex

The big advantage I see is the second bullet-point I listed above about testing on multiple OSs and Python versions. Decluttering the main repo would also be nice.

---

Thanks - I'll put something together then and we can take the discussion from there, if people don't like

[2021-04-07 18:31] antonroesler commented on #40824
I changed the
[code]
to use pandas.NA

The generic.py starting on line 8965 looks like this then:
[code]
I imported
[code]
This seems to have fixed the bug. The output is
[code]

This is my first time at pandas, so please let me know if I'm going about something completely wrong here.

[2021-04-07 18:49] hasan-yaman opened #40828 "DOC: Wrong URL in web/README.md"
#### Location of the documentation

**Note**: You can check the latest versions of the docs on `master` [here](https://pandas.pydata.org/docs/dev/).

#### Documentation problem

`web/README.md` states
`Directory containing the pandas website (hosted at https://pandas.io).
`

However, [pandas.io](https://pandas.io) is not reachable.

#### Suggested fix for documentation

We can replace it with the

[2021-04-07 18:52] mzeitlin11 commented on #40824
Thanks for looking into this @antonroesler! Did you try running the test suite to see if anything breaks? I'd worry this would change behavior for types for which missing values are not encoded with NA

[2021-04-07 19:17] jorisvandenbossche commented on #40226
@jbrockmendel because DatetimeArray is not a proper EA, `is_extension_array_dtype` failed to catch the case of DatetimeArray, which resulted in taking a numpy-only code path with DatetimeArray (see https://github.com/dask/partd/issues/48, https://github.com/dask/partd/pull/49/)

[2021-04-07 19:39] phofl commented on #40827
Yeah this is a bug, would agree with anerror here

[2021-04-07 19:47] hasan-yaman commented on #40828
take

[2021-04-07 19:54] antonroesler commented on #40824
Looks like some things broke:
============================================================== short test summary info ==============================================================
FAILED pandas/tests/frame/indexing/test_where.py::TestDataFrameIndexingWhere::test_where_axis_multiple_dtypes - AssertionError: Attributes of Data...
FAILED pandas/tests/frame/methods/test_fillna.py::TestFillNA::test_fil

[2021-04-07 20:10] MarcoGorelli opened #40829 "TYP return type of DataFrame.clip not correct"
https://github.com/pandas-dev/pandas/blob/094f630cd84365b1902b4ee8d3de6a72d1bcbca3/pandas/core/generic.py#L7449-L7458

Return type should be `Optional[FrameOrSeriesUnion]`

It could also do with being overloaded according to the value of `inplace` - see `set_axis` and `DataFrame.reset_index` for examples

[2021-04-07 20:14] DriesSchaumont commented on #40014
The correct index is present in index._index_data. I think this has something to do with reduction.pyx. I need some more time to work out the precise problem though, I am not familiar with this part of the code.

[2021-04-07 20:22] jorisvandenbossche commented on #40800
@johnflavin thanks for moving the issue here.

To be able to reproduce it without pygeos, we need a `ufunc` that works on string data. I am not sure there is a built-in one in numpy, but we can create one from a python function using `np.frompyfunc`:

[code]

[2021-04-07 20:23] DriesSchaumont commented on #40014
Yea, I think _update_cached_objs is failing here.

[2021-04-07 20:26] jbrockmendel commented on #40826
~2 years ago there was a discussion about trying to upstream some of our
code checks to existing tools that had their own maintainers.  I'm not sure
if anything ever came of that, but if it was a successful model it may be
worth trying again.

On Wed, Apr 7, 2021 at 11:23 AM Marco Gorelli ***@***.***>
wrote:

[2021-04-07 20:38] carloslockward commented on #39520
If this issue can't be patched, maybe it would be a good idea to set the maximum supported numpy version to 1.19.5 in the dependencies?

[2021-04-07 20:52] jorisvandenbossche commented on #40826
Being able to test the style checking against different Python versions / OSs sounds like a good reason to use a separate repo.

Practical question: how do you see the syncing between both repo's (as right now I suppose often a change in the scripts and the related change in the pandas code itself happen in the same PR)? The separate repo has a version, and that version gets bumped from time to ti

[2021-04-07 20:52] dsaxton commented on #40826
Nice idea @MarcoGorelli. I'm not really sure how flake8 plugins work but would it still be possible to upstream the lint checks while keeping in the primary pandas-dev repo? In a vacuum keeping things centralized into more of a "monorepo" feels better to me as very often it would seem necessary to cross reference between the style checks and main code base. Also if there is a bug in the linter cau

[2021-04-07 20:58] jorisvandenbossche commented on #40826
Also, for testing the scripts for different Python / OS versions: I suppose those tests don't take very long? In that case it might be fine to actually include them in this repo as well. We could have a github actions workflow that eg only get triggered if something changes in the scripts directory?

[2021-04-07 21:02] MarcoGorelli commented on #40826
Exactly, it'd get bumped by the (existing) autoupdate job

Less than a minute, probably. For now I'll make the plugin in my own repo, and if people like it we can decide on where to keep it / what to name it.

Thanks for the comments, will ping next week when I have something ready

[2021-04-07 21:10] johnflavin commented on #40800
@jorisvandenbossche Perfect! Thank you for the simpler reproduction.

[2021-04-07 22:33] wleodinh opened #40830 "BUG: pandas.read_fwf does not throw warning or error when column spec and name list lengths differ"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When passing both the "names" and "colspecs" parameters, pandas.read_fwf fails to raise a warning/error when the length of the lists passed to these parameters does not match.

[2021-04-08 00:15] jreback commented on #40830
good idea - a pull request would be welcome

[2021-04-08 00:36] gfelot opened #40833 "BUG: Pandas + gcsfs regression"
#### Problem description

I'm use to fix pandas lib up to the minor number (i.e pandas=1.1).

All my work is on Google Cloud Storage so I use a lot

`df = pd.read_csv(gcs+path)`

My old script use a mix of `pandas=1.1` and `gcsfs=0.7`
On a previous version of a script I work with pandas 1.1.5 and gcsfs 0.7.1

After an update the script was build (docker image) with gcsfs 0.7.2 where I got this err

[2021-04-08 04:58] kunal21sinha commented on #40680
I am first time contributor and would like to take up this issue.
Could you assign this to me.

[2021-04-08 08:17] jorisvandenbossche commented on #40833
Since the problem occurred after an update of `gcsfs`, it might rather be an issue with `gcsfs`. And checking their issues, this might be the same as https://github.com/dask/gcsfs/issues/373

[2021-04-08 08:18] jorisvandenbossche commented on #40833
@gfelot I am going to close this issue, as there is no action to take for pandas. But please follow-up on https://github.com/dask/gcsfs/issues/373 if you still have problems with it.

[2021-04-08 08:18] #40833 closed

[2021-04-08 08:49] bashtage commented on #40826
I really like the pandas tools and it would be great if they had some ability to be easily used with other projects.

[2021-04-08 12:31] Dr-Irv commented on #40680
@kunal21sinha I've assigned it to you but I know that @OliEfr is possibly working on this based on the discussion from the PR he created.

[2021-04-08 12:36] OliEfr commented on #40680
Hello,
yes, I was working on the cheatsheet before. However, I did not start working on this precise issue. I think you can go ahead and create something according to your thoughts @kunal21sinha. We will see what additions I can make.

[2021-04-08 13:42] Dr-Irv commented on #40826
We might want to look into making the `pandas-style-guide` a git submodule of the main pandas repo.  That would allow the `pandas-style-guide` to be used in other projects that could include it as a submodule.

[2021-04-08 14:15] DriesSchaumont commented on #40829
take

[2021-04-08 15:20] bioinfornatics commented on #40750
@phofl No problem to work around this bug I used `dask` and set 10 partitions which involve that multiple dataframe so each dataframe manage less data. This works so that seem they are a bug with a huge number of rows here >500 000

[2021-04-08 15:28] KgomotsoMonnakgotla commented on #40823
take

[2021-04-08 15:33] KgomotsoMonnakgotla commented on #40823
`take`

[2021-04-08 15:44] Liam3851 commented on #40517
#30378 appears to also be related and contains a list of timezones where the DST transition occurs on midnight. @mroeschke might have thoughts on the best way to handle non-existent normalize values and/or just the resample issue? Based on the discussion on #30378 one might conclude that raising on normalize on DST changes is ok, but in that case we probably need some workaround for the resample (

[2021-04-08 16:35] mroeschke commented on #40517
For `resample` (or generally any _method_ call which can shift a time to a DST transition), I think the best solution would to be expose `ambiguous` and `nonexistent` keywords (like we have in `tz_localize`), so the user can control what should happen on midnight DST transitions.

[2021-04-08 18:27] adam-weinberger commented on #40830
take

[2021-04-08 18:36] Liam3851 commented on #40517
@mroeschke To be clear here the issue is that the period to be resampled has no non-existent times so I'm not sure users would expect to need to specify parameters? It's the use of normalize internally _inside_ resample to provide an anchor were a non-existent time comes into play.

Perhaps the solution is that `normalize` should allow a nonexistent time parameter, and then in resample we specify

[2021-04-08 19:57] mroeschke commented on #40517
Sure, but is `shift_forward` always the preferred solution when finding the anchor?

So I was thinking when exposing a `nonexsitent` argument in `resample` it could also be passed into `normalize` as well.

[2021-04-08 20:58] Liam3851 commented on #40517
I suppose I was intuiting that hypothetical `normalize(nonexistent='shift_forward')`, should return the first nano that actually exists in the targeted day and should have a .00000000 nano, and so that would be a reasonable resample anchor for time series that start on that date. As opposed to shift_backward, which typically ends with a .99999999 modulo and would have the prior date; that seems ge

[2021-04-08 21:37] Mxchaeltrxn commented on #40827
take

[2021-04-08 21:54] lithomas1 opened #40839 "API/ENH: Accept nan-likes in StringArray constructor"
#### Is your feature request related to a problem?

Currently, StringArray can only be instantiated directly with a ndarray with strings or NA values represented by pd.NA. The only way to instantiate a StringArray with other missing value indicators(like ``np.nan`` and ``None``) is to use pandas.array, which has a side effect of casting non-string elements to strings instead of erroring.

The prop

[2021-04-08 22:15] #40660 closed

[2021-04-08 22:16] #22727 closed

[2021-04-08 22:22] mzeitlin11 commented on #40429
Raising a more helpful error here would be great, contributions welcome!

[2021-04-08 23:07] mroeschke commented on #40517
`'shit_forward'` does seem like a reasonable default anchor behavior. Giving the user control of DST behavior would also be nice as a user will ultimately ask why they cant change a hardcoded default.

[2021-04-08 23:20] nathanielatom opened #40841 "BUG: AssertionError: <class 'pandas.core.arrays.datetimes.DatetimeArray'> on concat"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [X] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

This appears to be a regression when concatenating DataFrames with partially null DatetimeInd

[2021-04-09 00:52] #40044 closed

[2021-04-09 01:40] #40784 closed

[2021-04-09 01:40] #40828 closed

[2021-04-09 03:06] na2shell commented on #28697
take

[2021-04-09 06:55] iamyojimbo commented on #20828
Is this an issue with Pandas? Or is this an issue with `openpyxl`?
To test, tried to convert the .xlsx file to a CSV using the example here: https://stackoverflow.com/a/64099529/1772238
But it also trimmed off my leading zeros.

[2021-04-09 07:39] MarcoGorelli commented on #39522
Update: since #40777 , the colours in the legend are now correct. However, due to an open issue in matplotlib, marker info is not yet preserved in the legend,  so let's keep this open until then

[2021-04-09 07:52] jorisvandenbossche commented on #40841
@nathanielatom thanks for the report! Seems to be a regression between 1.0.x and 1.1.x

[2021-04-09 07:58] jorisvandenbossche commented on #40732
Also for the string dtype, it resuls in object dtype:

[code]

(from https://github.com/pandas-dev/pandas/pull/40755#discussion_r606303184)

[2021-04-09 10:04] nidhishtyagi commented on #40829
Hey, so I've changed the return type to `Optional[FrameOrSeriesUnion]` but could you please explain what you mean by
overloading according to the value of `inplace` @MarcoGorelli

[2021-04-09 10:19] NicMan30 opened #40846 "QST: Is differenence in frame __setitem__() and __getitem__() intended?"
- [X] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [X] I have discussed my usage related question on [StackOverflow](https://stackoverflow.com).

---
Trying to answer [this](https://stackoverflow.com/questions/66961614/why-does-pandas-recognize-dictionary-values-as-a-list-of-column-names-when-used/67001369#67001369

[2021-04-09 10:32] MarcoGorelli commented on #40829
See `set_axis` and `reset_index` for examples - it looks like @DriesSchaumont is already working on this though

[2021-04-09 10:42] DriesSchaumont commented on #40829
Yep, PR probably out tomorrow.

[2021-04-09 11:29] MarcoGorelli commented on #40829
Awesome, feel free to ping if you get stuck on anything

[2021-04-09 12:19] itamarst opened #40847 "ENH: Memory usage of read_sql could be significantly reduced to ~25% of current memory usage"
#### Is your feature request related to a problem?

Right now when you do `pandas.read_sql` without chunking, memory usage appears to be `O(4N)` where N is number of rows. For example, if the rows can be represented in ~1GB of RAM, approximately 4GB of RAM will be used.

By using chunking + server-side cursors (https://github.com/pandas-dev/pandas/issues/35689) internally, this could be changed to

[2021-04-09 14:04] gabiteodoru opened #40848 "BUG: pandas uses numexpr if it exists, numexpr is buggy and enters infinite loop on .query('col.isna()'), Anaconda ships with numexpr installed by default, numexpr isn't listed as a requirement of pandas"
- [ ] I have checked that this issue has not already been reported.

- [ X ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-04-09 15:15] rwspielman commented on #20828
@iamyojimbo Its a bug in pandas. I confirmed openpyxl will correctly bring in 'numbers stored as text' as strings. When it converts to DataFrame, it runs through `maybe_convert_numeric` in `_libs.lib.pyx`. It stays as a string datatype up until this point. By running through that function, it ignores the datatype that `openpyxl` brings it in as.
https://github.com/pandas-dev/pandas/blob/822db7a53f

[2021-04-09 15:17] ikfdarba opened #40849 "pandas concat does not match index names when concatenating two dataframes with a multiindex"
python 3.7
pd.__version__ '1.1.4' and '1.2.3'

running the following code:
[code]

gives the following output:
[code]

Apparently the concatenation function does not match the index names, and sets the index names of the concatenated data frame in the order of the first dataframe passed to it.

In this example pd.concat (incorrectly) concatenates index1 to index2 and index2 to index1, disregarding

[2021-04-09 15:31] mzeitlin11 commented on #40024
Looks like a regression caused by #38759, don't think specific to `to_html`

[2021-04-09 16:15] phofl commented on #40849
Please try on newer pandas

[2021-04-09 16:28] #20012 closed

[2021-04-09 16:47] phofl commented on #40848
Numexpr is an optional dependency and Listed here: https://pandas.pydata.org/pandas-docs/stable/getting_started/install.html#recommended-dependencies

[2021-04-09 17:02] gabiteodoru commented on #40848
Thanks a lot for the reply! I was just looking at pip show pandas for
dependencies, was not aware they are listed there.

I guess the main point I wanted to raise was -- is it a good idea to use a
non-compulsory dependency library without notifying the user that it's
being used? It makes bugs introduced by optional dependencies really hard
to track, especially when the user hasn't manually install

[2021-04-09 17:05] phofl commented on #40848
I am not quite sure what you would expect here? How should we notify users that a dependency is used apart from documenting this?

[2021-04-09 17:05] phofl commented on #40848
Could you provide something reproducible for the infinite loop?

[2021-04-09 17:27] jayqi commented on #30741
Hi, I was following along #38846 which was recently merged, and I wanted to discuss the idea that I repeatedly saw @WillAyd bring up: specifically the idea of implementing a `pandas[no-doc]` PEP-508-compliant dependency specification as a way to give users an option to opt out of documentation in their packages. **Unfortunately, I think this idea is technically infeasible given the mechanics of PE

[2021-04-09 17:39] ikfdarba commented on #40849
updated, and same issue

[2021-04-09 17:57] mzeitlin11 commented on #40848
#34044, #27639 maybe related

[2021-04-09 18:03] mortenfc commented on #27812
Same problem on 1.1.5 using python3.
matplotlib 3.2.1

[2021-04-09 18:12] tmcclintock opened #40854 "ENH: Return a frame with a MultiIndex when doing math on inner indices"
#### Is your feature request related to a problem?

Given a datafame with a `MultiIndex` axis, it would be nice to be able to perform a mathematical operation based on the outer axis (or axes) and obtain a result that maintained the number of dimensions in the index. For example:

[code]
This would allow for expressions like the following:
[code]
At the moment, the only way to add a new set of col

[2021-04-09 18:13] kkwaiser opened #40855 "ENH: Add support for nullable integer columns to StataWriter"
When attempting to export a dataframe to a Stata data file, I hit the following error due to my dataframe including variables of the Int64 dtype.

[code]
Error message:

My expectation is columns of dtype Int64 (i.e., a nullible INT) would end up as byte, int or float in the dta file depending on values therein.

#### Output of ``pd.show_versions()``

<details>

INSTALLED VERSIONS
----------------

[2021-04-09 18:14] gabiteodoru commented on #40848
OK, so after further investigating the issue, here is reproducing code.
Note that the issue will disappear by pip uninstall numexpr

import sys, pandas as pd, numpy as np
np.set_printoptions(threshold = sys.maxsize)

x = pd.DataFrame({'a':np.array([0,np.nan,None])})
def f(n):
    try:
        x2 = x.sample(n,replace = True)
        x2.query('a.isnull() == False')
    except:
        pass
%time f(1

[2021-04-09 18:17] gabiteodoru commented on #40848
Forgot to add -- error on CTRL+C

Traceback (most recent call last):

File "<ipython-input-15-371eac7162d6>", line 1, in <module>

f(1000000)

File "<ipython-input-9-8dd07e2969e1>", line 3, in f

x2.query('a.isnull() == False')

File "C:\Users\user\anaconda3\lib\site-packages\pandas\core\frame.py", line
3469, in query

res = self.eval(expr, **kwargs)

File "C:\Users\user\anaconda3\lib\site-package

[2021-04-09 18:23] gabiteodoru commented on #40848
As potential solutions: could you make numexpr appear in pip show pandas?
Or if not, what would you think about printing "using numexpr" on import like tensorflow prints stuff when importing.

Just thinking ways of making people's lives easier, as it's a tricky bug

[2021-04-09 18:44] DriesSchaumont commented on #40829
@MarcoGorelli Did you mean that the return type is supposed to be  `FrameOrSeriesUnion | None`  or `FrameOrSeries | None` ? If I use  FrameOrSeriesUnion, I get `pandas/core/generic.py:7538: error: Incompatible return value type (got "FrameOrSeries", expected "Optional[Union[DataFrame, Series]]")  [return-value]` On line 7526, `result = self`. So `FrameOrSeries` seems applicable here?

[2021-04-09 18:51] DriesSchaumont commented on #40824
@antonroesler Are you planning to open a PR? Otherwise I would be open to have a look at this.

[2021-04-09 18:58] DriesSchaumont commented on #40420
take

[2021-04-09 19:00] jorisvandenbossche commented on #36195
Gentle ping for this discussion. Are there more thoughts on my proposal for "always copy through copy-on-write" at https://github.com/pandas-dev/pandas/issues/36195/#issuecomment-786654449 ?

[2021-04-09 19:18] antonroesler commented on #40824
@DriesSchaumont Feel free to go ahead. I first have to familiarize myself a litte better with the pandas library.

[2021-04-09 19:19] DriesSchaumont commented on #40824
take

[2021-04-09 19:42] #39433 closed

[2021-04-09 19:44] MarcoGorelli commented on #40829
My bad, I meant `FrameOrSeries` - thanks @DriesSchaumont !

[2021-04-09 19:46] jreback commented on #40168
so there is one open PR, but if any other regressions we want to patch, let's do so pretty soon, then can release

@pandas-dev/pandas-core @pandas-dev/pandas-triage

[2021-04-09 19:55] sbrsankar opened #40858 "QST: hi guys i have an question on creating a series in pandas diamonds['Quality–color'] = diamonds.cut + ', ' + diamonds.color after running this code why iam getting two columns as 'Quality–color'"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-04-09 20:00] sbrsankar commented on #40858
![pandas](https://user-images.githubusercontent.com/56156134/114234362-48303980-999c-11eb-9c74-3bb34f2c5cfc.jpg)

[2021-04-09 20:00] #40858 closed

[2021-04-09 20:15] sbrsankar opened #40859 "QST: hi guys i have an doubt in pandas i created series as ['Quality–color'] in my data frame by adding Cut & Color variable into that series as "diam['Quality-color']=diam.cut + ', ' + diam.color" my query was why im getting two colums as 'Quality-color' for your reference i have attached the image"
- [ ] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [ ] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-04-09 20:16] phofl commented on #40859
Please provide something reproducible

[2021-04-09 20:17] sbrsankar commented on #40859
![pandas](https://user-images.githubusercontent.com/56156134/114236003-9a725a00-999e-11eb-8025-a733160e4b60.jpg)

[2021-04-09 20:18] phofl commented on #40859
A reproducible example in code please, not a screenshot.

[2021-04-09 20:21] phofl commented on #40204
If nobody disagrees I would close this, since the behavior is correct again in 1.2.3

[2021-04-09 20:27] sbrsankar commented on #40859
Write a Pandas program to create a new 'Quality -color' Series (use bracket
notation to define the Series name) of the diamonds DataFrame.
above exercise need to get solved by me so i have written the code as
"diam['Quality-color']=diam.cut + ', ' + diam.color" my question was why
im getting two column name as  'Quality -color' when i used to print using
the head() function can you please explain

[2021-04-09 20:29] phofl commented on #40859
Please have a look at https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports, this explains what a reproducible example is.

[2021-04-09 20:52] MarcoGorelli commented on #40859
Hi @sbrsankar ,

Please ask usage questions on StackOverflow or some other forum - if you believe there's a bug in pandas, then please include a reproducible example (as suggested above)

Thanks! :+1:

[2021-04-09 20:52] #40859 closed

[2021-04-09 21:04] lithomas1 commented on #38943
@jreback Can this be closed? Travis CI seems to be running again. e.g. https://travis-ci.com/github/pandas-dev/pandas/jobs/497435258

[2021-04-09 21:04] phofl commented on #40846
This looks like a bug, but not because of the section you've highlighted. This is not hit here.

[2021-04-09 21:09] phofl commented on #40846
Question is, if this should be supported, ``df[[cols_dict.values()]]`` does not work either.

[code]

[2021-04-09 21:12] phofl commented on #40841
Looks like this happens because of

https://github.com/pandas-dev/pandas/blob/9bfa67cf028deec509d4e07138f6659bd2b342fe/pandas/core/indexes/base.py#L2980

[2021-04-09 21:30] jreback commented on #38943
they gave us some credits so let's have a look

[2021-04-09 21:38] jreback commented on #40204
as long as we have a test ok to close

[2021-04-09 21:43] phofl commented on #40204
test_setitem_boolean_mask_aligning covers this

[2021-04-09 21:47] jreback commented on #40204
great

[2021-04-09 21:47] #40204 closed

[2021-04-09 21:56] NicMan30 commented on #40846
Feel free to edit the issue to what it really boils down to, I don't feel experienced enough to judge what part is important.

[2021-04-09 21:56] jreback commented on #40854
see here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sub.html?highlight=sub#pandas.DataFrame.sub

[2021-04-09 22:00] tmcclintock commented on #40854
@jreback thanks, I'll take a look. Feel free to close.

[2021-04-10 11:30] rhshadrach commented on #40848
Note that the issue will disappear by pip uninstall numexpr

On my machine, running with `10_000_000` takes 0.58s, I'd be curious to understand why it's 11.1s on yours for `300_000`. If you remove the query line, what is the execution time for you then?

I'd agree the error message and the stack isn't so helpful here, is that what you mean when you say "tricky bug"? I don't think we can reliably t

[2021-04-10 11:32] rhshadrach commented on #40848
Also - I don't think the long output is necessarily helpful for this issue, would you mind removing it?

[2021-04-10 11:54] rhshadrach commented on #39739
Thanks for digging into this @amilbourne, I agree with your assessment.

Do @galipremsagar @phofl @simonjayhawkins agree?

[2021-04-10 11:59] gabiteodoru commented on #40848
Do you have numexpr installed in the env that takes 0.58s for 10m rows?

On Sat, Apr 10, 2021 at 1:30 PM Richard Shadrach ***@***.***>
wrote:

[2021-04-10 12:00] rhshadrach commented on #40848
Yes - 2.7.3

[2021-04-10 12:05] phofl commented on #39739
Agree

[2021-04-10 12:28] gabiteodoru commented on #40848
Hmm.... OK, so I create a new conda environment, install numpy and pandas only, and run a .py file containing the code I showed above for 300,000 rows

`(myenv) C:\Users\user>conda list
# packages in environment at C:\Users\user\anaconda3\envs\myenv:
#
# Name                    Version                   Build  Channel
blas                      1.0                         mkl
ca-certificates

[2021-04-10 12:30] gabiteodoru commented on #40848
Exactly which output? I have two comments with long error messages :)

[2021-04-10 12:32] gabiteodoru commented on #40848
pandabug.py for completeness

[code]

[2021-04-10 12:59] rhshadrach opened #40865 "PERF: Series.nunique can compute unique, then remove na"
Currently we first remove nans, then use `len` on the result of `Series.unique`. Except for Series that are mostly null values, it is more performant to switch the order of these operations:

[code]

gives

[code]

Changing part_nan to 100 gives

[code]

On my machine, they are about equal when part_nan is 250 (~70% null values).

[2021-04-10 13:55] #40740 closed

[2021-04-10 14:04] taytzehao commented on #40865
Take

[2021-04-10 14:23] rhshadrach commented on #40865
@taytzehao - Apologies, I should have indicated in the issue itself. This was added for a sprint today, would you be okay with finding a different issue?

[2021-04-10 15:27] jorisvandenbossche commented on #19812
We use a different doc theme now, so closing this issue

[2021-04-10 15:27] #19812 closed

[2021-04-10 16:12] jorisvandenbossche commented on #32732
Closing, this has been fixed in the theme.

[2021-04-10 16:12] #32732 closed

[2021-04-10 16:13] jorisvandenbossche commented on #31090
Do you still see those warnings locally?

[2021-04-10 19:26] jnchngc commented on #39489
take

[2021-04-10 19:43] jnchngc commented on #40682
take

[2021-04-10 19:45] rhshadrach commented on #40848
Odd, I do not think it should not take that much time for the query to fail. If you're able to profile and find out where this time in query is being spent, it would be helpful, but I understand if that's too much effort. Perhaps someone else can reproduce.

[2021-04-10 19:55] jorisvandenbossche commented on #40848
For me, the function is actually raising an error (but it's catched in `f(n)`, so you don't directly see it). Is that correct?
If so, there might be going something wrong with raising the error (it might be trying to print the values in the error message, which can blow up).

[2021-04-10 19:56] jorisvandenbossche commented on #40848
cc @simonjayhawkins in case you can reproduce this on Windows (in an env with numexpr installed)

[2021-04-10 20:05] phofl commented on #40848
Can reproduce on win10. machine: 4 cores 40gb ram

Takes 16 seconds to run through.

profile:

[code]

everything else is more or less not relevant.

<details>

INSTALLED VERSIONS
------------------
commit           : 963cf2b5abf4e1ee99a7f6b9031ad485804c5dff
python           : 3.7.9.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.18362
machine

[2021-04-10 20:13] rhshadrach commented on #40014
Very odd, the following fails:

[code]

but it succeeds if you comment out the `x.gt(0)` line.

[2021-04-10 20:23] rhshadrach commented on #40848
Thanks @jorisvandenbossche @phofl. Previously I made the mistake of not including `np.set_printoptions(threshold = np.inf)`; with this included I can reproduce the long runtime.

[2021-04-10 20:27] gabiteodoru commented on #40848
Yep, it's getting stuck in formatting the error message, it's bouncing
between those top three functions in the profiling. And it looks like the
number of calls scale linearly with the number of rows; and I bet the
object being acted is also proportional in size with the number of rows, so
each function call takes more than constant time. Meaning the whole thing
scales super-linearly. Call it for

[2021-04-10 20:30] rhshadrach commented on #40848
It's not formatting the error message, it's formatting the expression; in convert:

[code]

When I run with the default NumPy print threshold, the string is

    (array([False, False,  True, ...,  True, False, False])) == (False)

[2021-04-10 20:35] gabiteodoru commented on #40848
Ah OK, I just assumed that since np.set_printoptions is necessary to make
it slow, it might have to do with what it's printing, and the only thing it
prints in the end is an error; but I guess I was wrong :)

On Sat, Apr 10, 2021 at 10:30 PM Richard Shadrach ***@***.***>
wrote:

[2021-04-10 21:39] hasan-yaman commented on #40429
take

[2021-04-10 21:41] jnchngc commented on #40682
I've been working on the issue. Is it okay to install packages from other open-source libraries?

[2021-04-10 23:44] jbrockmendel commented on #36195
Any progress to report?  If not, my thoughts remain roughly https://github.com/pandas-dev/pandas/issues/36195#issuecomment-786740079

[2021-04-10 23:56] jbrockmendel commented on #40674
cc @WillAyd

[2021-04-11 01:43] mroeschke commented on #40854
Yes it appears a combination of `axis` and `level` should be able to accomplish what you are looking for. Closing but feel free to ping if you find other issues.

[2021-04-11 01:43] #40854 closed

[2021-04-11 02:00] mroeschke commented on #3539
Sounds like the non-triviality might make this not worth. Going to close.

[2021-04-11 02:00] #3539 closed

[2021-04-11 03:00] mroeschke commented on #4568
Seems like there hasnt been much activity for this feature so going to close. Happy to reopen if there's more interest

[2021-04-11 03:00] #4568 closed

[2021-04-11 03:05] mroeschke commented on #4615
I think we've tightened up comparison ops with pandas object to ensure similar shape a while back to be more strict and not as flexible as this. Going to close but happy to reopen if there's more interest for this

[2021-04-11 03:05] #4615 closed

[2021-04-11 03:06] mroeschke commented on #4616
Agreed, closing as there hasn't been much activity for this feature

[2021-04-11 03:06] #4616 closed

[2021-04-11 03:09] mroeschke commented on #4668
Agreed, the last issue doesn't need this master tracker anymore. Closing

[2021-04-11 03:09] #4668 closed

[2021-04-11 03:11] mroeschke commented on #4683
Appears that this issue didn't gain a lot of traction. Thanks for the suggestion but closing due to lack of activity. Happy to reopen if this community finds this feature useful

[2021-04-11 03:11] #4683 closed

[2021-04-11 03:24] mroeschke commented on #4916
I think `from_dict` and `from_records` have parameters that are more configurable than the default `DataFrame` constructor and have distinct use cases. Since the other methods have been addressed, going to close.

[2021-04-11 03:24] #4916 closed

[2021-04-11 03:27] mroeschke commented on #5015
Seems like `rule_code` is a property now and not a configurable argument. Going to close

[2021-04-11 03:27] #5015 closed

[2021-04-11 03:31] mroeschke commented on #5028
Looks like `_offset_map` is a dynamic cache now. There's probably been a lot of refactoring since this issue so closing unless I have misunderstand this issue

[2021-04-11 03:31] #5028 closed

[2021-04-11 03:43] mroeschke commented on #5212
It appears that `codes` are dtyped resized internally

[code]

So this is probably not an issue anymore. Closing

[2021-04-11 03:43] #5212 closed

[2021-04-11 03:52] mroeschke commented on #5460
I think https://pandas.pydata.org/pandas-docs/stable/reference/index.html satisfies describing what is public. Closing, but happy to reopen if things need clarifying

[2021-04-11 03:52] #5460 closed

[2021-04-11 04:00] #5755 closed

[2021-04-11 04:03] mroeschke commented on #5881
Dtypes for window ops is covered in https://github.com/pandas-dev/pandas/issues/11446 so closing in favor of that issue

[2021-04-11 04:03] #5881 closed

[2021-04-11 04:14] mroeschke commented on #6624
Seems like the behavior is clearly documented so closing

[2021-04-11 04:14] #6624 closed

[2021-04-11 04:21] mroeschke commented on #6638
`is_subperiod` is the only method that exists now which has the docstring

[code]

So the last 2 examples should unexpectedly return `False` since the going from the source to target in this case is upsampling.

So closing as the expected behavior but happy to reopen if misunderstood

[2021-04-11 04:21] #6638 closed

[2021-04-11 04:27] bragarods commented on #14553
Also posting to follow. I can help with the code if there's WIP.

[2021-04-11 04:29] mroeschke commented on #6918
https://pandas.pydata.org/pandas-docs/stable/user_guide/cookbook.html has a lot of examples now. Can reopen if we want to add specific examples

[2021-04-11 04:29] #6918 closed

[2021-04-11 04:36] mroeschke commented on #7211
Agreed, closing

[2021-04-11 04:36] #7211 closed

[2021-04-11 04:41] mzeitlin11 commented on #40488
#13992 is a similar request

[2021-04-11 04:42] mroeschke commented on #7387
Since there's only 2 issues here, I think it's okay to track those issue separately as this tracker isnt really used anymore. Closing

[2021-04-11 04:42] #7387 closed

[2021-04-11 04:50] mroeschke commented on #7513
This seem too complicated to implement in pandas. Closing

[2021-04-11 04:50] #7513 closed

[2021-04-11 04:55] mroeschke commented on #7787
I believe we are moving away from making the indexing code more permissive to indexing types such as `frozenset`. Going to close as a wont fix but happy to reopen if there's more interest from the community

[2021-04-11 04:55] #7787 closed

[2021-04-11 04:59] mroeschke commented on #7887
Sounds like generally we dont want to do this anymore. Closing

[2021-04-11 04:59] #7887 closed

[2021-04-11 05:04] mroeschke commented on #7938
Seems like this is a MySQL limitation and there's not a clear action on the pandas side. Going to close for now, but happy to reopen if I misunderstood

[2021-04-11 05:04] #7938 closed

[2021-04-11 05:22] mroeschke commented on #8600
I think my moving to pyarrow for string ops this becomes irrelevant. Closing but happy to reopen if i misunderstodd

[2021-04-11 05:22] #8600 closed

[2021-04-11 05:38] mroeschke commented on #8856
Looks like both loc and iloc work consistently now

[code]

[2021-04-11 05:45] mroeschke commented on #8902
I think the above behavior was an intentional behavior change a while back (that an empty DataFrame has an `object` dtype`); therefore, a common dtype between object and int is object.

Closing as the new expected behavior, but happy to reopen if I am misunderstanding

[2021-04-11 05:45] #8902 closed

[2021-04-11 05:52] mroeschke commented on #7480
I think https://github.com/pandas-dev/pandas/issues/8962 is the generalize version of this request. Will link this issue over on that issue.

[2021-04-11 05:52] #7480 closed

[2021-04-11 08:34] simonjayhawkins commented on #39739
to ensure the behavior does not change again, we should have a test to catch this.

[2021-04-11 11:13] #40829 closed

[2021-04-11 11:54] phofl commented on #39739
put something up

[2021-04-11 11:57] MarcoGorelli opened #40873 "STYLE "wrongplaced whitespace" rule doesn't error on its example of a bad string"
The docstring reads

https://github.com/pandas-dev/pandas/blob/9ab55b4aed9018b070c939ffbdf232f99bf50f1a/scripts/validate_unwanted_patterns.py#L355-L361

yet this file doesn't error if the script is run on it:
[code]

Some other files which don't error, though I can't understand why:
[code]

[code]

Hi @ShaharNaveh @datapythonista - do you have any context you could provide on the trailing newline

[2021-04-11 12:02] phofl opened #40874 "BUG: New numpy dev caused ci to fail"
- [x] I have checked that this issue has not already been reported.

---

The weekly wheel of numpy changed and caused our ci to fail

Worked:
https://github.com/pandas-dev/pandas/runs/2314968903

First failure:
https://github.com/pandas-dev/pandas/runs/2315938439

Numpy wheels:

First:
https://pypi.anaconda.org/scipy-wheels-nightly/simple/numpy/1.21.0.dev0%2B1199.g623bc1fae/numpy-1.21.0.dev0%2B11

[2021-04-11 12:07] MarcoGorelli commented on #40873
What I don't understand is the logic behind the lines

https://github.com/pandas-dev/pandas/blob/9ab55b4aed9018b070c939ffbdf232f99bf50f1a/scripts/validate_unwanted_patterns.py#L373-L376

Why should they return `False`? I can't find examples in the codebase of where they would be hit anyway:
[code]

[2021-04-11 12:07] taytzehao commented on #40823
take

[2021-04-11 12:13] jseabold commented on #6638
I think these issues still persist, at least in 1.2.3. Are they fixed in master?

[code]

[2021-04-11 12:16] jseabold commented on #6638
If my source is weekly and my target is annual, surely I can downsample from weekly to annual, which unless I'm missing something should be the result of `is_subperiod('W', 'A')`. Maybe it's False because of the boundary effects of trying to downsample weekly to annual, so pandas refuses to guess vs. trying to do something with ISO week dates.

[2021-04-11 12:38] simonjayhawkins commented on #40874
maybe. i'll merge (and backport) #40850 an we'll know for sure.

[2021-04-11 12:39] #40024 closed

[2021-04-11 12:42] MarcoGorelli opened #40876 "STYLE, TYP frame-or-series-union check no longer relevant"
This check is no longer relevant:

https://github.com/pandas-dev/pandas/blob/9ab55b4aed9018b070c939ffbdf232f99bf50f1a/.pre-commit-config.yaml#L83-L88

Since using PEP604 rewrites, this would be written as
[code]
anyway.
[code]
is actually just as long as the above, and arguably less explicit.

----

@simonjayhawkins thoughts on replacing all the `FrameOrSeriesUnion` occurrences, removing the alias

[2021-04-11 12:44] simonjayhawkins commented on #40876
+1

[2021-04-11 13:01] #39739 closed

[2021-04-11 13:04] jreback commented on #40874
cc @seberg is this expected?

[2021-04-11 13:13] mapattacker commented on #40692
Sorry for the late response.

hi @jorisvandenbossche, you are right to an extent.

I think for my use case, after doing all the data wrangling, I want to pickle the data frame to its most efficient data type, before using it in production. Till now I have to write or copy a version of a function shown below (similar to @ZurMaD , and also @mroeschke of wrapping `pd.to_numeric`, and I find it mildly

[2021-04-11 13:19] AlexKirko commented on #40517
I've been a bit impatient with my recovering health, so I wasn't able to take a look at this as much as I wanted to.

I'll explore this a bit during the next two days and report back. If fixing the issue turns out to be more than I can handle right now, I'll self-unassign and maybe someone else can pick this up. I think I should be able to handle it, but I tend to be overoptimistic.

I agree with

[2021-04-11 13:21] simonjayhawkins commented on #40662
The change in 1.2 that maybe the cause the regression (I'll check shortly) is that `np.add(df, 1, out=bar)` now returns a DataFrame, whereas in 1.1.5 it returned a numpy array.

In 1.1.5,  `np.add(df, 1)` without specifying `out` returned a DataFrame.

so it maybe that `bar` should only be allowed to be a DataFrame? (although that doesn't currently work either)

[2021-04-11 13:44] mzeitlin11 commented on #40662
I think at least for the sake of consistency, passing `kwargs` for both the 1d and 2d case is an improvement. I guess the return value in a case like this might be a more complicated issue (but just passing **kwargs doesn't change that behavior)

[2021-04-11 13:55] rhshadrach commented on #13992
From https://github.com/pandas-dev/pandas/issues/13416#issuecomment-225468322

`groupby(...).sum` now has a `numeric_only=True` argument, so as far as I can tell, the decision was made to have numeric only by default but also support non-numeric. For API consistency, it seems to me that `cumsum` et al should be the same.

[2021-04-11 13:55] rhshadrach commented on #40488
Thanks for finding that @mzeitlin11. Closing as a duplicate and I've posted my thoughts there.

[2021-04-11 13:55] #40488 closed

[2021-04-11 14:10] seberg commented on #40874
Seems like a bug on first sight, I will dig into where it comes from tomorrow probably. @simonjayhawkins you don't happen to know a more minimal example of what misbehaves?  (My first guess right now, is that I broke some `__array_wrap__` or so logic in the ufuncs)

[2021-04-11 14:12] datapythonista commented on #40873
The idea is that on multiline strings we always keep the spaces from a split in the same position (at the end).
[code]
Then, I think there were cases with multiple spaces, like for indenting, inside the string. So we were checking that a single space existed, otherwise we consider the case ok. I don't remember about the line breaks.

I thought these rules were well tested. I'm in my phone now, can

[2021-04-11 14:25] simonjayhawkins commented on #40662
first bad commit: [c6eb725eabadff0815f85abd7b52aad64fa366fb] Implement DataFrame.__array_ufunc__ (#36955)

[2021-04-11 14:57] taytzehao commented on #32556
take

[2021-04-11 15:11] phofl commented on #40874
@seberg
It comes down to this:

[code]

With the new wheel this has dtype ``uint8`` while we got ``int8`` previously.

[2021-04-11 15:19] seberg commented on #40874
Thanks! I was indeed barking up the wrong tree then since I had not realized it was division specific.

[2021-04-11 15:40] rhshadrach commented on #40848
For this example, the `a.isnull()` gets parsed as an instance of `pandas.core.computation.ops.Constant`. Is it true that when using numexpr, any instance of Constant must be hashable? We could catch that here, which occurs before any conversion to string.

[2021-04-11 15:44] rhshadrach commented on #40848
Also, are there hashable python objects that would have long string reps that we can do something about?

[2021-04-11 15:53] rhshadrach commented on #40781
Thanks for reporting back @regmibijay - I agree and think either are a workable solution, although I personally would lean toward raising if the values are not numeric. Would you be interested in submitting a PR to implement the patch?

[2021-04-11 18:18] simonjayhawkins commented on #40841
first bad commit: [cf8c6801a98c30f44e66e56016acdc97e585c8f8] BUG: preserve object dtype for Index set ops (#31401)

`result = Index(result)._values # do type inference here` was added in that commit so consistent with @phofl assessment https://github.com/pandas-dev/pandas/issues/40841#issuecomment-816974384

cc @jbrockmendel

[2021-04-11 19:54] phofl opened #40885 "BUG: Regression in loc __setitem__ with split_path True and all false indexr"
We have an ugly regression on master

#### Code Sample, a copy-pastable example

[code]

We need more than one block to reproduce

#### Problem description

This returns

[code]

which is obviously wrong.

#### Expected Output
[code]

I think this was introduced with 80227439db6b90985b9fbcde2a8f8ea85a4569b2 cc @jbrockmendel

``_align_series`` previously returns the value, if the indexer is all Fal

[2021-04-11 21:05] regmibijay commented on #40781
I am working on this issue and will address with a PR soon!

[2021-04-11 21:26] cgarciae commented on #32413
I tested against `master` (895f0b4022562d33e485c5d4eab1014d18656e0c) and the issue is now gone, I think this can be closed now.

[2021-04-11 21:30] LarWong commented on #40737
@MarcoGorelli Hi. I'm getting a redundant cast error after adding overloads to `series.py`.
This is the error I'm getting:
[code]
and this the part of the code that the warning refers to:
[code]
I am new to Python typing, so I am a bit confused on how to resolve this. Thanks

[2021-04-11 21:30] cgarciae commented on #32218
I tested against master (895f0b4) and the issue is now gone, I think this can be closed now.

[2021-04-11 21:49] LarWong commented on #40737
I guess this is related to the post above, but I noticed that the existing signature of `fillna()` in both `series.py` and `frame.py` both have return values of `DataFrame/Series | None`. For instance: in `frame.py`:
[code]
and in `series.py`:
[code]
Although the `inplace` is `False`, the return type can still be `None`.

[2021-04-11 21:55] jreback commented on #32218
we would take a PR with a validation test

[2021-04-11 21:56] jreback commented on #32413
we would take a PR with a validation test

[2021-04-11 22:09] cgarciae commented on #32413
I see, I can add a test for this.

[2021-04-11 22:09] cgarciae commented on #32413
take

[2021-04-12 00:18] LarWong commented on #40737
It seems like the following overload caused the error above:
[code]
Adding `None` to the return type seems to have solved the issue above:
[code]
However, this defeats the purpose of the overload signature.

[2021-04-12 00:49] kunal21sinha commented on #40680
Okay sure, will work on it.

[2021-04-12 04:46] mroeschke commented on #9188
This looks correct from Tom's example now. Could use a test

[code]

[2021-04-12 04:58] mroeschke commented on #9253
I believe https://github.com/pandas-dev/pandas/issues/8914 more appropriately captures that `NaT` should be supported in _pandas_ plotting functions as Tom mentions we cannot do anything on the matplotlib side.

Going to close this in favor of that issue.

[2021-04-12 04:58] #9253 closed

[2021-04-12 05:09] mroeschke commented on #9406
This looks fixed on master. Could use a test

[code]

[2021-04-12 07:20] oregano90 commented on #14553
This would be a great feature!

[2021-04-12 07:45] mohansaimandalapu commented on #40876
Hi MarcoGorelli

I would like to take up this issue, this is my first open source PR, I couldn't understand the issue completely. It would be great if you can elucidate it. Thank you

[2021-04-12 08:06] MarcoGorelli commented on #40876
Sure. At the moment, we alias `DataFrame | Series` as `FrameOrSeriesUnion`, the issue is simply to remove the alias. So:

1. remove this check:

   https://github.com/pandas-dev/pandas/blob/895f0b4022562d33e485c5d4eab1014d18656e0c/.pre-commit-config.yaml#L83-L88

2. remove this alias:

   https://github.com/pandas-dev/pandas/blob/895f0b4022562d33e485c5d4eab1014d18656e0c/pandas/_typing.py#L97-L101

[2021-04-12 08:08] MarcoGorelli commented on #40737
Hi @LarWong ,

Now that `mypy` can correctly infer the type of `arr = Series(self).fillna("")` (because of your overloads), then `arr = cast(Series, arr)` should no longer be necessary. I think it should be possible to just remove that line - could you try that please?

[2021-04-12 08:13] simonjayhawkins commented on #38946
moved to 1.2.5

[2021-04-12 08:17] simonjayhawkins commented on #39688
moved to 1.2.5

[2021-04-12 08:18] simonjayhawkins commented on #39290
moved to 1.2.5

[2021-04-12 08:22] MarcoGorelli commented on #40873
Thanks @datapythonista !

The tests miss quite a few lines:

https://github.com/pandas-dev/pandas/blob/735f40cb2b820e949e7a0540fc86dba2453a2dbe/scripts/validate_unwanted_patterns.py#L87-L88

https://github.com/pandas-dev/pandas/blob/735f40cb2b820e949e7a0540fc86dba2453a2dbe/scripts/validate_unwanted_patterns.py#L371-L372

https://github.com/pandas-dev/pandas/blob/735f40cb2b820e949e7a0540fc86dba2453

[2021-04-12 08:28] simonjayhawkins commented on #32413
also seems fixed on 1.2.x (fixed in 1.2.0)

[2021-04-12 08:35] simonjayhawkins commented on #40841
removed 1.2.x milestone as this is an regression in 1.1.0

[2021-04-12 08:41] cvonsteg commented on #14553
Thank you all for the offers of help - the PR is [here](https://github.com/pandas-dev/pandas/pull/29636).  I've re-worked it and functionally it should all work now, however the build still fails due to some house-keeping (and seemingly some unrelated tests).  Please feel free to have a look and offer any suggestions or feedback which you can think of!

[2021-04-12 09:06] alexveden opened #40891 "BUG: for pd.Series with tz-aware index resample shifts time-labels after DST time transition"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-12 09:32] jorisvandenbossche commented on #40841
@simonjayhawkins I added back the milestone (but 1.2.5), as this is still a *recent* regression (not everybody directly upgrades to the next pandas when released, and 1.1.x is quite recent).

If there is a PR to fix this, I think it is appropriate to backport it.

[2021-04-12 09:41] simonjayhawkins commented on #40841
OK but we have the regression milestone to track regressions. I tend to use the 1.2.x milestones to track the regressions from the last minor release, i.e. 1.2.

sure. not having the milestone does not prevent us backporting older regression fixes.

[2021-04-12 09:51] simonjayhawkins commented on #40841
Maybe an alternative could be to have 2 regression labels. released and unreleased instead of using milestones. (Although the blocker label is sometimes used for unreleased regressions)

[2021-04-12 09:51] jorisvandenbossche commented on #39688
I don't think this needs to be fixed for 1.2.x. It's not an error in our documentation, but a compatibility issue in our validation scripts. I think it's fine to target that for 1.3, and keep it pinned on 1.2.x

[2021-04-12 09:51] sbrsankar commented on #40859
thanks for your reply
Thanks
Sabari Sankar Mohan

On Sat, Apr 10, 2021 at 2:23 AM Marco Gorelli ***@***.***>
wrote:

[2021-04-12 09:54] simonjayhawkins commented on #39688
sure. removing milestone.

[2021-04-12 10:14] jorisvandenbossche commented on #21792
@xhochy this is generally fixed, in the meantime. The example now returns an object-dtype columns, but Fletcher can now override this by implementing the `_get_common_dtype` on the extension dtype to control casting behaviour in concat (https://github.com/pandas-dev/pandas/pull/33607)

[2021-04-12 10:14] #21792 closed

[2021-04-12 10:30] adrien-berchet opened #40892 "BUG: map nested dict on categorical Series prints a TypeError and ignores it"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-12 10:34] simonjayhawkins commented on #40799
first bad commit: [c1484b1e9801e11f7266c4355f8f3d05bcc8ee86] PERF: pd.to_datetime, unit='s' much slower for float64 than for int64 (#35027)

[2021-04-12 10:35] simonjayhawkins commented on #40799
moving to 1.2.5

[2021-04-12 10:50] jorisvandenbossche opened #40893 "API: value-dependent behaviour in concat with all-NA data"
In general, we want to get rid of value-dependent behaviour in concat-operations: the resulting dtype of a concat-operation only depends on the input *dtypes*, and not on the exact content (the exact values) of the inputs.

This has been discussed in the past on general occasions, eg in https://github.com/pandas-dev/pandas/pull/33607 when adding the general EA interface for concat (there is still

[2021-04-12 10:55] datapythonista commented on #40873
Seems to me that these two last `elif` should be just one checking the end of the first line, and the start of the second. Doesn't make much sense this way.

But in any case, that was added for some case that wasn't working with the simple validation of `if the space is not at the end of the first line instead of at the beginning of the second, then fail`. So, if there is nothing in our code now t

[2021-04-12 11:05] jdouglas7122a commented on #40605
Have you tried adding the colour list as an argument to the dataframe your using, then referencing that attribute of the df in the scatter? I had a similar problem with mpl.scatter, and that fixed it

[2021-04-12 11:09] simonjayhawkins commented on #39519
#36843

[2021-04-12 11:19] simonjayhawkins commented on #39519
It appears this was an intentional change https://github.com/pandas-dev/pandas/issues/36796#issuecomment-704664641

[2021-04-12 11:23] simonjayhawkins commented on #40371
can confirm first bad commit: [45ac7dafe280b8d5430e86f05cd63d859fcc61a9] PERF: replace_list (#38097)

[2021-04-12 11:32] simonjayhawkins commented on #40168
#40878 to be merged. other issues/PRs moved to 1.2.5 https://github.com/pandas-dev/pandas/milestone/85

[2021-04-12 12:21] niall0 commented on #40404
Hi @MarcoGorelli  - I haven't set up a virtual environment before but I can give it a go. Not sure when I will get to it though!

[2021-04-12 12:27] jorisvandenbossche commented on #40662
As mentioned on https://github.com/pandas-dev/pandas/pull/40878/files#r611582186, the reason that it started to return a DataFrame, is exactly because `out` was ignored, so it's a side effect of the actual bug/regression.

[2021-04-12 13:31] #17130 closed

[2021-04-12 13:35] simonjayhawkins commented on #40168
pre-release checklist

- [ ]  https://github.com/MacPython/pandas-wheels/pull/130
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ]  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.3.html
- [ ]  ci checks https://github.com/pandas-dev/pandas/commits/1.2.x
- [ ]  no manual backports outst

[2021-04-12 14:27] #40662 closed

[2021-04-12 14:41] #33463 closed

[2021-04-12 15:29] jorisvandenbossche opened #40896 "BUG: the __from_arrow__ conversion for numeric arrays broken if buffer size doesn't match"
Report from https://issues.apache.org/jira/browse/ARROW-12336

The original reproducer is (but it would be good to see if we can find a simpler case for a test):

[code]

which gives

[code]

[2021-04-12 15:32] jorisvandenbossche commented on #40896
The issue comes from those lines:

https://github.com/pandas-dev/pandas/blob/4aeb8f2f1a75df4673ef46cac49b8c0cd22a74bc/pandas/core/arrays/_arrow_utils.py#L28-L29

Where we need to slice the buffer from `buflist[1]` before passing it to `np.frombuffer`, instead of afterwards.

[2021-04-12 15:40] ShaharNaveh commented on #40873
IIRC the reason for those two ```elif``` was to be as explicit as possible, in order to cover as much cases as possible I guess it slipped from me that they are not really useful :sweat_smile:

IIRC they did catch something in the codebase back then, but that was a year ago, I'm not really sure.
Any way, I think it would be better to remove them, as long as they don't seems to be needed. You can a

[2021-04-12 15:40] LarWong commented on #40737
@MarcoGorelli Hi, I removed the cast lines, and the errors have been resolved. Thanks!

Another issue that I seem to be running into involves the Database/Linux_py37_IO PR test. I'm not sure if the error is due to something I added into the PR or some external factor. All tests except the CI/Checks test passed in my previous commit (prior to removing `arr = cast(Series, arr)`). I'm getting the fol

[2021-04-12 15:46] simonjayhawkins commented on #40168
starting release now. (and re-running pre-release checks. will not push tag till these have passed)

pre-release checklist

- [ ]  https://github.com/MacPython/pandas-wheels/pull/130
- [ ]  release readiness passing https://github.com/simonjayhawkins/pandas-release/actions?query=workflow%3A%22Tag+Release%22
- [ ]  release notes checked https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.2.4.html

[2021-04-12 15:47] jreback opened #40897 "DOC: move *most* of Other Bug Fix section"
https://pandas.pydata.org/pandas-docs/dev/whatsnew/v1.3.0.html#other

should create a new Styler section & move things to the relevant categories.

[2021-04-12 15:47] jreback commented on #40897
cc @attack68

[2021-04-12 15:52] ThomasBlauthQC commented on #40896
I'd be happy to look into this!

[2021-04-12 16:15] cgarciae commented on #32218
take

[2021-04-12 16:18] cancan101 commented on #6638
I don't think that weekly should be a sub period of annual. Perhaps weekly should be a subperiod of ISO weeks (https://en.wikipedia.org/wiki/ISO_week_date).

I did notice that this seems wrong:
[code]

[2021-04-12 16:43] simonjayhawkins commented on #40168
building the docs is much slower than the previous release. It looks like it is only using one core. will push tag after ci checks on 1.2x are green. (I did a dummy release on Saturday so hopefully no changes that would cause the docs not to build)

[2021-04-12 17:03] simonjayhawkins commented on #40168
ci checks completed on 1.2.x but since Travis job took a while the doc build is now at 87% so will wait a little and check the docs before pushing tag.

[2021-04-12 17:23] jorisvandenbossche commented on #40168
Ah, yes, we should maybe have included https://github.com/pandas-dev/pandas/pull/40761#issuecomment-815095979 for the 1.2.4 release... Otherwise @simonjayhawkins you can also pin the pydata-sphinx-theme to version 0.5.2 instead of using the latest (which is 0.6.0 right now)

[2021-04-12 17:35] simonjayhawkins commented on #40168
docs built and uploaded. will add 1.2.5 milestone #40761

[2021-04-12 18:41] attack68 commented on #40892
the same also occurs on master.

[2021-04-12 18:49] simonjayhawkins commented on #40168
@jorisvandenbossche I recall some issue with caching on the web server in the past. the docs are OK at  https://pandas.pydata.org/pandas-docs/version/1.2.4/ but don't look right at https://pandas.pydata.org/docs/

does this sort itself out or some action needed?

[2021-04-12 18:56] phofl commented on #40892
If I execute this in the debugger the code exits

[code]

[2021-04-12 19:28] mikeronayne opened #40904 "BUG: to_string with index=False incorrectly shifts truncation (ellipsis) column"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-12 19:37] mikeronayne commented on #40904
I think `_insert_dot_separator_horizontal` in `pandas\io\formats\string.py` needs to account for `self.fmt.index` being `False`.

[2021-04-12 19:57] simonjayhawkins commented on #40168
seems ok now.

[2021-04-12 20:46] MarcoGorelli commented on #40826
This'd be an argument for keeping it separate - if there's any check in the that's not relevant outside of pandas development, then a great thing about flake8 is that it's easy to configure, so people can disable any rules they don't want

I've opened #40906 to show how this would work, and the repo can be viewed here: https://github.com/MarcoGorelli/pandas-dev-flaker

Thanks for the comments so f

[2021-04-12 22:09] fangchenli commented on #29011
The setup script is outdated since all the CIs we are using all have some kind of miniconda integration. Azure has miniconda installed by default now, so we actually don't need to install it every time. And we are using conda-incubator in GitHub actions.

[2021-04-12 22:13] fangchenli commented on #25052
Excel IO has 90.95% coverage in the codecov report.

[2021-04-12 23:03] jbrockmendel commented on #40841
In the OP, do we expect the concatenated Index to be object dtype or datetime64tz?

[2021-04-12 23:31] botant opened #40911 "pct_change and negative values"
### Problem description

The behaviour of `pct_change` when there are negative numbers could be improved.

[code]

There are basically two ways of calculating %change with negative numbers, depending on what you want.

**1) Usual `(p_1 - p_0) / p_0` or `(p_1 / p_0) - 1`**

This results in %changes that have correct dimension but *wrong* direction; %change and difference have different signs.

On t

[2021-04-13 00:47] nathanielatom commented on #40841
In pandas v1.0.5 the resulting index is object dtype:

[code]

I also edited/updated the OP with the full DataFrame.

[2021-04-13 01:42] trenton3983 opened #40913 "BUG: pandas styling doesn't display for all rows in large dataframes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-13 03:01] Liam3851 opened #40915 "BUG: tz_localize gives incorrect shift_forward value in some European timezones"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

When attempting to localize a non-existent time in the Europe/London timezone using the nonex

[2021-04-13 03:24] lithomas1 opened #40916 "DOC: How to split a PR"
#### Location of the documentation

https://pandas.pydata.org/docs/dev/development/contributing.html#updating-your-pull-request

#### Documentation problem

It is somewhat common to send in a large pull request for review and have a maintainer ask to split a large pull request up into several precursor pull requests. However, the process of doing so can be somewhat tricky, so it should be mentione

[2021-04-13 04:27] mroeschke commented on #40915
Looks like this might be a repr issue

[code]

[2021-04-13 05:57] mroeschke commented on #40915
Tracked down the issue to this line in `_localize_tso`

https://github.com/pandas-dev/pandas/blob/7d4757b4deb851bb44ab6bb20cdc404fa13fffcf/pandas/_libs/tslibs/conversion.pyx#L737

in which for the `'shift_forward'` we actually want the right edge index

[code]

[2021-04-13 06:01] joha1 commented on #35917
I also have this issue with some rather old hdf files (2+ years, made with python 2.7 and who knows what pandas version).
As a quick fix,

works for me with a regular (monthly) index.

[2021-04-13 07:44] simonjayhawkins commented on #40168
https://github.com/conda-forge/pandas-feedstock/pull/110#issuecomment-818520131

[2021-04-13 07:47] bashtage commented on #40168
Top right.

![image](https://user-images.githubusercontent.com/5585221/114516015-e76f5e00-9c34-11eb-8cb6-c3539606eecc.png)

[2021-04-13 07:50] simonjayhawkins commented on #40168
Thanks @bashtage wasn't logged in!

[2021-04-13 07:58] jorisvandenbossche commented on #40168
The underlying issue that we experienced a while ago should be fixed (the CSS file now has a hash in the file name, so whenever there is a change in the CSS, the name changes and browser/server shouldn't incorrectly cache it).

(but so if you would still notice it later, certainly report it!)

[2021-04-13 08:08] simonjayhawkins opened #40917 "RLS: 1.2.5"
Tracking issue for the 1.2.5 release.

https://github.com/pandas-dev/pandas/milestone/85

Currently scheduled for May 10, 2021

List of open regressions: https://github.com/pandas-dev/pandas/issues?q=is%3Aopen+is%3Aissue+label%3ARegression

[2021-04-13 08:22] GPoloVera commented on #21901
Is this going to be included any time soon?
I think it is quite useful to be able to merge 2 dataframes using this concept of "intersection", i.e, if an point that belongs to one of the Dfs intersects with the interval of the other this is considered as a match. It is quite similar to the concept of sapatial joins that is present in GeoPandas. Looking at it this way I do not see why inner/outer jo

[2021-04-13 08:48] simonjayhawkins commented on #39519
@jorisvandenbossche potential discussion item for dev meeting tomorrow.

[2021-04-13 08:54] amznero opened #40918 "BUG: Load ORC-format data failed when pandas version>1.2.0.dev0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.
https://github.com/pandas-dev/pandas/blob/master/pandas/io/orc.py#L15-L54

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

Pandas uses [PyArro

[2021-04-13 09:37] oliverpjon opened #40919 "QST: I have tried lots of different suggestions but still cannot import pandas / numpy into pycharm"
![image](https://user-images.githubusercontent.com/82443972/114531780-7f2c7680-9c4c-11eb-87f6-1c3ca6f24d69.png)

I have installed both using PIP as seen in photo
but always get this in pycharm
![image](https://user-images.githubusercontent.com/82443972/114531897-99665480-9c4c-11eb-8414-5c601fb5ecfc.png)

[2021-04-13 09:45] ghuname opened #40920 "QST: Can read_sql ignore the condition if parameter is None?"
If I have params and sql defined as this:

[code]

Everything works as it should if I am reading the sql like this:

`df = pd.read_sql(sql, params=params)`

But, if for example `params['field3'] is None` (instead of `100` or any other value) I would like to ignore condition `and table.field3 = %(field3)s`.

Can I use read_sql and have such behaviour with pandas read_sql or jinjasql is my only opti

[2021-04-13 09:52] MarcoGorelli commented on #40919
Hi @oliverpjon ,

Thanks for your question, but this isn't really the place to debug IDE issues - can you try asking on StackOverflow / some PyCharm forum please? Thanks :+1:

[2021-04-13 09:52] #40919 closed

[2021-04-13 10:19] RafayAK commented on #33971
Can I help somehow fast-track this? Seems like no progress on this since last year

[2021-04-13 10:33] jreback commented on #21901
@GPoloVera you are welcome to submit a PR for things

[2021-04-13 11:02] melkonyan opened #40921 "BUG: max()/min() don't work on DataFrames constructed from scipy sparse matrix"
Example:
[code]
Expected output:
[code]

Actual output:
[code]

System info:
[code]

[2021-04-13 11:53] #39983 closed

[2021-04-13 12:00] phofl commented on #40921
This raises
[code]

for me. Could you check your example?

[2021-04-13 12:10] melkonyan commented on #40921
My bad, updated

[2021-04-13 12:13] #40533 closed

[2021-04-13 14:09] #40897 closed

[2021-04-13 15:05] Swanand01 commented on #40876
Hello @MarcoGorelli.
First time contributor here.  I would like to take up this issue.
If i understand correctly,
the check:

` -   id: frame-or-series-union
     name: Check for use of Union[Series, DataFrame] instead of FrameOrSeriesUnion alias
     entry: Union\[.*(Series,.*DataFrame|DataFrame,.*Series).*\]
     language: pygrep
     types: [python]
     exclude: ^pandas/_typing\.py$ `

and

`

[2021-04-13 15:07] Swanand01 commented on #40876
Hello @MarcoGorelli, first time contributor here. I would like to take up this issue.
If I understand correctly, the check and alias have to be removed, and all instances of FrameOrSeriesUnion in the codebase have to be replaced with Series | DataFrame.
Thank you.

[2021-04-13 15:36] lithomas1 commented on #40918
pyarrow.orc doesn't seem to work in general for pyarrow > 0.15.0 I think. On pip, I get
[code]
and with conda I get
[code]
(both with pyarrow 3.0.0)
Maybe related? https://issues.apache.org/jira/browse/ARROW-7811

[2021-04-13 15:37] mroeschke commented on #40705
Thanks for the report. I suspect this has the same underlying issue as https://github.com/pandas-dev/pandas/issues/40915

[2021-04-13 15:55] #36719 closed

[2021-04-13 15:56] joonlimeecs commented on #40876
take

[2021-04-13 16:37] MarcoGorelli commented on #40876
I think @mohansaimandalapu is already working on this

[2021-04-13 17:12] #33449 closed

[2021-04-13 17:12] #37506 closed

[2021-04-13 17:12] #40585 closed

[2021-04-13 17:31] mzeitlin11 commented on #40920
The action of `params` depends on your database driver (pandas just forwards it along, doesn't do anything with it). So unless a driver supports this, pandas cannot support this (and I don't think adding such support would be in scope for pandas). I'd suggest just writing a quick helper to build the query before the `read_sql` step, in that way you can log it, etc, to see what query you're actuall

[2021-04-13 17:51] ghuname commented on #40920
Hi @mzeitlin11,

than jinjasql is the best bet.
Thanks for clarifying.

Regards.

[2021-04-13 18:13] mzeitlin11 commented on #40920
Thanks @ghuname! Closing as resolved, but please ping if you run into other issues

[2021-04-13 18:13] #40920 closed

[2021-04-13 18:21] 5igno commented on #10349
Hi there, would indeed be great to be able to store the measurement unit for the columns of DataFrame or as some kind of metadata. Given the breath of use of pandas, of which only a small subset cares deeply about units, I am of the opinion that unit conversion could be handled externally by packages like `pint` or `astropy`. However, one thing that would be needed to both approaches is that value

[2021-04-13 18:26] 5igno commented on #2494
Just as a comment, the approach suggested here leaves the rom to the possibility of quantities that have inconsistent values from one row to the next. The measurement unit should be something that describes the content of each column, as e.g. some column metadata.

[2021-04-13 19:12] phofl commented on #40921
This is not implemented. The error is caught in the call stack and an empty result is returned.

[2021-04-13 19:53] joonlimeecs commented on #40876
I thought multiple contributors on a single issue is allowed, my bad.

[2021-04-13 20:05] jorisvandenbossche opened #40931 "BUG:"

[2021-04-13 20:05] jorisvandenbossche commented on #40931
Sorry for the noise

[2021-04-13 20:05] #40931 closed

[2021-04-13 20:15] jorisvandenbossche opened #40932 "Proposal: a new nullable Timestamp data type with support for non-ns resolutions"
Motivation for this proposal: for full dtype support with nullable dtypes, we also need a nullable version of the datetime-like dtypes. For backwards compatibility, we need a new dtype (like we did for the other nullable dtypes), and that's what the proposal below is describing. And when creating a new dtype, I think it is the perfect opportunity to have a different default for the resolution (eg

[2021-04-13 20:43] pg1671 commented on #33971
Running on the T4g instances on AWS and compiling Pandas takes over half an hour which is more than half the time it takes for my chef script to setup the server.

Would be great if pandas had an aarch64 package as these AWS instances have big price performance advantages.

[2021-04-13 21:13] jbrockmendel commented on #40932
There are two unrelated things here: 1) implementing non-nano resolution, and 2) implementing a MaskedArray wrapper around the existing DatetimeArray/TimedeltaArray.

The former mostly takes place in the cython code and doesn't need to know anything about the the np.datetime64 dtype, much less whatever EADtype we want to wrap it with.  I've begun work on this.

The latter I don't care about enough

[2021-04-13 21:21] rhshadrach commented on #40168
@jorisvandenbossche - When I clicked on the https://pandas.pydata.org/docs/ link above, I had to refresh the page for the CSS to properly render. Don't know if it as a cache issue or just a glitch.

[2021-04-13 21:38] datapythonista commented on #40932
About supporting different resolutions, I may have funding to work on it later this year, as part of a project which requires year resolution to work on very long periods (i.e. millions of years). It is not confirmed yet. If it happen, I should start working on this in September.

[2021-04-13 21:44] phofl opened #40933 "BUG: Inconsistency for iloc between np.array and pd.array"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-13 22:39] jreback commented on #33971
the blocker is CI testing; though we recently got some credits from travis for this

i don't think we have a problem doing the releases

if folks want to donate time to help out would be great

[2021-04-13 23:09] #40814 closed

[2021-04-13 23:09] jreback commented on #40814
@jamesmyatt happy to take updates to use 1.17 features that are now available by default

[2021-04-13 23:19] #40480 closed

[2021-04-13 23:22] #40809 closed

[2021-04-13 23:34] mzeitlin11 opened #40935 "API: Should isna return a copy for nullable types?"
This came up in #40651, seems worth resolving.  Right now `BaseMaskedArray` just directly returns `self._mask` in the implementation of `isna`. This could lead to some unintuitive user-facing behavior like:
[code]
Seems like `isna` should return a copy instead to avoid this. One potential downside is losing an API-supported way to obtain 0-cost access to the mask (xref #34873).

[2021-04-13 23:44] jreback commented on #40935
yeah this should return a copy

aside from that we could implement public methods that provide access with 0 copy

[2021-04-14 02:35] lithomas1 commented on #33971
I think the problem is the red CI on release builds for arm64 blocking releases. https://travis-ci.com/github/MacPython/pandas-wheels/builds/222854568
This should probably not be a problem on next release, given that our arm64 CI is back and is currently green.

[2021-04-14 04:45] tombohub commented on #15988
+1

[2021-04-14 07:19] amznero commented on #40918
Seems this problem(pyarrow.orc) is related to the operating system

I can run it successfully on Linux(Ubuntu), but I have the same problem as you mentioned on Windows10.

![image](https://user-images.githubusercontent.com/16681550/114669707-c2faab00-9d34-11eb-8f11-4bee4c422812.png)

---

Maybe related to https://stackoverflow.com/a/58967391

[2021-04-14 08:08] randomseed42 opened #40936 "pandas series append will lost original name if new series name is different"
#### Question about pandas

pandas series append will lost original name if new series name is different, probably can improve by adding an arg like retain_name=True?

[code]

[2021-04-14 08:50] TheDerivator opened #40938 "QST: Only the first 100 columns are suggested in tab completion"
The [:100] in the following code implies that tab completion which relies on dir( ) will only consider the first 100 columns.

- Is there a reason for the magic number? Why not remove it?
- Alternatively, make it optional with something like pd.set_option('display.max_dir_items', None)?

Which is better?

https://github.com/pandas-dev/pandas/blob/88df92f221a6f7634a825125a54937f1ad01b919/pandas/cor

[2021-04-14 08:54] taytzehao commented on #40849
Take

[2021-04-14 08:55] ZOUG commented on #37686
Calling `read_excel` twice would require reading the file twice. For large files, that would slow down the loading process. The following alternative would be better.

[code]

[2021-04-14 09:47] attack68 commented on #40913
This is a duplicate issue. You can read more here: https://github.com/pandas-dev/pandas/issues/39400.

Essentially this is a browser limitation issue, and has nothing to do with pandas (see the last two posts in the above thread)

Additionally you can read more about solutions in the upcoming pandas 1.3.0 docs. currently here: https://pandas.pydata.org/pandas-docs/dev/user_guide/style.html#Optimiz

[2021-04-14 10:26] enricorotundo commented on #13090
Ran into this error with DatetimeIndex and `.loc[window_start:window_end]`. Solved by `.sort_index()`. Without @jreback answer, it would have been quite obscure to workaround.

[2021-04-14 11:40] bashtage commented on #40932
My personal take on timestamps is that 64 bits is just not enough.  I think a propper future proof timestamp would need to be 96 bits, which would naturally be implemented as a int128/uint128.  While this adds some complexity, there are some well developed libraries that let these types be seemlessly handled across compilers.

96 bits allows for effectively infinite length spans at the ns precisio

[2021-04-14 12:08] jorisvandenbossche commented on #40932
@bashtage do you think there are many use cases that need *both* of nanosecond resolution and million+ time range? For example with micro-second resolution, you already have +/- 2.9e5 years, and with second resolution you get the million+ time range (+/- 2.9e11 years).

It might well be that there are well-developed libraries to handles int96 types, but the core libraries we will typically depend

[2021-04-14 12:26] jorisvandenbossche commented on #40932
@jbrockmendel can you try to explain why you find this pointless? How would you provide a datetime dtype with nullable semantics? (using the existing DatetimeArray?)

@datapythonista Interesting! Now specifically related to the above quote: do you need to *resolution* to be "year" for that project, or would the time range of "second" resolution also be fine, since this already can provide millions

[2021-04-14 12:35] arredond commented on #39443
take

[2021-04-14 12:44] DriesSchaumont commented on #40014
I think what happens here is that `x.gt(0)` calls `_cmp_method` and constructs a new `Series` through `_construct_result`. Note that the index length check happens when a new `Series` is constructed. `x.sum()` on the other hand does not construct a new series. The return type is `numpy.int64`. So it seems that using any function that constructs a new `Series` will fail, while the other will not. B

[2021-04-14 12:53] #40841 closed

[2021-04-14 12:55] #40346 closed

[2021-04-14 14:19] trenton3983 commented on #40913
- Arguably, since pandas is formatting the CSS/HTML in such a non-performant way, this is just as much a pandas issue as a browser issue.
  - [Styler Optimization](https://pandas.pydata.org/pandas-docs/dev/user_guide/style.html#Optimization) suggests solutions, which imply the styling is not optimized for large dataframes, which is specifically a pandas issue.

[2021-04-14 14:21] scmartin opened #40943 "BUG: View on DataFrame with a Multiindex using .loc doesn't give proper results for df.index.levels or df.index.levshape"
If I create a view on a subset of a dataframe with a Multiindex using `.loc`, if I print the index of the subset, it get the expected subset of the Multiindex. However `index.levels` and `index.levshape ` return the values for the original dataframe, not the subset.

[code]

#### Problem description

If the index of the created view is only the subset of values which appear in the view, the index

[2021-04-14 14:27] simonjayhawkins commented on #40168
all conda builds now successful and packages available on conda-forge (including aarch64)

[2021-04-14 14:34] #40168 closed

[2021-04-14 14:39] jorisvandenbossche commented on #40168
Thanks Simon!

@rhshadrach yeah, not fully sure (no expert in this area). In any case, the original issue is solved in the theme, so it might be normal that you still might need a refresh for your local cache (the previous time, it was actually the server that was caching it as well, and a local browser refresh didn't automatically solve that)

[2021-04-14 14:39] aster94 commented on #37686
Nice snippet @zoug

I am closing the issue

[2021-04-14 14:39] #37686 closed

[2021-04-14 14:59] Dr-Irv commented on #40168
Not sure how this works, but there were some updates to the cheat sheet (https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) available from https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf that I merged in a couple of weeks ago, and I don't think they got pushed out to the server.

[2021-04-14 15:20] Caballero93 opened #40946 "BUG: total_seconds() method returns zero for timedeltas smaller then 1 microsecond"
- [ ] I have checked that this issue has not already been reported.

- [ ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-14 15:29] simonjayhawkins commented on #40168
The docs are built from the backport branch.

[2021-04-14 15:32] Dr-Irv commented on #40168
The concern here is that the cheat sheet isn't in the normal docs hierarchy at https://pandas.pydata.org/docs/

[2021-04-14 15:48] simonjayhawkins commented on #40168
Is it available on the dev docs https://pandas.pydata.org/pandas-docs/dev/index.html

[2021-04-14 16:20] jorisvandenbossche commented on #40168
@simonjayhawkins you might be talking about the pdf docs, and not the pdf cheatsheet? (as I don't see that linked on the docs home page)

@Dr-Irv the cheatsheet is linked at the bottom of https://pandas.pydata.org/pandas-docs/dev/getting_started/index.html, but it should probably get a more prominent place (feel free to open an issue about that, since it is not related to the release)

But so you

[2021-04-14 16:20] shoyer commented on #40932
One question would be how this differs from the existing datetime64/timedelta64, with already allows for NaT.

+1 from me. Non-fixed periods introduce a bunch of different issues. In contrast, supporting the second to nanosecond range for precision is just a matter of adjusting conversions by multiples of 1000.

There are definitely use-cases for different (non-default) time resolutions, but to be

[2021-04-14 16:23] datapythonista commented on #40932
I think that would work too. Afaik for the use case I discussed, the first relevant "date" is when the earth was created, around 5 billion years ago, with granularity of years. `Period` didn't seem to have enough features for what was required, an option is also improving `Period` support.

In any case, if the project is finally happening, and I've got funding to work on this, I'll be discussing i

[2021-04-14 16:24] jorisvandenbossche commented on #40932
@shoyer NaT has a different behaviour as NA (NaT behaves like NaN, eg comparing to False). IMO we want a datetime-like dtype that follows the same semantics as the other nullable dtypes (in comparison and logical operations, etc).

[2021-04-14 16:24] jbrockmendel commented on #40885
i guess is_exact_shape_match is implicitly assuming that it has a sequence-of-ints indexer and needs to either check for boolean mask or ensure that is handled earlier?

[2021-04-14 16:44] simonjayhawkins commented on #40168
sorry I meant https://pandas.pydata.org/pandas-docs/dev/, the index.html is the default.

shouldn't the cheatsheet be under a version branch instead of at the top level?

[2021-04-14 16:59] Dr-Irv commented on #40168
@jorisvandenbossche

I'm fine with where the link is, but the link is to https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf so there needs to be something that regularly updates that top level PDF with what is in the repo.

Yes, that is correct.  The one in the GitHub repo is the latest.

We had some issue with this some time ago, and I don't know what happened on the back end to automate the proces

[2021-04-14 17:00] Dr-Irv commented on #40168
Decision was made and discussed here:  https://github.com/pandas-dev/pandas/pull/20366#issuecomment-373695756

Certainly worthwhile to consider moving it, although I think there are now people who link to the cheat sheet at its current location, so if it is moved, we may have to add a redirect to the site.

[2021-04-14 17:47] simonjayhawkins commented on #40168
presumably the top level link should be linked to 'stable' branch which is the latest release.

[2021-04-14 17:51] jherman3 opened #40948 "BUG: DateOffset addition gives UserWarning: Discarding nonzero nanoseconds in conversion"
- [x] I have checked that this issue has not already been reported.
- [x] I have confirmed this bug exists on the latest version of pandas.
- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

Output:

[code]

#### Problem description

This program produces correct answers in both cases, but gives a warning about

[2021-04-14 18:01] jbrockmendel commented on #40933
just to be clear, `rhs = pd.array([1, 2, 3])` gives an IntegerArray, not a PandasArray, right?

I think the behavior with ndarray is "more correct" here.  Do you disagree?

[2021-04-14 18:04] jbrockmendel commented on #40935
could do a readonly view

[2021-04-14 18:05] mzeitlin11 commented on #40936
Thanks for the report @randomseed42! This is one reason why using `concat` is suggested instead of `append` - `append` makes it seem like anything you append is just being added to that existing series, but it's really just a wrapper to creation of a new series as `concat((s1, s2))` (which is why the name is lost, since `concat` doesn't know which name to prefer).

That being said, I think retaini

[2021-04-14 18:14] jorisvandenbossche commented on #39519
The dunder methods are not meant to call directly like that, so we shouldn't guarantee any stability here IMO

[2021-04-14 18:23] AlexKirko commented on #40517
Apologies, a bit overwhelmed at work, but the weekend should be free to make another attempt at this.

[2021-04-14 18:25] phofl commented on #40933
Sorry, I meant the pandas array constructor. Yes this returns an IntegerArray.

Yeah I think so too

[2021-04-14 18:56] parkyo commented on #40933
take

[2021-04-14 19:10] Dr-Irv opened #40949 "DOC: Fix up auto build procedure to upload Cheat Sheet to web site"
Need to fix the procedures so that the PDFs (English, Japanese) for the cheat sheet here: https://github.com/pandas-dev/pandas/tree/master/doc/cheatsheet

get uploaded to here:
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

(and when the Japanese one is there, can update the docs to link to it as well)

Note:  If we decide to move the location on the web site, then we should do a redirect, beca

[2021-04-14 19:45] stevenschaerer opened #40951 "BUG: Issues with groupby ewm and times"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

This refers to the code that is currently on **master** https://github.com/pandas-dev/pandas/commit/84d9c5ed7965b3cc667b5a3a61d

[2021-04-14 20:19] attack68 commented on #40913
yes ok, a valid point. will present a marked departure from current implementation which might be quite extensive, so low priority. but leaving open for now.

[2021-04-14 20:23] phofl commented on #40943
Hey, thanks for your report.

This has nothing to do with the view. MultiIndex levels are not updated, when values are deleted from the Index, see for example:

[code]

still has

[code]

There was discussion about this in the past

[2021-04-14 20:25] phofl commented on #40943
See #36227 for example

[2021-04-14 20:27] joonlimeecs commented on #40936
Hi I'm new here, am I allowed to contribute on this issue?

[2021-04-14 20:29] mzeitlin11 commented on #40936
Sure, that would be awesome! I'll assign you now

[2021-04-14 20:35] mzeitlin11 commented on #40938
Thanks for the report @TheDerivator! This issue has come up a few times (the reason for the magic number is performance-related). I agree that something like an option might make more sense - if you have interest in improving this, let's move the discussion to #37996, since it contains a few of the issues and comments that provide some more context

[2021-04-14 20:35] #40938 closed

[2021-04-14 20:38] amilbourne commented on #39739
Phew!
Glad I didn't break anything.
@phofl - Thanks for the test

[2021-04-14 21:07] ricardoprins commented on #40611
Steps I took in a brand new M1 Macbook Air to make it work:

- Updated Python via Homebrew (3.9.4)
- Installed Cython (pip install cython)
- Installed Numpy without PEP517 (pip install numpy --no-use-pep517)
- Installed Pandas without PEP517 (pip install pandas --no-use-pep517)

[2021-04-14 22:47] Vysybyl opened #40956 "ENH: parallelize DataFrame.corr"
#### Is your feature request related to a problem?

DataFrame.corr(method="spearman") is extremely slow.
method="pearson" is quite slow too.
I can see from my machine resource monitor that the implementation is single threaded. Is it a design choice? If so, there should be at least an optional argument to parallelize it (at C++ level, of course).
I did not check the actual code implementing this m

[2021-04-14 23:16] jreback commented on #40956
@Vysybyl you're welcome to contribute an implementation

[2021-04-14 23:18] trenton3983 commented on #40913
- I also tried using [Set classes instead of using Styler functions][1], but it also seems to fail with a large dataframe

[code]
- Looking at `cls1` we can see the class in the cell
![image](https://user-images.githubusercontent.com/12875240/114791997-52f02300-9d3c-11eb-8d54-f608c50396bb.png)

- But it doesn't get set by with the table styles
![image](https://user-images.githubusercontent.com/128

[2021-04-15 00:01] kild95 commented on #40404
@niall0 - just a note to say that I was experiencing this today, but by simply updating pandas, the problem no longer persists.

I had been on pandas version 1.0.5

This is my current env setup that I have had success on:
![image](https://user-images.githubusercontent.com/47833090/114795227-f17f8280-9d42-11eb-9dca-0982f1fb7267.png)

[2021-04-15 00:54] lithomas1 commented on #40956
@Vysybyl We use cython for the corr code not C++. The relevant code can be found here. https://github.com/pandas-dev/pandas/blob/84d9c5ed7965b3cc667b5a3a61d5911b1748af49/pandas/_libs/algos.pyx#L324

[2021-04-15 02:00] Liam3851 commented on #40891
This is intentional, see [the docs](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects). When you do a resample('2H') you're asking for a timeseries of every 2 hours, in Pacific time, from a pre-DST time to a post-DST time. At the changeover, you skip an hour. So 2 hours after midnight PST on the DST change is 3:00 AM PDT. Two hours after that is 5:00 AM PDT

[2021-04-15 02:27] ZOUG commented on #37686
There is no API documentation for the `pd.ExcelFile` class. It should be added as well.

[2021-04-15 04:06] Srikanth421 commented on #13229
Page can't be found? What are we solving here?

[2021-04-15 04:16] #40014 closed

[2021-04-15 04:38] TheDerivator commented on #37996
I think I don't have the performance issue but regardless, I would propose to make it optional, and let the value (currently 100) be taken from the options so that

`pd.set_option('display.max_dir_items', None)`

would remove the cap.

[2021-04-15 06:25] MarcoGorelli commented on #40404
Thanks @kild95 - do you have a reproducible example so we can check when it was fixed?

[2021-04-15 06:29] MarcoGorelli commented on #40404
Seeing as both you and @niall0 mention pandas-profiling, I'm inclined to suggest the bug might be there

[2021-04-15 06:49] jorisvandenbossche commented on #13229
I think this can be closed now, I also don't directly find the original blog post.

[2021-04-15 06:49] #13229 closed

[2021-04-15 07:35] jorisvandenbossche commented on #40949
For the website and docs, we rsync to the server for every commit on master. For example for the website:

https://github.com/pandas-dev/pandas/blob/a25198cb57e37f6f06b304c854750df18d57e224/.github/workflows/ci.yml#L124-L126

I assume the reason the `--exclude='Pandas_Cheat_Sheet*'` is there, is because the cheatsheet is not actually included in the built web sources, so when rsyncing that, the ch

[2021-04-15 07:39] jorisvandenbossche commented on #39519
Alternative solution for when the right array operand is not exactly shape-aligned to avoid the axis:

Reshape (and potentially broadcast) the array so it automatically aligns on the index dimension (axis=0):

[code]

You need to do the same when using ufuncs like `np.logical_and` (those also don't have an axis keyword, and need correctly shaped arrays to ensure shapes are matching / broadcasting

[2021-04-15 07:40] jorisvandenbossche commented on #39519
So give that it's a dunder method that shouldn't be called directly, and given that there are alternatives, I think it is fine to close this issue.

(note, we could still discuss separately if we want to add a "flex" method for those logical operations, like we have a `df.add(..)` method that is equivalent to `__add__` but with more flexibility and keywords)

[2021-04-15 07:41] #39519 closed

[2021-04-15 07:41] attack68 commented on #40913
@trenton3983 can you post the rendered HTML - tis easier to spot bugs in that.

It might be related to this bug fix: https://github.com/pandas-dev/pandas/pull/39317

Unfortunately I was new to pandas at that point and didn't provide a PR that was easily back-ported to fix the 1.2.x versions in their workflow since it was a mixed PR. Meaning, the bug fix might only be 1.3.0 targeting release next m

[2021-04-15 10:22] lgharibashvili commented on #18843
Quick dirty patch for those who cannot wait for the fix:
[code]

[2021-04-15 12:15] datapythonista commented on #40949
Instead of another rsync, I think we can simply `cp` the cheat sheets from the repo to right location in the built web / docs after the web / docs are built. Does it make sense?

[2021-04-15 12:25] jorisvandenbossche commented on #40949
Yes, that's indeed even easier.

[2021-04-15 13:47] adonig commented on #37429
It looks like I might be running into the same problem. I try to convert the results of an operation to UInt64 and write them out to a parquet file later. The astype call causes the program to crash. When I leave off the astype call, it'll write the data to the parquet file as floating point numbers with one decimal which is always zero.

[code]

What I get including the DEBUG print statement is t

[2021-04-15 14:24] trenton3983 commented on #40913
<style  type="text/css" >
    #T_9a870_ .cls-1 {
          color: white;
          background-color: darkblue;
    }</style><table id="T_9a870_" ><thead>    <tr>        <th class="blank" ></th>        <th class="blank level0" ></th>        <th class="col_heading level0 col0" >val1</th>        <th class="col_heading level0 col1" >val2</th>        <th class="col_heading level0 col2" >val3</th>

[2021-04-15 14:24] abdullah-alnahas commented on #32993
I am facing a similar issue. I am using `df.duplicated(subset=['string_col'])` and it outputs some non-duplicate strings.

[2021-04-15 15:07] mzeitlin11 commented on #37996
Would be +1 on adding an option to give some flexibility here

[2021-04-15 15:15] mzeitlin11 commented on #40935
Readonly view seems like a good solution, only concern would be the inconsistency of
[code]
Are readonly views returned anywhere else? Copy-on-write view would be nice, but don't think that's easy w numpy.

[2021-04-15 15:31] mzeitlin11 commented on #18843
@rajeee, @jamesmyatt not sure about why that check is there, a well-tested PR trying to fix this issue by removing that would be a next step here if you (or anyone else) is interested!

[2021-04-15 15:47] kild95 commented on #40404
@MarcoGorelli - Sorry, but I don't have a reproducible example as I was using sensitive datasets from work.

That said, the only thing I had to do was update pandas (using conda).
I did not change any formatting of my data, add any 'hacky' workaround, nor did I need to update any other package.

You are correct in that this error arose when I was using pandas-profiling, but I was on version 2.10.0

[2021-04-15 16:28] lithomas1 commented on #38943
@jreback I think we ran out again. This is what I see on the dashboard.
![image](https://user-images.githubusercontent.com/47963215/114904381-a7db7a00-9dcc-11eb-8704-e58b4d139df9.png)

[2021-04-15 17:45] muraii opened #40965 "DOC: CSS in new doc theme truncates Series table rows."
#### Location of the documentation

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html

#### Documentation problem

System:
[code]

The `main` element on the page referenced renders too narrowly. This truncates longer entries.

![image](https://user-images.githubusercontent.com/403865/114914259-52f52f00-9ddf-11eb-9ccc-666404c1264a.png)

#### Suggested fix for documentati

[2021-04-15 18:49] jbrockmendel commented on #40932
I would implement a NullableDatetimeArray as a hopefully-thin wrapper around the existing DatetimeArray.  (Presumably this would involve refactoring MaskedArray so it could also wrap PeriodArray, TimedeltaArray, ...)

[2021-04-15 19:10] deepers opened #40966 "BUG: ewm not working properly with times"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample

[code]

#### Problem description

This code computes a rolling EWM of a two element time series `[1, 2]` with a one second half life, assuming two secon

[2021-04-15 20:24] stevenschaerer commented on #40966
@mroeschke

Saw this bug report by chance. This is already fixed on master.

[code]

[2021-04-15 20:52] jbrockmendel commented on #34364
@realead something is going on in the ObjectHashTable, could have to do with the PYTHONSEED?

[code]

On this last line I'm getting zero in some runs, segfault in others, and the incorrect KeyError below in yet others.

[code]

[2021-04-15 21:21] #40737 closed

[2021-04-16 00:46] #39614 closed

[2021-04-16 01:06] #40826 closed

[2021-04-16 01:06] #40873 closed

[2021-04-16 01:11] #40904 closed

[2021-04-16 03:31] rhshadrach commented on #8427
@WillAyd - first is designed to work column by column whereas nth selects a single row. So it seems to me this inconsistency is purposeful (but agree it's confusing).

To me an ideal solution would allow a user to

 - get the nth value, either selecting a single row or column-by-column (note: this is different than using axis=1 in the grouby(...) call)
 - first/last as a shortcut for nth(0) and nt

[2021-04-16 04:25] rhshadrach commented on #9067
I'm -0 here; to me the most expected behavior of `pd.read_csv('filename.csv')` is to read the csv file with no additional processing. Changing the result, even if it's thought to be a very common use case, is unexpected. This agrees with a common [CSV specification](https://tools.ietf.org/html/rfc4180#section-2):

But of course, there is no true standard.

[2021-04-16 04:30] rhshadrach commented on #9738
I'm thinking this is now closable with nullable dtypes.

[2021-04-16 04:35] rhshadrach commented on #9945
Duplicate of #12653

[2021-04-16 04:35] #9945 closed

[2021-04-16 04:37] rhshadrach commented on #12653
I'm +1 on closing this, I don't believe the context manager is necessary.

[2021-04-16 05:07] DriesSchaumont commented on #11947
@jreback can is issue be closed?

[2021-04-16 05:36] DriesSchaumont commented on #33634
take

[2021-04-16 06:27] attack68 opened #40971 "API: `Series.quantile` and `DataFrame.quantile` should have consistent arguments"
`DataFrame.quantile` has a `numeric_only` keyword argument, and extends the calculation to timedelta and timestamp (not sure why str is not also included, I would suggest that a non-numeric element would typically include a string)

`Series.quantile` does not have the `numeric_only` keyword argument, and obviously doesn't work with the above dtypes.

The work around is to convert the Series to Dat

[2021-04-16 06:45] attack68 commented on #40971
Series detects dtype by default so this is unecessary

[2021-04-16 06:45] #40971 closed

[2021-04-16 08:07] jakehsiao commented on #40966
take this, even not sure whether can solve it or not.

[2021-04-16 08:18] NicoLoco opened #40972 "DOC: Improve describe() doc in getting started"
In the "getting started tutorial" here: https://pandas.pydata.org/docs/getting_started/intro_tutorials/01_table_oriented.html

The following sentence is incorrect
Many pandas operations return a DataFrame or a Series. The describe() method is an example of a pandas operation returning a pandas **Series**.

It should say "The describe() method is an example of a pandas operation returning a pandas

[2021-04-16 10:01] MarcoGorelli opened #40974 "TYP final `_take_with_is_copy` is overridden in series"
This method is declared as `final`:

https://github.com/pandas-dev/pandas/blob/526d52f91ee06ba9134762373ab3a0bb38395d8a/pandas/core/generic.py#L3629-L3630

It's then overridden in `series`:

https://github.com/pandas-dev/pandas/blob/526d52f91ee06ba9134762373ab3a0bb38395d8a/pandas/core/series.py#L866

The reason `mypy` doesn't detect this failure is that the override in `series` in untyped, and so

[2021-04-16 10:38] akald opened #40976 "BUG: Read Excel Unnamed Empty Columns"
Before I upgraded to Pandas v1.2.3, read_excel would sometimes create empty columns, titled "Unnamed: x". But after upgrading, it always creates empty unnamed columns and several of them. It seems like there should be a default such that empty columns that Pandas wants to call Unnamed don't show when reading in Excel.  Or that the read excel reverts to the old version (pre v1.2.3) where it wasn't

[2021-04-16 10:56] phofl commented on #40976
Please provied something reproducible

[2021-04-16 11:03] #11947 closed

[2021-04-16 12:00] MarcoGorelli opened #40977 "TYP: Signature of "rename" incompatible with supertype "NDFrame""
This isn't currently detected as `Series.rename` is untyped and so is unchecked

[2021-04-16 12:10] johannes-mueller opened #40978 "BUG: slicing a MultiIndex does not preserve the sequence of the index since pandas 1.2.0rc0"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

Between 1.1.5 and 1.2.0rc2 the behavior of slicing MultiIndexes has changed. Up to 1.1.5 slicing a MultiIndex like `df.loc[(slice(None), somel_items), :]` preserved the s

[2021-04-16 13:26] deepers commented on #40966
@stevenschaerer Thanks for checking on master.

However, one thing I noticed in your output for `ewm3` is that `group_by()` doesn't seem to respect the `group_keys=False` argument.

[2021-04-16 14:23] MarcoGorelli opened #40980 "TYP: Signature of "reindex" incompatible with supertype "NDFrame""
same story as #40977

[2021-04-16 14:35] realead commented on #34364
@jbrockmendel  I'm not able to reproduce this issue.

Maybe you can run something like

[code]

with `testme.py` being your example. After scanning PYTHONHASHSEED, you could find the one for which the example fails and then see, whether it always fails with this PYTHONHASHSEED-value.

[2021-04-16 14:50] jbrockmendel commented on #40974
i think remove the final

[2021-04-16 14:58] antoscha opened #40983 "BUG: module 'calendar' has no attribute 'day_abbr'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

[code]
Also I have built the latest 1.2.4 and the bug persists.
#### Expected Output

No outp

[2021-04-16 15:26] mzeitlin11 commented on #40972
Thanks for the report @NicoLoco! Could you please edit your issue title to reflect the content?

Agreed that this is wrong, though it's not quite so clear because `describe` can return a `Series` if applied to a `Series`. Clarification would certainly be helpful here since in the example usage the result is a `DataFrame`, not a `Series`.

[2021-04-16 15:29] yehoshuadimarsky commented on #36893
Almost done with first part, just stuck on a CI testing failure - anyone able to help? https://github.com/pandas-dev/pandas/pull/40556#issuecomment-821221567

[2021-04-16 15:32] xhochy commented on #36893
@yehoshuadimarsky I'll take a look in the next days!

[2021-04-16 16:14] #40824 closed

[2021-04-16 17:13] jbrockmendel commented on #40983
what do you get if you do

[code]

[2021-04-16 17:15] phofl commented on #40978
The reordering is expected since you've got duplicates in the second level. But the exact result is a bit unexpected. I would have expected the same as in

[code]

see #31330

[2021-04-16 17:37] emjironal opened #40986 "BUG: read_csv is failing with an encoding different that UTF-8 and memory_map set to True in version 1.2.4"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-16 17:43] #18291 closed

[2021-04-16 18:22] johannes-mueller commented on #40978
Ok, I get the logic behind it, that the resulting `DataFrame` is ordered in the same way as the index by which I sliced. Kinda makes sense, so I see its a "works as intended".

Yet, it is a little bit unsatisfying because it leaves me with the question, how to efficiently select items of a pandas object while preserving the original sequence. What I found fo that is something like
[code]
which res

[2021-04-16 18:42] #40951 closed

[2021-04-16 18:55] phofl commented on #40978
Intersection with sort=False is first thing which comes to mind.

Loc should in theory select in the order your indexer is, so your incoming sequence has to be the same order somehow.

[2021-04-16 18:56] phofl commented on #40986
cc @twoertwein any idea?

[2021-04-16 18:59] johannes-mueller commented on #40978
Cool. That seems to do it.

Thanks a lot, closing issue

[2021-04-16 19:08] phofl commented on #40978
The ordering is wrong for duplicates like in your example, will fix this shortly but lets leave open till then

[2021-04-16 19:22] twoertwein commented on #40986
Does it work with the python engine on 1.1.x and 1.2.x? `pd.read_csv(filepath_or_buffer="tmnt.csv", encoding="utf-16", memory_map=True, ..., engine="python")`.

I will have more time to look into this next week.

[2021-04-16 19:43] WillAyd commented on #8427
I think your second bullet feels right, and might have the added bonus of simplifying our code paths

[2021-04-16 20:00] WillAyd commented on #40674
Hmm yea this is a little strange. If you just look at the `to_json` output

[code]

You'll see that the "schema" part says there is a column with a name of `0`, but the actual JSON writes this out as a key of `"0"`

We _maybe_ should ensure that all of the names defined in the schema are strings for strict JSON compliance. There may be other solutions as well

[2021-04-16 20:02] antoscha commented on #40983
[code]

[2021-04-16 20:02] karthikeyann commented on #40695
Whichever option all users prefer, is good. I don't have any preference as long as it does not allow wrong mapping in the output.

[2021-04-16 20:04] antoscha commented on #40983
Oh, sorry, I created a file `calendar.py` which cause the error.

[2021-04-16 20:04] #40983 closed

[2021-04-16 20:30] phofl opened #40988 "DEPR: Deprecate downcast keyword for fillna"
This came up recently in #40861
Depending on the way forward this would allow us to get downcast out from Block or be stricter about it

Thougts?

cc @jbrockmendel @jreback

[2021-04-16 20:44] TheNeuralBit opened #40989 "BUG: fillna with limit and no method ignores axis='columns'"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-16 21:36] phofl commented on #40989
Should probably raise a ``NotImplementedError`` like

[code]

I think adjustment to the docs would be good too

[2021-04-16 21:48] phofl commented on #31308
I think this behaves now as expected

[code]

for the raising case

[2021-04-17 00:14] giovannirescia opened #40992 "BUG: Pandas changing values when inferring dtypes"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-17 00:31] phofl commented on #40992
This gives you your expected result

[code]

[2021-04-17 00:38] phofl commented on #40992
The inference is done with astype and float64, which causes the precision loss, maybe could document this clearer

[2021-04-17 00:42] giovannirescia commented on #40992
yes, even using `dtype='int'` or `dtype=False` solves the problem, but I was looking for an explanation on why this was happening, which you just validated.

[2021-04-17 02:10] twoertwein commented on #40986
It was easier to fix than expected :)

[2021-04-17 02:26] twoertwein commented on #40986
Nope, I was too optimistic :(

[2021-04-17 03:45] jbrockmendel opened #40996 "API: Categorical constructor with dtype raise instead of casting to NA"
[code]

Casting "foo" to pd.NaT here makes very little sense to me, and does not match the behavior of any of our other constructors.  I'm pretty sure this is why we have to do so much special-casing for Categorical in dtypes.cast and groupby ops.

Suggestion: we change/deprecate the behavior to raise instead of cast.

[2021-04-17 04:39] asishm commented on #40992
imo this should be a bug, having a default that leads to a loss of precision is not desirable. This is also a bit counter intuitive / inconsistent because this doesn't occur with CSVs.

[2021-04-17 06:50] Albelt opened #40997 "BUG: Compile failed on Raspberry Pi"
## Problem Description
I have followed the guidance of **README.md -> Installation from sources** , download the source code of master and excute the install commands. However, I got some errors when running this command
[code]
It looks like that the installation script called gcc and got some problems, here's the error report:
[code]
How can I solve this problem? Should I change the different gcc

[2021-04-17 09:42] phofl commented on #40992
I think this would be more of a enhancement of the inference logic in read_json

[2021-04-17 15:23] DriesSchaumont commented on #33634
Seems to be a problem with `concat`:
[code]

[2021-04-17 19:46] amznero commented on #40986
I looked into [pandas/io/common.py ](https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/io/common.py) and [pandas/io/parser.py](https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/io/parsers.py), found some points to discuss.

### 1. In [common.py-Line-783](https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/io/common.py#L783), it only uses "utf-8" to decode bytes when users setting m

[2021-04-17 20:29] 1Riyad commented on #40974
Hi, I'm interested in contributing. Could I help to solve this?

[2021-04-17 21:39] phofl commented on #39881
Would be fixed with #38977, but has a performance penalty so will see

[2021-04-17 21:55] phofl commented on #38482
Removed milestone since pr is closed and stale

[2021-04-17 23:34] phofl commented on #35865
This works now, may need tests

[2021-04-18 00:27] epasseto opened #41009 "BUG: Pandas Multicolumns don´t keep df.columns.name when modifiyng some colum"
Just imagine that I create a dataset with multicolumns like that:
`import pandas as pd`
`arrays = [["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
          ["one", "two", "one", "two", "one", "two", "one", "two"],]`
`tuples = list(zip(*arrays))`
`index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])`
`df = pd.DataFrame(np.random.randn(3, 8), index=["A", "B", "C"], columns

[2021-04-18 00:30] jreback commented on #41009
notice that in a multi index .names is the relevant attribute (and it's a list)

.name is not meaningful

[2021-04-18 00:30] #41009 closed

[2021-04-18 04:44] Bharat123rox commented on #40972
take

[2021-04-18 05:30] frobnitzem commented on #40820
Sounds like a solution would be for concat([]) to return a new object type representing both empty Series and empty DataFrames.  Perhaps there's a base class that makes sense there - I don't know enough to say.

For now, I just create my own `concatDF` function that only works on DataFrames.

[2021-04-18 05:49] mroeschke commented on #40966
Thanks for the report.

The ``__getitem__`` behavior looks be tested and will be fixed in the 1.3 release

https://github.com/pandas-dev/pandas/blob/04f9a4b10df91e6f4838dd8e1e41bd97141b6332/pandas/tests/window/test_ewm.py#L145

The `group_keys` docs (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html) state:

therefore, `group_keys` should only impact `groupby(...).apply(..

[2021-04-18 05:49] #40966 closed

[2021-04-18 06:05] mroeschke commented on #9738
Yes this appears to work now with the pandas nullable integer dtype (and I believe has testing), so I think this is safe to close.

[code]

[2021-04-18 06:05] #9738 closed

[2021-04-18 06:21] mroeschke commented on #9886
Looks like the remaining files in https://github.com/pandas-dev/pandas/issues/9886#issuecomment-283987303 have consistent import styles now. Going to close out this issue but happy to reopen if we re-catch inconsistent imports in the references.

[2021-04-18 06:21] #9886 closed

[2021-04-18 06:25] mroeschke commented on #9893
Agreed, I think `loc` is the more idiomatic way of adding a new row.

Since discussion for this feature has seemed to stalled, going to close for now.

[2021-04-18 06:25] #9893 closed

[2021-04-18 06:31] mroeschke commented on #9943
It appears that https://github.com/pandas-dev/pandas/pull/19849 was supposed to close this issue, but if that's not the case happy to reopen.

[2021-04-18 06:31] #9943 closed

[2021-04-18 06:37] mroeschke commented on #9952
This appears to "work" now (and give a sensible result IMO). I think it would be okay to add a test for this behavior

[code]

[2021-04-18 06:48] mroeschke commented on #10144
Looks like the lowercase versions don't exist anymore, so closing

[2021-04-18 06:48] #10144 closed

[2021-04-18 06:54] mroeschke commented on #10213
Probably better if we make separate issues where we can identify targeted areas to release the GIL; going to close for now.

[2021-04-18 06:54] #10213 closed

[2021-04-18 06:59] mroeschke commented on #10336
These looks to work on master now. I supposed could use a test

[code]

[2021-04-18 07:13] mroeschke commented on #10471
This is fairly old version of pandas and this test should be running on our Linux builds. Going to close for now but happy to reopen if its still showing up on master

[2021-04-18 07:13] #10471 closed

[2021-04-18 09:41] hscj87 opened #41014 "QST: Fastest way to combine two dataframes on common columns (based on nearest timestamp and same ID)"
I am trying to combine two dataframes (~10 Million rows) on column timestamp and ID. Due to both dataframes dont have the same timestamp for same ID, i need to use a function called 'map_RSRP' to combine both using conditions. However below codes consume very very long time (few days time) to load the 10 Millions rows of dataframe using my personal notebook. Is there any method/codes can be used t

[2021-04-18 11:28] phofl commented on #41014
Hi, please ask usage questions on stackoverflow

[2021-04-18 11:56] DriesSchaumont opened #41016 "ENH: add optional sort_order keyword to `concat()`."
#### Is your feature request related to a problem?

xref #33634
[code]
When concatenating, `concat` uses the index from the first series to determine the order of the non-concatenated axis.
It would be neat to have a way specify this order with either a function or a list. Currently, `sort=True` can be used, but it only allows for sorting.

#### Describe the solution you'd like

The solution could

[2021-04-18 12:03] jreback commented on #41016
we already have .reindex
-1 on additional keywords

[2021-04-18 15:55] #40874 closed

[2021-04-18 18:02] erfannariman opened #41021 "ENH: dropna should accept single column as string in subset argument"
#### Is your feature request related to a problem?

When giving a string in the `subset` argument to dropna based on a single column, we get an error:

[code]

#### Describe the solution you'd like

`DataFrame.dropna` should accept a single column subset as a string just like `DataFrame.drop_duplicates`

#### API breaking implications

None I could think of

[code]

[2021-04-18 18:14] melkonyan opened #41023 "BUG: Serializing sparse dataframe 15x slower than converting to dense version + serializing the dense version"
Code to reproduce:

[code]
Output:
[code]

Versions:

* python == 3.9.2
* pandas == 1.2.4

[2021-04-18 20:23] Sudomarko commented on #40638
take

[2021-04-18 21:01] fangchenli commented on #41023
About 10x on M1 mbp.

[2021-04-18 22:19] mroeschke commented on #41014
Indeed, this question would be better for stackoverflow.

Hint: check out https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge_asof.html

Closing

[2021-04-18 22:19] #41014 closed

[2021-04-18 22:34] mroeschke commented on #10710
Order seems to be respected now on master. Could use a test.

[code]

[2021-04-18 23:05] ssche commented on #39881
Thanks @phofl. I wasn’t able to solve it without a performance hit either...

[2021-04-18 23:16] mroeschke commented on #10774
Since the 2D indexing behavior is currently deprecated, we should appropriately raise once this behavior is enforced. Closing but we can reopen if we don't get the correct behavior in the future.

[2021-04-18 23:16] #10774 closed

[2021-04-18 23:21] #10849 closed

[2021-04-18 23:25] mroeschke commented on #10891
Looks like the link to the data 404s, and we would need a minimal example to reproduce the bug. Going to close due to needing more info but happy to reopen if we get a self-contained example.

[2021-04-18 23:25] #10891 closed

[2021-04-18 23:44] mroeschke commented on #11119
xref: https://github.com/pandas-dev/pandas/issues/10607

[2021-04-18 23:49] mroeschke commented on #11164
The level keyword in aggregation functions was recently deprecated in https://github.com/pandas-dev/pandas/pull/40869 so I don't this this bug will be relevant in the future once this keyword is removed. Closing but happy to reopen if I misunderstood anything

[2021-04-18 23:49] #11164 closed

[2021-04-19 00:36] mroeschke commented on #11179
I believe the current `_metadata` attribute might be able to solve this issue (https://pandas.pydata.org/pandas-docs/stable/development/extending.html#define-original-properties); therefore, I think this issue is solved by this feature. Happy to reopen this issue if `_metadata` doesn't completely address this use case

[2021-04-19 00:36] #11179 closed

[2021-04-19 01:22] parkyo commented on #40933
So it looks like there is no issue. The reason why you got different outputs was because you modified df directly once with pandas array and then applied iloc with a numpy array to the modified dataframe. Try it by declaring two dataframes for numpy array and pandas array like below.
![Screen Shot 2021-04-18 at 9 22 16 PM](https://user-images.githubusercontent.com/37603435/115169512-33366300-a08c-

[2021-04-19 01:34] parkyo commented on #40830
take

[2021-04-19 01:41] twoertwein commented on #40986
@amznero if you find a solution, please feel free to open a PR!

About 1): I'm not sure how `mmap` interacts with file handles. In my quick PR (that fails because of 2)+3)) I assumed that mmap bypasses the en/decoding of the original file handle, meaning https://github.com/pandas-dev/pandas/blob/v1.2.4/pandas/io/common.py#L783 should use the user-provided encoding.

[2021-04-19 04:05] chrisjdixon opened #41031 "ENH: Adding 'hidden=True' to 'to_excel', or efficiently hiding some excel tabs?"
I need to hide some excel tabs in an output from `to_excel`, and I'd like to do that with a parameter like `hidden=True`, but [no such parameter exists](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_excel.html). The only solution I can find is [hiding the sheet manually with openpyxl](https://stackoverflow.com/questions/23157643/openpyxl-and-hidden-unhidden-excel-w

[2021-04-19 04:46] linehammer commented on #11493
In most cases, it might be an issue with:

- the delimiters in your data.
- confused by the headers/column of the file.

The [error tokenizing data](http://net-informations.com/ds/err/token.htm) may arise when you're using separator (for eg. comma ',') as a delimiter and you have more separator than expected (more fields in the error row than defined in the header). So you need to either remove th

[2021-04-19 06:15] WangWenQiang opened #41032 "Some issues about processing empty strings into NaT when using pandas to_datetime"
Code and results:

[code]

[2021-04-19 07:29] mortada opened #41034 "DOC: there is no example for plotting asymmetrical errorbars"
#### Location of the documentation

[errorbar visualization](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html#plotting-with-error-bars)

#### Documentation problem

Currently there's only an example of the symmetrical case, i.e. where the lower/upper errors are the same. The asymmetrical case is supported but actually quite tricky to get to work. I could only find one [st

[2021-04-19 07:31] phofl commented on #40933
Your test is wrong.
Adding copy to the DataFrame assignment raises as expceted:

[code]

[2021-04-19 08:05] chrisjdixon commented on #41031
@jmcnamara has since answered my SO question, providing a great solution.

My issue is solved but I still think `hidden=True` is more elegant and beginner friendly than his answer, although I don't know what technical complications that might involve. I'll leave this open in case others think adding this is a good idea and easily done, otherwise please feel free to close this.

[2021-04-19 08:18] robertoweller commented on #27532
#### That's what solved it for me
[code]

[2021-04-19 08:30] jmcnamara commented on #41031
There are some potential issues with this proposal. The first is that any parameter added to `to_excel()` has to be supported by all the Excel engines. In addition, there are a lot of parameters and methods that are exposed by XlsxWriter and OpenPyXL (and xlwt) and it wouldn't be feasible to add them all to the `to_excel()` interface (in fact it probably already has too many). Finally, there is a

[2021-04-19 09:58] johannes-mueller commented on #40978
Just for completeness: in order to slice a MultiIndex while preserving the order like I tried in my demo above
[code]
does the trick.

[2021-04-19 10:13] asishm commented on #40992
Can close this as a duplicate of #20608 where it's classified as a bug

[2021-04-19 10:39] JavierRuano opened #41036 "BUG: Conversion from parquet to csv problem"

[2021-04-19 10:44] #41036 closed

[2021-04-19 10:45] #40992 closed

[2021-04-19 10:47] JavierRuano commented on #41036
Error

[2021-04-19 11:09] marquez85 opened #41037 "QST: SettingWithCopyWarning -->self.obj[item_labels[indexer[info_axis]]] = value issue"
Hello,

I am struggling in assigning new columns in my data frame, based on existing columns in the same data frame.

I keep getting this SettingWithCopyWarning that is driving me crazy:

_C:\ProgramData\Anaconda3\envs\PLAXIS_V20.3_python37\lib\site-packages\pandas\core\indexing.py:1596: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_i

[2021-04-19 11:20] normanius opened #41038 "ENH: Enable DataFrame.get(key) to return the index if key not found in columns"
## Problem

Sometimes, one would like to get a column regardless whether it was previously set as index.

Consider the following example:

[code]

In the above code `col` is set to `None`.

## Solution

I suggest to add an argument `include_index`, so that the following is possible:

[code]

It first checks the column names, and if not successful, continues searching the index names. It still retu

[2021-04-19 11:34] phofl commented on #41037
Hi, please provide something reproducible if you think this is a bug on the pandas side (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports). If this is just a UsageQuestion please ask them on stackoverflow

[2021-04-19 11:44] jreback commented on #41038
this is value dependent behavior and likely very confusing

-1 on any change

[2021-04-19 12:01] normanius commented on #41038
@jreback I see that the different possible return types are confusing. On the other hand, for the type of problem described above, it doesn't matter what type of array-like object is returned, doesn't it?

Or going one step back: What is the best way to handle queries involving both index and columns at the same time while addressing them by name?

I think the following creates too much overhead:

[2021-04-19 12:07] phofl commented on #41038
get_level_values can be used to retrieve the index values for example

[2021-04-19 12:15] panda-byte commented on #20883
Using pandas 1.2.4 with Python 3.9.2, it's still not possible to use [`Series.isin()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html) / [`DataFrame.isin()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) with unhashable types, which I don't think is to be expected from the documentation.

I think most people would expect

[2021-04-19 12:58] normanius commented on #41038
@phofl That's what I currently do, see `get_item()` above.

[2021-04-19 13:02] mlondschien commented on #40896
Related: https://github.com/JDASoftwareGroup/kartothek/issues/410

[2021-04-19 13:23] xhochy opened #41040 "BUG: Cannot construct StringArray from pyarrow.ChunkedArray with zero chunks"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-19 13:24] xhochy commented on #41040
take

[2021-04-19 13:51] #27506 closed

[2021-04-19 14:02] #40885 closed

[2021-04-19 14:39] lmcindewar commented on #38454
take

[2021-04-19 14:46] Gaerdy commented on #40333
I'm having the same issue on a project in a slightly different way.

I try to read a csv file without named columns like this :
[code]

[code]

I would expect to have a dataframe of one row and a warning for the second line of my file, like it does without the names option.

[2021-04-19 15:17] njriasan commented on #40333
Hi Gaerdy. I think the bug you are encountering is this issue: https://github.com/pandas-dev/pandas/issues/22144. I have an [open PR](https://github.com/pandas-dev/pandas/pull/40629), both that issue and this issue and it works on your example.

[2021-04-19 16:04] Gaerdy commented on #40333
Hi @njriasan, thanks for your reply. I've thought for a second it was working well with the `engine='python'` but... there is a but.
It is working fine **except** if the "to many columns" line is the first or the second one. Does your PR fixing this too ?

[2021-04-19 16:44] RagBlufThim opened #41044 "BUG: Inconsistend behaviour when assigning dict to df.loc"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The interpretation of the RHS_dict depends on the dtype of the dataframe assigned to:
Assigni

[2021-04-19 17:02] legitishan commented on #41032
I think you're trying to print `df1['dt'][0]`
[code]
Close this issue if you think this is right please :)

[2021-04-19 17:22] #40974 closed

[2021-04-19 18:19] ThomasBlauthQC commented on #40896
I opened a PR for the issue. #41046

[2021-04-19 19:00] MarcoGorelli commented on #41037
This is what the warning is warning you about - do you want the original dataframe to be modified? If so, you can set the new column there directly, and if not, then you can use `.copy` when creating `df_sampled`

Closing for now, will reopen if you address https://github.com/pandas-dev/pandas/issues/41037#issuecomment-822397948

[2021-04-19 19:00] #41037 closed

[2021-04-19 19:50] asishm-wk commented on #41044
Seems to be fixed on master.

[2021-04-19 23:28] phofl commented on #41044
Yes this works now. But tests would be good.

Dict support inside DataFrame columns is not that great

[2021-04-20 00:32] scottyhq opened #41047 "BUG: pd.to_datetime(infer_datetime_format=True) drops timezone"
- [X] I have checked that this issue has not already been reported.

- [X] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]
Output:
[code]

#### Problem description
Using infer_datetime_format=True drops the timezone info (UTC) if datestrings d

[2021-04-20 00:33] randomseed42 commented on #40936
Thank you 😄 @mzeitlin11 @joonlimeecs

[2021-04-20 00:33] #40936 closed

[2021-04-20 03:49] rhshadrach commented on #41031
What is the use-case for creating an excel workbook with zero visible sheets? (If such a thing could exist)

[2021-04-20 03:58] rhshadrach commented on #41031
The User Guide outsources this kind documentation to [xlsxwriter](https://xlsxwriter.readthedocs.io/working_with_pandas.html), which doesn't have an example of hiding sheets. Maybe it could be a useful add there.

[2021-04-20 04:00] Alex-Muirhead commented on #35934
@jorisvandenbossche Would it also be considered a bug that passing `format` creates an inconsistent result when looking at times? I wasn't sure if this issue counts as it already being reported.
[code]
That it defaults to the current date can be quite frustrating when comparing the equality of stored times (i.e. two stored datasets were created on different dates). A consistent behaviour could be

[2021-04-20 04:03] rhshadrach commented on #41021
+1 Accepting a label or list is done in many places.

[2021-04-20 04:10] chrisjdixon commented on #41031
I can't think of any. Excel stops you from hiding the only visible sheet, openpyxl won't let you save without at least one visible sheet, and as @jmcnamara points out no visible tabs means a corrupt xlsx. I only mentioned it as I thought it might be relevant for technical considerations I wouldn't understand.

Agreed that this looks like a nice add to xlsxwriter documentation. I didn't know that `

[2021-04-20 04:18] chinmayrane commented on #40808
take

[2021-04-20 04:26] #40972 closed

[2021-04-20 04:35] rhshadrach commented on #41016
-1 as well, I think of combining frames and sorting the index/values are two different operations, it would involve too much complexity combining both into one.

[2021-04-20 04:43] rhshadrach commented on #40997
Looks like you need a more recent version of gcc:

https://git.openwrt.org/?p=openwrt/openwrt.git;a=commit;h=bd4d3cd1017feb469efa3112d2f92408a420be35

[2021-04-20 04:51] legitishan commented on #41047
[https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html](url)
Towards the end of the page, it mentions "Passing infer_datetime_format=True can often-times speedup a parsing if its not an ISO8601 format exactly, but in a regular format."
I don't know if this information helps or not, I'm new to open source in general :)

[2021-04-20 05:32] mroeschke commented on #11282
While we do want to fix errors on various platforms the biggest challenge is finding a CI providers that support various architectures. Additionally, these test examples appear to have run on fairly old versions of pandas.

Due to these issues and the inactivity going to close. Happy to reopen if someone could confirm these issues persist on master

[2021-04-20 05:32] #11282 closed

[2021-04-20 05:41] mroeschke commented on #11389
It appears this issue might have been solved due to https://github.com/pandas-dev/pandas/pull/34514.

Going to close, but happy to reopen this issue if this issue still persists

[2021-04-20 05:41] #11389 closed

[2021-04-20 05:48] mroeschke opened #41050 "WEB: Remove https://pandas-docs.github.io/pandas-docs-travis/ ?"
https://pandas-docs.github.io/pandas-docs-travis/ looks to be stuck on a 0.25 develop branch. Is there any reason to keep it around when we also have https://pandas.pydata.org/pandas-docs/stable/index.html?

[2021-04-20 05:50] mroeschke commented on #11407
It appears `index` and `axis` appear in the API reference now with (brief) docstrings:

https://pandas.pydata.org/pandas-docs/stable/reference/series.html
https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

I think this issue can be sufficiently closed

[2021-04-20 05:50] #11407 closed

[2021-04-20 05:54] mroeschke commented on #11415
It appears that this issue may have been solved as the `to_sql` docstring now states

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_sql.html

Going to close but can reopen if additional clarification is needed

[2021-04-20 05:54] #11415 closed

[2021-04-20 06:00] mroeschke commented on #11479
The last case appears to work now

[code]

[2021-04-20 06:27] jorisvandenbossche commented on #41050
The equivalent is now https://pandas.pydata.org/pandas-docs/dev/index.html? ("dev" and not "stable", the pandas-docs github pages were previously used to host the latest master docs)
But indeed, now we have the dev docs on the main pandas.pydata.org website, we should retire/remove those old github pages.

Would it be useful to first still have a redirect? (I don't know how many links are out ther

[2021-04-20 06:32] jorisvandenbossche commented on #41040
Good catch! I think in principle we simply shouldn't check the number of unique dtypes (but if this function is called, assume this is the case), or otherwise easy to change the check from `len(dtypes) != 1` to `len(dtypes) > 1`

[2021-04-20 06:44] jorisvandenbossche commented on #41023
Thanks for the report!

In this case, pandas should probably just convert to dense before writing to CSV itself.
But doing a quick profile of the `to_csv` with a sparse dataframe, also highlights some other aspects that are slow right now and might be worth optimizing as well, regardless of `to_csv`:

* Slicing rows of a DataFrame with sparse columns (this takes ca 40% of `sparse_pd.to_csv(..)`, b

[2021-04-20 06:49] qiuwei commented on #23735
![image](https://user-images.githubusercontent.com/1304505/115350285-7fe28100-a1e7-11eb-8b6d-f84b172f31bb.png)

I did some preliminary profiling.
It seems most time is wasted in the type conversion.

[2021-04-20 07:12] qiuwei commented on #34531
Also related to https://github.com/pandas-dev/pandas/issues/23735

[2021-04-20 07:13] qiuwei commented on #34531
@jreback
is there any way to get around this for `reindex` as well?
Thanks in advance!

[2021-04-20 07:32] jorisvandenbossche commented on #40935
Let's leave possible read-only / copy-on-write optimizations for later. The fact that it right now doesn't return a copy is simply a bug. Modifying the resulting array shouldn't modify the original.

BTW another question here is whether `isna()` shouldn't rather return a nullable boolean array instead of a numpy array (I know that the result of `isna()` will never have missing elements by definiti

[2021-04-20 07:35] legitishan commented on #40948
Hey, I'd like to take this on

[2021-04-20 08:17] shaoyucheng commented on #23735
I met the same problem,  even in the newest version, look forward to a official improvement.

[2021-04-20 08:29] JavierRuano commented on #41044
import pandas as pd

dfo = pd.DataFrame({"A": ["abc", "def"], "B": ["ghi", "jkl"]}, dtype="object")
dfs = pd.DataFrame({"A": ["abc", "def"], "B": ["ghi", "jkl"]}, dtype="string")
**dfo=dfo.convert_dtypes(infer_objects=True)**
dfo.loc[0, :] = {"A": "newA", "B": "newB"}
dfs.loc[0, :] = {"A": "newA", "B": "newB"}

print(dfo)
# Output:
#       A     B
# 0  A  B
# 1   def   jkl

print(dfs)
# Output:
#

[2021-04-20 09:00] melkonyan commented on #41023
Hi, thanks for reply.

I've conducted more tests, seems like slowdown grows as the dataframe gets bigger (I got ~ 15x slowdown for 1M elements, ~26x for 4M  and ~60x for 16M). That's very surprising. It's also surprising that slowdown doesn't seem to be affected by density (ratio of non-zero elements), at least in my tests. Something must be wrong in the serialization algorithm.

In regard to conv

[2021-04-20 10:33] MrToustous opened #41053 "BUG: Inconsistent handling of empty windows for rolling mean with min_periods=0"
- [x ] I have checked that this issue has not already been reported.

- [x ] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to rep

[2021-04-20 10:48] jreback commented on #23735
@shaoyucheng you are welcome to submit a patch

[2021-04-20 10:51] jreback commented on #34531
@qiuwei it would be helpful to look into actually what is happening and propose a patch

[2021-04-20 10:54] jreback commented on #41016
this request is similar to the join_axes argument which was deprecated and removed

this is easily accomplished by a reindex

[2021-04-20 10:54] #41016 closed

[2021-04-20 12:52] #40935 closed

[2021-04-20 13:01] parthacx commented on #14616
Nearly 5 years after closing this short-lived ticket, let me add my observation that `filter` does not have the friendly `inplace=True` or `errors='ignore'` options-- which makes the `drop` method very very flexible and robust.  So, I feel @jakesherman 's proposal of a `.keep_columns` kind-of method on a DataFrame _does_ make sense, and may be reconsidered.

As regards @TomAugspurger 's comments:

[2021-04-20 13:56] ptoru001 opened #41054 "QST:hello all...i have a csv of about six years of records...the dates through out all years are a mess because of many different users throughout the years....would someone kindly help to transform all dates into one single format...your contribution will be greatkly appreciated since it is biomedical research"
- [x] I have searched the [[pandas] tag](https://stackoverflow.com/questions/tagged/pandas) on StackOverflow for similar questions.

- [x] I have asked my usage related question on [StackOverflow](https://stackoverflow.com).

---

#### Question about pandas

**Note**: If you'd still like to submit a question, please read [this guide](
https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-rep

[2021-04-20 13:58] ptoru001 commented on #41054
pdx['date'] = pd.to_datetime(pdx['date'], format=('Y-%d-%m')) throws value error...and this is what the csv looks like
![Screen Shot 2021-04-20 at 9 58 07 AM](https://user-images.githubusercontent.com/63522254/115408514-ea32fb80-a1be-11eb-8c23-cf744041ad93.png)

[2021-04-20 14:08] haleemur opened #41055 "BUG: Clipboard does not work on wsl2 Ubuntu 20.04"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [x] (optional) I have confirmed this bug exists on the master branch of pandas.

---

**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to repro

[2021-04-20 14:11] giacomomarchioro commented on #29813
Hello, I am also experiencing this critical bug. The behaviour change if I run `df.replace({'value': {0:"/"}},inplace=True) ` in the terminal or if I run the same command in a script.  In the first case, it works inside the script it doesn't.

[2021-04-20 14:22] phofl commented on #41054
Hi, if you think the ValueError is a bug on the pandas side, please provide a reproducible and minimal example (see https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports). If this is a simple usage question then please ask the on stackoverflow.

You can look into the date_parser argument here https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

[2021-04-20 14:35] phofl commented on #41054
Please provide something reproducible

[2021-04-20 14:40] phofl commented on #41054
Going from your error message:

[code]

Switch m and d and it works

[2021-04-20 14:47] jmcnamara commented on #41031
That is fair enough. :-)

It does have an example of hiding sheets: https://xlsxwriter.readthedocs.io/example_hide_sheet.html

That isn't referenced in the Pandas section of the docs but not every feature is documented from a Pandas point of view. The [Working with Python Pandas and XlsxWriter](https://xlsxwriter.readthedocs.io/working_with_pandas.html) section of the docs mainly shows how to move

[2021-04-20 14:48] phofl commented on #41054
Closing as this is a UsageQuestion. Please ask them on stackoverflow

[2021-04-20 14:48] #41054 closed

[2021-04-20 14:48] phofl commented on #41054
Please ping to reopen if you find a bug in the way to_datetime operates

[2021-04-20 17:18] taytzehao commented on #40921
I will be adding a max & min method pandas\core\arrays\sparse\array.py in the sparsearray class

[2021-04-20 17:40] fangchenli commented on #41055
It works on my wsl. I have

[code]

[2021-04-20 17:58] jbrockmendel commented on #41055
are you working on a headless system?

[2021-04-20 18:02] xmatthias commented on #40917
Any chance of having #40505 backported to 1.2.5?

it's fixing a regression that ocured between 1.1.5 and 1.2.0, so i think this should be considered for a backport.

[2021-04-20 19:20] RagBlufThim opened #41060 "BUG: Conversion of Series dtype from object to Int16 etc. fails"
- [x] I have checked that this issue has not already been reported.

- [x] I have confirmed this bug exists on the latest version of pandas.

- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.

---

#### Code Sample, a copy-pastable example

[code]

#### Problem description

The conversion of an object-series with some text in it to one of the nullable integer dtypes

[2021-04-20 19:59] phofl commented on #40943
Closing as this is expected

[2021-04-20 19:59] #40943 closed

[2021-04-20 20:11] jorisvandenbossche commented on #40932
That's indeed a good possibility for the implementation, since we need of course *some* way to share code (whether it's with composition like this, or with both separately calling shared functions, or ..).
But for me, that's more of an implementation "detail", which doesn't make any other aspect of the proposal irrelevant (e.g. the nullable semantics, new dtype class for both tz-naive/aware dat, e

[2021-04-20 20:13] mroeschke commented on #41050
Thanks for the clarification. A redirect would be user friendly I suppose but I would be +1 for just removing this repo and link outright.

[2021-04-20 20:27] phofl commented on #41053
Actually I am getting not NaN for sum.

[code]

[2021-04-20 20:30] phofl commented on #41053
@mroeschke  Can you help here? Is NaN correct with min_periods=0?